<table class="table table-sm">
  <thead>
    <tr>
      <th>Fuel Type</th>
      <th>Alert Type</th>
      <th>Displayable?</th>
      <th>Rating</th>
      <th>Valid?</th>
      <th>Enough data?</th>
      <th>Relevant?</th>
      <th>Alert Date</th>
      <th>Created At</th>
      <th>Emails sent</th>
      <th>SMS sent</th>
    </tr>
  </thead>
  <tbody>
    <% alerts.each do |alert| %>
      <tr scope="row">
        <td><%= fa_icon(alert_icon(alert)) %> <%= alert.display_fuel_type %></td>
        <td><%= link_to alert.title, school_alert_path(school, alert) %></td>
        <td class="text-white <%= class_for_boolean(alert.displayable) %>"><%= y_n alert.displayable %></td>
        <td><%= alert.formatted_rating %></td>
        <td><%= y_n alert.analytics_valid %></td>
        <td><%= alert.enough_data %></td>
        <td><%= alert.relevance %></td>
        <td><%= nice_dates alert.run_on %></td>
        <td><%= nice_date_times alert.created_at %></td>
        <td><%= link_to(alert.alert_subscription_events.sent.email.count, school_alert_subscription_events_path(@school)) %></td>
        <td><%= link_to(alert.alert_subscription_events.sent.sms.count, school_alert_subscription_events_path(@school)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
