<table class="table table-sm">
  <thead>
    <tr>
      <th>Fuel Type</th>
      <th>Alert Type</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Alert Date</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% alerts.sort_by { |a| [a.alert_type, a.run_on] }.reverse.each do |alert| %>
      <tr scope="row">
        <td><%= fa_icon(alert_icon(alert)) %> <%= alert.display_fuel_type %></td>
        <td><%= link_to alert.title, school_alert_path(school, alert) %></td>
        <td class="text-white <%= class_for_alert_rating(alert.data['rating']) %>"><%= alert.status %></td>
        <td class="text-white <%= class_for_alert_rating(alert.data['rating']) %>"><%= alert.rating %></td>
        <td><%= nice_dates alert.run_on %></td>
        <td><%= nice_date_times alert.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>