<table class="table table-sm">
  <thead>
    <tr>
      <th>Fuel Type</th>
      <th>Alert Type</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Alert Date</th>
      <th>Created At</th>
      <th>Emails pending</th>
      <th>Emails sent</th>
      <th>SMS pending</th>
      <th>SMS sent</th>
    </tr>
  </thead>
  <tbody>
    <% alerts.each do |alert| %>
      <tr scope="row">
        <td><%= fa_icon(alert_icon(alert)) %> <%= alert.display_fuel_type %></td>
        <td><%= link_to alert.title, school_alert_path(school, alert) %></td>
        <td class="text-white <%= class_for_alert_rating(alert.data['rating']) %>"><%= alert.status %></td>
        <td class="text-white <%= class_for_alert_rating(alert.data['rating']) %>"><%= alert.rating %></td>
        <td><%= nice_dates alert.run_on %></td>
        <td><%= nice_date_times alert.created_at %></td>
        <td><%= link_to(alert.alert_subscription_events.pending.email.count, school_alert_subscription_events_path(@school)) %></td>
        <td><%= link_to(alert.alert_subscription_events.sent.email.count, school_alert_subscription_events_path(@school)) %></td>
        <td><%= link_to(alert.alert_subscription_events.pending.sms.count, school_alert_subscription_events_path(@school)) %></td>
        <td><%= link_to(alert.alert_subscription_events.sent.sms.count, school_alert_subscription_events_path(@school)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
