<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Alert reports" do %>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Successful alerts</th>
      <th>Errors</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @alert_generation_runs.each do |run| %>
      <tr>
        <td><%= nice_date_times(run.created_at) %></td>
        <td><%= run.alerts.count %></td>
        <td><%= run.alert_errors.count %></td>
        <td><%= link_to 'View', school_alert_report_path(@school, run), class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
