<% content_for :page_title do %>Alert reports for <%= @school.name %><% end %>
<div class="row padded-row">
  <div class="col-md-12">
    <h1 property="name"><%= link_to @school.name, @school %> Alert notifications</h1>
    <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %>
    <%= link_to 'Alerts for this school', school_alert_subscriptions_path(@school), class: 'btn btn-secondary' %></p>
    </div>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Fuel Type</th>
      <th>Alert Type</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Run On</th>
      <th>Created At</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="6">Termly alerts</th>
    </tr>
  </thead>
  <tbody>
    <% if @termly_alerts.any? %>
      <% @termly_alerts.each do |alert| %>
        <tr scope="row">
          <td><%= fa_icon alert_icon(alert) %> <%= alert.alert_type.fuel_type.humanize %></td>
          <td><%= alert.title %></td>
          <td class="text-white <%= class_for_alert_rating(alert.data['rating']) %>"><%= alert.status %></td>
          <td><%= alert.rating %></td>
          <td><%= nice_dates alert.run_on %></td>
          <td><%= nice_date_times alert.created_at %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">No termly alerts </td>
      </tr>
    <% end %>
    <% if @weekly_alerts.any? %>
      <% @weekly_alerts.each do |alert| %>
        <tr scope="row">
          <td><%= fa_icon alert_icon(alert) %> <%= alert.alert_type.fuel_type.humanize %></td>
          <td><%= alert.title %></td>
          <td class="text-white <%= class_for_alert_rating(alert.data['rating']) %>"><%= alert.status %></td>
          <td><%= alert.rating %></td>
          <td><%= nice_dates alert.run_on %></td>
          <td><%= nice_date_times alert.created_at %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">No weekly alerts </td>
      </tr>
    <% end %>
  </tbody>
</table>