<% content_for :page_title do %>Alert reports for <%= @school.name %><% end %>
<div class="row padded-row">
  <div class="col-md-12">
    <h1 property="name"><%= link_to @school.name, @school %> Alert notifications</h1>
    <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %></p>
  </div>
</div>

<h1>Alert runs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Successful alerts</th>
      <th>Errors</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @alert_generation_runs.each do |run| %>
      <tr>
        <td><%= nice_date_times(run.created_at) %></td>
        <td><%= run.alerts.count %></td>
        <td><%= run.alert_errors.count %></td>
        <td><%= link_to 'View', school_alert_report_path(@school, run), class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
