<h1>Schools awaiting activation</h1>

<p>
  This page lists all schools which are not yet visible on the system. It includes those that were
  manually setup and those created via the usual onboarding route.
</p>

<p>
 Each table provides a summary of the setup status with access to the key management pages. Click on the school name to view their dashboard and the school management menu.
</p>

<% if @school_groups.any? %>
  <% @school_groups.each do |school_group| %>

  <div class="row">
    <div class="col">
      <h2><%= school_group.name %></h2>
      <table class="table table-sorted table-sm table-activations">
        <thead>
          <tr>
            <th class="name">School name</th>
            <th class="completed">Onboarding completed</th>
            <th class="meters">Meters</th>
            <th class="review">Awaiting meter review?</th>
            <th class="processing">Processing?</th>
            <th class="enabled">Enabled?</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% school_group.schools.not_visible.by_name.each do |school| %>
            <tr>
              <td><%= link_to school.name, school_path(school) %></td>
              <td>
                  <% if school.school_onboarding.present? %>
                    <%= nice_dates(school.school_onboarding.completed_on) %>
                  <% else %>
                    N/A
                  <% end %>
              </td>
              <td><%= school.meters.count %></td>
              <td>
                <%= y_n(school.meters.unreviewed_dcc_meter.any?) %>
                <% if school.meters.unreviewed_dcc_meter.any? %>
                 <%= link_to "(view)", admin_meter_reviews_path %>
                <% end %>
              </td>
              <td><%= y_n(school.process_data) %></td>
              <td><%= y_n(school.data_enabled) %></td>
              <td>
                <div class="btn-group">
                  <%= link_to 'Edit details', edit_school_path(school), class: "btn btn-sm" %>
                  <%= link_to 'Meters', school_meters_path(school), class: "btn btn-sm" %>
                  <%= link_to 'Users', school_users_path(school), class: "btn btn-sm" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <% end %>
<% else %>
  <p>There are no schools currently awaiting activation</p>
<% end %>
