<div
  id="<%= @id %>"
  class="school-group-comparison-component-callout-row row mt-4">
  <% SchoolGroupComparisonComponent::CATEGORIES.each do |category| %>
    <div class="col-md-4 justify-content-center <%=category%> d-flex">
        <div class="school-group-comparison-component-callout-box">
          <div class="body m-2">
            <% count = @comparison[category]&.size || 0 %>
            <% label = t('school_count', count: count).split(' ') %>
            <h2>
              <% if count.positive? %>
                <a href='#' data-toggle="modal" data-target="#<%= @advice_page_key.to_s.camelize + category.to_s.camelize %>ModalCenter">
                  <%= label.first %>
                </a>
              <% else %>
                <%= label.first %>
              <% end %>
            </h2>
            <h3><%= label.last.capitalize %></h3>

            <div class="modal fade" id="<%= @advice_page_key.to_s.camelize + category.to_s.camelize %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= category.to_s.camelize %>ModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header ">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= t("advice_pages.benchmarks.#{category}") %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <% @comparison[category]&.each do |school| %>
                      <div class="row">
                        <div class="col-auto mr-auto"><%= link_to school['school_name'], school_path(id: school['school_slug']) %></div>
                        <div class="col-auto">
                          <%= link_to t('school_groups.priority_actions.view_analysis'), advice_page_path_for(school['school_slug']) %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>

<div class="school-group-comparison-component-footer-row row">
  <div class="col-md-4 justify-content-center d-flex">
    <div>
      <h4 class="category-label">
        <%= t('advice_pages.benchmarks.exemplar_school') %>
      </h4>
    </div>
  </div>
  <div class="col-md-4 justify-content-center d-flex">
    <div>
      <h4 class="category-label">
        <%= t('advice_pages.benchmarks.benchmark_school') %>
      </h4>
    </div>
  </div>
  <div class="col-md-4 justify-content-center d-flex">
    <div>
      <h4 class="category-label">
        <%= t('advice_pages.benchmarks.other_school') %>
      </h4>
    </div>
  </div>
</div>
