<%= tag.div id: id, class: class_names(classes, 'row') do %>
  <div id="dashboard-header-welcome" class="col-12 col-md-8 col-xl-9">
    <div class="row">
      <div class="col">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <%= intro if intro %>
        </p>
      </div>
    </div>
  </div>
  <% if show_school? %>
    <div class="col-12 col-md-4 col-xl-3">
      <div id="dashboard-header-school" class="px-3 py-2 rounded">
        <div class="row">
          <div class="col">
            <h4><%= school.name %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= school.address %> <%= school.postcode %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="badge badge-secondary"><%= t("common.school_types.#{school.school_type}") %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
