<table class="table table-sorted">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>Title</th>
      <th>Fuel</th>
      <th class="nowrap">Created by</th>
      <th class="nowrap">Assigned to</th>
      <th>Status</th>
      <th>Updated</th>
      <th class="nowrap">Next review</th>
      <th class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% issues.by_priority_order.each do |issue| %>
      <tr class="bg-light admin-issue">
        <td class="fit issue-type <%= issue.issue_type %>"><%= issue_type_icon(issue.issue_type, 1) %></td>
        <td width="100%" class="overflow" data-order="<%= issue.issueable&.name %>">
          <%= render 'admin/issues/pinned', issue: issue %>
          <span title="<%= issue.title %>" data-toggle="tooltip">
            <%= link_to issue.title, polymorphic_path([:admin, issue.issueable, issue]) %>
          </span><br>
          <%= render 'admin/issues/issueable', issueable: issue.try(:issueable) %>
          <%= render 'admin/issues/meters', issue: issue %>
        </td>
        <td class="fit"><%= render 'admin/issues/fuel_type', issue: issue %></td>
        <td class="fit"><%= render 'admin/issues/created_by', issue: issue %></td>
        <td class="fit"><%= render 'admin/issues/owned_by', issue: issue %></td>
        <td class="fit"><%= render 'admin/issues/status', issue: issue %></td>

        <td class="fit" data-order="<%= issue.updated_at %>">
          <div class="badge rounded-pill bg-white text-dark fw-normal nowrap">
            <%= nice_date_times_today(issue.updated_at) %>
          </div>
        </td>
        <td class="fit text-start" data-order="<%= issue.review_date %>">
          <%= review_date_badge(issue, label: false, classes: 'pl-2') %>
        </td>
        <td class="fit nowrap text-end">
          <%= link_to 'Edit', edit_polymorphic_path([:admin, @issueable, issue], redirect_back: request.fullpath), class: 'btn btn-secondary btn-sm edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
