<table class="table table-sorted" style="width: 100%">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>Title</th>
      <th class="nowrap">Assigned to</th>
      <th>Status</th>
      <th>Updated</th>
      <th class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% issues.by_priority_order.each do |issue| %>
      <tr class="bg-light admin-issue">
        <td class="<%= issue.issue_type %>"><%= issue_type_icon(issue.issue_type) %></td>
        <td class="nowrap"><%= issue.title %> <%= render 'admin/issues/pinned', issue: issue %>
        <% if show_issueable %>
          <br /><%= render 'admin/issues/issueable', issue: issue %>
        <% end %>
        <%= render 'admin/issues/fuel_type', issue: issue %>
        </td>
        <td><%= render 'admin/issues/owned_by', issue: issue %></td>
        <td><%= render 'admin/issues/status', issue: issue %></td>
        <td data-order="<%= issue.updated_at %>"><div class="badge badge-pill bg-white text-dark font-weight-normal nowrap"><%= nice_date_times_today(issue.updated_at) %></div></td>
        <td class="nowrap text-right">
          <%= link_to 'View', polymorphic_path([:admin, issue.issueable, issue]), class: "btn btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
