<div class="row p-2">
  <div class="admin-issue col-md-12 bg-light border-left rounded border-6 <%= issue.issue? ? "border-danger" : "border-warning" %>">
    <h4>
      <%= issue_type_icon(issue) %> <%= issue.title %>
      <div class="float-right">
        <small>
          <%= render 'owned_by', issue: issue %>
          <%= nice_date_times_today(issue.updated_at) %>
          <%= fa_icon('thumbtack text-secondary') if issue.pinned? %>
        </small>
      </div>
    </h4>
    <div class="clearfix">
      <span class="badge <%= issue.issue? ? "badge-danger" : "badge-warning" %>"><%= issue.issue_type.capitalize %></span>
      <% unless @issueable %>
        <%= render 'issueable', issue: issue %>
      <% end %>
      <%= render 'fuel_type', issue: issue %>
      <%= render 'status', issue: issue %>
      <span class='float-right'>
          <%= link_to 'Resolve', admin_issue_resolve_path(issue), method: :post, class: 'btn btn-info btn-sm' if issue.resolvable? %>
        <% if index %>
          <%= link_to 'View', admin_issue_path(issue), class: 'btn btn-info btn-sm' %>
        <% end %>
        <%= link_to 'Edit', edit_admin_issue_path(issue), class: 'btn btn-info btn-sm' %>
        <%= link_to 'Delete', admin_issue_path(issue), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </span>
    </div>
    <div class="bg-white p-2 my-2"><%= issue.description %></div>
    <div class="pb-2">
      <div class="badge badge-pill bg-white text-dark font-weight-normal">Created • <%= issue.created_by.display_name %> • <%= nice_date_times_today(issue.created_at) %></div>
      <div class="badge badge-pill bg-white text-dark font-weight-normal">Updated • <%= issue.updated_by.display_name %> • <%= nice_date_times_today(issue.updated_at) %></div>
    </div>
  </div>
</div>
