<%= render 'header', title: issueable_icon(@issueable).html_safe + ' ' + (@issueable.try(:name) || ' All') + " Issues & Notes" do %>
  <% if @issueable %>
    <% school_group = @issueable.try(:school_group) || @issueable %>
    <%= header_nav_link "#{school_group.name} school group", admin_school_group_path(school_group) %>
  <% end %>
<% end %>

<% if @issueable %>
  <%= render 'new_issues_links', issueable: @issueable %>
<% end %>

<% if @issues.any? %>
  <div class="container">
  <% @issues.each do |issue| %>
    <%= render 'issue', issue: issue, single: false, issueable: @issueable %>
  <% end %>
  </div>
  <%= render "shared/pagy_footer" %>
<% else %>
  <p>No issues or notes to display.</p>
<% end %>

