<%= tag.div id: id, class: classes do %>
  <table id="<%= @table_id %>" class="table table-sorted table-sm advice-table">
    <thead>
      <tr>
        <th></th>
        <th colspan="2"><%= @labels[:first] %></th>
        <% if @second_range.present? %>
          <th colspan="2"><%= @labels[:second] %></th>
        <% end %>
        <th></th>
      </tr>
      <tr>
        <th>School</th>
        <th>Licensed?</th>
        <th>Funder</th>
        <% if @second_range.present? %>
          <th>Licensed?</th>
          <th>Funder</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
    </tbody>
  </table>
<% end %>
