<tr id='<%= @id %>'>
  <td>
    <%= link_to school.name, school_path(school) %>
  </td>
  <td>
    <%= helpers.checkmark(school.currently_licenced?) %>
  </td>
  <td>
    <%= school.current_licence&.contract&.contract_holder&.name %>
  </td>
  <td>
    <%= school.default_contract_holder&.name || school.name %>
  </td>
  <td>
    <% licenced_for = school.licenced_for_period(date_range) %>
    <%= render(Elements::BadgeComponent.new(licenced_for.to_s.humanize,
                                            pill: true,
                                            colour: period_badge_colour(licenced_for))) %>
  </td>
  <td>
    <% buttons.each do |button| %>
      <%= button %>
    <% end %>
  </td>
</tr>
