<%= render 'schools/advice/section_title',
           section_id: 'recent-trend',
           section_title: t('advice_pages.electricity_long_term.analysis.recent_trend.title') %>

<% if analysis_dates.one_years_data? %>
  <% if annual_usage.kwh < vs_exemplar.kwh %>
    <%= render PromptComponent.new(icon: :fire, fuel_type: :gas, status: :positive) do %>
      <p><%= t("advice_pages.#{fuel_type}_long_term.analysis.comparison.assessment.low.title") %></p>
      <p><%= t("advice_pages.#{fuel_type}_long_term.analysis.comparison.assessment.low.percent_html",
               percent: format_unit(estimated_savings_vs_exemplar.percent.abs, :percent)) %></p>
    <% end %>
  <% else %>
    <%= render PromptComponent.new(icon: :fire, fuel_type: :gas, status: :negative) do %>
      <p><%= t("advice_pages.#{fuel_type}_long_term.analysis.comparison.assessment.high.title") %></p>
      <p><%= t("advice_pages.#{fuel_type}_long_term.analysis.comparison.assessment.high.percent_html",
               percent: format_unit(estimated_savings_vs_exemplar.percent, :percent)) %></p>
      <p><%= t("advice_pages.#{fuel_type}_long_term.analysis.comparison.assessment.high.savings_html",
               estimated_savings_kwh: format_unit(estimated_savings_vs_exemplar.kwh, :kwh, false),
               estimated_savings_gbp: format_unit(estimated_savings_vs_exemplar.£, :£, false)) %></p>
    <% end %>
  <% end %>

  <%# i18n-tasks-use t('advice_pages.electricity_long_term.charts.group_by_week_electricity.subtitle_html') %>
  <%# i18n-tasks-use t('advice_pages.gas_long_term.charts.group_by_week_gas.subtitle_html') %>
  <%= render MeterSelectionChartComponent.new(
        chart_type: :"group_by_week_#{fuel_type}",
        meter_selection: meter_selection,
        chart_subtitle_key:
          "advice_pages.#{fuel_type}_long_term.charts.group_by_week_#{fuel_type}.subtitle_html"
      ) do |c| %>
    <% c.with_title { t("advice_pages.#{fuel_type}_long_term.charts.group_by_week_#{fuel_type}.title") } %>
    <% c.with_footer do %>
      <p><%= t("advice_pages.#{fuel_type}_long_term.charts.group_by_week_#{fuel_type}.explanation_html") %></p>
    <% end %>
  <% end %>
<% else %>
  <%# i18n-tasks-use t('advice_pages.electricity_long_term.charts.group_by_week_electricity.subtitle_html') %>
  <%# i18n-tasks-use t('advice_pages.gas_long_term.charts.group_by_week_gas.subtitle_html') %>
  <% chart_type = :"management_dashboard_group_by_week_#{fuel_type}" %>
  <%= render MeterSelectionChartComponent.new(
        chart_type: chart_type,
        meter_selection: meter_selection,
        chart_subtitle_key:
          "advice_pages.#{fuel_type}_long_term.charts.group_by_week_#{fuel_type}.subtitle_html",
        chart_config: { y_axis_units: select_y_axis(school, chart_type, :£) }
      ) do |c| %>
      <% c.with_title { t("advice_pages.#{fuel_type}_out_of_hours.analysis.holiday_usage.#{chart_type}.title") } %>
      <% c.with_footer do %>
        <p><%= t("advice_pages.#{fuel_type}_long_term.charts.group_by_week_#{fuel_type}.explanation_html") %></p>
      <% end %>
  <% end %>
<% end %>

<%= render 'consumption_by_month', fuel_type: %>
