<h1 class="mb-3"><%= t('consent_grant_mailer.email_consent.description') %></h1>

<p>
  <%= t('consent_grant_mailer.email_consent.message_1', school_name: @consent_grant.school.name) %>.
</p>

<p>
  <%= t('consent_grant_mailer.email_consent.message_2') %>:
</p>

<blockquote class="card bg-light">
  <div class="card-body">
    <%= @consent_grant.consent_statement.content %>
  </div>
</blockquote>

<p>
  <%= t('consent_grant_mailer.email_consent.footer_html', terms_and_conditions_link: link_to(t('common.terms_and_conditions'), terms_and_conditions_url)) %>
</p>
