<ul class="nav nav-tabs" id="targets-overview" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id='cumulative-progress-tab' data-toggle="tab" href="#cumulative-progress-<%= fuel_type.to_s %>" role="tab" aria-controls="cumulative-progress-<%= fuel_type.to_s %>" aria-selected="true"><%= t('schools.school_targets.progress.charts.cumulative_progress') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id='to-date-progress-tab' data-toggle="tab" href="#to-date-progress-<%= fuel_type.to_s %>" role="tab" aria-controls="to-date-progress-<%= fuel_type.to_s %>" aria-selected="true"><%= t('schools.school_targets.progress.charts.weekly_progress') %></a>
  </li>
  <% if !@progress.partial_target_data? %>
    <li class="nav-item">
      <a class="nav-link" id='year-to-date-progress-tab' data-toggle="tab" href="#year-to-date-progress-<%= fuel_type.to_s %>" role="tab" aria-controls="to-date-progress-<%= fuel_type.to_s %>" aria-selected="true"><%= t('schools.school_targets.progress.charts.weekly_progress_to_date') %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="targets-overview-tabs">
  <div class="tab-pane fade show active" id="cumulative-progress-<%= fuel_type.to_s %>" role="tabpanel" aria-labelledby="cumulative-progress-tab">
    <%= render ChartComponent.new(
          chart_type: "targeting_and_tracking_weekly_#{fuel_type}_to_date_cumulative_line".to_sym, school: @school
        ) %>
  </div>
  <div class="tab-pane fade show" id="to-date-progress-<%= fuel_type.to_s %>" role="tabpanel" aria-labelledby="to-date-progress-tab">
    <%= render ChartComponent.new(chart_type: "targeting_and_tracking_weekly_#{fuel_type}_to_date_line".to_sym,
                                  school: @school) %>
  </div>
  <% if !@progress.partial_target_data? %>
    <div class="tab-pane fade show" id="year-to-date-progress-<%= fuel_type.to_s %>" role="tabpanel" aria-labelledby="year-to-date-progress-tab">
      <%= render ChartComponent.new(chart_type: "targeting_and_tracking_weekly_#{fuel_type}_one_year_line".to_sym,
                                    school: @school) %>
    </div>
  <% end %>
</div>
