<h5 class="font-weight-bold"><%= t('schools.school_targets.progress.footnotes.title') %></h5>

<div class="ml-2">
  <% if show_storage_heater_notes %>
    <p>
      This report only shows progress on reducing your electricity usage. Your <%= link_to 'storage heater progress report', storage_heater_school_school_target_progress_index_path(school_target.school, school_target) %> can be viewed separately.
    </p>
  <% end %>

  <p>
  We use colour coding to indicate when you have <span class="bg-positive-dark">met your target</span> or <span class="bg-negative-dark">failed to meet your target</span> in a given month.
  </p>

  <% if progress.partial_consumption_data? %>
    <p>Consumption data <span class="partial-month">shown in red</span> indicates a month in which we have only partial data. Your consumption and performance figures will not be accurate until the end of the month. Or until we receive additional historical data.</p>
  <% end %>

  <% if progress.reporting_period_before_consumption_data? %>
    <% if school_target.school.configuration.meter_start_date(fuel_type).present? %>
      <p>We only have data on your <%= human_fuel_type(fuel_type, include_storage_heaters: true) %> consumption from <%= school_target.school.configuration.meter_start_date(fuel_type).strftime("%b %Y") %>. The report will only show your consumption for a portion of your target period.</p>
    <% else %>
      <p>We only have limited data on your actual <%= human_fuel_type(fuel_type, include_storage_heaters: true) %> consumption. The report will only show your consumption for a portion of your target period.</p>
    <% end %>
  <% end %>

  <% if progress.targets_derived_from_synthetic_data? %>
    <p>
      Monthly targets <i>shown in italics</i> have been created from the <%= link_to 'annual estimate', school_estimated_annual_consumptions_path(school_target.school) %> you provided, rather than your historical data. Their accuracy will depend on the quality of your estimate.
    </p>
  <% end %>

  <% if progress.partial_target_data? %>
    <p>
      We only have limited historical consumption data for your school, so we cannot currently calculate a full set of monthly targets or progress.
      You can <%= link_to 'provide us with an annual estimate', school_estimated_annual_consumptions_path(school_target.school) %> to see more detail.
    </p>
  <% end %>

  <% if school_target.expired? %>
    <p>
      The values in the table above are a snapshot of your usage data taken on
      <%= nice_dates(school_target.report_last_generated) %>. Any later updates to your
      school configuration or data will not be reflected in these historical results.
    </p>
  <% end %>

</div>
