<div class="d-flex justify-content-between align-items-center">
  <h1>Data preview</h1>
  <div>
    <%= link_to "All data feed configurations", admin_amr_data_feed_configs_path, class: "btn btn-default" %>
  </div>
</div>

<ul>
  <li><strong>Uploaded File</strong>: <%= @amr_uploaded_reading.file_name %></li>
  <li><strong>Configuration</strong>: <%= link_to @amr_uploaded_reading.amr_data_feed_config.description, new_admin_amr_data_feed_config_amr_uploaded_reading_path(@amr_data_feed_config) %></li>
</ul>

<% if @warnings.any? %>
  <%= render 'warnings', warnings: @warnings %>
<% else %>
  <p>Note: There were no warnings for this file</p>
<% end %>

<%= render 'first_ten_reading_rows', valid_reading_data: @valid_reading_data %>

<%= form_with(url: admin_amr_data_feed_config_amr_uploaded_reading_manual_data_load_runs_path(@amr_data_feed_config, @amr_uploaded_reading), method: :post, local: true) do %>
  <%= submit_tag "Insert this data", class: 'btn', data: { disable_with: false } %>
<% end %>
