<h1>Preview uploaded data</h1>
<h2>From file: <%= @amr_uploaded_reading.file_name %></h2>

<p>Configuration: <%= @amr_uploaded_reading.amr_data_feed_config.description %></p>

<h3>First ten rows</h3>

<% if @error %>
  <p>We have identified a problem processing the file you have uploaded, are you sure it is in the correct format?</p>
  <%= @error %>

<% else %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Meter ID</th>
          <th>Mpan Mprn</th>
          <th>Reading Date</th>
          <th colspan="48">Readings</th>
        </tr>
      </thead>
      <tbody>
        <% @amr_uploaded_reading.reading_data.first(10).each do |row| %>
          <tr>
            <td><%= row["meter_id"] %></td>
            <td><%= row["mpan_mprn"] %></td>
            <td><%= nice_dates Date.parse(row["reading_date"]) %></td>
            <% row["readings"].each do |reading| %>
              <td><%= reading %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
