<%= tag.div id: id, class: classes do %>
  <%= render TitledSectionComponent.new do |section| %>
    <% section.with_title do %>
      <h2 id="<%= id %>" class="scrollable-title"><%= t('components.advice_page_list.title') %></h2>
    <% end %>
    <% section.with_intro do %>
      <p><%= t('components.advice_page_list.intro') %></p>
    <% end %>
    <% section.with_body do %>
      <% advice_pages.display_fuel_types.keys.each_with_index do |fuel_type, idx| %>
        <% if display_advice_page?(school, fuel_type) %>
          <h4>
            <%= t("advice_pages.nav.sections.#{fuel_type}") %>
          </h4>
          <% sort_by_label(advice_pages_for_school_and_fuel(advice_pages, school, fuel_type)).each do |advice_page| %>
            <%= render PromptComponent.new(
                  icon: fuel_type_icon(fuel_type),
                  style: :compact,
                  status: :none,
                  fuel_type: fuel_type
                ) do |p| %>
              <% p.with_title do %>
                <%= translated_label(advice_page) %>
              <% end %>

              <% school_benchmark = benchmark_for(advice_page) %>
              <% if school_benchmark.present? %>
                <% p.with_pill do %>
                  <span class="badge <%= school_benchmark.benchmarked_as %>">
                    <%= t("advice_pages.benchmarks.#{school_benchmark.benchmarked_as}") %>
                  </span>
                <% end %>
              <% end %>

              <% p.with_link do %>
                <%= link_to t('schools.show.find_out_more'), advice_page_path(school, advice_page) %>
              <% end %>

              <% if advice_page.key == 'solar_pv' %>
                <% solar_status = @school.has_solar_pv? ? 'has_solar' : 'no_solar' %>
                <%= t("advice_pages.index.show.page_summary.solar_pv.#{solar_status}") %>
              <% else %>
                <%= t("advice_pages.index.show.page_summary.#{advice_page.key}") %>
              <% end %>

            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
