<%= render 'schools/advice/section_title', section_id: 'meter-breakdown',
                                           section_title: t('advice_pages.gas_long_term.analysis.meter_breakdown.title') %>

<p><%= t('advice_pages.gas_long_term.analysis.meter_breakdown.summary') %></p>

<%= component 'chart', chart_type: :group_by_week_gas_meter_breakdown_one_year, school: school do |c| %>
  <% c.with_title { t('advice_pages.gas_long_term.charts.group_by_week_gas_meter_breakdown_one_year.title') } %>
  <% c.with_subtitle { t('advice_pages.gas_long_term.charts.group_by_week_gas_meter_breakdown_one_year.subtitle') } %>
  <% c.with_header do %>
    <p><%= t('advice_pages.gas_long_term.charts.group_by_week_gas_meter_breakdown_one_year.header') %></p>
  <% end %>
<% end %>

<p><%= t('advice_pages.gas_long_term.analysis.meter_breakdown.table_introduction',
         start_date: annual_usage_meter_breakdown.start_date.to_s(:es_short),
         end_date: annual_usage_meter_breakdown.end_date.to_s(:es_short)) %></p>

<table class="table table-sm table-with-totals-footer table-sorted">
  <thead class="thead-dark">
    <th><%= t('advice_pages.gas_long_term.tables.columns.meter') %></th>
    <th class='no-sort'><%= t('advice_pages.gas_long_term.tables.columns.name') %></th>
    <th class="text-right"><%= t('advice_pages.gas_long_term.tables.columns.annual_usage_kwh') %></th>
    <th class="text-right"><%= t('advice_pages.gas_long_term.tables.columns.annual_usage_gbp') %></th>
    <th class="text-right"><%= t('advice_pages.gas_long_term.tables.columns.percent') %></th>
    <th class="text-right"><%= t('advice_pages.gas_long_term.tables.columns.annual_change') %></th>
  </thead>
  <tbody>
    <% meters_for_breakdown.each do |mpan_mprn, meter| %>
      <tr>
        <td><%= meter.mpan_mprn %></td>
        <td><%= meter.name %></td>
        <td class="text-right" data-order="<%= annual_usage_meter_breakdown.usage(mpan_mprn).kwh %>">
          <%= format_unit(annual_usage_meter_breakdown.usage(mpan_mprn).kwh, :kwh) %>
        </td>
        <td class="text-right" data-order="<%= annual_usage_meter_breakdown.usage(mpan_mprn).£ %>">
          <%= format_unit(annual_usage_meter_breakdown.usage(mpan_mprn).£, :£) %>
        </td>
        <td class="text-right" data-order="<%= annual_usage_meter_breakdown.usage(mpan_mprn).percent %>">
          <%= format_unit(annual_usage_meter_breakdown.usage(mpan_mprn).percent, :percent) %>
        </td>
        <td class="text-right" data-order="<%= annual_usage_meter_breakdown.annual_percent_change(mpan_mprn) %>">
          <%= format_unit(annual_usage_meter_breakdown.annual_percent_change(mpan_mprn), :percent) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= t('advice_pages.gas_long_term.tables.labels.all_meters') %></td>
      <td></td>
      <td class="text-right"><%= format_unit(annual_usage_meter_breakdown.total_usage.kwh, :kwh) %></td>
      <td class="text-right"><%= format_unit(annual_usage_meter_breakdown.total_usage.£, :£) %></td>
      <td class="text-right"><%= format_unit(annual_usage_meter_breakdown.total_usage.percent, :percent) %></td>
      <td class="text-right"><%= format_unit(annual_usage_meter_breakdown.total_annual_percent_change, :percent) %></td>
    </tr>
  </tfoot>
</table>
<%= render 'schools/advice/how_have_we_analysed_your_data_table_caption',
           data_target: 'how-have-we-analysed-your-data-footnotes' %>
<p><%= t('advice_pages.gas_long_term.analysis.meter_breakdown.table_explanation') %></p>
