<%= render 'schools/advice/section_title', section_id: 'meter-breakdown',
                                           section_title: t('advice_pages.gas_long_term.analysis.meter_breakdown.title') %>

<p><%= t('advice_pages.gas_long_term.analysis.meter_breakdown.summary') %></p>

<%= render ChartComponent.new(chart_type: :group_by_week_gas_meter_breakdown_one_year, school: school) do |c| %>
  <% c.with_title { t('advice_pages.gas_long_term.charts.group_by_week_gas_meter_breakdown_one_year.title') } %>
  <% c.with_subtitle { t('advice_pages.gas_long_term.charts.group_by_week_gas_meter_breakdown_one_year.subtitle') } %>
  <% c.with_header do %>
    <p><%= t('advice_pages.gas_long_term.charts.group_by_week_gas_meter_breakdown_one_year.header') %></p>
  <% end %>
<% end %>

<%= render 'schools/advice/meter_breakdown/usage_breakdown_table',
           fuel_type: fuel_type,
           school: school,
           analysis_dates: analysis_dates,
           meters_for_breakdown: meters_for_breakdown,
           usage_breakdown: annual_usage_meter_breakdown %>

<p><%= t('advice_pages.gas_long_term.analysis.meter_breakdown.table_explanation') %></p>
