<table class="table table-striped school-calendars">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last updated at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% calendars.group_by(&:based_on).each do |based_on, calendars| %>
      <tr class='table-active'><td colspan="4"></td></tr>
      <tr class='table-active'><td colspan="4"><strong>Parent calendars: <%= based_on.title %>, <%= based_on.based_on.title %></strong></td></tr>
      <% calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.title %></td>
        <td><%= nice_date_times(calendar.updated_at) %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', calendar, class: 'btn btn-primary' if can?(:read, calendar) %>
            <%= link_to 'Edit', edit_admin_calendar_path(calendar), class: 'btn btn-secondary' if can?(:update, calendar) %>
          </div>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
