<div class='text-right mt-2'>
  <%= download_link(report, table_name, index_params) %>
</div>

<table id="<%= comparison_table_id(report, table_name) %>" class="table advice-table table-sorted">
  <thead>
    <tr>
      <th><%= t('analytics.benchmarking.configuration.column_headings.school') %></th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.variation_in_baseload_between_days_of_week') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.min_average_weekday_baseload_kw') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.max_average_weekday_baseload_kw') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.day_of_week_with_minimum_baseload') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.day_of_week_with_maximum_baseload') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.potential_saving') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |result| %>
      <tr>
        <td>
          <%= link_to result.school.name, advice_page_path(result.school, advice_page, :insights) %>
          <% if result.electricity_economic_tariff_changed_this_year %>
            <a href="#footnotes">(*5)</a>
          <% end %>
        </td>
        <td class="text-right">
          <%= up_downify(format_unit(result.percent_intraday_variation, :relative_percent, true, :benchmark)) %>
        <td class="text-right">
          <%= format_unit(result.min_day_kw, :kw, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(result.max_day_kw, :kw, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= t('date.day_names')[result.min_day] %>
        </td>
        <td class="text-right">
          <%= t('date.day_names')[result.max_day] %>
        </td>
        <td class="text-right">
          <%= format_unit(result.annual_cost_gbpcurrent, :£, true, :benchmark) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <a name="footnotes"><strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong></a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
      </td>
    </tr>
  </tfoot>
</table>
