<div class='text-right mt-2'>
  <%= download_link(report, table_name, index_params) %>
</div>

<table id="<%= comparison_table_id(report, table_name) %>" class="table advice-table table-sorted">
  <thead>
    <tr>
      <th><%= t('analytics.benchmarking.configuration.column_headings.school') %></th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.w_floor_area') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.average_peak_kw') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.exemplar_peak_kw') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.saving_if_match_exemplar_£') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |result| %>
      <tr>
        <td>
          <%= link_to result.school.name, advice_page_path(result.school, advice_page, :insights) %>
          <% if result.electricity_economic_tariff_changed_this_year %>
            <a href="#footnotes">(*5)</a>
          <% end %>
        </td>
        <td class="text-right">
          <%= format_unit(result.percent_intraday_variation, :percent, true, :benchmark) %>
        <td class="text-right">
          <%= format_unit(result.min_day_kw, :kw, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(result.max_day_kw, :kw, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= result.min_day_str %>
        </td>
        <td class="text-right">
          <%= result.max_day_str %>
        </td>
        <td class="text-right">
          <%= format_unit(result.annual_cost_gbpcurrent, :£, true, :benchmark) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <a name="footnotes"><strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong></a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
      </td>
    </tr>
  </tfoot>
</table>
