<table id="<%= id %>" class="table">
  <thead>
    <tr>
      <td><td>
      <td>Cost</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Base Price<td>
      <td><%= format_unit(price.base_price, :£) %></td>
    </tr>
    <tr>
      <td>Metering Fee<td>
      <td><%= format_unit(price.metering_fee, :£) %></td>
    </tr>
    <tr>
      <td>Private Account Fee<td>
      <td><%= format_unit(price.private_account_fee, :£) %></td>
    </tr>
  </tbody>
  <tfooter>
    <tr>
      <td>Total Price<td>
      <td><%= format_unit(price.total, :£) %></td>
    </tr>
  </tfooter>
</table>
