<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: 'Price Calculator' %>
<% end %>

<p>
  This page allows you to use the built-in price calculator to generate the total contract price for an
  individual school.
</p>

<div class="row">
  <div class="col">
    <%= simple_form_for :pricing, url: admin_commercial_pricing_path, method: :get do |f| %>

      <%= f.input :product_id,
                  collection: Commercial::Product.all.by_name,
                  label_method: :name,
                  value_method: :id,
                  include_blank: 'Select a product, or specify contract',
                  selected: @product&.id %>
      <p class="small">
        Select the product to be used as the basis for the price calculation.
        If no product is selected, you must specify a contract instead
      </p>

      <%= f.input :contract_id,
                  collection: Commercial::Contract.all.by_name,
                  label_method: :name,
                  value_method: :id,
                  include_blank: 'No contract',
                  selected: @contract&.id %>
      <p class="small">
        Select a contract to calculate a price based on an existing agreement.
        The price calculator will use any agreed school pricing defined in the contract and its related product
        as the basis for the calculation. So this overrides the Product field.
      </p>

      <%= f.input :number_of_pupils,
                  as: :integer,
                  input_html: { min: 1, value: @number_of_pupils } %>
      <p>Specify the number of pupils in the school</p>

      <%= f.input :number_of_meters,
                  as: :integer,
                  input_html: { min: 1, value: @number_of_meters } %>
      <p>Specify the total number of gas and electricity meters in the school</p>

      <%= f.input :private_account,
                  as: :boolean,
                  input_html: { checked: @private_account } %>
      <p>Tick this if the school will have a private account</p>

      <%= f.button :submit, 'Calculate' %>
    <% end %>
  </div>
</div>

<hr class="m-4">

<div class="row">
  <div class="col">
    <% if @contract %>
      <h3>Contracted Price breakdown</h3>
      <p>Calculation based on pricing specified in
        <%= link_to @contract.name, admin_commercial_contract_path(@contract) %> for the
        <%= link_to @contract.product.name, admin_commercial_product_path(@contract.product) %> product</p>
    <% else %>
      <h3>Price breakdown</h3>
      <p>Calculation based on pricing specified in <%= link_to @product.name, admin_commercial_product_path(@product) %></p>
    <% end %>
    <%= render ::Commercial::PriceBreakdownComponent.new(id: 'pricing', price: @price) %>
  </div>
</div>
