<% content_for :page_title, t('schools.estimated_annual_consumptions.edit.page_title') %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('schools.estimated_annual_consumptions.edit.update_your_estimated_annual_energy_consumption') %></h1>
  <div>
    <%= link_to_help_for_feature :annual_usage_estimate, css: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p>
      <%= t('schools.estimated_annual_consumptions.edit.paragraph_1_html', school_targets_path: school_school_targets_path(@school)) %>.
    </p>
    <p>
      <%= t('schools.estimated_annual_consumptions.edit.paragraph_2') %>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3><%= t('schools.estimated_annual_consumptions.edit.your_estimate') %></h3>

    <% if params[:updated] %>
      <div class="alert alert-warning">
          <p><%= fa_icon("info-circle fa-lg") %><strong><%= t('schools.estimated_annual_consumptions.edit.note') %></strong>: <%= t('schools.estimated_annual_consumptions.edit.estimate_was_successfully_updated') %>.</p>
          <p><%= t('schools.estimated_annual_consumptions.edit.weve_recorded_your_estimate') %>.</p>
      </div>
    <% else %>
      <div class="alert alert-info">
        <p>
          <%= far_icon("lightbulb fa-lg") %>
          <strong><%= t('schools.estimated_annual_consumptions.edit.tip') %></strong>: <%= t('schools.estimated_annual_consumptions.edit.check_our_energy_bill') %>.<br>
          <%= t('schools.estimated_annual_consumptions.edit.your_recent_energy_bills_should_provide_the_data_you_need') %>.
        </p>
      </div>
    <% end %>

    <%= render "form", estimated_annual_consumption: @estimated_annual_consumption, school: @school %>
  </div>
</div>

<% if current_user.admin? %>
  <div class="row mt-4">
    <div class="alert alert-danger col-md-8">
      <strong>Admin only:</strong>
      <%= link_to 'Delete', school_estimated_annual_consumption_path(@school, @estimated_annual_consumption), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
