<% content_for :page_title, t('schools.estimated_annual_consumptions.new.page_title') %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('schools.estimated_annual_consumptions.new.provide_an_estimate') %></h1>
  <div>
    <%= link_to_help_for_feature :annual_usage_estimate, css: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p>
      <%= t('schools.estimated_annual_consumptions.new.paragraph_1_html', school_targets_path: school_school_targets_path(@school)) %>.
    </p>
    <p>
      <%= t('schools.estimated_annual_consumptions.new.paragraph_2') %>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3><%= t('schools.estimated_annual_consumptions.new.your_estimate') %></h3>

    <div class="alert alert-info">
      <p>
        <%= far_icon("lightbulb fa-lg") %>
        <strong><%= t('schools.estimated_annual_consumptions.new.tip') %></strong>: <%= t('schools.estimated_annual_consumptions.new.check_our_energy_bill') %>.<br>
        <%= t('schools.estimated_annual_consumptions.new.your_recent_energy_bills') %>.
      </p>
    </div>

    <%= render "form", estimated_annual_consumption: @estimated_annual_consumption, school: @school %>
  </div>
</div>
