<h1>Tracking progress to reduce your <%= @fuel_type.to_s.humanize(capitalize: false) %> energy usage</h1>

<% if @show_storage_heater_notes %>
  <p>
    Note, this page shows electricity usage excluding storage heaters - they can be reviewed separately <%= link_to 'here', storage_heaters_school_progress_index_path(@school) %>.
  </p>
<% end %>

<% if @current_target %>
  <p>
    Your school has set a target to reduce its <%= @fuel_type.to_s.humanize(capitalize: false) %> energy usage by <%= @current_target.electricity %>% by <%= nice_dates(@current_target.target_date) %>.
  </p>
<% end %>

<% if @progress  %>

  <% if @progress.current_cumulative_performance_versus_synthetic_last_year %>
    <% if @progress.current_cumulative_performance_versus_synthetic_last_year > 0.0 %>
      <p>
        Unfortunately you are currently running
        <%= format_target(@progress.current_cumulative_performance_versus_synthetic_last_year, :relative_percent) %>
        above last years consumption.
      </p>
    <% else %>
      <p>
        Well done, you are currently running
        <%= format_target(@progress.current_cumulative_performance_versus_synthetic_last_year, :relative_percent) %>
        below last years consumption.
      </p>
    <% end %>
  <% end %>


  <h2>Month by month progress</h2>

  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
    <tr>
      <th>
        Month
      </th>
      <% @progress.months.each do |month| %>
        <th class="text-right">
          <%= month %>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <%= render 'row', title: 'Target (kWh)', data: @progress.monthly_targets_kwh, keys: @progress.months, units: :kwh, final_row: false %>
    <%= render 'row', title: 'Usage (kWh)', data: @progress.monthly_usage_kwh, keys: @progress.months, units: :kwh, final_row: false %>
    <%= render 'row', title: 'Overall change since last year', data: @progress.monthly_performance_versus_synthetic_last_year, keys: @progress.months, units: :relative_percent, final_row: true %>
    </tbody>
  </table>


  <h2>Cumulative progress</h2>

  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
    <tr>
      <th>
        Month
      </th>
      <% @progress.months.each do |month| %>
        <th class="text-right">
          <%= month %>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <%= render 'row', title: 'Target (kWh)', data: @progress.cumulative_targets_kwh, keys: @progress.months, units: :kwh, final_row: false %>
    <%= render 'row', title: 'Usage (kWh)', data: @progress.cumulative_usage_kwh, keys: @progress.months, units: :kwh, final_row: false %>
    <%= render 'row', title: 'Overall performance since last year', data: @progress.cumulative_performance_versus_synthetic_last_year, keys: @progress.months, units: :relative_percent, final_row: true %>
    </tbody>
  </table>

  <h2>Progress charts</h2>

  <%= render 'charts', school: @school, fuel_type: @fuel_type %>

  <% if current_user.analytics? %>
    <h2>Debug</h2>
    <%= @debug_content %>
  <% end %>

<% else %>

  <p>
    Sorry, we encountered an error while trying to calculate your progress..
  </p>

<% end %>
