<div class="tab-pane fade show <%= ' active' if current_school_group %>" id="groups" role="tabpanel" aria-labelledby="groups-tab">

  <h4 class='my-2'><%= t('compare.index.groups.title') %></h4>

  <div class="bg-light p-3 rounded border">
    <%= form_tag benchmarks_compare_index_path, method: :get do %>
      <%= hidden_field_tag(:type, 'groups') %>
      <%= select_tag('school_group_ids', options_from_collection_for_select(SchoolGroup.all, "id", "name", @filter[:school_group_ids]), multiple: true) %>
      <%= render 'school_type_filter', type: 'groups' %>
      <div class="pt-2">
        <%= submit_tag 'Compare schools', class: 'btn btn-sm' %>
      </div>
    <% end %>
  </div>
</div>
