<div class="tab-pane fade show <%= ' active' if current_school_group %>" id="group" role="tabpanel" aria-labelledby="group-tab">
  <h4 class='my-2'><%= t('compare.index.group.title', name: current_school_group.name) %></h4>
  <div class="bg-light p-3 rounded border">
    <%= form_tag benchmarks_compare_index_path, method: :get do %>
      <%= hidden_field_tag(:search, 'group') %>
      <%= hidden_field_tag('school_group_ids[]', current_school_group.id) %>
      <%= render 'school_type_filter', type: 'group' %>
      <div class="pt-2">
        <%= submit_tag 'Compare schools', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
