<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: @funder.name %>
  <% header_nav.with_button 'All funders', admin_funders_path %>
<% end %>

<div>
  <%= link_to 'Contracts', admin_funder_contracts_path(@funder), class: 'btn btn-sm' %>
  <%= link_to 'Edit', edit_admin_funder_path(@funder), class: 'btn btn-sm' %>
  <%= link_to 'Delete',
              admin_funder_path(@funder),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger btn-sm' %>
</div>

<h2>Funder allocations (current model)</h2>

<table class="table table-sm">
  <thead>
    <th>Category</th>
    <th>Schools</th>
  </thead>
  <tbody>
    <tr>
      <td>Visible not data enabled</td>
      <td><%= @funder.schools.visible.where(data_enabled: false).count %></td>
    </tr>
    <tr>
      <td>Visible and data enabled</td>
      <td><%= @funder.schools.visible.data_enabled.count %></td>
    </tr>
    <tr>
      <td>Onboarding</td>
      <td>
        <%= @funder.school_onboardings.where(school_id: nil).count %>
      </td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= @funder.schools.visible.count + @funder.school_onboardings.where(school_id: nil).count %></td>
    </tr>
  </tbody>
</table>
