<% if local_assigns[:show_debug] %>
  <%= link_to 'Alert', school_alert_path(school, page.alert) %>
  Priority: <%= page.priority %>
<% end %>
<div class="card <%= energy %>-dark <%= energy %>-card mb-3">
  <div class="card-body">
    <h3 class="card-title pb-0">
      <%= link_to school_analysis_path(school, page_param), class: 'stretched-link' do %>
        <%= page.analysis_title %>
        <% if show_stars %>
          <span class="stars float-right ml-2"><%= stars(page.rating) %></span>
        <% end %>
      <% end %>
    </h3>
    <h6 class="card-subtitle text-muted"><%= page.analysis_subtitle %></h6>
  </div>
</div>
