<%= render 'admin/cms/title_and_navigation', title: 'Sections' %>
<div class="row">
  <div class="col">
    <p><%= link_to 'New Section', new_admin_cms_section_path, class: 'btn' %></p>
  </div>
</div>

<div class="row">
 <div class="col">
   <table class="table table-sorted">
     <thead>
       <tr>
         <th>Category</th>
         <th>Page</th>
         <th>Title</th>
         <th>Published?</th>
         <th data-orderable="false">Actions</th>
       </tr>
     </thead>
     <tbody>
       <% @sections.each do |section| %>
        <tr>
          <td><%= if section.page
                    link_to section.page.category.title, edit_admin_cms_category_path(section.page.category)
                  end %></td>
          <td><%= link_to section.page.title, edit_admin_cms_page_path(section.page) if section.page %></td>
          <td><%= link_to section.title, edit_admin_cms_section_path(section) %></td>
          <td><%= checkmark section.published? %></td>
          <td>
            <%= link_to 'Edit', edit_admin_cms_section_path(section), class: 'btn btn-sm' %>
            <% if section.page %>
              <%= link_to 'View', category_page_path(section.page.category,
                                                     section.page,
                                                     anchor: section.slug), class: 'btn btn-sm' %>
              <% if section.published? %>
              <%= link_to 'Hide',
                          hide_admin_cms_section_path(section),
                          method: :put,
                          class: 'btn btn-sm',
                          data: { confirm: 'Note this will remove the content from view, are you sure?' } %>
              <% elsif section.publishable? %>
              <%= link_to 'Publish',
                          publish_admin_cms_section_path(section),
                          method: :put,
                          class: 'btn btn-sm',
                          data: { confirm: 'Note this will make the content public, are you sure?' } %>
              <% end %>
            <% end %>
          </td>
        </tr>
       <% end %>
     </tbody>
   </table>
 </div>
</div>
