<table id="comparison-table" class="table advice-table table-sorted">
  <thead>
    <tr>
      <th><%= t('analytics.benchmarking.configuration.column_headings.school') %></th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.change_pct') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.change_£current') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.change_kwh') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.most_recent_holiday') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.previous_holiday') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% pupils_changed_footnote = false %>
    <% tariff_has_changed_footnote = false %>
    <% infinite_increase_footnote = false %>
    <% infinite_decrease_footnote = false %>
    <% results.each do |result| %>
      <tr>
        <td>
          <%= result.school.name %>
          <% if result.pupils_changed %>
            <% pupils_changed_footnote = true %>
            <a href="#footnotes">(*1)</a>
          <% end %>
          <% if result.difference_percent.infinite? == 1 %>
            <% infinite_increase_footnote = true %>
            <a href="#footnotes">(*2)</a>
          <% end %>
          <% if result.difference_percent.infinite? == -1 %>
            <% infinite_decrease_footnote = true %>
            <a href="#footnotes">(*3)</a>
          <% end %>
          <% if result.tariff_has_changed %>
            <% tariff_has_changed_footnote = true %>
            <a href="#footnotes">(*6)</a>
          <% end %>
        </td>
        <td class="text-right">
          <%= up_downify(format_unit(result.difference_percent, :relative_percent_0dp, true, :benchmark)) %>
        </td>
        <td class="text-right">
          <%= up_downify(format_unit(result.difference_gbpcurrent, :£_0dp, true, :benchmark)) %>
        </td>
        <td class="text-right">
          <%= up_downify(format_unit(result.difference_kwh, :kw, true, :benchmark)) %>
        </td>
        <td class="text-right">
          <%= result.name_of_current_period %>
          <% if result.truncated_current_period %>
            <%= t('advice_pages.tables.labels.partial') %>
          <% end %>
        </td>
        <td class="text-right">
          <%= result.name_of_previous_period %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% if pupils_changed_footnote || tariff_has_changed_footnote %>
    <tfoot>
      <tr>
        <td colspan="6">
          <a name="footnotes"><strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong></a>
          <ul>
            <% if pupils_changed_footnote %>
              <%= t('analytics.benchmarking.content.footnotes.electricity.change_rows_text_html',
                    period_type_string:
                      t('analytics.benchmarking.content.benchmark_holidays_change_base.period_types')) %>
            <% end %>
            <% if infinite_increase_footnote %>
              <%= t('analytics.benchmarking.content.footnotes.electricity.infinite_increase_school_names_text_html',
                    period_type_string:
                      t('analytics.benchmarking.content.benchmark_holidays_change_base.period_types')) %>
            <% end %>
            <% if infinite_decrease_footnote %>
              <%= t('analytics.benchmarking.content.footnotes.electricity.infinite_decrease_school_names_text_html',
                    period_type_string:
                      t('analytics.benchmarking.content.benchmark_holidays_change_base.period_types')) %>
            <% end %>
            <% if tariff_has_changed_footnote %>
              <%= t('analytics.benchmarking.content.footnotes.rate_changed_in_period_html',
                    change_gbp_current_header:
                      t('analytics.benchmarking.configuration.column_headings.change_£current')) %>
            <% end %>
          </ul>
        </td>
      </tr>
    </tfoot>
  <% end %>
</table>
