<%= tag.div id: id, class: classes do %>
  <div class="mb-4 licence-editor-table-wrapper">
    <%= helpers.simple_form_for(@contract, url: form_path, method: :put) do |f| %>
      <table id="contract-<%= @contract.id %>-licence-table" class="table table-sm align-middle licence-editor-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>School</th>
            <% if show_field?(:start_date) %>
              <th>Start</th>
            <% end %>
            <% if show_field?(:end_date) %>
              <th>End</th>
            <% end %>
            <% if show_field?(:status) %>
              <th>Status</th>
            <% end %>
            <% if show_field?(:school_specific_price) %>
              <th>Price</th>
            <% end %>
            <% if show_field?(:invoice_reference) %>
              <th>Invoice Ref</th>
            <% end %>
            <th></th>
          </tr>
        </thead>
          <tbody id="licence-rows" class="licence-rows">
              <% licences.each do |licence| %>
                <%= render(LicenceRowComponent.new(licence:, form: f, fields: @fields)) %>
              <% end %>
          </tbody>
      </table>
    <% end %>
  </div>
  <%= button_tag 'Save changes', form: "edit_commercial_contract_#{@contract.id}", class: 'btn btn-primary' %>
  <%= link_to 'Cancel', admin_commercial_contract_path(@contract), class: 'btn btn-secondary' %>

  <% if @additional_schools.any? %>
    <div class="mt-4 licence-editor-table-wrapper">
      <h2>Add schools to contract</h2>
      <p>
        The following schools in this school group are not currently part of this contract. The table identifies whether
        they are currently licensed, who their current and future funder is expected to be, and whether they have
        any (future) licence that covers the period of this contact.
      </p>
      <p>
        If a school has a current licence (valid for today) then the "<strong>Current Funder</strong>" column includes the name of
        the contract holder for that licence. "<strong>Future Funder</strong>" indicates whether we are expecting the school to be
        self-funded or covered by a MAT contract in future.
      </p>

      <p>
        "<strong>Licensed for Period?</strong>" indicates whether school has any existing licences that cover the period of this contract.
        "Full" means they are already licensed. "Partial" means they a licence that covers part of this contracted period.
      </p>
      <p>
        Use the "<strong>Add Licence</strong>" button to add a licence for the school under this contract.
      </p>
      <p>
        Use the "<strong>Make Self funded</strong> / <strong>Make MAT funded</strong>" toggle to set whether the school is expected to be
        MAT or self-funded in future. If a school was self-funded and is going to be added to this contract, then change their status before
        adding a licence.
      </p>
      <%= render ::Commercial::LicensingSummaryComponent.new(
            table_id: "contract-#{@contract.id}-additional-schools-table",
            date_range: @contract.as_range
          ) do |c| %>
        <% @additional_schools.each do |school| %>
          <% c.with_row id: "additional-school-#{school.id}", school: school do |r| %>
            <% r.with_button do %>
              <%= button_to 'Add licence',
                            create_licence_admin_commercial_contract_licences_path(@contract),
                            params: { school_id: school.id },
                            method: :post,
                            form: { method: :post, authenticity_token: true },
                            remote: true,
                            class: 'btn btn-sm btn-primary' %>
            <% end %>
            <% r.with_button do %>
              <div id="self-funded-toggle-<%= school.id %>">
                <% if school.self_funded_in_future? %>
                  <%= button_to 'Make MAT funded',
                                school_self_funded_path(school),
                                method: :create,
                                remote: true,
                                class: 'btn btn-sm btn-secondary' %>
                <% else %>
                  <%= button_to 'Make Self funded',
                                school_self_funded_path(school),
                                method: :delete,
                                remote: true,
                                class: 'btn btn-sm btn-secondary' %>

                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
