<%= tag.div id: id, class: classes do %>
  <%= helpers.simple_form_for(
        @contract,
        url: form_path,
        method: :put
      ) do |f| %>
    <div class="licence-editor-table-wrapper">
      <table id="<%= "#{@contract.id}-licence-table" %>" class="table table-sm align-middle licence-editor-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>School</th>
            <% if show_field?(:start_date) %>
              <th>Start</th>
            <% end %>
            <% if show_field?(:end_date) %>
              <th>End</th>
            <% end %>
            <% if show_field?(:status) %>
              <th>Status</th>
            <% end %>
            <% if show_field?(:school_specific_price) %>
              <th>Price</th>
            <% end %>
            <% if show_field?(:invoice_reference) %>
              <th>Invoice Ref</th>
            <% end %>
          </tr>
        </thead>
        <% licences.each do |licence| %>
          <tbody class="licence-block">
            <%= f.simple_fields_for :licences, licence, child_index: licence.id do |lf| %>
              <tr id="<%= "#{licence.id}-main-row" %>" class="main-row">
                <td><%= link_to "##{licence.id}", admin_commercial_licence_path(licence) %></td>
                <td><%= link_to licence.school.name, school_path(licence.school) %></td>

                <% if show_field?(:start_date) %>
                  <td class="col-2"><%= lf.input :start_date, as: :tempus_dominus_date, label: false %></td>
                <% end %>
                <% if show_field?(:end_date) %>
                  <td class="col-2"><%= lf.input :end_date, as: :tempus_dominus_date, label: false %></td>
                <% end %>
                <% if show_field?(:status) %>
                  <td class="col-2"><%= lf.input :status,
                                                 collection: collection_from_enum(Commercial::Licence.statuses),
                                                 include_blank: false,
                                                 label: false %></td>
                <% end %>
                <% if show_field?(:school_specific_price) %>
                  <td class="col-1"><%= lf.input :school_specific_price,
                                                 as: :decimal,
                                                 input_html: { step: '0.01' },
                                                 label: false %></td>
                <% end %>

                <% if show_field?(:invoice_reference) %>
                  <td class="col-1"><%= lf.input :invoice_reference, label: false %></td>
                <% end %>
              </tr>
              <% if show_field?(:comments) %>
                <tr id="<%= "#{licence.id}-comments-row" %>" class="comments-row">
                  <td colspan="2"></td>
                  <td colspan="5">
                    <%= lf.input :comments,
                                 as: :text,
                                 input_html: { rows: 2 },
                                 label: false,
                                 placeholder: 'Comments' %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
    <%= f.submit 'Save changes', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_commercial_contract_path(@contract), class: 'btn btn-secondary' %>
  <% end %>
<% end %>
