<p><%= t('school_groups.advice_pages.long_term.analysis.summary', fuel_type: @advice_page.fuel_type) %></p>

<ul>
  <li>
    <%= link_to(t('school_groups.advice_pages.long_term.analysis.potential_savings.title',
                  fuel_type: @advice_page.fuel_type),
                '#potential-savings') %>
  </li>
  <li>
    <%= link_to(t('school_groups.advice_pages.long_term.analysis.comparisons.title',
                  fuel_type: @advice_page.fuel_type),
                '#comparison') %>
  </li>
  <li>
    <%= link_to(t('school_groups.advice_pages.analysis.other_reports.title'), '#other-reports') %>
  </li>
</ul>

<%= render 'schools/advice/section_title',
           section_id: 'potential-savings',
           section_title: t('school_groups.advice_pages.long_term.analysis.potential_savings.title',
                            fuel_type: @advice_page.fuel_type) %>

<%= t('school_groups.advice_pages.long_term.analysis.potential_savings.table.header_html',
      fuel_type: @advice_page.fuel_type,
      modal_id: SchoolGroups::AdviceController::MODAL_ID) %>

<%= render 'school_groups/advice/shared/savings_table', school_group: @school_group,
                                                        categorised_savings: @categorised_savings,
                                                        advice_page: @advice_page,
                                                        schools: @schools %>

<%= render 'schools/advice/section_title',
           section_id: 'comparison',
           section_title: t('school_groups.advice_pages.long_term.analysis.comparisons.title',
                            fuel_type: @advice_page.fuel_type) %>

<%= render Charts::GroupComparisonChartComponent.new(school_group: @school_group,
                                                     report: @report,
                                                     classes: 'mb-4') do |c| %>
  <% c.with_title do %>
    <%= t('school_groups.advice_pages.long_term.analysis.comparisons.chart.title', fuel_type: @advice_page.fuel_type) %>
  <% end %>
  <% c.with_subtitle do %>
    <%= t('school_groups.advice_pages.long_term.analysis.comparisons.chart.subtitle', fuel_type: @advice_page.fuel_type) %>
  <% end %>
  <% c.with_header do %>
    <%= t('school_groups.advice_pages.long_term.analysis.comparisons.chart.header', fuel_type: @advice_page.fuel_type) %>
  <% end %>
  <% c.with_footer do %>
    <%= render 'school_groups/advice/shared/analysis_footnotes_link' %>
  <% end %>
<% end %>

<%= t('school_groups.advice_pages.long_term.analysis.comparisons.table.header_html',
      fuel_type: @advice_page.fuel_type) %>

<%= render 'comparison_table',
           results: @results,
           report: @report,
           advice_page: @advice_page,
           index_params: index_params,
           headers: @report_headers,
           colgroups: @report_colgroups,
           table_classes: comparison_table_class(@results),
           advice_page_tab: @advice_page_tab %>

<%= render 'schools/advice/section_title',
           section_id: 'other-reports',
           section_title: t('school_groups.advice_pages.analysis.other_reports.title') %>

<p>
<%= t('school_groups.advice_pages.analysis.other_reports.introduction') %>
</p>

<%= render SchoolGroups::ComparisonReportListComponent.new(school_group: @school_group,
                                                           fuel_types: @fuel_types) do |list| %>
  <% list.with_fuel_types t('school_groups.advice.comparison_reports.links.savings_potential'), reports: {
       electricity: { report: :annual_electricity_costs_per_pupil,
                      label: t('school_groups.advice.comparison_reports.links.electricity_per_pupil') },
       gas: { report: :annual_heating_costs_per_floor_area,
              label: t('school_groups.advice.comparison_reports.links.gas_per_floor_area') }
     } %>
  <% list.with_fuel_types t('school_groups.advice.comparison_reports.links.progress'), reports: {
       electricity: :electricity_targets,
       gas: :gas_targets
     } %>
<% end %>
