
<h1>Manage Scoreboards</h1>

<% if @scoreboards.any? %>
  <table class="table table-condensed">
    <tbody>
      <% @scoreboards.each do |scoreboard| %>
        <tr>
          <td><%= link_to scoreboard.name, scoreboard_path(scoreboard) %></td>
          <td><%= scoreboard.description %></td>
          <td>
            <div class='btn-group'>
              <%= if can? :edit, scoreboard
                    link_to 'Edit', edit_admin_scoreboard_path(scoreboard),
                            class: 'btn btn-primary'
                  end %>
              <%= if can? :delete, scoreboard
                    link_to 'Delete', [:admin, scoreboard],
                            method: :delete, data: { confirm: 'Are you sure?' },
                            class: 'btn btn-danger'
                  end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no Scoreboards</h2>
<% end %>

<%= link_to 'New Scoreboard', new_admin_scoreboard_path, class: 'btn btn-primary' if can? :create, Scoreboard %>
