<% if @equivalence.hide_preview? %>
  <div class="alert alert-warning">
    This equivalence will not be shown as one or more of the values is not significant enough (e.g. less than 1.0)
  </div>
<% end %>
<div class="alert alert-primary">
  Dates: <%= @equivalence.from_date.try(:strftime, '%d/%m/%Y') %> - <%= @equivalence.to_date.try(:strftime, '%d/%m/%Y') %>
</div>
<%= render EquivalenceComponent.new(
      image_name: @equivalence_content.equivalence_type.image_name,
      classes: 'illustration-background'
    ) do |c| %>
  <% c.with_header do %>
    <%= @equivalence_content.equivalence %>
  <% end %>
  <p>
    <%= link_to t('pupils.schools.show.find_how_much_energy_used'),
                pupils_school_analysis_path(@school),
                class: 'btn btn-default' %>
  </p>
<% end %>
