<% content_for :page_title do %>Energy Analysis for <%= @school.name %><% end %>

<h1><%= @title %></h1>
<h2><%= @school.name %></h2>
<p><%= link_to @school.name, school_path(@school) %> is a <%= @school.school_type %> school near <%= @school.postcode %>
<% if @school.number_of_pupils && @school.floor_area %>
with <%= @school.number_of_pupils %> pupils and a floor area of <%= @school.floor_area %>m<sup>2</sup>.
<% else %>
. Please <%= link_to 'edit the school details', edit_school_path(@school) %> and add the number of pupils and the school floor area in m<sup>2</sup> for more accurate analysis.
<% end %>
</p>

<%= render 'schools/analysis/measurement_picker', measurement_options: @measurement_options, measurement: @measurement %>

<div id="chart_wrapper_1">
  <h3 class="analysis">Loading: <%= @title %></h3>
  <%= render 'shared/analysis_controls' if params[:control] %>
  <%= chart_tag(@school, @chart_type.to_s, show_advice: !params[:control].present?, chart_config: {y_axis_units:  @measurement}) %>
</div>
