<%= render PromptComponent.new(status: :none, icon: :lightbulb) do |c| %>
  <%= t('advice_pages.baseload.what_is_baseload_html') %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'comparison',
                                           section_title: t('advice_pages.baseload.comparison.title') %>

<%= render SchoolGroupComparisonComponent.new(
      id: 'group-comparison-baseload',
      comparison: @baseload_comparison,
      advice_page_key: @advice_page_key,
      include_cluster: can?(:update_settings, @school_group),
      show_modal: true
    ) do |component| %>
  <% component.with_header do %>
    <p><%= t("school_groups.comparisons.how_does_it_compare.#{@advice_page_key}", default: '') %></p>
  <% end %>
<% end %>
<p class="pb-5">
  <%= link_to t('school_groups.comparisons.view_detailed_comparison'),
              analysis_school_group_advice_baseload_path(@school_group, anchor: 'potential-savings') %>
</p>

<%= render 'schools/advice/section_title',
           section_id: 'current',
           section_title: t('school_groups.advice_pages.baseload.insights.current_baseload.title') %>

<%= t('school_groups.advice_pages.baseload.insights.current_baseload.summary_html',
      link: analysis_school_group_advice_baseload_path(@school_group, anchor: 'comparison')) %>

<%= render ComparisonTableComponent.new(
      report: @report, advice_page: @advice_page, table_name: :table, index_params: index_params,
      headers: @insight_table_headers, colgroups: [], advice_page_tab: @advice_page_tab
    ) do |c| %>
  <% @results.each do |result| %>
    <% c.with_row do |r| %>
      <% r.with_school school: result.school %>
      <%= r.with_var val: result.one_year_baseload_per_pupil_kw * 1000.0, unit: :kw %>
      <%= r.with_var val: result.average_baseload_last_year_kw, unit: :kw %>
    <% end %>
  <% end %>
<% end %>
