<h1>Bulk meter updates: <%= @school_group.name %></h1>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Data source</h3>
      <% [:electricity, :gas, :solar_pv].each do |fuel_type| %>
        <%= simple_form_for :meter, url: admin_school_group_meter_update_bulk_update_meter_data_source_url(meter_update_id: fuel_type), method: :post do |form| %>
          <div class="form-group pb-4">
            <%= form.label :data_source_id, "Bulk update data source for all #{fuel_type.to_s.humanize.downcase} meters" %>
            <%= form.select :data_source_id, options_from_collection_for_select(DataSource.all, 'id', 'name', @school_group.send("default_data_source_#{fuel_type}_id")), {include_blank: 'none'}, { class: 'form-control mb-2' } %>
            <%= form.submit 'Update', class: 'btn' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm">
      <h3>Procurement route</h3>
      <% [:electricity, :gas, :solar_pv].each do |fuel_type| %>
        <%= simple_form_for :meter, url: admin_school_group_meter_update_bulk_update_meter_procurement_route_url(meter_update_id: fuel_type), method: :post do |form| %>
          <div class="form-group pb-4">
            <%= form.label :procurement_route_id, "Bulk update procurement route for all #{fuel_type.to_s.humanize.downcase} meters" %>
            <%= form.select :procurement_route_id, options_from_collection_for_select(ProcurementRoute.all, 'id', 'organisation_name', @school_group.send("default_procurement_route_#{fuel_type}_id")), {include_blank: 'none'}, { class: 'form-control mb-2' } %>
            <%= form.submit 'Update', class: 'btn' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
