<h1>Open issues for: <%= @user.display_name %></h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <% @columns.filter(&:display_html).each do |column| %>
        <%= content_tag(:th, column.name) %>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td title="<%= @columns[0].td(issue) %>"><%= issue_type_image(@columns[0].td(issue)) %></td>
        <td>
          <%= render 'admin/issues/issueable', issueable: issue.try(:issueable), email: true %>
          <% if @columns[2].csv(issue).present? %>
            <span class="badge bg-danger rounded text-white" title="New this week!">new!</span>
          <% end %>
        </td>
        <td><%= @columns[3].td(issue) %></td>
        <td style="min-width: 100px;" class="overflow">
          <span title="<%= issue.title %>" data-toggle="tooltip">
            <%= link_to issue.title, polymorphic_url([:admin, issue.issueable, issue]) %>
          </span>
        </td>
        <td>
          <%= render 'admin/issues/fuel_type', issue: issue, email: true %>
        </td>
        <td><%= review_date_badge(issue, label: false, humanise: false) %></td>
        <td><%= issue.created_by.display_name %></td>
        <td>
          <div class="badge bg-white rounded-full text-dark nowrap">
          <%= short_dates(issue.created_at) %>
          </div>
        </td>
        <td><%= issue.updated_by.display_name %></td>
        <td>
          <div class="badge bg-white rounded-full text-dark fw-normal nowrap">
            <%= short_dates(issue.updated_at) %>
          </div>
        </td>
        <td>
          <%= link_to 'Edit', @columns[-1].csv(issue), class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "View all issues for: #{@user.display_name}", admin_issues_url(user: @user) %></p>
