<h1>Price configurations</h1>

<%= simple_form_for(PriceConfiguration.new, url: admin_price_configuration_path) do |form| %>
  <% if @errors&.any? %>
    <div class="alert alert-block alert-danger">
      Update failed:
      <ul>
        <% @errors&.full_messages&.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :electricity_price, value: PriceConfiguration.electricity_price, as: :numeric %>
  <%= form.input :solar_export_price, value: PriceConfiguration.solar_export_price, as: :numeric %>
  <%= form.input :gas_price, value: PriceConfiguration.gas_price, as: :numeric %>
  <%= form.input :oil_price, value: PriceConfiguration.oil_price, as: :numeric %>
  <%= form.submit 'Update', class: 'btn btn-success' %>
<% end %>
