<%= tag.div id: id, class: classes do %>
  <div class="row">
    <div class="col">
      <%= render TitledSectionComponent.new do |section| %>
        <% if show_header %>
          <% section.with_title do %>
            <h2 id="timeline"><%= t('timeline.whats_been_going_on') %></h2>
          <% end %>
          <% section.with_intro do %>
            <p>
              <%= t('schools.dashboards.timeline.intro') %>
            </p>
          <% end %>
          <% section.with_link do %>
            <p>
              <%= link_to school_timeline_path(school), class: 'btn btn-default' do %>
                <%= t('activities.show.all_activities') %>
              <% end %>
            </p>
          <% end %>
        <% end %>
        <% section.with_body do %>
          <div class="bg-white rounded p-4">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t('common.labels.date') %></th>
                  <th><%= t('programme_types.show.points') %></th>
                  <th><%= t('common.labels.activity') %></th>
                </tr>
              </thead>
              <tbody>
                <% observations.each do |observation| %>
                  <tr>
                    <td><%= observation.at.to_fs(:es_short) %></td>
                    <td><%= observation.points || '-' %></td>
                    <td><%= render ObservationComponent.new(observation: observation, show_actions: show_actions,
                                                            style: observation_style) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
