<%= tag.div id: id, class: classes do %>
  <div class="row">
    <div class="col">
      <%= render TitledSectionComponent.new do |section| %>
        <% if show_header %>
          <% section.with_title do %>
            <h2 id="timeline">
            <% if title? %>
              <%= title %>
            <% else %>
              <%= t('timeline.whats_been_going_on') %>
            <% end %>
            </h2>
          <% end %>
          <% section.with_intro do %>
            <% if description? %>
              <%= description %>
            <% else %>
              <p>
                <%= t('schools.dashboards.timeline.intro') %>
              </p>
            <% end %>
          <% end %>
          <% if link? %>
            <% section.with_link do %>
              <%= link %>
            <% end %>
          <% end %>
        <% end %>
        <% section.with_body do %>
          <div class="bg-white rounded p-4">
            <%= render(Scoreboards::ActivityComponent.new(observations: observations, **formatting_args)) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
