<%= simple_form_for([:admin, team_member]) do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :description %>
  <%= f.input :position %>
  <p>Please resize the image to 150 x 150 pixels before uploading</p>
  <%= f.input :image %>
  <%= f.button :submit %>
<% end %>
