<%= simple_form_for([:admin, team_member]) do |f| %>
  <%= f.input :title, as: :string, label: 'Name' %>
  <%= f.input :description, label: 'Job description' %>
  <%= f.label 'Profile', for: :profile %>
  <%= f.rich_text_area :profile %>
  <%= f.input :role, collection: TeamMember.roles.keys, label_method: :titleize, include_blank: false %>
  <%= f.input :position %>
  <p>Please resize the image to 150 x 150 pixels before uploading</p>
  <%= f.input :image %>
  <%= f.button :submit %>
<% end %>
