<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Position</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% team_members.each do |team_member| %>
      <tr>
        <td><%= link_to team_member.title, admin_team_member_path(team_member) %></td>
        <td><%= team_member.description %></td>
        <td><%= team_member.position %></td>
        <td>
          <% if team_member.image.attached? %>
            <%= image_tag team_member.image.variant(resize_to_limit: [50, 50]) %>
          <% else %>
            No file attached
          <% end %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_team_member_path(team_member), class: 'btn' %>
            <%= link_to 'Delete', admin_team_member_path(team_member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>