<h1>Team members</h1>

<p><%= link_to 'Public team page', team_path %></p>

<% if @staff.any? %>
  <h1>Staff</h1>
  <%= render 'team_members', team_members: @staff %>
<% end %>

<% if @consultants.any? %>
  <h1>Consultants</h1>
  <%= render 'team_members', team_members: @consultants %>
<% end %>

<% if @trustees.any? %>
  <h1>Trustees</h1>
  <%= render 'team_members', team_members: @trustees %>
<% end %>

<p><%= link_to 'New team member', new_admin_team_member_path, class: 'btn'%></p>
