<%= simple_form_for([:admin, audit], html: { id: :audit_form } ) do |f| %>
  <%= f.input :school_id, as: :hidden, value: @school.id %>

  <%= f.input :title %>

  <%= f.label 'Description', for: :description %>

  <div class="trix-wrapper">
    <%= f.rich_text_area :description %>
  </div>

  <%= f.input :published %>

  <h2>Activities</h2>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="firstName">Activity Type</label>
    </div>
    <div class="col-md-5 mb-3">
      <label for="lastName">Notes</label>
    </div>
    <div class="col-md-2 mb-3">
      <label for="lastName">Delete?</label>
    </div>
  </div>

  <div id="audit-activity-types">
    <%= f.simple_fields_for :audit_activity_types, @audit.audit_activity_types.by_name do |audit_activity_type| %>
      <%= render 'audit_activity_type_fields', f: audit_activity_type %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add activity', f, :audit_activity_types, class: 'btn' %>
    </div>
  </div>

  <br/>
  <br/>

  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
