<%= simple_form_for [school, consent_document] do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Description', for: :description %>
    <%= f.rich_text_area :description %>
  </div>

  <div class="form-group">
    <%= f.input :file %>
  </div>

  <div class="actions">
    <%= f.submit label, class: 'btn btn-primary' %>
  </div>
<% end %>
