<% content_for :page_title do %>
  <%= @school.name %><%= t('consent_documents.edit.title') %>
<% end %>

<h1><%= t('consent_documents.edit.header') %></h1>

<p>
  <%= t('consent_documents.edit.description') %>
</p>

<%= render 'form', label: t('common.labels.update'), school: @school, consent_document: @consent_document %>

<div class="other-actions">
  <%= link_to t('common.labels.cancel'), school_consent_documents_path, class: 'btn' %>
</div>
