<% content_for :page_title do %>
  <%= @school.name %> Uploaded Bills
<% end %>

<h1>Uploaded Bills</h1>

<% if @consent_documents.any? %>
  <p>
  You have provided us with the following bills as proof of which meters are installed at your school.
  </p>

  <p>
    <%= link_to "Upload a new bill", new_school_consent_document_path(@school), class: 'btn btn-primary' %>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th class="w-25">Uploaded date</th>
        <th class="w-50">Title</th>
        <th class="w-25">Link</th>
      </tr>
    </thead>
    <tbody>
      <% @consent_documents.each do |bill| %>
        <tr>
          <td><%= nice_date_times(bill.created_at) %></td>
          <td><%= link_to bill.title, school_consent_document_path(@school, bill) %></td>
          <td>
            <%= link_to url_for(bill.file), class: 'btn btn-primary' do %>
              Download <i class="fas fa-file-download"></i>
            <% end%>
            <%= link_to "Edit", edit_school_consent_document_path(@school, bill), class: 'btn' %>
            <% if can?(:delete, bill) %>
              <%= link_to "Delete", school_consent_document_path(@school, bill), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>
    You have not yet provided us with any energy bills to demonstrate you have access to the meters installed at your school.
  </p>

  <p>
   A copy of a recent bill will help ensure that we have authority to collect, process and display the data on your behalf.
  </p>

  <p>A bill needs to be dated within the last 3 months, and show:</p>

  <ul>
  <li>your school name</li>
  <li>school address</li>
  <li>electricity meter MPAN or electricity supply number and/or gas meter MPR or meter point reference number</li>
  </ul>

  <p>
    <%= link_to "Upload a bill", new_school_consent_document_path(@school), class: 'btn btn-primary' %>
  </p>
<% end %>
