<%= component 'notice', status: :neutral do |c| %>
  <%= t('advice_pages.hot_water.insights.summary_notice_html') %>
<% end %>
<%= render 'schools/advice/section_title', section_id: 'your_hot_water_use', section_title: 'Your hot water use' %>
<p><%= t('advice_pages.hot_water.insights.circulatory_gas_based_hot_water') %></p>
<p><%= t('advice_pages.hot_water.insights.we_estimate_your_hot_water_efficiency_to_be_html', efficiency_percent: format_unit(@gas_hot_water.investment_choices.existing_gas.efficiency, :percent)) %></p>
<p>
  <%= t('advice_pages.hot_water.insights.improving_the_way_html',
         gas_better_control_saving_kwh_percent: format_unit(@gas_hot_water.investment_choices.gas_better_control.saving_kwh_percent, :percent),
         gas_point_of_use_electric_saving_kwh_percent: format_unit(@gas_hot_water.investment_choices.point_of_use_electric.saving_kwh_percent, :percent)
         )
       %>
</p>
<p>
  <% percent = (@gas_hot_water.efficiency_breakdowns.annual.kwh.total - @gas_hot_water.efficiency_breakdowns.annual.kwh.school_day_open) / @gas_hot_water.efficiency_breakdowns.annual.kwh.total %>
  <%= t('advice_pages.hot_water.insights.the_table_below_html',
      percent: format_unit(percent, :percent)
      )
  %>
</p>
<%= render 'insights_table' %>
<%= render 'schools/advice/section_title', section_id: 'how_do_you_compare', section_title: 'How do you compare?' %>
<%= t('advice_pages.hot_water.insights.for_more_detail_html', link: benchmark_for_school_group_path(:hot_water_efficiency, @school)) %>