<% content_for :page_title do %>
  <%= @school.name %>
<% end %>

<div typeof="School">
  <div class="row padded-row">
    <div class="col-md-12">
      <h1 property="name"><%= @school.name %> Alerts</h1>
      <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Title</th>
          <th>Sub Category</th>
          <th>Term</th>
          <th>Frequency</th>
          <th>Analysis</th>
          <th>Contacts</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @alerts.each do |alert| %>
          <tr scope="row">
            <td><%= alert.display_category %></td>
            <td><%= alert.alert_type.title %></td>  
            <td><%= alert.display_sub_category %></td>
            <td><%= alert.alert_type.long_term ? 'Long' : 'Short' %></td>
            <td><%= pluralize(alert.alert_type.daily_frequency, 'day') if alert.alert_type.daily_frequency && alert.alert_type.daily_frequency > 0 %></td>
            <td><%= alert.alert_type.analysis_description %></td>
            <td><%= alert.contacts.any? ? alert.contacts.pluck(:name).join(', ') : 'No one allocated' %></td>
            <td><%= link_to 'Edit', edit_school_alert_path(@school, alert), class: 'btn btn-warning' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
