<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Alert" do %>

<div class="row padded-row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header text-white <%= class_for_alert_rating(@alert.rating) %>">
        <h4><%= fa_icon(alert_icon(@alert)) %> <%= @alert.alert_type.title %> (<%= @alert.rating %>)</h4>
      </div>
      <div class="card-body">
        <h5>Template variables (English)</h5>
        <%= sanitize ap(@alert.template_variables(:en), index: false, plain: true, sort_keys: true) %>
        <h5>Template variables (Welsh)</h5>
        <%= sanitize ap(@alert.template_variables(:cy), index: false, plain: true, sort_keys: true) %>

        <h5>Raw variables (English)</h5>
        <%= sanitize ap(@alert.variables, index: false, plain: true, sort_keys: true) %>

        <h5>Chart data</h5>
        <%= sanitize ap(@alert.chart_data, index: false, plain: true, sort_keys: true) %>
        <h5>Table data</h5>
        <%= sanitize ap(@alert.table_data, index: false, plain: true, sort_keys: true) %>
        <h5>Priority data</h5>
        <%= sanitize ap(@alert.priority_data, index: false, plain: true, sort_keys: true) %>
      </div>
      <div class="card-footer text-muted">
        <p class="card-text"><b>Rating</b>: <%= @alert.rating %></p>
        <p class="card-text"><b>Frequency</b>: <%= @alert.frequency.humanize %></p>
        <p class="card-text"><b>Run on date</b>: <%= nice_dates @alert.run_on %></p>
      </div>
    </div>
  </div>
</div>

<% end %>
