<%= tag.div id: id, class: classes do %>
  <%= render Scoreboards::SummaryComponent.new(podium: podium, user: user) do |summary| %>
    <% summary.with_title { title } %>
    <% summary.with_description do %>
      <% if podium.points_to_overtake && podium&.school_position&.position != 1 %>
        <div class="row">
          <div class="col">
            <h4>
              <%= t('components.podium.points_needed_to_overtake', points: podium.points_to_overtake) %>
            </h4>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col">
          <p>
            <%= t('components.scoreboard_summary.intro') %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to t('common.labels.choose_activity'), school_recommendations_path(podium.school, scope: audience),
                      class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
    <% summary.with_timeline_title { timeline_title } %>
    <% summary.with_timeline_description do %>
      <p>
        <%= t('components.scoreboard_summary.recent_activity_intro') %>
      </p>
    <% end %>
    <% summary.with_timeline_link do %>
      <p>
        <%= link_to t('components.scoreboard_summary.view_scoreboard'),
                    scoreboard_path(podium.scoreboard),
                    class: 'btn btn-default' %>
      </p>
    <% end %>
  <% end %>
<% end %>
