<div class="row">
  <div class="col-md-1">
    <%= icon %>
  </div>
  <% if buttons.present? %>
    <div class='<%= "col-md-#{11 - buttons.size * 3}" %>'>
      <%= title %>
    </div>
    <% buttons.each do |title, path| %>
      <div class="col-md-3">
        <%= link_to sanitize(title), path, class: "btn btn-light btn rounded-pill font-weight-bold", style: 'height: fit-content;' %>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-11">
      <h5><%= title %></h5>
    </div>
  <% end %>
</div>
