<h1><%= t('schools.user_tariff_flat_prices.edit.title') %></h1>

<div class="energy_tariff">

  <p>
    <%= case @energy_tariff.tariff_holder_type
        when 'School' then t('schools.user_tariff_flat_prices.edit.introduction')
        when 'SchoolGroup' then t('schools.user_tariff_flat_prices.edit.introduction')
        when 'SiteSettings' then t('schools.user_tariff_flat_prices.edit.introduction_site_settings')
        end
    %>.
  </p>
  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <% url = energy_tariffs_path(@energy_tariff, [:energy_tariff_flat_price], { id: @energy_tariff_price.id } ) %>
  <%= simple_form_for @energy_tariff_price, url: url, method: :put do |f| %>
    <%= render 'form', school: @school, energy_tariff: @energy_tariff, energy_tariff_price: @energy_tariff_price, f: f %>

    <br/>
    <% edit_path = energy_tariffs_path(@energy_tariff, [], { action: :edit }) %>
    <%= link_to t('common.labels.previous'), edit_path, class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>
  <% end %>
</div>
