<h1><%= t('schools.user_tariff_flat_prices.edit.title') %></h1>

<div class="energy_tariff">

  <p><%= t('schools.user_tariff_flat_prices.edit.introduction') %>.</p>
  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <%= simple_form_for @energy_tariff_price, url: school_energy_tariff_energy_tariff_flat_price_path(@school, @energy_tariff, @energy_tariff_price), method: :put do |f| %>
    <%= render 'form', school: @school, energy_tariff: @energy_tariff, energy_tariff_price: @energy_tariff_price, f: f %>

    <br/>

    <%= link_to t('common.labels.previous'), edit_school_energy_tariff_path(@school, @energy_tariff), class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>
  <% end %>

</div>
