<%= render EnergyTariffFormTitleComponent.new(
      energy_tariff: @energy_tariff
    ) do |c| %>
  <% c.with_page_title do %>
    <h1><%= t('schools.user_tariff_flat_prices.edit.title',
              fuel_type: t("common.#{@energy_tariff.meter_type}").downcase) %></h1>
  <% end %>
<% end %>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="energy_tariff">

      <p>
        <%= t("schools.user_tariff_flat_prices.edit.introduction_#{@energy_tariff.tariff_holder.tariff_holder_i18n_key}") %>.
      </p>
      <br>

      <% url = energy_tariffs_path(@energy_tariff, [:energy_tariff_flat_price], { id: @energy_tariff_price.id }) %>
      <%= simple_form_for @energy_tariff_price, url: url, method: :put do |f| %>
        <%= render 'form', energy_tariff: @energy_tariff, energy_tariff_price: @energy_tariff_price, f: f %>

        <br>
        <%= f.submit t('common.labels.continue'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
