<h1><%= t('schools.user_tariff_flat_prices.new.title') %></h1>

<div class="energy_tariff">

  <p>
    <%= t("schools.user_tariff_flat_prices.new.introduction_#{@energy_tariff.tariff_holder.tariff_holder_i18n_key}") %>.
  </p>
  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>
  <br/>
  <% form_url = energy_tariffs_path(@energy_tariff, [:energy_tariff_flat_prices]) %>
  <%= simple_form_for @energy_tariff_price, url: form_url do |f| %>
    <%= render 'form', school: @tariff_holder, energy_tariff: @energy_tariff, energy_tariff_price: @energy_tariff_price, f: f %>
    <br/>
    <% edit_path = energy_tariffs_path(@energy_tariff) %>
    <%= link_to t('common.labels.previous'), edit_path, class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>
<% end %>

</div>
