<h1><%= t('schools.user_tariff_flat_prices.new.title') %></h1>

<div class="energy_tariff">

  <p><%= t('schools.user_tariff_flat_prices.new.introduction') %>.</p>
  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <br/>

  <%
    form_url = case @energy_tariff.tariff_holder_type
               when 'School' then school_energy_tariff_energy_tariff_flat_prices_path(@school, @energy_tariff)
               when 'SiteSettings' then admin_settings_energy_tariff_energy_tariff_flat_prices_path(@energy_tariff)
               end
  %>

  <%= simple_form_for @energy_tariff_price, url: form_url do |f| %>
    <%= render 'form', school: @school, energy_tariff: @energy_tariff, energy_tariff_price: @energy_tariff_price, f: f %>
    <br/>

    <%
      edit_path = case @energy_tariff.tariff_holder_type
                  when 'School' then edit_school_energy_tariff_path(@school, @energy_tariff)
                  when 'SiteSettings' then edit_admin_settings_energy_tariff_path(@energy_tariff)
                  end
    %>

    <%= link_to t('common.labels.previous'), edit_path, class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>
<% end %>

</div>
