<h2>Styles</h2>

<h3>Buttons</h1>

<%= link_to 'unstyled', '/', class: 'btn' %>
<%= link_to 'btn-default', '/', class: 'btn btn-default' %>
<%= button_tag 'button', class: 'btn btn-success' %>

<hr>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to key.to_s, '/', class: "btn btn-#{key}" %>
<% end %>
<hr>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to "#{key} sm", '/', class: "btn btn-#{key} btn-sm" %>
<% end %>

<hr>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to "#{key} lg", '/', class: "btn btn-lg btn-#{key}" %>
<% end %>

<hr>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to key.to_s, '/', class: "btn btn-#{key} disabled", disabled: true %>
<% end %>

<div class='bg-grey-pale rounded p-2 my-2'>
  <h4>Outline</h4>
  <% Colours::PALETTE[:bootstrap].each do |key, _value| %>
    <%= link_to key.to_s, '/', class: "btn btn-outline-#{key}" %>
  <% end %>
  <hr>
  <% Colours::PALETTE[:bootstrap].each do |key, _value| %>
    <%= link_to key.to_s, '/', class: "btn btn-outline-#{key} disabled", disabled: true %>
  <% end %>

  <h4>Outline - transparent</h4>
    <% Colours::PALETTE[:bootstrap].each do |key, _value| %>
      <%= link_to key.to_s, '/', class: "btn btn-outline-#{key} transparent" %>
    <% end %>
  <hr>
  <% Colours::PALETTE[:bootstrap].each do |key, _value| %>
    <%= link_to key.to_s, '/', class: "btn btn-outline-#{key} transparent disabled", disabled: true %>
  <% end %>
</div>

<h4>btn-group</h4>
<span class='btn-group'>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to key.to_s, '/', class: "btn btn-#{key}" %>
<% end %>
</span>
<hr>
<span class='btn-group'>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to key.to_s, '/', class: "btn btn-outline-#{key}" %>
<% end %>
</span>

<h4>btn-group panel</h4>
<span class='btn-group panel'>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to key.to_s, '/', class: "btn btn-#{key}" %>
<% end %>
</span>
<hr>
<span class='btn-group panel'>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <%= link_to key.to_s, '/', class: "btn btn-outline-#{key}" %>
<% end %>
</span>

<h3>Badges</h1>

<h4>Bootstrap 4 syntax</h4>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <% classes = "badge badge-#{key}" %>
  <%= tag.span(classes, class: classes) %>
<% end %>

<h4>Bootstrap 5 syntax (requires adding text-dark for warning and light)</h4>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <% classes = "badge bg-#{key}" %>
  <% classes += ' text-dark' if %i[warning light].include?(key) %>
  <%= tag.span(classes, class: classes) %>
<% end %>

<h3>Badge pills</h1>

<h4>Bootstrap 4 syntax</h4>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <% classes = "badge badge-#{key} badge-pill" %>
  <%= tag.span(classes, class: classes) %>
<% end %>

<h4>Bootstrap 5 syntax (requires adding text-dark for warning and light)</h4>
<% Colours::PALETTE[:bootstrap].each do |key, _value| %>
  <% classes = "badge bg-#{key} rounded-pill" %>
  <% classes += ' text-dark' if %i[warning light].include?(key) %>
  <%= tag.span(classes, class: classes) %>
<% end %>

<h3>Links</h3>

<h4><%= link_to 'header link', '/', class: '' %></h4>

<%= link_to 'a link', '/', class: '' %>

<h3>Forms</h3>

<input type='checkbox' checked> Checkbox<br>
<input type='radio' checked> Radio<br>
<input type="range" name="cowbell" min="0" max="100" value="90" step="10" autocomplete='off'><br>
<progress id="file" max="100" value="70">70%</progress>

<hr>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked>
  <label class="custom-control-label" for="customCheck">Custom checkbox</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="customRadio" name="example2" value="customEx" checked>
  <label class="custom-control-label" for="customRadio">Custom radio</label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="switch1" checked>
  <label class="custom-control-label" for="switch1">Custom switch</label>
</div>

<h2>Colours</h2>

<div>
  <% Colours::PALETTE.each do |key, group| %>
    <% grouped, ungrouped = group.partition { |_, value| value.is_a?(Hash) }.map(&:to_h) %>
    <% grouped.each do |name, shades| %>
      <h3><%= key %>: <%= name %></h3>
      <div class="row no-gutters">
        <% shades.each do |shade, mapping| %>
          <%= render 'colour', name: "#{name}_#{shade}", map: mapping, hex: Colours.hex(mapping) %>
        <% end %>
      </div>
    <% end %>
    <% if ungrouped.any? %>
      <h3><%= key %></h3>
      <div class="row no-gutters">
        <% ungrouped.each do |name, value| %>
          <%= render 'colour', name: name, map: value, hex: Colours.hex(value) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <h2>Default Chart Colours</h2>
  <div class="row no-gutters">
    <% Colours::DEFAULT_CHART_COLOURS.each do |colour| %>
      <%= render 'colour', hex: colour %>
    <% end %>
  </div>
</div>

<div>
  <h2>Validated Meter Readings Colours</h2>
  <div class="row no-gutters">
    <% Colours::AMR_COLOURS.each do |colour| %>
      <%= render 'colour', hex: colour %>
    <% end %>
  </div>
</div>

<div>
  <h2>Transport Chart Colours</h2>
  <div class="row no-gutters">
    <% Colours::TRANSPORT_CHART_COLOURS.each do |colour| %>
      <%= render 'colour', hex: colour %>
    <% end %>
  </div>
</div>
