<%= render 'admin/reports/title', title: 'DCC Meter Status' %>

<h2>DCC Meter Summary</h2>

<p>There are currently <strong><%= @dcc_meters.count('meters.id') %></strong> DCC meters in the system, across
   <strong><%= @schools_count %> schools</strong>.</p>

<p>This table summarises the current status of all the DCC meters in the system. For a list of MPANs that n3rgy
   believe we can access, see <a href="#n3rgy-mpans">the following table</a></p>

<p>If a meter is shown as "Consented?" then we have informed n3rgy that we have been given consent, and are expecting
   to be able to receive data. We only set this value to true if we have successfully updated n3rgy.</p>

<p>The "Consent Confirmed?" column indicates whether n3rgy has recorded that we currently have
   consent to access  meter. If there's a discrepancy then there has been a problem at their end.</p>

<p><%= link_to 'Download as CSV', admin_reports_dcc_status_index_path(format: :csv), class: 'btn' %></p>

<% if @dcc_meters.any? %>
  <%= render 'admin/reports/column_table', columns: @columns, rows: @dcc_meters %>
<% end %>

<h2 id="n3rgy-mpans">N3rgy Consented MPANs</h2>

<p>The n3rgy API is currently reporting that we have access to the following <%= @mpxns.size %> MPANs on their
production system</p>

<% if @consent_lookup_error %>
  <p>There was an error looking up the list of consented mpans</p>
<% else %>
  <ul>
    <% @mpxns.sort.each do |mpan| %>
      <li><%= mpan %></li>
    <% end %>
  </ul>
<% end %>
