<% content_for :page_title, t('campaigns.find_out_more.title') %>

<header>
  <div class="row masthead" style="height: 600px;">
    <div class="col-7">
    </div>
    <div class="col-5 masthead-content">
      <div class="row pt-5">
        <div class="col">
          <h1 class='text-white'><%= t('campaigns.find_out_more.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col pr-5">
          <h3 class='text-white'><%= t('campaigns.find_out_more.sub_title') %></h3>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="application container home-block">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.benefits.costs') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.benefits.emissions') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.benefits.pupils') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2 text-center cta">
          <%= link_to t('campaigns.find_out_more.book_demo'),
                      book_demo_campaigns_path(utm_params_for_redirect),
                      class: 'btn btn-success' %>
          <%= link_to t('campaigns.find_out_more.find_out_more'),
                      more_information_campaigns_path(utm_params_for_redirect),
                      class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag('on-screen.jpg', class: 'img-fluid rounded-25') %>
    </div>
  </div>
</div>

<div class="row header-dark">
  <div class="col-md-12">
    <div class="application container home-block">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class='text-white'>
            <%= t('campaigns.find_out_more.learn_why.title',
                  school_count: marketing_school_count,
                  mat_count: marketing_mat_count) %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="application container home-block">
  <div class="row pb-5">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.costs.title') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.costs.sub_title') %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.costs.bullets').html_safe %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('campaigns.find_out_more.costs.case_study'),
                      case_study_link(@marketing_studies[:costs]),
                      class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-light-blue p-5 justify-content-center testimonial rounded-25">
            <blockquote class="quotes"><%= t('campaigns.find_out_more.costs.quote_html') %></blockquote>
            <figcaption class="quote-by">
              <strong><%= t('campaigns.find_out_more.costs.quote_source') %></strong>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class="col-md-5">
      <div class="row">
        <%= image_tag('laptop.jpg', class: 'img-fluid rounded-25') %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.tool.title') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.tool.sub_title_1') %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.tool.sub_title_2') %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to t('campaigns.find_out_more.tool.case_study'),
                      case_study_link(@marketing_studies[:tool]),
                      class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.pupils.title') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.pupils.sub_title_1', activities_count: marketing_activity_count) %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.pupils.sub_title_2') %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('campaigns.find_out_more.pupils.case_study'),
                      case_study_link(@marketing_studies[:pupils]),
                      class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-light-blue p-5 justify-content-center testimonial rounded-25">
            <blockquote class="quotes"><%= t('campaigns.find_out_more.pupils.quote') %></blockquote>
            <figcaption class="quote-by">
              <strong><%= t('campaigns.find_out_more.pupils.quote_source') %></strong>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class="col-md-5">
      <div class="row">
        <%= image_tag('pupil-carbon.jpg', class: 'img-fluid rounded-25') %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t('campaigns.find_out_more.emissions.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5><%= t('campaigns.find_out_more.emissions.sub_title_1') %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>
            <%= t('campaigns.find_out_more.emissions.sub_title_2') %>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to t('campaigns.find_out_more.emissions.case_study'),
                      case_study_link(@marketing_studies[:emissions]),
                      class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-light-blue">
  <div class="col-md-12">
    <div class="application container home-block">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial">
            <blockquote class="quotes"><%= t('campaigns.find_out_more.testimonial.quote') %></blockquote>
            <figcaption class="quote-by">
              <strong><%= t('campaigns.find_out_more.testimonial.quote_source') %></strong>
              <p class="very-small"><%= t('campaigns.find_out_more.testimonial.quote_job') %></p>
              <p class="very-small"><%= t('campaigns.find_out_more.testimonial.quote_organisation') %></p>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="application container home-block">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.final_prompt.question') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('campaigns.find_out_more.final_prompt.booking') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2 text-center cta">
          <%= link_to t('campaigns.find_out_more.book_demo'),
                      book_demo_campaigns_path(utm_params_for_redirect),
                      class: 'btn btn-success' %>
          <%= link_to t('campaigns.find_out_more.find_out_more'),
                      more_information_campaigns_path(utm_params_for_redirect),
                      class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag('whiteboard.jpg', class: 'img-fluid rounded-25') %>
    </div>
  </div>
</div>
