<% content_for :page_title, t('campaigns.more_info_final.title') %>

<div class="row">
  <div class="col-md-10">
    <h1><%= t('campaigns.more_info_final.title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <p>
      <%= t('campaigns.more_info_final.intro') %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <p>
      <%= t('campaigns.more_info_final.case_studies_html', case_study_link: case_studies_path) %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <p>
      <%= t('campaigns.more_info_final.video_html', video_link: 'https://www.youtube.com/watch?v=x2EeYWwdEpE') %>
    </p>
  </div>
</div>

<div class="row pb-4">
  <div class="col-md-10 d-flex align-items-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x2EeYWwdEpE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-10">
    <p>
      <%= t('campaigns.more_info_final.final') %>
    </p>
  </div>
</div>
