<% content_for :page_title, t('campaigns.school_demo.title') %>

<div class="container-fluid adult mb-4 py-4">
  <div class="container text-center">
    <h1><%= t('campaigns.school_demo.title') %></h1>
    <p><%= t('campaigns.school_demo.description_html', url: 'https://www.youtube.com/watch?v=F5bL1_HsI0U') %>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render Layout::GridComponent.new(cols: 1, classes: 'my-2', id: 'video') do |grid| %>
        <% grid.with_iframe classes: 'rounded-xl', column_classes: 'col-md-12',
                            src: 'https://www.youtube.com/embed/F5bL1_HsI0U', min_height: '420px' %>
      <% end %>
    </div>
  </div>

  <p class="small">
    <strong><%= t('campaigns.school_demo.alternative_question') %></strong>
    <%= t('campaigns.school_demo.alternative_answer_html', url: short_demo_video_campaigns_path(utm_params)) %>
  </p>

  <h2><%= t('campaigns.school_demo.next_steps.title') %></h2>
  <%= render PromptComponent.new(icon: :check, status: :neutral) do |prompt| %>
    <% prompt.with_title { t('campaigns.school_demo.next_steps.enrol.question') } %>
    <%= t('campaigns.school_demo.next_steps.enrol.answer_html', url: enrol_our_school_path(utm_params)) %>
  <% end %>
  <%= render PromptComponent.new(icon: :check, status: :neutral) do |prompt| %>
    <% prompt.with_title { t('campaigns.school_demo.next_steps.information_pack.question') } %>
    <%= t('campaigns.school_demo.next_steps.information_pack.answer_html', url: school_pack_campaigns_path(utm_params)) %>
  <% end %>
  <%= render PromptComponent.new(icon: :check, status: :neutral) do |prompt| %>
    <% prompt.with_title { t('campaigns.school_demo.next_steps.learn_more.question') } %>
    <%= t('campaigns.school_demo.next_steps.learn_more.answer_html',
          newsletters_url: newsletters_path(utm_params),
          schools_url: schools_path(utm_params)) %>
  <% end %>
</div>
