<% content_for :page_title, t('campaigns.video_demo.title') %>

<div class="container-fluid adult mb-4 py-4">
  <%= render Layout::GridComponent.new(cols: 2, classes: 'container p-4', id: 'hero') do |grid| %>
    <% grid.with_iframe classes: 'rounded-xl', cell_classes: 'pr-xl-4', src: 'https://www.youtube.com/embed/F5bL1_HsI0U' %>
    <% grid.with_feature_card size: :xl, cell_classes: 'my-auto pl-xl-4' do |feature| %>
      <%= feature.with_header title: t('campaigns.video_demo.title'), classes: 'mt-3 mt-lg-0' %>
      <%= feature.with_description { t('campaigns.video_demo.description_html', url: 'https://www.youtube.com/watch?v=F5bL1_HsI0U') } %>
    <% end %>
  <% end %>
</div>

<div class="container mb-5">
  <%= render Layout::Cards::SectionHeaderComponent.new(
        id: 'alternative'
      ) do |section_header| %>
    <%= section_header.with_header title: t('campaigns.video_demo.alternative_question') %>
    <%= section_header.with_description { t('campaigns.video_demo.alternative_answer_html', url: 'https://www.youtube.com/watch?v=lEiiEyAcVu4') } %>
  <% end %>

  <h2><%= t('campaigns.video_demo.next_steps.title') %></h2>
  <%= render PromptComponent.new(icon: :check, status: :neutral) do |prompt| %>
    <% prompt.with_title { t('campaigns.video_demo.next_steps.enrol.question') } %>
    <%= t('campaigns.video_demo.next_steps.enrol.answer_html', url: enrol_our_school_path(utm_params_for_redirect)) %>
  <% end %>
  <%= render PromptComponent.new(icon: :check, status: :neutral) do |prompt| %>
    <% prompt.with_title { t('campaigns.video_demo.next_steps.information_pack.question') } %>
    <%= t('campaigns.video_demo.next_steps.information_pack.answer_html', url: 'https://cdn.energysparks.uk/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcm9QIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f35fa3e3ed82dbc5b767f4dac2f6240a018da30c/Energy%20Sparks%20marketing%20flyer%20for%20schools%202024.pdf?disposition=inline') %>
<% end %>
  <%= render PromptComponent.new(icon: :check, status: :neutral) do |prompt| %>
    <% prompt.with_title { t('campaigns.video_demo.next_steps.learn_more.question') } %>
    <%= t('campaigns.video_demo.next_steps.learn_more.answer_html',
          newsletters_url: newsletters_path(utm_params_for_redirect),
          schools_url: schools_path(utm_params_for_redirect)) %>
  <% end %>

</div>
