<%= simple_form_for(consent_grant, url: path, method: :post) do |f| %>
  <%= f.hidden_field :consent_statement_id %>
  <%= f.input :name %>
  <%= f.input :job_title %>
  <%= f.input :school_name %>

  <div class="custom-control custom-checkbox agreements">
    <%= check_box_tag "privacy", false, false, class: 'custom-control-input multi-select must-check' %>
    <%= label_tag "privacy", "I give permission and confirm full agreement with the ", class: 'custom-control-label' %>
    <%= link_to 'terms and conditions', terms_and_conditions_path, target: "_blank" %>
  </div>

  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
<% end %>
