<p><%= t('consent.description') %></p>

<h4><%= t('consent.section_1_title') %></h4>

<p><%= t('consent.section_1_content_html') %></p>

<h4><%= t('consent.section_2_title') %></h4>

<%= t('consent.section_2_content_html', privacy_policy_link: link_to(t('common.privacy_policy'), privacy_and_cookie_policy_path, target: "_blank")) %>

<h4><%= t('consent.section_3_title') %></h4>

<%= t('consent.section_3_content_html', privacy_policy_link: link_to(t('common.privacy_policy'), privacy_and_cookie_policy_path, target: "_blank")) %>

<h4><%= t('consent.section_4_title') %></h4>

<%= t('consent.section_4_content_html', terms_and_conditions_link: link_to(t('common.terms_and_conditions'), terms_and_conditions_path, target: "_blank")) %>

<h4><%= t('consent.section_5_title') %></h4>

<%= t('consent.section_5_content_html', terms_and_conditions_link: link_to(t('common.terms_and_conditions'), terms_and_conditions_path, target: "_blank")) %>

<blockquote class="card bg-light">
  <div class="card-body">
    <%= @consent_grant.consent_statement.content %>
  </div>
</blockquote>
