<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Data sharing permission</h1>
    <p>To meet our requirements under the Smart Energy Code, please can you now give us formal permission for your school's energy data to be published to the Energy Sparks website.<p>

    <blockquote class="card bg-light">
      <div class="card-body">
        <%= @consent_grant.consent_statement.content %>
      </div>
    </blockquote>

    <%= simple_form_for(@consent_grant, url: onboarding_consent_path(@school_onboarding), method: :post) do |f| %>
      <%= f.hidden_field :consent_statement_id %>
      <%= f.input :name %>
      <%= f.input :job_title %>
      <%= f.input :school_name %>
      <%= f.button :submit, 'I give permission', class: 'btn btn-primary' %>
    <% end %>

    <h4 class="mt-3">Not sure?</h4>
    <p class="small">If you need more time to make a decision you can return to this page at any time using the link in the email. If you have any questions about the above permissions then you can <%= mail_to 'hello@energysparks.uk', 'email us'%> to discuss them.</p>
  </div>
</div>
