<%= component 'comparison_table',
              report: report, advice_page: advice_page, table_name: table_name, index_params: index_params,
              headers: headers, colgroups: colgroups, advice_page_tab: advice_page_tab do |c| %>
  <% @results.order(avg_week_start_time: :desc).each do |result| %>
    <% c.with_row do |row| %>
      <% row.with_school school: result.school %>
      <% if result.gas_economic_tariff_changed_this_year %>
        <% row.with_reference do %>
            <a href="#footnotes">(*5)</a>
        <% end %>
      <% end %>
      <% row.with_var { result.avg_week_start_time_to_time_of_day.to_s } %>
      <% row.with_var { result.average_start_time_hh_mm_to_time_of_day.to_s } %>
      <% row.with_var val: result.one_year_optimum_start_saving_gbpcurrent, unit: :£ %>
    <% end %>
  <% end %>
  <% c.with_footer do %>
    <tr>
      <td colspan="<%= headers.count %>">
        <a name="footnotes"><strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong></a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
        <%= t('analytics.benchmarking.configuration.column_heading_explanation.last_year_definition_html') %>
      </td>
    </tr>
  <% end %>
<% end %>
