<% if title %>
  <h4 class="chart-title"><%= title %></h4>
<% end %>

<% if subtitle %>
  <h5 class="chart-subtitle"><%= subtitle %></h5>
<% end %>

<% if header %>
  <p><%= header %></p>
<% end %>

<div id="chart_wrapper_<%= chart_type %>" class="chart-wrapper">
  <%= render 'shared/analysis_controls', chart_type: chart_type, axis_controls: true, analysis_controls: analysis_controls %>
  <%= chart_tag(school, chart_type, no_zoom: no_zoom, wrap: false, html_class: html_class, chart_config: chart_config) %>
</div>

<% if footer %>
  <p><%= footer %></p>
<% end %>
