<div class="page-nav w-100 collapse d-md-flex border rounded" id="page-nav">
  <ul class="nav flex-column flex-nowrap">
    <li class="nav-item header">
      <a class="nav-link" style="background-color: <%= bgcolor %>;" href="<%= href %>"><%= icon %> <%= name %></a>
    </li>
    <% sections.each do |section| %>
      <li class="nav-item section">
        <%= section %>
        <div class="collapse show" id="<%= section.id %>" aria-expanded="false">
          <ul class="flex-column pl-0">
            <% section.items.each do |item| %>
              <li class="nav-item">
                <%= item %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>