
<style>
  .page-nav .header {
    color: white;
    display: block;
  }
  .page-nav a {
    text-decoration: none;
  }
  .page-nav a:hover {
    text-decoration: underline;
  }
  .page-nav .section a {
    color: black;
    display: block;
  }
  .page-nav li {
    margin-top: 2px;
    display: block;
  }
  .page-nav li:not(:last-child) {
    display: block;
    border-bottom: 1px solid #dee2e6;
  }
</style>

<div class="page-nav">
  <ul class="list-unstyled components" style="border: 1px solid grey;">
    <span class="header p-1" style="background-color: <%= bgcolor %>;"><%= icon %> <%= name %></span>
    <% sections.each do |section| %>
    <li class="section">
      <%= section %>
      <ul class="list-unstyled collapse show" id="<%= section.id %>">
        <% section.items.each do |item| %>
          <%= item %>
        <% end %>
      </ul>
    <% end %>
  </ul>
</div>
