<h1>Calendar areas</h1>

<%= link_to 'New Calendar area', new_admin_calendar_area_path, class: 'btn btn-primary mb-3' %>


<table class="table table-striped">
  <% @calendar_areas.each do |parent_calendar_area| %>
    <thead>
      <tr>
        <th colspan=2 class="h2"><%= parent_calendar_area.title %></th>
      </tr>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% parent_calendar_area.child_areas.each do |calendar_area| %>
        <tr>
          <td><%= link_to calendar_area.title, admin_calendar_area_path(calendar_area) %></td>
          <td>
            <div class="btn-group">
              <% if calendar_area.calendars.regional.any? %>
                <%= link_to 'Regional calendar', calendar_path(calendar_area.calendars.regional.first), class: 'btn btn-warning btn-sm'%>
              <% end %>
              <% if calendar_area.calendars.national.any? %>
                <%= link_to 'National calendar', calendar_path(calendar_area.calendars.national.first), class: 'btn btn-warning btn-sm'%>
              <% end %>

              <%= link_to 'Edit', edit_admin_calendar_area_path(calendar_area), class: 'btn btn-primary btn-sm'%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
