<h1>Calendar areas</h1>

<%= link_to 'New Calendar area', new_admin_calendar_area_path, class: 'btn btn-primary mb-3' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @calendar_areas.each do |calendar_area| %>
      <tr>
        <td><%= link_to calendar_area.title, admin_calendar_area_path(calendar_area) %></td>
        <td><%= calendar_area.description %></td>
        <td>
          <div class="btn-group">
            <% if calendar_area.calendars.template.any? %>
              <%= link_to 'Template calendar', calendar_path(calendar_area.calendars.template.first), class: 'btn btn-warning btn-sm'%>
            <% end %>
            <%= link_to 'Edit', edit_admin_calendar_area_path(calendar_area), class: 'btn btn-primary btn-sm'%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

