<h1>New Calendar area</h1>

<%= simple_form_for @calendar_area, url: admin_calendar_areas_path  do |form| %>
  <%= form.input :parent_id, as: :select, collection: CalendarArea.where(parent_id: nil), include_blank: false %>
  <%= form.input :title, as: :string%>
  <%= simple_fields_for :terms do |terms| %>
    <%= terms.input :csv, as: :text, label: 'Terms CSV', hint: 'In CSV format with the headers "Term,Start Date,End Date"', required: false%>
  <% end %>
  <%= form.button :submit, 'Create Calendar area' %>
<% end %>
