<%= simple_form_for([:admin, activity_category]) do |f| %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :name do |locale| %>
    <%= f.input t_field(:name, locale), label: ActivityCategory.human_attribute_name(:name), as: :string %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
    <%= f.input t_field(:description, locale), label: ActivityCategory.human_attribute_name(:description), as: :string %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :image do |locale| %>
    <%= f.label 'Image' %>

    <p class="small">This image will appear in the list of categories.</p>
    <div class="upload-preview">
      <div class="col-md-3">
        <% t_image = ('image_' + locale.to_s).to_sym %>
        <% if !f.object.send(t_image).blank? %>
          <%= image_tag f.object.send(t_image), width: '300px' %>
        <% else %>
          <%= image_tag '1x1.png' %>
        <% end %>
      </div>
    </div>
    <%= f.input t_field(:image, locale), label: false %>
  <% end %>

  <%= f.input :featured, as: :boolean %>
  <%= f.input :pupil, as: :boolean %>
  <%= f.input :live_data, as: :boolean %>

  <%= f.submit class: 'btn' %>
<% end %>
