<%= render 'admin/reports/title', title: 'Recent audits' %>

<table class="table table-sorted dataTable table-sm">
  <thead>
    <tr>
      <th>School name</th>
      <th>Audit title</th>
      <th>Created on</th>
      <th>Published?</th>
      <th>Involved pupils</th>
      <th>Number of activities</th>
      <th>Number of actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recent_audits.each do |audit| %>
      <tr>
        <td><%= link_to audit.school.name, school_path(audit.school) %></td>
        <td><%= link_to audit.title, school_audit_path(audit.school, audit) %></td>
        <td data-order="<%= audit.created_at.iso8601 %>"><%= nice_dates(audit.created_at) %></td>
        <td class='text-center'>
          <% if audit.published %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td>
          <% if audit.involved_pupils %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <% if Flipper.enabled?(:todos, current_user) %>
          <td><%= audit.activity_type_todos.count %></td>
          <td><%= audit.intervention_type_todos.count %></td>
        <% else %>
          <td><%= audit.activity_types.count %></td>
          <td><%= audit.intervention_types.count %></td>
        <% end %>
        <td>
          <%= link_to 'Edit', edit_school_audit_path(audit.school, audit), class: 'btn btn-sm' %>
          <%= link_to 'Delete', school_audit_path(audit.school, audit),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
