<table id="comparison-table" class="table advice-table table-sorted">
  <thead class="sticky-heading">
    <tr>
      <th><%= t('analytics.benchmarking.configuration.column_headings.school') %></th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.last_year_electricity_£_pupil') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.last_year_electricity_£') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.saving_if_matched_exemplar_school') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |row| %>
      <tr>
        <td>
          <%= link_to row.school.name,
                      advice_page_path(row.school, advice_page, :insights) %>
        </td>
        <td class="text-right">
          <%= format_unit(row.one_year_electricity_per_pupil_gbp, :£, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(row.last_year_gbp, :£, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(row.one_year_saving_versus_exemplar_gbpcurrent, :£, true, :benchmark) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <p>
          <strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong>
        </p>
        <%= t('analytics.benchmarking.configuration.column_heading_explanation.last_year_definition_html') %>
      </td>
    </tr>
  </tfoot>
</table>
