<% content_for :page_title, "Explore daily usage by half hour for #{@school.name}" %>

<div class="container charts" id="hourly-usage">
  <div class="row">
    <div class="col-md-12">
      <h1>Daily usage by half hour</h1>
      <p>Explore how much energy you use per half hour <%= link_to @school.name, school_path(@school), id: "school" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= chart_tag(@school, nil, show_advice: false, html_class: 'usage-chart') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center" id="graph-explainer"></p>
    </div>
  </div>

  <%= form_tag "", method: :get, id: "chart-filter" do %>
    <%= hidden_field_tag :period, "daily" %>
    <%= hidden_field_tag :configuration, nil, data: @chart_config %>

    <div class="card-deck">
      <%= render partial: 'supply', locals: {current_supply: @supply, configuration: @chart_config} %>
      <%= render partial: 'comparison_type_card', locals: {current_supply: @supply, show_measurements: false} %>
      <%= render partial: 'whole_school_card',
        locals: { current_supply: @supply, school: @school, first_option: "First day", second_option: "Second day", week_picker: false } %>
      <%= render partial: 'within_school_card',
        locals: { current_supply: @supply, school: @school, date_option: "Which date shall we show?", week_picker: false } %>
    </div>
  <% end %>

  <%= render partial: 'interpretation', locals: {supply: @supply} %>

</div>
