<% content_for :page_title, t(@title_key) %>

<div class="d-flex justify-content-between align-items-center">
  <% if @split_meters %>
    <% if @period == :daily %>
      <h1>Compare your school's <strong><%= @supply.to_s %></strong> daily usage between different meters</h1>
    <% else %>
      <h1>Compare your school's <strong><%= @supply.to_s %></strong> weekly usage between different meters</h1>
    <% end %>
  <% else %>
    <% if @period == :daily %>
      <h1>Compare your school's <strong><%= @supply.to_s %></strong> usage between two different days</h1>
    <% else %>
      <h1>Compare your school's <strong><%= @supply.to_s %></strong> usage between two different weeks</h1>
    <% end %>
  <% end %>
  <div>
    <%= link_to 'Explore data', pupils_school_analysis_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
  </div>
</div>

<div class="charts">
  <div>
    <h3><%= t(@title_key)  %></h3>
  </div>

  <div class="row">
    <div class="col-md-12 chart-wrapper" id="chart_wrapper_#{@chart_type}">
      <%= render 'shared/analysis_controls', chart_type: @chart_type.to_s, analysis_controls: false, axis_controls: @show_measurements %>
      <%= chart_tag(@school, @chart_config[@period], show_advice: false, no_zoom: true, wrap: false, html_class: 'usage-chart') %>
    </div>
  </div>

  <%= form_tag "", method: :get, id: "chart-filter" do %>
    <%= hidden_field_tag :period, @period %>
    <%= hidden_field_tag :supply, @supply %>
    <%= hidden_field_tag :configuration, nil, data: {configuration: @chart_config} %>

    <div class="row justify-content-md-center">

      <div class="col-12 col-lg-3 col-md-4">
        <div class="<%= @supply %>-dark <%= @supply %>-dark-<%= @period %> p-2 mb-2">
          <%= label_tag 'first-date-picker', t("charts.usage.date_picker.#{@period}.first")%>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group date <%= 'week-view' if @period == :weekly %>" id="datetimepicker1" data-target-input="nearest">
                <%= text_field_tag("first-date-picker", '', class: 'form-control datetimepicker-input', data: { target: "#datetimepicker1" }) %>

                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% unless @split_meters %>
        <div class="col-12 col-lg-3 col-md-4">
          <div class="<%= @supply %>-light <%= @supply %>-light-<%= @period %> p-2 mb-2">
            <%= label_tag 'second-date-picker', t("charts.usage.date_picker.#{@period}.second")%>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group date <%= 'week-view' if @period == :weekly %>" id="datetimepicker2" data-target-input="nearest">
                  <%= text_field_tag("second-date-picker", '', class: 'form-control datetimepicker-input', data: { target: "#datetimepicker2" }) %>

                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end  %>

      <% unless @split_meters %>
        <% if @meters.count > 1 %>
          <div class="col-12 col-lg-3 col-md-4">
            <div class="<%= @supply %>-dark p-2 mb-2">
              <%= label_tag :meter, 'Which meter?'%>
              <div class="form-group">
                <%= select_tag :meter, content_tag(:option,'All Meters', value: "all") + options_from_collection_for_select(@meters, :mpan_mprn, :display_name, nil), class: "form-control" %>
              </div>
            </div>
          </div>
        <% else %>
          <%= hidden_field_tag :meter, 'all' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="row justify-content-md-center">
    <div class="col-md-auto mt-2">
      <%= @supply.to_s.titleize %> data is available from <%= nice_dates(@chart_config[:earliest_reading]) %> to <%= nice_dates(@chart_config[:last_reading]) %>
    </div>
  </div>
</div>
