<h1><%= @configuration.description %></h1>

<%= simple_form_for [:admin, @configuration] do |f| %>
  <%= f.input :import_warning_days %>
  <%= f.input :missing_readings_limit, hint: 'This is the maximum number of missing data points allowed in a day, above which the entire day will be ignored (without reporting)' %>
  <%= f.submit 'Update', class: 'btn'%>
<% end %>
