<% if @dashboard_user %>
  <% content_for :title do %>
    <%= "#{@dashboard_user.display_name}'s AMR Data Feed Configurations" %>
  <% end %>

  <%= render Elements::ButtonComponent.new('View all data feed configurations',
                                           admin_amr_data_feed_configs_path,
                                           style: :secondary,
                                           classes: 'mb-2 me-2') %>
<% else %>
  <h1>AMR Data Feed Configurations</h1>
<% end %>

<%= render TabsComponent.new do |component| %>
  <% component.with_tab(name: :overview, label: 'Overview') do %>
    <p>The following table provides a brief overview of each configuration.</p>
    <%= render 'overview_table', configurations: @configurations %>
  <% end %>
  <% component.with_tab(name: :details, label: 'Details') do %>
    <p>The following table provides a more detailed comparison of each configuration.
        Click on the name of the configuration to view all configuration options.</p>
    <%= render 'detail_table', configurations: @configurations %>
  <% end %>
<% end %>
