<%= tag.div id: id, class: classes do %>
  <%= header %>
  <%= quote %>
  <%= name %><%= " - #{role}".html_safe if role %>
  <%= location %>
  <div class='mt-3'>
    <% buttons.each do |button| %>
      <%= button %>
    <% end %>
  </div>
<% end %>
