<%= render 'header', title: "#{@school.name} Issues & Notes", issue: nil do %>
  <%= header_nav_link 'School group', admin_school_group_url(@school.school_group) if @school.school_group %>
<% end %>

<p>
  <%= link_to "#{fa_icon('exclamation-circle text-secondary')} New Issue".html_safe, new_admin_school_issue_path(@school, issue_type: :issue), class: 'btn btn-primary btn-sm' %>
  <%= link_to "#{fa_icon('sticky-note text-secondary')} New Note".html_safe, new_admin_school_issue_path(@school, issue_type: :note), class: 'btn btn-primary btn-sm' %>
</p>

<% if @issues.any? %>
  <div class="container">
  <% @issues.each do |issue| %>
    <%= render 'issue', issue: issue, index: true %>
  <% end %>
  </div>
  <%= render "shared/pagy_footer" %>
<% else %>
  <p>No issues or notes to display.</p>
<% end %>

