<p><%= link_to 'Download readings as CSV', admin_local_distribution_zones_path(format: :csv), class: 'btn' %></p>
<table class="table table-sorted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Publication ID</th>
      <th>Readings</th>
      <th>Earliest date</th>
      <th>Latest date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |zone| %>
      <tr>
        <td><%= link_to zone.name, admin_local_distribution_zone_path(zone) %></td>
        <td><%= zone.code %></td>
        <td><%= zone.publication_id %></td>
        <td><%= zone.readings.count %></td>
        <% earliest_date = zone.readings.by_date.first&.date %>
        <td data-order="<%= earliest_date&.iso8601 %>">
          <%= nice_dates(earliest_date) %>
        </td>
        <% latest_date = zone.readings.by_date.last&.date %>
        <td data-order="<%= latest_date&.iso8601 %>">
          <%= nice_dates(latest_date) %>
        </td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Edit', edit_admin_local_distribution_zone_path(zone), class: 'btn btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
