<h1 class="mb-2"><%= t('school_archived_mailer.archived.title') %></h1>
<div class="mb-4"><%= t('school_archived_mailer.archived.has_been_archived', school: @school.name) %></div>
<div class="mb-4"><%= t('school_archived_mailer.archived.your_account') %></div>
<div class="mb-4"><%= t('school_archived_mailer.archived.we_would_love_html') %></div>
<div class="mb-4"><%= t('school_archived_mailer.archived.newsletters') %></div>
