<div class="<%= class_names('d-flex justify-content-between', local_assigns[:container_classes]) %>">
  <%= form_with url: path, method: :get do |f| %>
    <div>
      <label class="mr-2"><%= t('school_groups.show.change_units') %>:</label>
      <% %w[change usage cost co2].each do |metric| %>
        <div class="form-check form-check-inline">
          <%= f.radio_button :metric, metric, onclick: 'this.form.submit();', class: 'form-check-input',
                                              checked: radio_button_checked_for(metric) %>
          <%= f.label :metric, t("school_groups.show.metric.#{metric}"), value: metric, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= link_to t('school_groups.download_as_csv'), school_group_path(school_group, format: :csv),
                class: 'btn btn-sm btn-default' %>
  </div>
</div>
