<div class="row mt-4">
  <div class="col-md-12">
    <%= t('school_groups.priority_actions.intro_html') %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class='text-right'>
      <%= link_to t('school_groups.download_as_csv'),
                  polymorphic_path(path, params: { format: :csv }),
                  class: 'btn btn-sm btn-default',
                  id: 'download-priority-actions-school-group-csv' %>
    </div>

    <table id="school-group-priorities"
           class="table table-borderless table-sorted advice-table advice-priority-table">
      <thead>
        <tr>
          <th colspan="3"></th>
          <th colspan="3"><%= t('advice_pages.index.priorities.table.columns.savings') %></th>
        </tr>
        <tr>
          <th><%= t('advice_pages.index.priorities.table.columns.fuel_type') %></th>
          <th data-orderable="false"></th>
          <th class="text-right"><%= t('components.breadcrumbs.schools') %></th>
          <th class="text-right"><%= t('advice_pages.index.priorities.table.columns.kwh_saving') %></th>
          <th class="text-right"><%= t('advice_pages.index.priorities.table.columns.cost_saving') %></th>
          <th class="text-right"><%= t('advice_pages.index.priorities.table.columns.co2_reduction') %></th>
        </tr>
      </thead>
      <tbody>
        <% total_savings.each do |alert_type_rating, savings| %>
          <tr>
            <td data-order="<%= alert_type_rating.alert_type.fuel_type %>">
              <span class="<%= fuel_type_class(alert_type_rating.alert_type.fuel_type) %>">
                <%= fa_icon alert_type_icon(alert_type_rating.alert_type, 'fa-2x') %>
              </span>
            </td>
            <td>
              <%= render FootnoteModalComponent::Link.new(modal_id: "action-#{alert_type_rating.id}") do %>
                <%= alert_type_rating.current_content.management_priorities_title %>
              <% end %>
              <%= render FootnoteModalComponent.new(
                    title: alert_type_rating.current_content.management_priorities_title.to_plain_text,
                    modal_id: "action-#{alert_type_rating.id}",
                    modal_dialog_classes: 'modal-xl modal-dialog-centered'
                  ) do |component| %>
                <% component.with_body_content do %>
                  <%= render 'school_groups/advice/priority_action_modal',
                             path: path,
                             alert_type_rating: alert_type_rating,
                             savings: savings,
                             school_group: school_group,
                             priority_actions: priority_actions %>
                <% end %>
              <% end %>
            </td>
            <td class="text-right">
                <%= savings.schools.length %>
            </td>
            <td class="text-right" data-order="<%= savings.one_year_saving_kwh %>">
                <%= format_unit(savings.one_year_saving_kwh, :kwh) %>
            </td>
            <td class="text-right" data-order="<%= savings.average_one_year_saving_gbp %>">
                <%= format_unit(savings.average_one_year_saving_gbp, :£) %>
            </td>
            <td class="text-right" data-order="<%= savings.one_year_saving_co2 %>">
                <%= format_unit(savings.one_year_saving_co2, :co2) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
