<%= render 'school_groups/advice/metric_selection', school_group: school_group, path: path %>

<table id="school-group-recent-usage"
       width="100%"
       class="mt-3 table advice-table table-sorted">
  <thead>
    <tr>
      <th></th>
      <% if can?(:update_settings, school_group) %>
        <th></th>
      <% end %>
      <% if fuel_types.include?(:electricity) %>
        <th colspan="2" class="text-center">
          <%= fa_icon fuel_type_icon(:electricity) %> <%= t('common.electricity') %>
        </th>
      <% end %>
      <% if fuel_types.include?(:gas) %>
        <th colspan="2" class="text-center">
          <%= fa_icon fuel_type_icon(:gas) %> <%= t('common.gas') %>
        </th>
      <% end %>
      <% if fuel_types.include?(:storage_heaters) %>
        <th colspan="2" class="text-center">
          <%= fa_icon fuel_type_icon(:storage_heaters) %> <%= t('common.storage_heaters') %>
        </th>
      <% end %>
    </tr>
    <tr>
      <th colspan="1"><%= t('common.school') %></th>
      <% if can?(:update_settings, school_group) %>
        <th><%= t('school_groups.clusters.labels.cluster') %></th>
      <% end %>
      <% if fuel_types.include?(:electricity) %>
        <th class="text-right"><%= t('common.labels.last_week') %></th>
        <th class="text-right"><%= t('common.labels.last_year') %></th>
      <% end %>
      <% if fuel_types.include?(:gas) %>
        <th class="text-right"><%= t('common.labels.last_week') %></th>
        <th class="text-right"><%= t('common.labels.last_year') %></th>
      <% end %>
      <% if fuel_types.include?(:storage_heaters) %>
        <th class="text-right"><%= t('common.labels.last_week') %></th>
        <th class="text-right"><%= t('common.labels.last_year') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% schools.order(:name).each do |school| %>
      <tr>
        <td>
          <%= link_to school.name, school_path(school) %>
        </td>
        <% if can?(:update_settings, school_group) %>
          <td>
            <%= school.school_group_cluster_name %>
          </td>
        <% end %>
        <% if school.data_enabled %>
          <% recent_usage = school&.recent_usage %>
          <% if fuel_types.include?(:electricity) %>
            <% if recent_usage&.electricity&.week&.has_data %>
              <td class="text-right <%= recent_usage&.electricity&.week&.message_class %>"
                  data-order="<%= value_for(recent_usage&.electricity&.week, formatted: false) %>">
                <%= up_downify(value_for(recent_usage&.electricity&.week, formatted: true)) %>
              </td>
            <% else %>
              <td class="text-right" data-order="0">-</td>
            <% end %>

            <% if recent_usage&.electricity&.year&.has_data %>
              <td class="text-right <%= recent_usage&.electricity&.year&.message_class %>"
                  data-order="<%= value_for(recent_usage&.electricity&.year, formatted: false) %>">
                <%= up_downify(value_for(recent_usage&.electricity&.year, formatted: true)) %>
              </td>
            <% else %>
              <td class="text-right" data-order="0">-</td>
            <% end %>
          <% end %>

          <% if fuel_types.include?(:gas) %>
            <% if recent_usage&.gas&.week&.has_data %>
              <td class="text-right <%= recent_usage&.gas&.week&.message_class %>"
                  data-order="<%= value_for(recent_usage&.gas&.week, formatted: false) %>">
                <%= up_downify(value_for(recent_usage&.gas&.week, formatted: true)) %>
              </td>
            <% else %>
              <td class="text-right" data-order="0">-</td>
            <% end %>
            <% if recent_usage&.gas&.year&.has_data %>
              <td class="text-right <%= recent_usage&.gas&.year&.message_class %>"
                  data-order="<%= value_for(recent_usage&.gas&.year, formatted: false) %>">
                <%= up_downify(value_for(recent_usage&.gas&.year, formatted: true)) %>
              </td>
            <% else %>
              <td class="text-right" data-order="'0'">-</td>
            <% end %>
          <% end %>

          <% if fuel_types.include?(:storage_heaters) %>
            <% if recent_usage&.storage_heaters&.week&.has_data %>
              <td class="text-right <%= recent_usage&.storage_heaters&.week&.message_class %>"
                  data-order="<%= value_for(recent_usage&.storage_heaters&.week, formatted: false) %>">
                <%= up_downify(value_for(recent_usage&.storage_heaters&.week, formatted: true)) %>
              </td>
            <% else %>
              <td class="text-right" data-order="'0'">-</td>
            <% end %>
            <% if recent_usage&.storage_heaters&.year&.has_data %>
              <td class="text-right <%= recent_usage&.storage_heaters&.year&.message_class %>"
                  data-order="<%= value_for(recent_usage&.storage_heaters&.year, formatted: false) %>">
                <%= up_downify(value_for(recent_usage&.storage_heaters&.year, formatted: true)) %>
              </td>
            <% else %>
              <td class="text-right" data-order="'0'">-</td>
            <% end %>
          <% end %>
        <% else %>
          <% (fuel_types.reject { |f| f == :solar_pv }.length * 2).times do %>
            <td class="text-right" data-order="'0'">-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
