<%= render 'school_groups/advice/shared/advice_page',
           page_title: t('school_groups.advice.show.title'),
           school_group: @school_group,
           page_subtitle: t('school_groups.advice.show.subtitle_html') do %>
  <%= render 'school_groups/advice/shared/message', school_group: @school_group %>

  <%= render Charts::GroupDashboardChartsComponent.new(
        id: 'explore-energy-data',
        school_group: @school_group,
        classes: 'mb-4'
      ) do |c| %>
    <% c.with_title do %>
      <h2>
        <%= t('school_groups.show.energy_use.title') %>
      </h2>
    <% end %>
    <% c.with_extra_note do %>
      <%= t('school_groups.show.chart_note') %>
    <% end %>
  <% end %>

<% end %>
