<% content_for :page_title, "#{t('advice_pages.index.title')} | #{@school_group.name}" %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: t('school_groups.advice.show.title'),
        subtitle: t('school_groups.advice.show.subtitle_html')
      ) %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div id="group-advice-page-nav" class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'school_groups/advice/shared/nav', school_group: @school_group %>
    </div>
    <div id='group-advice-page-content' class="col-md-9 col-lg-9 col-xl-10">
      <h2>
        <%= t('school_groups.advice.show.recent_energy_use.title') %>
      </h2>
      <%= render 'school_groups/advice/shared/message', school_group: @school_group %>

      <%= render Dashboards::GroupEnergySummaryComponent.new(
            school_group: @school_group,
            schools: @schools,
            fuel_types: @fuel_types,
            metric: params[:metric],
            show_clusters: can?(:update_settings, @school_group)
          ) do |summary| %>
          <% summary.with_modal_link do %>
            <%= render FootnoteModalComponent::Link.new(modal_id: 'analysis-footnotes') do %>
              <%= t('advice_pages.how_have_we_analysed_your_data.link_title') %>
              <%= fa_icon('question-circle', class: 'text-primary') %>
            <% end %>
          <% end %>
          <% summary.with_footer do %>
            <%= render(FootnoteModalComponent.new(
                         title: t('advice_pages.how_have_we_analysed_your_data.page_title'),
                         modal_id: 'analysis-footnotes'
                       )) do |component| %>
              <% component.with_body_content do %>
                <%= t('school_groups.advice_pages.how_have_we_analysed_your_data.summary_table_notes_html') %>
                <%= render 'school_groups/advice/shared/how_have_we_analysed_your_data',
                           school_group: @school_group,
                           schools: @schools,
                           fuel_types: @fuel_types %>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
