<% content_for :page_title, "#{t('advice_pages.index.title')} | #{@school_group.name}" %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: t('school_groups.advice.show.title'),
        subtitle: t('school_groups.advice.show.subtitle_html')
      ) %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div id="group-advice-page-nav" class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'school_groups/advice/shared/nav', school_group: @school_group %>
    </div>
    <div id='group-advice-page-content' class="col-md-9 col-lg-9 col-xl-10">
      <%= render 'school_groups/advice/shared/message', school_group: @school_group %>

      <h2>
        <%= t('school_groups.advice.show.recent_energy_use.title') %>
      </h2>
      <%= render Dashboards::GroupEnergySummaryComponent.new(
            school_group: @school_group,
            schools: @schools,
            fuel_types: @fuel_types,
            metric: params[:metric],
            show_clusters: can?(:update_settings, @school_group)
          ) %>
    </div>
  </div>
</div>
