<%= render 'school_groups/advice/shared/advice_page',
           page_title: t('school_groups.advice.show.title'),
           school_group: @school_group,
           page_subtitle: t('school_groups.advice.show.subtitle_html') do %>
  <h2>
    <%= t('school_groups.advice.show.recent_energy_use.title') %>
  </h2>
  <%= render 'school_groups/advice/shared/message', school_group: @school_group %>

  <% cache_if can_cache_group_advice?(@schools),
              group_advice_cache_key(@school_group, [params[:metric] || :change]),
              expires_in: SchoolGroups::AdviceController::CACHE_TIME do %>
    <%= render Dashboards::GroupEnergySummaryComponent.new(
          school_group: @school_group,
          schools: @schools,
          fuel_types: @fuel_types,
          metric: params[:metric],
          classes: 'mt-2',
          show_clusters: can?(:update_settings, @school_group)
        ) do |summary| %>
        <% summary.with_modal_link do %>
          <%= render 'school_groups/advice/shared/analysis_footnotes_link' %>
        <% end %>
        <% summary.with_footer do %>
          <%= render 'school_groups/advice/shared/analysis_footnotes',
                     school_group: @school_group,
                     schools: @schools,
                     fuel_types: @fuel_types,
                     extra_notes:
                      t('school_groups.advice_pages.how_have_we_analysed_your_data.summary_table_notes_html') %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
