<%= render 'schools/advice/section_title', section_id: 'comparison', section_title: t('advice_pages.heating_control.insights.comparison.title') %>

<p>
  <%= t('advice_pages.heating_control.insights.comparison.more_detail_html') %>
</p>

<ul>
  <li>
    <a href="<%= benchmark_for_school_group_path(:heating_coming_on_too_early, school) %>">
      <%= t('advice_pages.heating_control.insights.comparison.start_time_comparison_link') %>
    </a>
  </li>
  <li>
    <a href="<%= benchmark_for_school_group_path(:heating_in_warm_weather, school) %>">
      <%= t('advice_pages.heating_control.insights.comparison.heating_on_comparison_link') %>
    </a>
  </li>
</ul>
