<div class="charts">
  <%= component 'chart', chart_type: :gas_heating_season_intraday_up_to_1_year, school: school, html_class: 'usage-chart', chart_config: create_chart_config(school, :gas_heating_season_intraday_up_to_1_year, meters.first.mpan_mprn) do |c| %>
    <% c.with_subtitle { '' } %>
    <% c.with_header do %>
      <%= form_tag "", method: :get, id: "chart-filter" do %>
        <%= hidden_field_tag :configuration, nil, data: {configuration: create_chart_config(school, :gas_heating_season_intraday_up_to_1_year)} %>
        <%= hidden_field_tag :descriptions, nil, data: {descriptions: create_chart_descriptions('advice_pages.heating_control.analysis.meter_breakdown.chart_subtitle_html', date_ranges_by_meter)} %>
        <div class="row">
          <div class="col-md-6">
            <p><%= t('advice_pages.heating_control.analysis.meter_breakdown.select') %></p>
          </div>
          <div class="col-md-6 form-group">
            <%= select_tag :meter, options_from_collection_for_select(meters, :mpan_mprn, :name_or_mpan_mprn, meters.first.mpan_mprn), include_blank: false, class: "form-control" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
