<% content_for :page_title, "Email and SMS for #{@school.name}" %>

<div class="row padded-row">
  <div class="col-md-12">
    <h1>Alert Subscription Events</h1>
    <h2><%= link_to @school.name, @school %></h2>
    <p>These are all the actions taken by Energy Sparks for your alert subscriptions</p>
    <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %></p>
  </div>
</div>

<div class="row">
  <% if @pending_emails.any? %>
    <h3>Pending email alerts</h3>
    <%= render 'table', school: @school, alert_subscription_events: @pending_emails %>
  <% else %>
    <p>There are no pending emails</p>
  <% end %>
</div>

<div class="row">
  <% if @pending_sms.any? %>
    <h3>Pending SMS</h3>
    <%= render 'table', school: @school, alert_subscription_events: @pending_sms %>
  <% else %>
    <p>There are no pending SMS</p>
  <% end %>
</div>

<div class="row">
  <% if @sent_emails.any? %>
    <h3>Sent email alerts</h3>
    <%= render 'table', school: @school, alert_subscription_events: @sent_emails %>
  <% else %>
    <p>There are no sent emails</p>
  <% end %>
</div>

<div class="row">
  <% if @sent_sms.any? %>
    <h3>Sent SMS</h3>
    <%= render 'table', school: @school, alert_subscription_events: @sent_sms %>
  <% else %>
    <p>There are no sent SMS</p>
  <% end %>
</div>

