<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Emails and SMS" do %>

<div class="row padded-row">
  <div class="col-md-12">
    <p>Messages sent on <%= nice_date_times(@subscription_generation_run.created_at) %></p>
    <%= link_to 'All alert runs', school_subscription_generation_runs_path(@school) %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Contact</th>
        <th>Alert Type</th>
        <th>Created At</th>
        <th>Error Message</th>
        <th>Sent on</th>
        <th>Sent message</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <%= render 'table', school: @school, alert_subscription_events: @sent_emails, name: 'Sent emails' %>
    <%= render 'table', school: @school, alert_subscription_events: @sent_sms, name: 'Sent SMS' %>
    <%= render 'table', school: @school, alert_subscription_events: @pending_emails, name: 'Pending emails' %>
    <%= render 'table', school: @school, alert_subscription_events: @pending_sms, name: 'Pending SMS' %>
  </table>
</div>

<% end %>
