<%= tag.div id: id, class: classes do %>
  <% if title? %>
    <div class="row">
      <div class="col-12">
        <%= title %>
      </div>
    </div>
  <% end %>
  <% if intro? || link? %>
    <div class="row">
      <div class="col d-flex flex-wrap justify-content-between align-items-center">
        <% if intro? %>
          <div><%= intro %></div>
        <% end %>
        <% if link? %>
          <div><%= link %></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <%= body %>
    </div>
  </div>
<% end %>
