<h1><%= t('manage_school_menu.manage_manual_readings') %></h1>
<% if @school.manual_readings.empty? %>
  <p><%= t('schools.manual_readings.enough_data') %></p>
<% else %>
  <%= t('schools.manual_readings.intro_html') %>
  <% if @current_target %>
    <p><%= t('schools.manual_readings.completed', start_date: @current_target.start_date.to_fs(:es_long)) %></p>
  <% end %>
  <%= simple_form_for @school, url: [@school, :manual_readings] do |f| %>
    <div class="row mb-2">
      <div class="col-md-2"><strong><%= t('common.labels.date') %></strong></div>
      <% @meter_start_dates.each do |fuel_type, months| %>
        <div class="col-md-2"><strong><%= t("common.#{fuel_type}") %></strong></div>
      <% end %>
    </div>
    <%= f.simple_fields_for :manual_readings, @readings do |reading_form| %>
      <div class="row">
        <div class="col-md-2">
          <% if reading_form.object.month %>
            <%= reading_form.hidden_field :month %>
            <%= I18n.l(reading_form.object.month, format: '%B %Y') %>
          <% else %>
            <%= reading_form.input :month, label: false, discard_day: true, end_year: Date.current.year %>
          <% end %>
        </div>
        <% @meter_start_dates.each do |fuel_type, months| %>
          <div class="col-md-2">
            <%= if show_fuel_input(fuel_type, reading_form.object.month)
                  reading_form.input fuel_type, label: false
                else
                  '-'
                end %></td>
          </div>
        <% end %>
        <div class="col-md-1"><%= reading_form.input :_destroy, as: :boolean, label: t('common.labels.remove') %></div>
      </div>
    <% end %>
    <div class="mb-4"><%= f.submit t('common.labels.save'), class: 'btn btn-primary' %></div>
    <p><%= t('schools.manual_readings.not_required') %></p>
  <% end %>
<% end %>
