<div class="row">
  <div class="col">
    <div class="charts">
    <%= render ChartComponent.new chart_type: :management_dashboard_group_by_week_electricity,
                                  axis_controls: true,
                                  analysis_controls: true,
                                  html_class: 'usage-chart',
                                  school: default_school do |c| %>
      <% c.with_header do %>
        <%= form_tag '', method: 'GET', id: 'chart-filter', class: 'form' do |f| %>
          <%= hidden_field_tag :configuration,
                               nil,
                               data: { configuration: default_configuration } %>

          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="text-align-center mr-1">
                <%= t('components.selectable_school_charts_component.chart_selection_fuel_type') %>
              </span>
              <% @fuel_types.each_with_index do |fuel_type, index| %>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio"
                         name="chart_selection_fuel_type"
                         id="chart_selection_fuel_type-<%= fuel_type %>"
                         data-fuel-type="<%= fuel_type %>"
                         class="custom-control-input"
                         <%= 'checked' if index.zero? %>>
                  <label class="custom-control-label"
                         for="chart_selection_fuel_type-<%= fuel_type %>"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Change fuel type to <%= fuel_type %>">
                         <%= t(fuel_type, scope: 'common') %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= label_tag :chart_selection_chart_type,
                            t('components.selectable_school_charts_component.chart_selection_chart_type') %>

              <select id="chart_selection_chart_type" name="chart_selection_chart_type" class='form-control select2'>
                <% @charts.each do |fuel_type, chart_config| %>
                  <% next unless @fuel_types.include?(fuel_type) %>
                  <% chart_config.each do |chart_type, config| %>
                    <option value="<%= chart_type %>"
                            data-fuel-type="<%= fuel_type %>"
                            <%= 'disabled hidden' unless fuel_type == @fuel_types.first %>>
                            <%= config[:label] %>
                    </option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= label_tag :chart_selection_school_id,
                            t('components.selectable_school_charts_component.chart_selection_school_id') %>

              <select id="chart_selection_school_id" name="chart_selection_school_id" class='form-control select2'>
                <% @schools.each do |school| %>
                  <option value="<%= school.slug %>"
                          data-fuel-type="<%= fuel_types_for_school(school) %>"
                          <%= 'disabled hidden' unless school.has_electricity? %>>
                          <%= school.name %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
