<%= simple_form_for([:admin, programme_type]) do |f| %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :title do |locale| %>
    <%= f.input t_field(:title, locale), label: ProgrammeType.human_attribute_name(:title), as: :string %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :image do |locale| %>
    <%= f.label 'Image' %>

    <p class="small">This image will appear in the list of programmes.</p>
    <div class="upload-preview">
      <div class="col-md-3">
        <% t_image = "image_#{locale}".to_sym %>
        <% if !f.object.send(t_image).blank? %>
          <%= image_tag f.object.send(t_image), width: '300px' %>
        <% else %>
          <%= image_tag '1x1.png' %>
        <% end %>
      </div>
    </div>

    <%= f.input t_field(:image, locale), label: false %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :short_description do |locale| %>
    <%= f.input t_field(:short_description, locale), label: ProgrammeType.human_attribute_name(:short_description),
                                                     as: :string %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
    <%= f.label 'Description', for: :description %>
    <div class="trix-wrapper">
      <%= f.rich_text_area t_field(:description, locale) %>
    </div>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :document_link do |locale| %>
    <%= f.input t_field(:document_link, locale), label: ProgrammeType.human_attribute_name(:document_link), as: :string %>
  <% end %>

  <%= f.input :bonus_score %>
  <%= f.input :active %>
  <%= f.input :default %>

  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
