<h1><%= @programme_type.title %></h1>
<h2>Bonus score: <%= @programme_type.bonus_score %></h2>

<h2>Image</h2>

<% if I18n.locale.to_s == 'cy' && @programme_type.t_attached(:image, :cy).present? %>
  <p><%= image_tag @programme_type.image_cy, width: '300px', class: 'programme_type_image' %></p>
<% elsif @programme_type.t_attached(:image, :en).present? %>
  <p><%= image_tag @programme_type.image_en, width: '300px', class: 'programme_type_image' %></p>
<% end %>

<h2>Description</h2>
<p><%= @programme_type.description %></p>

<h2>Activities</h2>
<ol id="activity-type-tasks">
  <% @programme_type.activity_type_tasks.each do |activity_type| %>
    <li><%= link_to activity_type.name, activity_type_path(activity_type) %></li>
  <% end %>
</ol>
<h2>Actions</h2>
<ol id="intervention-type-tasks">
  <% @programme_type.intervention_type_tasks.each do |intervention_type| %>
    <li><%= link_to intervention_type.name, intervention_type_path(intervention_type) %></li>
  <% end %>
</ol>

<p>
  <%= link_to 'Edit activities & actions',
              edit_admin_programme_type_todos_path(@programme_type),
              class: 'btn btn-warning btn-sm nowrap' %>
</p>
<p><%= link_to 'All programme types', admin_programme_types_path, class: 'btn btn-primary' %></p>
