<h1><%= @weather_station.title %> Report</h1>

<p><%= link_to 'All reports', admin_reports_path, class: 'btn' %></p>

<h2>Temperature data summary</h2>

<% if @first_reading.nil? %>
  <strong>There are currently no readings for this location</strong>
<% else %>
  <p>This report summarises the temperature data from <%= nice_dates(@first_reading.reading_date) %> up until the present day.</p>
<% end %>

<div id="calendar" class="calendar"></div>

<div class='calendar-legend row'>
  <div class='legend-scale vertical'>
    <ul class='legend-labels'>
      <li><span style='background:<%= Colours.hex(:red_medium) %>;'></span>Average Temperature > 20.0</li>
      <li><span style='background:<%= Colours.hex(:yellow_medium) %>;'></span>
        Average Temperature > <%= AnalyseHeatingAndHotWater::HeatingModelTemperatureSpace::BALANCE_POINT_TEMPERATURE %>
      </li>
      <li><span style='background:<%= Colours.hex(:teal_medium) %>;'></span>Average Temperature > 5.0</li>
      <li><span style='background:<%= Colours.hex(:blue_medium) %>;'></span>Average Temperature &lt; 5.0</li>
      <li><span style='background:<%= Colours.hex(:red_dark) %>;'></span>Missing day</li>
    </ul>
  </div>
</div>
