<h1>Report for <%= @title %></h1>

<p><%= link_to 'All reports', admin_reports_path, class: 'btn' %></p>

<h2>Missing days summary</h2>

<% if @first_read.nil? %>
  <strong>There are currently no readings for this location</strong>
<% else %>
  <p>Dates start at date of first recorded reading, <%= nice_dates @first_read.reading_date %>, up until the present day.</p>
<% end %>

<div id="calendar" class="calendar"></div>

<div class='calendar-legend row'>
  <div class='legend-scale vertical'>
    <ul class='legend-labels'>
      <li><span style='background:rgb(255,172,33);'></span>Partial data</li>
      <li><span style='background:rgb(92,184,92);'></span>Full data</li>
      <li><span style='background:rgb(255,69,0);'></span>Missing day</li>
    </ul>
  </div>
</div>

<div class="row">
  <ul>
    <% @missing_array.group_by { |m| m[0].year }.each do |year| %>
      <h3><%= year[0] %></h3>
      <% year[1].each do |missing| %>
        <li><%= "#{nice_dates(missing[0])} #{missing[1]}" %></li>
      <% end %>
    <% end if @missing_array %>
  </ul>
</div>
