<div class="row mt-4">
  <div class="col">
    <div class="energy_tariff">
      <%= t('schools.user_tariffs.index.introduction_html', advice_pages: school_advice_path(@school)) if @school %>

      <p><%= t('schools.user_tariffs.index.changes_to_cost_calculations_message') %></p>

      <div class="row">
        <div class="col">
          <% if @electricity_meters&.any? %>
            <h4>
              <span class="<%= fuel_type_class(:electricity) %>">
                <%= fa_icon( fuel_type_icon(:electricity) ) %>
              </span>
              <%= t('schools.user_tariffs.index.electricity.header') %>
            </h4>

            <% if @electricity_tariffs&.any? %>
              <%= render 'energy_tariffs_summary_table', tariffs: @electricity_tariffs, school: @school %>
            <% else %>
              <p><%= t('schools.user_tariffs.index.electricity.there_are_no_electricity_tariffs_set_up_yet') %></p>
              <p>
                <% if @electricity_meters&.dcc&.any? %>
                  <%= t('schools.user_tariffs.index.note_about_smart_meter_tariffs') %>
                <% else %>
                  <%= t('schools.user_tariffs.index.note_about_defaults') %>
                <% end %>
              </p>
            <% end %>
            <div class="mt-4">
              <%= link_to t('schools.user_tariffs.index.electricity.add_label'), choose_meters_school_energy_tariffs_path(@school, meter_type: :electricity), class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <% if @gas_meters&.any? %>
            <h4>
              <span class="<%= fuel_type_class(:gas) %>">
                <%= fa_icon( fuel_type_icon(:gas) ) %>
              </span>
              <%= t('schools.user_tariffs.index.gas.header') %>
            </h4>
            <% if @gas_tariffs.any? %>
              <%= render 'energy_tariffs_summary_table', tariffs: @gas_tariffs, school: @school %>
            <% else %>
              <p><%= t('schools.user_tariffs.index.gas.there_are_no_gas_tariffs_set_up_yet') %></p>
              <p>
                <% if @gas_meters.dcc.any? %>
                  <%= t('schools.user_tariffs.index.note_about_smart_meter_tariffs') %>
                <% else %>
                  <%= t('schools.user_tariffs.index.note_about_defaults') %>
                <% end %>
              </p>
            <% end %>
            <div>
              <%= link_to t('schools.user_tariffs.index.gas.add_label'), choose_meters_school_energy_tariffs_path(@school, meter_type: :gas), class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
