<%= component 'energy_tariffs',
  tariff_holder: tariff_holder,
  tariff_types: tariff_types,
  show_actions: show_actions,
  show_add_button: show_add_button,
  default_tariffs: default_tariffs do |c| %>
  <% c.with_header do %>
    <%= t('schools.user_tariffs.index.introduction_html', advice_pages: school_advice_path(tariff_holder)) if tariff_holder.school? %>
    <p><%= t('schools.user_tariffs.index.changes_to_cost_calculations_message') %></p>
  <% end %>
  <% c.with_footer do %>
    <p>
      <% if tariff_holder.school? && @electricity_meters&.dcc&.any? %>
        <%= t('schools.user_tariffs.index.note_about_smart_meter_tariffs') %>
      <% else %>
        <%= t('schools.user_tariffs.index.note_about_defaults') %>
      <% end %>
    </p>
  <% end %>
<% end %>
