<table class="table advice-table">
  <thead>
    <tr>
      <th><%= t('schools.user_tariffs.name') %></th>
      <% unless @site_setting %>
        <th><%= t('schools.user_tariffs.meters.meter_list') %></th>
      <% end %>
      <th><%= t('schools.user_tariffs.tariff_partial.type') %></th>
      <th><%= t('schools.user_tariffs.tariff_partial.start_date') %></th>
      <th><%= t('schools.user_tariffs.tariff_partial.end_date') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tariffs.each do |energy_tariff| %>
      <tr>
        <td><%= energy_tariff.name %></td>
        <% unless energy_tariff.tariff_holder_type == 'SiteSettings' %>
          <td>
            <ul style="list-style: none; padding-left: 0px;">
              <% energy_tariff.meters.each do |meter| %>
                <li><%= meter.name_or_mpan_mprn %></li>
              <% end %>
            </ul>
          </td>
        <% end %>
        <td>
          <%= energy_tariff.tariff_type == 'flat_rate' ? t('schools.user_tariffs.tariff_partial.simple_tariff') : t('schools.user_tariffs.tariff_partial.day_night_tariff') %>
        </td>
        <td><%= energy_tariff.start_date ? energy_tariff.start_date&.to_s(:es_compact) : t('schools.user_tariffs.summary_table.no_start_date') %></td>
        <td><%= energy_tariff.end_date ? energy_tariff.end_date&.to_s(:es_compact) : t('schools.user_tariffs.summary_table.no_end_date') %></td>
        <td>
          <% if ['School', 'SchoolGroup'].include?(energy_tariff.tariff_holder_type) %>
            <%= link_to t('schools.user_tariffs.tariff_partial.full_details'), polymorphic_path([energy_tariff.tariff_holder, @energy_tariff]), class: 'btn' if can? :download, EnergyTariff  %>
            <%= link_to t('common.labels.edit'), polymorphic_path([:edit, energy_tariff.tariff_holder, energy_tariff]), class: 'btn' %>
            <%= link_to t('common.labels.delete'), polymorphic_path([energy_tariff.tariff_holder, energy_tariff]), method: :delete, data: {confirm: t('common.confirm') }, class: 'btn btn-danger' %>
          <% end %>
          <% if energy_tariff.tariff_holder_type == 'SiteSettings' && site_settings_page? %>
            <%= link_to t('schools.user_tariffs.tariff_partial.full_details'), polymorphic_path([:admin, :settings, energy_tariff]), class: 'btn' %>
            <%= link_to t('common.labels.edit'), polymorphic_path([:edit, :admin, :settings, energy_tariff]), class: 'btn' %>
            <%= link_to t('common.labels.delete'), polymorphic_path([:admin, :settings, energy_tariff]), method: :delete, data: {confirm: t('common.confirm') }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
