<%= f.input :meter_type, as: :hidden %>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :name, as: :string %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :start_date, include_blank: (['SiteSettings', 'SchoolGroup'].include?(@energy_tariff.tariff_holder_type)) %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :end_date, include_blank: (['SiteSettings', 'SchoolGroup'].include?(@energy_tariff.tariff_holder_type)) %>
  </div>
</div>
<%= f.submit t('common.labels.next'), class: 'btn'%>
