<% content_for :header_title, t('schools.user_tariffs.index.title') %>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <%= link_to polymorphic_path(tariff_holder_route(@tariff_holder) + [:energy_tariffs]),
                id: 'nav-user-tariffs-tab',
                class: "nav-item nav-link#{action_name == 'index' ? ' active' : ''}",
                "aria-controls": 'nav-user-tariffs', "aria-selected": (action_name == 'index') do %>
      <% if @tariff_holder.site_settings? %>
        <%= t('schools.user_tariffs.index.tabs.system_default_tariffs') %>
      <% else %>
        <%= t('schools.user_tariffs.index.tabs.user_tariffs') %>
      <% end %>
    <% end %>
    <% if @tariff_holder.school? && any_smart_meters?(@tariff_holder) %>
      <%= link_to polymorphic_path(tariff_holder_route(@tariff_holder) + [:energy_tariffs],
                                   { action: :smart_meter_tariffs }),
                  id: 'nav-smart-meter-tariffs-tab',
                  class: "nav-item nav-link#{action_name == 'smart_meter_tariffs' ? ' active' : ''}",
                  "aria-controls": 'nav-smart-meter-tariffs', "aria-selected": (action_name == 'smart_meter_tariffs') do %>
        <%= t('schools.user_tariffs.index.tabs.smart_meter_tariffs') %>
      <% end %>
    <% end %>
    <% if @tariff_holder.school? || @tariff_holder.school_group? %>
      <%= link_to polymorphic_path(tariff_holder_route(@tariff_holder) + [:energy_tariffs],
                                   { action: :default_tariffs }),
                  id: 'nav-default-tariffs-tab',
                  class: "nav-item nav-link#{action_name == 'default_tariffs' ? ' active' : ''}",
                  "aria-controls": 'nav-default-tariffs', "aria-selected": (action_name == 'default_tariffs') do %>
        <%= t('schools.user_tariffs.index.tabs.default_tariffs') %>
      <% end %>
    <% end %>
    <% if @tariff_holder.school_group? %>
      <%= link_to polymorphic_path(tariff_holder_route(@tariff_holder) + [:energy_tariffs],
                                   { action: :group_school_tariffs }),
                  id: 'nav-group-school-tariffs-tab',
                  class: "nav-item nav-link#{action_name == 'group_school_tariffs' ? ' active' : ''}",
                  "aria-controls": 'nav-group-school-tariffs', "aria-selected": (action_name == 'group_school_tariffs') do %>
        <%= t('schools.user_tariffs.index.tabs.group_school_tariffs') %>
      <% end %>
    <% end %>
  </div>
</nav>
