<p>
  <%= case energy_tariff.tariff_holder_type
      when 'School' then t('schools.user_tariffs.there_should_only_be_one_tariff_message')
      when 'SchoolGroup' then t('schools.user_tariffs.there_should_only_be_one_tariff_message')
      when 'SiteSettings' then t('schools.user_tariffs.there_should_only_be_one_tariff_message_site_settings')
      end
  %>.
</p>
<br/>

<% if energy_tariff.meters.present? %>
  <div class="row">
    <div class="col-md-3">
      <p><%= t('schools.user_tariffs.meters.meters_associated_with_this_tariff') %>:</p>
    </div>
    <div class="col-md-3 right">
      <% energy_tariff.meters.each do |meter| %>
        <strong>
          <%= meter.mpan_mprn %>
          <%= "(#{meter.name})" unless meter.name.blank? %>
        </strong>
      <% end %>
    </div>
  </div>
<% else %>
  <p><%= t('schools.user_tariffs.meters.there_are_no_meters_associated_with_this_tariff') %></p>
<% end %>
