<table class="table table-charges">
  <tbody>
  <% if energy_tariff.energy_tariff_prices.any? %>
    <% energy_tariff.energy_tariff_prices.by_start_time.each do |energy_tariff_price| %>
      <tr>
        <td class="description"><%= energy_tariff_price_title(energy_tariff_price) %></td>
        <td class="value">
          <%= t('schools.user_tariffs.rates_table.price_per_kwh', price_value: convert_value_to_long_currency(energy_tariff_price.value)) %>
        </td>
        <% if allow_edits %>
          <td class="value">
            <% edit_path =  energy_tariffs_path(energy_tariff, [:energy_tariff_differential_price], { action: 'edit', id: energy_tariff_price.id }) %>
            <%= link_to t('common.labels.edit'),
                edit_path,
                { class: 'btn energy-tariff-show-button', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' }
            %>
            <% delete_path =  energy_tariffs_path(energy_tariff, [:energy_tariff_differential_price], { id: energy_tariff_price.id }) %>
            <%= link_to t('common.labels.delete'),
                delete_path,
                method: :delete,
                data: { confirm: t('common.confirm') },
                class: 'btn energy-tariff-show-button',
                id: "energy-tariff-#{energy_tariff_price.id}-delete"
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan='10'>
        <%= t('schools.user_tariffs.rates_table.no_consumption_charges_specified_yet') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
