<h1><%= t('schools.user_tariffs.choose_type.title') %></h1>

<div class="energy_tariff">

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <p><%= t('schools.user_tariffs.choose_type.is_this_a_simple_flat_rate') %></p>

  <% form_url = energy_tariffs_path(@energy_tariff) %>
  <%= simple_form_for @energy_tariff, url: form_url do |f| %>
    <%= f.hidden_field :tariff_type, value: 'flat_rate' %>
    <%= submit_tag t('schools.user_tariffs.choose_type.simple'), class: 'btn btn-info' %>
  <% end %>

  <br/>
  <br/>

  <p><%= t('schools.user_tariffs.choose_type.or_a_rate_which_varies_by_time_of_day') %></p>

  <%= simple_form_for @energy_tariff, url: form_url do |f| %>
    <%= f.hidden_field :tariff_type, value: 'differential' %>
    <%= submit_tag t('schools.user_tariffs.choose_type.day_night_tariff'), class: 'btn btn-info' %>
  <% end %>

</div>
