<%= component 'energy_tariff_form_title',
  energy_tariff: @energy_tariff do |c| %>
  <% c.with_page_title do %>
    <h1><%= t('schools.user_tariffs.choose_type.title', fuel_type: t("common.#{@energy_tariff.meter_type}").downcase) %></h1>
  <% end %>
<% end %>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="energy_tariff">
      <% EnergyTariff.tariff_types.keys.each do |tariff_type| %>
        <div class="pb-4">
          <p><%= t("schools.user_tariffs.choose_type.is_this_a.#{tariff_type}") %></p>
          <% if @energy_tariff.tariff_type == tariff_type %>
            <%= link_to t("schools.user_tariffs.choose_type.#{tariff_type}"), energy_tariffs_path(@energy_tariff, []), class: 'btn btn-info' %>
          <% else %>
            <%= simple_form_for @energy_tariff, url: energy_tariffs_path(@energy_tariff, [], { action: :update_type }), method: :post do |f| %>
              <%= f.hidden_field :tariff_type, value: tariff_type %>
              <%= submit_tag t("schools.user_tariffs.choose_type.#{tariff_type}"),
                  class: 'btn btn-info',
                  data: (@energy_tariff.tariff_type != tariff_type && @energy_tariff.energy_tariff_prices.present?) ? { confirm: t('schools.user_tariffs.choose_type.are_you_sure_message') } : {}
              %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
