<h1><%= t('schools.user_tariffs.choose_meters.title') %></h1>

<div class="energy_tariff">
  <%= simple_form_for :energy_tariff, url: energy_tariffs_path(@energy_tariff, [], { action: :update_meters }), method: :post do |f| %>
    <div class="col-md-12">
      <p>
        <%= t('schools.user_tariffs.choose_meters.which_meters_will_this_tariff_apply_to') %>
      </p>
      <%= render 'form_meter_choices', f: f %>
    </div>
    <br/>
    <%= submit_tag t('common.labels.submit'), class: 'btn btn-info' %>
  <% end %>
</div>
