<h1><%= t('schools.user_tariffs.new.title', fuel_type: t("common.#{@energy_tariff.meter_type}")) %></h1>

<div class="energy_tariff">
  <%= render 'energy_tariffs/energy_tariffs/meters', energy_tariff: @energy_tariff if @energy_tariff.tariff_holder_type == 'School' %>
  <br/>

  <% if @energy_tariff.tariff_holder_type == 'School' %>
    <%= simple_form_for [@school, @energy_tariff] do |f| %>
      <%= f.hidden_field :meter_type, value: @energy_tariff.meter_type %>
      <%= f.hidden_field :tariff_type, value: @energy_tariff.tariff_type %>
      <% @energy_tariff.meters.each do |meter| %>
        <%= f.hidden_field :meter_ids, value: meter.id, multiple: true %>
      <% end %>
      <%= render 'form', school: @school, energy_tariff: @energy_tariff, f: f %>
    <% end %>
  <% end %>

  <% if @energy_tariff.tariff_holder_type == 'SiteSettings' %>
    <%= simple_form_for @energy_tariff, url: admin_settings_energy_tariffs_path(@energy_tariff) do |f| %>
      <%= f.hidden_field :meter_type, value: @energy_tariff.meter_type %>
      <%= f.hidden_field :tariff_type, value: @energy_tariff.tariff_type %>
      <%= render 'form', school: @school, energy_tariff: @energy_tariff, f: f %>
    <% end %>
  <% end %>
</div>
