<% content_for :header_title,
               t('schools.user_tariffs.new.title', fuel_type: t("common.#{@energy_tariff.meter_type}").downcase) %>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="energy_tariff">
      <%= simple_form_for tariff_holder_route(@energy_tariff.tariff_holder) + [@energy_tariff] do |f| %>
        <%= f.hidden_field :meter_type, value: @energy_tariff.meter_type %>
        <%= f.hidden_field :tariff_type, value: @energy_tariff.tariff_type %>
        <% @energy_tariff.meters.each do |meter| %>
          <%= f.hidden_field :meter_ids, value: meter.id, multiple: true %>
        <% end %>
        <%= render 'form', energy_tariff: @energy_tariff, f: f %>
      <% end %>
    </div>
  </div>
</div>
