<h1><%= t('schools.user_tariffs.show.title') %></h1>

<div class="energy_tariff">

  <p>
    <%= t('schools.user_tariffs.show.introduction_html', electricity_analysis_path: analysis_page_finder_path(urn: @school.urn, analysis_class: 'AdviceElectricityCosts'), gas_analysis_path: analysis_page_finder_path(urn: @school.urn, analysis_class: 'AdviceGasCosts')) %>.</p>
  </p>

  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <h4>
    <%= t('schools.user_tariffs.show.consumption_charges') %>
    <%= link_to t('common.labels.edit'), school_energy_tariff_energy_tariff_prices_path(@school, @energy_tariff), class: 'btn' %>
  </h4>

  <% if @energy_tariff.flat_rate? %>
    <%= render 'energy_tariffs/energy_tariffs/flat_rate', school: @school, energy_tariff: @energy_tariff, allow_edits: false %>
  <% else %>
    <%= render 'energy_tariffs/energy_tariffs/rates_table', school: @school, energy_tariff: @energy_tariff, allow_edits: false %>
  <% end %>

  <br/>

  <h4>
    <%= t('schools.user_tariffs.show.standing_charges') %>
    <%= link_to t('common.labels.edit'), school_energy_tariff_energy_tariff_charges_path(@school, @energy_tariff), class: 'btn' %>
  </h4>

  <%= render 'energy_tariffs/energy_tariffs/charges_table', school: @school, energy_tariff: @energy_tariff, allow_edits: false %>

  <br/>
  <br/>

  <%= link_to t('common.labels.previous'), school_energy_tariff_energy_tariff_charges_path(@school, @energy_tariff), class: 'btn' %>
  <%= link_to t('common.labels.finished'), school_energy_tariffs_path(@school), class: 'btn' %>

  <div class="hidden">
    <% if can? :download, UserTariff %>
      <h4><%= t('schools.user_tariffs.show.meter_attribute_view') %></h4>
      <%= print_meter_attribute(@energy_tariff.meter_attribute) %>
    <% end %>
  </div>
</div>
