<h2>Energy charges for <%= user_tariff_title(@user_tariff) %></h2>

<div class="user_tariff">

  <%= render 'schools/user_tariffs/meters', user_tariff: @user_tariff %>

  <%= simple_form_for @user_tariff_price, url: school_user_tariff_user_tariff_flat_price_path(@school, @user_tariff, @user_tariff_price), method: :put do |f| %>
    <%= render 'form', school: @school, user_tariff: @user_tariff, user_tariff_price: @user_tariff_price, f: f %>

    <br/>

    <%= link_to "Previous", edit_school_user_tariff_path(@school, @user_tariff), class: 'btn' %>
    <%= f.submit 'Next', class: 'btn btn-primary' %>
  <% end %>

</div>
