<% content_for :page_title, "#{@school_group.name} Impact report run" %>
<% content_for :header_title, "#{@school_group.name} Impact report run" %>

<div class="d-flex justify-content-between align-items-center">
  <h2 class="mb-0">Run on <%= @run.run_date %></h2>

  <div class="d-flex gap-2">
    <%= render '/school_groups/impact/buttons' %>
  </div>
</div>

<%= render Layout::GridComponent.new(cols: 1, cell_classes: 'mb-2 rounded-2 px-3 bg-light') do |grid| %>
  <%= grid.with_cell do |row| %>
    <h2>Overview</h2>
    <div class='bg-white px-3 pb-3 mb-2 rounded-2'>
      <h3>Metrics</h3>
      <%= render 'metrics', metrics: @run.metrics.overview %>
    </div>
    <h3>Displayed as</h3>
    <p>
      The report will always show schools, adult users and pupils. If there are any enrolling schools, that metric will be shown; otherwise, enrolled schools will be shown if available.
    </p>

    <%= render ImpactReports::Overview::MetricsComponent.new(run: @run, classes: 'mt-4') %>
  <% end %>
  <%= grid.with_cell do |row| %>
    <h2>Energy efficiency</h2>
    <div class='bg-white px-3 pb-3 mb-2 rounded-2'>
      <h3>Metrics</h3>
      <%= render 'metrics', metrics: @run.metrics.energy_efficiency %>
    </div>
    <h3>Displayable metrics</h3>
    <p>
      The report takes the first 4 from the following list, excluding any under £<%= ImpactReport::Run.gbp_threshold %>
      (<%= ImpactReport::Run.gbp_threshold_product.name %>: <%= ImpactReport::Run.gbp_threshold_price.to_s.humanize %>)
    </p>
    <p>
      Energy efficiency metrics are arranged into cost savings, counts and carbon emissions, with metrics shown in descending order within each group.
    </p>
    <%= render ImpactReports::EnergyEfficiency::MetricsComponent.new(run: @run, max: nil, gbp_threshold: 0,
                                                                     classes: 'mt-4') %>
  <% end %>
  <%= grid.with_cell do |row| %>
    <h2>Engagement</h2>
    <div class='bg-white px-3 pb-3 mb-2 rounded-2'>
      <h3>Metrics</h3>
      <%= render 'metrics', metrics: @run.metrics.engagement %>
    </div>
    <h3>Displayed as</h3>
    <p>
      Only engagement metrics with a value greater than zero are displayed in the report.
    </p>
    <%= render ImpactReports::Engagement::MetricsComponent.new(run: @run, classes: 'mt-4') %>
  <% end %>
  <%= grid.with_cell do |row| %>
    <h2>Potential savings</h2>
    <div class='bg-white px-3 pb-3 mb-2 rounded-2'>
      <h3>Metrics</h3>
      <%= render 'metrics', metrics: @run.metrics.potential_savings %>
    </div>
    <h3>Displayable metrics</h3>
    <p>The report takes the first 2 from the following list.</p>
    <p>
      Potential savings metrics are arranged so that the highest electricity, gas and solar PV savings are shown first,
      followed by the next highest for each fuel type and so on. Only metrics with a value greater than zero are included.
    </p>
    <%= render ImpactReports::PotentialSavings::MetricsComponent.new(run: @run, max: nil, classes: 'mt-4') %>
  <% end %>
<% end %>
