<% content_for :page_title, 'Administration' %>

<h1>Administration</h1>

<div class="row">
  <div class="col">
    <h2>School onboarding</h2>
    <ul>
      <li><%= link_to 'Manage school onboarding', admin_school_onboardings_path %></li>
      <li><%= link_to 'Schools awaiting activation', admin_activations_path %></li>
      <li><%= link_to 'Calendars', admin_calendars_path %></li>
      <li><%= link_to 'Meter Reviews', admin_meter_reviews_path %></li>
    </ul>

    <h2>Groups</h2>
    <ul>
      <li><%= link_to 'Manage School Groups', admin_school_groups_path %></li>
      <% SchoolGroup::RESTRICTED_GROUP_TYPES.sort.each do |group_type| %>
        <li><%= link_to "Manage #{group_type.to_s.humanize} Groups", admin_school_groups_path(group_type:) %></li>
      <% end %>
    </ul>

    <h2>Schools and and scoreboards</h2>
    <ul>
      <li><%= link_to 'Find school by MPXN', admin_find_school_by_mpxn_index_path %></li>
      <li><%= link_to 'Find school by URN', admin_find_school_by_urn_index_path %></li>
      <li><%= link_to 'Manage Scoreboards', admin_scoreboards_path %></li>
    </ul>

    <h2>Users and consent</h2>
    <ul>
      <li><%= link_to 'Users', admin_users_path %></li>
      <li><%= link_to 'DCC Consents', admin_dcc_consents_path %></li>
      <li><%= link_to 'Consent Statements', admin_consent_statements_path %></li>
    </ul>

    <h2>Activities, Advice, Interventions and Programmes</h2>
    <ul>
      <li><%= link_to 'Activity Categories', admin_activity_categories_path %></li>
      <li><%= link_to 'Activity Types', admin_activity_types_path %></li>
      <li><%= link_to 'Advice Pages', admin_advice_pages_path %></li>
      <li><%= link_to 'Intervention Categories', admin_intervention_type_groups_path %></li>
      <li><%= link_to 'Intervention Types', admin_intervention_types_path %></li>
      <li><%= link_to 'Programme Types', admin_programme_types_path %></li>
    </ul>

    <h2>Content Management</h2>
    <ul>
      <li><%= link_to 'Case studies', admin_case_studies_path %></li>
      <li><%= link_to 'Categories', admin_cms_categories_path %></li>
      <li><%= link_to 'Help Pages', admin_help_pages_path %></li>
      <li><%= link_to 'Jobs', admin_jobs_path %></li>
      <li><%= link_to 'Newsletters', admin_newsletters_path %></li>
      <li><%= link_to 'Pages', admin_cms_pages_path %></li>
      <li><%= link_to 'Resources', admin_resource_files_path %></li>
      <li><%= link_to 'Sections', admin_cms_sections_path %></li>
      <li><%= link_to 'Team members', admin_team_members_path %></li>
      <li><%= link_to 'Testimonials', admin_testimonials_path %></li>
      <li><%= link_to 'Videos', admin_videos_path %></li>
    </ul>
  </div>

  <div class="col">
    <h2>Data, Tariffs, Meter attributes</h2>
    <ul>
      <li><%= link_to 'AMR Data feed configuration', admin_amr_data_feed_configs_path %></li>
      <li><%= link_to 'Energy Tariffs', admin_settings_energy_tariffs_path %></li>
      <li><%= link_to 'Solar PV Areas', admin_solar_pv_tuos_areas_path %></li>
      <li><%= link_to 'Weather Stations', admin_weather_stations_path %></li>
      <li><%= link_to 'Data Sources', admin_data_sources_path %></li>
      <li><%= link_to 'Procurement Routes', admin_procurement_routes_path %></li>
      <li><%= link_to 'Global Meter Attributes', admin_global_meter_attributes_path %></li>
      <li><%= link_to 'Local Distribution Zones', admin_local_distribution_zones_path %></li>
      <li><%= link_to SecrCo2Equivalence.model_name.human.pluralize, admin_secr_co2_equivalences_path %></li>
    </ul>

    <h2>Alerts and Equivalences</h2>
    <ul>
      <li><%= link_to 'Alert Types', admin_alert_types_path %></li>
      <li><%= link_to 'Equivalence Types', admin_equivalence_types_path %></li>
    </ul>

    <h2>Contracts & Licensing</h2>
    <ul>
      <li><%= link_to 'Products', admin_commercial_products_path %></li>
    </ul>

    <h2>Development</h2>
    <ul>
      <li><%= link_to 'Background jobs', admin_good_job_path %></li>
      <li><%= link_to 'Component previews', admin_components_path %></li>
      <li><%= link_to 'Email previews', admin_mailer_previews_path %></li>
      <li><%= link_to 'Feature flags', admin_flipper_path %></li>
      <li><%= link_to 'Site colour palette', admin_colours_path %></li>
      <li><%= link_to 'Chart preview', admin_chart_preview_path %></li>
    </ul>

    <h2>Comparison reports</h2>
    <ul>
      <li><%= link_to 'Report groups', admin_comparisons_report_groups_path %></li>
      <li><%= link_to 'Reports', admin_comparisons_reports_path %></li>
      <li><%= link_to 'Footnotes', admin_comparisons_footnotes_path %></li>
    </ul>

    <h2>Other</h2>
    <ul>
      <li><%= link_to 'Admin meter statuses', admin_meter_statuses_path %></li>
      <li><%= link_to 'Funders', admin_funders_path %></li>
      <li><%= link_to 'Partners', admin_partners_path %></li>
      <li><%= link_to 'Site Settings', admin_settings_path %></li>
      <li><%= link_to 'Transport Types', admin_transport_types_path %></li>
    </ul>
  </div>
</div>
