<% content_for :page_title, 'Administration' %>

<h1>Administration</h1>

<h2>School set up</h2>
<ul>
  <li><%= link_to "Manual School Setup", new_school_path %></li>
  <li><%= link_to "Automatic School Setup", admin_school_onboardings_path %></li>
  <li><%= link_to "Calendars", admin_calendars_path %></li>
</ul>

<h2>Schools, Scoreboards and groups</h2>
<ul>
  <li><%= link_to "Edit School Groups", admin_school_groups_path %></li>
  <li><%= link_to "View School groups", school_groups_path %></li>
  <li><%= link_to "View Scoreboards", scoreboards_path %></li>
</ul>

<h2>Users and Newsletters</h2>
<ul>
  <li><%= link_to "Newsletters", admin_newsletters_path %></li>
  <li><%= link_to "Users", users_path %></li>
</ul>

<h2>Activities and Programmes</h2>
<ul>
  <li><%= link_to "Activity Categories", admin_activity_categories_path %></li>
  <li><%= link_to "Activity Types", admin_activity_types_path %></li>
  <li><%= link_to "Programme Types", admin_programme_types_path %></li>
</ul>

<h2>Alerts and Equivalences</h2>
<ul>
  <li><%= link_to "Alert Types", admin_alert_types_path %></li>
  <li><%= link_to "Equivalence Types", admin_equivalence_types_path %></li>
</ul>

<h2>Data feeds and meter attributes</h2>
<ul>
  <li><%= link_to "Global Meter Attributes", admin_global_meter_attributes_path %></li>
  <li><%= link_to "AMR Data feed configuration", admin_amr_data_feed_configs_path %></li>
  <li><%= link_to "Dark Sky Areas", admin_dark_sky_areas_path %></li>
  <li><%= link_to "Solar PV Areas", admin_solar_pv_tuos_areas_path %></li>
</ul>

<h2>Other</h2>
<ul>
  <li><%= link_to "Site Settings", admin_settings_path %></li>
</ul>
