<h1>Configuration: <%= @school_onboarding.school_name %> </h1>

<%= form_for(@school_onboarding, url: admin_school_onboarding_configuration_path) do |f| %>
  <h2>Calendar and Data Feed configuration</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :template_calendar_id, 'Template calendar' %>
      <%= f.select :template_calendar_id, options_from_collection_for_select(Calendar.regional.order(:title), 'id', 'title', (@school_onboarding.template_calendar.id if @school_onboarding.template_calendar)),{},{class: 'form-control'}%>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :solar_pv_tuos_area_id, 'Solar PV from The University of Sheffield Data Feed Area' %>
      <%= f.select :solar_pv_tuos_area_id, options_from_collection_for_select(SolarPvTuosArea.all, 'id', 'title', (@school_onboarding.solar_pv_tuos_area.id if @school_onboarding.solar_pv_tuos_area)),{}, { class: 'form-control' }%>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :dark_sky_area_id, 'Dark Sky Data Feed Area' %>
      <%= f.select :dark_sky_area_id, options_from_collection_for_select(DarkSkyArea.all, 'id', 'title', (@school_onboarding.dark_sky_area.id if @school_onboarding.dark_sky_area)),{include_blank: true}, { class: 'form-control' }%>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :weather_station_id, 'Weather Station' %>
      <%= f.select :weather_station_id, options_from_collection_for_select(WeatherStation.order(:title), 'id', 'title', @school_onboarding.weather_station_id), {include_blank: true}, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :scoreboard_id, 'Scoreboard' %>
      <%= f.select :scoreboard_id, options_from_collection_for_select(Scoreboard.order(:name), 'id', 'name', (@school_onboarding.scoreboard.id if @school_onboarding.scoreboard)),{}, { class: 'form-control' }%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Next', class: 'btn btn-primary' %>
  </div>
<% end %>
