<!-- Button trigger modal -->
<button type="button" class="<%= local_assigns[:class] %>" data-toggle="modal" data-target="#procurement_route_report-<%= procurement_route.id %>">
  <%= fa_icon('envelope') %> Email Procurement Route Report
</button>

<div class="modal fade" id="procurement_route_report-<%= procurement_route.id %>" tabindex="-1" aria-labelledby="procurement_route_report_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="procurement_route_report_label">Email procurement route report & csv</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag admin_procurement_route_deliver_path(procurement_route), method: :post do %>
        <div class="modal-body">
          <div><strong>To: </strong><span class="badge border rounded-pill text-dark border-secondary font-weight-normal"><%= current_user.email %></span>
          </div>
          <div class="pb-2"><strong>Procurement route: </strong><%= procurement_route.organisation_name %>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag(type: 'submit', class: 'btn btn-sm', data: { confirm: "Are you sure you want to send the procurement route report to #{current_user.email}?" }) do %>
            <%= fa_icon('envelope') %> Email Procurement Route Report
          <% end %>
          <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
