<h1>Meter attributes: <%= @school.name %></h1>

<p><%= link_to 'School meter managment', school_meters_path(@school) %></p>

<ul class="nav nav-tabs" id="top-level-meter-attribute-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="meter-attributes-tab" href="<%= admin_school_meter_attributes_path(@school) %>" role="tab" aria-selected="false">All Meter-specific attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="group-meter-attributes-tab" href="<%= admin_school_school_attributes_path(@school) %>" role="tab" aria-selected="true">School-wide attributes</a>
  </li>
</ul>

<ul class="nav nav-tabs mt-3" id="meter-attribute-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="database-meter-attributes-tab" data-toggle="tab" href="#database-meter-attributes-content" role="tab" aria-controls="database-meter-attributes-content" aria-selected="true">Attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="deleted-meter-attributes-tab" data-toggle="tab" href="#deleted-meter-attributes-content" role="tab" aria-controls="deleted-meter-attributes-content" aria-selected="false">Deleted</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-meter-attributes-tab" data-toggle="tab" href="#all-meter-attributes-content" role="tab" aria-controls="all-meter-attributes-content" aria-selected="false">Final</a>
  </li>
</ul>

<div class="tab-content" id="meter-attributes-tabs-content">
  <div class="tab-pane fade show active" id="database-meter-attributes-content" role="tabpanel" aria-labelledby="database-meter-attributes-tab">

    <table class="table">
      <% @meters.each do |meter| %>
        <%= render 'meter_attributes_table', school: @school, available_meter_attributes: @available_meter_attributes, meter: meter %>
      <% end %>
    </table>
  </div>

  <div class="tab-pane fade" id="deleted-meter-attributes-content" role="tabpanel" aria-labelledby="deleted-meter-attributes-tab">
    <h2>Deleted attributes</h2>
    <table class="table">
      <% @meters.each do |meter| %>
        <%= render 'deleted_attributes_table', school: @school, meter: meter %>
      <% end %>
    </table>
  </div>

  <div class="tab-pane fade" id="all-meter-attributes-content" role="tabpanel" aria-labelledby="all-meter-attributes-tab">
    <h2>Full attributes</h2>
    <%= print_meter_attributes(@school) %>
  </div>
</div>
