<h1>Meter attributes: <%= @school.name %></h1>

<p><%= link_to 'School meter managment', school_meters_path(@school) %></p>

<ul class="nav nav-tabs" id="top-level-meter-attribute-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="meter-attributes-tab" href="<%= admin_school_meter_attributes_path(@school) %>" role="tab" aria-selected="false">Meter-specific attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="group-meter-attributes-tab" href="<%= admin_school_school_attributes_path(@school) %>" role="tab" aria-selected="true">School-wide attributes</a>
  </li>
</ul>

<ul class="nav nav-tabs mt-3" id="meter-attribute-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="database-meter-attributes-tab" data-toggle="tab" href="#database-meter-attributes-content" role="tab" aria-controls="database-meter-attributes-content" aria-selected="true">Attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="deleted-meter-attributes-tab" data-toggle="tab" href="#deleted-meter-attributes-content" role="tab" aria-controls="deleted-meter-attributes-content" aria-selected="false">Deleted</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-meter-attributes-tab" data-toggle="tab" href="#all-meter-attributes-content" role="tab" aria-controls="all-meter-attributes-content" aria-selected="false">Final</a>
  </li>
</ul>

<div class="tab-content" id="meter-attributes-tabs-content">
  <div class="tab-pane fade show active" id="database-meter-attributes-content" role="tabpanel" aria-labelledby="database-meter-attributes-tab">

    <table class="table">
      <% @meters.each do |meter| %>
        <thead class="thead-light">
          <tr scope="row">
            <th>
              <%= link_to school_meter_path(meter.school, meter) do %>
                <%= fa_icon(fuel_type_icon(meter.meter_type)) %> <%= meter.mpan_mprn %> <%= "(#{meter.name})" unless meter.name.blank? %>
              <% end %>
            </th>
            <th>
              <%= render 'shared/meter_attributes/new_select', available_meter_attributes: @available_meter_attributes, create_path: new_admin_school_meter_attribute_path(@school), meter_id: meter.id %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% meter.global_meter_attributes.each do |meter_attribute| %>
            <%= render 'meter_attribute', meter_attribute: meter_attribute do %>
              <div class="alert alert-info">from <%= link_to "Global attributes", admin_global_meter_attributes_path %></div>
            <% end %>
          <% end %>
          <% meter.school_group_meter_attributes.each do |meter_attribute| %>
            <%= render 'meter_attribute', meter_attribute: meter_attribute do %>
              <div class="alert alert-info">from <%= link_to "#{@school.school_group.name} attributes", admin_school_group_meter_attributes_path(@school.school_group)%></div>
            <% end %>
          <% end %>
          <% meter.school_meter_attributes.each do |meter_attribute| %>
            <%= render 'meter_attribute', meter_attribute: meter_attribute do %>
              <div class="alert alert-info">from <%= link_to "#{@school.name} attributes", admin_school_school_attributes_path(@school)%></div>
            <% end %>
          <% end %>
          <% meter.meter_attributes.active.each do |meter_attribute| %>
            <%= render 'meter_attribute', meter_attribute: meter_attribute do %>
              <div class="btn-group">
                <%= link_to 'Edit', edit_admin_school_meter_attribute_path(@school, meter_attribute), class: 'btn btn-sm' if can?(:edit, meter_attribute) %>
                <%= button_to 'Delete', admin_school_meter_attribute_path(@school, meter_attribute), method: :delete, class: 'btn btn-sm' if can?(:delete, meter_attribute) %>
                <%= link_to 'History', admin_school_meter_attribute_path(@school, meter_attribute), class: 'btn btn-sm' if can?(:show, meter_attribute) %>
              </div>
            <% end %>
          <% end %>
          <% if meter.dcc_meter? %>
          <% tariff_attributes = build_tariff_attributes(meter) %>
            <% if tariff_attributes.present? %>
              <tr>
                <td>
                  <a href="#" name="<%= tariff_anchor(meter) %>"></a>
                  <%= tariff_attributes %>
                </td>
                <td>
                  <div class="alert alert-info">from <%= link_to "DCC tariff data", admin_reports_tariff_path(meter) %></div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="tab-pane fade" id="deleted-meter-attributes-content" role="tabpanel" aria-labelledby="deleted-meter-attributes-tab">
    <h2>Deleted attributes</h2>
    <table class="table">
      <% @meters.each do |meter| %>
        <% if meter.meter_attributes.deleted.any? %>
          <thead class="thead-light">
            <tr scope="row">
              <th>
                <%= link_to school_meter_path(meter.school, meter) do %>
                  <%= fa_icon(fuel_type_icon(meter.meter_type)) %> <%= meter.mpan_mprn %> <%= "(#{meter.name})" unless meter.name.blank? %>
                <% end %>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% meter.meter_attributes.deleted.each do |meter_attribute| %>
              <%= render 'meter_attribute', meter_attribute: meter_attribute do %>
                <div class="btn-group">
                  <%= link_to 'History', admin_school_meter_attribute_path(@school, meter_attribute), class: 'btn btn-sm' if can?(:show, meter_attribute) %>
                </div>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="tab-pane fade" id="all-meter-attributes-content" role="tabpanel" aria-labelledby="all-meter-attributes-tab">
    <h2>Full attributes</h2>
    <%= sanitize ap(@school.meter_attributes_to_analytics, index: false, plain: true) %>
  </div>
</div>
