<h1>Meter attributes: <%= @school.name %></h1>
<p><%= link_to 'School meter management', school_meters_path(@school) %></p>

<ul class="nav nav-tabs" id="top-level-meter-attribute-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="meter-attributes-tab" href="<%= admin_school_meter_attributes_path(@school) %>" role="tab" aria-selected="false">All Meter-specific attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="group-meter-attributes-tab" href="<%= admin_school_school_attributes_path(@school) %>" role="tab" aria-selected="true">School-wide attributes</a>
  </li>
</ul>

<%= render TabsComponent.new(classes: 'mt-3', top_margin: false) do |component| %>
  <% component.with_tab(name: :'database-meter-attributes', label: 'Attributes') do %>
    <table class="table">
      <% @meters.each do |meter| %>
        <%= render 'meter_attributes_table', school: @school, available_meter_attributes: @available_meter_attributes,
                                             meter: meter %>
      <% end %>
    </table>
  <% end %>
  <% component.with_tab(name: :'deleted-meter-attributes', label: 'Deleted') do %>
    <h2>Deleted attributes</h2>
    <table class="table">
      <% @meters.each do |meter| %>
        <%= render 'deleted_attributes_table', school: @school, meter: meter %>
      <% end %>
    </table>
  <% end %>
  <% component.with_tab(name: :'all-meter-attributes', label: 'Final') do %>
    <h2>Full attributes</h2>
    <%= print_meter_attributes(@school) %>
  <% end %>
<% end %>
