<h1>Test CAD</h1>

<h2>Mode</h2>
<p><%= @cad.test_mode ? 'TEST' : 'LIVE' %></p>

<% if @error %>
  <h2>Error</h2>
  <p><%= @error %></p>
<% else %>
  <h2>Current reading</h2>
  <p><%= @reading.to_f %></p>
<% end %>

<br>
<br>

<%= link_to 'Back', school_cads_path(@school), class: 'btn' %>
<%= link_to 'Retry', school_cad_live_data_path(@school, @cad), class: 'btn btn-primary' %>
