<h1><%= t('schools.user_tariff_differential_prices.index.title') %></h1>

<div class="energy_tariff">

  <p><%= t('schools.user_tariff_differential_prices.index.using_your_bill_introduction') %>.</p>
  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <h3><%= t('schools.user_tariff_differential_prices.index.consumption_charges') %></h3>

  <p><%= energy_tariff_prices_text(@energy_tariff) %></p>

  <div id="modal-window" class="modal hide" role="dialog" aria-hidden="true" ></div>

  <%= render 'energy_tariffs/energy_tariffs/rates_table', school: @school, energy_tariff: @energy_tariff, allow_edits: true %>

  <br/>

  <% edit_path = case @energy_tariff.tariff_holder_type
                 when 'School' then edit_school_energy_tariff_path(@school, @energy_tariff)
                 when 'SiteSettings' then edit_admin_settings_energy_tariff_path(@energy_tariff)
                 end
  %>
  <%= link_to t('common.labels.previous'), edit_path, class: 'btn' %>

  <% next_path = case @energy_tariff.tariff_holder_type
                 when 'School' then school_energy_tariff_energy_tariff_charges_path(@school, @energy_tariff)
                 when 'SiteSettings' then admin_settings_energy_tariff_energy_tariff_charges_path(@energy_tariff)
                 end
  %>
  <%= link_to t('common.labels.next'), next_path, class: 'btn' %>

</div>
