<%= content_for :page_title, t('school_groups.secr.title') %>
<h1><%= t('school_groups.secr.title') %></h1>
<p><%= t('school_groups.secr.introduction') %></p>
<h2><%= t('school_groups.secr.section1.title') %></h2>
<%= start_date = MeterMonthlySummary.start_date(Time.zone.today, 2)
    end_date = Periods::FixedAcademicYear.enumerator(start_date, start_date + 1.year).to_a[-1][1].to_fs(:es_short)
    t('school_groups.secr.section1.introduction_html', start_date: start_date.to_fs(:es_short), end_date:) %>
<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Consumption (kWh)</th>
      <th>Emission (metric tonnes CO2e)</th>
    </tr>
  </thead>
  <tbody>
    <% school = @school_group.schools.active.first %>
    <tr>
      <td><b><%= t('school_groups.secr.section1.scope1') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.gas_consumption') %></td>
      <td><%= gas_consumption =
                MeterMonthlySummary.total_sum(school.meters.active.gas, start_date.year, :consumption) %></td>
      <td><%= gas_emissions =
                SecrCo2Equivalence.emissions(start_date.year, :natural_gas_co2e, gas_consumption) %></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.solar_self_consumption') %></td>
      <td><%= self_consumption = school.meters.active.electricity.map do |meter|
                meter.meter_monthly_summaries.find_by(year: start_date.year, type: :self_consume)&.total || 0
              end.sum.round(2) %></td>
      <td>0</td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.total') %></td>
      <td><%= gas_consumption + self_consumption %></td>
      <td><%= gas_emissions %></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.scope2') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.purchased_electricity') %></td>
      <td><%= electricity_consumption =
                MeterMonthlySummary.total_sum(school.meters.active.electricity, start_date.year, :consumption) %></td>
      <td><%= electricity_emissions =
                SecrCo2Equivalence.emissions(start_date.year, :electricity_co2e, electricity_consumption) %></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.scope3') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.transmission_and_distribution') %></td>
      <td><%= transmission_consumption =
                MeterMonthlySummary.total_sum(school.meters.active.electricity, start_date.year, :consumption) %></td>
      <td><%= transmission_emissions = SecrCo2Equivalence.emissions(start_date.year, :transmission_distribution_co2e,
                                                                    electricity_consumption) %></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.total') %></b></td>
      <td><%= (total_consumption =
                 gas_consumption + self_consumption + electricity_consumption + transmission_consumption).round(2) %></td>
      <td><%= (gas_emissions + electricity_emissions + transmission_emissions).round(2) %></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.solar_export') %></td>
      <td><%= solar_export =
                - MeterMonthlySummary.total_sum(school.meters.active.electricity, start_date.year, :export) %></td>
      <td></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.net') %></b></td>
      <td><%= (total_consumption - solar_export).round(2) %></td>
      <td></td>
    </tr>

  </tbody>
</table>
