<%= content_for :page_title, t('school_groups.secr.title') %>
<h1><%= t('school_groups.secr.title') %></h1>
<p><%= t('school_groups.secr.introduction') %></p>
<h2><%= t('school_groups.secr.section1.title') %></h2>
<%= end_date = Periods::FixedAcademicYear.enumerator(@start_date, @start_date + 1.year).to_a[-1][1].to_fs(:es_short)
    t('school_groups.secr.section1.introduction_html', start_date: @start_date.to_fs(:es_short), end_date:) %>
<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Consumption (kWh)</th>
      <th>Emission (metric tonnes CO2e)</th>
    </tr>
  </thead>
  <tbody>
    <% meters = @school_group.meters.active.where('schools.active') %>
    <tr>
      <td><b><%= t('school_groups.secr.section1.scope1') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.gas_consumption') %></td>
      <td><%= gas_consumption =
                MeterMonthlySummary.total_sum(meters.active.gas, @start_date.year, :consumption) %></td>
      <td><%= gas_emissions =
                SecrCo2Equivalence.emissions(@start_date.year, :natural_gas_co2e, gas_consumption) %></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.solar_self_consumption') %></td>
      <td><%= self_consumption =
                MeterMonthlySummary.total_sum(meters.active.electricity.map, @start_date.year, :self_consume) %></td>
      <td>0</td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.total') %></td>
      <td><%= (gas_consumption + self_consumption).round(2) %></td>
      <td><%= gas_emissions %></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.scope2') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.purchased_electricity') %></td>
      <td><%= electricity_consumption =
                MeterMonthlySummary.total_sum(meters.electricity, @start_date.year, :consumption) %></td>
      <td><%= electricity_emissions =
                SecrCo2Equivalence.emissions(@start_date.year, :electricity_co2e, electricity_consumption) %></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.scope3') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.transmission_and_distribution') %></td>
      <td><%= transmission_consumption =
                MeterMonthlySummary.total_sum(meters.electricity, @start_date.year, :consumption) %></td>
      <td><%= transmission_emissions = SecrCo2Equivalence.emissions(@start_date.year, :transmission_distribution_co2e,
                                                                    electricity_consumption) %></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.total') %></b></td>
      <td><%= (total_consumption =
                 gas_consumption + self_consumption + electricity_consumption + transmission_consumption).round(2) %></td>
      <td><%= (gas_emissions + electricity_emissions + transmission_emissions).round(2) %></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.solar_export') %></td>
      <td><%= solar_export =
                - MeterMonthlySummary.total_sum(meters.active.electricity, @start_date.year, :export) %></td>
      <td></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.net') %></b></td>
      <td><%= (net = total_consumption - solar_export).round(2) %></td>
      <td></td>
    </tr>
    <tr>
      <td><b><%= t('school_groups.secr.section1.intensity_ratio') %></b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t('school_groups.secr.section1.pupil_intensity') %></td>
      <td><%= (@school_group.schools.sum(:number_of_pupils) / net).round(4) %></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><%= t('school_groups.secr.section1.footnotes_html') %></td>
    </tr>
  </tfoot>
</table>
<h2><%= t('school_groups.secr.section1.table2_title') %></h2>
<p><%= t('school_groups.secr.section1.table2_introduction_html', year: @start_date.year) %></p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Type</th>
      <th>kg CO2e</th>
    </tr>
  </thead>
  <tbody>
    <% SecrCo2Equivalence.find_by(year: @start_date.year).attributes.each do |name, value| %>
      <% if name.include?('co2e') %>
        <tr>
          <td><%= SecrCo2Equivalence.human_attribute_name(name) %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h2><%= t('school_groups.secr.section2.title') %></h2>
<p><%= t('school_groups.secr.section2.title') %></p>
<ul>
  <li><%= link_to t('school_groups.secr.section2.electricity_consumption'),
                  school_group_secr_index_path(@school_group, format: :csv, csv: :electricity) %></li>
  <li><%= link_to t('school_groups.secr.section2.gas_consumption'),
                  school_group_secr_index_path(@school_group, format: :csv, csv: :gas) %></li>
  <li><%= link_to t('school_groups.secr.section2.solar_self_consumption'),
                  school_group_secr_index_path(@school_group, format: :csv, csv: :self) %></li>
  <li><%= link_to t('school_groups.secr.section2.solar_export'),
                  school_group_secr_index_path(@school_group, format: :csv, csv: :export) %></li>
</ul>
