<%= content_for :page_title, t('school_groups.secr.title') %>
<h1><%= t('school_groups.secr.title') %></h1>

<%= render TabsComponent.new do |component| %>
  <% component.with_tab(name: :usage, label: t('school_groups.secr.tabs.usage')) do %>
    <%= t('school_groups.secr.usage_html') %>
  <% end %>
  <% component.with_tab(name: :data, label: t('school_groups.secr.tabs.data')) do %>
    <p><%= t('school_groups.secr.usage.introduction', last_start_date: @dates[0][0].to_fs(:es_short),
                                                      last_end_date: @dates[0][1].to_fs(:es_short),
                                                      current_start_date: @dates[1][0].to_fs(:es_short),
                                                      current_end_date: @dates[1][1].to_fs(:es_short)) %></p>
    <% meters = @school_group.meters.active.where('schools.active')
       schools = @school_group.schools.active
       number_of_pupils = schools.sum(:number_of_pupils) %>
    <%= render 'table', meters:,
                        year: @dates[1][0].year + 1,
                        title: t('school_groups.secr.usage.current_table_title', start_date: @dates[1][0],
                                                                                 end_date: @dates[1][1]),
                        number_of_pupils: %>
    <%= render 'table', meters:,
                        year: @dates[0][0].year + 1,
                        title: t('school_groups.secr.usage.current_table_title', start_date: @dates[0][0],
                                                                                 end_date: @dates[0][1]),
                        number_of_pupils: %>
    <%= schools = schools.pluck(:id)
        t('school_groups.secr.supporting_notes_html',
          active_schools: schools.length,
          gas_meters: meters.gas.count,
          electricity_meters: meters.electricity.count,
          metered_solar_schools: (MeterAttribute.metered_solar.pluck(:school_id) & schools).length,
          estimated_solar_schools: (MeterAttribute.solar_pv.pluck(:school_id) & schools).length,
          number_of_pupils:) %>
    <%= t('school_groups.secr.carbon_emission_factors_html') %>
    <h2><%= t('school_groups.secr.downloads.title') %></h2>
    <p><%= t('school_groups.secr.downloads.introduction') %></p>
    <ul>
      <% year = "#{@dates[0][0].year}/#{(@dates[0][0].year + 1).to_s.last(2)}" %>
      <li><%= link_to t('school_groups.secr.downloads.electricity_consumption', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :electricity_previous) %></li>
      <li><%= link_to t('school_groups.secr.downloads.gas_consumption', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :gas_previous) %></li>
      <li><%= link_to t('school_groups.secr.downloads.solar_self_consumption', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :self_previous) %></li>
      <li><%= link_to t('school_groups.secr.downloads.solar_export', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :export_previous) %></li>
      <% year = "#{@dates[1][0].year}/#{(@dates[1][0].year + 1).to_s.last(2)}" %>
      <li><%= link_to t('school_groups.secr.downloads.electricity_consumption', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :electricity) %></li>
      <li><%= link_to t('school_groups.secr.downloads.gas_consumption', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :gas) %></li>
      <li><%= link_to t('school_groups.secr.downloads.solar_self_consumption', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :self) %></li>
      <li><%= link_to t('school_groups.secr.downloads.solar_export', year:),
                      school_group_secr_index_path(@school_group, format: :csv, csv: :export) %></li>
    </ul>
    <%= t('school_groups.secr.data_quality_html') %>
  <% end %>
<% end %>
