<%= render 'tariff_note', school: @school, analysis_dates: @analysis_dates, complete_tariff_coverage: @complete_tariff_coverage, periods_with_missing_tariffs: @periods_with_missing_tariffs %>

<p><%= advice_t('electricity_costs.analysis.summary') %></p>

<ul>
  <% if @multiple_meters %>
    <li>
      <%= link_to(advice_t('electricity_costs.analysis.cost_breakdown_by_meter.title', period: format_unit(@annual_costs.days/365.0, :years)), '#cost-breakdown-by-meter') %>
    </li>
    <% if @multiple_meters %>
      <li><%= link_to(advice_t('electricity_costs.analysis.meter_breakdown.title'), '#meter-breakdown') %></li>
    <% end %>
  <% else %>
    <li><%= link_to( advice_t('electricity_costs.analysis.cost_breakdown_by_charge.title', period: format_unit(@annual_costs.days/365.0, :years)), '#cost-breakdown-by-charge') %></li>
    <% if @analysis_dates.months_of_data > 23 %>
      <li><%= link_to(advice_t('electricity_costs.analysis.comparison.title'), '#comparison') %></li>
      <% end %>
  <% end %>
</ul>

<% if @multiple_meters %>
  <%= render 'cost_breakdown_by_meter', school: @school, analysis_dates: @analysis_dates, annual_costs: @annual_costs, annual_costs_breakdown_by_meter: @annual_costs_breakdown_by_meter %>
  <%= render 'meter_breakdown', school: @school, meters: @meters, analysis_dates: @analysis_dates %>
<% else %>
  <%= render 'cost_breakdown_by_charge', school: @school, analysis_dates: @analysis_dates, annual_costs: @annual_costs, show_school_total: true %>
  <% if @analysis_dates.months_of_data > 23 %>
    <%= render 'cost_comparison', school: @school, analysis_dates: @analysis_dates %>
  <% end %>
<% end %>
