<tr id="licence-<%= licence.id %>-main-row">
  <td><%= licence.school.name %></td>
  <td><%= lf.input :start_date, as: :tempus_dominus_date %></td>
  <td><%= lf.input :end_date, as: :tempus_dominus_date %></td>
  <td>
    <button type="button"
            class="btn btn-sm btn-outline-danger toggle-delete"
            data-licence-id="<%= licence.id %>">
      Delete
    </button>
  </td>
</tr>

<tr id="licence-<%= licence.id %>-comments-row">
  <td colspan="5"><%= lf.input :comments %></td>
</tr>

<%= lf.hidden_field :_destroy,
                    value: '0',
                    id: "licence-#{licence.id}-destroy-flag",
                    class: 'destroy-flag' %>
