<p><%= t('advice_pages.electricity_long_term.analysis.summary') %></p>

<p><%= t('advice_pages.electricity_long_term.analysis.sections') %></p>

<ul>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.recent_trend.title'), '#recent-trend') %></li>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.comparison.title'), '#comparison') %></li>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.long_term_trends.title'), '#long-term-trends') %></li>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.meter_breakdown.title'), '#meter-breakdown') %></li>
</ul>

<%= render 'schools/advice/section_title', section_id: 'recent-trend', section_title: t('advice_pages.electricity_long_term.analysis.recent_trend.title') %>

<%= component 'chart', chart_type: :group_by_week_electricity, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.group_by_week_electricity.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.group_by_week_electricity.subtitle') } %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_long_term.charts.group_by_week_electricity.explanation_html') %></p>
  <% end %>
<% end %>

<%= component 'chart', chart_type: :electricity_by_month_year_0_1, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.electricity_by_month_year.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.electricity_by_month_year.subtitle') } %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_long_term.charts.electricity_by_month_year.explanation') %></p>
  <% end %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'comparison', section_title: t('advice_pages.electricity_long_term.analysis.comparison.title') %>

TEXT

<%= component 'chart', chart_type: :benchmark_electric_only_£, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.benchmark.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.benchmark.subtitle') } %>
<% end %>

<p>
  <%= t('advice_pages.electricity_long_term.analysis.comparison.table_explanation', school_type: t('analytics.school_types.' + @school.school_type)) %>
</p>

TABLE

<%= component 'chart', chart_type: :group_by_week_electricity_versus_benchmark, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.group_by_week_electricity_versus_benchmark.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.group_by_week_electricity_versus_benchmark.subtitle') } %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'long-term-trends', section_title: t('advice_pages.electricity_long_term.analysis.long_term_trends.title') %>

<p><%= t('advice_pages.electricity_long_term.analysis.long_term_trends.summary') %></p>

<%= component 'chart', chart_type: :electricity_longterm_trend, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.electricity_longterm_trend.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.electricity_longterm_trend.subtitle') } %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_long_term.charts.electricity_longterm_trend.explanation') %></p>
  <% end %>
<% end %>

<%= component 'chart', chart_type: :group_by_week_electricity_unlimited, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.group_by_week_electricity_unlimited.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.group_by_week_electricity_unlimited.subtitle') } %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_long_term.charts.group_by_week_electricity_unlimited.explanation') %></p>
  <% end %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'meter-breakdown', section_title: t('advice_pages.electricity_long_term.analysis.meter_breakdown.title') %>

<p><%= t('advice_pages.electricity_long_term.analysis.meter_breakdown.summary') %></p>

<%= component 'chart', chart_type: :group_by_week_electricity_meter_breakdown_one_year, school: @school do |c| %>
  <% c.with_title { t('advice_pages.electricity_long_term.charts.group_by_week_electricity_meter_breakdown_one_year.title') } %>
  <% c.with_subtitle { t('advice_pages.electricity_long_term.charts.group_by_week_electricity_meter_breakdown_one_year.subtitle') } %>
  <% c.with_header do %>
    <p><%= t('advice_pages.electricity_long_term.charts.group_by_week_electricity_meter_breakdown_one_year.header') %></p>
  <% end %>
<% end %>

<p><%= t('advice_pages.electricity_long_term.analysis.meter_breakdown.table_introduction') %></p>

TABLE

<p><%= t('advice_pages.electricity_long_term.analysis.meter_breakdown.table_explanation') %></p>
