<p><%= t('advice_pages.electricity_long_term.analysis.summary') %></p>

<p><%= t('advice_pages.electricity_long_term.analysis.sections') %></p>

<ul>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.recent_trend.title'), '#recent-trend') %></li>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.comparison.title'), '#comparison') %></li>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.long_term_trends.title'), '#long-term-trends') %></li>
  <li><%= link_to(t('advice_pages.electricity_long_term.analysis.meter_breakdown.title'), '#meter-breakdown') %></li>
</ul>

<%= render 'schools/advice/section_title', section_id: 'recent-trend', section_title: t('advice_pages.electricity_long_term.analysis.recent_trend.title') %>

<%= render 'schools/advice/section_title', section_id: 'comparison', section_title: t('advice_pages.electricity_long_term.analysis.comparison.title') %>

<%= render 'schools/advice/section_title', section_id: 'long-term-trends', section_title: t('advice_pages.electricity_long_term.analysis.long_term_trends.title') %>

<%= render 'schools/advice/section_title', section_id: 'meter-breakdown', section_title: t('advice_pages.electricity_long_term.analysis.meter_breakdown.title') %>
