<table class="table advice-table <%=table_sorted%>" id="<%= @id %>">
  <thead>
    <tr>
      <th><%= t('schools.user_tariffs.tariff_partial.start_date') %></th>
      <th><%= t('schools.user_tariffs.tariff_partial.end_date') %></th>
      <th><%= t('schools.user_tariffs.name') %></th>
      <th><%= t('schools.user_tariffs.tariff_partial.type') %></th>
      <% if show_meters? %>
        <th data-orderable="false"><%= t('schools.user_tariffs.meters.meter_list') %></th>
      <% end %>
      <% if @show_actions %>
        <th data-orderable="false"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tariffs.each do |energy_tariff| %>
      <tr>
        <td data-order="<%= start_date_sortable(energy_tariff) %>"><%= start_date(energy_tariff) %></td>
        <td data-order="<%= end_date_sortable(energy_tariff) %>"><%= end_date(energy_tariff) %></td>
        <td><%= energy_tariff.name %></td>
        <td>
          <%= flat_rate_label(energy_tariff) %>
        </td>
        <% if show_meters? %>
          <td>
            <% if energy_tariff.meters.any? %>
              <ul style="list-style: none; padding-left: 0px;">
                <% energy_tariff.meters.each do |meter| %>
                  <li><%= meter.name_or_mpan_mprn %></li>
                <% end %>
              </ul>
            <% else %>
                <%= t('schools.user_tariffs.meters.all_meters', meter_type: energy_tariff.meter_type) %>
            <% end %>
          </td>
        <% end %>
        <% if show_actions? && can?(:manage, energy_tariff) %>
          <td>
            <%= link_to t('schools.user_tariffs.tariff_partial.full_details'),
                energy_tariffs_path(energy_tariff),
                class: 'btn btn-sm'
            %>
            <%= link_to t('common.labels.edit'),
                energy_tariffs_path(energy_tariff, [], { action: :edit }),
                class: 'btn btn-sm'
            %>
            <% if can_toggle_status?(energy_tariff) %>
              <%= link_to energy_tariff.enabled ? t('common.labels.deactivate') : t('common.labels.activate'),
                  energy_tariffs_path(energy_tariff, [], { action: :toggle_enabled }),
                  class: 'btn btn-sm',
                  id: "energy-tariff-#{energy_tariff.id}-toggle",
                  remote: true, method: :post, data: { confirm: t('common.confirm') }
              %>
              <% if !energy_tariff.dcc? %>
                <%= link_to t('common.labels.delete'),
                    energy_tariffs_path(energy_tariff),
                    method: :delete,
                    data: {confirm: t('common.confirm') },
                    class: 'btn btn-sm btn-danger',
                    style: energy_tariff.enabled ? 'display: none' : '',
                    id: "energy-tariff-#{energy_tariff.id}-delete"
                %>
              <% end %>
            <% elsif can_delete?(energy_tariff) %>
              <%= link_to t('common.labels.delete'),
                  energy_tariffs_path(energy_tariff),
                  method: :delete,
                  data: {confirm: t('common.confirm') },
                  class: 'btn btn-sm btn-danger',
                  id: "energy-tariff-#{energy_tariff.id}-delete"
              %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
