<table class="table advice-table" id="<%= table_id %>">
  <thead>
    <tr>
      <th><%= t('schools.user_tariffs.name') %></th>
      <% if show_meters? %>
        <th><%= t('schools.user_tariffs.meters.meter_list') %></th>
      <% end %>
      <th><%= t('schools.user_tariffs.tariff_partial.type') %></th>
      <th><%= t('schools.user_tariffs.tariff_partial.start_date') %></th>
      <th><%= t('schools.user_tariffs.tariff_partial.end_date') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tariffs.each do |energy_tariff| %>
      <tr>
        <td><%= energy_tariff.name %></td>
        <% if show_meters? %>
          <td>
            <ul style="list-style: none; padding-left: 0px;">
              <% energy_tariff.meters.each do |meter| %>
                <li><%= meter.name_or_mpan_mprn %></li>
              <% end %>
            </ul>
          </td>
        <% end %>
        <td>
          <%= flat_rate_label(energy_tariff) %>
        </td>
        <td><%= start_date(energy_tariff) %></td>
        <td><%= end_date(energy_tariff) %></td>
        <td>
          <% if show_actions? %>
            <%= link_to t('schools.user_tariffs.tariff_partial.full_details'),
                energy_tariffs_path(energy_tariff),
                class: 'btn' if can? :download, EnergyTariff
            %>
            <%= link_to t('common.labels.edit'),
                energy_tariffs_path(energy_tariff, [], { action: :edit }),
                class: 'btn'
            %>
            <%= link_to t('common.labels.delete'),
                energy_tariffs_path(energy_tariff),
                method: :delete,
                data: {confirm: t('common.confirm') },
                class: 'btn btn-danger'
                %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
