<td class="p-3 text-center">
  <%= fa_icon("clipboard-check fa-2x") %>
</td>
<td>
  <% if can?(:show, observation.audit) && observation.audit.published? %>
    <h3 class="pt-1"><strong>Received an energy audit:</strong> <%= link_to observation.audit.title, school_audit_path(@school, observation.audit)%></h3>
  <% else %>
    <h3 class="pt-1"><strong>Received an energy audit</strong></h3>
  <% end %>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
<% if show_actions && can?(:manage, observation.audit) %>
  <td class="text-right">
    <div class="btn-group">
      <%= link_to 'Edit', edit_school_audit_path(@school, observation.audit), class: 'btn btn-warning' %>
      <%= link_to 'Delete', school_audit_path(@school, observation.audit), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </td>
<% end %>
