<td class="p-3 text-center">
  <%= fa_icon("#{observation.intervention_type.intervention_type_group.icon} fa-2x") %>
</td>
<td>
  <h3 class="pt-1"><strong><%= link_to observation.intervention_type.title, school_intervention_path(@school, observation)%></strong></h3>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
<% if show_actions && can?(:manage, observation) %>
  <td class="text-right">
    <div class="btn-group">
      <%= link_to 'Edit', edit_intervention_path(observation), class: 'btn btn-warning' %>
      <%= link_to 'Delete', interventions_path(observation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </td>
<% end %>
