<% observable = observation.observable %>

<td class="p-3 text-center">
  <%= fa_icon("#{observable.class.try(:timeline_icon) || Observation.default_timeline_icon} fa-2x") %>
</td>
<td>
  <h3 class="pt-1"><strong><%= link_to observable.timeline_text, polymorphic_path([observable.school, observable])%></strong></h3>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
<% if show_actions && can?(:manage, observable) %>
  <td class="text-right">
    <div class="btn-group">
      <%= link_to t('common.labels.edit'), edit_polymorphic_path([observable.school, observable]), class: 'btn btn-warning' %>
      <%= link_to t('common.labels.delete'), polymorphic_path([observable.school, observable]), method: :delete, data: { confirm: t('common.confirm_delete', observable: observable.class.model_name.human) }, class: 'btn btn-danger' %>
    </div>
  </td>
<% end %>
