<td class="p-3 text-center">
  <%= fa_icon("clipboard-check fa-2x") %>
</td>
<td>
  <h3 class="pt-1"><strong><%= t('schools.observations.timeline.programme.completed_a_programme') %>:</strong> <%= link_to observation.programme.programme_type.title, programme_type_path(observation.programme.programme_type)%></h3>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
<% if show_actions && can?(:manage, observation) %>
  <td class="text-right">
    <div class="btn-group">
      <%= link_to t('common.labels.edit'), edit_school_programme_path(observation.school, observation.programme), class: 'btn btn-warning' %>
      <%= link_to t('common.labels.delete'), school_programme_path(observation.school, observation.programme), method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-danger' %>
    </div>
  </td>
<% end %>
