<%= render 'school_groups/advice/shared/advice_page',
           page_title: "#{@page_title} | #{@school_group.name}",
           school_group: @school_group do %>
  <%= render 'school_groups/advice/shared/advice_tabs',
             school_group: @school_group,
             advice_page: @advice_page,
             tab: @tab %>
  <div class="mt-4" id="<%= @advice_page_key %>-<%= @tab %>">
    <% cache_if can_cache_group_advice?(@schools),
                group_advice_cache_key(@school_group, @advice_page.key),
                expires_in: 4.hours do %>
      <%= render 'insights', school_group: @school_group %>
    <% end %>
  </div>
<% end %>
