<li class="nav-item dropdown" id="my-school-menu">
  <a class="nav-link dropdown-toggle" href="#" id="my_school"
      data-toggle="dropdown" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <%= t('my_school_menu.my_school') %>
  </a>
  <div class="dropdown-menu" aria-labelledby="my_school">
    <!-- School -->
    <%= link_to current_user_school.name, school_path(current_user_school), class: 'dropdown-item' %>

    <% if current_user_school.data_enabled? %>
      <!-- Energy analysis -->
      <%= link_to t('my_school_menu.energy_analysis'), school_advice_path(current_user_school), class: 'dropdown-item' %>

      <!-- Electricity / Electricity & solar usage -->
      <% if current_user_school.has_solar_pv? %>
        <%= link_to t('my_school_menu.electricity_and_solar_usage'),
                    pupils_school_analysis_path(current_user_school, category: :solar), class: 'dropdown-item' %>
      <% elsif current_user_school.has_electricity? %>
        <%= link_to t('my_school_menu.electricity_usage'),
                    pupils_school_analysis_path(current_user_school, category: :electricity), class: 'dropdown-item' %>
      <% end %>

      <!-- Gas usage -->
      <%= if current_user_school.has_gas?
            link_to t('my_school_menu.gas_usage'), pupils_school_analysis_path(current_user_school, category: :gas),
                    class: 'dropdown-item'
          end %>

      <!-- Storage heater usage -->
      <%= if current_user_school.has_storage_heaters?
            link_to t('my_school_menu.storage_heater_usage'),
                    pupils_school_analysis_path(current_user_school, category: :storage_heaters), class: 'dropdown-item'
          end %>
      <% if EnergySparks::FeatureFlags.active?(:live_data) %>
        <%= if current_user_school.has_live_data?
              link_to t('my_school_menu.live_energy_data'), school_live_data_path(current_user_school),
                      class: 'dropdown-item'
            end %>
      <% end %>
      <!-- Review targets -->
      <% if Targets::SchoolTargetService.targets_enabled?(current_user_school) &&
              can?(:manage, SchoolTarget) &&
              Targets::SchoolTargetService.new(current_user_school).enough_data? %>
        <%= link_to t('my_school_menu.review_targets'),
                    school_school_targets_path(current_user_school),
                    class: 'dropdown-item' %>
        <% end %>
    <% end %>

    <!-- Recommendations page link -->
    <%= link_to t('my_school_menu.recommended_activities'),
                school_recommendations_path(current_user_school), class: 'dropdown-item' %>

    <!-- School programmes -->
    <%= link_to t('my_school_menu.school_programmes'), programme_types_path, class: 'dropdown-item' %>

    <!-- Scoreboard -->
    <% if current_user.default_scoreboard %>
      <%= link_to t('my_school_menu.scoreboard'), scoreboard_path(current_user.default_scoreboard),
                  class: 'dropdown-item' %>
    <% end %>

    <!-- My alerts -->
    <%= link_to t('my_school_menu.my_alerts'),
                user_contacts_path(current_user), class: 'dropdown-item' %>

    <!-- Download our data -->
    <% if current_user_school.data_enabled? %>
      <%= link_to t('my_school_menu.download_our_data'), school_downloads_path(current_user_school),
                  id: 'download-your-data', class: 'dropdown-item' %>
    <% end %>

    <!-- My school group -->
    <% if current_user_school_group %>
      <%= link_to t('my_school_menu.my_school_group'), school_group_path(current_user_school_group),
                  class: 'dropdown-item' %>
    <% end %>

    <% if current_user_school&.school_group&.present? %>
      <!-- Compare schools -->
      <%= link_to t('schools.school_group.compare_schools'),
                  "#{compare_index_path(school_group_ids: [current_user_school.school_group.id])}#groups",
                  class: 'dropdown-item' %>
    <% end %>
  </div>
</li>
