<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "Complete Meter Review for #{@school.name}" do %>
  <div class="row">
    <div class="col">
      <p>
        To enable the following meters for access via the n3rgy API, we must review
        whether the school has given us appropriate consent and have provided sufficient
        proof of access to the meters.
      </p>
      <p>
        Only complete the review if you are confident that these meters belong to the
        school.
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <%= fa_icon(@school.consent_up_to_date? ? 'check-circle text-success' : 'times-circle text-danger') %>
      <% if @school.consent_up_to_date? %>
        This school has <%= link_to 'granted consent', school_consent_grants_path(@school) %> using the latest consent statement
      <% else %>
        This school has not <%= link_to 'granted consent', school_consent_grants_path(@school) %> using the latest consent statement
        <div class="alert alert-danger d-flex flex-wrap justify-content-between">
          <span>
            We do not have up to date consent for <%= @school.name %> so meters cannot be
            activated. The form is disabled.
          </span>
          <%= link_to 'Request consent', new_admin_school_consent_request_path(@school), class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>Review form</h4>
      <%= render 'form', url: admin_school_meter_reviews_path(@school) %>
    </div>
  </div>
<% end %>
