<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Completed Meter Review" do %>

  <div class="row mb-2">
    <div class="col">
      <p>
        This review was completed on <%= nice_date_times(@meter_review.created_at) %> by <%= @meter_review.user.name %>
      </p>

      <p>
        At that time, <%= @school.name %> had
        <%= link_to 'given consent', admin_consent_grant_path(@meter_review.consent_grant) %>.
      </p>
   </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>Review summary</h4>
      <%= render 'form', url: admin_school_meter_review_path(@school, @meter_review) %>
    </div>
  </div>
<% end %>
