<% content_for :page_title, t('scoreboards.page_title') %>

<div class="row padded-row">
  <div class="col-lg-3">
    <%= image_tag("actions/podium.png", class: "img-fluid ") %>
  </div>
  <div class="col-lg-9">
    <h1 class="display-3"><strong><%= t('scoreboards.page_title') %></strong></h1>
    <p>
      <%= t('scoreboards.intro_para_1') %>
    </p>
    <p>
      <%= t('scoreboards.intro_para_2') %>
    </p>
  </div>
</div>

<%= render 'prizes' if EnergySparks::FeatureFlags.active?(:scoreboard_prizes) %>

<div id="scoreboards">
  <h2><%= t('scoreboards.all_title') %></h2>
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <% @national_scoreboard.scored_schools.top(5).each do |s| %>
        <h4><span class="badge badge-success"><%= s.sum_points %></span> <%= s.name %></h4>
      <% end %>
    </div>
    <div class="card-footer text-right">
      <%= link_to scoreboard_path(@national_scoreboard) do %>
        <%= t('scoreboards.view_all', count: @national_scoreboard.scored_schools.count) %>
      <% end %>
    </div>
  </div>

  <h2><%= t('scoreboards.regional_title') %></h2>
  <% @scoreboards.each_slice(2) do |row| %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck">
          <% row.each do |scoreboard| %>
            <div class="card mt-4">
              <div class="card-body">
                <h3><%= scoreboard.name %></h3>
                <% scoreboard.scored_schools.top(3).each do |s| %>
                  <h4><span class="badge badge-success"><%= s.sum_points %></span> <%= s.name %></h4>
                <% end %>
              </div>
              <div class="card-footer text-right">
                <%= link_to scoreboard_path(scoreboard) do %>
                  <%= t('scoreboards.view_all', count: scoreboard.schools.visible.count) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>