<h1>Scoreboards</h1>

<p>Scoreboards are assigned to one or more school groups so they can be compared.</p>

<% if @scoreboards.any? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @scoreboards.each do |scoreboard| %>
        <tr>
          <td><%= scoreboard.name %></td>
          <td><%= scoreboard.description %></td>
          <td>
            <div class='btn-group'>
              <%= link_to 'Edit', edit_scoreboard_path(scoreboard), class: 'btn btn-info' %>
              <%= link_to 'Delete', scoreboard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no Scoreboards</h2>
<% end %>

<%= link_to 'New Scoreboard', new_scoreboard_path, class: 'btn btn-primary' %>
