<% content_for :page_title, t('scoreboards.page_title') %>

<div class="row padded-row">
  <div class="col-lg-3">
    <%= image_tag("actions/podium.png", class: "img-fluid ") %>
  </div>
  <div class="col-lg-9">
    <h1 class="display-3"><strong><%= t('scoreboards.page_title') %></strong></h1>
    <p>
      <%= t('scoreboards.intro_para_1') %>
    </p>
    <p>
      <%= t('scoreboards.intro_para_2') %>
    </p>
  </div>
</div>

<% if @scoreboards.any? %>
  <% @scoreboards.each_slice(2) do |row| %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck" id="scoreboards">
          <% row.each do |scoreboard| %>
            <div class="card mt-4">
              <div class="card-body">
                <h3><%= scoreboard.name %></h3>
                  <% scoreboard.scored_schools.with_points.schools_at(0, 3).each_with_index do |s, idx| %>
                  <div class="row">
                    <div class="col-1"><h4><span class="badge badge-success"><%= s.sum_points %></span></h4></div>
                    <div class="col-11"><h4><%= s.name %></h4></div>
                  </div>
                  <% end %>
              </div>
              <div class="card-footer text-right">
                <%= link_to scoreboard_path(scoreboard) do %>
                  <%= t('scoreboards.view_all', count: scoreboard.schools.visible.count) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
