<% content_for :page_title, 'Scoreboard' %>

<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h1>Scoreboard <%= @academic_year.title %>: <%= @scoreboard.name %></h1>
    </div>
    <div class="col-md-4">
      <div class='btn-group float-right mt-4'>
        <%= link_to 'Compare schools', benchmarks_path(benchmark: {scoreboard_ids: [@scoreboard.id]} ), class: 'btn' %>
      </div>
    </div>
    <div class="col-md-12">
      <p>
        See how well each of our <%= @scoreboard.name%> Energy Sparks schools are recording their energy saving <%= link_to 'activities', activity_categories_path_url(current_user&.school) %>!
        Scoreboard points are earned from recording <%= link_to 'activities', activity_categories_path_url(current_user&.school) %> investigating energy use, learning about energy and taking energy saving action around their school.
      </p>
    </div>
  </div>


  <ul class="nav nav-pills mb-3">
    <% @active_academic_years.each do |academic_year| %>
      <li class="nav-item">
        <%= link_to academic_year.title, scoreboard_path(@scoreboard, academic_year: academic_year), class: "nav-link #{'active' if academic_year == @academic_year}"%>
      </li>
    <% end %>
  </ul>


  <div class="row">
    <table id='scoreboard' class='table'>
      <thead>
        <tr>
          <th><h4>Position</h4></th>
          <th><h4>School</h4></th>
          <th><h4>Score</h4></th>
        </tr>
      </thead>

      <tbody>
        <% @schools.with_points.schools_with_positions.each do |position, schools| %>
          <% schools.each do |school|%>
            <tr>
              <td scope="row">
                <h2><span class="badge badge-primary"><%= '=' if schools.size > 1 %><%= position %></span></h2>
              </td>
              <td>
                <h2><%= link_to school.name, school_path(school) %></h2>
              </td>
              <td>
                <h2>
                  <%= link_to school.sum_points, school_timeline_path(school, academic_year: @academic_year), class: 'badge badge-success' %>
                  &nbsp;
                  <% if school.recent_points && school.recent_points > 0 %>
                    <i class="fa fa-arrow-up" data-toggle="tooltip" title="School has scored points in the last month"></i>
                  <% end %>
                </h2>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% @schools.without_points.each do |school| %>
          <tr>
            <td />
            <td>
              <h2><%= link_to school.name, school_path(school) %></h2>
            </td>
            <td />
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
