<%= content_for :page_title, t('pupils.digital_signage.index.title') %>

<div class="row">
  <div class="col-12">
    <h1><%= t('pupils.digital_signage.index.title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render PromptComponent.new status: :neutral, icon: 'info-circle' do |c| %>
      <% c.with_link { link_to t('pupils.digital_signage.index.prompt.link_text'), 'mailto:support@energysparks.uk' } %>
      <% c.with_title { t('pupils.digital_signage.index.prompt.title') } %>
      <p>
        <%= t('pupils.digital_signage.index.prompt.text') %>
      </p>
    <% end %>
  </div>
</div>

<% if @school.data_sharing.to_sym == :public %>
  <div class="row">
    <div class="col-12">
      <%= t('pupils.digital_signage.index.intro_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2><%= t('pupils.digital_signage.index.equivalences.title') %></h2>
      <p><%= t('pupils.digital_signage.index.equivalences.intro_html') %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table advice-table">
        <thead>
          <tr>
            <th><%= t('advice_pages.index.priorities.table.columns.fuel_type') %></th>
            <th><%= t('pupils.digital_signage.table.columns.url_pattern') %></th>
            <th><%= t('pupils.digital_signage.table.columns.link') %></th>
          </tr>
        </thead>
        <tbody>
          <% if @school.has_electricity? %>
            <tr>
              <td><%= t('common.electricity') %></td>
              <td><code>/pupils/schools/<%= @school.slug %>/digital-signage/electricity/equivalences</code></td>
              <td><%= link_to t('pupils.digital_signage.table.columns.link'),
                              pupils_school_digital_signage_equivalences_path(@school, :electricity) %></td>
            </tr>
          <% end %>
          <% if @school.has_gas? %>
            <tr>
              <td><%= t('common.gas') %></td>
              <td><code>/pupils/schools/<%= @school.slug %>/digital-signage/gas/equivalences</code></td>
              <td><%= link_to t('pupils.digital_signage.table.columns.link'),
                              pupils_school_digital_signage_equivalences_path(@school, :gas) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2><%= t('pupils.digital_signage.index.charts.title') %></h2>
      <p><%= t('pupils.digital_signage.index.charts.intro_html') %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table advice-table">
        <thead>
          <tr>
            <th><%= t('advice_pages.index.priorities.table.columns.fuel_type') %></th>
            <th><%= t('pupils.digital_signage.table.columns.chart_type') %></th>
            <th><%= t('pupils.digital_signage.table.columns.description') %></th>
            <th><%= t('pupils.digital_signage.table.columns.url_pattern') %></th>
            <th><%= t('pupils.digital_signage.table.columns.link') %></th>
          </tr>
        </thead>
        <tbody>
          <% if @school.has_electricity? %>
            <% Pupils::DigitalSignageController::CHART_TYPES.each do |chart_type| %>
              <tr>
                <td><%= t('common.electricity') %></td>
                <td><%= t("pupils.digital_signage.index.charts.#{chart_type}.title") %></td>
                <td><%= t("pupils.digital_signage.index.charts.#{chart_type}.description") %></td>
                <td><code>/pupils/schools/<%= @school.slug %>/digital-signage/electricity/charts/<%= chart_type %></code></td>
                <td><%= link_to t('pupils.digital_signage.table.columns.link'),
                                pupils_school_digital_signage_charts_path(@school, :electricity, chart_type) %></td>
              </tr>
            <% end %>
          <% end %>
          <% if @school.has_gas? %>
            <% Pupils::DigitalSignageController::CHART_TYPES.each do |chart_type| %>
              <tr>
                <td><%= t('common.gas') %></td>
                <td><%= t("pupils.digital_signage.index.charts.#{chart_type}.title") %></td>
                <td><%= t("pupils.digital_signage.index.charts.#{chart_type}.description") %></td>
                <td><code>/pupils/schools/<%= @school.slug %>/digital-signage/gas/charts/<%= chart_type %></code></td>
                <td><%= link_to t('pupils.digital_signage.table.columns.link'),
                                pupils_school_digital_signage_charts_path(@school, :gas, chart_type) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-12">
      <%= t('pupils.digital_signage.index.public_data_html') %>
    </div>
  </div>
<% end %>
