<%= f.input t_field(:name, locale), as: :string %>

<%= f.input t_field(:summary, locale), as: :string %>
<p class="small">The summary text will appear on lists of intervention types.</p>

<div class="download-links-trix-editor <%= locale %>">
  <%= f.label t_field(:download_links, locale) %>
  <p class="small">These download links will appear in the right-hand panel under the image.</p>
  <%= f.rich_text_area t_field(:download_links, locale) %>
</div>

<div class="description-trix-editor <%= locale %>">
  <%= f.label t_field(:description, locale) %>
  <p class="small">The description of the intervention for all users</p>
  <%= f.rich_text_area t_field(:description, locale) %>
</div>
