<%= simple_form_for([:admin, intervention_type],
  html: { id: 'intervention_type_form' }) do |f| %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :name do |locale| %>
    <%= f.input t_field(:name, locale), label: InterventionType.human_attribute_name(:name), as: :string %>
  <% end %>

  <%= f.input :intervention_type_group_id, as: :select, label: 'Intervention category', collection: InterventionTypeGroup.all, include_blank: false %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :image do |locale| %>
    <%= f.label 'Image' %>

    <p class="small">This image will appear in the right-hand panel next to both non-specific and school-specific descriptions.</p>
    <div class="upload-preview">
      <div class="col-md-3">
        <% t_image = ('image_' + locale.to_s).to_sym %>
        <% if !f.object.send(t_image).blank? %>
          <%= image_tag f.object.send(t_image), width: '300px' %>
        <% else %>
          <%= image_tag '1x1.png' %>
        <% end %>
      </div>
    </div>

    <%= f.input t_field(:image, locale), label: false %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :summary do |locale| %>
    <%= f.input t_field(:summary, locale), label: InterventionType.human_attribute_name(:summary), as: :string %>
    <p class="small">The summary text will appear on lists of intervention types.</p>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :download_links do |locale| %>
    <div class="download-links-trix-editor <%= locale %>">
      <%= f.label InterventionType.human_attribute_name(:download_links) %>
      <p class="small">These download links will appear in the right-hand panel under the image.</p>
      <%= f.rich_text_area t_field(:download_links, locale) %>
    </div>
  <% end %>

  <%= render 'admin/activity_types/link_rewrites', f: f %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
    <div class="description-trix-editor <%= locale %>">
      <%= f.label InterventionType.human_attribute_name(:description) %>
      <p class="small">The description of the intervention for all users</p>
      <%= f.rich_text_area t_field(:description, locale) %>
    </div>
  <% end %>

  <%= f.input :score, label: 'Score', as: :string %>
  <%= f.input :maximum_frequency, as: :string %>
  <p class="small">Note: This is the maximum number of times a school can record the activity their academic year and still be awarded the above score. After this they get zero.</p>

  <%= f.input :active %>

  <%= f.input :custom, label: "Custom ('Other')" %>

  <%= f.input :show_on_charts, label: 'Show on charts?' %>

  <h2>Fuel types</h2>
  <%= render 'admin/activity_types/crud_filter_checkboxes', field: :fuel_type, collection: InterventionType::VALID_FUEL_TYPES.map { |fuel_type| OpenStruct.new(id: fuel_type.to_s, name: fuel_type.to_s.capitalize.humanize) }, form: f %>

  <div class="intervention_type_suggestions">
    <h2>Suggested Next Actions</h2>

    <div class="row">
      <div class="col-md-8 mb-3">
        <label for="firstName">Action Type</label>
      </div>
      <div class="col-md-1 mb-3">
        <label for="lastName">Delete?</label>
      </div>
    </div>

    <%= f.fields_for :intervention_type_suggestions do |suggestion| %>
      <div class="row">
        <div class="col-md-8 mb-3">
          <%= suggestion.select(
                :suggested_type_id,
                grouped_options_for_select(
                  InterventionTypeGroup.listed_with_intervention_types.map{|group, types| [group.name, types.map {|type| [type.name, type.id]}]},
                  suggestion.object.suggested_type_id.to_s
                ),
                { include_blank: true },
                { class: 'form-control select2'}
              )
          %>
        </div>
        <div class="col-md-1 mb-3">
          <%= suggestion.check_box :_destroy, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
