<h1>Intervention Types</h1>
<div class="container">
  <div class="row">
    <p><%= link_to 'New Intervention Type', new_admin_intervention_type_path, class: 'btn' %></p>
  </div>
</div>

<% InterventionTypeGroup.all.each do |intervention_type_group| %>
  <div class="container">
    <h2><%= intervention_type_group.title %></h2>
    <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Score</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @intervention_types.where(intervention_type_group: intervention_type_group).each do |intervention_type| %>
          <tr class="<%= active(intervention_type.active) %>" scope="row" >
            <td><%= link_to intervention_type.title, admin_intervention_type_path(intervention_type) %></td>
            <td><%= intervention_type.points %></td>
            <td><%= link_to 'Edit', edit_admin_intervention_type_path(intervention_type), class: 'btn btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

<% end %>

<div class="container">
  <div class="row">
    <p><%= link_to 'New Intervention Type', new_admin_intervention_type_path, class: 'btn' %></p>
  </div>
</div>
