<% content_for :page_title do %>
    Intervention Type: <%= @intervention_type.name %>
<% end %>

<div class="row padded-row">
  <div class="col-md-9">
    <h1><%= @intervention_type.name %></h1>

    <% I18n.available_locales.each do |locale| %>
      <h3><%= t_attr(:intervention_type, :summary, locale) %></h3>
      <% if @intervention_type.summary(locale: locale).present?  %>
        <%= @intervention_type.summary(locale: locale) %>
      <% else %>
        <p><em>No summary given</em></p>
      <% end %>
    <% end %>

    <% I18n.available_locales.each do |locale| %>
      <div class="intervention_type">
        <h3><%= t_attr(:intervention_type, :description, locale) %></h3>
        <% if @intervention_type.description(locale: locale).present? %>
          <%= @intervention_type.description(locale: locale) %>
        <% else %>
          <p><em>No description given</em></p>
        <% end %>
      </div>
    <% end %>

  </div>
  <div class="col-md-3 pt-2">
    <%= render 'admin/activity_types/activity_type_resources', activity_type: @intervention_type %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><strong>Currently active:</strong> <%= @intervention_type.active %></p>
    <div class="other-actions">
      <%= link_to 'Edit', edit_admin_intervention_type_path(@intervention_type), class: 'btn btn-primary' %>
      <%= link_to 'All Types', admin_intervention_types_path, class: 'btn btn-secondary'  %>
    </div>
  </div>
</div>
