<div class="d-flex justify-content-between align-items-center">
  <h1><%= controller.class::NAME %> Site <%= @installation.display_name %></h1>
  <div class="h5">
    <%= link_to 'All Solar API feeds', school_solar_feeds_configuration_index_path(@school), class: 'btn btn-default' %>
  </div>
</div>

<%= render 'show' %>

<p><%= link_to 'Delete', polymorphic_path([@school, @installation]),
               method: :delete, data: { confirm: 'Are you sure? This will delete all its meters' } %>
