<% if title %>
  <h4><strong><%= title %></strong></h4>
<% end %>
<div class="card-deck recommendations-component<%= classes %>">

  <% items.first(limit).each_with_index do |item, i| %>
    <div class="card<%= responsive_classes(i) %>">
      <%= link_to item.href do %>
        <%= image_tag(item.image, class: 'card-img-top img-fluid activity-card-img') %>
      <% end %>
      <div class="card-body">
        <p class="card-text">
        <%= link_to item.name, item.href, class: 'text-decoration-none stretched-link' %>
        </p>
      </div>
      <% if footer %>
        <div class="card-footer border-top-0 bg-transparent"></div>
      <% end %>
    </div>
  <% end %>
</div>
