<%= tag.div id: id, class: classes do %>
  <% if title %>
    <h4><%= title %></h4>
  <% end %>
  <% if description %>
    <p><%= description %></p>
  <% end %>
  <div class="card-deck justify-content-center">
    <% items.first(limit).each_with_index do |item, i| %>
      <div class="card<%= responsive_classes(i) %>">
        <%= link_to item.href do %>
          <%= image_tag(cdn_link_url(item.image), class: 'card-img-top img-fluid activity-card-img') %>
        <% end %>
        <div class="card-body">
          <p class="card-text">
          <%= link_to item.name, item.href, class: 'text-decoration-none stretched-link' %>
          </p>
        </div>
        <% if footer %>
          <div class="card-footer border-top-0 bg-transparent"><%= footer %></div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
