<div class="border rounded bg-light p-4">
  <%= simple_form_for([:admin, case_study]) do |f| %>
    <div class="row">
      <div class="col-6">
        <%= render 'admin/shared/locale_tabs', f: f, field: :tags do |locale| %>
          <%= f.input t_field(:tags, locale),
                      label: CaseStudy.human_attribute_name(:tags),
                      hint: 'comma seperated' %>
        <% end %>

        <%= render 'admin/shared/locale_tabs', f: f, field: :title do |locale| %>
          <%= f.input t_field(:title, locale), label: CaseStudy.human_attribute_name(:title) %>
        <% end %>
        <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
          <div class="description-trix-editor-<%= locale %>">
            <%= f.rich_text_area t_field(:description, locale), label: CaseStudy.human_attribute_name(:description) %>
          </div>
        <% end %>
      </div>
      <div class="col-6">
        <div class='pb-3'>
          <% if case_study.image.attached? && case_study.image.persisted? %>
            <div class="mt-3">
              <p>Current Image:</p>
              <%= image_tag case_study.image, class: 'img-thumbnail' %>
            </div>
          <% else %>
            No image attached
          <% end %>
          <%= f.input :image, as: :file, label: 'Image', hint: 'Must be PNG or JPG' %>
        </div>
        <%= render 'admin/shared/locale_tabs', f: f, field: :file do |locale| %>
          <%= f.input t_field(:file, locale), label: CaseStudy.human_attribute_name(:file) %>
        <% end %>
        <%= render 'admin/cms/change_history', model: case_study %>
      </div>
    </div>
    <div class="mt-2">
      <%= f.input :published, as: :boolean %>
      <%= f.submit 'Save', class: 'btn btn-primary btn-small' %>
      <%= link_to 'Back', admin_case_studies_path, class: 'btn btn-secondary btn-small' %>
    </div>
  <% end %>
</div>
