<div class="d-flex justify-content-between align-items-center">
  <h1>
    Case Studies
    <%= link_to 'New', new_admin_case_study_path, class: 'btn btn-sm' %>
  </h1>

</div>

  <p>
    By default, the <%= link_to 'case studies page', case_studies_path %> only shows images for case studies if all
    have images attached. <%= link_to 'View the page with images', case_studies_path(show_images: true) %>
  </p>

<div classes='container'>
  <div class="p-2">
    <% @case_studies.each do |case_study| %>
      <div class='clearfix border rounded bg-light p-2 row mb-2'>
        <div class='col-md-12'>
          <h4 class='pb-0 d-flex align-items-center'>
            <span class="badge rounded-pill bg-white text-dark font-weight-normal border">
              <%= case_study.position %>
            </span>
            <span class='d-inline-block text-truncate ps-2' style="max-width: 90%">
              <%= case_study.title %>
            </span>
            <span class='ml-auto pb-2'>
              <small>
                <% if case_study.image.attached? %>
                  <span title='has image' data-toggle='tooltip'><%= render IconComponent.new(name: 'image') %></span>
                <% else %>
                  <span title='no image' data-toggle='tooltip'>
                    <%= render IconComponent.new(name: 'triangle-exclamation') %>
                  </span>
                <% end %>
                 <% if case_study.published %>
                  <span title='published' data-toggle='tooltip'><%= render IconComponent.new(name: 'eye') %></span>
                <% else %>
                  <span title='hidden' data-toggle='tooltip'>
                    <%= render IconComponent.new(name: 'eye-slash') %>
                  </span>
                <% end %>
              </small>
            </span>
          </h4>
            <div class='ps-3 pb-2'>
            <span data-toggle="collapse"
                  href="#case_study-<%= case_study.id %>" role="button" aria-expanded="true"
                  aria-controls="case_study-<%= case_study.id %>"
                  class="toggler text-decoration-none collapsed">
              <%= toggler %>
            </span>
            <span class="badge rounded-pill bg-white text-dark font-weight-normal border">
              Downloads: <%= t_attached_links(case_study, :file, ' • ') %>
            </span>
            <% case_study.tag_list.each do |tag| %>
              <span class="badge bg-success font-weight-normal">
                <%= tag %>
              </span>
            <% end %>
            <span class='float-right'>
              <%= link_to 'Edit', edit_admin_case_study_path(case_study), class: 'btn btn-sm' %>
              <%= link_to 'Delete', admin_case_study_path(case_study),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm' %>
            </span>
          </div>

          <div class="collapse" id="case_study-<%= case_study.id %>">
            <%= render Layout::GridComponent.new(cols: 3, classes: 'py-2 pl-2') do |grid| %>
              <%= grid.with_card do |card| %>
                <%= card.with_image(src: case_study.image, rounded: :top) if case_study.image.attached? %>
                <%= card.with_feature_card(
                      theme: :light, size: :sm,
                      classes: "p-4 rounded-bottom-xl #{'rounded-top-xl' unless case_study.image.attached?}"
                    ) do |feature| %>
                  <% case_study.tag_list.each do |tag| %>
                    <%= feature.with_tag(tag) %>
                  <% end %>
                  <%= feature.with_header(title: case_study.title) %>
                  <%= feature.with_description { case_study.description.to_s } %>
                  <%= feature.with_link(
                        href: case_study_download_path(case_study, locale: case_study.file_locale),
                        download: true
                      ) do
                        t('common.labels.download')
                      end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
