<%= tag.div id: id, class: classes do %>
  <table class="table">
    <thead>
      <tr>
        <% if show_positions? %>
          <th><%= t('common.labels.place') %></th>
        <% end %>
        <th><%= t('common.school') %></th>
        <th><%= t('programme_types.show.points') %></th>
        <th><%= t('common.labels.activity') %></th>
      </tr>
    </thead>
    <tbody>
      <% observations.each do |observation| %>
        <tr>
          <% if show_positions? %>
            <td>
              <%= position(observation.school) || '-' %>
            </td>
          <% end %>
          <td>
            <%= link_to observation.school.name, school_path(observation.school) %>
          </td>
          <td>
            <%= observation.points || '-' %>
          </td>
          <td>
            <%= render ObservationComponent.new(observation: observation, style: :description) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
