<div id="<%= id %>" class="scoreboard-activity-component <%= classes %>">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('common.labels.place') %></th>
        <th><%= t('common.school') %></th>
        <th><%= t('common.labels.activity') %></th>
      </tr>
    </thead>
    <tbody>
      <% observations.each do |observation| %>
        <tr>
          <td>
            <%= position(observation.school).ordinal %>
          </td>
          <td>
            <%= link_to observation.school.name, school_path(observation.school) %>
          </td>
          <td>
            <%= component 'observation', observation: observation, style: :description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
