<h1><%= t('jobs.title') %></h1>

<% if @jobs.any? %>
  <p><%= t('jobs.content_1') %>.</p>
  <p><%= t('jobs.content_2_html') %></p>
  <table class="table mt-2">
    <thead>
      <tr>
        <th><%= t('jobs.title') %></th>
        <th><%= t('jobs.description') %></th>
        <th><%= t('jobs.voluntary') %></th>
        <th><%= t('jobs.closing_date') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td><%= y_n(job.voluntary) %></td>
          <td><%= nice_dates(job.closing_date) %></td>
          <td>
            <% if job.file.attached? %>
              <%= link_to t('jobs.more_information'), job_download_path(id: job.id, serve: :inline) %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <script type="application/ld+json">
    <%= @jobs.map { |job| job.to_job_posting.to_json }.join(',').html_safe %>
  </script>
<% else %>
  <p><%= t('jobs.none_available') %>.</p>
<% end %>
