<h1>Jobs</h1>

<% if @jobs.any? %>
  <p>
    Join Energy Sparks staff and volunteer team to make a real difference in the fight against climate change. You will support the delivery of data driven learning opportunities to teach young people how to cut carbon emissions in their schools and homes.
  </p>

  <p>
  The following jobs and voluntary positions are currently available. If you are interested in volunteering for Energy Sparks and don't see a suitable opportunity below, please contact us on <a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a>
  </p>
  <table class="table mt-2">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Voluntary?</th>
        <th>Closing Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td><%= y_n(job.voluntary) %></td>
          <td><%= nice_dates(job.closing_date) %></td>
          <td>
            <% if job.file.attached? %>
              <%= link_to 'More information', controller: :jobs, action: :download, serve: :inline, id: job.id %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <script type="application/ld+json">
    <%= @jobs.map { |job| job.to_job_posting.to_json }.join(",").html_safe %>
  </script>
<% else %>
  <p>
    We currently have no jobs or voluntary positions available.
  </p>
<% end %>
