<%= form_for([:admin, school_onboarding]) do |f| %>

  <%= render 'shared/errors', subject: school_onboarding, subject_name: 'form' %>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :school_name %>
      <%= f.text_field :school_name, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :urn, 'URN' %>
      <%= f.text_field :urn, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.check_box :full_school %>
    <%= f.label :full_school, 'Is this onboarding for an entire school?' %>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :contact_email, 'Contact email address' %>
      <%= f.text_field :contact_email, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :school_group_id, 'School Group' %>
      <%= f.select :school_group_id,
                   options_from_collection_for_select(
                     SchoolGroup.organisation_groups.order(:name), 'id', 'name', school_onboarding.school_group_id
                   ),
                   { include_blank: true },
                   { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :notes, 'Setup notes (not shown to school)' %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Next', class: 'btn btn-primary' %>
  </div>
<% end %>
