<%= form_for([:admin, school_onboarding]) do |f| %>

  <%= render 'shared/errors', subject: school_onboarding, subject_name: 'form' %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :school_name %>
      <%= f.text_field :school_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :urn, 'URN' %>
      <%= f.text_field :urn, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.check_box :full_school %>
    <%= f.label :full_school, 'Is this onboarding for an entire school?' %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :contact_email, 'Contact email address' %>
      <%= f.text_field :contact_email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :data_sharing, 'Data Sharing' %>
      <%= f.select :data_sharing,
                   options_for_select(
                     School.data_sharings.map { |key, _value| [key.titleize, key] },
                     @school_onboarding.data_sharing
                   ),
                   { include_blank: false },
                   { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :school_group_id, 'School Group' %>
      <%= f.select :school_group_id,
                   options_from_collection_for_select(
                     SchoolGroup.organisation_groups.order(:name), 'id', 'name', school_onboarding.school_group_id
                   ),
                   { include_blank: true },
                   { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :project_group_id, 'Project Group' %>
      <%= f.select :project_group_id,
                   options_from_collection_for_select(
                     SchoolGroup.project_groups.order(:name), 'id', 'name', school_onboarding.project_group_id
                   ),
                   { include_blank: true },
                   { class: 'form-control' } %>
      <small>Optional: configure a project group that this school will be a part of once onboarded</small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :funder_id %>
      <%= f.select :funder_id,
                   options_for_select(Funder.all.order(name: :asc).pluck(:name, :id), @school_onboarding.funder_id),
                   { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :notes, 'Setup notes (not shown to school)' %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Next', class: 'btn btn-primary' %>
  </div>
<% end %>
