<h1>Schools recently onboarded</h1>

<div class="row d-flex justify-content-center pt-4">
  <%= render partial: 'shared/pagy/bootstrap_nav', locals: { pagy: @pagy } %>
</div>
<table class="table table-sorted table-sm" id='recently_onboarded_table'>
  <thead>
    <tr>
      <th>Country</th>
      <th>School group</th>
      <th>School name</th>
      <th>Contact email</th>
      <th>Onboarding started</th>
      <th>Onboarding completed</th>
      <th>Data enabled?</th>
      <th style="width:10%">Data enabled on</th>
      <th style="width:10%">Days until enabled</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |onboarding| %>
      <tr>
        <td><%= onboarding.school.country.presence&.capitalize %></td>
        <td><%= link_to onboarding.school.school_group.name, admin_school_group_path(onboarding.school.school_group) if
        onboarding.school.school_group.present? %> </td>
        <td><%= link_to onboarding.school_name, school_path(onboarding.school) %></td>
        <td><%= onboarding.contact_email %></td>
        <td data-order="<%= onboarding.started_on %>"><%= nice_date_times(onboarding.started_on) %></td>
        <td data-order="<%= onboarding.onboarding_completed_on %>">
        <%= nice_date_times(onboarding.onboarding_completed_on) %></td>
        <td><%= onboarding.school.data_enabled %></td>
        <td data-order="<%= onboarding.first_made_data_enabled %>">
        <%= nice_date_times(onboarding.first_made_data_enabled) %></td>
        <td><%= onboarding.days_until_data_enabled %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row d-flex justify-content-center pt-4">
  <%= render partial: 'shared/pagy/bootstrap_nav', locals: { pagy: @pagy } %>
</div>
