<h1>Schools being set up automatically</h1>

<%= link_to 'New Automatic School Setup', new_admin_school_onboarding_path, class: 'btn btn-primary mb-3' %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>School name</th>
      <th>Contact email</th>
      <th>Last activity</th>
      <th>last event</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <% @school_onboardings.each do |onboarding| %>
      <tr>
        <td><%= onboarding.school_name %></td>
        <td><%= onboarding.contact_email %> <%= link_to 'Change', edit_admin_school_onboarding_email_path(onboarding), class: 'btn btn-warning btn-sm' if onboarding.has_only_sent_email_or_reminder? %></td>
        <td><%= nice_date_times(onboarding.events.maximum(:created_at)) %></td>
        <td><%= SchoolOnboardingEvent.events.key(onboarding.events.maximum(:event)).try(:humanize) %></td>
        <td>
          <% unless onboarding.has_event?(:onboarding_complete) %>
            <%= button_to 'Send reminder email', admin_school_onboarding_reminder_path(onboarding), class: 'btn btn-warning btn-sm' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
