<h1>School onboardings in progress</h1>

<%= link_to 'New Automatic School Setup', new_admin_school_onboarding_path, class: 'btn' %>
<%= link_to 'Download as CSV', admin_school_onboardings_path(format: :csv), class: 'btn' %>

<br/>
<br/>

<% @school_groups.each do |school_group| %>
  <p><%= link_to school_group.name, "##{school_group.slug}" %></p>
<% end %>

<% @school_groups.each do |school_group| %>

  <div class="nav-anchor">
    <a name="<%= school_group.slug %>"> </a>
  </div>
  <br/>

  <h3><%= school_group.name %></h3>

  <%= link_to 'Download as CSV', admin_school_group_school_onboardings_path(school_group, format: :csv), class: 'btn' %>
  <br/>
  <br/>

  <% if school_group.school_onboardings.incomplete.any? %>
    <p>Schools onboarding: <%= school_group.school_onboardings.incomplete.count %>
    <%= render 'admin/school_groups/onboarding_schools', school_group: school_group, anchor: '' %>
  <% else %>
    <p>No schools are onboarding for <%= school_group.name %></p>
  <% end %>
<% end %>
