<%= form_for(meter) do |f| %>
  <% if meter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meter.errors.count, "error") %> prohibited this meter from being saved:</h2>

      <ul>
      <% meter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :meter_no %>
    <%= f.number_field :meter_no, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <%= f.select :meter_type, Meter.meter_types.keys.map {|type| [type.titleize,type]}, {}, { class: 'form-control' } %><br>
  </div>

  <div class="form-group">
    <%= f.label :school_id %>
    <%= f.select :school_id, options_from_collection_for_select(School.all, 'id', 'name', @meter.school_id), {}, { class: 'form-control' } %><br>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
