<h1>Meters</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Meter no</th>
      <th>Type</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meters.each do |meter| %>
      <tr>
        <td><%= meter.meter_no %></td>
        <td><%= meter.meter_type.titleize %></td>
        <td><%= meter.school.name %></td>
        <td><%= link_to 'Show', meter, class: 'btn btn-info'  %></td>
        <td><%= link_to 'Edit', edit_meter_path(meter), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', meter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meter', new_meter_path, class: 'btn btn-primary' %>
