<p>
  <strong>Meter no:</strong>
  <%= @meter.meter_no %>
</p>

<p>
  <strong>Type:</strong>
  <%= @meter.meter_type.titleize %>
</p>

<p>
  <strong>School:</strong>
  <%= @meter.school.name %>
</p>


<div class="other-actions">
  <%= link_to 'Edit', edit_meter_path(@meter), class: 'btn btn-primary' %>
  <%= link_to 'Back', meters_path, class: 'btn btn-secondary' %>
</div>
