<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Batch Reports" do %>

  <ul>
    <% if can? :view_content_reports, @school %>
      <li><%= link_to 'Content reports', school_content_reports_path(@school) %> -- view summary of content generation runs</li>
    <% end %>
    <% if can? :view_content_reports, @school %>
      <li><%= link_to 'Alert reports', school_alert_reports_path(@school) %> -- view summary of recent alert runs</li>
    <% end %>
    <% if can? :view_content_reports, @school %>
      <li><%= link_to 'Equivalences', school_equivalence_reports_path(@school) %> -- view details of generated equivalences</li>
    <% end %>
    <% if can? :view_content_reports, @school %>
      <li><%= link_to 'Email and SMS reports', school_subscription_generation_runs_path(@school) %> -- view recently sent alerts</li>
    <% end %>
  </ul>

<% end %>
