<% if points&.positive? %>
  <h4 class="text-center"><strong><%= t('interventions.completed.points_scored', points: points) %></strong></h4>
<% end %>

<% if podium && podium.includes_school? && can?(:read, podium.scoreboard) %>
  <% if podium.school_position.position == 1 %>
    <h4 class="text-center">
      <%= t('interventions.completed.actions_completed', count: completed_actions.count) %>
      <%= t('interventions.completed.current_school_position', position: current_school_podium.school_position.ordinal) %>
    </h4>
  <% else %>
    <h4 class="text-center">
      <%= t('interventions.completed.actions_completed', count: completed_actions.count) %>
      <%= t('interventions.completed.points_to_change_position', points: podium.next_school_position.points - podium.school_position.points, position: current_school_podium.next_school_position.ordinal) %>
    </h4>
  <% end %>
<% end %>

<h4 class="text-center"><%= t('interventions.completed.choose_next_action') %></h4>
