<% if EnergySparks::FeatureFlags.active?(:activities_2024) %>

  <%= render 'shared/task_completed', task_type: :intervention, school: @school, points: @observation.points, task_path: school_intervention_path(@school, @observation) %>

<% else %>

<% content_for :page_title, t('interventions.completed.page_title', school: @school.name) %>

<h1 class="text-center"><%= t('interventions.completed.title') %></h1>

<div class="row">
  <div class="col-md-6">
    <div class="col card-deck actions">
      <div class="card">
        <div class="card-body">
          <%= render 'points', podium: current_school_podium, completed_actions: @completed_actions, points: @observation.points  %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col card-deck actions">
      <% if current_school_podium && can?(:read, current_school_podium.scoreboard) %>
        <div class="card">
          <div class="card-body">
            <%= component 'podium', podium: current_school_podium %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="col card-deck actions">
      <div class="card">
        <div class="card-footer text-center">
          <%= link_to t('interventions.completed.view_action'), school_intervention_path(@school, @observation), class: "btn btn-lg btn-light rounded-pill font-weight-bold" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col card-deck actions">
      <% if current_school_podium && can?(:read, current_school_podium.scoreboard) %>
        <div class="card">
          <div class="card-footer text-center">
            <%= link_to t('interventions.completed.see_scoreboard'), scoreboard_path(current_school_podium.scoreboard), class: "btn btn-lg btn-light rounded-pill font-weight-bold" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="padded-row"></div>

<% if !@suggested_actions.blank? %>
  <div class="row padded-row bg-light">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h4><strong><%= t('interventions.completed.suggested_actions') %></strong></h4>
        <div>
          <%= link_to t('interventions.completed.view_all_actions'), intervention_type_groups_path, class: "btn btn-outline-dark rounded-pill font-weight-bold" %>
        </div>
      </div>
      <p><%= t('interventions.completed.our_suggestions') %></p>
      <%= render "intervention_type_groups/cards", intervention_types: @suggested_actions, card_deck_css: "" %>
    </div>
  </div>
<% end %>
<% end %>
