<h1>Your energy saving actions</h1>

<% if can? :create, Observation %>
  <p><%= link_to 'Record an energy saving action', intervention_type_groups_path, class: 'btn btn-primary' %></p>
<% end %>

<table class="table table-borderless">
  <% @interventions.group_by{|intervention| [intervention.at.strftime("%Y"), intervention.at.strftime("%B")]}.each do |(year, month), interventions|%>
    <thead>
      <tr>
        <th colspan="3">
          <span class="float-right"><%= pluralize(interventions.size, 'action') %></span>
          <h2><%= month %> <span class="h3"><%= year %></span></h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <% interventions.each do |intervention| %>
        <tr scope="row">
          <td class="p-3 text-center">
            <%= fa_icon("#{intervention.intervention_type.intervention_type_group.icon} fa-2x") %>
          </td>
          <td>
            <h4><%= link_to intervention.intervention_type.title, school_intervention_path(@school, intervention)%></h4>
            <%= nice_dates(intervention.at) %>
          </td>
          <td class="text-right">
            <% if can?(:manage, intervention) %>
              <div class="btn-group">
                <%= link_to 'Edit', edit_intervention_path(intervention), class: 'btn btn-warning' %>
                <%= link_to 'Delete', intervention_path(intervention), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
