<div class="row justify-content-md-center">
  <div class="col col-lg-8">
    <h3>
      <%= fa_icon("#{@observation.intervention_type.intervention_type_group.icon}") %>
      <%= @observation.intervention_type.name %>
    </h3>
    <h4><%= nice_dates(@observation.at) %></h4>
    <%= @observation.description %>

    <%= t('interventions.show.pupils_involved_in_this_activity') %>: <%= @observation.pupil_count %>
  </div>
</div>
