<% content_for :head do %>
  <%= javascript_import_module_tag 'commercial/contract_holder' %>
<% end %>

<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: title %>
  <% header_nav.with_button 'All contracts', admin_commercial_contracts_path %>
<% end %>

<div class="row">
  <div class="col">
    <% url = if contract.new_record?
               admin_commercial_contracts_path
             else
               admin_commercial_contract_path(contract)
             end %>
    <%= simple_form_for(contract, as: :contract, url: url) do |f| %>
      <%= render 'shared/errors', subject: contract, subject_name: 'contract' %>
      <%= f.input :name %>
      <%= f.input :comments %>

      <%= f.input :product_id,
                  collection: Commercial::Product.with_default_first,
                  include_blank: false %>

      <%= f.input :contract_holder_type,
                  as: :radio_buttons,
                  collection: HasContractHolder::ALLOWED_HOLDERS.map(&:name).sort,
                  include_blank: false,
                  input_html: { class: 'contract-holder-type' } %>

      <%= f.input :contract_holder_id,
                  collection: [],
                  include_blank: true,
                  input_html: {
                    class: 'contract-holder-select',
                    data: { selected_id: @contract.contract_holder_id }
                  } %>

      <%= f.input :number_of_schools %>
      <%= f.input :purchase_order_number %>

      <%= f.input :start_date, as: :tempus_dominus_date %>
      <%= f.input :end_date, as: :tempus_dominus_date %>

      <%= f.input :agreed_school_price %>

      <%= f.input :status,
                  collection: collection_from_enum(Commercial::Contract.statuses),
                  include_blank: false %>
      <%= f.input :invoice_terms,
                  collection: collection_from_enum(Commercial::Contract.invoice_terms),
                  include_blank: false %>
      <%= f.input :licence_period,
                  collection: collection_from_enum(Commercial::Contract.licence_periods),
                  include_blank: false %>
      <%= f.input :licence_years %>

      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_commercial_contracts_path, class: 'btn' %>
    <% end %>
  </div>
</div>
