<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: @contract.name %>
  <% header_nav.with_button 'All contracts', polymorphic_path([:admin, @contract.contract_holder, :contracts]) %>
<% end %>

<div class="row">
  <div class="col-12">
    <%= render Layout::GridComponent.new(classes: 'mb-4',
                                         component_classes: 'd-flex flex-column flex-fill',
                                         cell_classes: 'mb-2 d-flex', cols: 2) do |grid| %>
      <%= grid.with_block do %>
        <h3>Terms</h3>
        <div id="pricing" class="rounded-2 bg-light pt-3 pb-3 px-4 flex-fill">
          <dl class="row">
            <dt class="col-5">
              Contract holder
            </dt>
            <dd class="col-7">
              <%= link_to @contract.contract_holder.name,
                          polymorphic_path([:admin, @contract.contract_holder, :contracts]) %>
            </dd>
            <dt class="col-5">
              Contract holder type
            </dt>
            <dd class="col-7">
              <%= @contract.contract_holder_type %>
            </dd>
            <dt class="col-5">
              Product
            </dt>
            <dd class="col-7">
              <%= link_to @contract.product.name, admin_commercial_product_path(@contract.product) %>
            </dd>
            <dt class="col-5">
              Start date
            </dt>
            <dd class="col-7">
              <%= @contract.start_date.to_fs(:es_short) %>
            </dd>
            <dt class="col-5">
              End date
            </dt>
            <dd class="col-7">
              <%= @contract.end_date.to_fs(:es_short) %>
            </dd>
            <dt class="col-5">
              Status
            </dt>
            <dd class="col-7">
              <%= render(Elements::BadgeComponent.new(
                           @contract.status.humanize,
                           colour: @contract.status == 'provisional' ? :warning : :success
                         )) %>
            </dd>
            <dt class="col-5">
              Invoice terms
            </dt>
            <dd class="col-7">
              <%= @contract.invoice_terms.humanize %>
            </dd>
            <dt class="col-5">
              Licence period
            </dt>
            <dd class="col-7">
              <%= @contract.licence_period.humanize %>
            </dd>
            <dt class="col-5">
              Licence years
            </dt>
            <dd class="col-7">
              <%= @contract.licence_years %>
            </dd>
            <dt class="col-5">
              Number of schools
            </dt>
            <dd class="col-7">
              <%= @contract.number_of_schools %>
            </dd>
            <dt class="col-5">
              Agreed School Price
            </dt>
            <dd class="col-7">
              <%= format_unit(@contract.agreed_school_price, :£) %>
            </dd>
            <dt class="col-5">
              Purchase order number
            </dt>
            <dd class="col-7">
              <%= @contract.purchase_order_number %>
            </dd>
            <dt class="col-5">
              Comments
            </dt>
            <dd class="col-7">
              <%= @contract.comments %>
            </dd>
          </dl>
          <%= link_to 'Edit', edit_admin_commercial_contract_path(@contract),
                      class: 'btn btn-secondary btn-sm' %>
          <%= render(Forms::DeleteButtonComponent.new(admin_commercial_contract_path(@contract), resource: @contract)) %>
        </div>
      <% end %>
      <%= grid.with_block do %>
        <h3>Licence Summary</h3>
        <div id="licence-summary" class="rounded-2 bg-light pt-3 pb-3 px-4 flex-fill">
          <table id='licence-summary-table' class="table table-sm">
            <thead>
              <tr>
                <th>Category</th>
                <th>Status</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <% %i[current future historical].each do |period| %>
                <% %i[provisional confirmed pending_invoice invoiced].each_with_index do |status, index| %>
                  <tr>
                    <td><strong><%= period.to_s.humanize if index.zero? %></strong></td>
                    <td><%= status.to_s.humanize %></td>
                    <td><%= @contract.licences.send(period).send(status).count %></td>
                  </tr>
                <% end %>
                  <tr>
                    <td></td>
                    <td>All</td>
                    <td><%= @contract.licences.send(period).count %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <%= link_to 'Manage All Licences', edit_admin_commercial_contract_licences_path(@contract),
                  class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Renew', new_admin_commercial_contract_path(original_contract_id: @contract.id),
                  class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Add New Licence', new_admin_commercial_licence_path(contract_id: @contract.id),
                  class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Calculate Price', admin_commercial_pricing_path(pricing: { contract_id: @contract.id }),
                  class: 'btn btn-secondary btn-sm' %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render Commercial::LicencesComponent.new(id: 'licences',
                                                 licences: @contract.licences.by_start_date,
                                                 show_contract: false,
                                                 show_actions: true) do |c| %>
      <% c.with_header { 'All Licences' } %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render Admin::RecordComponent.new(@contract, id: 'metadata', current_user:) %>
  </div>
</div>
