<%= render 'admin/reports/title', title: 'Engaged Schools' %>

<p>
  The report generated below lists "engaged schools". An engaged school has done one of the following since the start of
  the current academic year (<%= nice_dates(AcademicYear.current.start_date) %>):
</p>

<ul>
  <li>
    Recorded a pupil activity or adult action, set a target, started a programme, received an audit, recorded some
    temperatures or run a transport survey
  </li>
  <li>
    <b>OR</b> had at least one school or pupil user login to the application. Users need to log in to use the above
    features, but some users may log in but not otherwise engage with that functionality, by including logged in visits
    in our list of engaged schools we can more better track 'silent' users and schools.
  </li>
</ul>

<p>
  <strong>Notes</strong>:
</p>

<ul>
  <li>
    We only started comprehensively logging all visits by logged in users in October 2023. So this may explain why
    there are no logged in users, but schools have, e.g. recorded an activity.
  </li>
  <li>
    Users can record they've attended training by recording an action, but otherwise attendance at our training events
    isn't included as a measure of engagement
  </li>
  <li>
    All schools are enrolled in the default programme when they finish onboarding. This isn't included in the below
    figures, which only include programmes where the school have opted to start it themselves
  </li>
  <li>
    When we check the dates for activity and actions being recorded, we check the date it was added to the system.So
    recording historical activities and actions count as engagement for the current academic year, because the user is
    engaging with the site
  </li>
  <li>
    For audits the date checked is when the auditor starts adding the report to the website, which may be after the
    actual audit date
  </li>
  <li>We're looking at engagement since early September of the current English school year</li>
  <li>
    If viewing the previous year then user activity is shown since the start of the previous academic year and also
    includes the current year since we only record the most recent user login.
  </li>
</ul>

<p>
  Using the above measures, EnergySparks currently has <strong><%= @engaged_schools_count %></strong> engaged schools
  out of <strong><%= @visible_schools %></strong> schools (<strong><%= @percentage %>%</strong>)
</p>

<%= form_with url: admin_reports_engaged_schools_path, class: 'form-inline mt-5 mb-2' do %>
  <div class="form-group">
    <%= label_tag :school_group_id, 'School Group', class: 'mr-2' %>
    <%= select_tag :school_group_id,
                   options_from_collection_for_select(SchoolGroup.by_name, :id, :name, params[:school_group_id]),
                   include_blank: 'All School Groups', class: 'form-control mr-2' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Email Current Year', class: 'btn btn-primary' %>
    <%= submit_tag 'Email Previous Year', class: 'btn btn-primary', name: 'previous' %>
  </div>
<% end %>
