<%= tag.div id: id, class: classes do %>
  <div class="modal fade" id="<%= @modal_id %>" tabindex="-1" role="dialog" aria-labelledby="#<%= @modal_id %>-title" aria-hidden="true">
    <div class="modal-dialog <%= @modal_dialog_classes %>" role="document">
      <div class="modal-content">
        <div class="footnote-modal-header modal-header">
          <h3 class="modal-title" id="<%= @modal_id %>-title"><%= @title %></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('common.labels.close') %>">
            <span class="footnote-modal-close-button" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= body_content %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('common.labels.close') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
