<p><%= t('school_groups.advice_pages.heating_control.analysis.summary') %></p>

<ul>
  <li>
    <%= link_to(t('school_groups.advice_pages.heating_control.analysis.potential_savings.title'),
                '#potential-savings') %>
  </li>
  <li>
    <%= link_to(t('school_groups.advice_pages.heating_control.analysis.comparisons.title'), '#comparison') %>
  </li>
</ul>

<%= render 'schools/advice/section_title',
           section_id: 'potential-savings',
           section_title: t('school_groups.advice_pages.heating_control.analysis.potential_savings.title') %>

<%= t('school_groups.advice_pages.heating_control.analysis.potential_savings.table.header_html') %>

<%= render 'school_groups/advice/shared/savings_table', school_group: @school_group,
                                                        categorised_savings: @categorised_savings,
                                                        advice_page: @advice_page %>

<%= render 'schools/advice/section_title',
           section_id: 'comparison',
           section_title: t('school_groups.advice_pages.heating_control.analysis.comparisons.title') %>

<%= render Charts::GroupComparisonChartComponent.new(school_group: @school_group,
                                                     report: @report) do |c| %>
  <% c.with_title { I18n.t('school_groups.advice_pages.heating_control.analysis.comparisons.chart.title') } %>
  <% c.with_subtitle do %>
    <%= t('school_groups.advice_pages.heating_control.analysis.comparisons.chart.subtitle') %>
  <% end %>
  <% c.with_header do %>
    <%= t('school_groups.advice_pages.heating_control.analysis.comparisons.chart.header') %>
  <% end %>
<% end %>

<%= t('school_groups.advice_pages.heating_control.analysis.comparisons.table.header_html',
      temperature: format_unit(@warm_day_temperature, :temperature)) %>

<%= render "comparisons/#{@report.key}/table",
           results: @results,
           report: @report,
           advice_page: @advice_page,
           table_name: :table,
           index_params: index_params,
           headers: @report_headers,
           colgroups: [],
           advice_page_tab: @advice_page_tab,
           table_number: 0 %>
