<ul class="nav nav-tabs locales">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == 'insights' %>" href="<%= insights_school_advice_baseload_path(school) %>">
      Insights
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == 'analysis' %>" href="<%= analysis_school_advice_baseload_path(school) %>">
      Analysis
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == 'learn_more' %>" href="<%= learn_more_school_advice_baseload_path(school) %>">
      Learn More
    </a>
  </li>
</ul>

