<ul class="nav nav-tabs locales">
  <li class="nav-item d-md-none">
    <a class="nav-link" href="" data-target="#page-nav" data-toggle="collapse"><%= fa_icon("bars") %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == :insights %>" href="<%= advice_page_path(school, advice_page, :insights) %>">
      Insights
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == :analysis %>" href="<%= advice_page_path(school, advice_page, :analysis) %>">
      Analysis
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == :learn_more %>" href="<%= advice_page_path(school, advice_page, :learn_more) %>">
      Learn More
    </a>
  </li>
</ul>
