<% content_for :page_title, "#{@advice_page_title} | #{school.name}" %>
<h1><%= @advice_page_title %></h1>
<div class="row">
  <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
    <%= render 'schools/advice/nav', school: school, advice_pages: advice_pages %>
  </div>
  <div class="col-md-9 col-lg-9 col-xl-10 advice-page-tabs">
    <%= render 'schools/advice/advice_tabs', school: school, advice_page: advice_page, tab: tab %>
    <div class="mt-4" id="<%= advice_page.key %>-<%= tab %>">
      <%= render('schools/advice/data_warning', fuel_type: advice_page.t_fuel_type) if data_warning %>
      <%= yield %>
    </div>
  </div>
</div>
