<ul class="nav nav-tabs locales">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == 'insights' %>" href="<%= school_advice_tab_path(school, advice_page.key, 'insights') %>">
      Insights
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == 'analysis' %>" href="<%= school_advice_tab_path(school, advice_page.key, 'analysis') %>">
      Analysis
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == 'learn_more' %>" href="<%= school_advice_tab_path(school, advice_page.key, 'learn_more') %>">
      Learn More
    </a>
  </li>
</ul>

