<div class="advice-page-breadcrumb">
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <% c.with_school(school) %>
    <% c.with_items([ { name: "Advice", href: school_advice_path(school) },
                      { name: advice_page.key.humanize, href: advice_page_path(school, advice_page) },
                    ]) %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-2 advice-page-nav">
    <%= render 'schools/advice/nav', school: school, advice_pages: advice_pages %>
  </div>
  <div class="col-md-10 advice-page-tabs">
    <h1><%= "#{advice_page.key.humanize} analysis and advice" %></h1>
    <%= render 'schools/advice/advice_tabs', school: school, advice_page: advice_page, tab: tab %>
    <%= yield %>
  </div>
</div>
