<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.energy_data') %></strong></h4>

<table class="table table-sm">
  <thead class="thead-dark">
    <th class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.total_energy_use_table.columns.fuel_type') %></th>
    <th class="text-right"><%= t('advice_pages.how_have_we_analysed_your_data.total_energy_use_table.columns.aggregated_meter_date_range') %></th>
  </thead>
  <tbody>
    <tr>
      <td class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.total_energy_use_table.rows.electricity') %></td>
      <td></td>
    </tr>
    <tr>
      <td class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.total_energy_use_table.rows.gas') %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics') %></strong></h4>

<p><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_introduction') %>.</p>

<table class="table table-sm">
  <thead class="thead-dark">
    <th class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_table.columns.characteristic') %></th>
    <th class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_table.columns.value') %></th>
  </thead>
  <tbody>
    <tr>
      <td class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_table.rows.floor_area') %></td>
      <td class="text-left"><%= school.floor_area %>m<sup>2</sup></td>
    </tr>
    <tr>
      <td class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_table.rows.location') %></td>
      <td class="text-left"><%= school.full_location_to_s %></td>
    </tr>
    <tr>
      <td class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_table.rows.pupils') %></td>
      <td class="text-left"><%= school.number_of_pupils %></td>
    </tr>
    <tr>
      <td class="text-left"><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics_table.rows.type') %></td>
      <td><%= t("analytics.school_types.#{school.school_type}") %></td>
    </tr>
  </tbody>
</table>

<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.cost_calculations') %></strong></h4>
<%= t('advice_pages.how_have_we_analysed_your_data.cost_calculations_introduction_html') %>

<% if school.user_tariffs.present? %>
Your electricity tariffs have changed in the last year, the last change was on %{date}, before this date the average tariff was XXXp/kWh, and since it is £YYYY/kWh. This will increase your electricity costs by ZZZZ% going forwards. Cost calculations used for most charts and analysis do not include standing charges except for the more accurate bill validation information presented on the Cost analysis page. .
<% end %>

<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.school_comparisons') %></strong></h4>
<%= t('advice_pages.how_have_we_analysed_your_data.school_comparisons_introduction_html') %>