<style>
  td h4 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  td h4 a div.trix-content div {
    font-size: inherit;
  }
</style>
<table class="table table-borderless table-sorted advice-table" style="margin-top: 10px !important;">
  <thead>
    <tr>
      <th>Fuel</th>
      <th data-orderable="false"></th>
      <th>Cost saving</th>
      <th>Co2 reduction</th>
      <th>Delivery cost</th>
      <!--
      <th data-orderable="false"></th>
      -->
    </tr>
  </thead>
  <tbody id="priority">
    <% management_priorities.each do |priority| %>
      <tr>
        <td data-order="<%= priority.find_out_more.alert.alert_type.fuel_type %>">
          <span class="<%=fuel_type_class(priority.find_out_more.alert.alert_type.fuel_type)%>">
            <%= fa_icon alert_icon(priority.find_out_more.alert,'fa-2x') %>
          </span>
        </td>
        <td>
          <h4>
            <%= link_to priority.management_priorities_title, advice_page_path(school, AdvicePage.first) %>
          </h4>
        </td>
        <td>
          <h4>
            <%= priority.template_variables[:average_one_year_saving_gbp] %>
          </h4>
        </td>
        <td>
            <h4>
              <%= priority.template_variables[:one_year_saving_co2] %>
            </h4>
        </td>
        <td>
          <h4>
            <%= priority.template_variables[:average_capital_cost] %>
          </h4>
        </td>
        <!--
        <td>
          <% if priority.find_out_more %>
            <%= link_to 'View analysis', advice_page_path(school, AdvicePage.first), class: 'btn btn-rounded btn-fixed-width-10' %>
          <% end %>
        </td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
