<% content_for :page_title, "#{t('advice_pages.index.title')} | #{@school.name}" %>

<% content_for :dashboard_header do %>
  <%# i18n-tasks-use t('advice_pages.index.title') %>
  <%# i18n-tasks-use t('advice_pages.index.show.intro_html') %>
  <%= component 'dashboard_header',
                title: 'advice_pages.index.title',
                intro: 'advice_pages.index.show.intro_html',
                show_school: false,
                school: @school %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <%= component 'dashboard_charts', school: @school do |c| %>
        <% c.with_title do %>
          <h2 id="overview-charts" class="scrollable-title"><%= t('advice_pages.index.show.overview_charts.title') %></h2>
        <% end %>
        <% c.with_intro do %>
          <p>
            <%= t('advice_pages.index.show.overview_charts.intro') %>
          </p>
        <% end %>
      <% end %>

      <%= component 'advice_page_list', id: 'detailed-analysis', classes: 'mt-4 mb-4', school: @school %>

      <%= component 'advice_reminders',
                    school: @school,
                    user: current_user,
                    alert_count: @alert_count,
                    priority_count: @priority_count,
                    id: 'whats-next',
                    classes: 'mt-4' %>
    </div>
  </div>
</div>

<div class="container-fluid bg-light pt-3 pb-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-md-2 offset-xl-2 col-md-9 col-lg-9 col-xl-10">
        <%= component 'comparison_overview', id: 'comparison', school: @school %>
      </div>
    </div>
  </div>
</div>
