<% content_for :page_title, "#{t('advice_pages.index.priorities.title')} | #{@school.name}" %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(title: t('advice_pages.index.priorities.title')) %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <h2>
        <%= t('advice_pages.index.priorities.table_title') %>
      </h2>

      <p>
        <%= t('advice_pages.index.priorities.intro') %>
      </p>

      <p>
        <%= t('advice_pages.index.priorities.table_note') %>
      </p>

      <%= render 'schools/advice/index/priority_table', management_priorities: @management_priorities, school: @school %>
    </div>
  </div>
</div>
