<%= render 'schools/advice/index/advice_index_page', school: @school, advice_pages: @advice_pages, tab: @tab, priority_count: @priority_count, alert_count: @alert_count  do %>
<div class="row mt-4">
  <div class="col">
    <h2><%= t('advice_pages.index.priorities.title')%></h2>

    <p>
      <%= t('advice_pages.index.priorities.intro') %>
    </p>

    <p>
      <%= t('advice_pages.index.priorities.table_note') %>
    </p>

    <%= render 'schools/advice/index/priority_table', management_priorities: @management_priorities, school: @school %>
  </div>
</div>
<% end %>
