<% content_for :page_title, "#{t('advice_pages.index.title')} | #{@school.name}" %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: t('advice_pages.index.title'),
        subtitle: t('advice_pages.index.show.intro_html')
      ) %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <%= render DashboardChartsComponent.new(school: @school) do |c| %>
        <% c.with_title do %>
          <h2 id="overview-charts" class="scrollable-title"><%= t('advice_pages.index.show.overview_charts.title') %></h2>
        <% end %>
        <% c.with_intro do %>
          <p>
            <%= t('advice_pages.index.show.overview_charts.intro') %>
          </p>
        <% end %>
      <% end %>

      <%= render AdvicePageListComponent.new(id: 'detailed-analysis', classes: 'mt-4 mb-4', school: @school,
                                             current_user:) %>

      <%= render AdviceRemindersComponent.new(
            school: @school,
            user: current_user,
            id: 'whats-next',
            classes: 'mt-4'
          ) %>
    </div>
  </div>
</div>

<% cache [@school.latest_content, I18n.locale], expires_in: 4.hours do %>
  <div class="container-fluid bg-light pt-3 pb-3 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 offset-md-2 offset-xl-2 col-md-9 col-lg-9 col-xl-10">
          <%= render ComparisonOverviewComponent.new(id: 'comparison',
                                                     school: @school,
                                                     aggregate_school_service: @aggregate_school_service) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'schools/advice/how_have_we_analysed_your_data_footnote_modal' %>
