<%= render 'schools/advice/index/advice_index_page', school: @school, advice_pages: @advice_pages, tab: @tab do %>
  <div class="row mt-4">
    <div class="col">
      <h2><%= t('advice_pages.index.show.title')%></h2>
      <p>
        We carry out a detailed analysis of your school energy data. You can
        explore our analysis using the links below or in the navigation bar
        on the left.
      </p>
      <p>
        Every page provides recommended activities for both adults and pupils to help you
        reduce your energy usage and carbon emissions.
      </p>
      <%= component 'notice', status: :neutral do |c| %>
        <% c.with_link { link_to 'View priority areas', school_advice_path(@school, savings: true) } %>
        <p>
          Looking for suggestions of where to start first? Review our suggested priority areas and
          your recent alerts.
        </p>
      <% end %>
    </div>
  </div>
  <% AdvicePage.fuel_types.each do |fuel_type| %>
  <div class="row mt-4">
    <div class="col">
      <h3>
        <span class="<%=fuel_type_class(fuel_type.first)%>">
          <%= fa_icon( fuel_type_icon(fuel_type.first) ) %>
        </span>
        <%= t("advice_pages.nav.sections.#{fuel_type.first}") %>
      </h3>
      <% AdvicePage.where(fuel_type: fuel_type.first).order(:key).each do |ap| %>
        <div class="mt-4 row d-flex align-items-center" style="">
          <div class="col">
            <h4><%= link_to t("advice_pages.nav.pages.#{ap.key}"), advice_page_path(@school, ap) %></h4>
          </div>
          <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id bibendum mauris.
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
