<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('schools.live_data.show.title') %></h1>
  <div>
    <%= link_to_help_for_feature :live_data, css: 'btn btn-default' %>
  </div>
</div>

<%= render 'gauge', school: @school, cad: @school.cads.last, fuel_type: :electricity,
                    timeout_interval: @timeout_interval %>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center align-self-center">
      <p id="typical-consumption"></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center align-self-center">
    <p><%= t('schools.live_data.show.what_can_you_switch_off') %></p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h3><%= t('schools.live_data.show.understanding_your_energy_consumption') %></h3>
  </div>
</div>

<%= render 'schools/school_targets/achieving_your_targets',
           activities: @activities,
           actions: @actions,
           school: @school,
           daily_variation_url: @daily_variation_url %>

<% if can?(:manage, Activity) || can?(:create, Observation) %>
  <div class="card-deck actions">
    <% if can?(:manage, Activity) %>
      <div class="card mb-2 text-center">
        <%= link_to t('schools.live_data.show.choose_another_activity'), live_data_path,
                    class: 'btn btn-default' %>
      </div>
    <% end %>
    <% if can?(:create, Observation) %>
      <div class="card mb-2">
        <%= link_to t('schools.live_data.show.record_an_energy_saving_action'), intervention_type_groups_path,
                    class: 'btn btn-default' %>
      </div>
    <% end %>
    <div class="card mb-2">
      <%= link_to t('schools.live_data.show.view_pupil_dashboard'), pupils_school_path(@school),
                  class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<%= render 'timeout_modal', timeout_interval: @timeout_interval %>
