<% content_for :page_title, "#{@school_group.name} | #{t("school_groups.titles.#{action_name}")}" %>

<div class="row">
  <div class="col-md-8">
    <h1><%= @school_group.name %></h1>
  </div>
  <div class="col-md-4">
    <div class='btn-group float-right mt-4'>
      <% if current_page?({ action: 'map' }) %>
        <%= if can?(:compare, @school_group)
              link_to(t('school_groups.header.view_group'), school_group_path(@school_group),
                      class: 'btn btn-default')
            end %>
      <% else %>
        <%= link_to t('school_groups.header.view_map'), map_school_group_path(@school_group),
                    class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
    <% if @partners.any? %>
      <%= t("school_groups.show.we_are_working_with.#{@school_group.group_type}.in_partnership_with_html",
            count: @school_group.visible_schools_count, partners: list_of_partners_as_links(@partners)) %>.
    <% else %>
      <%= t("school_groups.show.we_are_working_with.#{@school_group.group_type}.no_partnership",
            count: @school_group.visible_schools_count) %>.
    <% end %>
    </p>
  </div>
</div>

<% if @show_school_group_message && @school_group.dashboard_message&.message&.present? %>
  <div class='row'>
    <div class="col-md-12">
      <div class="container">
        <% if @school_group.try(:dashboard_message) %>
          <%= render InfoBarComponent.new(
                status: :neutral,
                title: @school_group.dashboard_message.message,
                icon: fa_icon('info-circle fa-3x'),
                buttons: {}
              ) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% unless current_page?({ action: 'map' }) %>
      <ul class="nav nav-tabs locales">
        <li class="nav-item">
          <a class="nav-link<%= ' active' if current_page?({ action: 'show' }) %>"
            href="<%= school_group_path(@school_group) %>">
            <%= t('school_groups.titles.recent_usage') %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= ' active' if current_page?({ action: 'comparisons' }) %>"
            href="<%= comparisons_school_group_path(@school_group) %>">
            <%= t('school_groups.titles.comparisons') %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= ' active' if current_page?({ action: 'priority_actions' }) %>"
            href="<%= priority_actions_school_group_path(@school_group) %>">
            <%= t('school_groups.titles.priority_actions') %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= ' active' if current_page?({ action: 'current_scores' }) %>"
            href="<%= current_scores_school_group_path(@school_group) %>">
            <%= t('school_groups.titles.current_scores') %>
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</div>
