<nav class="navbar navbar-expand-lg navbar-custom fixed-top fixed-top-sub-nav sub-navbar">
  <div class="container">
    <div>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnavbarNavDropdown" aria-controls="subnavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="subnavbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="manage_school" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t('school_groups.sub_nav.dashboards') %></a>
            <div class="dropdown-menu scrollable" aria-labelledby="manage_school" id="manage_school_menu">
              <% @school_group.schools.visible.order(:name).each do |school| %>
                <%= link_to school.name, school_path(school), class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="manage_school" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t('school_groups.sub_nav.manage_group') %></a>
            <div class="dropdown-menu scrollable" aria-labelledby="manage_school" id="manage_school_menu">
              <%= link_to t('school_groups.sub_nav.chart_settings'), school_group_chart_updates_path(@school_group), class: 'dropdown-item' %>
              <% if current_user.admin? %>
                <%= link_to t('school_groups.sub_nav.group_admin'), admin_school_group_path(@school_group), class: 'dropdown-item' %>
                <%= link_to t('school_groups.sub_nav.set_message'), edit_admin_school_group_dashboard_message_path(@school_group), class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
