<%= render 'enhanced_header' %>

<div class="row mt-4">
  <div class="col-md-12">
    <p>
      <%= t('school_groups.comparisons.introduction_html',
            fuel_types: @categorised_schools.keys.map do |f|
                          "<a href='##{f}-comparisons'>#{t("advice_pages.fuel_type.#{f}")}</a>"
                        end.to_sentence.html_safe,
            link: benchmarks_compare_index_path(search: 'groups', school_group_ids: [@school_group.id])) %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @categorised_schools.each_with_index do |(fuel_type, advice_pages), index| %>
      <% if index != 0 %><hr><% end %>
      <div class="d-flex justify-content-between align-items-top">
        <div>
          <h2 class="scrollable-title scrollable" id="<%= fuel_type %>-comparisons">
            <span class="<%= fuel_type_class(fuel_type) %>">
              <%= fa_icon(fuel_type_icon(fuel_type)) %>
            </span>
            <%= t("advice_pages.fuel_type.#{fuel_type}").capitalize %>
          </h2>
        </div>
        <div>
          <%= link_to '#' do %>
            <%= t('common.back_to_top') %>
            <i class="fa fa-arrow-up" data-toggle="tooltip" title="<%= t('common.back_to_top') %>"></i>
          <% end if index != 0 %>
        </div>
      </div>
      <% advice_pages.each do |advice_page_key, comparison| %>
        <%= render SchoolGroupComparisonComponent.new(
              id: 'group-comparison-baseload',
              comparison: comparison,
              advice_page_key: advice_page_key,
              include_cluster: can?(:update_settings, @school_group)
            ) do |component| %>
          <% component.with_csv_download_link do %>
            <%= link_to t('school_groups.download_as_csv'),
                        comparisons_school_group_path(@school_group,
                                                      format: :csv,
                                                      advice_page_keys: [advice_page_key]),
                        class: 'btn btn-sm btn-default',
                        id: "download-comparisons-school-csv-#{advice_page_key}" %>
          <% end %>
        <% end %>
        <p class="pb-5">
          <%= link_to t('school_groups.comparisons.view_detailed_comparison'),
                      compare_path(benchmark: compare_benchmark_key_for(advice_page_key),
                                   school_group_ids: [@school_group.id]) %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
