<h1>School groups</h1>

<p>Total number of active schools <%= School.visible.count %></p>
<p>Total number of alert contacts <%=Contact.count %></p>
<p>Total number of pupils <%= School.visible.sum(&:number_of_pupils) %></p>

<% @school_groups.each_slice(2) do |row| %>
  <div class="row school-card-row">
    <div class="col-lg-12">
      <div class="card-deck">
        <% row.each do |school_group| %>
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><%= link_to school_group.name, school_group_path(school_group) %></h2>
              <p class="card-text">Active schools: <%= school_group.schools.count %></p>
              <p class="card-text">Alert contacts: <%= school_group.schools.sum { |school| school.contacts.count } %></p>
              <p class="card-text">Number of pupils: <%= school_group.schools.sum(&:number_of_pupils) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>