<h1>School groups</h1>

<div class="row school-card-row">
  <div class="col-lg-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Energy Sparks Total</h2>
          <p class="card-text">Active schools: <%= School.visible.count %></p>
          <p class="card-text">Onboarding schools: <%= SchoolOnboarding.all.select(&:incomplete?).count %></p>
          <p class="card-text">Invisible schools: <%= School.not_visible.count %></p>
          <p class="card-text">Alert contacts: <%=Contact.count %></p>
          <p class="card-text">Number of pupils in active schools: <%= number_with_delimiter School.visible.map(&:number_of_pupils).compact.sum %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% @school_groups.each_slice(2) do |row| %>
  <div class="row school-card-row">
    <div class="col-lg-12">
      <div class="card-deck">
        <% row.each do |school_group| %>
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><%= link_to school_group.name, school_group_path(school_group) %></h2>
              <p class="card-text">Active schools: <%= school_group.schools.visible.count %></p>
              <p class="card-text">Invisible schools: <%= school_group.schools.not_visible.count %></p>
              <p class="card-text">Onboarding schools: <%= school_group.school_onboardings.select(&:incomplete?).count %></p>
              <p class="card-text">Alert contacts: <%= school_group.schools.sum { |school| school.contacts.count } %></p>
              <p class="card-text">Number of pupils in active schools: <%= number_with_delimiter school_group.schools.visible.map(&:number_of_pupils).compact.sum %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
