<%= content_for :page_title, "#{@school_group.name} #{t('school_groups.titles.show')}" %>

<% content_for :dashboard_header do %>
  <div class="adult dashboard-header-component row">
    <div id="dashboard-header-welcome" class="col-12 col-md-8 col-xl-9">
      <div class="row">
        <div class="col">
          <h1><%= t('components.dashboard_header.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <%= t('school_groups.show.intro_html') %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-xl-3">
      <div id="dashboard-header-school" class="px-3 py-2 rounded">
        <div class="row">
          <div class="col">
            <h4><%= @school_group.name %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <%= t('school_count', count: @school_group.visible_schools_count) %>
              <br>
              <%= link_to t('school_groups.header.view_map'), map_school_group_path(@school_group) %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="badge badge-secondary">
              <%= t(@school_group.group_type, scope: 'school_groups.clusters.group_type') %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <%= render Charts::GroupDashboardChartsComponent.new(
        id: 'explore-energy-data',
        school_group: @school_group
      ) do |c| %>
    <% c.with_title do %>
      <h2>
        <%= t('school_groups.show.energy_use.title') %>
      </h2>
    <% end %>
  <% end %>

  <%= render Dashboards::GroupSavingsPromptComponent.new(
        school_group: @school_group,
        schools: @schools
      ) %>

  <%= render Dashboards::GroupInsightsComponent.new(
        id: 'alerts-and-reminders',
        classes: 'mt-4',
        school_group: @school_group,
        user: current_user
      ) %>
</div>

<div class="container-fluid bg-light pb-3">
  <div class="container">
    <%= render Scoreboards::GroupSummaryComponent.new(
          id: 'scoreboard-summary',
          classes: 'mt-4 pt-4',
          school_group: @school_group,
          limit: 10,
          user: current_user
        ) %>
  </div>
</div>
