<%= render 'enhanced_header' %>

<% metrics = ['change', 'usage', 'co2', 'cost'] %>
<div class="container mt-3 mb-3">
  <ul class="nav nav-tabs" style = 'border-bottom: 0px !important'>
    <% metrics.each do |metric| %>
      <li class="active">
        <a data-toggle="tab" href="#<%= metric %>" class="text-decoration-none">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio<%= metric %>" value="<%= metric %>" onclick=''>
            <label class="form-check-label" for="inlineRadio1"><%= metric %></label>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% metrics.each do |metric| %>
      <div id="<%= metric %>" class="tab-pane <%= metric == 'change' ? 'active' : 'fade' %>">
        <%= render 'recent_usage_table', metric: metric %>
      </div>
    <% end %>
  </div>
</div>
