<% if can? :manage, DashboardMessage %>
  <%= render 'admin/shared/dashboard_message', messageable: @school_group %>
<% elsif @school_group.dashboard_message %>
  <%= render PromptComponent.new(icon: 'info-circle', style: :compact, status: :negative) do |p| %>
    <%= @school_group.dashboard_message.message %>
  <% end %>
<% end %>

<%= render TitledSectionComponent.new(id: 'settings-section', classes: 'scrollable-title') do |section| %>
  <% section.with_title do %>
    <h2><%= t('components.manage_school_navigation.settings') %></h2>
  <% end %>
  <% section.with_body do %>
    <%= render PromptComponent.new(icon: 'chart-line', style: :compact, status: :none) do |p| %>
      <% p.with_title { t('common.charts') } %>
      <% p.with_link { link_to t('common.labels.manage'), school_group_chart_updates_path(@school_group) } %>
      <%= t('school_groups.settings.charts') %>
    <% end %>

    <%= render PromptComponent.new(icon: 'users', style: :compact, status: :none) do |p| %>
      <% p.with_title { t('common.clusters') } %>
      <% p.with_link { link_to t('common.labels.manage'), school_group_clusters_path(@school_group) } %>
      <%= t('school_groups.settings.clusters') %>
    <% end %>

    <%= render PromptComponent.new(icon: 'sterling-sign', style: :compact, status: :none) do |p| %>
      <% p.with_title { t('common.tariffs') } %>
      <% p.with_link { link_to t('common.labels.manage'), school_group_energy_tariffs_path(@school_group) } %>
      <%= t('school_groups.settings.tariffs') %>
    <% end if can? :manage, EnergyTariff %> <%# not sure if this is needed. Copied from school page %>

  <% end %>
<% end if @school_group.organisation? %>

<%= render TitledSectionComponent.new(id: 'schools-section', classes: 'scrollable-title') do |section| %>
  <% section.with_title do %>
    <h2><%= t('common.schools') %></h2>
  <% end %>
  <% section.with_body do %>
    <% if @school_group.organisation? %>
      <%= render PromptComponent.new(icon: 'table', style: :compact, status: :none) do |p| %>
        <% p.with_title { t('school_groups.sub_nav.secr_report') } %>
        <% p.with_link { link_to t('common.labels.view'), school_group_secr_index_path(@school_group) } %>
        <%= t('school_groups.settings.secr') %>
      <% end if Flipper.enabled?(:school_group_secr_report,  current_user) %>
      <%= render PromptComponent.new(icon: 'tv', style: :compact, status: :none) do |p| %>
        <% p.with_title { t('manage_school_menu.digital_signage') } %>
        <% p.with_link { link_to t('common.labels.view'), school_group_digital_signage_index_path(@school_group) } %>
        <%= t('school_groups.settings.digital_signage') %>
      <% end %>
    <% end %>
    <%= render PromptComponent.new(icon: 'square-check', style: :compact, status: :none) do |p| %>
      <% p.with_title { t('common.engagement') } %>
      <% p.with_link { link_to t('common.labels.view'), school_group_school_engagement_index_path(@school_group) } %>
      <%= t('school_groups.settings.engagement') %>
    <% end if SchoolGroups::SchoolEngagementController.show?(current_user) %>
    <%= render PromptComponent.new(icon: 'timeline', style: :compact, status: :none) do |p| %>
      <% p.with_title { t('common.timeline') } %>
      <% p.with_link { link_to t('common.labels.manage'), school_group_timeline_path(@school_group) } %>
      <%= t('school_groups.settings.history') %>
    <% end %>
  <% end %>
<% end %>
