<% content_for :page_title, @school_group.name %>

<%= render 'header', name: @school_group.name, scoreboard: @school_group.default_scoreboard, benchmark_filter: {school_group_ids: [@school_group.id]}%>

<p>
<% if @partners.any? %>
  Energy Sparks currently works with <%= @schools.count %> schools from <%= @school_group.name %> in
  partnership with <%= list_of_partners_as_links(@partners) %>.
<% else %>
  Energy Sparks currently works with <%= @schools.count %> schools from <%= @school_group.name %>.
<% end %>
</p>

<p>
  If you would like Energy Sparks to support your school to reduce its carbon emissions, enrol <%= link_to 'here', enrol_path %>.
</p>

<div class="map" id="geo-json-map" data-school-group-id="<%= @school_group.id %>"></div>

<%= render 'schools/list_cards', schools: @school_group.schools.visible.by_name %>

<% if @school_group.schools.not_visible.any? && can?(:read_invisible_schools, School) %>
  <%= render 'header', name: 'Not visible schools', scoreboard: nil, benchmark_filter: nil %>
  <%= render 'schools/list_cards', schools: @school_group.schools.not_visible.by_name %>
<% end %>
