<%= form_for([calendar, calendar_event], html: { class: 'calendar_event_form'}) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :academic_year_id, 'Academic Year' %>
    <%= f.select :academic_year_id, options_from_collection_for_select(AcademicYear.all, 'id', 'title', AcademicYear.current.id),{}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :calendar_event_type_id, 'Event Type' %>
    <%= f.select :calendar_event_type_id, options_from_collection_for_select(CalendarEventType.all, 'id', 'display_title',  calendar_event.calendar_event_type.nil? ? 1 : calendar_event.calendar_event_type.id),{}, { class: 'form-control' } %>
  </div>

  <div class="form-group row">
    <div class="col">
      <div class="form-group">
        <%= f.label :start_date %>
        <div class="input-group">
          <div class="input-group date" id="start_date_picker_field" data-target-input="nearest">
           <%= f.text_field(:start_date,
              { class: 'form-control datetimepicker-input',
                data: { target: "#start_date_picker_field" },
                value: f.object.start_date.try(:strftime, "%d/%m/%Y")
              }
            ) %>
            <div class="input-group-append" data-target="#start_date_picker_field" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :end_date %>
          <div class="input-group">
            <div class="input-group date" id="end_date_picker_field" data-target-input="nearest">
             <%= f.text_field(:end_date,
                { class: 'form-control datetimepicker-input',
                  data: { target: "#end_date_picker_field" },
                  value: f.object.end_date.try(:strftime, "%d/%m/%Y")
                }
              ) %>
              <div class="input-group-append" data-target="#end_date_picker_field" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Back', :back, class: 'btn btn-secondary' %>
<% end %>
