<h1><%= @calendar.title %></h1>
<p><%= link_to t('calendars.calendar_events.index.calendar_view'), calendar_path(@calendar), class: 'btn btn-secondary' %></p>
<p><%= link_to t('calendars.calendar_events.index.add_new_event'), new_calendar_calendar_event_path(@calendar),
               class: 'btn btn-primary' %></p>
<p><%= t('calendars.calendar_events.index.calendar_events_list') %></p>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% @academic_years.each do |academic_year| %>
      <a class="nav-item nav-link <%= 'active' if academic_year.current? %>" id="nav-academic-year-<%= academic_year.start_date.year %>-tab" data-toggle="tab" href="#academic-year-<%= academic_year.start_date.year %>" role="tab" aria-controls="academic-year-<%= academic_year.start_date.year %>" aria-selected="<%= academic_year.current? %>">
        <%= academic_year.start_date.year %> - <%= academic_year.end_date.year %>
      </a>
    <% end %>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <% @academic_years.each do |academic_year| %>
    <!-- add show active to div class for active one -->
    <div class="tab-pane <%= 'active show' if academic_year.current? %>" id="academic-year-<%= academic_year.start_date.year %>" role="tabpanel" aria-labelledby="academic-year-<%= academic_year.start_date.year %>-tab">

      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('calendars.current_events.type') %></th>
            <th><%= t('calendars.current_events.start_date') %></th>
            <th><%= t('calendars.current_events.end_date') %></th>
            <th>Last Updated</th>
            <% if can? :manage, @calendar %>
              <th><%= t('calendars.current_events.status') %></th>
            <% end %>
          <th><%= t('common.labels.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @calendar_events.where(academic_year: academic_year).find_each do |calendar_event| %>
            <tr scope="row">
              <td><%= I18n.t(calendar_event.calendar_event_type.i18n_key('title')) %></td>
              <td><%= nice_dates(calendar_event.start_date) %></td>
              <td><%= nice_dates(calendar_event.end_date) %></td>
              <td><%= nice_date_times(calendar_event.updated_at) %></td>
              <% if can? :manage, @calendar %>
                <td><%= calendar_event_status(calendar_event) %></td>
              <% end %>
              <td>
                <div class="btn-group">
                  <%= link_to t('common.labels.edit'), edit_calendar_calendar_event_path(calendar_event.calendar, calendar_event), class: 'btn btn-primary' %>
                  <%= link_to t('common.labels.delete'), calendar_calendar_event_path(@calendar, calendar_event), method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-danger' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
