<h1><%= @calendar.title %></h1>
<p><%= link_to 'Calendar view', calendar_path(@calendar), class: 'btn btn-success' %></p>
<p><%= link_to 'Add Event to calendar', new_calendar_calendar_event_path(@calendar), class: 'btn btn-primary' %></p>
<p>This shows the calendar events in a list - click on the title to edit the event</p>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <% @academic_years.each do |academic_year| %>
        <a class="nav-item nav-link <%= 'active' if academic_year.start_date.year == Time.now.year %> " id="nav-academic-year-<%= academic_year.start_date.year %>-tab" data-toggle="tab" href="#academic-year-<%= academic_year.start_date.year %>" role="tab" aria-controls="academic-year-<%= academic_year.start_date.year %>" aria-selected="<%= academic_year.start_date.year == Time.now.year %>"><%= academic_year.start_date.year %> - <%= academic_year.end_date.year %></a>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <% @academic_years.each do |academic_year| %>
      <!-- add show active to div class for active one -->
      <div class="tab-pane <%= 'active show' if academic_year.start_date.year == Time.now.year %>" id="academic-year-<%= academic_year.start_date.year %>" role="tabpanel" aria-labelledby="academic-year-<%= academic_year.start_date.year %>-tab">
        <hr class="mb-4">
          <div class="row">
            <div class="col"><label>Title</label></div>
            <div class="col"><label>Type of Event</label></div>
            <div class="col"><label>Start Date </label></div>
            <div class="col"><label>End Date </label></div>
          </div>
          <% @calendar_events.where(academic_year: academic_year).each do |calendar_event| %>
        <div class="row">
            <div class="col"><label><%= link_to calendar_event.title, edit_calendar_calendar_event_path(calendar_event.calendar, calendar_event) %></label></div>
            <div class="col"><label><%= calendar_event.calendar_event_type.title %></label></div>
            <div class="col"><label><%= nice_dates(calendar_event.start_date) %></label></div>
            <div class="col"><label><%= nice_dates(calendar_event.end_date) %></label></div>
          </div>
          <% end %>

      </div>
   <% end %>
  </div>

