<tbody>
  <% meters.each do |meter| %>
    <tr>
      <td><%= link_to meter.school.school_group.name, school_group_url(meter.school.school_group) %></td>
      <td><%= meter.meter_type.to_s.humanize %></td>
      <td><%= link_to meter.school.name, school_url(meter.school) %></td>
      <td><%= link_to meter.mpan_mprn, school_meter_url(meter.school, meter) %></td>
      <td><%= link_to meter.data_source.name, admin_data_source_url(meter.data_source) if meter.data_source %></td>
      <td><%= nice_dates(meter.last_validated_reading) %></td>
      <td><%= meter.admin_meter_status_label %></td>
      <td>
        <%= link_to issue_type_image(:issue), school_meter_url(meter.school, meter) if meter.issues.issue.any? %>
      </td>
      <td>
        <%= link_to issue_type_image(:note), school_meter_url(meter.school, meter) if meter.issues.note.any? %>
      </td>
    </tr>
  <% end %>
</tbody>
