<tbody>
  <% meters.each do |meter| %>
    <tr>
      <td><%= link_to meter.school.school_group.name, school_group_url(meter.school.school_group) %></td>
      <td><%= meter.meter_type.to_s.humanize%></td>
      <td><%= link_to meter.school.name, school_url(meter.school) %></td>
      <td><%= link_to meter.mpan_mprn, school_meter_url(meter.school, meter) %>
      </td>
      <td><%= nice_dates(meter.last_validated_reading) %></td>
      <td>
        <% if meter.issues.any? %>
          <%= link_to school_meter_url(meter.school, meter) do %>
            <%= issue_type_images(meter.issues) %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
