<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.pupil_account.title_for_update') %></h1>

    <%= simple_form_for @pupil, url: onboarding_pupil_account_path(@school_onboarding) do |f| %>
      <%= render 'form', f: f, school: @school_onboarding.school %>
      <%= f.submit t('onboarding.pupil_account.update'), class: 'btn btn-rounded'%>
      <%= link_to t('common.labels.back'), new_onboarding_completion_path(@school_onboarding, anchor: 'pupil-password', show: 'pupil-password'), class: 'btn' %>
    <% end %>
  </div>
</div>
