<%= tag.div id: id, class: classes do %>
  <%= render PromptComponent.new(status: :none) do |c| %>
    <% c.with_title { t('components.cms.audience.title') } %>
    <p>
      <%= t('components.cms.audience.message', audience: t("components.cms.audience.descriptions.#{@audience}")) %>
    </p>
    <% if @audience != :anyone %>
        <% if @role.nil? %>
            <p>
              <%= t('components.cms.audience.not_logged_in_html', link: new_user_session_path) %>
            </p>
        <% else %>
            <p>
              <%= t('components.cms.audience.logged_in', role: t("role.#{@role}")) %>
            </p>
            <% unless has_permission? %>
              <p>
                <%= t('components.cms.audience.incorrect_permissions') %>
              </p>
            <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
