<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<% pagy.next_tag
   link = pagy.send(:a_lambda, anchor_string: 'class="page-link"') -%>
<nav class="pagy-bootstrap-nav" role="navigation">
  <ul class="pagination">
    <% if pagy.prev -%>
      <li class="page-item prev">
        <%== link.call(pagy.prev, Pagy::I18n.translate('pagy.nav.prev'), aria_label: 'previous') %>
      </li>
    <% else -%>
      <li class="page-item prev disabled"><a href="#" class="page-link"><%== Pagy::I18n.translate('pagy.nav.prev') %></a></li>
    <% end -%>
    <% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
      <% if item.is_a?(Integer) -%>
        <li class="page-item"><%== link.call(item) %></li>
      <% elsif item.is_a?(String) -%>
        <li class="page-item active"><%== link.call(item) %></li>
      <% elsif item == :gap -%>
        <li class="page-item disabled gap"><a href="#" class="page-link"><%== Pagy::I18n.translate('pagy.nav.gap') %></a></li>
      <% end -%>
    <% end -%>
    <% if pagy.next -%>
      <li class="page-item next"><%== link.call(pagy.next, Pagy::I18n.translate('pagy.nav.next'), aria_label: 'next') %></li>
    <% else -%>
      <li class="page-item next disabled"><a href="#" class="page-link"><%== Pagy::I18n.translate('pagy.nav.next') %></a></li>
    <% end -%>
  </ul>
</nav>
