<h1>Bulk chart updates: <%= @school_group.name %></h1>

<%= simple_form_for :school_group, url: admin_school_group_chart_update_bulk_update_charts_path(chart_update_id: @school_group.id), method: :post do |form| %>
  <div class="form-group">
    <label><%= t("admin.school_groups.default_chart_preference.form_group") %></label>
    <p class="small"><%= t("admin.school_groups.default_chart_preference.explanation") %></p>
    <% SchoolGroup.default_chart_preferences.keys.each do |preference| %>
      <div class="form-check">
        <%= form.radio_button :default_chart_preference, preference, checked: @school_group.default_chart_preference == preference, class: "form-check-input" %>
        <%= form.label "default_chart_preference_#{preference.to_sym}", t("admin.school_groups.default_chart_preference.#{preference}", default: preference.humanize),  class: "form-check-label" %>
      </div>
    <% end %>
  </div>
  <%= form.submit 'Update all schools in this group', class: 'btn' %>
<% end %>
