<%= form_for(user) do |f| %>

  <%= render 'shared/errors', subject: user, subject_name: 'user' %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role,
      User.roles.keys.map {|role| [role.titleize,role]},
      {},
      { class: 'form-control' }
    %>
  </div>

  <div class="form-group">
    <%= f.label :school %>
    <%= f.select :school_id,
      options_from_collection_for_select(@schools, 'id', 'name', user.school_id),
      { include_blank: true},
      { class: 'form-control' }
    %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
