<%= render 'user_page', user: @user do %>
  <div class="row">
    <div class="col">
      <h2><%= t('users.show.update_account') %></h2>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col">
      <%= simple_form_for(@user, html: { class: 'admin-user-form' }) do |f| %>
        <%= f.input :name, required: true, label: t('schools.users.form.name') %>
        <%= f.input :email, required: true, label: t('schools.users.form.email') %>
        <% unless @user.admin? || @user.group_user? %>
          <%= f.input :staff_role_id,
                      label: t('schools.users.form.role'),
                      required: true,
                      collection: StaffRole.translated_names_and_ids,
                      prompt: '' %>
        <% end %>

        <%= render 'preferred_locale', resource: @user, form: f %>

        <%= f.submit t('common.labels.update'), class: 'btn btn-primary' %>
        <%= link_to t('common.labels.cancel'), user_path(@user), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
<% end %>
