<%= render 'user_page', user: @user do %>
  <div class="row">
    <div class="col">
      <h2><%= t('users.show.change_password') %></h2>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col">
      <%= simple_form_for(@user, url: update_password_user_path(@user), html: { class: 'admin-user-form' }) do |f| %>
        <%= f.input :current_password, required: true, label: t('users.edit_password.current_password') %>
        <%= f.input :password,
                    required: true,
                    label: t('devise.passwords.edit.new_password'),
                    hint: "#{Devise.password_length.first} #{t('devise.passwords.edit.characters_minimum')}" %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: t('devise.passwords.edit.confirm_new_password') %>

        <%= f.submit t('common.labels.update'), class: 'btn btn-primary' %>
        <%= link_to t('common.labels.cancel'), user_path(@user), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
<% end %>
