<div class="form-group">
  <%= form.label :password, t('devise.passwords.edit.new_password'), class: 'col-form-label' %>
  <%= form.password_field :password, autocomplete: 'off', class: 'form-control' %>
  <% if minimum_password_length %>
      <em>(<%= minimum_password_length %> <%= t('devise.passwords.edit.characters_minimum') %>)</em><br>
  <% end %>
</div>

<div class="form-group">
  <%= form.label :password_confirmation, t('devise.passwords.edit.confirm_new_password'), class: 'col-form-label' %>
  <%= form.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
  <% if minimum_password_length %>
      <em>(<%= minimum_password_length %> <%= t('devise.passwords.edit.characters_minimum') %>)</em><br>
  <% end %>
</div>
