<% content_for :page_title do %>
    <%= t('devise.passwords.edit.page_title') %>
<% end %>
<div class="row justify-content-md-center">
  <div class="col col-md-12 col-lg-8">
    <h1 class='mt-lg-4 mt-sm-0'>
      <%= t('devise.passwords.edit.set_your_password') %>
    </h1>

    <div>
      <%= simple_form_for(resource, as: resource_name,
                                    url: password_path(resource_name),
                                    html: { class: 'form-horizontal mt-3', method: :put }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <%= render 'password_fields', resource: resource, form: f, minimum_password_length: @minimum_password_length %>

        <div class="form-group row">
          <div class="col-sm-6 offset-sm-4">
            <%= f.submit t('devise.passwords.edit.set_my_password'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
