<% content_for :page_title do %>
    <%= t('devise.passwords.edit.page_title') %>
<% end %>
<div class="application container">
  <h1>
    <%= t('devise.passwords.edit.set_your_password') %>
  </h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                         html: { method: :put, class: 'form-horizontal' }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, t('devise.passwords.edit.new_password'), class: 'col-form-label' %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t('devise.passwords.edit.characters_minimum') %>)</em><br>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t('devise.passwords.edit.confirm_new_password'), class: 'col-form-label' %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t('devise.passwords.edit.characters_minimum') %>)</em><br>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit t('devise.passwords.edit.set_my_password'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
