<h1><%= t('schools.recommendations.title') %></h1>

<p><%= t('schools.recommendations.intro') %></p>

<p>Scope: <%= @scope %></p>

<%= render('schools/prompt_to_complete_program', programmes_to_prompt: @school.programmes.started.order(started_on: :desc)) %>

<%= component 'recommendations', title: t("schools.recommendations.more_ideas.title"), description: t("schools.recommendations.more_ideas.description"), classes: 'pb-4', id: 'more-ideas', max_lg: 4 do |c| %>
  <% c.with_item(name: t("schools.recommendations.more_ideas.programme"), href: programme_types_path, image: 'recommendations/get-energised.png') %>
  <% c.with_item(name: t("schools.recommendations.more_ideas.activities", count: ActivityType.count), href: activity_categories_path, image: 'recommendations/opt-in.png') %>
  <% c.with_item(name:t("schools.recommendations.more_ideas.actions", count: InterventionType.count), href: intervention_type_groups_path, image: 'recommendations/laptop-ipad.png') %>
  <% c.with_item(name: t("schools.recommendations.more_ideas.analysis"), href: school_advice_path(@school), image: 'recommendations/screen-graph.png') %>
<% end %>
