<h1><%= t('schools.recommendations.title') %></h1>

<p><%= t('schools.recommendations.intro') %></p>

<p>Scope: <%= @scope %></p>

<!-- we may move fetching the params for these into the controller later on -->
<%= render('schools/prompt_to_complete_programme', programmes: @school.programmes.started.order(started_on: :desc)) %>
<%= render('schools/prompt_audit', audit: Audits::AuditService.new(@school).last_audit) %>

<%= component 'panel_switcher', selected: @scope, title: t("schools.recommendations.energy_usage.title"), description: t("schools.recommendations.energy_usage.description"), id: 'energy-usage' do |switcher| %>
  <% switcher.with_panel(label: t("common.labels.pupil"), name: 'pupil') do |panel| %>
    <%= component 'recommendations', recommendations: NextActivitySuggesterWithFilter.new(@school).suggest_from_find_out_mores, classes: 'pb-4', max_lg: 4 %>
  <% end %>
  <% switcher.with_panel(label: t("common.labels.adult"), name: 'adult') do |panel| %>
    <%= component 'recommendations', recommendations: Interventions::SuggestAction.new(@school).suggest_from_energy_usage(4), classes: 'pb-4', max_lg: 4 %>
  <% end %>
<% end %>

<%= component 'panel_switcher', selected: @scope, title: t("schools.recommendations.recent_activity.title"), description: t("schools.recommendations.recent_activity.description"), id: 'recent-activity' do |switcher| %>
  <% switcher.with_panel(label: t("common.labels.pupil"), name: 'pupil') do |panel| %>
    <%= component 'recommendations', recommendations: NextActivitySuggesterWithFilter.new(@school).suggest_from_activity_history, classes: 'pb-4', max_lg: 4 %>
  <% end %>
  <% switcher.with_panel(label: t("common.labels.adult"), name: 'adult') do |panel| %>
    <%= component 'recommendations', recommendations: Interventions::SuggestAction.new(@school).suggest_from_recent_activity(4), classes: 'pb-4', max_lg: 4 %>
  <% end %>
<% end %>

<%= component 'recommendations', title: t("schools.recommendations.more_ideas.title"), description: t("schools.recommendations.more_ideas.description"), classes: 'pb-4', id: 'more-ideas', max_lg: 4 do |c| %>
  <% c.with_item(name: t("schools.recommendations.more_ideas.programme"), href: programme_types_path, image: 'recommendations/get-energised.png') %>
  <% c.with_item(name: t("schools.recommendations.more_ideas.activities", count: ActivityType.count), href: activity_categories_path, image: 'recommendations/opt-in.png') %>
  <% c.with_item(name:t("schools.recommendations.more_ideas.actions", count: InterventionType.count), href: intervention_type_groups_path, image: 'recommendations/laptop-ipad.png') %>
  <% c.with_item(name: t("schools.recommendations.more_ideas.analysis"), href: school_advice_path(@school), image: 'recommendations/screen-graph.png') %>
<% end %>
