<h1>Resources</h1>

<p>This page provides quick links to commonly requested resources such as induction guides for new schools or new users, printable energy monitoring sheets for pupils, switch off posters and Energy Sparks flyers. All the resources can be downloaded to your own computer or printed.</p>

<table class="table">
  <% @resource_file_types.each do |type| %>
    <% unless type.resource_files.empty? %>
      <thead>
        <tr>
          <th colspan="3" class="h2"><%= type.title %></th>
        </tr>
      </thead>
    <% end %>
    <% type.resource_files.order(:title).each do |resource_file| %>
      <tr class="resource-download-links" data-event-value="<%= resource_file.id %>">
        <th scope="row">
          <%= link_to resource_file.title, resource_file_download_path(resource_file, :inline) %>
        </th>
        <td><%= resource_file.description %></td>
        <td>
          <%= link_to resource_file_download_path(resource_file, :download), download: true, class: 'btn' do %>
            Download <i class="fas fa-file-download"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% unless @other_resource_files.empty? %>
    <thead>
      <tr>
        <th colspan="3" class="h2">Other</th>
      </tr>
    </thead>
  <% end %>
  <% @other_resource_files.order(:title).each do |resource_file| %>
    <tr>
      <th scope="row">
        <%= link_to resource_file.title, resource_file_download_path(resource_file, :inline) %>
      </th>
      <td><%= resource_file.description %></td>
      <td>
        <%= link_to resource_file_download_path(resource_file, :download), download: true, class: 'btn' do %>
          Download <i class="fas fa-file-download"></i>
        <% end %>

      </td>
    </tr>
  <% end %>
</table>
