<h1>Resource types</h1>

<%= link_to 'Manage resources', admin_resource_files_path %>

<% if @resource_file_types%>

<table class="table mt-2">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resource_file_types.each do |resource_file_type| %>
      <tr>
        <td><%= resource_file_type.title %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_resource_file_type_path(resource_file_type), class: 'btn' %>
            <%= link_to 'Delete', admin_resource_file_type_path(resource_file_type), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p>There are no resources types</p>
<% end %>

<p><%= link_to 'New Resource type', new_admin_resource_file_type_path, class: 'btn'%></p>
