<h1>Palette</h1>
<div>
  <% Colours.palette_2d.each do |colour, tones| %>
    <h3><%= colour %></h3>

    <div class="row">
      <% tones.each do |tone, hex| %>
        <div style='background-color:<%= hex %>;' class='col-2 p-4 m-2 text-center'>
          <%= colour %>_<%= tone %><br>
          <%= hex %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h1>Mappings</h1>
<div>
  <% Colours::MAP.each do |key, map| %>
    <h2><%= key %></h2>
    <% map.each do |name, tones| %>
      <h3><%= name %></h3>

      <% if tones.is_a?(Symbol) %>
        <div style='background-color:<%= Colours.palette(tones) %>;' class='col-2 p-4 m-2 text-center'>
          <%= name %><br>
          <%= tones %>
        </div>
      <% else %>
        <div class="row">
          <% tones.each do |tone, mapping| %>
            <div style='background-color:<%= Colours.palette(mapping) %>;' class='col-2 p-4 m-2 text-center'>
              <%= name %>_<%= tone %><br>
              <%= mapping %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
