<h1>Colours</h1>

<div>
  <% Colours::PALETTE.each do |key, group| %>
    <h2><%= key %></h2>
    <% group.each do |name, value| %>
      <% if value.is_a?(Hash) %>
        <h3><%= name %></h3>
        <div class="row">
          <% value.each do |shade, mapping| %>
            <%= render 'colour', name: "#{name}_#{shade}", map: mapping, hex: Colours.hex(mapping) %>
          <% end %>
        </div>
      <% else %>
        <div class="row">
          <%= render 'colour', name: name, map: value, hex: Colours.hex(value) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <h1>Default Chart Colours</h1>
  <% Colours::DEFAULT_CHART_COLOURS.each do |colour| %>
    <%= render 'colour', name: colour, hex: colour %>
  <% end %>
</div>

<div>
  <h1>Transport Chart Colours</h1>
  <% Colours::TRANSPORT_CHART_COLOURS.each do |colour| %>
    <%= render 'colour', name: colour, hex: colour %>
  <% end %>
</div>
