<h1>Palette</h1>
<div>
  <% Colours::PALETTE.each do |name, shades| %>
    <% if shades.is_a?(String) %>
      <div class="row">
        <%= render 'colour', name: name, hex: shades %>
      </div>
    <% else %>
      <h3><%= name %></h3>
      <div class="row">
        <% shades.each do |shade, hex| %>
          <%= render 'colour', name: "#{name}_#{shade}", hex: hex %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<h1>Mappings</h1>
<div>
  <% Colours::MAP.each do |key, map| %>
    <h2><%= key %></h2>
    <% map.each do |name, shades| %>
      <% if shades.is_a?(Symbol) %>
        <div class="row">
          <%= render 'colour', name: name, hex: Colours.palette(shades), map: shades %>
        </div>
      <% else %>
        <h3><%= name %></h3>
        <div class="row">
          <% shades.each do |shade, mapping| %>
            <%= render 'colour', name: "#{name}_#{shade}", hex: Colours.palette(mapping), map: mapping %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
