<div class="row">
  <div class="col">
    <% url = if category.new_record?
               admin_cms_categories_path
             else
               admin_cms_category_path(category)
             end %>
    <%= simple_form_for(category, as: :category, url: url) do |f| %>
      <%= render 'admin/shared/locale_tabs', f: f, field: :title do |locale| %>
        <%= f.input t_field(:title, locale), as: :string %>
      <% end %>
      <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
        <%= f.input t_field(:description, locale), as: :string %>
      <% end %>

      <%= f.input :icon, hint: 'Provide the name of a FontAwesome icon' %>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <%= f.check_box :published, class: 'form-check-input' %>
          <%= f.label :published, class: 'form-check-label' %>
        </div>
      </div>

      <div class="form-group mt-4">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', admin_cms_categories_path, class: 'btn' %>
      </div>

      <div class="row">
        <div class="col">
          <%= render 'admin/cms/change_history', model: category %>
        </div>
      </div>
    <% end %>
  </div>
</div>
