<div class="row">
  <div class="col">
    <% url = if category.new_record?
               admin_cms_categories_path
             else
               admin_cms_category_path(category)
             end %>
    <%= simple_form_for(category, as: :category, url: url) do |f| %>
      <%= render 'shared/errors', subject: category, subject_name: 'category' %>
      <%= render 'admin/shared/locale_tabs', f: f, field: :title do |locale| %>
        <%= f.input t_field(:title, locale), as: :string %>
      <% end %>
      <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
        <%= f.input t_field(:description, locale), as: :string %>
      <% end %>

      <div class="form-group">
        <%= f.input :icon %>
        <span class="form-text text-muted">
          Provide the name of a <a href="https://fontawesome.com/search?ic=free">Fontawesome icon</a>
        </span>
      </div>

      <div class="form-group mt-4">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', admin_cms_categories_path, class: 'btn' %>
      </div>

      <div class="row">
        <div class="col">
          <%= render 'admin/cms/change_history', model: category %>
        </div>
      </div>
    <% end %>
  </div>
</div>
