<h1>Configuration: <%= school.name %> </h1>

<%= form_for(school, url: school_configuration_path, method: method) do |f| %>
  <h2>Calendar and Data Feed configuration</h2>
  <p>Energy sparks uses a variety of data feeds to analyse energy usage for your school. The data is more accurate if the correct areas are used for gathering the data.</p>
  <div class="form-group">
    <%= f.label :calendar_area_id, 'Calendar Area' %>
    <%= f.select :calendar_area_id, options_from_collection_for_select(CalendarArea.regional.order(:title), 'id', 'title', (@school.calendar_area.id if @school.calendar_area)),{},{ disabled: !edit_calendar_area, class: 'form-control' }%>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :solar_pv_tuos_area_id, 'Solar PV from The University of Sheffield Data Feed Area' %>
      <%= f.select :solar_pv_tuos_area_id, options_from_collection_for_select(SolarPvTuosArea.all, 'id', 'title', (@school.solar_pv_tuos_area.id if @school.solar_pv_tuos_area)),{}, { class: 'form-control' }%>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :dark_sky_area_id, 'Dark Sky Data Feed Area' %>
      <%= f.select :dark_sky_area_id, options_from_collection_for_select(DarkSkyArea.all, 'id', 'title', (@school.dark_sky_area.id if @school.dark_sky_area)),{}, { class: 'form-control' }%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit submit_text, class: 'btn btn-primary' %>
  </div>
<% end %>
