<% content_for :page_title, "#{@school_group.name} meter data report" %>

<h1><%= @school_group.name %> meter report</h1>

<p><%= link_to 'School group meter reports', admin_reports_meter_reports_path, class: 'btn btn-success' %></p>

<h2>Downloads</h2>
<p>You can request this school group meter report, including a CSV</p>
<%= render 'admin/school_groups/email_meter_report_button', school_group: @school_group, class: 'btn btn-sm' %>

<% unless params[:all_meters] %>
  <h2>Meters</h2>
  <p>This shows all active meters by default, if you would like deprecated meters to be included:
    <%= link_to 'Show all meters',
                admin_school_group_meter_report_path(@school_group, all_meters: true),
                class: 'btn' %>
  </p>
<% end %>

<h3>Loader Legend</h3>
<div class="row p-2">
  <div class="col-2 table-danger"></div>
  <div class="col-10">No reading for 30 days</div>
</div>
<div class="row p-2">
  <div class="col-2 table-warning"></div>
  <div class="col-10">No reading for 5 days</div>
</div>
<div class="row p-2">
  <div class="col-2 table-success"></div>
  <div class="col-10">Recent reading</div>
</div>

<%= render 'shared/school_group_meter_report', all_meters: params[:all_meters] %>
