<p><%= t('advice_pages.electricity_out_of_hours.analysis.summary') %></p>
<ul>
  <li>
    <a href='#last_twelve_months'>
      <%= t('advice_pages.electricity_out_of_hours.analysis.last_twelve_months.title') %>
    </a>
  </li>
  <li>
    <a href='#usage_by_day_of_week'>
      <%= t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.title') %>
    </a>
  </li>
</ul>

<%= render 'schools/advice/section_title', section_id: 'last_twelve_months', section_title: t('advice_pages.electricity_out_of_hours.analysis.last_twelve_months.title') %>
<% if @school.school_times.community_use.any? %>
  <p><%= t('advice_pages.electricity_out_of_hours.analysis.last_twelve_months.community_use') %></p>
<% end %>

<p><%= t('advice_pages.electricity_out_of_hours.analysis.last_twelve_months.table_introduction') %></p>

<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th class="text-left-">Time of day</th>
      <th class="text-right-">kWh</th>
      <th class="text-right">£</th>
      <th class="text-right">CO2 kg</th>
      <th class="text-right">%</th>
    </tr>
  </thead>
  <tbody>
    <%= [:holidays, :weekends, :school_day_open, :school_day_closed, :community].each do |usage| %>
    <tr>
      <td><%= usage %></td>
      <td class="text-right"><%= @annual_usage_breakdown.send(usage).kwh %></td>
      <td class="text-right"><%= @annual_usage_breakdown.send(usage).£ %></td>
      <td class="text-right"><%= @annual_usage_breakdown.send(usage).co2 %></td>
      <td class="text-right"><%= @annual_usage_breakdown.send(usage).percent %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= component 'chart', chart_type: :daytype_breakdown_electricity_tolerant, school: @school do |c| %>
  <% c.with_title do %>
    <%= t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.daytype_breakdown_electricity_tolerant_chart.title') %>
  <% end %>
  <% c.with_subtitle do %>
    <%= t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.daytype_breakdown_electricity_tolerant_chart.subtitle') %>
  <% end %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'usage_by_day_of_week', section_title: t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.title') %>
<%= component 'chart', chart_type: :electricity_by_day_of_week_tolerant, school: @school do |c| %>
  <% c.with_title do %>
    <%= t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.electricity_by_day_of_week_tolerant_chart.title') %>
  <% end %>
  <% c.with_subtitle do %>
    <%= t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.electricity_by_day_of_week_tolerant_chart.subtitle') %>
  <% end %>
  <% c.with_footer do %>
    <%= t('advice_pages.electricity_out_of_hours.analysis.usage_by_day_of_week.electricity_by_day_of_week_tolerant_chart.footer') %>
  <% end %>
<% end %>



