<% if can_compare_holiday_usage?(holiday, holiday_usage[holiday]) %>
  <tr class="table-active">
    <td></td>
    <td><%= advice_t('baseload.tables.columns.percentage_difference')%></td>
    <td class="text-right">
      <%= format_unit(
        relative_percent(holiday_usage[holiday].previous_holiday_usage.kwh, holiday_usage[holiday].usage.kwh), :relative_percent) %>
    </td>
    <td class="text-right">
      <%= format_unit(
      relative_percent(average_daily_usage(holiday_usage[holiday].previous_holiday_usage, holiday),
          average_daily_usage(holiday_usage[holiday].usage, holiday)), :relative_percent) %>
    </td>
    <td class="text-right">
      <%= format_unit(
        relative_percent(holiday_usage[holiday].previous_holiday_usage.£, holiday_usage[holiday].usage.£), :relative_percent) %>
    </td>
    <td class="text-right">
      <%= format_unit(
        relative_percent(holiday_usage[holiday].previous_holiday_usage.co2, holiday_usage[holiday].usage.co2), :relative_percent) %>
    </td>
  </tr>
<% end %>
