<table class="mt-2 table table-sm advice-table">
    <thead>
      <th><%= t('advice_pages.tables.columns.category') %></th>
      <th class="text-right"><%= t('kwh') %></th>
      <th class="text-right"><%= t('advice_pages.electricity_out_of_hours.insights.how_do_you_compare.table.your_kwh') %></th>
    </thead>
    <tr>
      <td>
        <%= t('advice_pages.benchmarks.exemplar_school') %>
      </td>
      <td class="text-right">
        <%= format_unit(@annual_usage_breakdown&.potential_savings(versus: :exemplar_school)&.kwh, :kwh) %>
      </td>
      <td class="text-right">
        <%= format_unit(@annual_usage_breakdown&.out_of_hours&.kwh, :kwh) %>
      </td>
    <tr>
</table>
<%= render 'schools/advice/how_have_we_analysed_your_data_table_caption', data_target: "how-have-we-analysed-your-data-footnotes" %>
