<% if table_number > 1 %>
  <hr>
<% end %>
<div class="d-flex justify-content-between align-items-top">
  <div>
    <h2 id="report-table-<%= table_number %>" class="scrollable-title">
      <%= table_number_and_title(table_number, table_name) %>
    </h2>
  </div>
  <div>
    <% if table_number > 1 %>
      <%= link_to '#' do %>
        <%= t('common.back_to_top') %>
        <i class="fa fa-arrow-up" data-toggle="tooltip" title="<%= t('common.back_to_top') %>"></i>
      <% end %>
    <% end %>
  </div>
</div>
