<% if unlisted_schools_count > 0 %>
  <div class="alert alert-secondary">
  <%= unlisted_message(@unlisted_schools_count) %>.
  <%= render FootnoteModalComponent::Link.new(modal_id: 'unlisted-schools',
                                              href: url_for({ action: :unlisted }.merge(index_params)),
                                              title: 'Title', remote: true) do
        t('comparisons.unlisted.link', count: @unlisted_schools_count)
      end %>
  </div>
  <%= render FootnoteModalComponent.new(title: 'Schools excluded from report', modal_id: 'unlisted-schools') do |c| %>
    <% c.with_body_content do %>
      <%= unlisted_message(@unlisted_schools_count) %>.
      <%= t('comparisons.unlisted.loading') %> <div class="spinner-border"></div>
    <% end %>
  <% end %>
<% end %>
