<% content_for :page_title, @report.title %>
<% content_for :container_classes, 'comparisons' %>

<% if @school_group_layout %>
  <% content_for :header do %>
    <%= render Layout::Cards::PageHeaderComponent.new(
          title: @report.title
        ) %>
  <% end %>

  <div class="row mt-2">
    <div id='group-advice-page-nav' class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'school_groups/advice/shared/nav', school_group: @school_group %>
    </div>
    <div id='group-advice-page-content' class="col-md-9 col-lg-9 col-xl-10">
      <%= render 'report' %>
    </div>
  </div>
<% else %>
  <h1><%= @report.title %></h1>

  <%= render 'compare/summary' %>
  <%= render 'report' %>
<% end %>
