<tr>
  <td><%= I18nHelper.holiday(holiday.type) %></td>
  <td>
    <% if holiday_usage[holiday].previous_holiday.present? %>
      <%= t('analytics.from_and_to', from_date: holiday_usage[holiday].previous_holiday.start_date.to_fs(:es_short), to_date: holiday_usage[holiday].previous_holiday.end_date.to_fs(:es_short)) %>
    <% end %>
  </td>
  <% if holiday_usage[holiday].previous_holiday_usage.present? %>
    <td class="text-right">
      <%= format_unit(holiday_usage[holiday].previous_holiday_usage.kwh, :kwh, true, :target) %>
    </td>
    <td class="text-right">
      <%= format_unit(average_daily_usage(holiday_usage[holiday].previous_holiday_usage, holiday), :kwh, true, :target) %>
    </td>
    <td class="text-right">
      <%= format_unit(holiday_usage[holiday].previous_holiday_usage.£, :£, true, :target) %>
    </td>
    <td class="text-right">
      <%= format_unit(holiday_usage[holiday].previous_holiday_usage.co2, :co2, true, :target) %>
    </td>
  <% else %>
    <td colspan="4" class="text-center old-data">
      <%= t('advice_pages.not_enough_data.table_row_not_enough') %>
    </td>
  <% end %>
</tr>
