<li class="nav-item dropdown" id="about-menu">
  <a class="nav-link dropdown-toggle" href="#" id="aboutDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
  <div class="dropdown-menu" aria-labelledby="aboutDropDown">
    <%= link_to "Contact", contact_path, class: 'dropdown-item' %>
    <%= link_to "Team", team_path, class: 'dropdown-item' %>
    <%= link_to "Blog", "http://blog.energysparks.uk", target:"_blank", class: 'dropdown-item' %>
    <%= link_to "Partners", team_path(anchor: "partners"), class: 'dropdown-item' %>
    <%= link_to "Jobs", jobs_path, class: 'dropdown-item' %>
    <%= link_to "Terms and conditions", terms_and_conditions_path, class: 'dropdown-item' %>
    <%= link_to "Privacy policy", privacy_and_cookie_policy_path, class: 'dropdown-item' %>
    <%= link_to "Child safeguarding", child_safeguarding_policy_path, class: 'dropdown-item' %>
    <%= link_to 'School statistics', school_statistics_path, class: 'dropdown-item' %>
    <%= link_to "Datasets", attribution_path, class: 'dropdown-item' %>
    <%= link_to "Open data", datasets_path, class: 'dropdown-item' %>
  </div>
</li>
