<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="aboutDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
  <div class="dropdown-menu" aria-labelledby="aboutDropDown">
    <%= link_to "For Teachers", for_teachers_path, class: 'dropdown-item' %>
    <%= link_to "For Pupils", for_pupils_path, class: 'dropdown-item' %>
    <%= link_to "For Management", for_management_path, class: 'dropdown-item' %>
    <%= link_to "Enrol", enrol_path, class: 'dropdown-item' %>
    <%= link_to "Activities", activity_categories_path, class: 'dropdown-item' %>
  </div>
</li>
