<table class="table table-sm table-sorted">
  <thead>
    <tr>
      <th>School group</th>
      <th>Admin</th>
      <th>School</th>
      <th>User</th>
      <th>User Role</th>
      <th>User Staff Role</th>
      <th>Recorded</th>
      <th>Happened</th>
      <th>Title</th>
      <th>Images?</th>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.school&.school_group&.name, school_group_url(activity.school&.school_group) %></td>
        <td><%= activity.school&.school_group&.default_issues_admin_user&.name %></td>
        <td><%= link_to activity.school.name, school_url(activity.school) %></td>
        <% observation = activity.observations.first %>
        <td><% if observation&.created_by&.has_profile? %>
          <%= link_to email_with_wbr(observation&.created_by&.name || 'View profile'), user_url(observation&.created_by) %>
        <% elsif observation&.created_by&.name %>
          <%= email_with_wbr(observation&.created_by&.name) %>
        <% end %>
        </td>
        <td><%= observation&.created_by&.role&.humanize %></td>
        <td><%= observation&.created_by&.staff_role&.title %></td>
        <td><%= activity.created_at.to_date.iso8601 %></td>
        <td><%= activity.happened_on.to_date.iso8601 %></td>
        <td>
          <%= link_to school_activity_url(activity.school, activity) do %>
            <% if activity.title.present? %>
              <span class="text-success"><%= activity.title %></span>
            <% else %>
              <span class="text-muted"><%= activity.activity_type.name %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if activity.description_includes_images? %>
            <% if controller.class.ancestors.include?(ActionMailer::Base) %>
              <%= image_tag 'email/fa-check-circle_text-success.png' %>
            <% else %>
              <%= fa_icon('check-circle text-success') %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
