<div class="chart-controls d-flex flex-wrap justify-content-between pt-4">

  <div>
    <div class="axis-controls" style='display: none;'>
      <% if local_assigns[:axis_controls] %>
        <span class="text-align-center mr-1"><%= t('analysis_controls.change_units') %> </span>
        <% possible_y1_axis_choices.each do |axis| %>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"
                   name="<%= chart_id %>-y1-axis-choices"
                   id="<%= chart_id %>-y1-axis-choices-<%= axis %>"
                   data-unit="<%= axis %>"
                   class="custom-control-input axis-choice" disabled>
            <label class="custom-control-label"
                   for="<%= chart_id %>-y1-axis-choices-<%= axis %>"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Change chart y-axis to <%= axis %>"><%= t(axis) %></label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='analysis-controls' style='display: none;'>
    <% if local_assigns[:analysis_controls] %>
      <div class="d-flex flex-wrap align-items-center justify-content-between" role="group">
        <span class="mr-2 align-bottom"><%= t('analysis_controls.explore') %></span>
        <div>
          <button class="btn btn-sm explore-button move_back" disabled>
            <%= fa_icon('backward') %> <%= t('analysis_controls.back_one') %>
            <span class='period'><%= t('analysis_controls.period') %></span>
          </button>
        </div>
        <div>
          <button class="btn btn-sm explore-button drillup" disabled>
            <%= fa_icon('eject') %> <%= t('analysis_controls.up_to') %>
            <span class='period'><%= t('analysis_controls.period') %></span> <%= t('analysis_controls.view') %>
          </button>
        </div>
        <div>
          <button class="btn btn-sm explore-button move_forward" disabled>
            <%= t('analysis_controls.forward_one') %>
            <span class='period'><%= t('analysis_controls.period') %></span> <%= fa_icon('forward') %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
