<%= render 'shared/my_school_menu' if can?(:read, :my_school_menu) && current_user.school.active? %>

<% if current_user && current_user.default_scoreboard %>
  <li class="nav-item"><%= link_to "Scoreboard", scoreboard_path(current_user.default_scoreboard), class: 'nav-link' %></li>
<% end %>
<% if current_user && current_user.school_group %>
  <li class="nav-item">
    <%= link_to "#{current_user.school_group.name} Schools", school_group_path(current_user.school_group), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "All Schools", schools_path, class: 'nav-link' %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Schools", schools_path, class: 'nav-link' %>
  </li>
<% end %>

<li class="nav-item">
  <a href="http://blog.energysparks.uk" class="nav-link" target="_blank">Blog</a>
</li>
<%= render 'shared/about_menu' %>
<li class="nav-item">
  <%= link_to "Contact", contact_path, class: 'nav-link' %>
</li>

<%= render 'shared/manage_menu' if user_signed_in? && current_user.admin? %>
