<%= render 'shared/my_school_menu' if can?(:read, :my_school_menu) && current_user.school.visible? %>

<% if current_user && current_user.default_scoreboard %>
  <li class="nav-item"><%= link_to "Scoreboard", scoreboard_path(current_user.default_scoreboard), class: 'nav-link' %></li>
<% end %>

<% if group_for_nav(current_user) %>
  <li class="nav-item">
    <%= link_to "Schools", school_group_path(group_for_nav(current_user)), class: 'nav-link' %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Schools", schools_path, class: 'nav-link' %>
  </li>
<% end %>

<li class="nav-item">
  <%= link_to "Activities", activity_categories_path_url(current_user&.school), class: 'nav-link' %>
</li>

<%= render 'shared/about_menu' %>

<li class="nav-item">
  <%= link_to "Contact", contact_path, class: 'nav-link' %>
</li>

<%= render 'shared/manage_menu' if can?(:manage, :admin_functions) %>
