<% if current_user && current_user.school && current_user.school.visible? %>
  <%= render 'shared/my_school_menu' if can?(:read, :my_school_menu) && current_user.school.visible? %>
<% else %>
  <%= render 'shared/our_schools_menu' %>
<% end %>

<% if can? :switch, School %>
  <% if current_user && !current_user.cluster_schools_for_switching.blank? %>
    <%= render 'shared/switch_schools' %>
  <% end %>
<% end %>

<li class="nav-item">
  <%= link_to t('common_nav_bar_menus.activities'), activity_categories_path, class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_to t('common_nav_bar_menus.actions'), intervention_type_groups_path, class: 'nav-link' %>
</li>

<%= render 'shared/our_services_menu' %>

<%= render 'shared/about_menu' %>

<li class="nav-item">
  <%= link_to 'Support us', support_us_path, class: 'nav-link' %>
</li>

<%= render 'shared/manage_menu' if can?(:manage, :admin_functions) %>
