<% unless observations.empty? %>
  <div class="row justify-content-between">
    <div class="col-8">
      <h3><%= t('timeline.whats_been_going_on') %></h3>
    </div>
    <div class="col-4 text-right">
      <%= link_to school_timeline_path(school), class: 'btn btn-sm btn-default pull-right' do %>
        <%= far_icon('eye') %>  <%= t('timeline.view_all_events') %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-md-10">
      <%= render TimelineComponent.new(observations: observations, school: school, show_actions: false) %>
    </div>
  </div>
<% end %>
