<div class="d-flex justify-content-between align-items-center">
  <h1>Adult Dashboard</h1>
  <div class="h5">
    <% if show_data_enabled_features %>
      <% if school.school_group && can?(:compare, school.school_group) %>
        <%= link_to 'Compare schools', benchmarks_path(benchmark: {school_group_ids: [school.school_group.id]}), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      <% end %>
      <% if co2_pages && co2_pages.any? %>
        <% co2_pages.each do |page| %>
          <%= link_to page.analysis_title , school_analysis_path(school, page.analysis_page), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
        <% end %>
      <% end %>
      <% if school.configuration %>
        <%= link_to public ? "Explore data" : "Explore your data", pupils_school_analysis_path(school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
        <%= link_to public ? "Review energy analysis" : "Review your energy analysis", school_analysis_index_path(school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      <% end %>
    <% end %>
    <% if !public && show_admin_page_switch?(school) %>
      <% if params[:no_data] %>
        <%= link_to 'Admin view', management_school_path(school), class: 'btn btn-outline-dark bg-warning rounded-pill font-weight-bold' %>
      <% else %>
        <%= link_to 'User view', management_school_path(school, no_data: true), class: 'btn btn-outline-dark bg-warning rounded-pill font-weight-bold' %>
      <% end %>
    <% end %>
  </div>
</div>
