<% charts.each_with_index do |(fuel_type, chart_type), index| %>
  <div id="chart_wrapper_<%= index %>" class="col-sm">
    <div class="d-flex justify-content-between align-items-center">

      <div class="h4"><%= fuel_type.to_s.capitalize %></div>

      <% if chart_type == Schools::Configuration::TEACHERS_GAS %>
        <span class="very-small" title="This chart automatically adjusts the school's gas consumption for outside temperature, removing the effect of changes in outside temperature">(Adjusted for outside temperature)</span>
      <% end %>

      <% unless @school.meters.pseudo.any? %>
        <div>
          Explore
          <%= link_to 'weekly', usage_school_path(school, period: :daily, supply: fuel_type), title: "See how the school's energy use varies over a week" %>
          /
          <%= link_to 'daily', usage_school_path(school, period: :hourly, supply: fuel_type), title: "See how the school's energy use varies over a day" %>
          usage
        </div>
      <% end %>
    </div>

    <%= chart_tag(@school, chart_type.to_s, index: index, show_advice: false, no_zoom: true, chart_config: {y_axis_units: 'gb_pounds'}) %>

  </div>
<% end %>
