<div class="d-flex justify-content-between align-items-center pb-4 dashboard-title">
  <div class="dashboard-school-title">
    <h1><%= school.name %></h1>
    <span class="dashboard-school-address">
      <span class="badge badge-secondary"><%= t("common.school_types.#{school.school_type}") %></span>
      <%= school.address %> <%= school.postcode %>
    </span>
  </div>
  <div class="dashboard-buttons">
    <%= yield %>
  </div>
</div>
