<!-- Footer -->
<footer>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p class="small">
            Energy Sparks is a registered charity in England and Wales, registration 1189273.
          </p>
          <div class="row">
            <div class="col-2">
              <%= fab_icon('creative-commons fa-2x') %>
            </div>
            <div class="col-10">
              <p class="small">
                Content on this website is published under <a href="https://creativecommons.org/licenses/by/4.0/">a Creative Commons Attribution 4.0 Licence</a>.
              </p>
            </div>
           </div>
        </div>
        <div class="col-5">
          <h6>More information</h6>
          <div class="row">
            <div class="col">
              <ul class="list-unstyled">
                <li><%= link_to "Energy Sparks for Teachers", for_teachers_path %></li>
                <li><%= link_to "Energy Sparks For Pupils", for_pupils_path %></li>
                <li><%= link_to "Energy Sparks For Managers", for_management_path %></li>
                <li><%= link_to "Contact us", contact_path %></li>
                <li><%= link_to "Register your school", enrol_path %></li>
              </ul>
            </div>
            <div class="col justify-center">
               <ul class="list-unstyled">
                <li><%= link_to "Team", team_path %></li>
                <li><%= link_to "Partners", team_path(anchor: "partners") %></li>
                <li><%= link_to "Open data", datasets_path %></li>
                <li><%= link_to "School statistics", school_statistics_path %></li>
                <li><%= link_to "Privacy and cookie policy", privacy_and_cookie_policy_path %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-3">
          <h6>Follow Energy Sparks</h6>
          <ul class="list-inline">
            <li class="list-inline-item p-2">
              <a href="//twitter.com/EnergySparks" class=""><%= fab_icon('twitter fa-2x') %></a>
            </li>
            <li class="list-inline-item p-2">
              <a href="//www.facebook.com/EnergySparksUK/" class=""><%= fab_icon('facebook-square fa-2x') %></a>
            </li>
            <li class="list-inline-item p-2">
              <a href="//github.com/BathHacked/energy-sparks" class=""><%= fab_icon('github fa-2x') %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>

<%= render 'shared/google_analytics', analytics_code: @analytics_code if Rails.env.production? && !@analytics_code.blank? %>
