<!-- Footer -->
<footer>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>Energy Sparks</h4>
        </div>
        <div class="col-md-4">
          <h4>Links</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="small">An online, school-specific energy analysis tool and energy education programme.</p>
          <p class="small">By presenting usage data in easy-to-use and understand ways, teachers, pupils, governors and parents can be all be better informed.</p>
        </div>
        <div class="col-md-4">
          <p class="small">
            Energy Sparks is a product of <a href="//transitionbath.org">Transition Bath</a>, a registered charity in England and Wales, registration 1139853 and a company limited by guarantee, registration 6898132.
          </p>

          <p class="small">For feedback &amp; questions, please email <a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a> or contact us on social media</p>
          <ul class="text-center list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/energysparksbath" class="btn-social btn-outline"><%= fab_icon('facebook-f') %></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/energy_sparks" class="btn-social btn-outline"><%= fab_icon('twitter') %></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/BathHacked/energy-sparks" class="btn-social btn-outline"><%= fab_icon('github') %></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><%= link_to "For Teachers", for_teachers_path %></li>
            <li><%= link_to "For Pupils", for_pupils_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Enrol", enrol_path %></li>
            <li><%= link_to "Team", team_path %></li>
            <li><%= link_to "Partners", team_path(anchor: "partners") %></li>
            <li><%= link_to "Open data", datasets_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="text-center col-lg-12">
          Content on this website is published under <a href="https://creativecommons.org/licenses/by/4.0/">a Creative Commons Attribution 4.0 Licence</a>.
        </div>
      </div>
    </div>
  </div>
</footer>

<%= render 'shared/google_analytics', analytics_code: @analytics_code if Rails.env.production? && !@analytics_code.blank? %>
