<% if Flipper.enabled?(:footer, current_user, current_user&.school_group) %>
  <footer>
    <div class="footer-top py-4">
      <div class="container">
        <div class="row">
          <div class="col-6 col-lg-2">
            <h1><%= t('footer.quick_links') %></h1>
            <ul class="list-unstyled">
              <li><%= link_to t('common_nav_bar_menus.actions'), intervention_type_groups_path %></li>
              <li><%= link_to t('common_nav_bar_menus.activities'), activity_categories_path %></li>
              <li><%= link_to t('our_schools_menu.scoreboards'), scoreboards_path %></li>
              <li><%= link_to t('our_schools_menu.compare_schools'), compare_index_path %></li>
              <li><%= link_to t('about_menu.contact'), contact_path %></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h1><%= t('footer.services') %></h1>
            <ul class="list-unstyled">
              <li><%= link_to t('our_services_menu.energy_audits'), energy_audits_path %></li>
              <li><%= link_to t('our_services_menu.educational_workshops'), education_workshops_path %></li> <!-- is just 'Workshops' in design -->
              <li><%= link_to t('our_services_menu.for_schools'), for_schools_path %></li>
              <li><%= link_to t('our_services_menu.for_multi_academy_trusts'), for_multi_academy_trusts_path %></li>
              <li><%= link_to t('our_services_menu.for_local_authorities'), for_local_authorities_path %></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h1><%= t('footer.other_links') %></h1>
            <ul class="list-unstyled">
              <li><%= link_to t('about_menu.jobs'), jobs_path %></li><!-- 'Careers' in design -->
              <li><%= link_to t('about_menu.datasets'), attribution_path %></li>
              <li><%= link_to t('about_menu.open_data'), datasets_path %></li>
              <li><%= link_to t('about_menu.school_statistics'), school_statistics_path %></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h1><%= t('footer.legal_terms') %></h1>
            <ul class="list-unstyled">
              <li><%= link_to t('footer.terms_and_conditions'), terms_and_conditions_path %></li>
              <li><%= link_to t('about_menu.privacy_policy'), privacy_and_cookie_policy_path %></li>
              <li><%= link_to t('cookies.title'), cookies_path %></li><!-- missing from design? -->
              <li><%= link_to t('footer.child_safeguarding_policy'), child_safeguarding_policy_path %></li>
            </ul>
          </div>
          <div class="col-12 col-lg-4">
            <h1><%= t('footer.newsletter_signup') %></h1>
            <%= form_with url: new_mailchimp_signup_path, method: :get, local: true do %>
              <div class="form-group">
                <%= label_tag(:email_address, t('mailchimp.latest_news_title'), class: 'mb-0') %>
                <%= text_field_tag(:email_address, nil, class: 'form-control',
                                                        placeholder: t('mailchimp.example'),
                                                        'aria-describedby': 'emailHelp',
                                                        autocomplete: 'off') %>
                <%= submit_tag t('mailchimp.signup_now'), class: 'btn btn-outline-white mt-2' %>
                <span id='emailHelp' class="form-text"><%= t('mailchimp.never_share_your_email_promise') %>.</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-second py-3">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-4">
            <%= t('footer.cc_licence_notice_html') %>.
          </div>
          <div class="col-md-4">
            <%= t('footer.registered_charity_notice') %>.
          </div>
          <div class="col-md-4 d-flex justify-content-md-end">
              <ul class="list-inline d-flex justify-content-end my-2 my-md-0">
                <li class="list-inline-item">
                  <a href="https://x.com/EnergySparks">
                    <%= component 'icon', icon_set: 'fab', name: 'x-twitter', style: :circle %>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/energysparksuk/">
                    <%= component 'icon', icon_set: 'fab', name: 'instagram', style: :circle %>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/EnergySparksUK/">
                    <%= component 'icon', icon_set: 'fab', name: 'facebook-square', style: :circle %>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/energy-sparks/energy-sparks">
                    <%= component 'icon', icon_set: 'fab', name: 'github', style: :circle %>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% else %>
  <footer>
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p>
              <%= t('footer.registered_charity_notice') %>.
            </p>
            <div class="row">
              <div class="col-2">
                <%= fab_icon('creative-commons fa-2x') %>
              </div>
              <div class="col-10">
                <p>
                  <%= t('footer.cc_licence_notice_html') %>.
                </p>
              </div>
             </div>
          </div>
          <div class="col-5">
            <p>
              <%= t('footer.more_information') %>
            </p>
            <div class="row">
              <div class="col">
                <ul class="list-unstyled">
                  <li><%= link_to t('footer.terms_and_conditions'), terms_and_conditions_path %></li>
                  <li><%= link_to t('cookies.title'), cookies_path %></li>
                  <li><%= link_to t('about_menu.privacy_policy'), privacy_and_cookie_policy_path %></li>
                  <li><%= link_to t('footer.child_safeguarding_policy'), child_safeguarding_policy_path %></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-3">
            <p><%= t('footer.follow_energy_sparks') %></p>
            <ul class="list-inline">
              <li class="list-inline-item p-2">
                <a href="//twitter.com/EnergySparks" class=""><%= fab_icon('twitter fa-2x') %></a>
              </li>
              <li class="list-inline-item p-2">
                <a href="//www.facebook.com/EnergySparksUK/" class=""><%= fab_icon('facebook-square fa-2x') %></a>
              </li>
              <li class="list-inline-item p-2">
                <a href="//github.com/energy-sparks/energy-sparks" class=""><%= fab_icon('github fa-2x') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>

<%= if Rails.env.production? && @analytics_code.present?
      render 'shared/google_analytics', analytics_code: @analytics_code
    end %>
