<li class="nav-item dropdown mt-2">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="manage_school" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t('manage_school_menu.manage_school') %></a>
  <div class="dropdown-menu scrollable" aria-labelledby="manage_school" id="manage_school_menu">
    <%= link_to t('manage_school_menu.edit_school_details'), edit_school_path(school), class: 'dropdown-item' %>
    <%= link_to t('manage_school_menu.edit_school_times'), edit_school_times_path(school), class: 'dropdown-item' if can? :manage_school_times, school %>
    <%= link_to t('manage_school_menu.your_school_estate'), edit_school_your_school_estate_path(school), class: 'dropdown-item' if EnergySparks::FeatureFlags.active?(:your_school_estates) %>
    <%= link_to t('manage_school_menu.school_calendar'), calendar_path(school.calendar), class: 'dropdown-item' if school.calendar && can?(:show, school.calendar) %>
    <%= link_to t('manage_school_menu.manage_users'), school_users_path(school), class: 'dropdown-item' if can? :manage_users, school %>
    <%= link_to t('manage_school_menu.manage_alert_contacts'), school_contacts_path(school), class: 'dropdown-item' if can? :manage, Contact %>
    <%= link_to t('manage_school_menu.manage_meters'), school_meters_path(school), class: 'dropdown-item' if can? :index, Meter %>
    <%= link_to t('manage_school_menu.manage_tariffs'), school_energy_tariffs_path(school), class: 'dropdown-item' if can? :manage, EnergyTariff %>
    <%= link_to t('manage_school_menu.manage_usage_estimate'), school_estimated_annual_consumptions_path(school), class: 'dropdown-item' if school.latest_annual_estimate.present? || school.suggest_annual_estimate? %>

    <% if current_user.admin? %>
      <div class="dropdown-divider"></div>
    <% end %>
    <%= link_to t('manage_school_menu.school_configuration'), edit_school_configuration_path(school), class: 'dropdown-item' if can? :configure, school %>
    <%= link_to t('manage_school_menu.meter_attributes'), admin_school_meter_attributes_path(school), class: 'dropdown-item' if can? :manage, SchoolMeterAttribute %>
    <%= link_to t('manage_school_menu.manage_audits'), school_audits_path(school), class: 'dropdown-item' if can? :manage, Audit %>
    <%= link_to t('manage_school_menu.manage_partners'), admin_school_partners_path(school), class: 'dropdown-item' if can? :manage, SchoolPartner %>
    <%= link_to t('manage_school_menu.manage_cads'), school_cads_path(school), class: 'dropdown-item' if can? :manage, Cad %>
    <%= link_to t('manage_school_menu.manage_school_group'), admin_school_group_path(school.school_group), class: 'dropdown-item' if school.school_group && can?(:manage, school.school_group) %>
    <%= link_to t('manage_school_menu.manage_issues'), admin_school_issues_path(school), class: 'dropdown-item' if can? :manage, Issue %>
    <%= link_to t('manage_school_menu.batch_reports'), school_reports_path(school), class: 'dropdown-item' if can? :view_content_reports, school %>
    <%= link_to t('schools.meters.index.view_target_data'), admin_school_target_data_path(school), class: 'dropdown-item' if current_user.admin? %>
    <%= link_to t('manage_school_menu.review_targets'), school_school_targets_path(school), class: 'dropdown-item' if current_user.admin? && Targets::SchoolTargetService.targets_enabled?(school) && can?(:manage, SchoolTarget) && Targets::SchoolTargetService.new(school).enough_data? %>
    <%= link_to t('manage_school_menu.expert_analysis'), admin_school_analysis_path(school), class: 'dropdown-item' if can? :expert_analyse, school %>
    <% if replace_analysis_pages? %>
      <%= link_to t('manage_school_menu.old_analysis_pages'), school_analysis_index_path(school), class: 'dropdown-item' if can? :view_advice_pages, school %>
    <% else %>
      <%= link_to t('manage_school_menu.advice_pages'), school_advice_path(school), class: 'dropdown-item' if can? :view_advice_pages, school %>
    <% end %>
    <%= link_to t('manage_school_menu.remove_school'), removal_admin_school_path(school), class: 'dropdown-item' if can? :remove_school, school %>
  </div>
</li>
