<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
  <div class="dropdown-menu">
    <%= link_to "Activity Categories", admin_activity_categories_path, class: 'dropdown-item' %>
    <%= link_to "Activity Types", admin_activity_types_path, class: 'dropdown-item' %>
    <%= link_to "Programme Types", admin_programme_types_path, class: 'dropdown-item' %>
    <%= link_to "Alert Types", admin_alert_types_path, class: 'dropdown-item' %>
    <%= link_to "Calendars", admin_calendars_path, class: 'dropdown-item' %>
    <%= link_to "Equivalence Types", admin_equivalence_types_path, class: 'dropdown-item' %>
    <%= link_to "Manual School Setup", new_school_path, class: 'dropdown-item' %>
    <%= link_to "Automatic School Setup", admin_school_onboardings_path, class: 'dropdown-item' %>
    <%= link_to "School Groups", admin_school_groups_path, class: 'dropdown-item' %>
    <%= link_to "Scoreboards", scoreboards_path, class: 'dropdown-item' %>
    <%= link_to "Site Settings", admin_settings_path, class: 'dropdown-item' %>
    <%= link_to "Newsletters", admin_newsletters_path, class: 'dropdown-item' %>
    <%= link_to "Users", users_path, class: 'dropdown-item' %>
    <%= link_to "Benchmarks", benchmarks_path, class: 'dropdown-item' %>
    <%= link_to "AMR Data feed configuration", admin_amr_data_feed_configs_path, class: 'dropdown-item' %>
    <%= link_to "Reports", admin_reports_path, class: 'dropdown-item' %>
  </div>
</li>
