<nav class="navbar navbar-mini navbar-expand-lg" id="mini-nav">
  <div class="container">
    <%= navbar_image_link %>
    <% if EnergySparks::FeatureFlags.active?(:locale_switcher_buttons) %>
      <%= locale_switcher_buttons %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav nowrap">
        <%= render 'shared/common_nav_bar_menus' %>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to t('nav.sign_in'), new_user_session_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
