<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="my_school" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My
    school</a>
  <div class="dropdown-menu" aria-labelledby="my_school">
    <%= link_to current_user.school.name, school_path(current_user.school), class: 'dropdown-item' %>
    <%= link_to 'Gas usage', pupils_school_analysis_path(current_user.school, category: :gas), class: 'dropdown-item' if current_user.school.has_gas? %>
    <% if current_user.school.has_solar_pv? %>
      <%= link_to 'Electricity and solar usage', pupils_school_analysis_path(current_user.school, category: :solar), class: 'dropdown-item' %>
    <% elsif current_user.school.has_electricity? %>
      <%= link_to 'Electricity usage', pupils_school_analysis_path(current_user.school, category: :electricity), class: 'dropdown-item' %>
    <% end %>
    <%= link_to 'Storage heater usage', pupils_school_analysis_path(current_user.school, category: :storage_heaters), class: 'dropdown-item' if current_user.school.has_storage_heaters? %>
    <%= link_to 'Analysis', school_analysis_index_path(current_user.school), class: 'dropdown-item' %>
    <%= link_to 'Simulations', school_simulations_path(current_user.school), class: 'dropdown-item' if can?(:manage, current_user.school) %>
    <% if current_user.contact %>
      <%= link_to 'My alerts', edit_school_contact_path(current_user.school, current_user.contact), class: 'dropdown-item' %>
    <% elsif can? :create, Contact %>
      <%= link_to 'My alerts', new_school_contact_path(current_user.school, user_id: current_user.id), class: 'dropdown-item' %>
    <% end %>
    <%= link_to 'Activities', suggest_activity_school_path(current_user.school), class: 'dropdown-item' %>
    <%= link_to 'Resources', resources_path, class: 'dropdown-item' %>
    <%= link_to "Download your data", school_downloads_path(current_user.school), class: 'dropdown-item' %>
    <% if can? :switch, School %>
      <% if current_user && !current_user.cluster_schools_for_switching.blank? %>
        <%= render 'shared/switch_schools' %>
      <% end %>
    <% end %>
</div>
</li>
