<% navbar_expand_breakpoint = I18n.locale == 'en' ? 'lg' : 'xl' %>
<nav class="navbar navbar-expand-<%= navbar_expand_breakpoint %> navbar-custom">
  <div class="container">
    <%= navbar_image_link %>
    <a class='nav-item pl-3' href="/"><%= "Test" if on_test? %></a>
    <% if EnergySparks::FeatureFlags.active?(:locale_switcher_buttons) %>
      <%= locale_switcher_buttons %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav nowrap">
        <%= render 'shared/common_nav_bar_menus' %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <span class="nav-lozenge nav-lozenge-little-padding">
            <li class="nav-item">
              <%= link_to t('nav.enrol'), enrol_path, class: 'nav-link' %>
              <%= link_to t('nav.sign_in'), new_user_session_path, class: 'btn btn-sm' %>
            </li>
          </span>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
