<!-- Navigation -->
<nav class="navbar navbar-expand-xl navbar-custom fixed-top">
  <%= render 'shared/test_site_warning' if request.host.include?('test') %>
  <div class="container">
    <%= link_to "Energy Sparks", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="nav navbar-nav">
        <% if current_user && current_user.active_school_admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="my_school" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My school</a>
            <div class="dropdown-menu" aria-labelledby="my_school">
              <%= link_to current_user.school.name, school_path(current_user.school), class: 'dropdown-item' %>
              <%= link_to 'Gas usage by day', usage_school_path(current_user.school, period: :hourly, supply: :gas) , class: 'dropdown-item' if current_user.school.meters?(:gas) %>
              <%= link_to 'Electricity usage by day', usage_school_path(current_user.school, period: :hourly, supply: :electricity), class: 'dropdown-item' %>
              <%= link_to 'Gas usage by week', usage_school_path(current_user.school, period: :daily, supply: :gas), class: 'dropdown-item'  if current_user.school.meters?(:gas) %>
              <%= link_to 'Electricity usage by week', usage_school_path(current_user.school, period: :daily, supply: :electricity), class: 'dropdown-item' %>
              <%= link_to 'Analysis', school_analysis_path(current_user.school), class: 'dropdown-item' %>
              <%= link_to 'Simulations', school_simulations_path(current_user.school), class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>

        <% if user_signed_in? && current_user.admin? && @school && @school.id %>
          <!-- temporary link -->
          <li class="nav-item"><%= link_to 'Pupil dashboard', pupils_school_path(@school), class: 'nav-link' %></li>
        <% end %>

        <% if current_user && current_user.active_school_admin? && current_user.school.scoreboard %>
          <li><%= link_to "Scoreboard", scoreboard_path(current_user.school.scoreboard), class: 'nav-link' %></li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Schools", schools_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? && current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
              <div class="dropdown-menu">
                <%= link_to "Activity Categories", activity_categories_path, class: 'dropdown-item' %>
                <%= link_to "Activity Types", activity_types_path, class: 'dropdown-item' %>
                <%= link_to "Programme Types", admin_programme_types_path, class: 'dropdown-item' %>
                <%= link_to "Alert Types", admin_alert_types_path, class: 'dropdown-item' %>
                <%= link_to "Calendar areas", admin_calendar_areas_path, class: 'dropdown-item' %>
                <%= link_to "Calendars", calendars_path, class: 'dropdown-item' %>
                <%= link_to "Equivalence Types", admin_equivalence_types_path, class: 'dropdown-item' %>
                <%= link_to "Manual School Setup", new_school_path, class: 'dropdown-item' %>
                <%= link_to "Automatic School Setup", admin_school_onboardings_path, class: 'dropdown-item' %>
                <%= link_to "School Groups", school_groups_path, class: 'dropdown-item' %>
                <%= link_to "Scoreboards", scoreboards_path, class: 'dropdown-item' %>
                <%= link_to "Site Settings", admin_settings_path, class: 'dropdown-item' %>
                <%= link_to "Users", users_path, class: 'dropdown-item' %>
                <%= link_to "Reports", reports_path, class: 'dropdown-item' %>
              </div>
            </li>
        <% end %>
        <li class="nav-item">
          <a href="http://blog.energysparks.uk" class="nav-link" target="_blank">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="aboutDropDown">
            <%= link_to "For Teachers", for_teachers_path, class: 'dropdown-item' %>
            <%= link_to "For Pupils", for_pupils_path, class: 'dropdown-item' %>
            <%= link_to "Enrol", enrol_path, class: 'dropdown-item' %>
            <%= link_to "Getting Started", getting_started_path, class: 'dropdown-item' %>
            <%= link_to "Scoring", scoring_path, class: 'dropdown-item' %>
            <%= link_to "Activities", activity_categories_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: 'nav-link'%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
