<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container">
    <%= navbar_image_link %>
    <a class='nav-item pl-3' href="/"><%= "Test" unless on_test? %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <%= render 'shared/common_nav_bar_menus' %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <span class="nav-lozenge nav-lozenge-little-padding">
            <li class="nav-item">
              <%= link_to "Register your school", getting_started_path, class: 'nav-link' %>
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-sm' %>
            </li>
          </span>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
