<li class="nav-item dropdown" id="our-services">
  <a class="nav-link dropdown-toggle" href="#" id="ourServicesDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('our_services_menu.our_services') %></a>
  <div class="dropdown-menu" aria-labelledby="ourServicesDropDown">
    <%= link_to t('our_services_menu.for_schools'), for_schools_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.for_multi_academy_trusts'), for_multi_academy_trusts_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.for_local_authorities'), for_local_authorities_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.energy_audits'), energy_audits_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.educational_workshops'), education_workshops_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.training'), training_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.case_studies'), case_studies_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.newsletters'), newsletters_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.videos'), 'https://www.youtube.com/@energysparksuk', class: 'dropdown-item' %>
  </div>
</li>
