<!-- the expand-xl sets the breakpoint as to when to collapse the menu -->
<nav class="navbar navbar-expand-lg navbar-custom fixed-top fixed-top-sub-nav sub-navbar">
  <div class="container">
    <%= link_to school.name, school_path(school), class: "navbar-brand" %>
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnavbarNavDropdown" aria-controls="subnavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="subnavbarNavDropdown">
        <ul class="navbar-nav">
          <%= render 'shared/dashboards' if can?(:read, :dashboard_menu) && school.active? %>

          <%= render 'shared/manage_school', school: @school if can? :update, school %>

          <% if podium && podium.includes_school? %>
            <span class="nav-lozenge mt-1">
              <li class="nav-item">
                <%= link_to scoreboard_path(podium.scoreboard), class: 'nav-link' do %>
                  <% if school.active? && podium.includes_school? %>
                    <%= podium.school_position.points %> points
                    <% if podium.school_position.recent_points > 0 %>
                      <i class="fa fa-arrow-up" data-toggle="tooltip" title="School has scored points in the last month"></i>
                    <% end %>
                    <div class="nav-link">
                      <%= fa_icon('crown') %>
                    </div>
                    <div class="nav-link">
                      <%= podium.school_position.ordinal %>
                    </div>
                  <% end %>
                <% end %>
              </li>
            </span>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

