<% content_for :page_title, t("tasks.completed.#{task_type}.page_title", school: school.name) %>

<% content_for :header do %>
<h1>
  <%= t('tasks.completed.congratulations') %>
  <% if recording.points.to_i.positive? %>
    <% if recording.academic_year.future? %>
      <%= t('tasks.completed.points_with_academic_year',
            points: recording.points,
            academic_year: recording.academic_year.title) %>
      <% else %>
        <%= t('tasks.completed.points', points: recording.points) %>
      <% end %>
  <% else %>
    <%= t("tasks.completed.#{task_type}.no_points") %>
  <% end %>
</h1>
<% end %>

<%= render 'schools/prompts/completed_programme', recording:, style: :compact %>

<h3><%= t('tasks.completed.what_next') %></h3>

<%= render 'schools/prompts/share', recording:, task_type:, style: :compact %>
<%= render 'schools/prompts/complete_programme', school:, style: :compact %>
<%= render 'schools/prompts/join_programme', school:, style: :compact %>
<%= render 'schools/prompts/audit', school:, style: :compact %>
<%= render 'schools/prompts/recommended', scope: recommendations_scope_for(task_type), icon: true, style: :compact %>

<% content_for :footer_theme, 'bg-light' %>
<% content_for(:footer) do %>
  <%= render Scoreboards::SchoolSummaryComponent.new(podium: current_school_podium, classes: 'mt-4 mb-4') %>
<% end %>
