<% content_for :page_title, t("tasks.completed.#{task_type}.page_title", school: school.name) %>

<h1 class="text-center">
  <%= t('tasks.completed.congratulations') %>
  <% if recording.points.to_i.positive? %>
    <% if recording.academic_year.future? %>
      <%= t('tasks.completed.points_with_academic_year',
            points: recording.points,
            academic_year: recording.academic_year.title) %>
      <% else %>
        <%= t('tasks.completed.points', points: recording.points) %>
      <% end %>
  <% else %>
    <%= t("tasks.completed.#{task_type}.no_points") %>
  <% end %>
</h1>

<% recording.programmes_completed_todos.completed.recently_ended.each do |programme| %>
  <%= render InfoBarComponent.new(
        status: :neutral,
        title: t('schools.prompts.completed_programme.message_html',
                 title: programme.title,
                 count: programme.points_for_completion),
        icon: image_tag(programme.programme_type.t_attached_or_default(
                          :image, placeholder: 'placeholder300x200.png'
                        ),
                        class: 'img-fluid'),
        icon_cols: 2,
        buttons: { t('common.labels.view') => programme_type_path(programme.programme_type) }
      ) %>
<% end %>

<%= render Scoreboards::SchoolSummaryComponent.new(podium: current_school_podium, title: '') %>

<h3><%= t('tasks.completed.what_next') %></h3>

<%= render InfoBarComponent.new(
      status: :positive,
      icon: fa_icon('share fa-3x'),
      style: :compact,
      title: t('tasks.completed.share'),
      buttons: { t("tasks.completed.#{task_type}.view_link") => recording_path(recording) }
    ) %>

<%= render 'schools/prompt_to_complete_programme',
           programmes: school.programmes.active.started.order(started_on: :desc),
           style: :compact %>
<%= render 'schools/prompt_join_programme', school: school, style: :compact %>
<%= render 'schools/prompt_audit', audit: Audits::AuditService.new(school).last_audit, style: :compact %>
<%= render 'schools/prompt_recommended', scope: recommendations_scope_for(task_type), icon: true, style: :compact %>
