<h1><%= t('schools.user_tariff_flat_prices.new.title') %></h1>

<div class="user_tariff">

  <p><%= t('schools.user_tariff_flat_prices.new.introduction') %>.</p>
  <br/>

  <%= render 'schools/user_tariffs/header', user_tariff: @user_tariff %>

  <br/>

  <%= simple_form_for @user_tariff_price, url: school_tariff_tariff_flat_prices_path(@school, @user_tariff) do |f| %>
    <%= render 'form', school: @school, user_tariff: @user_tariff, user_tariff_price: @user_tariff_price, f: f %>
    <br/>
    <%= link_to t('common.labels.previous'), edit_school_tariff_path(@school, @user_tariff), class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>
<% end %>

</div>
