<%= tag.div id: id, class: classes do %>
  <% if Flipper.enabled?(:new_dashboards_2024, user) %>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col">
            <% if title.present? %>
              <h2 id="scoreboard-update" class="scrollable-title"><%= title %></h2>
            <% end %>
          </div>
        </div>
        <% if podium.points_to_overtake && podium&.school_position&.position != 1 %>
          <div class="row">
            <div class="col">
              <h4>
                <%= t('components.podium.points_needed_to_overtake', points: podium.points_to_overtake) %>
              </h4>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <p>
              <%= t('components.scoreboard_summary.intro') %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to t('common.labels.choose_activity'), school_recommendations_path(school, scope: audience),
                        class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <%= render Scoreboards::PodiumComponent.new(podium: podium, user: user, classes: 'bg-white rounded p-4') %>
      </div>
    </div>
    <%= render TitledSectionComponent.new(id: 'scoreboard-recent-activity', classes: 'mt-4') do |section| %>
      <% section.with_title do %>
        <h2><%= timeline_title %></h2>
      <% end %>
      <% section.with_intro do %>
        <p>
          <%= t('components.scoreboard_summary.recent_activity_intro') %>
        </p>
      <% end %>
      <% if other_schools? %>
        <% section.with_link do %>
          <p>
            <%= link_to t('components.scoreboard_summary.view_scoreboard'),
                        scoreboard_path(scoreboard),
                        class: 'btn btn-default' %>
          </p>
        <% end %>
      <% end %>
      <% section.with_body do %>
        <%= render Scoreboards::ScoreboardActivityComponent.new(
              podium: podium,
              observations: observations,
              show_positions: other_schools?,
              classes: 'bg-white rounded p-4'
            ) %>
      <% end %>
    <% end %>
  <% else %>
    <% if title.present? %>
      <h3><%= title %></h3>
    <% end %>
      <div class="row">
        <div class="col-lg card-deck actions">
          <div class="card">
            <div class="card-body">
                <%= render Scoreboards::PodiumComponent.new(podium: podium) %>
            </div>
          </div>
        </div>

        <div class="col-lg card-deck actions">
          <div class="card">
            <div class="card-body">
              <h4 class="text-center"><%= timeline_title %></h4>
              <%= render CompactTimelineComponent.new(observations: observations) %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
