<%= tag.div id: id, class: class_names(classes, 'mb-2') do %>
  <%# Padding added to create space within div %>
  <div class="row py-3">
    <% if media? %>
      <%# Media is hidden on smallest size, visible from sm and above as single column %>
      <div class="d-none d-sm-block <%= media_cols %>">
        <% if icon? %>
          <%= render Elements::IconComponent.new fuel_type: fuel_type, name: icon, style: :circle, size: 'f5' %>
        <% elsif image? %>
          <%= render Elements::ImageComponent.new src: image %>
        <% end %>
      </div>
    <% end %>
    <%# if no image or icon then use full width row %>
    <%# Below md use full width, so text column wraps below icon. from md above use 2 cols %>
    <div class="<%= "col-12 #{main_cols}" %>">
      <% if title? || pill? %>
        <div class="row">
          <div class="col">
            <% if title? %>
              <strong><%= title %></strong>
            <% end %>
            <% if pill? %>
              <%= pill %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <% if style == :compact %>
          <div class="col-12 col-md-10">
            <%= content_action || content %>
          </div>
          <% if link %>
            <div class="col col-md-2">
              <%= link %>
            </div>
          <% end %>
        <% else %>
          <div class="col">
            <%= content_action || content %>
            <% if link %>
              <%= link %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
