<%= content_for :page_title, t('categories.index.title') %>

<% content_for :dashboard_header do %>
  <div>
    <div id="dashboard-header-welcome" class="col-12 col-md-9">
      <div class="row">
        <div class="col">
          <h1><%= t('categories.index.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p><%= t('categories.index.intro') %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="col mt-4 mb-4">
    <%= render 'cms/search' %>
  </div>

  <%= render Layout::GridComponent.new(cols: 3, classes: 'pb-4 mt-4 mb-4',
                                       cell_classes: 'mb-4') do |grid| %>

    <% @categories.each do |category| %>
      <% grid.with_stats_card do |card| %>
        <%= card.with_icon name: category.icon, style: :circle %>
        <%= card.with_header title: category.title, url: category_path(category) %>
        <%= card.with_subtext { category.description } %>
      <% end %>
    <% end %>
  <% end %>
</div>
