<%= content_for :page_title, t('categories.index.title') %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: t('categories.index.title'),
        subtitle: t('categories.index.subtitle')
      ) %>
<% end %>

<div class="container">
  <%= render 'cms/search' %>

  <%= render Layout::GridComponent.new(cols: 3, classes: 'pb-4 mt-4 mb-4',
                                       cell_classes: 'mb-4') do |grid| %>
    <% @categories.each do |category| %>
      <% grid.with_stats_card do |card| %>
        <%= card.with_icon name: category.icon, style: :circle, classes: 'text-teal-dark' %>
        <%= card.with_header title: category.title, url: category_path(category) %>
        <%= card.with_subtext { category.description } %>
      <% end %>
    <% end %>
  <% end %>
</div>
