<%= content_for :page_title, 'Support Pages' %>

<% content_for :dashboard_header do %>
  <div>
    <div id="dashboard-header-welcome" class="col-12 col-md-9">
      <div class="row">
        <div class="col">
          <h1><%= @category.title %></h1>
        </div>
      </div>
      <%= render 'cms/search' %>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div id="page-navigation" class="col-md-4 col-lg-4 col-xl-3">
      <%= render 'cms/nav', categories: @categories, classes: '' %>
    </div>

    <div class="row">
      <div class="col">
        <p>
          <%= @category.description %>
        </p>
      </div>
    </div>

    <div id="page-body" class="col-md-8 col-lg-8 col-xl-9">
      <% @category.pages.published.by_title.each do |page| %>
        <h3><%= link_to page.title, page_path(page) %></h3>

        <ul>
          <% page.sections.positioned.each do |section| %>
            <li><%= link_to section.title, page_path(page, anchor: section.slug) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
