<div id="main-carousel" class="carousel slide pt-2 pb-2 home-page" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main-carousel" data-slide-to="1"></li>
    <li data-target="#main-carousel" data-slide-to="2"></li>
    <li data-target="#main-carousel" data-slide-to="3"></li>
    <li data-target="#main-carousel" data-slide-to="4"></li>
    <li data-target="#main-carousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active text-center p-4">
      <div class="row justify-content-center">
        <div class="col-1"><i class="fas fa-coins"></i></div>
        <div class="col-8"><h2><%= t('home.carousel.message_1') %>.</h2></div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row justify-content-center">
        <div class="col-1"><i class="fas fa-chart-line"></i></div>
        <div class="col-8"><h2><%= t('home.carousel.message_2') %>.</h2> </div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row justify-content-center">
        <div class="col-1"><i class="fas fa-file-alt"></i></div>
        <div class="col-8"><h2><%= t('home.carousel.message_3') %>.</h2></div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row justify-content-center">
        <div class="col-1"><i class="fas fa-bell"></i></div>
        <div class="col-8"><h2><%= t('home.carousel.message_4') %>.</h2></div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row justify-content-center">
        <div class="col-1"><i class="fas fa-user"></i></div>
        <div class="col-7"><h2><%= t('home.carousel.message_5') %>.</h2></div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row justify-content-center">
        <div class="col-1"><i class="fas fa-lightbulb"></i></div>
        <div class="col-8"><h2><%= t('home.carousel.message_6') %>.</h2></div>
      </div>
    </div>
  </div>
</div>
