<div class="funnels mt-3">
  <div class="application container home-block">
    <div class="card-deck pt-5">
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag('funnel-pupils.png', class: 'img-fluid  funnel-image') %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= t('home.funnels.school.title') %></strong></h4>
          <p class="card-text"><%= t('home.funnels.school.text') %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to t('home.funnels.school.button'), for_schools_path,
                      class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag('funnel-teachers.png', class: 'img-fluid  funnel-image') %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= t('home.funnels.multi_academy.title') %></strong></h4>
          <p class="card-text"><%= t('home.funnels.multi_academy.text') %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to t('home.funnels.multi_academy.button'), for_multi_academy_trusts_path,
                      class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
       <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag('funnel-manager.png', class: 'img-fluid funnel-image') %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= t('home.funnels.local_authority.title') %></strong></h4>
          <p class="card-text"><%= t('home.funnels.local_authority.text') %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to t('home.funnels.local_authority.button'), for_local_authorities_path,
                      class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
    </div>
  </div>
</div>
