<div class="funnels mt-3">
  <div class="application container">
    <div class="card-deck pt-5">
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag("funnel-pupils.png", class: "img-fluid  funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong>For schools</strong></h4>
          <p class="card-text">Learn more about how Energy Sparks can support your school</p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Energy Sparks for Schools', for_schools_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag("funnel-teachers.png", class: "img-fluid  funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong>For Multi-Academy Trusts</strong></h4>
          <p class="card-text">Learn more about how Energy Sparks supports Multi-Academy Trusts.</p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Energy Sparks for Multi-Academy Trusts', for_multi_academy_trusts_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
       <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag("funnel-manager.png", class: "img-fluid funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong>For Local Authorities</strong></h4>
          <p class="card-text">Learn more about how Energy Sparks can work with Local Authorities to support schools in their area.</p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Energy Sparks for Local Authorities', for_local_authorities_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>

      </div>
    </div>
  </div>
</div>
