<div class="funnels mt-3">
  <div class="application container">
    <div class="card-deck pt-5">
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag("funnel-pupils.png", class: "img-fluid  funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= t('home.funnels.title_1') %></strong></h4>
          <p class="card-text"><%= t('home.funnels.text_1') %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to t('home.funnels.button_1'), for_schools_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag("funnel-teachers.png", class: "img-fluid  funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= t('home.funnels.title_2') %></strong></h4>
          <p class="card-text"><%= t('home.funnels.text_2') %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to t('home.funnels.button_2'), for_multi_academy_trusts_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
       <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card mb-4">
        <div class="card-image">
          <%= image_tag("funnel-manager.png", class: "img-fluid funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= t('home.funnels.title_3') %></strong></h4>
          <p class="card-text"><%= t('home.funnels.text_3') %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to t('home.funnels.button_3'), for_local_authorities_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>

      </div>
    </div>
  </div>
</div>
