<div class="application container mailchimp">
  <div class="row pt-5">
    <% if @newsletters %>
      <div class="col-7 pr-5">
        <div class="row">
          <div class="col">
            <h2>Stay up to date&hellip;</h2>
          </div>
          <div class="col text-right">
            <%= link_to "More newsletters", newsletters_path, class: 'btn mt-2' %>
          </div>
      </div>
        <div class="card-deck">
          <% @newsletters.each do |newsletter| %>
            <div class="card mb-3">
              <% if newsletter.image.present? %>
                <%= image_tag newsletter.image %>
              <% else %>
                <%= image_tag("stay-up-to-date/newsletter-placeholder.png", class: 'img-fluid') %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to newsletter.title, newsletter.url %></h5>
              </div>
            </div>
            <div class="w-100 d-none d-md-block d-sm-block d-lg-none"></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="col-5 border-left ">
      <h4>Get the latest news from Energy Sparks in your inbox</h4>
      <%= form_with(url: new_mailchimp_signup_path, method: :get, local: true) do %>
        <div class="form-group">
          <%= label_tag(:email_address, "Your email address") %>
          <%= text_field_tag(:email_address, nil, class: 'form-control', placeholder: 'example@example.com') %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="d-flex justify-content-center">
          <%= submit_tag("Continue", class: 'btn btn-dark-blue') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
