<div class="application container mailchimp home-block">
  <div class="row pt-5">
    <% if @newsletters %>
      <div class="col-12 pr-5">
        <div class="row">
          <div class="col">
            <h1><%= t('mailchimp.title_html') %></h1>
          </div>
          <div class="col text-right">
            <%= link_to t('mailchimp.more_newsletters'), newsletters_path, class: 'btn mt-2' %>
          </div>
      </div>
        <div class="card-deck">
          <% @newsletters.each do |newsletter| %>
            <div class="card mb-3">
              <% if newsletter.image.present? %>
                <%= image_tag newsletter.image %>
              <% else %>
                <%= image_tag('stay-up-to-date/newsletter-placeholder.png', class: 'img-fluid') %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to newsletter.title, newsletter.url %></h5>
              </div>
            </div>
            <div class="w-100 d-none d-md-block d-sm-block d-lg-none"></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
