<div class="row">
  <div class="col">
    <h2><%= t('school_statistics.free_school_meals') %></h2>

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th><%= t('school_statistics.percentage_range') %></th>
          <th class="text-right"><%= t('school_statistics.count') %></th>
        </tr>
      </thead>
      <tbody>
        <% Schools::ReportingStatisticsService::RANGES.each do |range| %>
          <tr>
            <td><%= range %></td>
            <td class="text-right"><%= report.free_school_meals.fetch(range.to_s, 0) %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= t('school_statistics.unknown') %></td>
          <td class="text-right"><%= report.free_school_meals["unknown"] %></td>
        </tr>
        <tr>
          <td><strong><%= t('school_statistics.total') %></strong></td>
          <td class="text-right"><%= School.visible.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
