<div class="row">
  <div class="col">
    <h2><%= t('school_statistics.free_school_meals') %></h2>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th><%= t('school_statistics.percentage_range') %></th>
          <th class="text-right"><%= t('school_statistics.count') %></th>
        </tr>
      </thead>
      <tbody>
        <% report.free_school_meals.each_with_index do |row, index| %>
          <tr>
            <td>
              <% if row['percentage_range_end'].nil? %>
                <%= t('school_statistics.unknown') %>
              <% elsif row['percentage_range_end'].to_i.zero? %>
               <%= row['percentage_range_end'].to_i %>
              <% else %>
                <%= report.free_school_meals[index-1]['percentage_range_end'].to_i + 1 %> - <%= row['percentage_range_end'].to_i %>
              <% end %>
            </td>
            <td class="text-right"><%= row['count'] %></td>
          </tr>
        <% end %>
        <tr>
          <td><strong><%= t('school_statistics.total') %></strong></td>
          <td class="text-right"><%= School.visible.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
