<% content_for :page_title, t('attribution.title') %>
<div class="application container">
  <div class="row">
    <div class="col">
      <h1 id="intro"><%= t('attribution.title') %></h1>

      <p><%= t('attribution.introduction') %>.</p>

      <table class="table table-sorted">
        <thead>
          <tr>
            <th><%= t('attribution.data') %></th>
            <th><%= t('attribution.source') %></th>
            <th><%= t('attribution.terms') %></th>
          </tr>
        </thead>
        <tbody>
          <% t('attribution.datasets').each do |dataset| %>
            <tr>
              <td><%= dataset[:name]&.html_safe %></td>
              <td><%= dataset[:source]&.html_safe %></td>
              <td><%= dataset[:terms]&.html_safe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= t('attribution.read_more_html', datasets_path: datasets_path) %></p>
    </div>
  </div>
</div>
