<% content_for :page_title, 'Contact us' %>

<div class="application container">
  <h1><%= t('contact.title') %></h1>
  <div class="row">
    <div class="col-md-3 callout-text">
      <p><strong><%= t('contact.questions.title') %></strong></p><p>
    </div>
    <div class="col-md-5">
      <p><%= t('contact.questions.content_1') %></p>
      <p><a href="mailto:support@energysparks.uk">support@energysparks.uk</a></p>
      <p><%= t('contact.questions.content_2') %></p>
    </div>
    <div class="col-3">
      <%= image_tag('actions/radiator-thermostat.png', class: 'img-fluid') %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 callout-text">
    </div>
    <div class="col-md-8">
      <p><%= t('contact.questions.content_3') %></p>
      <p><%= t('contact.questions.content_4') %>:</p>
      <ul>
        <li><%= t('contact.questions.twitter') %> <a href="https://twitter.com/EnergySparks">@EnergySparks</a></li>
        <li><%= t('contact.questions.facebook') %> <a href="https://www.facebook.com/EnergySparksUK/">@EnergySparksUK</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 callout-text">
      <p><strong><%= t('contact.problem_reporting.title') %></strong></p>
    </div>
    <div class="col-md-8">
      <p><%= t('contact.problem_reporting.content_1') %>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 callout-text">
      <p><strong><%= t('contact.further_information.title') %></strong></p>
    </div>
    <div class="col-md-8">
      <p><%= t('contact.further_information.in_the_meantime') %>:</p>
      <ul>
        <li><%= t('contact.further_information.read_html', product_path: product_path) %></li>
        <li><%= t('contact.further_information.learn_html', enrol_path: enrol_path) %></li>
        <li><%= t('contact.further_information.discover_html', datasets_path: datasets_path) %></li>
      </ul>
    </div>
  </div>
</div>
