<% content_for :page_title, t('education_workshops.title') %>

<div class="application container">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <p class="display-3"><strong><%= t('education_workshops.title') %></strong></p>
      </div>
    </div>
  </div>

  <%= render 'two_column_image_deck', column_one: 'for-schools/workshop-class.png', column_two: 'for-schools/workshop-activity.png' %>

  <div class="row">
    <div class="col-md-12">
      <%= t('education_workshops.intro_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <%= t('education_workshops.availability') %>
      </p>
      <%= t('education_workshops.cost_html') %>
      <p>
        <a href="https://forms.gle/eREfqJgH5SRYQRah9" class="btn"><%= t('education_workshops.book') %></a>
      </p>
    </div>
  </div>
</div>
