<% content_for :page_title, t('energy_audits.title') %>

<div class="application container">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <p class="display-3"><strong><%= t('energy_audits.title') %></strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <%= t('energy_audits.availability') %>
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('energy_audits.virtual.intro_html') %>
      <p>
        <%= t('energy_audits.virtual.availability') %>
      </p>
      <%= mail_to 'hello@energysparks.uk', t('energy_audits.quote'), class: 'btn' %> <a href="https://forms.gle/kgdMW6LhV7SEtbJH8" target="_blank" class="btn"><%= t('energy_audits.book') %></a>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('energy_audits.onsite.intro_html') %>
      <p>
        <a href="https://forms.gle/kgdMW6LhV7SEtbJH8" class="btn" target="_blank"><%= t('energy_audits.book') %></a>
      </p>
    </div>
  </div>

  <div class="row pb-4 pt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <%= image_tag("thermal-camera.png", class: "img-fluid") %>
      </div>
    </div>
  </div>

</div>
