<% cache_unless current_user&.admin?, I18n.locale, expires_in: 1.hour do %>
  <% content_for :page_title, t('energy_audits.title') %>
  <div class="container-fluid adult mb-5 py-5">
    <%= render Layout::GridComponent.new(
          id: 'hero', cols: 2, classes: 'container', feature: true, cell_classes: 'my-auto'
        ) do |grid| %>
      <% grid.with_feature_card(size: :xl) do |feature| %>
        <%= feature.with_header title: t('energy_audits.feature.title') %>
        <%= feature.with_description { t('energy_audits.feature.description') } %>
      <% end %>
      <%= grid.with_image src: 'audit-image.png' %>
    <% end %>
  </div>

  <div class="container">
    <%= render Layout::GridComponent.new(
          id: 'onsite', cols: 2, classes: 'mt-6 mb-3', cell_classes: ''
        ) do |grid| %>
      <%= grid.with_image src: 'audit-boiler.jpg', classes: 'rounded-xl' %>
      <% grid.with_feature_card(cell_classes: 'my-auto', size: :lg) do |feature| %>
        <%= feature.with_header title: t('energy_audits.onsite.title') %>
        <%= feature.with_description { t('energy_audits.onsite.description_html') } %>
        <%= feature.with_button(t('home.buttons.get_quote'),
                                'mailto:hello@energysparks.uk', style: :primary, classes: 'mr-2') %>
        <%= feature.with_button(t('home.buttons.read_case_studies'),
                                case_studies_path, style: :secondary, classes: '') %>
      <% end %>
    <% end %>

    <h3><%= t('common.labels.prices') %></h3>

    <%= render Layout::GridComponent.new(
          id: 'onsite-prices',
          cols: 3,
          classes: 'mb-5',
          cell_classes: 'mb-4',
          component_classes: 'h-100 p-4 rounded-xl'
        ) do |grid| %>
      <%= grid.with_feature_card(theme: :dark, size: :sm) do |feature| %>
        <%= feature.with_header(title: t('energy_audits.onsite.primary.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.onsite.primary.price'),
              classes: 'mt-auto'
            ) %>
      <% end %>
      <%= grid.with_feature_card(theme: :dark, size: :sm) do |feature| %>
        <%= feature.with_header(title: t('energy_audits.onsite.secondary.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.onsite.secondary.price'),
              classes: 'mt-auto'
            ) %>
      <% end %>
      <%= grid.with_feature_card(theme: :dark, size: :sm) do |feature| %>
        <%= feature.with_header(title: t('energy_audits.onsite.plus.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.onsite.plus.price'),
              classes: 'mt-auto'
            ) %>
      <% end %>
    <% end %>

    <%= render Layout::GridComponent.new(
          id: 'desktop',
          cols: 2,
          classes: 'my-5 pb-4'
        ) do |grid| %>
      <%= grid.with_feature_card(size: :lg, cell_classes: 'my-auto') do |feature| %>
        <%= feature.with_header(title: t('energy_audits.desktop.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.desktop.price'),
              classes: 'text-complement pb-1'
            ) %>
        <%= feature.with_description { t('energy_audits.desktop.description_html') } %>
        <%= feature.with_button(t('home.buttons.get_quote'),
                                'mailto:hello@energysparks.uk', style: :primary, classes: 'mr-2') %>
        <%= feature.with_button(t('home.buttons.read_case_studies'),
                                case_studies_path, style: :secondary, classes: '') %>
      <% end %>
      <%= grid.with_image(src: 'audit-desktop.jpg', cell_classes: '') %>
    <% end %>

    <%= render Layout::CarouselComponent.new(id: 'testimonials',
                                             show_markers: false,
                                             theme: :accent,
                                             classes: 'rounded-xl p-4 my-5',
                                             show_arrows: :side) do |carousel| %>
      <% Testimonial.all.active.audit.shuffle.each do |testimonial| %>
        <%= carousel.with_testimonial_card(testimonial: testimonial) %>
      <% end %>
    <% end %>
  </div>
<% end %>
