<% content_for :page_title, t('energy_audits.title') %>
<% if Flipper.enabled?(:new_audits_page, current_user) %>
  <div class="container-fluid adult mb-5 py-5">
    <%= render Layout::GridComponent.new(
          id: 'hero', cols: 2, classes: 'container', cell_classes: 'my-auto'
        ) do |grid| %>
      <% grid.with_feature_card(cell_classes: 'px-xl-4', size: :xl) do |feature| %>
        <%= feature.with_header title: t('energy_audits.feature.title') %>
        <%= feature.with_description { t('energy_audits.feature.description') } %>
      <% end %>
      <%= grid.with_image src: 'audit-image.png', classes: 'rounded-xl', cell_classes: 'px-xxl-5' %>
    <% end %>
  </div>

  <div class="container">
    <%= render Layout::GridComponent.new(
          id: 'onsite', cols: 2, classes: 'pb-2', cell_classes: 'py-4'
        ) do |grid| %>
      <%= grid.with_image src: 'audit-boiler.jpg', classes: 'rounded-xl' %>
      <% grid.with_feature_card(cell_classes: 'my-auto py-4', size: :lg) do |feature| %>
        <%= feature.with_header title: t('energy_audits.onsite.title') %>
        <%= feature.with_description { t('energy_audits.onsite.description_html') } %>
        <%= feature.with_button(t('home.buttons.get_quote'),
                                'mailto:hello@energysparks.uk', style: :primary, classes: 'mr-2') %>
        <%= feature.with_button(t('home.buttons.read_case_studies'),
                                case_studies_path, style: :secondary, classes: '') %>
      <% end %>
    <% end %>

    <h3><%= t('common.labels.prices') %></h3>

    <%= render Layout::GridComponent.new(
          id: 'onsite-prices',
          cols: 3,
          classes: 'mb-4',
          cell_classes: 'mb-4',
          component_classes: 'h-100 p-4 rounded-xl'
        ) do |grid| %>
      <%= grid.with_feature_card(theme: :dark, size: :sm) do |feature| %>
        <%= feature.with_header(title: t('energy_audits.onsite.primary.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.onsite.primary.price'),
              classes: 'mt-auto'
            ) %>
      <% end %>
      <%= grid.with_feature_card(theme: :dark, size: :sm) do |feature| %>
        <%= feature.with_header(title: t('energy_audits.onsite.secondary.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.onsite.secondary.price'),
              classes: 'mt-auto pt-4'
            ) %>
      <% end %>
      <%= grid.with_feature_card(theme: :dark, size: :sm) do |feature| %>
        <%= feature.with_header(title: t('energy_audits.onsite.plus.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.onsite.plus.price'),
              classes: 'mt-auto'
            ) %>
      <% end %>
    <% end %>

    <%= render Layout::GridComponent.new(
          id: 'desktop',
          cols: 2,
          classes: '', cell_classes: 'py-4'
        ) do |grid| %>
      <%= grid.with_feature_card(classes: '', size: :lg, cell_classes: '') do |feature| %>
        <%= feature.with_header(title: t('energy_audits.desktop.title')) %>
        <%= feature.with_price(
              label: t('common.labels.starting_from'),
              price: t('energy_audits.desktop.price'),
              classes: 'text-complement pb-1'
            ) %>
        <%= feature.with_description { t('energy_audits.desktop.description_html') } %>
        <%= feature.with_button(t('home.buttons.get_quote'),
                                'mailto:hello@energysparks.uk', style: :primary, classes: 'mr-2') %>
        <%= feature.with_button(t('home.buttons.read_case_studies'),
                                case_studies_path, style: :secondary, classes: '') %>
      <% end %>
      <%= grid.with_image(src: 'audit-desktop.jpg', cell_classes: '') %>
    <% end %>

    <%= render Layout::CarouselComponent.new(id: 'testimonials',
                                             show_markers: false,
                                             theme: :accent,
                                             classes: 'rounded-xl p-4 my-5',
                                             show_arrows: :side) do |carousel| %>
      <% Testimonial.all.active.audit.shuffle.each do |testimonial| %>
        <%= carousel.with_testimonial_card(testimonial: testimonial) %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="application container">
    <h1><%= t('energy_audits.title') %></h1>

    <div class="row">
      <div class="col-md-12">
        <%= t('energy_audits.availability') %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <%= t('energy_audits.onsite.intro_html') %>
        <p>
          <%= mail_to 'hello@energysparks.uk', t('energy_audits.quote'), class: 'btn' %>
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <%= t('energy_audits.virtual.intro_html') %>
        <p>
          <%= t('energy_audits.virtual.availability') %>
        </p>
        <%= mail_to 'hello@energysparks.uk', t('energy_audits.quote'), class: 'btn' %></a>
      </div>
    </div>

    <div class="row pb-4 pt-4">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <%= image_tag('thermal-camera.png', class: 'img-fluid') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
