<% content_for :page_title, t('enrol.title') %>

<div class="application container">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <p class="display-3"><strong><%= t('enrol.title') %></strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= t('enrol.section_1_html') %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="card-deck activities">
      <div class="card activity">
        <div class="card-body">
          <h4 class="card-title text-center"><%= t('enrol.enrol_school.title') %></h4>
          <div class="d-flex justify-content-center mt-2">
            <small>
              <%= t('enrol.enrol_school.read_more_html') %>
            </small>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <%= link_to t('enrol.enrol_now'), enrol_our_school_path, class: 'btn btn-lg bg-positive' %>
          </div>
        </div>
      </div>

      <div class="card activity">
        <div class="card-body">
          <h4 class="card-title text-center"><%= t('enrol.enrol_mat.title') %></h4>
          <div class="d-flex justify-content-center mt-2">
            <small>
              <%= t('enrol.enrol_mat.read_more_html') %>
            </small>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <%= link_to t('enrol.enrol_now'), enrol_our_multi_academy_trust_path, class: 'btn btn-lg bg-positive' %>
          </div>
        </div>
      </div>

      <div class="card activity">
        <div class="card-body">
          <h4 class="card-title text-center"><%= t('enrol.enrol_la.title') %></h4>
          <div class="d-flex justify-content-center mt-2">
            <small>
              <%= t('enrol.enrol_la.read_more_html') %>
            </small>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <%= link_to t('enrol.enrol_now'), enrol_our_local_authority_path, class: 'btn btn-lg bg-positive' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
