<% content_for :page_title, t('marketing.schools.title') %>

<%= render 'home/marketing/header', title: t('marketing.schools.title'), school: true %>

<div class="application container">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #232b49;"><%= t('marketing.mats.benefits.costs') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #232b49;"><%= t('marketing.schools.benefits.emissions') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #232b49;"><%= t('marketing.mats.benefits.pupils') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2 text-center cta">
          <%= link_to t('enrol.enrol_now'), enrol_our_school_path, class: 'btn bg-positive' %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag('on-screen.jpg', class: 'img-fluid rounded-25') %>
    </div>
  </div>
</div>

<div class="row bg-dark-blue" style="background-color: #232b49;">
  <div class="col-md-12">
    <div class="application container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 style="color: white;">
            <%= t('marketing.schools.learn_why.title',
                  school_count: marketing_school_count,
                  mat_count: marketing_mat_count) %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="application container">
  <div class="row pb-5">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t('marketing.mats.costs.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('marketing.mats.costs.sub_title') %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('marketing.mats.costs.case_study'),
                      case_study_link(@marketing_studies[:costs]),
                      class: 'btn btn-lg btn-outline-dark rounded-pill font-weight-bold' %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-light-blue p-5 justify-content-center testimonial rounded-25">
            <blockquote class="quotes"><%= t('marketing.mats.costs.quote_html') %></blockquote>
            <figcaption class="quote-by">
              <strong><%= t('marketing.mats.costs.quote_source') %></strong>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class="col-md-5">
      <div class="row">
        <%= image_tag('laptop.jpg', class: 'img-fluid rounded-25') %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t('marketing.mats.tool.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('marketing.schools.tool.sub_title_1') %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('marketing.schools.tool.sub_title_2') %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to t('marketing.mats.tool.case_study'),
                      case_study_link(@marketing_studies[:tool]),
                      class: 'btn btn-lg btn-outline-dark rounded-pill font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t('marketing.mats.pupils.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('marketing.mats.pupils.sub_title_1', activities_count: marketing_activity_count) %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('marketing.mats.pupils.sub_title_2') %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('marketing.mats.pupils.case_study'),
                      case_study_link(@marketing_studies[:pupils]),
                      class: 'btn btn-lg btn-outline-dark rounded-pill font-weight-bold' %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-light-blue p-5 justify-content-center testimonial rounded-25">
            <blockquote class="quotes"><%= t('marketing.mats.pupils.quote') %></blockquote>
            <figcaption class="quote-by">
              <strong><%= t('marketing.mats.pupils.quote_source') %></strong>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class="col-md-5">
      <div class="row">
        <%= image_tag('pupil-carbon.jpg', class: 'img-fluid rounded-25') %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t('marketing.mats.emissions.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('marketing.mats.emissions.sub_title_1') %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>
            <%= t('marketing.mats.emissions.sub_title_2') %>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to t('marketing.mats.emissions.case_study'),
                      case_study_link(@marketing_studies[:emissions]),
                      class: 'btn btn-lg btn-outline-dark rounded-pill font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-dark-blue" style="background-color: #232b49;">
  <div class="col-md-12">
    <div class="application container">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= link_to t('marketing.mats.read_more.title'),
                      case_studies_path,
                      class: 'btn btn-lg btn-outline-dark rounded-pill font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-light-blue">
  <div class="col-md-12">
    <div class="application container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial">
            <blockquote class="quotes"><%= t('marketing.mats.testimonial.quote') %></blockquote>
            <figcaption class="quote-by">
              <strong><%= t('marketing.mats.testimonial.quote_source') %></strong>
              <p class="very-small"><%= t('marketing.mats.testimonial.quote_job') %></p>
              <p class="very-small"><%= t('marketing.mats.testimonial.quote_organisation') %></p>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="application container">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #232b49;"><%= t('marketing.mats.final_prompt.question') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #232b49;"><%= t('marketing.schools.final_prompt.booking') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2 text-center cta">
          <%= link_to t('marketing.book_a_demo'), training_path, class: 'btn bg-positive' %>
          <%= link_to t('enrol.enrol_now'), enrol_our_school_path, class: 'btn btn-lg bg-positive' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2 text-center cta">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag('whiteboard.jpg', class: 'img-fluid rounded-25') %>
    </div>
  </div>
</div>
