<% content_for :page_title, t('for_schools.title') %>

<div class="application container">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <p class="display-3"><strong><%= t('for_schools.title') %></strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <%= t('for_schools.intro') %>
      </p>
      <p>
        <%= t('about_energy_sparks') %>
      </p>
      <p>
        <%= t('working_with') %> <strong><%= link_to t('school_count', count: @school_count), schools_path %></strong>.
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_1_html') %>
    </div>
  </div>

  <%= render 'two_column_image_deck', column_one: 'for-schools/management-dashboard.png', column_two: 'for-schools/pupil-dashboard.png' %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_2_html', activity_count: @activities_count) %>
    </div>
  </div>

  <%= render 'two_column_image_deck', column_one: 'for-schools/activities-detective.png', column_two: 'for-schools/activities-analyst.png' %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_3_html') %>
    </div>
  </div>

  <%= render 'two_column_image_deck', column_one: 'for-schools/actions-heating.png', column_two: 'for-schools/actions-operations.png' %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_4_html') %>
    </div>
  </div>

  <div class="row bg-light pb-4 pt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <%= image_tag("for-schools/dashboard-alerts.png", class: "img-fluid") %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_5.title_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= t('for_schools.section_5.list_1_html') %>
    </div>
    <div class="col-sm-6">
      <%= t('for_schools.section_5.list_2_html') %>
    </div>
  </div>

  <%= render 'home/testimonial',
    quote: @testimonial[:quote],
    by: @testimonial[:by],
    title: @testimonial[:title],
    location: @testimonial[:location]
  %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_6_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_7_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_8.title_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 pr-4">
      <%= t('for_schools.section_8.list_1_html') %>
    </div>
    <div class="col-sm-6">
      <%= t('for_schools.section_8.list_2_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= t('for_schools.section_9_html') %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <%= link_to t('for_schools.enrol_our_school'), enrol_our_school_path, class: 'btn btn-lg bg-positive' %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <h4><strong><%= t('for_schools.find_out_more') %></strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="card-deck col-md-12">
      <% @videos.each do |video| %>
      <div class="card border-light">
        <div class="card-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= video[:embed_url] %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h5 class="card-title"><strong><%= video[:title] %></strong></h5>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
