<% content_for :page_title, 'For Pupils' %>

<div class="application info-page">
  <div class="row padded-row">
    <div class="col-md-7">
      <h1 id="intro">Energy Sparks for&hellip;</h1>
      <p class="display-3"><strong>Pupils</strong></p>
      <h2>Caring for the environment</h2>
      <p>We all know that it’s important to save energy. Every time we perform the simplest task that uses energy - from switching on a light to turning on the TV – the natural resource used to create that energy is depleted. And once it’s gone, it’s gone. Fossil fuels such as coal, oil and gas, which we still depend on to provide much of the world's energy, are a finite resource and will run out sooner than many of us realise.</p>
      <p>At the same time as stripping the planet of its natural resources, our energy consumption is also affecting our climate. Each time a fossil fuel is burned, carbon dioxide is released into the atmosphere, changing the Earth’s natural climate and weather systems. The consequences include flooding, diminishing ice caps, droughts and extreme weather conditions.</p>
    </div>
    <div class="col-md-5 d-flex align-items-center">
      <%= image_tag("for-pupils/caring-for-the-environment.png", class: "img-fluid") %>
    </div>
  </div>

  <div class="row padded-row alternate-background">
    <div class="col-md-5">
      <%= image_tag("for-pupils/saving-money.png", class: "img-fluid") %>
    </div >
    <div class="col-md-7">
      <h2>Saving Money</h2>
      <p>Energy isn't free. Your school, parents and carers need to pay for all the electricity and gas you use. So wasting energy is the same as wasting money - and we know that's not a good idea!</p>
      <p>It might seem like children and young people can't do much to help. But every time you turn off a light bulb or close the door to keep the heat in, you're saving energy. You can also help by reminding adults to turn the heat down in the winter, buy energy-smart light bulbs and use appliances the right way. There are lots of easy ways to save energy at school and home - and all those energy-savers add up to a big impact on the environment.</p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-7">
      <h2>How Energy Sparks can help</h2>
      <p>Energy Sparks will show you how much energy your school is using each day. You can use this information to help your school to save energy, and help protect the environment. Energy Sparks will show you how much electricity your school uses for lights, computers and whiteboards, and in the school kitchens. It will also show you how much gas your school uses for heating classrooms, for cooking and for heating hot water.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("for-pupils/how-can-we-help.png", class: "img-fluid float-right") %>
    </div >
  </div>

  <div class="row padded-row alternate-background">
    <div class="col-md-5 pb-4">
      <%= image_tag("for-pupils/energy-saving-activities.jpg", class: "img-fluid") %>
    </div >
    <div class="col-md-7">
      <h2>Energy saving activities</h2>
      <p>Energy Sparks will also give you lots of activities you could try at your school to save energy. For example you could:</p>

      <ul>
        <li>Carry out a spot check to see if lights or IT equipment are left on at lunch time.</li>
        <li>Measure classroom temperatures to see if your school is too warm</li>
        <li>Monitor whether outside doors and windows are closed during cold weather to keep the heat in</li>
        <li>Design posters and signs to spread the energy-saving message</li>
        <li>Make a video about saving energy</li>
        <li>Organise a switch-off campaign at school</li>
        <li>And lots more!</li>
      </ul>

      <p>You can use the Energy Sparks graphs to see how much difference your changes have made to your school's energy use, and even use your maths skills to find out how much money your school has saved.</p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-7">
      <h2>Score points</h2>
      <p>For each activity you carry out and record on Energy Sparks, you will get points. You will be able to compete against other local  schools to see who can earn the most points and save the most energy.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("for-pupils/score-points.png", class: "img-fluid float-right") %>
    </div >
  </div>

  <div class="row padded-row justify-content-center m-4 pb-3">
    <%= link_to 'Enrol your school', enrol_path, class: 'btn bg-positive' %>
    <%= link_to 'User guide videos', user_guide_videos_path, class: 'btn' %>
  </div>

  <%= render 'testimonial',
    quote: 'Energy Sparks is amazing. It is great to find out how much electricity and gas our school uses and how much we can save. It has made me more confident at understanding graphs. The activities encourage us to work as a team, and have more of an impact.',
    by: 'KS2 pupils',
    title: '',
    location: 'Freshford Church School, Bath and NE Somerset'
  %>

</div>
