<% content_for :page_title, t('for_local_authorities.title') %>

<div class="application container">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <p class="display-3"><strong><%= t('for_local_authorities.title') %></strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <%= t('for_local_authorities.intro') %>
      </p>
      <p>
        <%= t('about_energy_sparks') %>
      </p>
      <p>
        <%= t('working_with') %> <strong><%= link_to t('school_count', count: @school_count), schools_path %></strong>.
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_local_authorities.section_1_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_local_authorities.section_2_html') %>
    </div>
  </div>

  <%= render 'home/testimonial',
    quote: @testimonial[:quote],
    by: @testimonial[:by],
    title: @testimonial[:title],
    location: @testimonial[:location]
  %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_local_authorities.section_3_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_schools.section_6_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_multi_academy_trusts.section_4_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_local_authorities.section_4_html') %>
    </div>
  </div>

  <%= render 'home/testimonial',
    quote: @testimonial_saving[:quote],
    by: @testimonial_saving[:by],
    title: @testimonial_saving[:title],
    location: @testimonial_saving[:location]
  %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_local_authorities.section_5_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('for_local_authorities.section_6_html') %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <%= link_to t('for_local_authorities.enrol_our_la'), enrol_our_local_authority_path, class: 'btn btn-lg bg-positive' %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <h4><strong><%= t('for_schools.find_out_more') %></strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="card-deck col-md-12">
      <% @videos.each do |video| %>
      <div class="card border-light">
        <div class="card-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= video[:embed_url] %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h5 class="card-title"><strong><%= video[:title] %></strong></h5>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
