<% content_for :page_title do %>
    Getting Started
<% end %>
<div class="application container">

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="intro">How <%= t('application') %> Works</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
    </div>
    <div class="col-md-8">
      <p>
        <%= t('application') %> makes saving energy fun and uses healthy competition between schools to motivate adults and pupils.
      The competition is based on points awarded for whole-school energy-saving initiatives, learning about energy as
      part of the curriculum and reducing the school’s energy consumption.
      </p>
      <p>
      Each school’s energy-saving journey will evolve in a different way. However a good balance of activities will
      cover each of the <%= t('application') %> categories:
      <ul>
        <li>Investigating Energy Use</li>
        <li>Learning</li>
        <li>Spreading the Message</li>
        <li>Whole-School Activities</li>
        <li>Taking Action Around the School</li>
      </ul>
      </p>
      <p>
      We have listed some <%= link_to "suggested activities for each category", activity_categories_path %> – we hope you and your pupils will think of many others!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <h5>Getting Started</h5>
    </div>
    <div class="col-md-8">
      <p>
      To build on the work you’re already doing, <%= t('application') %> awards point for your energy-saving activities
      in the last 6 months. To record these on the site:
      </p>
      <ol>
        <li>
          sign in and visit your school’s
          <% if current_user.present? && current_user.school_admin? %>
              <%= link_to "homepage", school_path(current_user.school) %>
          <% else %>
              homepage
          <% end %>

        </li>
        <li>
          click on ‘new activity’
        </li>
        <li>
          use the drop down menus and comments boxes to record your activity
        </li>
        <li>
          click on ‘save activity’
        </li>
      </ol>
      <p>
        To enter an energy-saving activity not included in the dropdown list, select ‘other’ and put a brief description of what you did in the comments box.
      </p>
      <p>
        Return to your homepage regularly and record all your new activities, including any you have repeated.
        You will immediately be awarded points for any activities you record in <%= t('application') %>.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <h5>Generating an Energy Saving Plan</h5>
    </div>
    <div class="col-md-8">
      <p>The next stage is to use the activity lists as a starting point to generate an Energy-Saving Action Plan.
      </p>
      <p>
        Don’t forget to look at
        <% if current_user.present? && current_user.school_admin? %>
            <%= link_to "your gas and electricity usage charts", school_path(current_user.school) %>
        <% else %>
            your gas and electricity usage charts
        <% end %>
        to help you see when the most energy is being used in your school and spot opportunities for making savings.
      <p.
        Your Action Plan will include tasks for both pupils and adults, and over time you should aim for a
        balance of activities from the different categories. Don’t worry about repeating activities that you have
        already done – sometimes this is necessary to keep the energy-saving message high profile within the school!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <h5>Scoring points and receiving awards</h5>
    </div>
    <div class="col-md-8">
      <p>
        The site will automatically award points for each activity you record and display your total points on your
        homepage.
      </p>
      <p>
        To compare your score with that of other schools, <%= link_to "view the scoreboard", leaderboard_schools_path %>.
      </p>
      <p>
        Whether or not you are in the lead you will be able to see how your school improves over time; with a few new
        energy-saving activities you will soon earn more points to move up the leader table.
      </p>
      <p>
        As you use <%= t('application') %> you will also also earn awards to mark milestones in your energy-saving efforts.
      </p.
      <p>
        Don’t forget to share your successes with the whole school to
        spur them on to even greater energy efficiency
      </p>

    </div>
  </div>



</div>