<% content_for :page_title, t('common.labels.home') %>

<% if Flipper.enabled?(:new_home_page, current_user) %>
  <div class="bg-blue-very-dark text-white hero-component">
    <%= render GridComponent.new(cols: 2,
                                 classes: 'container') do |grid| %>
      <% grid.with_block classes: 'py-4' do %>
          <h2 class='text-white'>Helping schools cut energy costs and fight climate change</h2>
          <p class='small'>Save up to <strong>40%</strong> on energy bills with our unique school-specific energy management tool and education programme.</p>
          <p>
            <%= link_to t('nav.enrol'), find_out_more_campaigns_path, class: 'btn btn-success' %>
            <%= link_to t('campaigns.find_out_more.book_demo'),
                        book_demo_campaigns_path,
                        class: 'btn btn-outline-white' %>
          </p>
      <% end %>
      <%= grid.with_image 'on-screen.jpg', classes: 'right-half d-none d-md-block' %>
    <% end %>
  </div>

  <div class="container">
    <div class='p-4 m-4 text-center'>
      <h3>Are you looking to cut energy bills and take action on climate change?</h3>
      <p class='small'>We provide data insights, action prompts and educational resources to help schools develop their climate action plans, make big energy and carbon savings, and develop pupils' sustainability skills.</p>
    </div>

    <%= render GridComponent.new(cols: 4,
                                 classes: '',
                                 cell_classes: 'pb-4',
                                 component_classes: 'rounded text-center bg-blue-very-dark p-4 h-100') do |grid| %>
      <% grid.with_block do %>
        <%= render IconComponent.new(fuel_type: :electricity, style: :circle) %>
        <h4 class='text-white'>Save energy</h4>
        <h3 class='text-blue-light'>10%</h3>
        <p class='small text-blue-light'>Typical energy and carbon savings seen by schools in their first year with Energy Sparks.</p>
      <% end %>
      <% grid.with_block do %>
        <%= render IconComponent.new(name: 'school', style: :circle) %>
        <h4 class='text-white'>Primary schools</h4>
        <h3 class='text-blue-light'>£5,000</h3>
        <p class='small text-blue-light'>and 7 tonnes CO₂ - average saving in 2023/24.</p>
      <% end %>
      <% grid.with_block do %>
        <%= render IconComponent.new(name: 'school', style: :circle) %>
        <h4 class='text-white'>Secondary schools</h4>
        <h3 class='text-blue-light'>£20,000</h3>
        <p class='small text-blue-light'>and 26 tonnes CO₂ - average saving in 2023/24.</p>
      <% end %>
      <% grid.with_block do %>
        <%= render IconComponent.new(name: :recycle, style: :circle) %>
        <h4 class='text-white'>Empower pupils</h4>
        <h3 class='text-blue-light'>70%</h3>
        <p class='small text-blue-light'>Number of participating schools using Energy Sparks with their eco-team to inform impactful action.</p>
      <% end %>
    <% end %>
  </div>

<% else %>
<!-- Header -->
  <header>
    <div class="row masthead">
      <div class="col-7">
      </div>
      <div class="col-5 masthead-content">
        <div class="row pt-5">
          <div class="col">
            <h2 class='text-white'><%= t('home.title') %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col pr-5">
            <h4 class='text-white'><%= t('home.sub_title') %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-3 pt-5">
            <%= link_to t('home.enrol_your_school'), find_out_more_campaigns_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= render 'carousel' %>

  <%= render 'funnels' %>

  <%= render 'testimonial',
             quote: t('home.quote.text_html'),
             by: 'Jennie Nixon',
             title: t('home.quote.job_title'),
             location: 'Whiteways Primary School, Sheffield' %>

  <%= render 'videos' %>

  <%= render 'case_studies', case_studies: @case_studies, all_case_studies_count: @all_case_studies_count %>

  <%= render 'mailchimp' %>
<% end %>
