<% content_for :page_title, 'Home' %>

<!-- Header -->
<header>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag("masthead.png", class: "img-fluid masthead") %>
    </div>
  </div>
</header>

<div id="carousel-example-1z" class="carousel slide pt-2 pb-2" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active text-center p-4">
      <div class="row">
        <div class="col-1 offset-md-2"><i class="fas fa-coins fa-4x"></i></div>
        <div class="col-6"><h2>Help your school save energy, money and prevent climate change.</h2></div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row">
        <div class="col-1 offset-md-2"><i class="fas fa-chart-line fa-4x"></i></div>
        <div class="col-6"><h2>Show your school how much and when you are using energy.</h2> </div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row">
        <div class="col-1 offset-md-2"><i class="fas fa-bell-exclamation fa-4x"></i></div>
        <div class="col-6"><h4>Get tailored energy saving advice designed just for your school and automated alerts to let you know when your energy use changes.</h4></div>
      </div>
    </div>
    <div class="carousel-item text-center p-4">
      <div class="row">
        <div class="col-1 offset-md-2"><i class="fas fa-lightbulb-on fa-4x"></i></div>
        <div class="col-6"><h3>Share energy saving ideas, compare energy use and compete against other schools.</h3></div>
      </div>
    </div>
  </div>
</div>

<div class="funnels mt-3">
  <div class="application container">
    <div class="card-deck pt-5">
      <div class="card">
        <div class="card-image">
        <%= image_tag("funnel-manager.png", class: "img-fluid funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">For school management&hellip;</h4>
          <p class="card-text">Online charting and analysis of your school's energy use using up to date smart meter data. Notifications of changes in energy consumption.</p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Energy Sparks for Managers', for_teachers_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <%= image_tag("funnel-teachers.png", class: "img-fluid  funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">For teachers &hellip;</h4>
          <p class="card-text">Eco-team and curriculum linked energy education and saving activities. Energy related lesson plans and downloadable resources.</p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Energy Sparks for Teachers', for_teachers_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <%= image_tag("funnel-pupils.png", class: "img-fluid  funnel-image") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">For pupils &hellip;</h4>
          <p class="card-text">Provides lots of exciting activities for eco-teams to follow. Opportunities to compete with other local schools to see who can save the most energy.</p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Energy Sparks for Pupils', for_pupils_path, class: 'btn btn-outline-dark btn-sm rounded-pill' %>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render 'testimonial' %>
