<% content_for :page_title, 'Home' %>

<!-- Header -->
<header>
  <div class="row masthead">
    <div class="col-7">
    </div>
    <div class="col-5 masthead-content">
      <div class="row pt-5">
        <div class="col">
        <p class="headline-text"><%= t('home.title') %></p>
      </div>
      </div>
      <div class="row">
        <div class="col pr-5">
        <p class="headline-sub-text"><%= t('home.sub_title') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-3 pt-5">
        <%= link_to t('home.enrol_your_school'), find_out_more_campaigns_path, class: 'btn bg-positive' %>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render 'carousel' %>

<%= render 'funnels' %>

<%= render 'testimonial',
           quote: t('home.quote.text_html'),
           by: 'Jennie Nixon',
           title: t('home.quote.job_title'),
           location: 'Whiteways Primary School, Sheffield' %>

<%= render 'videos' %>

<%= render 'case_studies', case_studies: @case_studies, all_case_studies_count: @all_case_studies_count %>

<%= render 'mailchimp' %>
