<% content_for :page_title, t('common.labels.home') %>

<% if Flipper.enabled?(:new_home_page, current_user) %>
  <div class="theme theme-dark border-top border-blue-dark">
    <%= render Layout::GridComponent.new(cols: 2, classes: 'container') do |grid| %>
      <% grid.with_feature_card main: true, theme: :dark, classes: 'py-4 pr-4' do |feature| %>
        <%= feature.with_header title: t('home.feature.header') %>
        <%= feature.with_description(classes: 'text-blue-light') { t('home.feature.description_html') } %>
        <%= feature.with_button t('nav.enrol'), find_out_more_campaigns_path, style: :success %>
        <%= feature.with_button t('home.buttons.book_a_demo'),
                                book_demo_campaigns_path,
                                style: :white, outline: true %>
      <% end %>
      <%= grid.with_image src: 'on-screen.jpg', stretch: :right, width: '50vw', collapse: true %>
    <% end %>
  </div>

  <div class="container">
    <%= render Layout::Cards::SectionHeaderComponent.new(classes: 'm-4 pt-4') do |section_header| %>
      <%= section_header.with_header title: t('home.stats.header') %>
      <%= section_header.with_description { t('home.stats.description') } %>
    <% end %>

    <%= render Layout::GridComponent.new(cols: 4, classes: 'pb-4 mb-4',
                                         cell_classes: 'mb-4') do |grid| %>
      <% grid.with_stats_card do |card| %>
        <%= card.with_icon fuel_type: :electricity, style: :circle %>
        <%= card.with_header title: t('home.stats.card_1.header') %>
        <%= card.with_figure t('home.stats.card_1.figure') %>
        <%= card.with_subtext { t('home.stats.card_1.subtext') } %>
      <% end %>
      <% grid.with_stats_card do |card| %>
        <%= card.with_icon name: 'school', style: :circle, classes: 'text-info' %>
        <%= card.with_header title: t('home.stats.card_2.header') %>
        <%= card.with_figure t('home.stats.card_2.figure') %>
        <%= card.with_subtext { t('home.stats.card_2.subtext') } %>
      <% end %>
      <% grid.with_stats_card do |card| %>
        <%= card.with_icon name: 'school', style: :circle, classes: 'text-success' %>
        <%= card.with_header title: t('home.stats.card_3.header') %>
        <%= card.with_figure t('home.stats.card_3.figure') %>
        <%= card.with_subtext { t('home.stats.card_3.subtext') } %>
      <% end %>
      <% grid.with_stats_card do |card| %>
        <%= card.with_icon name: 'book-open-reader', style: :circle, classes: 'text-yellow-light' %>
        <%= card.with_header title: t('home.stats.card_4.header') %>
        <%= card.with_figure t('home.stats.card_4.figure') %>
        <%= card.with_subtext { t('home.stats.card_4.subtext') } %>
      <% end %>
    <% end %>

    <%= render Layout::CarouselComponent.new(show_markers: false,
                                             id: 'testimonials',
                                             theme: :accent,
                                             classes: 'rounded-xl p-4 mb-4',
                                             show_arrows: :side) do |carousel| %>
      <%# Until we  have more things to go in the carousel, do this for demo purposes %>
      <% %w[funnel-pupils.png funnel-teachers.png].each do |pic| %>
        <%= carousel.with_grid(cols: 2, cell_classes: 'my-auto') do |grid| %>
          <%= grid.with_image(src: pic, classes: 'rounded-xl fit') %>
          <%= grid.with_testimonial_card do |testimonial| %>
            <%= testimonial.with_header(title: t('home.testimonials.card_1.title')) %>
            <%= testimonial.with_quote { "#{t('home.testimonials.card_1.quote')}." } %>
            <%= testimonial.with_source(classes: 'text-blue-very-dark') do %>
              <strong><%= t('home.testimonials.card_1.source.name') %></strong><br>
                <%= t('home.testimonials.card_1.source.school') %>
            <% end %>
            <%= testimonial.with_button(t('home.testimonials.read_case_study'), 'case-studies/15', style: :primary) %>
            <%= testimonial.with_button(t('home.testimonials.more_case_studies'), case_studies_path,
                                        outline_style: :transparent) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Layout::Cards::SectionHeaderComponent.new(classes: 'm-4 pt-4') do |section_header| %>
      <%= section_header.with_header title: t('home.features.header') %>
      <%= section_header.with_description { t('home.features.description') } %>
    <% end %>

    <%= render Layout::GridComponent.new(
          cols: 3, classes: '',
          cell_classes: 'mb-4',
          component_classes: 'rounded-xl'
        ) do |grid| %>
      <% I18n.t('home.features.cards').each do |card| %>
        <% grid.with_statement_card(theme: :dark) do |statement| %>
          <%= statement.with_badge(card[:badge]) %>
          <%= statement.with_statement { card[:statement] } %>
        <% end %>
      <% end %>
    <% end %>

    <div class='pb-4 mb-4 text-center'>
      <%= render Elements::ButtonComponent.new(
            t('home.buttons.enrol_your_school'),
            enrol_path, style: :primary, classes: 'mb-4 mr-2'
          ) %>
      <%= render Elements::ButtonComponent.new(
            t('home.buttons.book_a_demo'),
            book_demo_campaigns_path, style: :secondary, classes: 'mb-4'
          ) %>
    </div>

    <%= render Layout::GridComponent.new(
          cols: 2,
          theme: :light,
          classes: 'rounded-xl p-4 mb-4 mt-4',
          cell_classes: 'my-auto'
        ) do |grid| %>
      <%= grid.with_feature_card(classes: 'mb-4') do |feature| %>
        <%= feature.with_header(title: t('home.general.title'), level: 3) %>
        <%= feature.with_description { t('home.general.description_html', count: School.visible.count) } %>
        <%= feature.with_button(t('home.buttons.find_out_more'), find_out_more_path, style: :primary) %>
      <% end %>
      <%= grid.with_image(src: 'pupils-jumping.jpg', classes: 'rounded-xl bg-white') %>
    <% end %>

    <%= render Layout::Cards::SectionHeaderComponent.new(classes: 'm-4 pt-4') do |section_header| %>
      <%= section_header.with_header title: t('home.organisations.header') %>
      <%= section_header.with_description { t('home.organisations.description') } %>
    <% end %>

    <%= render Layout::GridComponent.new(
          cols: 3,
          classes: 'mb-4 mt-4',
          cell_classes: 'mb-4',
          component_classes: 'h-100'
        ) do |grid| %>
      <%= grid.with_card do |card| %>
        <%= card.with_image(src: 'funnel-pupils.png', classes: 'rounded-top-xl') %>
        <%= card.with_feature_card(theme: :dark, classes: 'p-4 rounded-bottom-xl') do |feature| %>
          <%= feature.with_header(title: t('home.organisations.cards.school.title')) %>
          <%= feature.with_description { t('home.organisations.cards.school.description') } %>
          <%= feature.with_link(href: for_schools_path) { t('common.labels.learn_more') } %>
        <% end %>
      <% end %>

      <%= grid.with_card do |card| %>
        <%= card.with_image(src: 'funnel-teachers.png', classes: 'rounded-top-xl') %>
        <%= card.with_feature_card(theme: :dark, classes: 'p-4 rounded-bottom-xl') do |feature| %>
          <%= feature.with_header(title: t('home.organisations.cards.multi_academy.title')) %>
          <%= feature.with_description { t('home.organisations.cards.multi_academy.description') } %>
          <%= feature.with_link(href: for_multi_academy_trusts_path) { t('common.labels.learn_more') } %>
        <% end %>
      <% end %>

      <%= grid.with_card do |card| %>
        <%= card.with_image(src: 'laptop.jpg', classes: 'rounded-top-xl') %>
        <%= card.with_feature_card(theme: :dark, classes: 'rounded-bottom-xl') do |feature| %>
          <%= feature.with_header(title: t('home.organisations.cards.local_authority.title')) %>
          <%= feature.with_description(classes: '') { t('home.organisations.cards.local_authority.description') } %>
          <%= feature.with_link(href: for_local_authorities_path) { t('common.labels.learn_more') } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
<!-- Header -->
  <header>
    <div class="row masthead">
      <div class="col-7">
      </div>
      <div class="col-5 masthead-content">
        <div class="row pt-5">
          <div class="col">
            <h2 class='text-white'><%= t('home.title') %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col pr-5">
            <h4 class='text-white'><%= t('home.sub_title') %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-3 pt-5">
            <%= link_to t('home.buttons.find_out_more'), find_out_more_campaigns_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= render 'carousel' %>

  <%= render 'funnels' %>

  <%= render 'testimonial',
             quote: t('home.quote.text_html'),
             by: 'Jennie Nixon',
             title: t('home.quote.job_title'),
             location: 'Whiteways Primary School, Sheffield' %>

  <%= render 'videos' %>

  <%= render 'case_studies', case_studies: @case_studies, all_case_studies_count: @all_case_studies_count %>

  <%= render 'mailchimp' %>
<% end %>
