<% content_for :page_title, 'Home' %>

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag("logo-transparent.png", class: "img-fluid") %>
        <div class="h1">Helping our schools become more energy efficient</div>
      </div>
    </div>
  </div>
</header>

<section class="padded-section" id="participating">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Participating Schools</h2>
        <hr class="bulb-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3><%= link_to pluralize(@active_schools, "school"), schools_path %> currently enrolled</h3>
        <p>Find out more about <%= link_to "how to enrol", enrol_path %></p>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="padded-section highlight" id="get-involved">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Get Involved</h2>
        <hr class="bulb-light">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p>
          <%= t('application') %> helps make school energy usage data more accessible for everyone.
        </p>
        <p>
          Empower your pupils, school staff and parents to take action to make your school more energy efficient.
        </p>
        <p>
          See school specific analysis which presents both short and long-term energy saving opportunities.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Discover energy related activities for primary and secondary pupils with supporting online resources that guide pupils through an energy saving programme.
        </p>
        <p>
          <%= link_to "Contact us", contact_path %> to learn how you can get involved.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section class="padded-section" id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Partners</h2>
        <hr class="bulb-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          Energy Sparks is a product of Transition Bath. Significant ongoing funding is being provided by the Department of Business, Energy and Industrial Strategy.
          We are currently working with partners at Bath and North East Somerset Council, Somerset Council, Sheffield City Council and Oxfordshire County Council.
        </p>
        <p>
          Additional sponsorship and support has been provided by Bath:Hacked, the Open Data Institute, Bath &amp; West Community Energy, the Naturesave Trust and the OVO Foundation.
        </p>
      </div>
    </div>
  </div>
</section>

