<% content_for :page_title, 'Home' %>

<!-- Header -->
<header>
  <div class="row masthead">
    <div class="col-7">
    </div>
    <div class="col-5 masthead-content">
      <div class="row pt-5">
        <div class="col">
        <p class="headline-text">We help schools become more energy efficient and fight climate change.</p>
      </div>
      </div>
      <div class="row">
        <div class="col pr-5">
        <p class="headline-sub-text">Energy Sparks is an online, school-specific energy analysis tool &amp; energy education programme.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-3 pt-5">
        <%= link_to sanitize("Enrol your school"), enrol_path, class: 'btn bg-positive' %>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render 'carousel' %>

<%= render 'funnels' %>

<%= render 'testimonial',
  quote: 'Engaging with Energy Sparks has been a really worthwhile experience. Not only has the school saved money, the children have become more aware of the ways that they can help to reduce energy use&hellip;',
  by: 'Jennie Nixon',
  title: 'Head of School',
  location: 'Whiteways Primary School, Sheffield'
%>

<%= render 'videos' %>

<%= render 'case_studies', case_studies: @case_studies, all_case_studies_count: @all_case_studies_count %>

<%= render 'mailchimp' %>
