<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/page/head' %>
  </head>
  <body>
    <div class='fixed-top'>
      <nav class='navbar navbar-top'>
        <div class="container">
          <%= navigation_image_link %>
          <%= render 'shared/page/navigation/top_nav/on_test' %>

          <div class='<%= order_expand_class %>'>
            <%= render 'shared/page/navigation/top_nav/locale_switcher' %>
          </div>
        </div>
      </nav>
      <nav class='navbar navbar-second adult'></nav>
    </div>
    <div class='application container navigation-margin'>
      <div>
        <h1><%= t 'maintenance.title' %></h1>
        <p><%= t 'maintenance.unavailable' %>.</p>
        <p><%= t 'maintenance.progress' %>.</p>
      </div>
    </div>
    <footer>
      <%= render 'shared/page/footer/second' %>
    </footer>

    <%= if Rails.env.production? && @analytics_code.present?
          render 'shared/page/google_analytics', analytics_code: @analytics_code
        end %>
  </body>
</html>
