<% content_for :page_title, t('marketing.pricing.title') %>

<div class="application container header-fix">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4"><strong><%= t('marketing.pricing.title') %></strong></h1>
      </div>
    </div>
  </div>

  <div class="row mb-4">
      <div class="col-md-4">
        <div class="card pr-1 h-100">
          <div class="card-body text-center">
            <h3 class="card-title"><%= t('marketing.pricing.state_schools.title') %></h3>
            <h4><%= t('marketing.pricing.state_schools.price') %></h4>
            <small>
              <%= t('marketing.pricing.note') %>
            </small>
          </div>
          <div class="card-footer" style="border-top: none; background-color: white;">
            <div class="d-flex justify-content-end cta">
              <%= link_to t('enrol.enrol_now'), enrol_our_school_path, class: 'btn btn-lg bg-positive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card pr-1 h-100">
          <div class="card-body text-center">
            <h3 class="card-title"><%= t('marketing.pricing.independent_schools.title') %></h3>
            <h4><%= t('marketing.pricing.independent_schools.price') %></h4>
            <small>
              <%= t('marketing.pricing.note') %>
            </small>
          </div>
          <div class="card-footer" style="border-top: none; background-color: white;">
            <div class="d-flex justify-content-end cta">
              <%= link_to t('enrol.enrol_now'), enrol_our_school_path, class: 'btn btn-lg bg-positive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card pr-1 h-100">
          <div class="card-body text-center">
            <h3 class="card-title"><%= t('marketing.pricing.groups.title') %></h3>
            <h4><%= t('marketing.pricing.groups.price') %></h4>
            <small>
              <%= t('marketing.pricing.note') %>
            </small>
          </div>
          <div class="card-footer" style="border-top: none; background-color: white;">
            <div class="d-flex justify-content-end cta">
              <%= render 'home/marketing/book_demo_embed', label: t('marketing.book_a_demo') %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3><%= t('marketing.pricing.free_places.title') %></h3>
      <%= t('marketing.pricing.free_places.detail_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3><%= t('marketing.pricing.features.title') %></h3>
      <%= t('marketing.pricing.features.detail_html') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3><%= t('marketing.pricing.optional.title') %></h3>
      <table class="table">
        <% %i[workshops virtual_audits in_person_audits private_tool metering].each do |service| %>
          <tr>
            <td><%= t("marketing.pricing.optional.#{service}.title") %></td>
            <td>
              <% if I18n.t("marketing.pricing.optional.#{service}").key?(:price_html) %>
                <%= t("marketing.pricing.optional.#{service}.price_html") %>
              <% else %>
                <%= t("marketing.pricing.optional.#{service}.price") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
