<% content_for :page_title, t('school_statistics.page_title') %>

<div class="application container">
  <div class="row pt-4">
    <div class="col">
      <h1><%= t('school_statistics.title') %></h1>
      <p><%= t('school_statistics.introduction') %>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2><%= t('school_statistics.school_summary') %></h2>
      <table class="table table-bordered table-sm table-sorted">
        <thead>
          <tr>
            <th><%= t('school_statistics.school_group') %></th>
            <th><%= t('school_statistics.school_name') %></th>
            <th><%= t('school_statistics.postcode') %></th>
            <th><%= t('school_statistics.pupil_numbers') %></th>
            <th><%= t('school_statistics.school_type') %></th>
            <th class="text-right"><%= t('school_statistics.percent_free_school_meals') %></th>
          </tr>
        </thead>
        <tbody>
          <% @school_groups.each do |school_group| %>
            <% school_group.schools.visible.by_name.each do |school| %>
              <tr>
                <td><%= link_to school_group.name, school_group_path(school_group) %></td>
                <td><%= link_to school.name, school_path(school) %></td>
                <td><%= school.postcode %></td>
                <td><%= school.number_of_pupils %></td>
                <td><%= t('common.school_types.' + school.school_type) %></td>
                <td class="text-right"><%= school.percentage_free_school_meals %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
