<% content_for :page_title, t('school_statistics.page_title') %>

<div class="application container">
  <div class="row padded-row">
    <div class="col">
      <h1><%= t('school_statistics.title') %></h1>
      <p><%= t('school_statistics.introduction') %></p>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link disabled" href="#"><%= t('school_statistics.jump_to') %></a>
        </li>
        <% @school_groups.each do |school_group| %>
          <li class="nav-item">
            <%= link_to "#{school_group.name}", "##{school_group.name.parameterize}", class: 'nav-link' %>
          </li>
        <% end %>
      </ul>

      <% @school_groups.each do |school_group| %>
        <div class="nav-anchor">
          <a name="<%= school_group.name.parameterize %>"> </a>
          <h3><%= school_group.name %></h3>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-sorted">
            <thead>
              <tr>
                <th colspan="3" class="text-center"><%= t('school_statistics.school') %></th>
                <th colspan="4" class="text-center"><%= t('school_statistics.meter_count_on_site') %></th>
                <th colspan="4"></th>
              </tr>
              <tr>
                <th class='fixed-width-150'><%= t('school_statistics.school_name') %></th>
                <th><%= t('school_statistics.urn_seed') %></th>
                <th><%= t('school_statistics.postcode') %></th>
                <th><%= t('school_statistics.gas') %></th>
                <th><%= t('school_statistics.electricity') %></th>
                <th><%= t('school_statistics.solar') %></th>
                <th><%= t('school_statistics.solar_export') %></th>
                <th><%= t('school_statistics.floor_area') %></th>
                <th><%= t('school_statistics.pupil_number') %></th>
                <th><%= t('school_statistics.percent_free_school_meals') %></th>
                <th><%= t('school_statistics.activities_completed') %></th>
                <th><%= t('school_statistics.interventions') %></th>
              </tr>
            </thead>
            <tbody>
              <% school_group.schools.visible.each do |school| %>
                <% if can?(:show, school) %>
                  <tr scope="row">
                    <td class='fixed-width-150'><%= link_to school.name, school %></td>
                    <td><%= school.urn %></td>
                    <td><%= school.postcode %></td>
                    <td><%= school.meters.gas.count %></td>
                    <td><%= school.meters.electricity.count %></td>
                    <td><%= school.meters.solar_pv.count %></td>
                    <td><%= school.meters.exported_solar_pv.count %></td>
                    <td><%= school.floor_area %></td>
                    <td><%= school.number_of_pupils %></td>
                    <td><%= school.percentage_free_school_meals %></td>
                    <td><%= link_to school.activities.count, school_activities_path(school) %></td>
                    <td><%= link_to school.observations.intervention.count, school_interventions_path(school) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
