<% content_for :page_title do %>
    Badges
<% end %>
<div class="application container">

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="intro">Points and awards</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
    </div>
    <div class="col-md-8">
      <p>
        <%= t('application') %> helps schools celebrate their efforts in becoming more energy efficient in two ways.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <h5>Points</h5>
    </div>
    <div class="col-md-8">
      <p>
        By recording your energy saving activities you can score points.
        Your current score is always displayed on
        <% if current_user.present? && current_user.school_admin? %>
            <%= link_to "your school homepage", school_path(current_user.school) %>
        <% else %>
            your school homepage
        <% end %>
        You can also compare your scores with other <%= t('application') %> users on our <%= link_to "public scoreboard", leaderboard_schools_path %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <h5>Awards</h5>
    </div>
    <div class="col-md-8">
      <p>
        As you use the <%= t('application') %> and record more activities you will also receive awards.
        Awards help mark milestones and celebrate other aspects of your journey to become more energy efficient.
      </p>
      <p>
        You can use awards to help motivate staff and pupils to take part in activities.
      </p>
      <p>
        Your most recent award is always displayed on
        <% if current_user.present? && current_user.school_admin? %>
            <%= link_to "your school homepage", school_path(current_user.school) %>.
        <% else %>
            your school homepage.
        <% end %>
        You can also view a
        <% if current_user.present? && current_user.school_admin? %>
            <%= link_to "list of current awards", awards_school_path(current_user.school) %>
        <% else %>
            list of awards you can receive.
        <% end %>
      </p>
    </div>
  </div>
</div>