<% content_for :page_title do %>
    Our Team
<% end %>
<div class="application container">
  <div class="row padded-row">
    <div class="col-md-9">
      <h1 id="team">Our Team</h1>

      <p>
        <%= t('application') %> is a volunteer run project. The following people have either played a significant role
        in developing the initial application and/or continue to be involved in the operation of the service.
      </p>
      <p>
        We also would like to thank Resource Futures for their advice and support during the early stages of the
        project.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-body">
          <%= image_tag("Philip_Haile.jpg", class: "card-img-top") %>
          <h4 class="card-title">Philip Haile</h4>
          <p class="card-text">Project Lead, Transition Bath</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-body">
          <%= image_tag("Claudia_Towner.jpg", class: "card-img-top") %>
          <h4 class="card-title">Claudia Towner</h4>
          <p class="card-text">Project Manager & School Liaison</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-body">
          <%= image_tag("Leigh_Dodds.jpg", class: "card-img-top") %>
          <h4 class="card-title">Leigh Dodds</h4>
          <p class="card-text">Technical Lead, Bath: Hacked</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-body">
          <%= image_tag("female-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Micaela Basford</h4>
          <p class="card-text">Council Liaison, B&NES</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-body">
          <%= image_tag("female-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Felicity Burfoot</h4>
          <p class="card-text">Designer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-body">
          <%= image_tag("male-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Dan Bryan</h4>
          <p class="card-text">Developer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-9">
      <h1 id="partners">Project Partners</h1>

      <p>
        The <%= t('application') %> project is a partnership between a number of local and national organisations each of whom
        have provided funding or other resources to support the development of the service.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://transitionbath.org/">
            <%= image_tag("logos/transition-bath.png", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://bathhacked.org/">
            <%= image_tag("logos/bath-hacked.png", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
 </div>

 <div class="row">
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://theodi.org/">
            <%= image_tag("logos/theodi.png", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
   <div class="col-md-4">
     <div class="card bio">
       <div class="card-body">
         <a href="https://www.ovoenergy.com/">
           <%= image_tag("logos/ovo.jpg", class: "card-img-top", style: "width: 200px;") %>
         </a>
       </div>
     </div>
   </div>
 </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://www.bwce.coop/">
            <%= image_tag("logos/bwce.jpg", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://www.naturesave.co.uk/the-naturesave-trust/">
            <%= image_tag("logos/nature-save.jpg", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
  </div>

 <div class="row">
   <div class="col-md-4">
     <div class="card bio">
       <div class="card-body">
         <a href="http://www.bathnes.gov.uk/">
           <%= image_tag("logos/banes.png", class: "card-img-top", style: "width: 200px;") %>
         </a>
       </div>
     </div>
   </div>
 </div>
</div>

</div>
