<% content_for :page_title, 'Our Team' %>

<div class="application container extra-padding">

  <h1 id="background">Background</h1>
  <p>Energy Sparks is a product of <a href="http://transitionbath.org/"><%= image_tag("logos/transition-bath.png", class: "card-img-top", style: "width: 200px;", alt: 'Transition Bath') %></a>, a registered charity in England and Wales, registration 1139853 and a company limited by guarantee, registration 6898132.</p>

  <h1 id="team">Our Team</h1>
  <div class="col-md-10">
    <div class="row">
      <% @team_members.each do |team_member| %>
        <div class="col col-md-6 col-sm-12 col-lg-3">
          <div class="card bio">
            <div class="card-body">
              <% if team_member.image.present? %>
                <%= image_tag team_member.image %>
              <% else %>
                <%= image_tag("stay-up-to-date/newsletter-placeholder.png", class: 'card-img-top') %>
              <% end %>
              <h4 class="card-title"><%= team_member.title %></h4>
              <p class="card-text"><%= team_member.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <p>In-school support for Sheffield schools provided by School Energy Efficiency.</p>
    </div>
    <div class="row padded-row">
      <a href="http://www.schoolenergyefficiency.co.uk/">
        <%= image_tag("School_Energy_Efficiency.png") %>
      </a>
    </div>
    <div class="row">
      <p>User research and testing provided by Paper.</p>
    </div>
    <div class="row padded-row">
      <a href="https://paper.studio">
        <svg xmlns="http://www.w3.org/2000/svg" width="150"  viewBox="0 0 91 42" ><title>  PaperLogo</title><desc>The Paper Logo</desc><g style="fill-rule:evenodd;fill:none"><g id="LogoFill" fill="#102FE5"><path d="M13.3 11.4L18.6 11.4C19.4 11.4 20.1 11.5 20.8 11.7 21.4 11.9 21.9 12.2 22.3 12.6 22.8 13 23.1 13.5 23.3 14.1 23.6 14.6 23.7 15.2 23.7 15.9L23.7 15.9C23.7 16.7 23.5 17.4 23.3 17.9 23 18.5 22.6 19 22.1 19.4 21.6 19.8 21.1 20.1 20.4 20.2 19.8 20.4 19.1 20.5 18.4 20.5L16.2 20.5 16.2 24.5 13.3 24.5 13.3 11.4ZM18.5 18C19.2 18 19.7 17.8 20.1 17.4 20.5 17 20.7 16.6 20.7 16L20.7 16C20.7 15.3 20.5 14.8 20.1 14.5 19.7 14.1 19.1 14 18.4 14L16.2 14 16.2 18 18.5 18Z"/><path d="M29.5 11.3L32.2 11.3 37.8 24.5 34.8 24.5 33.6 21.5 28 21.5 26.8 24.5 23.9 24.5 29.5 11.3ZM32.5 19L30.8 14.7 29 19 32.5 19Z"/><path d="M40.4 11.4L45.7 11.4C46.5 11.4 47.2 11.5 47.8 11.7 48.5 11.9 49 12.2 49.4 12.6 49.9 13 50.2 13.5 50.4 14.1 50.7 14.6 50.8 15.2 50.8 15.9L50.8 15.9C50.8 16.7 50.6 17.4 50.4 17.9 50.1 18.5 49.7 19 49.2 19.4 48.7 19.8 48.2 20.1 47.5 20.2 46.9 20.4 46.2 20.5 45.5 20.5L43.3 20.5 43.3 24.5 40.4 24.5 40.4 11.4ZM45.5 18C46.3 18 46.8 17.8 47.2 17.4 47.6 17 47.8 16.6 47.8 16L47.8 16C47.8 15.3 47.6 14.8 47.2 14.5 46.8 14.1 46.2 14 45.5 14L43.3 14 43.3 18 45.5 18Z"/><polygon points="53.5 11.4 63.4 11.4 63.4 13.9 56.3 13.9 56.3 16.6 62.5 16.6 62.5 19.2 56.3 19.2 56.3 21.9 63.4 21.9 63.4 24.5 53.5 24.5"/><path d="M66.3 11.4L72.3 11.4C74 11.4 75.2 11.8 76.1 12.7 76.9 13.5 77.3 14.5 77.3 15.7L77.3 15.7C77.3 16.8 77 17.7 76.5 18.3 76 19 75.3 19.5 74.4 19.8L77.7 24.5 74.3 24.5 71.5 20.3 71.4 20.3 69.2 20.3 69.2 24.5 66.3 24.5 66.3 11.4ZM72.1 17.7C72.8 17.7 73.4 17.6 73.8 17.2 74.1 16.9 74.3 16.5 74.3 15.9L74.3 15.9C74.3 15.2 74.1 14.8 73.7 14.5 73.3 14.1 72.8 14 72.1 14L69.2 14 69.2 17.7 72.1 17.7Z"/><path d="M3.9 32.4L86.8 32.4 86.8 3.8 3.9 3.8 3.9 32.4ZM90.6 0L0 0 0 41.9 3.9 41.9 3.9 36.2 90.6 36.2 90.6 0Z"/></g></g></svg>
      </a>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-9">
      <h1 id="partners">Project Partners</h1>
      <p>
        Energy Sparks has been supported by a number of organisations who have provided funding or support to the project.
      </p>
    </div>
  </div>

  <div class="row align-items-center">
    <% @partners.each do |partner| %>
      <div class="col-md-4 col-lg-3">
        <div class="card bio">
          <div class="card-body">
            <a href="<%= partner.url || '#' %>">
              <%= image_tag partner.image, class: "card-img-top" %>
              <%#= image_tag("logos/bath-hacked.png", class: "card-img-top", style: "width: 200px;") %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
