<% content_for :page_title do %>
    Our Team
<% end %>

<div class="application container">

  <h1 id="team">Our Team</h1>
  <div class="col-md-10">
    <div class="row">
      <div class="col">
        <div class="card bio">
          <div class="card-body">
            <%= image_tag("team/ph.jpg", class: "card-img-top") %>
            <h4 class="card-title">Philip Haile</h4>
            <p class="card-text">Project Lead, Transition Bath</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bio">
          <div class="card-body">
            <%= image_tag("team/ct.jpg", class: "card-img-top") %>
            <h4 class="card-title">Claudia Towner</h4>
            <p class="card-text">Project Manager & School Liaison</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bio">
          <div class="card-body">
            <%= image_tag("team/jj.jpg", class: "card-img-top") %>
            <h4 class="card-title">James Jefferies</h4>
            <p class="card-text">Technologist</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bio">
          <div class="card-body">
            <%= image_tag("team/ja.jpg", class: "card-img-top") %>
            <h4 class="card-title">James Almond</h4>
            <p class="card-text">Technologist</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p>In-school support for Sheffield schools provided by School Energy Efficiency.</p>
    </div>
    <div class="row padded-row">
      <%= image_tag("School_Energy_Efficiency.png") %>
    </div>
    <div class="row">
      <p>User research and testing provided by Paper studio.</p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-9">
      <h1 id="partners">Project Partners</h1>

      <p>
        The <%= t('application') %> project is a partnership between a number of local and national organisations each of whom
        have provided funding or other resources to support the development of the service.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://transitionbath.org/">
            <%= image_tag("logos/transition-bath.png", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://bathhacked.org/">
            <%= image_tag("logos/bath-hacked.png", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
 </div>

 <div class="row">
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://theodi.org/">
            <%= image_tag("logos/theodi.png", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
   <div class="col-md-4">
     <div class="card bio">
       <div class="card-body">
         <a href="https://www.ovoenergy.com/">
           <%= image_tag("logos/ovo.jpg", class: "card-img-top", style: "width: 200px;") %>
         </a>
       </div>
     </div>
   </div>
 </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://www.bwce.coop/">
            <%= image_tag("logos/bwce.jpg", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bio">
        <div class="card-body">
          <a href="http://www.naturesave.co.uk/the-naturesave-trust/">
            <%= image_tag("logos/nature-save.jpg", class: "card-img-top", style: "width: 200px;") %>
          </a>
        </div>
      </div>
    </div>
  </div>

 <div class="row">
   <div class="col-md-4">
     <div class="card bio">
       <div class="card-body">
         <a href="http://www.bathnes.gov.uk/">
           <%= image_tag("logos/banes.png", class: "card-img-top", style: "width: 200px;") %>
         </a>
       </div>
     </div>
   </div>
 </div>
</div>

</div>
