<% content_for :page_title do %>
    Our Team
<% end %>
<div class="application container">
  <div class="row">
    <div class="col-md-9">
      <h1 id="team">Our Team</h1>

      <p>
        EnergySparks is a volunteer run project. However the following people have either played a significant role
        in developing the initial application and/or continue to be involved in the operation of the service.
      </p>
      <p>
        We want to thank all members of the local community for their contributions to the project
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("male-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Philip Haile</h4>
          <p class="card-text">Project Lead, Transition Bath</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("Leigh_Dodds.jpg", class: "card-img-top") %>
          <h4 class="card-title">Leigh Dodds</h4>
          <p class="card-text">Technical Lead, Bath: Hacked</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("female-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Micaela Basford</h4>
          <p class="card-text">Council Liaison, B&NES</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("female-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Felicity Burfoot</h4>
          <p class="card-text">Designer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("Sheila_Gundry.jpg", class: "card-img-top") %>
          <h4 class="card-title">Sheila Gundry</h4>
          <p class="card-text">Education Manager, Resource Futures</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("Helen_Peake.jpg", class: "card-img-top") %>
          <h4 class="card-title">Helen Peake</h4>
          <p class="card-text">Education Officer, Resource Futures</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("male-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Dan Bryan</h4>
          <p class="card-text">Developer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <div class="card-block">
          <%= image_tag("male-silhouette.jpg", class: "card-img-top") %>
          <h4 class="card-title">Matt Helsby</h4>
          <p class="card-text">Developer</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-9">
      <h1 id="partners">Project Partners</h1>

      <p>
        The EnergySparks project is a partnership between a number of local and national organisations each of whom
        have provided funding or other resources to support the development of the service.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <a href="http://transitionbath.org/">
          <%= image_tag("logos/transition-bath.png", class: "card-img-top", style: "width: 200px;") %>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <a href="http://bathhacked.org/">
          <%= image_tag("logos/bath-hacked.png", class: "card-img-top", style: "width: 200px;") %>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <a href="http://theodi.org/">
          <%= image_tag("logos/theodi.png", class: "card-img-top", style: "width: 200px;") %>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bio">
        <a href="http://www.bathnes.gov.uk/">
          <%= image_tag("logos/banes.png", class: "card-img-top", style: "width: 200px;") %>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bio">
        <a href="http://www.resourcefutures.co.uk/">
          <%= image_tag("logos/resource-futures.png", class: "card-img-top", style: "width: 200px;") %>
        </a>
      </div>
    </div>
  </div>


</div>
