<% content_for :page_title, 'Our Team' %>

<div class="application container extra-padding">

  <h1 id="background">Background</h1>
  <p>Energy Sparks is a project of <a href="http://transitionbath.org/"><%= image_tag("logos/transition-bath.png", class: "card-img-top", style: "width: 200px;", alt: 'Transition Bath') %></a>, a registered charity in England and Wales, registration 1139853 and a company limited by guarantee, registration 6898132.</p>

  <h1 id="team">Our Team</h1>
  <h2>Staff</h2>

  <% @staff.each do |team_member| %>
    <%= render 'team_member', team_member: team_member %>
  <% end %>

  <h2>Consultants</h2>
  <% @consultants.each do |team_member| %>
    <%= render 'team_member', team_member: team_member %>
  <% end %>

  <h2>Trustees</h2>
  <% @trustees.each do |team_member| %>
    <%= render 'team_member', team_member: team_member %>
  <% end %>

  <div class="row padded-row">
    <div class="col-md-9">
      <h1 id="partners">Project Partners</h1>
      <p>
        Energy Sparks has been supported by a number of organisations who have provided funding or support to the project.
      </p>
    </div>
  </div>

  <div class="row align-items-center">
    <% @partners.each do |partner| %>
      <div class="col-md-4 col-lg-3">
        <div class="card bio">
          <div class="card-body">
            <a href="<%= partner.url || '#' %>">
              <%= image_tag partner.image, class: "card-img-top" %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
