<% content_for :page_title, t('team.background.title') %>

<div class="application container extra-padding">

  <h1 id="background"><%= t('team.background.title') %></h1>
  <p><%= t('team.background.content') %>.</p>

  <h1 id="team"><%= t('team.our_team.title') %></h1>
  <h2><%= t('team.our_team.staff') %></h2>

  <% @staff.each do |team_member| %>
    <%= render 'team_member', team_member: team_member %>
  <% end %>

  <h2><%= t('team.our_team.consultants') %></h2>
  <% @consultants.each do |team_member| %>
    <%= render 'team_member', team_member: team_member %>
  <% end %>

  <h2><%= t('team.our_team.trustees') %></h2>
  <% @trustees.each do |team_member| %>
    <%= render 'team_member', team_member: team_member %>
  <% end %>

  <div class="row padded-row">
    <div class="col-md-9">
      <h1 id="partners"><%= t('team.project_partners.title') %></h1>
      <p><%= t('team.project_partners.content') %>.</p>
    </div>
  </div>

  <div class="row align-items-center">
    <% @partners.each do |partner| %>
      <div class="col-md-4 col-lg-3">
        <div class="card bio">
          <div class="card-body">
            <a href="<%= partner.url || '#' %>">
              <%= image_tag partner.image, class: "card-img-top" %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
