<% cache_unless current_user&.admin?, I18n.locale, expires_in: 1.hour do %>
  <% content_for :page_title, t('training.title') %>
  <% if Flipper.enabled?(:new_training_page) %>
    <div class="container-fluid adult mb-5 py-5">
      <%= render Layout::GridComponent.new(cols: 2, classes: 'container', feature: true, cell_classes: 'my-auto',
                                           id: 'hero') do |grid| %>
        <% grid.with_feature_card size: :xl do |feature| %>
          <%= feature.with_header title: t('training.feature.title') %>
          <%= feature.with_description { t('training.feature.description') } %>
        <% end %>
        <%= grid.with_image src: 'laptop.jpg' %>
      <% end %>
    </div>

    <div class="container mt-4">
      <% if @events&.any? %>
        <%= render Layout::GridComponent.new(
              id: 'events',
              cols: @events.count >= 3 ? 3 : @events.count,
              classes: 'pb-4',
              cell_classes: 'mb-4',
              component_classes: 'h-100'
            ) do |grid| %>
              <% @events.each do |event| %>
                <%= grid.with_card do |card| %>
                  <%= card.with_image(src: event.image_url, rounded: :top) if event.image_url && @show_images %>
                  <%= card.with_feature_card(
                        theme: :light, size: :sm,
                        classes: "p-4 rounded-bottom-xl #{'rounded-top-xl' unless event.image_url && @show_images}"
                      ) do |feature| %>
                    <%= feature.with_tag(event.sold_out? ? t('training.sold_out') : t('training.spaces_available')) %>
                    <%= feature.with_header(title: event.name) %>
                    <%= feature.with_datetime(event.date) %>
                    <%= feature.with_description { event.summary } %>
                    <%= feature.with_link(
                          href: event.url, target: '_blank'
                        ) { event.sold_out? ? t('common.labels.more_information') : t('common.labels.sign_up') } %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
      <% else %>
        <%= render Layout::Cards::SectionHeaderComponent.new(
              id: 'no-events', classes: 'm-4 pb-5'
            ) do |section_header| %>
          <%= section_header.with_header title: t('training.no_events.title') %>
          <%= section_header.with_description { t('training.no_events.description') } %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="application container">
      <div class="row">
        <div class="col">
          <h1 id="intro"><%= t('training.title') %></h1>
          <p><%= t('training.intro') %></p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col col-md-10">
          <table class="table timeline">
            <% @events.group_by { |evt| [evt.date.strftime('%Y'), evt.date.strftime('%-m')] }.each do |(year, month), grouped_events| %>
            <thead>
              <tr>
                <th colspan="4">
                  <h5><%= title_for_month(month, year) %></h5>
                  <span class="text-muted"><%= t('timeline.events', count: grouped_events.size) %></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% grouped_events.each do |event| %>
                <tr scope="row">
                  <td></td>
                  <td class="timeline-border-left"></td>
                  <td class="p-3 text-center">
                    <% if event.sold_out? %>
                      <%= fa_icon('calendar-times fa-2x') %>
                    <% else %>
                      <%= fa_icon('calendar-check fa-2x') %>
                    <% end %>
                  </td>
                  <td>
                    <h3 class="pt-1"><strong><%= link_to event.name, event.url, target: '_blank', rel: 'noopener' %></strong></h3>
                    <span class="text-muted">
                      <%= nice_date_times(event.date) %> |
                      <%= event.sold_out? ? t('training.sold_out') : t('training.spaces_available') %>
                    </span>
                  </td>
                  <td class="text-right">
                  </td>
                </tr>
              <% end %>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
