<div id="<%= id %>" class="pupil-explore-component col-12 col-md-4 <%= classes %>">
  <div class="h-100 mb-2 rounded <%= fuel_type_background_class(fuel_type) %>">
    <div class="row p-4">
      <div class="col">
        <div class="row">
          <div class="col">
            <h3>
              <%= component 'icon', name: icon, icon_set: icon_set, style: :circle, size: 'f3' %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>
              <%= link %>
            </h3>
            <% if note? %>
              <%= note %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
