<h1>Setting and tracking targets for your <%= @fuel_type.to_s.humanize %></h1>

<p>
  'Targeting and Tracking' on Energy Sparks lets you set separate targets for reducing
  your electricity, gas or storage heater consumption over the next year. Energy Sparks
  then lets you track how you are progressing versus these targets throughout the year.
</p>

<p>
  Targets are set as a percentage of last year's energy consumption using the targetting setting
  editor on the 'Manage School' menu above. So for example by setting a 95% target you would be
  aiming to reduce your <%= @fuel_type.to_s %> consumption by 5% compared with last year.
</p>

<p>
  <% if @current_target %>
    Your school has a target of a <%= @current_target.electricity %>% reduction by <%= nice_dates(@current_target.target) %>
  <% end %>
</p>

<p>
  This table shows you how the school has been doing on a monthly basis:
</p>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>
      Month
    </th>
    <% @progress.months.each do |month| %>
      <th>
        <%= month %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%= render 'row', title: 'Target (kWh)', data: @progress.monthly_targets_kwh, keys: @progress.months, units: :kwh %>
  <%= render 'row', title: 'Current year (kWh)', data: @progress.monthly_usage_kwh, keys: @progress.months, units: :kwh %>
  <%= render 'row', title: 'Monthly performance', data: @progress.monthly_performance, keys: @progress.months, units: :relative_percent %>
  </tbody>
</table>

<p>
  This table shows you the same information but cumulatively:
</p>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>
      Month
    </th>
    <% @progress.months.each do |month| %>
      <th>
        <%= month %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%= render 'row', title: 'Cumulative target (kWh)', data: @progress.cumulative_targets_kwh, keys: @progress.months, units: :kwh %>
  <%= render 'row', title: 'Current year (kWh)', data: @progress.cumulative_usage_kwh, keys: @progress.months, units: :kwh %>
  <%= render 'row', title: 'Cumulative performance', data: @progress.cumulative_performance, keys: @progress.months, units: :relative_percent %>
  </tbody>
</table>

<% if @progress.current_cumulative_performance > 0.0 %>
  <p>
    Unfortunately you are currently running
    <%= format_target(@progress.current_cumulative_performance, :relative_percent) %>
    above target.
  </p>
<% else %>
  <p>
    Congratulations, you are currently running
    <%= format_target(@progress.current_cumulative_performance, :relative_percent) %>
    below the target.
  </p>
<% end %>
