<%= simple_form_for :activity_type, url: for_school_activity_type_path(activity_type), method: :get do |f| %>
  <%= component 'notice', status: :neutral, classes: 'mb-4' do %>
    <div class="row" role="alert">
      <div class="col-lg-1 d-none d-lg-block align-self-center">
        <i class="fas fa-tasks fa-3x"></i>
      </div>
      <div class="col-lg-7 col-sm-12 align-self-center">
        <%= t('activity_types.show.complete_this_activity_for_group_html', count: activity_type.score) %>
        <div class="w-75 pt-3">
          <%= select_tag :school_id, options_from_collection_for_select(schools, :id, :name), include_blank: t('activity_types.show.select_school'), class: 'form-control select2 must-select' %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <%= f.submit t('activity_types.show.record_this_activity'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
