<h1>Activities</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Score</th>
      <th>Enabled?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_types.each do |activity_type| %>
      <tr class="<%= active(activity_type.active) %>" >
        <td><%= link_to activity_type.name, activity_type_path(activity_type) %></td>
        <td><%= activity_type.activity_category.name %></td>
        <td><%= activity_type.score %></td>
        <td><%= activity_type.active %></td>
        <td><%= link_to 'Edit', edit_activity_type_path(activity_type), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_type_path, class: 'btn btn-primary' %>
