<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= t('activity_types.search.title') %></h1>
      <div>
        <%= link_to t('activity_types.search.all_activities'), activity_categories_path, class: 'btn btn-default' %>
        <%= link_to t('activity_types.search.adult_actions'), intervention_type_groups_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <%= t('activity_types.search.for_activities_by_keyword') %>
    </p>
  </div>
</div>

<%= form_tag search_activity_types_path, method: :get do %>
  <div class="row">
    <div class="col-md-10">
      <%= text_field_tag :query, params[:query], class: 'form-control', autocomplete: :off %>
      <%= hidden_field_tag :key_stages, params[:key_stages] %>
      <%= hidden_field_tag :subjects, params[:subjects] %>
    </div>
    <div class="col-md-2">
      <%= submit_tag t('activity_types.search.button_label'), class: 'btn btn-primary' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="row activity-type-filters">
        <div class="col-md-2">
          <p><%= t('activity_types.search.limit_results_shown') %></p>
        </div>
        <div class="col-md-10">
          <% KeyStage.by_name.each do |key_stage| %>
            <span data-toggle="tooltip" data-placement="bottom" title="<%= t('activity_types.key_stages') %>">
              <%= link_to t(key_stage.i18n_key),
                          activity_types_search_link(key_stage.name, ''),
                          class: activity_types_badge_class(params[:key_stages], t(key_stage.i18n_key), 'info'),
                          data: { disable_with: spinner_icon } %>
            </span>
          <% end %>
          <br>
          <% Subject.by_name.each do |subject| %>
            <span data-toggle="tooltip" data-placement="bottom" title="<%= t('activity_types.subjects') %>">
              <%= link_to t(subject.i18n_key), activity_types_search_link('', subject.name),
                          class: activity_types_badge_class(params[:subjects], t(subject.i18n_key), 'dark'),
                          data: { disable_with: spinner_icon } %>
            </span>
          <% end %>
        </div>
      </div>
      <br>
    </div>
  </div>
<% end %>

<% if @activity_types.empty? %>
  <% if params[:query] %>
    <p>
      <%= t('activity_types.search.no_results_found') %>
    </p>
  <% end %>
<% else %>
  <h4>
    <%= t('activity_types.search.results_found', count: @pagy.count) %>
  </h4>
  <br>
  <% @activity_types.each do |activity_type| %>
    <%= render 'activity_types/activity_type', activity_type: activity_type, school: current_user_school %>
  <% end %>

  <br>
  <br>
  <%= render 'shared/pagy_footer' %>
<% end %>
