<%# cache_if current_user.nil?, [@activity_type, I18n.locale], expires_in: 1.hour do %>
  <% content_for :page_title do %>
    <%= @activity_type.name %>
  <% end %>

  <% content_for(:header) do %>
    <%= render Layout::GridComponent.new(cols: 2, classes: 'container', id: 'feature') do |grid| %>
      <%= grid.with_feature_card(classes: '') do |feature| %>
        <%= feature.with_header(title: @activity_type.name) %>
        <%= feature.with_description { @activity_type.summary } %>
        <%= feature.with_tag(t('nav.points', count: @activity_type.score),
                             colour: :success, tooltip: t('activity_types.score_for_this_activity')) %>
        <% @activity_type.key_stages.order(:name).each do |key_stage| %>
          <%= feature.with_tag(t(key_stage.i18n_key), colour: :info, tooltip: t('activity_types.key_stages')) %>
        <% end %>
        <% @activity_type.subjects.order(:name).each do |subject| %>
          <%= feature.with_tag(t(subject.i18n_key), colour: :warning, tooltip: t('activity_types.subjects')) %>
        <% end %>
        <%= feature.with_button(t('activity_types.show.view_related_activities',
                                  count: @activity_type.related_activities.count),
                                activity_category_path(@activity_type.activity_category)) %>

      <% end %>
      <%= grid.with_image(
            src: @activity_type.t_attached_or_default(:image, placeholder: 'placeholder300x200.png'),
            height: '250px', classes: 'd-block ms-auto my-0', fit: false
          ) %>
    <% end %>
  <% end %>

  <div class="container">
    <% unless @activity_type.activities_for_school(current_user_school).empty? %>
      <%= render 'activity_types/previous_records',
                 activities: @activity_type.activities_for_school(current_user_school).by_date,
                 school: current_user_school %>
    <% end %>

    <div class="row">
      <div class="col-md-9">
        <% if current_user.nil? %>
          <%= render 'shared/activities/prompt_login_to_record', label: 'activity', score: @activity_type.score,
                                                                 return_path: activity_type_path(@activity_type) %>
        <% end %>

        <% if can?(:create, Activity) && @can_be_completed_for_schools.present? %>
          <% if @can_be_completed_for_schools.one? %>
            <%= render 'activity_types/prompt_score', activity_type: @activity_type,
                                                      school: @can_be_completed_for_schools.first %>
          <% else %>
            <%= render 'activity_types/prompt_score_for_group', activity_type: @activity_type,
                                                                schools: @can_be_completed_for_schools %>
          <% end %>
        <% end %>

        <div class="activity_type">
          <h3 class="pt-0">Overview</h3>
          <%= @activity_type_content %>
        </div>
      </div>
      <div class="col-md-3">
        <% if @activity_type.download_links.present? %>
          <h4 class='pt-0'><%= t('activity_types.show.download_resources') %></h4>
          <div class="activity_type activity-type-download-links" data-event-value="<%= @activity_type.id %>">
            <%= @activity_type.download_links %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%# end %>
