<% content_for :page_title do %>
    Activity Type: <%= @activity_type.name %>
<% end %>

<div class="row padded-row">
  <div class="col-md-9">
    <h1><%= @activity_type.name %></h1>
    <%= render 'activity_types/activity_type_badges', activity_type: @activity_type %>

    <div class="activity_type">
      <h3>Activity summary</h3>
      <% if @activity_type.description %>
        <%= @activity_type.description %>
      <% else %>
        <p><em>No description given</em></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 pt-2">
    <%= render 'activity_types/activity_type_resources', activity_type: @activity_type %>
  </div>
</div>

<div class="row">
</div>

<%= render 'activity_types/prompt_complete_activity', activity_type: @activity_type, recorded: @recorded, school_count: @school_count %>

<p><%= link_to 'View all activities', activity_categories_path, class: 'btn btn-secondary' %></p>
