<% content_for :page_title do %>
    Activity Type: <%= @activity_type.name %>
<% end %>

<div class="row padded-row">
  <div class="col-md-9">
    <h1><%= @activity_type.name %></h1>
    <h3>
      <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Score for this activity"><%= @activity_type.score %></span>
      <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="Category of activity"><%= @activity_type.activity_category.name %></span>
      <span class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Key Stages"><%= @activity_type.key_stage_list %></span>
    </h3>
    <div class="activity_type">
      <h3>Activity summary</h3>
      <% if @activity_type.description %>
        <%= @activity_type.description %>
      <% else %>
        <p><em>No description given</em></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 pt-2">
    <% if !@activity_type.image.blank? %>
      <p><%= image_tag @activity_type.image %></p>
    <% end %>
    <div class="activity_type">
      <% if !@activity_type.download_links.blank? %>
        <h3>Resource links</h3>
        <%= @activity_type.download_links %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
</div>

<% if @activity_type.active? && current_user && current_user.school %>
  <div class="row padded-row">
    <div class="col-md-12">
      <% if @recorded == 0 %>
        <h5> Be the first school to complete this activity!</h5>
        <p>This activity will score your school <strong><%= @activity_type.score %></strong> points!</p>
        <% if can?(:create, Activity) %>
          <%= link_to 'Record this activity', new_school_activity_path(current_user.school, activity_type_id: @activity_type.id), class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <h5>Complete this activity at your school</h5>
        <p>This activity will score your school <strong><%= @activity_type.score %></strong> points!</p>
        <p><strong><%= pluralize(@school_count, 'school has', 'schools have') %> scored points for this activity </strong>.</p>
        <% if can?(:create, Activity) %>
          <%= link_to 'Record this activity', new_school_activity_path(current_user.school, activity_type_id: @activity_type.id), class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<p><%= link_to 'View all activities', activity_categories_path, class: 'btn btn-secondary' %></p>
