<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page,
                                         tab: @tab, data_warning: @data_warning do %>

  <% if @advice_page_subtitle.present? %>
    <h2><%= @advice_page_subtitle %></h2>
  <% end %>

  <%= render 'insights' %>

  <% if @advice_page_insights_next_steps.present? || @activity_types.any? || @intervention_types.any? %>
    <%= render 'schools/advice/section_title', section_id: 'recommendations',
                                               section_title: t('advice_pages.insights.recommendations.title') %>

    <% if @advice_page_insights_next_steps.present? %>
      <p><%= @advice_page_insights_next_steps %></p>
    <% end %>

    <%= render RecommendationsComponent.new(recommendations: @activity_types,
                                            title: t('advice_pages.insights.recommendations.activities_title'),
                                            classes: 'pb-4') %>

    <%= render RecommendationsComponent.new(recommendations: @intervention_types,
                                            title: t('advice_pages.insights.recommendations.actions_title'),
                                            classes: 'pb-4') %>
  <% end %>

  <% cache [@school.latest_content, @advice_page.fuel_type, I18n.locale], expires_in: 4.hours do %>
    <%= render 'schools/advice/how_have_we_analysed_your_data_footnote_modal' %>
  <% end %>
<% end %>
