<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page, tab: @tab do %>

  <h2><%= t("advice_pages.#{@advice_page.key}.insights_title") %></h2>

  <%= render 'insights' %>

  <%= render(RecommendationsComponent.new(recommendations: @activity_types, title: 'Work with the pupils', classes: 'pb-4')) %>

  <%= render(RecommendationsComponent.new(recommendations: @intervention_types, title: 'Take action around the school', classes: 'pb-4')) %>
<% end %>
