<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page,
                                         tab: @tab, data_warning: nil do %>
    <h2>
      <%= render PageNavComponent::CollapseButton.new(display: 'inline') %>
      <%= t('advice_pages.not_enough_data.title') %>
    </h2>
    <p>
      <%= t('advice_pages.not_enough_data.message', fuel_type: @advice_page.t_fuel_type) %>
    </p>
    <% if @analysable&.data_available_from.present? %>
      <p>
        <%= t('advice_pages.not_enough_data.available_from',
              available_from: @analysable.data_available_from.to_fs(:es_short)) %>
      </p>
    <% end %>
    <p>
      <%= t('advice_pages.not_enough_data.learn_more_html', learn_more_link: 'learn_more') %>
    </p>
<% end %>
