
<%= f.input :user_id, as: :hidden %>
<%= f.input :name, as: :string, readonly: f.object.user.present?, label: t('schools.contacts.form.labels.name') %>


<% if f.object.user.nil? %>
  <%= f.input :staff_role_id, label: t('schools.contacts.form.labels.role'), collection: StaffRole.order(:title).map { |staff_role| [staff_role.translated_title, staff_role.id] } %>

  <p><%= t('schools.contacts.form.enter_at_least_one_method_message') %></p>
<% end %>

<%= f.input :email_address, as: :email, readonly: f.object.user.present?, label: t('schools.contacts.form.labels.email') %>
<%= f.input :mobile_phone_number, as: :string, label: t('schools.contacts.form.labels.mobile_phone_number') %>

<%= f.submit submit, class: 'btn btn-primary' %>

