<%= render 'shared/errors', subject: f.object, subject_name: 'Contact' %>

<%= f.input :user_id, as: :hidden %>
<%= f.input :name, as: :string, readonly: f.object.user.present?, label: t('schools.contacts.form.labels.name') %>

<br/>
<p><%= t('schools.contacts.form.enter_at_least_one_method_message') %></p>

<%= f.input :email_address, as: :email, readonly: f.object.user.present?, label: t('schools.contacts.form.labels.email') %>
<%= f.input :mobile_phone_number, as: :string, label: t('schools.contacts.form.labels.mobile_phone_number') %>

<% if f.object.user %>
  <% if f.object.user == current_user %>
    <%= f.simple_fields_for :user do |p| %>
      <%= p.input :preferred_locale, label: t('schools.users.form.preferred_locale'), required: :false, collection: I18n.available_locales.map { |locale| [I18n.t("languages.#{locale}"), locale] }, selected: f.object.preferred_locale, prompt: '', hint: t('schools.users.form.preferred_locale_hint') %>
    <% end %>
  <% end %>
<% end %>

<%= f.submit submit, class: 'btn btn-primary' %>
