
<%= f.input :user_id, as: :hidden %>
<%= f.input :name, as: :string, readonly: f.object.user.present? %>


<% if f.object.user.nil? %>
  <%= f.input :staff_role_id, label: 'Role', collection: StaffRole.order(:title) %>

  <p>Please enter at least one method of communication</p>
<% end %>

<%= f.input :email_address, as: :email, readonly: f.object.user.present?%>
<%= f.input :mobile_phone_number, as: :string %>

<%= f.submit submit, class: 'btn btn-primary' %>

