<h1><%= @school.name %></h1>

<% if @contact.user == current_user %>
  <h2>
    <%= t('schools.contacts.edit.update_contact_details_for_email_or_text_alerts') %>
  </h2>
  <%= render 'shared/contact_explainer' %>
<% else %>
  <h2>
    <% if  @contact.user %>
      <%= t('schools.contacts.edit.update_contact_details_for', user_name: @contact.user.name) %>
    <% else %>
      <%= t('schools.contacts.edit.update_contact_details') %>
    <% end %>
  </h2>
<% end %>

<div class="row col-md-12">
  <%= simple_form_for([@school, @contact]) do |f| %>
    <%= render 'form', f: f, submit: t('schools.contacts.edit.update_details') %>
  <% end %>
</div>

<div class="other-actions">
  <%= link_to t('schools.contacts.edit.disable_alerts'), school_contact_path(@school, @contact), method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-danger' %>
</div>
