<h1><%= @school.name %></h1>

<% if @contact.user == current_user %>
  <h2>
    Update contact details for email or text alerts
  </h2>
  <%= render 'shared/contact_explainer' %>
<% else %>
  <h2>
    Update contact details <%= "for #{@contact.user.name}" if @contact.user %>
  </h2>
<% end %>

<div class="row col-md-12">
  <%= simple_form_for([@school, @contact]) do |f| %>
    <%= render 'form', f: f, submit: 'Update details'%>
  <% end %>
</div>

<div class="other-actions">
  <%= link_to 'Disable alerts', school_contact_path(@school, @contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
