<% content_for :page_title do %>
  <%= t('schools.contacts.index.title', school_name: @school.name) %>
<% end %>

<h1 property="name">
  <%= link_to @school.name, @school %> <%= t('schools.contacts.index.alert_contacts') %>
</h1>

<%= render 'shared/contact_explainer' %>

<p>
  <%= t('schools.contacts.index.alert_contacts_message') %>
</p>

<h2>
  <%= t('schools.contacts.index.account_contacts') %>
</h2>

<%= form_tag new_school_contact_path, method: :get do %>
  <%= label_tag :user_id, t('schools.contacts.index.enable_alerts_for') %>
  <%= select_tag :user_id, options_from_collection_for_select(@accounts_without_contacts, :id, :display_name) %>
  <%= submit_tag t('schools.contacts.index.next'), class: 'btn btn-rounded'%>
<% end %>

<div class="table-responsive mt-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('schools.contacts.index.name') %></th>
        <th><%= t('schools.contacts.index.role') %></th>
        <th><%= t('schools.contacts.index.mobile_phone_number') %></th>
        <th><%= t('schools.contacts.index.email_address') %></th>
        <th><%= t('schools.contacts.index.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @account_contacts.each do |contact| %>
        <tr scope="row">
          <td><%= contact.name %></td>
          <td><%= contact.staff_role.try(:title) %></td>
          <td><%= contact.mobile_phone_number %></td>
          <td><%= contact.email_address %></td>
          <td>
            <div class="btn-group">
              <%= link_to t('common.labels.edit'), edit_school_contact_path(@school, contact), class: 'btn btn-warning' %>
              <%= link_to t('common.labels.delete'), school_contact_path(@school, contact), method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2><%= t('schools.contacts.index.standalone_contacts') %></h2>
<p><%= link_to t('schools.contacts.index.enable_alerts_for_an_email_or_phone_number'), new_school_contact_path(@school), class: 'btn btn-primary' %></p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('schools.contacts.index.name') %></th>
        <th><%= t('schools.contacts.index.role') %></th>
        <th><%= t('schools.contacts.index.mobile_phone_number') %></th>
        <th><%= t('schools.contacts.index.email_address') %></th>
        <th><%= t('schools.contacts.index.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @standalone_contacts.each do |contact| %>
        <tr scope="row">
          <td><%= contact.name %></td>
          <td><%= contact.staff_role.try(:title) %></td>
          <td><%= contact.mobile_phone_number %></td>
          <td><%= contact.email_address %></td>
          <td>
            <div class="btn-group">
              <%= link_to t('common.labels.edit'), edit_school_contact_path(@school, contact), class: 'btn btn-warning' %>
              <%= link_to t('common.labels.delete'), school_contact_path(@school, contact), method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
