<% content_for :page_title do %>
  <%= @school.name %> Contacts
<% end %>

<div typeof="School">
  <div class="row padded-row">
    <div class="col-md-12">
      <h1 property="name"><%= @school.name %> Contacts</h1>
      <p><%= link_to 'Alerts', school_alerts_path(@school), class: 'btn btn-primary' %> <%= link_to 'New Contact', new_school_contact_path(@school), class: 'btn btn-secondary' %></p>
    </div>
  </div>
</div>

<% unless @contacts.empty? %>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Mobile Phone Number</th>
            <th>Email Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr scope="row">
              <td><%= contact.name %></td>
              <td><%= contact.description %></td>
              <td><%= contact.mobile_phone_number %></td>
              <td><%= contact.email_address %></td>
              <td>
                <div class="btn-group">
                  <%= link_to 'Edit', edit_school_contact_path(@school, contact), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', school_contact_path(@school, contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <p>No contacts are currently set up for this school.</p>
<% end %>
