<%= render 'tariff_note', school: @school,
                          analysis_dates: @analysis_dates,
                          complete_tariff_coverage: @complete_tariff_coverage,
                          periods_with_missing_tariffs: @periods_with_missing_tariffs %>

<% if @multiple_meters || @analysis_dates.months_of_data > 23 %>
  <%# i18n-tasks-use t('advice_pages.electricity_costs.analysis.summary') %>
  <%# i18n-tasks-use t('advice_pages.gas_costs.analysis.summary') %>
  <p><%= advice_t("#{@fuel_type}_costs.analysis.summary") %></p>
<% end %>

<% if @multiple_meters %>
  <ul>
    <li>
      <%= link_to(advice_t('gas_costs.analysis.cost_breakdown_by_meter.title',
                           period: format_unit(@annual_costs.days / 365.0, :years)),
                  '#cost-breakdown-by-meter') %>
    </li>
    <li><%= link_to(advice_t('electricity_costs.analysis.meter_breakdown.title'), '#meter-breakdown') %></li>
  </ul>
<% else %>
  <ul>
    <% if @analysis_dates.months_of_data > 23 %>
      <li><%= link_to(advice_t("#{@fuel_type}_costs.analysis.cost_breakdown_by_charge.title",
                               period: format_unit(@annual_costs.days / 365.0, :years)),
                      '#cost-breakdown-by-charge') %>
      </li>
      <li><%= link_to(advice_t("#{@fuel_type}_costs.analysis.comparison.title"), '#comparison') %></li>
    <% end %>
  </ul>
<% end %>

<% if @multiple_meters %>
  <%= render 'cost_breakdown_by_meter', school: @school,
                                        analysis_dates: @analysis_dates,
                                        annual_costs: @annual_costs,
                                        annual_costs_breakdown_by_meter: @annual_costs_breakdown_by_meter,
                                        fuel_type: @fuel_type %>
  <%= render 'meter_breakdown', school: @school,
                                options_for_meter_select: @options_for_meter_select,
                                default_meter: @aggregate_meter_adapter.mpan_mprn,
                                default_meter_label: @aggregate_meter_adapter.name_or_mpan_mprn,
                                analysis_dates: @analysis_dates,
                                one_year_breakdown_chart: @one_year_breakdown_chart,
                                one_year_breakdown_chart_key: @one_year_breakdown_chart_key,
                                monthly_costs: @monthly_costs,
                                change_in_costs: @change_in_costs,
                                fuel_type: @fuel_type %>
<% else %>
  <%= render 'cost_breakdown_by_charge', school: @school,
                                         analysis_dates: @analysis_dates,
                                         annual_costs: @annual_costs,
                                         one_year_breakdown_chart: @one_year_breakdown_chart,
                                         one_year_breakdown_chart_key: @one_year_breakdown_chart_key,
                                         monthly_costs: @monthly_costs,
                                         change_in_costs: @change_in_costs,
                                         show_school_total: true,
                                         fuel_type: @advice_page.fuel_type %>
  <% if @analysis_dates.months_of_data > 23 %>
    <%= render 'cost_comparison', school: @school,
                                  analysis_dates: @analysis_dates,
                                  mpan_mprn: @aggregate_meter_mpan_mprn %>
  <% end %>
<% end %>
