<%= simple_form_for([@school, audit], html: { id: :audit_form } ) do |f| %>
  <%= f.input :title %>

  <%= f.label 'Description', for: :description %>

  <div class="trix-wrapper">
    <%= f.rich_text_area :description %>
  </div>

  <h2>Report</h2>

  <% if audit.file.attached? %>
    <%= link_to 'Current file', url_for(@audit.file), target: '_blank' %>
  <% else %>
    No file attached yet
  <% end %>

  <br/>
  <br/>

  <%= f.input :file, label: false %>

  <br/>
  <br/>

  <%= f.input :published %>

  <h2>Activities</h2>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="firstName">Activity Type</label>
    </div>
    <div class="col-md-5 mb-3">
      <label for="lastName">Notes</label>
    </div>
    <div class="col-md-2 mb-3">
    </div>
  </div>

  <div id="audit-activity-types">
    <%= f.simple_fields_for :audit_activity_types, @audit.audit_activity_types.by_name do |audit_activity_type| %>
      <%= render 'audit_activity_type_fields', f: audit_activity_type %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add activity', f, :audit_activity_types, class: 'btn' %>
    </div>
  </div>

  <br/>
  <br/>

  <h2>Actions</h2>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="firstName">Action Type</label>
    </div>
    <div class="col-md-5 mb-3">
      <label for="lastName">Notes</label>
    </div>
    <div class="col-md-2 mb-3">
    </div>
  </div>

  <div id="audit-intervention-types">
    <%= f.simple_fields_for :audit_intervention_types, @audit.audit_intervention_types.by_title do |audit_intervention_type| %>
      <%= render 'audit_intervention_type_fields', f: audit_intervention_type %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add action', f, :audit_intervention_types, class: 'btn' %>
    </div>
  </div>

  <br/>
  <br/>

  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
