<h1>Audits</h1>

<div class="row padded-row">
  <div class="col">
    <% if @audits.any? %>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Title</th>
            <th>Report</th>
            <th>Activities</th>
            <th>Actions</th>
            <th>Published?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @audits.each do |audit| %>
            <tr>
              <td><%= link_to audit.title, school_audit_path(@school, audit) %></td>
              <td>
                <% if audit.file.attached? %>
                  <%= link_to 'Report', url_for(audit.file), target: '_blank' %>
                <% else %>
                  No report
                <% end %>
              </td>
              <td><%= audit.activity_types.count %></td>
              <td><%= audit.intervention_types.count %></td>
              <td><%= y_n(audit.published) %></td>
              <td>
                <%= link_to 'Edit', edit_school_audit_path(@school, audit), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Remove', school_audit_path(@school, audit), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no audits</p>
    <% end %>
    <%= link_to 'New Audit', new_school_audit_path(@school), class: 'btn btn-primary btn-sm'%>
  </div>
</div>
