<% targets = @school.school_targets.by_start_date.filter_map do |target|
     [target, target.monthly_consumption(@fuel_type)] unless target == @target
   end %>
<ul>
  <li><%= link_to(t('advice_pages.target.analysis.monthly_progress.title'), '#monthly-progress') %></li>
  <li><%= link_to(t('advice_pages.target.analysis.cumulative_progress.title'), '#cumulative-progress') %></li>
  <% if targets.any? %>
    <li><%= link_to(t('advice_pages.target.analysis.historical_progress.title'), '#historical-progress') %></li>
  <% end %>
</ul>

<%= render 'meeting_target_prompt' %>

<%= render 'schools/advice/section_title',
           section_id: 'monthly-progress',
           section_title: t('advice_pages.target.analysis.monthly_progress.title') %>
<p><%= t('advice_pages.target.analysis.monthly_progress.text_html',
         fuel_type: t("advice_pages.fuel_type.#{@advice_page.fuel_type}"),
         percent: formatted_target) %></p>
<%= render 'monthly_table', consumption: @target.monthly_consumption(@fuel_type) %>

<%= render 'schools/advice/section_title',
           section_id: 'cumulative-progress',
           section_title: t('advice_pages.target.analysis.cumulative_progress.title') %>
<p><%= t('advice_pages.target.analysis.cumulative_progress.text_html',
         fuel_type: t("advice_pages.fuel_type.#{@advice_page.fuel_type}"),
         percent: formatted_target,
         target_date: formatted_target_date) %></p>
<%= consumption = @target.monthly_consumption(@fuel_type)
    consumption.each_with_index do |month, i|
      next if i.zero?

      %i[previous target current].each do |field|
        unless month[:"#{field}_consumption"].zero?
          month[:"#{field}_consumption"] = consumption[i - 1][:"#{field}_consumption"] + month[:"#{field}_consumption"]
        end
      end
    end
    render 'monthly_table', consumption: %>

<% if targets.any? %>
  <%= render 'schools/advice/section_title',
             section_id: 'historical-progress',
             section_title: t('advice_pages.target.analysis.historical_progress.title') %>
  <%= t('advice_pages.target.analysis.historical_progress.intro', fuel_type: @fuel_type) %>
  <table class="mt-2 table table-sm advice-table">
    <thead>
      <th><%= t('advice_pages.target.analysis.historical_progress.target_date') %></th>
      <th><%= t('advice_pages.target.analysis.historical_progress.previous_year') %></th>
      <th><%= t('advice_pages.target.analysis.historical_progress.target_year') %></th>
      <th><%= t('advice_pages.target.analysis.monthly_progress.percentage_change') %></th>
      <th><%= t('advice_pages.target.analysis.historical_progress.target') %></th>
    </thead>
    <tbody>
      <% targets.each do |target, consumption|
           target_consumption = consumption.pluck(:target_consumption).sum
           current_consumption = consumption.pluck(:current_consumption).sum %>
        <tr>
          <td><%= formatted_target_date(target) %></td>
          <td><%= format_unit(current_consumption, :kw) %></td>
          <td><%= format_unit(target_consumption, :kw) %></td>
          <td><%= formatted_target_change(current_consumption, target_consumption) %></td>
          <td><%= formatted_target(target) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
