<%= render 'limited_advice_page', title: t('advice_pages.target.limited_data.title') do %>
  <%= t('advice_pages.target.limited_data.text_html') %>
  <% if @fuel_type != :storage_heater %>
    <% if can?(:manage, Schools::ManualReading) %>
      <p><%= t('advice_pages.target.limited_data.manual_reading_html',
               path: school_manual_readings_path(@school)) %></p>
    <% end %>
    <p><%= t('advice_pages.target.limited_data.meantime_html',
             fuel_type: t_fuel_type, path: polymorphic_path([@school, :advice, @fuel_type, :long_term])) %></p>
  <% else %>
    <p><%= t('advice_pages.not_enough_data.learn_more_html', learn_more_link: 'learn_more') %></p>
  <% end %>
  </p>
<% end %>
