<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page,
                                         tab: @tab, data_warning: nil do %>
    <h2>
      <%= render PageNavComponent::CollapseButton.new(display: 'inline') %>
      <%= t('advice_pages.target.new_target.title') %>
    </h2>
    <p><%= t('advice_pages.target.new_target.text') %></p>
    <p><%= t('advice_pages.not_enough_data.learn_more_html', learn_more_link: 'learn_more') %></p>
<% end %>
