<%= tag.div id: id, class: classes do %>
  <%= render Layout::GridComponent.new(cols: 2) do |grid| %>
    <%= grid.with_cell do %>
      <%= image %>
    <% end %>
    <%= grid.with_cell(cell_classes: 'my-auto') do %>
      <% if tags.any? %>
        <div class='pb-2'>
          <% tags.each do |tag| %>
            <%= tag %>
          <% end %>
        </div>
      <% end %>
      <%= header %>
      <%= description %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>
