<h1 class="mb-3"><%= t('target_mailer.review_target.title') %></h1>
<div class="s-3"></div>

<p>
  <%= t('target_mailer.review_target.your_school_set_a_target_to_reduce_its_energy_usage_by',
        target_date: nice_dates(@school.most_recent_target.target_date)) %>
  <% if Flipper.enabled?(:target_advice_pages2025) %>
    <%= t('target_mailer.review_target.its_time_2025_html',
          gas_url: school_advice_gas_target_url(@school, params: targets_utm_parameters(source: 'review')),
          electricity_url:
            school_advice_electricity_target_url(@school, params: targets_utm_parameters(source: 'review'))) %>
  <% else %>
    <%= t('target_mailer.review_target.its_time_html',
          school_target_url: school_school_target_url(@school, @school.most_recent_target,
                                                      params: targets_utm_parameters(source: 'review'))) %>.
  <% end %>
</p>

<%= link_to t('target_mailer.review_target.set_a_new_target'),
            school_school_targets_url(@school, params: targets_utm_parameters(source: 'review')),
            class: 'btn btn-primary mt-3 mb-3 float-right' %>
