<p>
  <%= I18n.t("energy_tariffs_mailer.group_admin_review_group_tariffs_reminder.mail_body.to_help.#{@school_group.group_type}") %>
</p>
<br />
<p>
  <%= I18n.t('energy_tariffs_mailer.group_admin_review_group_tariffs_reminder.mail_body.you_can_set') %>.
</p>
<br />
<p>
  <%= I18n.t('energy_tariffs_mailer.group_admin_review_group_tariffs_reminder.mail_body.to_review') %>, <%= I18n.t('energy_tariffs_mailer.group_admin_review_group_tariffs_reminder.mail_body.click_here_html',
    click_here_link: school_group_energy_tariffs_url(@school_group)).html_safe
  %>.
</p>
<br />
<p>
  <%= I18n.t('energy_tariffs_mailer.group_admin_review_group_tariffs_reminder.mail_body.in_future') %>
</p>
