<%= content_for :header do %>
  <% if @timelineable.is_a?(School) %>
    <h1><%= t('schools.timeline.title') %></h1>
    <p><%= t('schools.timeline.intro') %></p>
  <% else %>
    <h1><%= t('components.scoreboards.group_summary.timeline.title') %></h1>
    <p><%= t('school_groups.timeline.intro') %></p>
  <% end %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2">
      <%= render PageNavComponent.new name: 'Dashboard',
                                      icon: 'house', href: polymorphic_path(@timelineable),
                                      options: { user: current_user, match_controller: true } do |c| %>

        <% c.with_section name: 'School years',
                          expanded: true,
                          options: { match_controller: false } do |s| %>
          <% @academic_years.each do |academic_year, count| %>
           <%= academic_year == @academic_year %>
            <% s.with_item(name: academic_year.title,
                           note: "(#{count})",
                           href: polymorphic_path([@timelineable, :timeline], academic_year: academic_year),
                           selected: academic_year == @academic_year,
                           classes: 'small generic-item') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10 py-2 px-4">
      <h2>
        <% if @academic_year == @current_academic_year %>
          <%= t('schools.timeline.activity_current_year') %>
        <% else %>
          <%= t('schools.timeline.activity_in_year', school_year: @academic_year.title) %>
        <% end %>
      </h2>

      <% unless @observations.any? %>
        <%= render PromptComponent.new(icon: 'circle-info', status: :none) do |p| %>
              <%= t('schools.timeline.no_events') %>
        <% end %>
      <% else %>
        <%= render Scoreboards::ActivityTableComponent.new(observations: @observations,
                                                           show_positions: false,
                                                           observation_style: :full,
                                                           show_school: !@timelineable.is_a?(School),
                                                           show_date: true,
                                                           show_actions: true) %>
      <% end %>
    </div>
  </div>
</div>
