<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: 'Recent Image Feed' %>
  <% header_nav.with_button 'All reports', admin_reports_path %>
<% end %>

<div class="row d-flex justify-content-center pt-4">
  <%= render partial: 'shared/pagy/bootstrap_nav', locals: { pagy: @pagy } %>
</div>

<div class="row g-4">
  <% @images.each do |item| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="border rounded h-100 overflow-hidden">
        <%= link_to feed_item_path(item) do %>
          <%= image_tag(
                item.representation(resize_to_limit: [600, 600]),
                class: 'img-fluid w-100'
              ) %>
        <% end %>
        <div class="p-3">
          <h4 class="mb-1"><%= item.school_name %></h4>
          <p>
            <%= item.record_type %> #<%= item.record_id %>
          </p>
          <p>
            Posted <%= item.created_at.to_date %>
          </p>
          <% if item.updated_at.to_date != item.created_at.to_date %>
            <p>
              Updated <%= item.updated_at.to_date %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row d-flex justify-content-center pt-4">
  <%= render partial: 'shared/pagy/bootstrap_nav', locals: { pagy: @pagy } %>
</div>
