<%= render 'header', title: 'Manage Data Sources' do %>
  <%= header_nav_link 'Admin', admin_url %>
<% end %>

<%= link_to 'New data source', new_admin_data_source_path, class: 'btn btn-primary mb-2' %>

<table class="table table-paged" style="width: 100%">
  <thead>
    <tr>
      <th>Organisation name</th>
      <th>Organisation type</th>
      <th>Owned by</th>
      <th>Active meters</th>
      <th>Lagging meters</th>
      <th>Lagging as % of active</th>
      <th class="no-sort text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @data_sources.each do |data_source| %>
      <tr>
        <td class="nowrap"><%= link_to data_source.name, admin_data_source_path(data_source) %></td>
        <td><span class="badge text-bg-info"><%= data_source.organisation_type.try(:humanize) %></span></td>
        <td><%= data_source.owned_by&.name %></td>
        <td><%= data_source.meters.active_for_active_schools.count %></td>
        <td><%= data_source.meters.with_stale_readings.count %></td>
        <td><%= data_source.percentage_of_lagging_meters %></td>
        <td class='nowrap text-end'>
          <%= link_to 'Edit', edit_admin_data_source_path(data_source), class: 'btn btn-sm' %>
          <%= link_to 'Delete', admin_data_source_path(data_source), method: :delete,
                                                                     data: { confirm: 'Are you sure?' },
                                                                     class: 'btn btn-outline-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
