<%= render 'header', title: "#{@data_source.name} data source" do %>
  <%= header_nav_link 'All data sources', admin_data_sources_url %>
<% end %>

<div class="row pb-2">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <div>Active meters <span class="float-end badge text-bg-success">
        <%= @data_source.meters.active_for_active_schools.count %></span></div>
        <div>Inactive meters <span class="float-end badge text-bg-secondary">
        <%= @data_source.meters.from_active_schools.inactive.count %></span></div>
        <div>Lagging meters <span class="float-end badge text-bg-danger">
        <%= @data_source.meters.with_stale_readings.count %></span></div>
        <div>Lagging as % of active <span class="float-end badge text-bg-danger">
        <%= @data_source.percentage_of_lagging_meters %>%</span></div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <div>Associated schools <span class="float-end badge text-bg-success"><%= @data_source.schools.active.count %></span></div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light border rounded py-2 mb-2">
  <div class="col-12 clearfix">
    <span data-bs-toggle="collapse" href="#data-source" role="button" aria-expanded="true" aria-controls="data-source" class="badge text-bg-light toggler text-decoration-none collapsed ps-3">
      <%= toggler %>
    </span>
    <%= render 'admin/issues/issueable', issueable: @data_source %>
    <span class="badge text-bg-info"><%= @data_source.organisation_type.try(:humanize) %></span>
    <span class='float-end pe-2'>
      <%= render Forms::EmailReportButtonComponent.new(admin_data_source_deliver_path(@data_source),
                                                       'Email Data Source Report',
                                                       button_class: 'btn btn-secondary btn-sm') %>
      <%= link_to 'Edit', edit_admin_data_source_path(@data_source), class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Delete', admin_data_source_path(@data_source), method: :delete, data: { confirm: 'Are you sure?' },
                                                                  class: 'btn btn-sm btn-danger' %>
    </span>
  </div>
  <%= render 'data_source', data_source: @data_source %>
</div>

<%= render TabsComponent.new(classes: 'preserve-tab-link') do |component| %>
  <% component.with_tab(name: :issues,
                        label: label_count('Issues', @data_source.issues.issue.status_open.count)) do %>
    <% if @data_source.issues.any? %>
      <%= render 'admin/issues/issues_list', issues: @data_source.issues.by_priority_order %>
    <% else %>
      <div class="bg-light p-2">No issues for <%= @data_source.name %>.</div>
    <% end %>
    <div class='pt-3'><%= render 'admin/issues/issues_links', issueable: @data_source %></div>
  <% end %>

  <% component.with_tab(name: :meter_issues,
                        label: label_count('Meter issues', @data_source.active_meter_issues.issue.status_open.count)) do %>
    <% if @data_source.active_meter_issues.issue.any? %>
      <%= render 'admin/issues/issues_list', issues: @data_source.active_meter_issues.issue
                                                                 .status_open.by_priority_order %>
    <% else %>
      <div class="bg-light p-2">No meter issues for <%= @data_source.name %>.</div>
    <% end %>
    <div class='pt-3'><%= render 'admin/issues/issues_links', issueable: @data_source %></div>
  <% end %>
<% end %>
