<%= render 'header', title: "#{@data_source.name} data source" do %>
  <%= header_nav_link 'All data sources', admin_data_sources_url %>
<% end %>

<div class="row pb-2">
  <div class="col-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <div>Active meters <span class="float-right badge badge-success"><%= @data_source.meters.active.count %></span></div>
          <div>Inactive meters <span class="float-right badge badge-secondary"><%= @data_source.meters.inactive.count %></span></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div>Associated schools <span class="float-right badge badge-success"><%= @data_source.schools.active.count %></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light border rounded py-2 mb-2">
  <div class="col-12 clearfix">
    <span data-toggle="collapse" href="#data-source" role="button" aria-expanded="true" aria-controls="data-source" class="badge badge-light toggler text-decoration-none collapsed">
      <%= toggler %>
    </span>
    <%= render 'admin/issues/issueable', issueable: @data_source %>
    <span class="badge badge-info"><%= @data_source.organisation_type.try(:humanize) %></span>
    <span class='float-right'>
      <%= render 'email_report_button', data_source: @data_source, class: 'btn btn-sm' %>
      <%= link_to 'Edit', edit_admin_data_source_path(@data_source), class: 'btn btn-sm' %>
      <%= link_to 'Delete', admin_data_source_path(@data_source), method: :delete, data: { confirm: 'Are you sure?' },
                                                                  class: 'btn btn-sm btn-danger' %>
    </span>
  </div>
  <%= render 'data_source', data_source: @data_source %>
</div>

<ul class="nav nav-tabs url-aware" id="data-source-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues-content" aria-selected="true">
      Issues <span class="badge badge-secondary"><%= @data_source.issues.count %></span>
    </a>
  </li>
</ul>

<div class="tab-content" id="data-source-content">
  <div class="tab-pane fade show active" id="issues" role="tabpanel" aria-labelledby="issues-tab">
    <% if @data_source.issues.any? %>
      <%= render 'admin/issues/issues_list', issues: @data_source.issues, issueable_type: 'Data source' %>
    <% else %>
      <div class="bg-light p-2">No issues for <%= @data_source.name %>.</div>
    <% end %>
    <%= render 'admin/issues/issues_links', issueable: @data_source %>
  </div>
</div>
