<h1>Solar PV Areas</h1>

<% if @solar_pv_tuos_areas.any? %>
<table class="table table-sorted table-sm">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="2">GSP</th>
      <th></th>
      <th>Dates</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Active?</th>
      <th>Id</th>
      <th>Name</th>
      <th>Location</th>
      <th>First</th>
      <th>Last</th>
      <th>Readings</th>
      <th>Back fill</th>
      <th>Schools</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @solar_pv_tuos_areas.each do |area| %>
      <tr>
        <td><%= link_to area.title.to_s, data_feeds_solar_pv_tuos_readings_path(area.id) %></td>
        <td><%= fa_icon(area.active? ? 'check-circle text-success' : 'times-circle text-danger') %></td>
        <td><%= area.gsp_id %></td>
        <td><%= area.gsp_name %></td>
        <td><%= link_to "#{area.latitude}, #{area.longitude}",
                        "https://www.openstreetmap.org/?mlat=#{area.latitude}&mlon=#{area.longitude}",
                        target: '_blank',
                        rel: 'noopener' %></td>
        <td data-order="<%= area.earliest_reading_date&.iso8601 %>"><%= nice_dates(area.earliest_reading_date) %></td>
        <td data-order="<%= area.latest_reading_date&.iso8601 %>"><%= nice_dates(area.latest_reading_date) %></td>
        <td><%= area.solar_pv_tuos_readings.count %></td>
        <td><%= area.back_fill_years %></td>
        <td><%= area.schools.active.count %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Edit', edit_admin_solar_pv_tuos_area_path(area), class: 'btn btn-sm' %>
            <%= link_to 'Report', data_feeds_solar_pv_tuos_readings_path(area.id), class: 'btn btn-sm' %>
            <%= link_to 'CSV', data_feeds_solar_pv_tuos_readings_path(area.id, format: 'csv'), class: 'btn btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>There are no Solar PV Areas</p>
<% end %>

<%= link_to 'New Solar PV Area', new_admin_solar_pv_tuos_area_path, class: 'btn' %>
