<h1>Solar PV Areas</h1>

<% if @solar_pv_tuos_areas.any? %>
<table class="table table-sorted">
  <thead>
    <tr>
      <th>Title</th>
      <th>Active?</th>
      <th>GSP Id</th>
      <th>GSP Name</th>
      <th>Location</th>
      <th>Readings</th>
      <th>Earliest date</th>
      <th>Latest date</th>
      <th>Back fill years</th>
      <th>Schools</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @solar_pv_tuos_areas.each do |area| %>
      <tr>
        <td><%= link_to "#{area.title}", data_feeds_solar_pv_tuos_readings_path(area.id) %></td>
        <td><%= fa_icon( area.active? ? 'check-circle text-success' : 'times-circle text-danger') %></td>
        <td><%= area.gsp_id %></td>
        <td><%= area.gsp_name %></td>
        <td><%= area.latitude %>, <%= area.longitude %></td>
        <td><%= area.solar_pv_tuos_readings.count %></td>
        <td><%= area.first_reading_date %></td>
        <td><%= area.last_reading_date %></td>
        <td><%= area.back_fill_years %></td>
        <td><%= area.schools.count %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Edit', edit_admin_solar_pv_tuos_area_path(area), class: 'btn' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>There are no Solar PV Areas</p>
<% end %>

<%= link_to 'New Solar PV Area', new_admin_solar_pv_tuos_area_path, class: 'btn' %>
