<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Your account details</h1>

    <p><%= @school_onboarding.school_name %> will have an administrator login to manage your school on Energy Sparks.</p>

    <p>You can use an existing administrator account if you have one:</p>

    <p>
      <%= link_to "Use an existing account", new_onboarding_sessions_path(@school_onboarding), class: :btn %>
    </p>

    <p>Or, to set up a new account, enter the name, email and password you want to use below:</p>

    <%= simple_form_for(@user, url: onboarding_account_path(@school_onboarding)) do |f| %>
      <%= f.input :name, label: 'Your name'%>
      <%= f.input :email %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :staff_role_id, label: 'Role', required: :true, collection: StaffRole.order(:title), label_method: :title, hint: 'What is your primary role in relation to Energy Sparks?'%>

      <%= render 'shared/agree_terms_checkbox' %>

      <%= f.button :submit, 'Create my account' %>
    <% end %>
  </div>
</div>
