<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.account.title') %></h1>

    <p><%= t('onboarding.account.message_1') %>.</p>

    <p><%= t('onboarding.account.message_2') %>:</p>

    <p>
      <%= link_to t('onboarding.account.use_existing_account'), new_onboarding_sessions_path(@school_onboarding), class: :btn %>
    </p>

    <p><%= t('onboarding.account.message_3') %>:</p>

    <%= simple_form_for(@user, url: onboarding_account_path(@school_onboarding)) do |f| %>
      <%= f.input :name, label: t('onboarding.account.your_name') %>
      <%= f.input :email %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :staff_role_id, required: :true, collection: StaffRole.order(:title), label_method: :translated_title, hint: t('onboarding.account.role_hint') %>

      <%= render 'shared/agree_terms_checkbox' %>
      <%= f.button :submit, t('onboarding.account.create') %>
    <% end %>
  </div>
</div>
