<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.account.title') %></h1>

    <p><%= t('onboarding.account.message_1') %>.</p>

    <p><%= t('onboarding.account.message_2') %>:</p>

    <p>
      <%= link_to t('onboarding.account.use_existing_account'), new_onboarding_sessions_path(@school_onboarding),
                  class: :btn %>
    </p>

    <p><%= t('onboarding.account.message_3') %>:</p>

    <%= simple_form_for(@user, url: onboarding_account_path(@school_onboarding)) do |f| %>

      <%= render 'form', f:,
                         user: @user,
                         email_types: @email_types,
                         interests: @interests %>

      <%= render 'shared/agree_terms_checkbox', f: f, user: @user %>
      <%= f.button :submit, t('onboarding.account.create') %>
    <% end %>
  </div>
</div>
