<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Step 1: Create your school administrator account</h1>

    <p>Your administrator login will allow you to manage your school on Energy Sparks.</p>

    <p>You can use an existing administrator account if you have one:</p>

    <p>
      <%= link_to "Use an existing account", new_onboarding_sessions_path(@school_onboarding), class: :btn %>
    </p>

    <p>Use the form below to create a new account:</p>

    <%= simple_form_for(@user, url: onboarding_account_path(@school_onboarding)) do |f| %>
      <%= f.input :name, label: 'Your name'%>
      <%= f.input :email %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :staff_role_id, label: 'Role', required: :true, collection: StaffRole.order(:title), label_method: :title, hint: 'What is your primary role in relation to Energy Sparks?'%>

      <div class="custom-control custom-checkbox pb-3">
        <input type="checkbox" class="custom-control-input" id="user_auto_subscribe_newsletter" name="user[subscribe_to_newsletter]"
        <%= @school_onboarding.subscribe_to_newsletter ? 'checked' : 'unchecked' %>" >
        <label class="custom-control-label" for="user_auto_subscribe_newsletter">Subscribe to newsletters</label>
      </div>

      <%= render 'shared/agree_terms_checkbox' %>
      <%= f.button :submit, 'Create my account' %>
    <% end %>
  </div>
</div>
