<table class="table table-borderless table-sorted advice-table advice-priority-table">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="3" class='text-center'><%= t('advice_pages.index.priorities.table.columns.savings') %></th>
    </tr>
    <tr>
      <th><%= t('advice_pages.index.priorities.table.columns.fuel_type') %></th>
      <th data-orderable="false"></th>
      <th><%= t('advice_pages.index.priorities.table.columns.kwh_saving') %></th>
      <th><%= t('advice_pages.index.priorities.table.columns.cost_saving') %></th>
      <th><%= t('advice_pages.index.priorities.table.columns.co2_reduction') %></th>
    </tr>
  </thead>
  <tbody id="priority">
    <% management_priorities.each do |priority| %>
      <tr>
        <td data-order="<%= priority.alert_type.fuel_type %>">
          <span class="<%= fuel_type_class(priority.alert_type.fuel_type) %>">
            <%= fa_icon alert_icon(priority.alert, 'fa-2x') %>
          </span>
        </td>
        <td>
          <% if priority.advice_page.present? %>
            <%= link_to priority.management_priorities_title,
                        advice_page_path(school,
                                         priority.advice_page,
                                         priority.alert_type.advice_page_tab_for_link_to,
                                         anchor: priority.alert_type.link_to_section) %>
          <% else %>
            <%= priority.management_priorities_title %>
          <% end %>
        </td>
        <td data-order="<%= formatted_unit_to_num(priority.template_variables[:one_year_saving_kwh]) %>">
          <%= format_unit(formatted_unit_to_num(priority.template_variables[:one_year_saving_kwh]), :kwh) %>
        </td>
        <td>
          <%= priority.template_variables[:average_one_year_saving_gbp] %>
        </td>
        <td data-order="<%= formatted_unit_to_num(priority.template_variables[:one_year_saving_co2]) %>">
          <%= format_unit(formatted_unit_to_num(priority.template_variables[:one_year_saving_co2]), :co2) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
