<div class="row">
  <div class="col-md-3">
    <div class="custom-control custom-checkbox pb-3">
      <input type="checkbox" class="custom-control-input" id="user_auto_subscribe_newsletter" name="user[auto_subscribe_newsletter]" <%= "checked" if checked %> >
      <label class="custom-control-label" for="user_auto_subscribe_newsletter"><%= t('schools.users.auto_subscribe_newsletter.subscribe_to_newsletters') %></label>
    </div>
  </div>
  <div class="col-md-9">
    <p><%= t('schools.users.auto_subscribe_newsletter.newsletters_main_communication_channel') %>:</p>
    <ul>
      <li><%= t('schools.users.auto_subscribe_newsletter.newsletters_main_communication_channel_list_item_1') %></li>
      <li><%= t('schools.users.auto_subscribe_newsletter.newsletters_main_communication_channel_list_item_2') %></li>
      <li><%= t('schools.users.auto_subscribe_newsletter.newsletters_main_communication_channel_list_item_3') %></li>
      <li><%= t('schools.users.auto_subscribe_newsletter.newsletters_main_communication_channel_list_item_4') %></li>
    </ul>
    <p><%= t('schools.users.auto_subscribe_newsletter.we_strongly_recommend_you_sign_up') %>.</p>
  </div>
</div>
