<h2><%= t('schools.users.index.title') %></h2>
<p><%= t('schools.users.index.introduction') %></p>

<div id="school_admin">
  <% if @school_admins.any? %>
    <%= render 'users', users: @school_admins %>
  <% else %>
    <p><%= t('schools.users.index.no_school_admin_accounts') %>.</p>
  <% end %>
</div>

<%= link_to t('schools.users.index.new_school_admin_account'), new_school_user_path(@school, role: :school_admin),
            class: 'btn btn-primary' %>

<%= render 'role', role: :staff, users: @staff %>

<%= render 'role', role: :student, users: @students %>

<h2 class="mt-4"><%= t('schools.users.index.pupil_accounts') %></h2>

<p>
  <%= t('schools.users.index.pupil_accounts_message_1') %>
  <%= t('schools.users.index.pupil_accounts_message_2') %>
</p>

<% if @pupils.any? %>
  <table id="pupil" class="table table-condensed">
    <thead>
      <tr>
        <th><%= t('schools.users.index.name') %></th>
        <th><%= t('schools.users.index.password') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pupils.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td>
              <%= begin
                    user.pupil_password
                  rescue StandardError
                    t('schools.users.index.could_not_decrypt')
                  end %>
            </td>
            <td>
              <div class="btn-group">
                <%= if can?(:edit, user)
                      link_to(t('common.labels.edit'), edit_school_pupil_path(@school, user),
                              class: 'btn btn-primary btn-sm')
                    end %>
                <% if can?(:manage, :admin_functions) %>
                      <%= if user.access_locked?
                            link_to t('schools.users.index.unlock'),
                                    unlock_school_user_path(@school, user),
                                    method: :post,
                                    class: 'btn btn-warning btn-sm'
                          end %>
                      <% if user.active %>
                        <%= link_to 'Disable', admin_user_disable_path(user_id: user.id),
                                    class: 'btn btn-warning btn-sm' %>
                      <% else %>
                        <%= link_to 'Enable', admin_user_enable_path(user_id: user.id),
                                    class: 'btn btn-warning btn-sm' %>
                      <% end %>
                <% end %>
                <%= if can?(:delete, user)
                      link_to(t('common.labels.delete'), school_user_path(@school, user),
                              method: :delete, data: { confirm: t('common.confirm') },
                              class: 'btn btn-danger btn-sm')
                    end %>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('schools.users.index.no_pupil_accounts') %>.</p>
<% end %>

<%= link_to t('schools.users.index.new_pupil_account'), new_school_pupil_path(@school), class: 'btn btn-primary' %>
