<h2>School admin accounts</h2>
<p>School admin accounts have access to all Energy Sparks functionality and can manage other users and update school details</p>

<% if @school_admins.any? %>
  <table class="table table-condensed school_admin">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Account confirmed?</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @school_admins.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= y_n(user.confirmed?) %></td>
            <td><%= user.staff_role.try(:title) %></td>
            <td>
              <div class="btn-group">
                <%= link_to('Edit', edit_school_user_path(@school, user), class: 'btn btn-primary btn-sm') if can?(:edit, user) %>
                <%= link_to('Delete', school_user_path(@school, user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm') if can?(:delete, user) %>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no school admin accounts for this school.</p>
<% end %>

<%= link_to 'New school admin account', new_school_user_path(@school, role: :school_admin), class: 'btn btn-primary' %>
<%= link_to 'Add an existing Energy Sparks user as a school admin', new_school_cluster_admin_path(@school), class: 'btn btn-primary' %>

<h2 class="mt-4">Staff accounts</h2>
<p>Staff accounts have access to teacher, management and pupil Energy Sparks functionality and alerts but cannot manage other accounts</p>

<% if @staff.any? %>
  <table class="table table-condensed staff">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Account confirmed?</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @staff.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= y_n(user.confirmed?) %></td>
            <td><%= user.staff_role.try(:title) %></td>
            <td>
              <div class="btn-group">
                <%= link_to('Edit', edit_school_user_path(@school, user), class: 'btn btn-primary btn-sm') if can?(:edit, user) %>
                <%= link_to('Delete', school_user_path(@school, user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm') if can?(:delete, user) %>
                <%= link_to('Make school admin', make_school_admin_school_user_path(@school, user), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm') if can?(:edit, user) %>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no staff accounts for this school.</p>
<% end %>

<%= link_to 'New staff account', new_school_user_path(@school, role: :staff), class: 'btn btn-primary' %>

<h2 class="mt-4">Pupil accounts</h2>

<p>
  Pupil accounts allow your school's pupils to log into Energy Sparks using only a password, no email address is required.
  These accounts can be created to be used in classrooms or with eco-teams, one account per classroom or team and the passwords can then be shared with the pupils.
</p>

<% if @pupils.any? %>
  <table class="table table-condensed pupils">
    <thead>
      <tr>
        <th>Name</th>
        <th>Password</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pupils.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.pupil_password rescue '(could not decrypt)' %></td>
            <td>
              <div class="btn-group">
                <%= link_to('Edit', edit_school_pupil_path(@school, user), class: 'btn btn-primary btn-sm') if can?(:edit, user) %>
                <%= link_to('Delete', school_user_path(@school, user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm') if can?(:delete, user) %>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no pupil accounts for this school.</p>
<% end %>

<%= link_to 'New pupil account', new_school_pupil_path(@school), class: 'btn btn-primary' %>
