<h1>New <%= @user.role.humanize(capitalize: false) %> account</h1>
<p>
  New users will be sent an email to confirm their account and will then be asked to set a password for their account before it can be accessed.
</p>
<%= simple_form_for @user, url: school_users_path(@school) do |f| %>
  <%= f.hidden_field :role %>
  <%= render 'form', f: f %>
  <%= render 'schools/users/auto_create_alert_contact', f: f, school: @school, user: @user %>
  <%= render 'schools/users/auto_subscribe_newsletter' %>
  <%= f.submit 'Create account', class: 'btn btn-rounded'%>
<% end %>
