<%= content_for :page_title, t('pupils.public_displays.index.title') %>

<div class="row">
  <div class="col-12">
    <h1><%= t('pupils.public_displays.index.title') %></h1>
    <%= t('pupils.public_displays.index.intro_html') %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2><%= t('pupils.public_displays.index.equivalences.title') %></h2>
    <p><%= t('pupils.public_displays.index.equivalences.intro_html') %></p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table advice-table">
      <thead>
        <tr>
          <th><%= t('advice_pages.index.priorities.table.columns.fuel_type') %></th>
          <th><%= t('pupils.public_displays.table.columns.url_pattern') %></th>
          <th><%= t('pupils.public_displays.table.columns.link') %></th>
        </tr>
      </thead>
      <tbody>
        <% if @school.has_electricity? %>
          <tr>
            <td><%= t('common.electricity') %></td>
            <td><code>/pupils/schools/<%= @school.slug %>/public-displays/electricity/equivalences</code></td>
            <td><%= link_to t('pupils.public_displays.table.columns.link'),
                            pupils_school_public_displays_equivalences_path(@school, :electricity) %></td>
          </tr>
        <% end %>
        <% if @school.has_gas? %>
          <tr>
            <td><%= t('common.gas') %></td>
            <td><code>/pupils/schools/<%= @school.slug %>/public-displays/gas/equivalences</code></td>
            <td><%= link_to t('pupils.public_displays.table.columns.link'),
                            pupils_school_public_displays_equivalences_path(@school, :gas) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2><%= t('pupils.public_displays.index.charts.title') %></h2>
    <p><%= t('pupils.public_displays.index.charts.intro_html') %></p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table advice-table">
      <thead>
        <tr>
          <th><%= t('advice_pages.index.priorities.table.columns.fuel_type') %></th>
          <th><%= t('pupils.public_displays.table.columns.chart_type') %></th>
          <th><%= t('pupils.public_displays.table.columns.description') %></th>
          <th><%= t('pupils.public_displays.table.columns.url_pattern') %></th>
          <th><%= t('pupils.public_displays.table.columns.link') %></th>
        </tr>
      </thead>
      <tbody>
        <% if @school.has_electricity? %>
          <% %i[last_week out_of_hours].each do |chart_type| %>
            <tr>
              <td><%= t('common.electricity') %></td>
              <td><%= t("pupils.public_displays.index.charts.#{chart_type}.title") %></td>
              <td><%= t("pupils.public_displays.index.charts.#{chart_type}.description") %></td>
              <td><code>/pupils/schools/<%= @school.slug %>/public-displays/electricity/charts/<%= chart_type %></code></td>
              <td><%= link_to t('pupils.public_displays.table.columns.link'),
                              pupils_school_public_displays_charts_path(@school, :electricity, chart_type) %></td>
            </tr>
          <% end %>
        <% end %>
        <% if @school.has_gas? %>
          <% %i[last_week out_of_hours].each do |chart_type| %>
            <tr>
              <td><%= t('common.gas') %></td>
              <td><%= t("pupils.public_displays.index.charts.#{chart_type}.title") %></td>
              <td><%= t("pupils.public_displays.index.charts.#{chart_type}.description") %></td>
              <td><code>/pupils/schools/<%= @school.slug %>/public-displays/gas/charts/<%= chart_type %></code></td>
              <td><%= link_to t('pupils.public_displays.table.columns.link'),
                              pupils_school_public_displays_charts_path(@school, :gas, chart_type) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
