<h1>Issue report for: <%= @user.display_name %></h1>


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Issue for</th>
      <th>Title</th>
      <th>Fuel</th>
      <th class="nowrap">Assigned to</th>
      <th>Status</th>
      <th>Updated</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.by_created_at.each do |issue| %>
      <tr class="bg-light">
        <td title="<%= issue.issue_type %>"><%= issue_type_image(issue.issue_type) %></td>
        <td><%= render 'admin/issues/issueable', issueable: issue.try(:issueable) %></td>
        <td width="100%" class="overflow">
          <%= render 'admin/issues/pinned', issue: issue %>
          <span title="<%= issue.title %>" data-toggle="tooltip"><%= issue.title %></span><br />
          <%= render 'admin/issues/meters', issue: issue %>
        </td>
        <td><%= render 'admin/issues/fuel_type', issue: issue %></td>
        <td><%= render 'admin/issues/owned_by', issue: issue %></td>
        <td><%= render 'admin/issues/status', issue: issue %></td>
        <td><div class="badge badge-pill bg-white text-dark font-weight-normal nowrap"><%= nice_date_times_today(issue.updated_at) %></div></td>
        <td>
          <%= link_to 'View', polymorphic_url([:admin, issue.issueable, issue]), class: "btn btn-sm" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_polymorphic_url([:admin, @issueable, issue]), class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View all issues for #{@user.email}", admin_issues_url(user: @user) %>