<h1>Open issues for: <%= @user.display_name %></h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Issue for</th>
      <th>Group</th>
      <th>Title</th>
      <th>Fuel</th>
      <th>Review</th>
      <th>Created By</th>
      <th>Created</th>
      <th>Updated By</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td title="<%= issue.issue_type %>"><%= issue_type_image(issue.issue_type) %></td>
        <td>
          <%= render 'admin/issues/issueable', issueable: issue.try(:issueable), email: true %>
          <% if issue.created_at > 1.week.ago %>
            <span class="badge bg-danger rounded text-white" title="New this week!">new!</span>
          <% end %>
        </td>
        <td><%= link_to issue.school_group.try(:name), admin_school_group_url(issue.school_group) if issue.school_group %></td>
        <td style="min-width: 100px;" class="overflow">
          <span title="<%= issue.title %>" data-toggle="tooltip">
            <%= link_to issue.title, polymorphic_url([:admin, issue.issueable, issue]) %>
          </span>
        </td>
        <td>
          <%= render 'admin/issues/fuel_type', issue: issue, email: true %>
        </td>
        <td><%= review_date_badge(issue, label: false, humanise: false) %></td>
        <td><%= issue.created_by.display_name %></td>
        <td>
          <div class="badge bg-white rounded-full text-dark nowrap">
          <%= short_dates(issue.created_at) %>
          </div>
        </td>
        <td><%= issue.updated_by.display_name %></td>
        <td>
          <div class="badge bg-white rounded-full text-dark font-weight-normal nowrap">
            <%= short_dates(issue.updated_at) %>
          </div>
        </td>
        <td>
          <%= link_to 'Edit', edit_polymorphic_url([:admin, @issueable, issue]), class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "View all issues for: #{@user.display_name}", admin_issues_url(user: @user) %></p>
