<ul class="nav nav-tabs locales">
  <li class="nav-item d-md-none">
    <%= render PageNavComponent::CollapseButton.new %>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == :insights %>" href="<%= group_advice_page_path(school_group,
                                                                                             advice_page_key, :insights) %>">
      <%= t('advice_pages.tabs.insights') %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab == :analysis %>" href="<%= group_advice_page_path(school_group,
                                                                                             advice_page_key, :analysis) %>">
      <%= t('advice_pages.tabs.analysis') %>
    </a>
  </li>
</ul>
