<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.school_characteristics') %></strong></h4>
<%= t('school_groups.advice_pages.how_have_we_analysed_your_data.school_characteristics_html') %>

<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.cost_calculations') %></strong></h4>
<% t('advice_pages.how_have_we_analysed_your_data.cost_calculations_introduction').each do |paragraph| %>
  <p><%= paragraph %></p>
<% end %>

<h4><strong><%= t('advice_pages.how_have_we_analysed_your_data.school_comparisons') %></strong></h4>
<%= t('advice_pages.how_have_we_analysed_your_data.school_comparisons_introduction_html') %>
