<%= tag.div id: 'page-nav', class: class_names(classes, 'collapse d-md-flex') do %>
  <ul class="nav flex-column flex-nowrap w-100">
    <li class="nav-item"><%= header %></li>
    <% sections.each do |section| %>
      <% if section.visible %>
        <li class="nav-item overflow-hidden section">
          <%= section %>
          <div class="<%= class_names('collapse', { show: section.expanded? }) %>" id="<%= section.id %>" aria-expanded="false">
            <ul class="flex-column pl-0">
              <% section.items.each do |item| %>
                <li class="nav-item">
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
