<%= form_tag create_multiple_admin_alert_type_school_alert_type_exceptions_path(@alert_type), method: :put do %>
  <% SchoolGroup.all.order(name: :asc).each do |school_group| %>
    <h2><%= school_group.name %></h2>
    <ul class="list-group">
      <% school_group.schools.order(name: :asc).each do |school| %>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <%= check_box_tag "school_ids[]", school.id, (SchoolAlertTypeException.find_by(alert_type: @alert_type, school_id: school.id)), { id: "school_ids_#{school.id}", class: 'custom-control-input' } %>
            <%= label_tag "school_ids[#{school.id}]", school.name, class: 'custom-control-label' %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="actions mt-3">
    <%= submit_tag "Create exceptions", class: 'btn' %>
  </div>
<% end %>

