<%# Great candidate for a component! %>
<% recording = local_assigns[:recording] %>
<% task = local_assigns[:task] ||= recording.task %>

<%= render Layout::GridComponent.new(cols: 2, classes: 'pb-4', id: 'feature') do |grid| %>
  <%= grid.with_feature_card(tag_position: :bottom, size: :lg, classes: 'h-100', column_classes: 'col-12 col-md-8') do |feature| %>
    <%= feature.with_header(title: task.name) %>
    <%= feature.with_description(classes: 'pt-2 pb-2') do %>
      <% if recording %>
        <ul class='small text-muted'>
          <% if !recording.persisted? %>
            <li>
              <% if recording.task.exceeded_maximum_in_year?(recording.school) %>
                <%= t("#{recording_key}.form.exceeded_maximum_in_year", maximum: recording.task.maximum_frequency) %>
              <% else %>
                <%= t("#{recording_key}.form.completing_this_activity",
                      maximum: recording.task.maximum_frequency,
                      count: recording.task.score) %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= t("#{recording_key}.form.previous_years") %>
          </li>
        </ul>
      <% else %>
        <%= task.summary %>
      <% end %>
  <% end %>
    <%= feature.with_tag(t('nav.points', count: task.score),
                         colour: :success, tooltip: t("tasks.points.#{task.public_type}")) %>
    <% if task.is_a?(ActivityType) %>
      <% task.key_stages.order(:name).each do |key_stage| %>
        <%= feature.with_tag(t(key_stage.i18n_key), colour: :info, tooltip: t('activity_types.key_stages')) %>
      <% end %>
      <% task.subjects.order(:name).each do |subject| %>
        <%= feature.with_tag(t(subject.i18n_key), colour: :warning, tooltip: t('activity_types.subjects')) %>
      <% end %>
    <% end %>
  <% end %>
  <%= grid.with_image(
        src: cdn_link_url(task.t_attached_or_default(:image, placeholder: 'placeholder300x200.png')),
        column_classes: 'col-12 col-md-4 d-flex align-items-center justify-content-center',
        classes: 'img-fluid', height: '200px', fit: false, rounded: :all
      ) %>
<% end %>
