<div class="card mb-3" id="pupil-password">
  <div class="card-header">
    <h4>
      <%= t('onboarding.completion.new.pupil_password_section.title') %>
      <span class="float-end">
        <button class="btn" data-toggle="collapse" data-target="#collapse-pupil-password"
                aria-expanded="<%= params[:show] == 'pupil-password' ? 'true' : 'false' %>"
                aria-controls="collapse-pupil-password">
          <%= t('common.labels.view') %>
        </button>
      </span>
    </h4>
  </div>
  <div id="collapse-pupil-password" class="collapse <%= 'show' if params[:show] == 'pupil-password' %>">
    <div class="card-body">
      <% if @pupil %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th><%= t('onboarding.completion.new.pupil_password_section.pupil_account_name') %>:</th>
              <td><%= @pupil.name %></td>
            </tr>
            <tr>
              <th><%= t('onboarding.completion.new.pupil_password_section.pupil_password') %>:</th>
              <td><%= @pupil.pupil_password %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to t('onboarding.completion.new.pupil_password_section.edit_pupil_account'),
                    edit_onboarding_pupil_account_path(@school_onboarding),
                    class: 'btn btn-primary' %>
      <% else %>
        <p><%= t('onboarding.pupil_account.message_1') %></p>
        <p><%= t('onboarding.pupil_account.message_2') %></p>
        <p><%= t('onboarding.pupil_account.message_3') %></p>
        <%= link_to t('onboarding.pupil_account.create'),
                    new_onboarding_pupil_account_path(@school_onboarding),
                    class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
