<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.completion.new.title') %></h1>

    <p><%= t('onboarding.completion.new.review_and_update_your_answers') %>.</p>

    <div id="accordion">
      <%= render 'your_account_section' %>
      <%= render 'school_details_section' %>
      <%= render 'consent_section' %>
      <%= render 'school_users_section' %>
      <%= render 'pupil_password_section' if @pupil %>
    </div>

    <%= button_to t('onboarding.completion.new.complete_setup'), onboarding_completion_path(@school_onboarding), method: :post, class: 'btn btn-primary' %>
    <hr>

    <%= render 'optional_steps_section' %>
    <%= render 'opening_times_section' %>
    <%= render 'inset_days_section' if @inset_days %>

    <%= button_to t('onboarding.completion.new.complete_setup'), onboarding_completion_path(@school_onboarding), method: :post, class: 'btn btn-primary' %>
  </div>
</div>
