<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>You're almost there!</h1>

    <p>You've completed all the required sections.</p>

    <div class="card mb-3" id="school-details">
      <div class="card-header">
        <h4>Your school details</h4>
      </div>
      <div class="card-body">
        <dl>
          <dt>School name:</dt>
          <dd><%=@school.name%></dd>
          <dt>URN:</dt>
          <dd><%=@school.urn%></dd>
          <dt>School type:</dt>
          <dd><%=@school.school_type.try(:humanize) %></dd>
          <dt>Key stages:</dt>
          <dd><%=@school.key_stages.map(&:name).to_sentence %></dd>
          <dt>Number of pupils:</dt>
          <dd><%=@school.number_of_pupils %></dd>
          <dt>Floor area:</dt>
          <dd><%=@school.floor_area %></dd>
          <dt>School address:</dt>
          <dd><%=@school.address %></dd>
          <dt>Postcode:</dt>
          <dd><%=@school.postcode %></dd>
          <dt>Website:</dt>
          <dd><%=@school.website %></dd>
          <dt>Has solar panels?</dt>
          <dd><%= @school.indicated_has_solar_panels ? 'Yes' : 'No' %></dd>
          <dt>Has night storage heaters?</dt>
          <dd><%= @school.indicated_has_storage_heaters ? 'Yes' : 'No' %></dd>
          <dt>Has swimming pool?</dt>
          <dd><%= @school.has_swimming_pool ? 'Yes' : 'No' %></dd>
          <dt>Serves school dinners?</dt>
          <dd><%= @school.serves_dinners ? 'Yes' : 'No' %></dd>
          <% if @school.serves_dinners %>
            <dt>Cooks dinners on site</dt>
            <dd><%= @school.cooks_dinners_onsite ? 'Yes' : 'No' %></dd>
            <% if @school.cooks_dinners_onsite %>
              <dt>Cook dinners for other schools:</dt>
              <dd><%= @school.cooks_dinners_for_other_schools ? 'Yes' : 'No' %></dd>
              <% if @school.cooks_dinners_for_other_schools %>
                <dt>Number of schools:</dt>
                <dd><%= @school.cooks_dinners_for_other_schools_count %></dd>
              <% end %>
            <% end %>
          <% end %>
        </dl>
        <%= link_to 'Edit school details', edit_onboarding_school_details_path(@school_onboarding), class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card mb-3" id="your-account">
      <div class="card-header">
        <h4>Your account</h4>
      </div>
      <div class="card-body">
        <dl>
          <dt>Name:</dt>
          <dd><%=current_user.name%></dd>
          <dt>Email:</dt>
          <dd><%=current_user.email%></dd>
          <dt>Password:</dt>
          <dd>***********</dd>
        </dl>
        <%= link_to 'Edit your account', edit_onboarding_account_path(@school_onboarding), class: 'btn btn-primary' %>
      </div>
    </div>

    <% if @pupil %>
      <div class="card mb-3" id="pupil-password">
        <div class="card-header">
          <h4>Pupil account</h4>
        </div>
        <div class="card-body">
          <dl>
            <dt>Name:</dt>
            <dd><%=@pupil.name%></dd>
            <dt>Password:</dt>
            <dd><%= @pupil.pupil_password %></dd>
          </dl>
          <%= link_to 'Edit pupil account', edit_onboarding_pupil_account_path(@school_onboarding), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

    <h2>Other things you might want to look at:</h2>
    <p>
    It's not necessary for you to fill in the following sections to complete the sign-up process,
    but the more information you provide the quicker your school can start using Energy Sparks
    and our our energy calculations will be more accurate.
    <p>

    <div class="card mb-3" id="meters">
      <div class="card-header">
        <h4>Meters: <%=@school.meters.count%></h4>
      </div>
      <div class="card-body">
        <% if @school.meters.empty? %>
          <p>If you have the details of your energy meters to hand then you can input them here. If not, we can get your meter details form your Local Authority.</p>
        <% else %>
          <table class="table mb-3">
            <thead>
              <tr>
                <th>Type</th>
                <th>MPAN/MPRN</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <% @school.meters.each do |meter|%>
              <tr>
                <td><%= meter.meter_type.humanize %></td>
                <td><%= meter.mpan_mprn %></td>
                <td><%= meter.name %></td>
                <td>
                  <%= link_to 'Edit', edit_onboarding_meter_path(@school_onboarding, meter), class: 'btn btn-sm btn-warning' %>
                </td>
              </tr>
            <% end %>
            <tbody>
            </tbody>
          </table>
        <% end %>
        <%= link_to 'Add a meter', new_onboarding_meter_path(@school_onboarding), class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card mb-3" id="opening-times">
      <div class="card-header">
        <h4>School opening times</h4>
      </div>
      <div class="card-body">
        <p>We've set some default school opening times. If your school has different opening times then you can update them here:</p>
        <table class="table mb-3">
          <thead>
            <tr>
              <th>Day</th>
              <th>Opening times</th>
            </tr>
          </thead>
          <tbody>
            <% @school_times.each do |school_time| %>
              <tr>
                <td><%= school_time.day.humanize %></td>
                <td>
                  <%= format_school_time(school_time.opening_time) %> - <%= format_school_time(school_time.closing_time) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to 'Set school times', edit_onboarding_school_times_path(@school_onboarding), class: 'btn btn-primary' %>
      </div>
    </div>

    <% if @inset_days %>
      <div class="card mb-3" id="inset-days">
        <div class="card-header">
          <h4>Inset days: <%= @inset_days.count %></h4>
        </div>
        <div class="card-body">
          <p>We've created a calendar for your school based on your school area's term times and national bank holidays.</p>
          <p>Adding your school's inset days helps us make our energy calculations more accurate for days where the school may be closed.</p>
          <p>Once your account is activated, you will be able to add any other dates where your school terms differ from your Local Authority recommended dates.</p>
          <table class="table mb-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @inset_days.each do |inset_day| %>
                <tr>
                  <td><%= inset_day.start_date %></td>
                  <td><%= inset_day.calendar_event_type.title %></td>
                  <td><%= inset_day.title %></td>
                  <td>
                    <div class="btn-group">
                      <%= link_to 'Edit', edit_onboarding_inset_day_path(@school_onboarding, inset_day), class: 'btn btn-sm btn-warning' %>
                      <%= link_to 'Delete', onboarding_inset_day_path(@school_onboarding, inset_day), method: :delete, class: 'btn btn-sm btn-danger' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to 'Add an inset day', new_onboarding_inset_day_path(@school_onboarding), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

    <div class="card mb-3" id="alert-contacts">
      <div class="card-header">
        <h4>Sign-up for Energy Sparks alerts</h4>
      </div>
      <div class="card-body">
        <%= render 'shared/contact_explainer' %>
        <p>The alerts can be sent by email or text message to a mobile phone.</p>
        <table class="table mb-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Mobile phone number</th>
              <th>Email Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <% @school.contacts.each do |contact|%>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.description %></td>
              <td><%= contact.mobile_phone_number %></td>
              <td><%= contact.email_address %></td>
              <td>
                <%= link_to 'Edit', edit_onboarding_contact_path(@school_onboarding, contact), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Delete', onboarding_contact_path(@school_onboarding, contact), method: :delete, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
          <tbody>
          </tbody>
        </table>
        <%= link_to 'Add an alert contact', new_onboarding_contact_path(@school_onboarding), class: 'btn btn-primary' %>
      </div>
    </div>


    <p>If you're ready to finish....</p>

    <%= button_to "I've finished!", onboarding_completion_path(@school_onboarding), method: :post, class: 'btn btn-primary btn-success' %>
  </div>
</div>
