<h1>You're almost there!</h1>

<h2>What you've given us so far:</h2>

<p>[Details from process]</p>

<h2>Other things you might want to look at:</h2>
<p>
  It's not necessary for you to fill in the following sections to complete the sign-up process,
  but the more information you provide the quicker your school can start using Energy Sparks
  and our our energy calculations will be more accurate.
<p>

<h3>Meters: <%=@school.meters.count%></h3>

<% if @school.meters.empty? %>
  <p>If you have the details of your energy meters to hand then you can input them here. If not, we can get your meter details form your Local Authority.</p>
<% else %>
  <p>[List meters]</p>
<% end %>
<%= link_to 'Add a meter', new_onboarding_meter_path(@school_onboarding.uuid), class: 'btn btn-primary' %>

<h3>School opening times</h3>
<p>We've set some default school opening times. If your school has different opening times then you can update them here:</p>
<table>
  <tbody>
    <% @school_times.each do |school_time| %>
      <tr>
        <td><%= school_time.day.humanize %></td>
        <td><%= format_school_time(school_time.opening_time) %></td>
        <td>-</td>
        <td><%= format_school_time(school_time.closing_time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Set school times', edit_onboarding_school_times_path(@school_onboarding.uuid), class: 'btn btn-primary' %>


<p>[If you're ready to finish:]</p>

<%= button_to "I've finished!", onboarding_completion_path(@school_onboarding.uuid), method: :post, class: 'btn btn-primary' %>
