<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.completion.new.title') %></h1>

    <p><%= t('onboarding.completion.new.review_and_update_your_answers') %>.</p>

    <div id="accordion">
      <div class="card mb-3" id="your-account">
        <div class="card-header">
          <h4>
            <%= t('onboarding.completion.new.section_1.title') %>
            <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-account"
              aria-expanded="<%= params[:show]=='account' ? 'true' : 'false' %>" aria-controls="collapse-account"><%= t('common.labels.view') %></button></span>
          </h4>

        </div>
        <div id="collapse-account" class="collapse <%= 'show' if params[:show]=='account' %>">
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th><%= t('onboarding.completion.new.name') %>:</th>
                  <td><%=@school_onboarding.created_user.name%></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.email') %>:</th>
                  <td><%=@school_onboarding.created_user.email%></td>
                </tr>
                <% if @school_onboarding.created_user.staff_role.present? %>
                  <tr>
                    <th><%= t('onboarding.completion.new.role') %>:</th>
                    <td><%= t(@school_onboarding.created_user.staff_role.i18n_key) %></td>
                  </tr>
                <% end %>
                <tr>
                  <th><%= t('onboarding.completion.new.password') %>:</th>
                  <td>***********</td>
                </tr>
              </tbody>
            </table>
            <%= link_to t('onboarding.completion.new.section_1.edit_your_account'), edit_onboarding_account_path(@school_onboarding), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class="card mb-3" id="school-details">
        <div class="card-header">
          <h4>
            <%= t('onboarding.completion.new.section_2.title') %>
            <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-school-details"
              aria-expanded="<%= params[:show]=='school-details' ? 'true' : 'false' %>" aria-controls="collapse-school-details"><%= t('common.labels.view') %></button></span>
          </h4>
        </div>
        <div id="collapse-school-details" class="collapse <%= 'show' if params[:show]=='school-details' %>">
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.school_name') %>:</th>
                  <td><%=@school.name%></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.urn') %>:</th>
                  <td><%=@school.urn%></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.school_address') %>:</th>
                  <td><%=@school.address %></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.postcode') %>:</th>
                  <td><%=@school.postcode %></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.website') %>:</th>
                  <td><%=@school.website %></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.stage_of_education') %>:</th>
                  <td>
                    <% if @school.school_type.present? %>
                      <%= @school.school_type.try(:humanize) %>
                    <% else %>
                      <%= link_to t('common.labels.edit'), edit_onboarding_school_details_path(@school_onboarding, anchor: 'basic-details') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.key_stages') %>:</th>
                  <td>
                    <% if @school.key_stages.present? %>
                      <%= @school.key_stages.map {|ks| t(ks.i18n_key) }.to_sentence %>
                    <% else %>
                      <%= link_to t('common.labels.edit'), edit_onboarding_school_details_path(@school_onboarding, anchor: 'basic-details') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.number_of_pupils') %>:</th>
                  <td>
                    <% if @school.number_of_pupils.present? %>
                      <%=@school.number_of_pupils %>
                    <% else %>
                      <%= link_to t('common.labels.edit'), edit_onboarding_school_details_path(@school_onboarding, anchor: 'basic-details') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.percentage_of_free_school_meals') %>:</th>
                  <td>
                    <% if @school.percentage_free_school_meals.present? %>
                      <%=@school.percentage_free_school_meals %>
                    <% else %>
                      <%= link_to t('common.labels.edit'), edit_onboarding_school_details_path(@school_onboarding, anchor: 'basic-details') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.floor_area') %>:</th>
                  <td>
                    <% if @school.floor_area.present? %>
                      <%=@school.floor_area %>
                    <% else %>
                      <%= link_to t('common.labels.edit'), edit_onboarding_school_details_path(@school_onboarding, anchor: 'school-features') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.school_has_solar_pv_panels') %>?</th>
                  <td><%= @school.indicated_has_solar_panels ? t('common.labels.yes_label') : t('common.labels.no_label') %></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.school_has_night_storage_heaters') %>?</th>
                  <td><%= @school.indicated_has_storage_heaters ? t('common.labels.yes_label') : t('common.labels.no_label') %></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.school_has_its_own_swimming_pool') %>?</th>
                  <td><%= @school.has_swimming_pool ? t('common.labels.yes_label') : t('common.labels.no_label') %></td>
                </tr>
                <tr>
                  <th><%= t('onboarding.completion.new.section_2.school_serves_school_dinners_on_site') %>?</th>
                  <td><%= @school.serves_dinners ? t('common.labels.yes_label') : t('common.labels.no_label') %></td>
                </tr>
                <% if @school.serves_dinners %>
                  <tr>
                    <th><%= t('onboarding.completion.new.section_2.dinners_are_cooked_on_site') %>?</th>
                    <td><%= @school.cooks_dinners_onsite ? t('common.labels.yes_label') : t('common.labels.no_label') %></td>
                  </tr>
                  <% if @school.cooks_dinners_onsite %>
                    <tr>
                      <th><%= t('onboarding.completion.new.section_2.kitchen_cooks_dinners_for_other_schools') %>?</th>
                      <td><%= @school.cooks_dinners_for_other_schools ? t('common.labels.yes_label') : t('common.labels.no_label') %></td>
                    </tr>
                    <% if @school.cooks_dinners_for_other_schools %>
                      <tr>
                        <th><%= t('onboarding.completion.new.section_2.number_of_schools') %>:</th>
                        <td><%= @school.cooks_dinners_for_other_schools_count %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>

            <%= link_to t('onboarding.completion.new.section_2.edit_school_details'), edit_onboarding_school_details_path(@school_onboarding), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class="card mb-3" id="consent">
        <div class="card-header">
          <h4>
            <%= t('onboarding.completion.new.section_3.title') %>
            <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-consent"
              aria-expanded="false" aria-controls="collapse-consent"><%= t('common.labels.view') %></button></span>
          </h4>
        </div>
        <div id="collapse-consent" class="collapse">
          <div class="card-body">
            <% if @school.consent_up_to_date? %>
              <%= t('onboarding.completion.new.section_3.consent_up_to_date_message') %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card mb-3" id="school-users">
        <div class="card-header">
          <h4>
            <%= t('onboarding.completion.new.section_4.title') %>
          <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-school-users"
            aria-expanded="<%= params[:show]=='school-users' ? 'true' : 'false' %>" aria-controls="collapse-school-users"><%= t('common.labels.view') %></button></span>
          </h4>
        </div>
        <div id="collapse-school-users" class="collapse <%= 'show' if params[:show]=='school-users' %>">
          <div class="card-body">
            <% if @users.any? %>
              <table class="table table-condensed table-borderless">
                <thead>
                  <tr>
                    <th><%= t('onboarding.completion.new.name') %></th>
                    <th><%= t('onboarding.completion.new.email') %></th>
                    <th><%= t('onboarding.completion.new.admin') %>?</th>
                    <th><%= t('onboarding.completion.new.role') %></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= y_n(user.school_admin?) %></td>
                        <td><%= user.staff_role.try(:title) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p><%= t('onboarding.completion.new.section_4.you_have_not_added_additional_school_accounts_message') %>.</p>
            <% end %>
            <%= link_to t('onboarding.completion.new.section_4.manage_users'), onboarding_users_path(@school_onboarding), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <% if @pupil %>
        <div class="card mb-3" id="pupil-password">
          <div class="card-header">
            <h4>
              <%= t('onboarding.completion.new.section_5.title') %>
              <span class="float-right">
                <button class="btn" data-toggle="collapse" data-target="#collapse-pupil-password"
              aria-expanded="<%= params[:show]=='pupil-password' ? 'true' : 'false' %>" aria-controls="collapse-pupil-password"><%= t('common.labels.view') %>
                </button>
              </span>
            </h4>
          </div>
          <div id="collapse-pupil-password" class="collapse <%= 'show' if params[:show]=='pupil-password' %>">
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th><%= t('onboarding.completion.new.section_5.pupil_account_name') %>:</th>
                    <td><%=@pupil.name%></td>
                  </tr>
                  <tr>
                    <th><%= t('onboarding.completion.new.section_5.pupil_password') %>:</th>
                    <td><%= @pupil.pupil_password %></td>
                  </tr>
                </tbody>
              </table>
              <%= link_to t('onboarding.completion.new.section_5.edit_pupil_account'), edit_onboarding_pupil_account_path(@school_onboarding), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= button_to t('onboarding.completion.new.complete_setup'), onboarding_completion_path(@school_onboarding), method: :post, class: 'btn btn-primary btn-success' %>
    <hr>

    <h2><%= t('onboarding.completion.new.optional_steps') %></h2>

    <p><%= t('onboarding.completion.new.optional_steps_message') %><p>

    <div id="accordion-optional-steps">
      <div class="card mb-3" id="meters">
        <div class="card-header">
          <h4>
            <%= t('onboarding.completion.new.configure_energy_meters') %>
            <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-meters"
              aria-expanded="<%= params[:show]=='meters' ? 'true' : 'false' %>" aria-controls="collapse-meters"><%= t('common.labels.view') %></button></span>
          </h4>
        </div>
        <div id="collapse-meters" class="collapse <%= 'show' if params[:show]=='meters' %>">
          <div class="card-body">
            <% if @school.meters.empty? %>
              <p>
                <%= t('onboarding.completion.new.school_meters_empty_message') %>
              </p>
            <% else %>
              <table class="table table-borderless mb-3">
                <thead>
                  <tr>
                    <th><%= t('onboarding.completion.new.type') %></th>
                    <th><%= t('onboarding.completion.new.mpan_mprn') %></th>
                    <th><%= t('onboarding.completion.new.name') %></th>
                    <th><%= t('onboarding.completion.new.actions') %></th>
                  </tr>
                </thead>
                <% @school.meters.each do |meter|%>
                  <tr>
                    <td><%= meter.meter_type.humanize %></td>
                    <td><%= meter.mpan_mprn %></td>
                    <td><%= meter.name %></td>
                    <td>
                      <%= link_to t('common.labels.edit'), edit_onboarding_meter_path(@school_onboarding, meter), class: 'btn btn-sm btn-warning' %>
                    </td>
                  </tr>
                <% end %>
                <tbody>
                </tbody>
              </table>
            <% end %>
            <%= link_to t('onboarding.completion.new.add_a_meter'), new_onboarding_meter_path(@school_onboarding), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </div>

    <div class="card mb-3" id="opening-times">
      <div class="card-header">
        <h4>
          <%= t('onboarding.completion.new.set_your_school_opening_times') %>
          <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-opening-times"
            aria-expanded="<%= params[:show]=='opening-times' ? 'true' : 'false' %>" aria-controls="collapse-opening-times"><%= t('common.labels.view') %></button></span>
        </h4>
      </div>
      <div id="collapse-opening-times" class="collapse <%= 'show' if params[:show]=='opening-times' %>">
        <div class="card-body">
          <p><%= t('onboarding.completion.new.set_your_school_opening_times_message') %>:
          </p>
          <table class="table table-borderless mb-3">
            <thead>
              <tr>
                <th><%= t('onboarding.completion.new.day') %></th>
                <th><%= t('onboarding.completion.new.opening_times') %></th>
              </tr>
            </thead>
            <tbody>
              <% @school_times.each do |school_time| %>
                <tr>
                  <td><%= school_time.day.humanize %></td>
                  <td>
                    <%= format_school_time(school_time.opening_time) %> - <%= format_school_time(school_time.closing_time) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to t('onboarding.completion.new.set_opening_times'), edit_onboarding_school_times_path(@school_onboarding), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <% if @inset_days %>
      <div class="card mb-3" id="inset-days">
        <div class="card-header">
          <h4><%= t('onboarding.completion.new.configure_inset_days') %>
          <span class="float-right"><button class="btn" data-toggle="collapse" data-target="#collapse-inset-days"
            aria-expanded="<%= params[:show]=='inset-days' ? 'true' : 'false' %>" aria-controls="collapse-inset-days"><%= t('common.labels.view') %></button></span>
          </h4>
        </div>
        <div id="collapse-inset-days" class="collapse <%= 'show' if params[:show]=='inset-days' %>">
          <div class="card-body">
            <%= t('onboarding.completion.new.configure_inset_days_message_html') %>
            <table class="table table-borderless mb-3">
              <thead>
                <tr>
                  <th><%= t('onboarding.completion.new.date') %></th>
                  <th><%= t('onboarding.completion.new.type') %></th>
                  <th><%= t('onboarding.completion.new.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @inset_days.each do |inset_day| %>
                  <tr>
                    <td><%= inset_day.start_date %></td>
                    <td><%= I18n.t(inset_day.calendar_event_type.i18n_key("title")) %></td>
                    <td>
                      <div class="btn-group">
                        <%= link_to t('common.labels.edit'), edit_onboarding_inset_day_path(@school_onboarding, inset_day), class: 'btn btn-sm btn-warning' %>
                        <%= link_to t('common.labels.delete'), onboarding_inset_day_path(@school_onboarding, inset_day), method: :delete, class: 'btn btn-sm btn-danger' %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to t('onboarding.completion.new.add_an_inset_day'), new_onboarding_inset_day_path(@school_onboarding), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <%= button_to t('onboarding.completion.new.complete_setup'), onboarding_completion_path(@school_onboarding), method: :post, class: 'btn btn-primary btn-success' %>
  </div>
</div>
