<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">

    <h1><%= t('onboarding.completion.show.title') %></h1>

    <p>
      <%= t('onboarding.completion.show.school_successfully_set_up', school_name: @school_onboarding.school.name) %>
    </p>

    <h3><%= t('onboarding.completion.show.what_happens_next') %>?</h3>

    <p><%= t('onboarding.completion.show.before_your_school_goes_live_message') %>.</p>

    <p><%= t('onboarding.completion.show.this_normally_takes_24_hours_message') %>.</p>

    <h3><%= t('onboarding.completion.show.eager_to_get_started') %>?</h3>

    <p><%= t('onboarding.completion.show.in_the_meantime_you_can') %>:</p>

    <ul>
      <li>
        Review our <a href="https://energysparks.uk/resources/12/download">user guide</a> or watch our <%= link_to 'training_videos', user_guide_videos_path %>
      </li>
      <li>Sign up to one of our <%= link_to 'live webinar training sessions', training_path %></li>
      <li>
        Or look at how
        <% if @school_onboarding.school.school_group.present? %>
          <%= link_to 'schools in your area', school_group_path(@school_onboarding.school.school_group) %> are using Energy Sparks
        <% else %>
        <%= link_to 'other schools', schools_path %> are using Energy Sparks
        <% end %>
      </li>
    </ul>

  </div>
</div>
