<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">

    <h1><%= t('onboarding.completion.show.title') %></h1>

    <p>
      <%= t('onboarding.completion.show.school_successfully_set_up', school_name: @school_onboarding.school.name) %>
    </p>

    <h3><%= t('onboarding.completion.show.what_happens_next') %></h3>

    <p><%= t('onboarding.completion.show.before_your_school_goes_live_message') %>.</p>

    <p><%= t('onboarding.completion.show.this_normally_takes_24_hours_message') %>.</p>

    <h3><%= t('onboarding.completion.show.eager_to_get_started') %></h3>

    <p><%= t('onboarding.completion.show.in_the_meantime_you_can') %>:</p>

    <ul>
      <li>
        <%= t('onboarding.completion.show.review_user_guide_or_training_videos_message_html', user_guide_path: ResourceFile.user_guide_download_path, user_guide_videos_path: user_guide_youtube_path) %>
      </li>
      <li>
        <%= t('onboarding.completion.show.webinar_training_session_message_html', training_path: training_path) %>
      </li>
      <li>
        <%= t('onboarding.completion.show.or_look_at_how') %>
        <% if @school_onboarding.school.school_group.present? %>
          <%= t('onboarding.completion.show.schools_in_your_area_html', school_group_path: school_group_path(@school_onboarding.school.school_group)) %>
        <% else %>
          <%= link_to t('onboarding.completion.show.other_schools_html', schools_path: schools_path) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
