<p><%= t('advice_pages.electricity_intraday.analysis.summary') %></p>

<p><%= t('advice_pages.electricity_intraday.analysis.sections') %></p>

<ul>
  <li><%= link_to(t('advice_pages.electricity_intraday.analysis.comparison.title'), '#comparison') %></li>
  <li><%= link_to(t('advice_pages.electricity_intraday.analysis.schooldays.title'), '#schooldays') %></li>
  <li><%= link_to(t('advice_pages.electricity_intraday.analysis.holidays.title'), '#holidays') %></li>
  <li><%= link_to(t('advice_pages.electricity_intraday.analysis.weekends.title'), '#weekends') %></li>
  <li><%= link_to(t('advice_pages.electricity_intraday.analysis.trends.title'), '#trends') %></li>
</ul>

<!--  SCHOOL COMPARISON -->
<%= render 'schools/advice/section_title',
           section_id: 'comparison',
           section_title: t('advice_pages.electricity_intraday.analysis.comparison.title') %>

<%= render ChartComponent.new(
      chart_type: :intraday_line_school_days_reduced_data_versus_benchmarks,
      school: @school
    ) do |c| %>
  <% c.with_title do
       t('advice_pages.electricity_intraday.analysis.charts.comparison_chart_title',
         count: @analysis_dates.one_years_data? ? 12 : 1)
     end %>
  <% c.with_subtitle do
       t('advice_pages.electricity_intraday.analysis.charts.comparison_chart_subtitle_html',
         start_month_year: short_dates(
           @analysis_dates.one_years_data? ? @analysis_dates.end_date - 1.year : @analysis_dates.start_date
         ),
         end_month_year: short_dates(@analysis_dates.end_date))
     end %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_intraday.analysis.charts.comparison_chart_explanation_html',
             school_type: t("common.school_types.#{@school.school_type}").downcase) %></p>
  <% end %>
<% end %>

<% key_suffix = @analysis_dates.one_years_data? ? 'two_years_html' : 'since_html' %>

<!--  SCHOOL DAYS -->
<%= render 'schools/advice/section_title',
           section_id: 'schooldays',
           section_title: t('advice_pages.electricity_intraday.analysis.schooldays.title') %>

<%# i18n-tasks-use t("advice_pages.electricity_intraday.analysis.charts.schooldays_chart_subtitle.since_html") %>
<%# i18n-tasks-use t("advice_pages.electricity_intraday.analysis.charts.schooldays_chart_subtitle.two_years_html") %>
<%= render MeterSelectionChartComponent.new(
      chart_type: :intraday_line_school_days_reduced_data,
      meter_selection: @meter_selection,
      chart_subtitle_key: "advice_pages.electricity_intraday.analysis.charts.schooldays_chart_subtitle.#{key_suffix}"
    ) do |c| %>
  <% c.with_title { t('advice_pages.electricity_intraday.analysis.charts.schooldays_chart_title') } %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_intraday.analysis.charts.schooldays_chart_explanation_html') %></p>
  <% end %>
<% end %>

<!--  HOLIDAYS -->
<%= render 'schools/advice/section_title', section_id: 'holidays',
                                           section_title: t('advice_pages.electricity_intraday.analysis.holidays.title') %>

<%# i18n-tasks-use t("advice_pages.electricity_intraday.analysis.charts.holidays_chart_subtitle.since_html") %>
<%# i18n-tasks-use t("advice_pages.electricity_intraday.analysis.charts.holidays_chart_subtitle.two_years_html") %>
<%= render MeterSelectionChartComponent.new(
      chart_type: :intraday_line_holidays,
      meter_selection: @meter_selection,
      chart_subtitle_key: "advice_pages.electricity_intraday.analysis.charts.holidays_chart_subtitle.#{key_suffix}"
    ) do |c| %>
  <% c.with_title { t('advice_pages.electricity_intraday.analysis.charts.holidays_chart_title') } %>
<% end %>

<!--  WEEKENDS -->
<%= render 'schools/advice/section_title', section_id: 'weekends',
                                           section_title: t('advice_pages.electricity_intraday.analysis.weekends.title') %>

<%# i18n-tasks-use t("advice_pages.electricity_intraday.analysis.charts.weekends_chart_subtitle.since_html") %>
<%# i18n-tasks-use t("advice_pages.electricity_intraday.analysis.charts.weekends_chart_subtitle.two_years_html") %>
<%= render MeterSelectionChartComponent.new(
      chart_type: :intraday_line_weekends,
      meter_selection: @meter_selection,
      chart_subtitle_key: "advice_pages.electricity_intraday.analysis.charts.weekends_chart_subtitle.#{key_suffix}"
    ) do |c| %>
  <% c.with_title { t('advice_pages.electricity_intraday.analysis.charts.weekends_chart_title') } %>
<% end %>

<!--  RECENT TRENDS -->
<%= render 'schools/advice/section_title', section_id: 'trends',
                                           section_title: t('advice_pages.electricity_intraday.analysis.trends.title') %>

<%# i18n-tasks-use t('advice_pages.electricity_intraday.analysis.charts.trends_chart_subtitle_html') %>
<%= render MeterSelectionChartComponent.new(
      chart_type: :intraday_line_school_last7days,
      meter_selection: @meter_selection,
      chart_subtitle_key: 'advice_pages.electricity_intraday.analysis.charts.trends_chart_subtitle_html'
    ) do |c| %>
  <% c.with_title { t('advice_pages.electricity_intraday.analysis.charts.trends_chart_title') } %>
  <% c.with_footer do %>
    <p><%= t('advice_pages.electricity_intraday.analysis.charts.trends_chart_explanation') %></p>
  <% end %>
<% end %>
