<table class="mt-2 table table-sm advice-table">
  <thead>
    <th><%= t('advice_pages.electricity_intraday.insights.how_do_you_compare.table.category') %></th>
    <th class="text-right"><%= t('kw') %></th>
    <th class="text-right"><%= t('advice_pages.electricity_intraday.insights.how_do_you_compare.table.your_kw') %></th>
  </thead>
  <tr>
    <td>
      <%= t('advice_pages.electricity_intraday.insights.how_do_you_compare.table.exemplar_school') %>
    </td>
    <td class="text-right">
      <%= format_unit(@peak_usage_benchmarking&.average_peak_usage_kw(compare: :exemplar_school), :kw) %>
    </td>
    <td class="text-right">
      <%= format_unit(@peak_usage_calculation&.average_peak_kw, :kw) %>
    </td>
  <tr>
</table>
<%= render 'schools/advice/how_have_we_analysed_your_data_table_caption', data_target: "how-have-we-analysed-your-data-footnotes" %>