<%= t('advice_pages.electricity_intraday.insights.your_current_peak_electricity_use.the_table_below',
      start_date: short_dates(@peak_usage_service_date_range.first),
      end_date: short_dates(@peak_usage_service_date_range.last)) %>

<table class="mt-2 table table-sm advice-table">
  <thead>
    <th class="text-left">
      <%= t('advice_pages.electricity_intraday.insights.your_current_peak_electricity_use.table.average_peak_kw') %>
    </th>
    <% if peak_kw_usage_percentage_change %>
      <th class="text-right">
        <%= t('advice_pages.electricity_intraday.insights.your_current_peak_electricity_use.table.percent_change') %>
      </th>
    <% end %>
  </thead>
  <tr>
    <td class="text-left">
      <%= format_unit(average_peak_kw, :kw) %>
    </td>
    <% if peak_kw_usage_percentage_change %>
      <td class="text-right">
        <%= up_downify(format_unit(peak_kw_usage_percentage_change, :relative_percent)) %>
      </td>
    <% end %>
  </tr>
</table>
<%= render 'schools/advice/how_have_we_analysed_your_data_table_caption',
           data_target: 'how-have-we-analysed-your-data-footnotes' %>
