<% content_for :page_title, t('compare.title') %>

<h1><%= t('compare.title') %></h1>

<div class="row">
  <div class="col-sm-6">
    <p><%= t("compare.intro") %></p>
    <p><%= t("compare.options_html", schools_count: 'X', benchmarks_count: 'Y') %></p>
  </div>
  <div class="col-sm-6">
    <ul class="fa-ul">
      <li class="pb-3"><i class="fa-li fas fa-2x fa-check"></i><%= t('compare.summary.item_1') %>.</li>
      <li class="pb-3"><i class="fa-li fas fa-2x fa-check"></i><%= t('compare.summary.item_2') %>.</li>
      <li class="pb-3"><i class="fa-li fas fa-2x fa-check"></i><%= t('compare.summary.item_3') %>.</li>
    </ul>
  </div>
</div>

<%= render 'tabs' %>
