<% content_for :page_title, t('compare.title') %>

<h1><%= t('compare.title') %></h1>

<div class="row">
  <div class="col-md">
    <p><%= t("compare.intro") %></p>
    <p><%= t("compare.options", schools_count: 'X', benchmarks_count: 'Y') %></p>
  </div>
  <div class="col-md">
    <%= t("compare.summary_html") %>
  </div>
</div>

<%= render 'tabs' %>
