<div class="bg-light p-3 mb-3 rounded border clearfix">
  <%= link_to t('compare.filter.change_options'), compare_index_url(index_params), class: 'btn btn-sm float-right' %>
  <p><%= t('compare.filter.title') %></p>

  <% if @filter[:search] == 'type' %>
    <p><%= t('compare.filter.schools_with_type_html', school_type: (@filter[:school_type].present? ? t("common.school_types.#{@filter[:school_type]}") : t('compare.filter.all_school_types'))) %></p>
  <% else %>
    <% if @filter[:search] == 'group' %>
      <p><%= t('compare.filter.schools_in_school_group_html', school_group: current_school_group.name) %></p>
    <% elsif @filter[:search] == 'country' %>
      <p><%= t('compare.filter.schools_with_country_html', country: (@filter[:country].present? ? t("school_statistics.#{@filter[:country]}") : t('compare.filter.all_countries'))) %></p>
    <% elsif @filter[:search] == 'groups' %>
      <p><%= t('compare.filter.schools_in_school_groups_html', school_groups: SchoolGroup.find(@filter[:school_group_ids]).map {|school_group| tag.strong(school_group.name)}.to_sentence.html_safe) %></p>
    <% end %>
    <%= render 'school_type_summary' %>
  <% end %>
</div>
