<% content_for :page_title, t('compare.benchmarks.title') %>

<h1><%= t('compare.benchmarks.title') %></h1>

<%= render 'summary' %>

<h4><%= t('compare.benchmarks.description') %></h4>

<% @benchmark_groups.each do |benchmark_group| %>
  <div class="compare card mb-4">
    <div class="card-header"><%= benchmark_group[:name] %></div>
    <div class="card-body pb-0">
      <div class="card-subtitle text-muted"><%= benchmark_group[:description] %></div>
      <ul class="fa-ul card-columns">
        <% if EnergySparks::FeatureFlags.active?(:comparison_reports) || current_user&.admin? %>
          <% benchmark_group[:benchmarks].each do |key, title| %>
            <li class="pt-1">
              <i class="fa-li fas fa-check"></i>
                <% if comparison_page_exists?(key) %>
                  <%= link_to Comparison::Report.find_by(key: key).try(:title),
                              { controller: "/comparisons/#{key}" }.merge(@filter) %>
                <% else %>
                  <%= Comparison::Report.find_by(key: key).try(:title) %>
                <% end %>
                <% if EnergySparks::FeatureFlags.active?(:comparison_reports_link_to_old) || current_user&.admin? %>
                  <%= link_to 'current', compare_path(key, @filter), class: 'badge badge-light' %>
                <% end %>
            </li>
          <% end %>
        <% else %>
          <% benchmark_group[:benchmarks].each do |key, title| %>
            <li class="pt-1"><i class="fa-li fas fa-check"></i>
              <%= link_to title, compare_path(key, @filter) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
