<% content_for :page_title, t('compare.benchmarks.title') %>

<h1><%= t('compare.benchmarks.title') %></h1>

<%= render 'summary' %>

<h4><%= t('compare.benchmarks.description') %></h4>

<% if Flipper.enabled?(:comparison_reports, current_user) %>
  <% Comparison::ReportGroup.by_position.each do |report_group| %>
    <div class="compare card mb-4">
      <div class="card-header">
        <%= report_group.title %>
        <%= admin_button edit_admin_comparisons_report_group_path(report_group) %>
      </div>
      <div class="card-body pb-0">
        <div class="card-subtitle text-muted">
          <%= report_group.description %>
          <%= admin_button edit_admin_comparisons_report_group_path(report_group) %>
        </div>
        <ul class="fa-ul card-columns">
          <% report_group.reports.where(disabled: false).by_title.each do |report| %>
            <li class="pt-1">
              <i class="fa-li fas fa-check"></i>
              <% if comparison_page_exists?(report.key) %>
                <%= link_to report.title,
                            { controller: "/comparisons/#{report.key}" }.merge(@filter) %>
              <% else %>
                <%= report.title %>
              <% end %>
              <% if Flipper.enabled?(:comparison_reports_link_to_old, current_user) %>
                <%= admin_link compare_path(report.key, @filter), to: 'current' %>
              <% end %>
           </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% else %>
  <% @benchmark_groups.each do |benchmark_group| %>
    <div class="compare card mb-4">
      <div class="card-header"><%= benchmark_group[:name] %></div>
      <div class="card-body pb-0">
        <div class="card-subtitle text-muted"><%= benchmark_group[:description] %></div>
        <ul class="fa-ul card-columns">
          <% benchmark_group[:benchmarks].each do |key, title| %>
            <li class="pt-1"><i class="fa-li fas fa-check"></i>
              <%= link_to title, compare_path(key, @filter) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
