<%= render 'header' %>

<div class="row">
  <div class="col">
    <h4 class='my-2'><%= t('compare.group.title', name: @school_group.name) %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md bg-light ml-3 p-3 rounded border">
    <div class="smaller"><%= t('compare.limit_by_school_type') %></div>
    <%= form_tag benchmarks_compare_path, method: :get do %>
      <div class="nowrap ensure-one-checked">
        <% School.school_types.keys.each do |school_type| %>
          <%= check_box_tag('school_types[]', school_type, (params[:school_types] ||= []).include?(school_type), id: school_type, class: "badge-toggle-secondary") %>
          <%= label_tag school_type, t('common.school_types.' + school_type),
              data: {
                toggle: "tooltip",
                placement: "bottom",
                delay: { "show": 500, "hide": 100 }},
              title: "Select at least one" %>
        <% end %>
      </div>
      <div class="pt-2">
        <%= submit_tag 'Compare schools', class: 'btn btn-sm' %>
      </div>
    <% end %>
  </div>
</div>
