<li class="nav-item dropdown" id="our-services">
  <a class="nav-link dropdown-toggle" href="#" id="ourServicesDropDown"
      data-toggle="dropdown"
      data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"><%= t('our_services_menu.our_services') %></a>
  <div class="dropdown-menu scrollable" aria-labelledby="ourServicesDropDown">
    <%= link_to t('our_services_menu.energy_management_tool'), product_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.energy_audits'), energy_audits_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.educational_workshops'), education_workshops_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.training'), training_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.case_studies'), case_studies_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.newsletters'), newsletters_path, class: 'dropdown-item' %>
    <%= link_to t('our_services_menu.videos'), user_guide_youtube_path, class: 'dropdown-item' %>
  </div>
</li>
