<div class="row">
  <div class="col-md-9">
    <div class="row alert alert-secondary info-bar text-dark bg-light" role="alert">
      <div class="col-lg-1 d-none d-lg-block align-self-center">
        <%= far_icon("check-circle text-success fa-3x") %>
      </div>
      <div class="col-lg-11 col-sm-12 align-self-center">
        <%= label %> previously completed
        <strong>
          <%= link_to "#{human_counts(list)}", school_timeline_path(school) %>
        </strong>
        <%= list.count > 1 ? ' most recently on ' : ' on ' %>
        <strong>
          <%= link_to "#{nice_dates(most_recent)}", path %>
        </strong>
      </div>
    </div>
  </div>
</div>
