<% active_meters.each do |meter| %>
  <tr scope="row" class="<%='table-warning' if @invalid_mpan.include?(meter) %>">
    <td title="<%= (meter.meter_type.to_s.humanize) %>"><%= fa_icon(fuel_type_icon(meter.meter_type)) %></td>
    <td><%= meter.mpan_mprn %></td>
    <td><%= meter.name %></td>
    <td><%= meter.amr_data_feed_readings.count %></td>
    <td><%= meter.amr_validated_readings.count %></td>
    <td><%= nice_dates meter.last_validated_reading %></td>
    <td>
      <div class="btn-group btn-group-sm" role="group">
      <%= link_to 'Details', school_meter_path(@school, meter), class: 'btn btn-sm' %>
        <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
          <%= link_to 'Report', admin_reports_amr_validated_reading_path(meter), class: 'btn btn-sm' %>
        <% end %>
      </div>
    </td>
    <td>
      <% if ! meter.pseudo %>
        <div class="btn-group btn-group-sm" role="group">
          <%= link_to 'Edit', edit_school_meter_path(@school, meter), class: 'btn btn-sm' if can?(:edit, meter) %>
          <%= link_to 'Deactivate', deactivate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm' if can?(:deactivate, meter) %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>
