<div>
  <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#meter-notes-<%= meter.id %>">
    <i class="far fa-sticky-note"></i>
  </button>
  <div class="modal fade" id="meter-notes-<%= meter.id %>" tabindex="-1" role="dialog" aria-labelledby="#meter-notes-<%= meter.id %>-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="meter-notes-<%= meter.id %>-title">Meter Notes (<%= meter.mpan_mprn %>)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= meter.notes %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
