<h1>Manage meters: <%= @school.name %></h1>

<% unless @invalid_mpan.empty? %>
  <div class="alert alert-warning">
    There are electricity meters with MPANs that don't appear to have the correct check digit.
  </div>
<% end %>

<% if can?(:validate_meters, @school) && @school.meters_with_readings.any? %>
  <% if @school.process_data? %>
    <div class="alert alert-secondary">
      <%= link_to 'Validate meter readings', school_meter_readings_validation_path(@school), method: :post, class: 'btn mr-3' %>
      This may take some time!
    </div>
  <% else %>
    <div class="alert alert-warning">
      Data processing must be turned on for this school before meter readings can be validated
    </div>
  <% end %>
<% end %>

<p><%= link_to 'School home', school_path(@school) %>, <%= link_to 'School downloads', school_downloads_path(@school) %></p>

<h3>Meters</h3>
<div class="table-responsive">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Meter Point Number</th>
      <th scope="col">Meter Description</th>
      <th scope="col">Imported Readings</th>
      <th scope="col">Validated readings</th>
      <th scope="col">First validated reading</th>
      <th scope="col">Latest validated reading</th>
      <th scope="col">Details</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="9">Active meters</th>
    </tr>
  </thead>
  <tbody>
    <% if @active_meters.any? %>
      <%= render 'active_meters', active_meters: @active_meters %>
    <% else %>
      <tr>
        <td colspan="9">No active meters </td>
      </tr>
    <% end %>
  </tbody>
  <% if @active_pseudo_meters.any? %>
  <thead>
    <tr>
      <th colspan="9">Active pseudo (Low carbon hub) meters</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'active_meters', active_meters: @active_pseudo_meters %>
  </tbody>
  <% end %>

  <% if @inactive_meters.any? %>
    <thead>
      <tr>
        <th colspan="9">Inactive meters</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_meters.each do |meter| %>
        <tr scope="row">
          <td title="<%= (meter.meter_type.to_s.humanize) %>"><%= fa_icon(fuel_type_icon(meter.meter_type)) %></td>
          <td><%= meter.mpan_mprn %></td>
          <td><%= meter.name %></td>
          <td><%= meter.amr_data_feed_readings.count %></td>
          <td><%= meter.amr_validated_readings.count %></td>
          <td><%= nice_dates meter.first_validated_reading %></td>
          <td><%= nice_dates meter.last_validated_reading %></td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
            <%= link_to 'Details', school_meter_path(@school, meter), class: 'btn btn-sm' %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to 'Report', admin_reports_amr_validated_reading_path(meter), class: 'btn btn-sm' %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <% if can? :delete, meter %>
                <%= link_to 'Delete', school_meter_path(@school, meter), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm' %>
              <% else %>
                <button class="btn btn-sm" disabled title="Only admins can delete meters with meter readings">Delete</button>
              <% end %>
              <%= link_to 'Activate', activate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm' if can?(:activate, meter) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= link_to "Meter reviews", admin_school_meter_reviews_path(@school) %>
<% if @pending_reviews %>
  <%= link_to "Review meters", new_admin_school_meter_review_path(@school) %>
<% end %>
</div>

<% if can? :manage, LowCarbonHubInstallation %>
  <hr/>
  <h3>Low carbon hub installations</h3>
  <p><%= link_to 'List low carbon hub installations', school_low_carbon_hub_installations_path(@school) %></p>
  <p><%= link_to 'New carbon hub installation', new_school_low_carbon_hub_installation_path(@school), class: 'btn' %></p>
  <hr/>
<% end %>

<% if can? :create, Meter %>
  <div class="card bg-light mb-3">
    <div class="card-header"><h4>New meter</h4></div>
    <div class="card-body">
      <%= render 'form', school: @school, meter: @meter, show_dcc_fields: false, meter_is_dcc: false %>
    </div>
  </div>
<% end %>
