<h1><%= t('schools.meters.index.title') %></h1>

<% if current_user.admin? %>
  <% if can? :manage, DashboardMessage %>
    <%= render 'admin/shared/dashboard_message', messageable: @school %>
  <% end %>
<div class="alert alert-secondary mb-2">
  <%= link_to t('schools.meters.index.school_downloads'), school_downloads_path(@school), class: 'btn' %>
  <% if can? :manage_solar_feed_configuration, School %>
  <%= link_to t('schools.meters.index.manage_solar_api_feeds'), school_solar_feeds_configuration_index_path(@school), class: 'btn' %>
  <% end %>
  <% if can? :manage, MeterReview %>
    <%= link_to t('schools.meters.index.meter_reviews'), admin_school_meter_reviews_path(@school), class: 'btn' %>
    <% if @pending_reviews %>
      <%= link_to t('schools.meters.index.review_meters'), new_admin_school_meter_review_path(@school), class: 'btn' %>
    <% end %>
  <% end %>
  <% if can? :manage, UserTariff %>
    <%= link_to t('schools.meters.index.manage_tariffs'), school_user_tariffs_path(@school), class: 'btn' %>
  <% end %>
</div>
<% end %>

<% if can?(:validate_meters, @school) && @school.meters_with_readings.any? %>
  <% if @school.process_data? %>
    <div class="alert alert-secondary mb-2">
      <%= link_to t('schools.meters.index.validate_meter_readings'), school_meter_readings_validation_path(@school), method: :post, class: 'btn mr-3' %>
      <%= t('schools.meters.index.this_may_take_some_time') %>
    </div>
  <% else %>
    <div class="alert alert-warning mb-2">
      <%= t('schools.meters.index.data_processing_turned_on_message') %>
    </div>
  <% end %>
<% end %>

<% if can?(:view_target_data, @school) %>
  <% if @enough_data_for_targets %>
    <div class="alert alert-success mb-2">
      <%= link_to t('schools.meters.index.view_target_data'), admin_school_target_data_path(@school), class: 'btn mr-3' %>
      <%= t('schools.meters.index.school_enough_data_message') %>
    </div>
  <% else %>
    <div class="alert alert-warning mb-2">
      <%= link_to t('schools.meters.index.view_target_data'), admin_school_target_data_path(@school), class: 'btn mr-3' %>
      <%= t('schools.meters.index.school_not_enough_data_message') %>
    </div>
  <% end %>
<% end %>

<% unless @invalid_mpan.empty? %>
  <div class="alert alert-warning mb-2">
    <%= t('schools.meters.index.mpan_warning_message') %>.
  </div>
<% end %>

<% colspan = current_user.admin? ? 12 : 11 %>
<% first_colspan = current_user.admin? ? 3 : 2 %>

<div class="table-responsive">
<table class="table table-sm">
  <col>
  <colgroup span="<%= first_colspan %>"></colgroup>
  <colgroup span="2"></colgroup>
  <colgroup span="4"></colgroup>
  <colgroup span="2"></colgroup>
  <thead>
    <tr>
      <th></th>
      <th colspan="<%= first_colspan %>"></th>
      <th colspan="2"><%= t('schools.meters.index.readings') %></th>
      <th colspan="4"><%= t('schools.meters.index.validated_readings') %></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col"><%= t('schools.meters.index.meter') %></th>
      <th scope="col"><%= t('schools.meters.index.name') %></th>
      <% if current_user.admin? %>
        <th scope="col"><%= t('schools.meters.index.data_source') %></th>
        <th scope="col"><%= t('schools.meters.index.admin_meter_status') %></th>
      <% end %>
      <th scope="col"><%= t('schools.meters.index.imported') %></th>
      <th scope="col"><%= t('schools.meters.index.validated') %></th>
      <th scope="col"><%= t('schools.meters.index.first') %></th>
      <th scope="col"><%= t('schools.meters.index.latest') %></th>
      <th scope="col"><%= t('schools.meters.index.zero_days') %></th>
      <th scope="col"><%= t('schools.meters.index.large_gaps') %></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <thead>
    <tr class="bg-light">
      <th colspan="<%= colspan %>"><%= t('schools.meters.index.active_meters') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @active_meters.any? %>
      <%= render 'active_meters', active_meters: @active_meters %>
    <% else %>
      <tr>
        <td colspan="<%= colspan %>"><%= t('schools.meters.index.no_active_meters') %></td>
      </tr>
    <% end %>
  </tbody>
  <% if @active_pseudo_meters.any? %>
  <thead>
    <tr class="bg-light">
      <th colspan="<%= colspan %>"><%= t('schools.meters.index.active_pseudo_meters') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'active_meters', active_meters: @active_pseudo_meters %>
  </tbody>
  <% end %>

  <% if @inactive_meters.any? %>
    <thead>
      <tr class="bg-light">
        <th colspan="<%= colspan %>"><%= t('schools.meters.index.inactive_meters') %></th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_meters.each do |meter| %>
        <tr scope="row">
          <td title="<%= (meter.meter_type.to_s.humanize) %>"><%= fa_icon(fuel_type_icon(meter.meter_type)) %></td>
          <td><%= meter.mpan_mprn %></td>
          <td><%= meter.name %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to meter.data_source.try(:name), admin_data_source_path(meter.data_source) if meter.data_source %>
            </td>
            <td>
              <%= meter.admin_meter_status_label %>
            </td>
          <% end %>
          <td><%= meter.amr_data_feed_readings.count %></td>
          <td><%= meter.amr_validated_readings.count %></td>
          <td><%= short_dates meter.first_validated_reading %></td>
          <td><%= short_dates meter.last_validated_reading %></td>
          <td><%= meter.zero_reading_days.count %></td>
          <td><%= meter.gappy_validated_readings.count %></td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <% if can?(:edit, meter) %>
                <%= link_to t('schools.meters.index.details'), school_meter_path(@school, meter), class: 'btn btn-sm' %>
              <% end %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to t('schools.meters.index.report'), admin_reports_amr_validated_reading_path(meter), class: 'btn btn-sm' %>
              <% end %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to school_meter_path(@school, meter, format: "csv"), class: 'btn btn-info btn-sm' do %>
                  <%= fa_icon('file-download') %>
                <% end %>
              <% end %>
              <%= render 'admin/issues/modal', meter: meter if current_user.admin? %>
            </div>
          </td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to t('common.labels.edit'), edit_school_meter_path(@school, meter), class: 'btn btn-sm' if can?(:edit, meter) %>
              <%= link_to t('common.labels.activate'), activate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm' if can?(:activate, meter) %>
              <% if can? :delete, meter %>
                <%= link_to t('common.labels.delete'), school_meter_path(@school, meter), method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-sm' %>
              <% else %>
                <button class="btn btn-sm" disabled title="<%= t('schools.meters.index.only_admins_message') %>"><%= t('common.labels.delete') %></button>
              <% end %>

            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>

<% if can? :create, Meter %>
  <div class="card bg-light mb-3">
    <div class="card-header"><h4><%= t('schools.meters.index.add_meter') %></h4></div>
    <div class="card-body">
      <%= render 'form', school: @school, meter: @meter, show_dcc_fields: current_user.admin? %>
    </div>
  </div>
<% end %>
