<h1>Meters</h1>

<div class="mb-2">
  <%= link_to 'School downloads', school_downloads_path(@school), class: ''%>
  <% if can? :manage_solar_feed_configuration, School %>
    <%= link_to 'Manage Solar API feeds', school_solar_feeds_configuration_index_path(@school) %>
  <% end %>
  <% if can? :manage, MeterReview %>
    <%= link_to "Meter reviews", admin_school_meter_reviews_path(@school) %>
    <% if @pending_reviews %>
      <%= link_to "Review meters", new_admin_school_meter_review_path(@school) %>
    <% end %>
  <% end %>
  <% if can? :manage, UserTariff %>
    <%= link_to 'Manage tariffs', school_user_tariffs_path(@school) %>
  <% end %>
</div>

<% unless @invalid_mpan.empty? %>
  <div class="alert alert-warning">
    There are electricity meters with MPANs that don't appear to have the correct check digit.
  </div>
<% end %>

<% if can?(:view_target_data, @school) %>
  <% if @enough_data_for_targets %>
    <div class="alert alert-success">
      <%= link_to 'View target data', admin_school_target_data_path(@school), class: 'btn mr-3' %>
      This school has enough data for at least one fuel type to generate targets
    </div>
  <% else %>
    <div class="alert alert-warning">
      <%= link_to 'View target data', admin_school_target_data_path(@school), class: 'btn mr-3' %>
      This school does not have enough data to generate targets
    </div>
  <% end %>
<% end %>

<% if can?(:validate_meters, @school) && @school.meters_with_readings.any? %>
  <% if @school.process_data? %>
    <div class="alert alert-secondary">
      <%= link_to 'Validate meter readings', school_meter_readings_validation_path(@school), method: :post, class: 'btn mr-3' %>
      This may take some time!
    </div>
  <% else %>
    <div class="alert alert-warning">
      Data processing must be turned on for this school before meter readings can be validated
    </div>
  <% end %>
<% end %>

<div class="table-responsive">
<table class="table table-sm">
  <col>
  <colgroup span="2"></colgroup>
  <colgroup span="2"></colgroup>
  <colgroup span="4"></colgroup>
  <colgroup span="2"></colgroup>
  <thead>
    <tr>
      <th></th>
      <th colspan="2"></th>
      <th colspan="2">Readings</th>
      <th colspan="4">Validated Readings</th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col">Meter</th>
      <th scope="col">Name</th>
      <th scope="col">Imported</th>
      <th scope="col">Validated</th>
      <th scope="col">First</th>
      <th scope="col">Latest</th>
      <th scope="col">Zero days</th>
      <th scope="col">Large gaps</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <thead>
    <tr class="bg-light">
      <th colspan="11">Active meters</th>
    </tr>
  </thead>
  <tbody>
    <% if @active_meters.any? %>
      <%= render 'active_meters', active_meters: @active_meters %>
    <% else %>
      <tr>
        <td colspan="11">No active meters </td>
      </tr>
    <% end %>
  </tbody>
  <% if @active_pseudo_meters.any? %>
  <thead>
    <tr class="bg-light">
      <th colspan="11">Active pseudo meters</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'active_meters', active_meters: @active_pseudo_meters %>
  </tbody>
  <% end %>

  <% if @inactive_meters.any? %>
    <thead>
      <tr class="bg-light">
        <th colspan="11">Inactive meters</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_meters.each do |meter| %>
        <tr scope="row">
          <td title="<%= (meter.meter_type.to_s.humanize) %>"><%= fa_icon(fuel_type_icon(meter.meter_type)) %></td>
          <td><%= meter.mpan_mprn %></td>
          <td><%= meter.name %></td>
          <td><%= meter.amr_data_feed_readings.count %></td>
          <td><%= meter.amr_validated_readings.count %></td>
          <td><%= nice_dates meter.first_validated_reading %></td>
          <td><%= nice_dates meter.last_validated_reading %></td>
          <td><%= meter.zero_reading_days.count %></td>
          <td><%= meter.gappy_validated_readings.count %></td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <% if can?(:edit, meter) %>
                <%= link_to 'Details', school_meter_path(@school, meter), class: 'btn btn-sm' %>
              <% end %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to 'Report', admin_reports_amr_validated_reading_path(meter), class: 'btn btn-sm' %>
              <% end %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to school_meter_path(@school, meter, format: "csv"), class: 'btn btn-info btn-sm' do %>
                  <i class="fas fa-file-download"></i>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <% if can? :delete, meter %>
                <%= link_to 'Delete', school_meter_path(@school, meter), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm' %>
              <% end %>
              <%= link_to 'Activate', activate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm' if can?(:activate, meter) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>

<% if can? :create, Meter %>
  <div class="card bg-light mb-3">
    <div class="card-header"><h4>Add meter</h4></div>
    <div class="card-body">
      <%= render 'form', school: @school, meter: @meter, show_dcc_fields: false, meter_is_dcc: false %>
    </div>
  </div>
<% end %>
