<h1>Manage meters: <%= @school.name %></h1>

<% unless @invalid_mpan.empty? %>
  <div class="alert alert-warning">
    There are electricity meters with MPANs that don't appear to have the correct check digit.
  </div>
<% end %>

<% if can?(:validate_meters, @school) && @school.meters_with_readings.any? %>
  <div class="alert alert-secondary">
    <%= link_to 'Validate meter readings', school_meter_readings_validation_path(@school), method: :post, class: 'btn btn-warning mr-3' %>
    This may take some time!
  </div>
<% end %>
<div class="table-responsive">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Meter Type</th>
      <th scope="col">Meter Point Number</th>
      <th scope="col">Meter Description</th>
      <th scope="col">Imported Readings</th>
      <th scope="col">Validated readings</th>
      <th scope="col">Latest validated reading</th>
      <th scope="col">Download</th>
      <th scope="col">Details</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="9">Active meters</th>
    </tr>
  </thead>
  <tbody>
    <% if @active_meters.any? %>
      <%= render 'active_meters', active_meters: @active_meters %>
    <% else %>
      <tr>
        <td colspan="9">No active meters </td>
      </tr>
    <% end %>
  </tbody>
  <% if @active_pseudo_meters.any? %>
  <thead>
    <tr>
      <th colspan="9">Active pseudo (Low carbon hub) meters</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'active_meters', active_meters: @active_pseudo_meters %>
  </tbody>
  <% end %>

  <% if @inactive_meters.any? %>
    <thead>
      <tr>
        <th colspan="9">Inactive meters</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_meters.each do |meter| %>
        <tr scope="row">
          <td><%= meter.mpan_mprn %></td>
          <td><%= meter.name %></td>
          <td><%= meter.meter_type.humanize %></td>
          <td><%= meter.amr_data_feed_readings.count %></td>
          <td><%= meter.amr_validated_readings.count %></td>
          <td><%= nice_dates meter.last_validated_reading %></td>
          <td><%= link_to "CSV", school_meter_path(@school, meter, format: "csv") if meter.amr_validated_readings.any? %></td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
            <%= link_to 'Details', school_meter_path(@school, meter), class: 'btn btn-sm btn-success' %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to 'Report', reports_amr_validated_reading_path(meter), class: 'btn btn-info btn-sm' %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <% if can? :delete, meter %>
                <%= link_to 'Delete', school_meter_path(@school, meter), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              <% else %>
                <button class="btn btn-sm btn-danger" disabled title="Only admins can delete meters with meter readings">Delete</button>
              <% end %>
              <%= link_to 'Activate', activate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>

<div class="card bg-light mb-3">
  <div class="card-header"><h4>New meter</h4></div>
  <div class="card-body">
    <%= render 'form', school: @school, meter: @meter %>
  </div>
</div>

<div class="other-actions">
  <%= link_to 'School home', school_path(@school), class: 'btn btn-secondary' %>
  <%= link_to 'Download AMR data for all meters', school_meters_path(@school, format: :csv), class: 'btn btn-secondary' %>
  <%= link_to 'Low carbon hub installations', school_low_carbon_hub_installations_path(@school), class: 'btn btn-secondary' if can? :manage, LowCarbonHubInstallation %>
  <%= link_to 'New carbon hub installation', new_school_low_carbon_hub_installation_path(@school), class: 'btn btn-secondary' if can? :manage, LowCarbonHubInstallation %>
</div>
