<h1>Manage meters: <%= @school.name %></h1>

<h2>Active meters</h2>
<% if @active_meters.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Meter Point Number</th>
        <th>Meter Name</th>
        <th>Meter Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @active_meters.each do |meter| %>
        <tr scope="row">
          <td><%= meter.meter_no %></td>
          <td><%= meter.name %></td>
          <td><%= meter.meter_type.humanize %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Edit', edit_school_meter_path(@school, meter), class: 'btn btn-warning' %>
              <%= link_to 'Delete', school_meter_path(@school, meter), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No active meters</p>
<% end %>

<h2>New meter</h2>

<%= render 'form', school: @school, meter: @new_meter %>

<% if @inactive_meters.any? %>
  <h2>Inactive meters</h2>
<% end %>
