<h1>Manage meters: <%= @school.name %></h1>

<% unless @invalid_mpan.empty? %>
  <div class="alert alert-warning">
    There are electricity meters with MPANs that don't appear to have the correct check digit.
  </div>
<% end %>

<% if can?(:validate_meters, @school) && @school.meters_with_readings.any? %>
  <div class="alert alert-secondary">
    <%= link_to 'Validate meter readings', school_meter_readings_validation_path(@school), method: :post, class: 'btn btn-warning mr-3' %>
    This may take some time!
  </div>
<% end %>

<% meter_collection = AggregateSchoolService.new(@school).aggregate_school %>
<hr/>
<h2>Heat meters</h2>
<% meter_collection.heat_meters.each do |hm| %>
  <p><%= hm %></p>
<% end %>
<h2>Electricity meters</h2>
<% meter_collection.electricity_meters.each do |hm| %>
  <p><%= hm %></p>
<% end %>
<h2>Solar PV meter</h2>
<p><%= meter_collection.solar_pv_meter %></p>
<p>?<%= meter_collection.solar_pv_meter.inspect %></p>

<h2>Storage meter</h2>
<p><%= meter_collection.storage_heater_meter %></p>
<h2>Aggregated meters</h2>
<p><%= meter_collection.aggregated_heat_meters %></p>
<p><%= meter_collection.aggregated_electricity_meters %></p>

<!-- ]}, @solar_pv_meter=#<Dashboard::Meter:0x00007fb0827b2b10 ...>>, @meter_type=:solar_pv, @fuel_type=:solar_pv, @id=2200021955152, @mpan_mprn=2200021955152, @name="Electricity consumed from solar PV panels", @floor_area=nil, @number_of_pupils=nil, @solar_pv_installation=#<SolarPVPanels:0x00007fb082410e58 @solar_pv_panel_config=#<SolarPVPanels::SolarPVPanelConfiguration:0x00007fb082410de0 @config_by_date_range={Wed, 01 Jan 2014..Sat, 01 Jan 2050=>{:kwp=>6.0, :orientation=>0, :tilt=>30, :shading=>0, :fit_£_per_kwh=>0.3}}>>, @meter_correction_rules=[], @sub_meters=[], @external_meter_id=nil, @meter_attributes={:solar_pv=>[{:start_date=>Wed, 01 Jan 2014, :kwp=>6.0, :orientation=>0, :tilt=>30, :shading=>0, :fit_£_per_kwh=>0.3}]}, @model_cache=#<AnalyseHeatingAndHotWater::ModelCache:0x00007fb082410958 @meter=#<Dashboard::Meter:0x00007fb0827b2b10 ...>, @processed_model_overrides=false, @models={}>, @solar_pv_setup=#<SolarPVPanels:0x00007fb0824108e0 @solar_pv_panel_config=#<SolarPVPanels::SolarPVPanelConfiguration:0x00007fb0824108b8 @config_by_date_range={Wed, 01 Jan 2014..Sat, 01 Jan 2050=>{:kwp=>6.0, :orientation=>0, :tilt=>30, :shading=>0, :fit_£_per_kwh=>0.3}}>>>
 -->
<table class="table table-sm">
  <thead>
    <tr>
      <th>Meter Point Number</th>
      <th>Meter Description</th>
      <th>Meter Type</th>
      <th>Imported Readings</th>
      <th>Validated readings</th>
      <th>First validated reading</th>
      <th>Latest validated reading</th>
      <th>Download</th>
      <th>Actions</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="8">Active meters</th>
    </tr>
  </thead>
  <tbody>
    <% if @active_meters.any? %>
      <% @active_meters.each do |meter| %>
        <tr scope="row" class="<%='table-warning' if @invalid_mpan.include?(meter) %>">
          <td><%= meter.mpan_mprn %></td>
          <td><%= meter.name %></td>
          <td><%= meter.meter_type.humanize %></td>
          <td><%= meter.amr_data_feed_readings.count %></td>
          <td><%= meter.amr_validated_readings.count %></td>
          <td><%= nice_dates meter.first_validated_reading %></td>
          <td><%= nice_dates meter.last_validated_reading %></td>
          <td><%= link_to "CSV", school_meter_path(@school, meter, format: "csv") if meter.amr_validated_readings.any? %></td>
          <td>
            <%= link_to 'Meter details', school_meter_path(@school, meter), class: 'btn btn-sm btn-success' %>
            <div class="btn-group">
              <%= link_to 'Edit', edit_school_meter_path(@school, meter), class: 'btn btn-sm btn-warning' %>
              <% if can?(:report_on, meter) && meter.amr_validated_readings.any? %>
                <%= link_to 'Report', reports_amr_validated_reading_path(meter), class: 'btn btn-info btn-sm' %>
              <% end %>
              <%= link_to 'Deactivate', deactivate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm btn-secondary' %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">No active meters</td>
      </tr>
    <% end %>
  </tbody>
  <% if @inactive_meters.any? %>
    <thead>
      <tr>
        <th colspan="8">Inactive meters</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_meters.each do |meter| %>
        <tr scope="row">
          <td><%= meter.mpan_mprn %></td>
          <td><%= meter.name %></td>
          <td><%= meter.meter_type.humanize %></td>
          <td><%= meter.amr_data_feed_readings.count %></td>
          <td><%= meter.amr_validated_readings.count %></td>
          <td><%= nice_dates meter.first_validated_reading %></td>
          <td><%= nice_dates meter.last_validated_reading %></td>
          <td><%= link_to "CSV", school_meter_path(@school, meter, format: "csv") if meter.amr_validated_readings.any? %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Delete', school_meter_path(@school, meter), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              <% if can?(:report_on, meter)  && meter.amr_validated_readings.any? %>
                <%= link_to 'Report', reports_amr_validated_reading_path(meter), class: 'btn btn-info btn-sm' %>
              <% end %>
              <%= link_to 'Activate', activate_school_meter_path(@school, meter), method: :put, class: 'btn btn-sm btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<div class="card bg-light mb-3">
  <div class="card-header"><h4>New meter</h4></div>
  <div class="card-body">
    <%= render 'form', school: @school, meter: @meter %>
  </div>
</div>

<div class="other-actions">
  <%= link_to 'School home', school_path(@school), class: 'btn btn-secondary' %>
  <%= link_to 'Download AMR data for all meters', school_meters_path(@school, format: :csv), class: 'btn btn-secondary' %>
</div>
