<h1><%= @school.name %><%= " (INACTIVE)" unless @school.active? %> - Removal</h1>

<h2>Visibility</h2>

<% if @school.visible? %>
  <p>School cannot be removed while still visible</p>
<% else %>
  <p>School is not visible</p>
<% end %>


<h2>Users</h2>

<% if @school.users.any? %>
  <p>School cannot be removed while it has users</p>
  <ol>
    <% @school.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ol>
<% else %>
  <p>School has no users</p>
<% end %>


<h2>Meters</h2>

<% if @school.meters.any? %>
  <p>School cannot be removed while it has meters</p>
  <ol>
    <% @school.meters.each do |meter| %>
      <li><%= meter.mpan_mprn %></li>
    <% end %>
  </ol>
  <%= button_to 'Remove meters', deactivate_meters_admin_school_path(@school), method: :post, class: 'btn btn-success'%>
<% else %>
  <p>School has no meters</p>
<% end %>


<h2>Meter Reviews</h2>

<% if @school.meter_reviews.any? %>
  <p>School cannot be removed while it has meter reviews</p>
  <ol>
    <% @school.meter_reviews.each do |meter_review| %>
      <li><%= meter_review.inspect %></li>
    <% end %>
  </ol>
<% else %>
  <p>School has no meter reviews</p>
<% end %>


<% if @can_remove_school %>
  <%= button_to 'Remove school', deactivate_admin_school_path(@school), method: :post, class: 'btn btn-success'%>
<% end %>
