<% content_for :page_title, @school_group.name + ' | ' +  t('school_groups.clusters.titles.index').capitalize %>

<h1><%= @school_group.name %> <%= t('school_groups.clusters.titles.index') %></h1>

<p><%= t('school_groups.clusters.intro', group_type: t("school_groups.clusters.group_type.#{@school_group.group_type}")) %></p>

<p><%= link_to t('school_groups.clusters.buttons.create_new'), new_school_group_cluster_path(@school_group), class: 'btn btn-sm' %></p>

<% if @clusters.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('school_groups.clusters.labels.name') %></th>
        <th><%= t('school_groups.clusters.labels.schools') %></th>
        <th><%= t('common.labels.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @clusters.each do |cluster| %>
          <tr>
            <td><%= cluster.name %></td>
            <td><%= t('school_groups.clusters.schools', count: cluster.schools.count) %></td>
            <td>
              <%= link_to t('common.labels.edit'), edit_school_group_cluster_path(@school_group, cluster), class: 'btn btn-sm' %>
              <%= link_to t('common.labels.delete'), school_group_cluster_path(@school_group, cluster), method: :delete, data: {confirm:  t('common.confirm') }, class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2><%= t('school_groups.clusters.no_clusters') %></h2>
<% end %>
