<style>
  .negative { background-color: <%= Colours.negative_light %>; }
  .positive { background-color: <%= Colours.positive_light %>; }
  .neutral { background-color: <%= Colours.neutral_light %>; }
  .lh-md { line-height: 1.75; }
</style>
<% target_consumptions = SchoolTarget::FUEL_TYPES.filter_map do |fuel_type|
     meeting_target = @school.current_target&.monthly_consumption_status(fuel_type)&.meeting_target
     [fuel_type, meeting_target] unless meeting_target.nil?
   end %>
<% dashboard_alert_groups(alert_contents, filter: false).each do |group, alerts|
     next if alerts.empty? &&
       !(Flipper.enabled?(:target_advice_pages2025) && group == :priority && target_consumptions.present?) %>
  <h4 class="py-4"><%= t("advice_pages.alerts.groups.#{group}") %></h4>
  <% alerts.each do |alert_content| %>
    <%= render 'alert', status: alert_content.colour, icon: alert_type_icon(alert_content.alert.alert_type),
                        link_text: t('alert_mailer.alert_email.find_out_more'),
                        link_url: find_out_more_path_from_alert_content(school, alert_content,
                                                                        params: weekly_alert_utm_parameters,
                                                                        mailer: true) do %>
      <strong><%= sanitize alert_content.email_title %></strong>
      <%= alert_content.email_content %>
    <% end %>
  <% end %>
  <% if group == :priority && Flipper.enabled?(:target_advice_pages2025) %>
    <% target_consumptions.each do |fuel_type, meeting_target| %>
      <%= render 'alert', status: meeting_target ? :positive : :negative, icon: fuel_type_icon(fuel_type),
                          link_text: t('schools.show.review_progress'),
                          link_url: polymorphic_url([@school, :"advice_#{fuel_type}_target"],
                                                    params: weekly_alert_utm_parameters, mailer: true) do %>
        <%= meeting_target_text(meeting_target, fuel_type) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
