<h1>Energy Sparks alerts for <%= link_to @school.name, school_url(@school) %></h1>
<p>You have been assigned as a contact for the following alerts from Energy Sparks.</p>
<% if @unsubscribe_emails %>
  <p>Please contact a school administrator if you wish to unsubscribe from these emails: <%= @unsubscribe_emails %></p>
<% end %>

<% @alert_content.each do |alert_content| %>
  <h2 class="mb-2 mt-2"><%= sanitize alert_content.email_title %></h2>
  <%= alert_content.email_content %>
  <% if alert_content.find_out_more %>
    <p>
      <%= link_to 'Find Out More', school_find_out_more_url(@school, alert_content.find_out_more), class: 'btn btn-primary mt-2 mb-2'%>
    </p>
  <% end %>
  <% if alert_content.unsubscription_uuid %>
    <div class="text-right">
      <%= link_to "[I don't want to see alerts like this]", new_email_unsubscription_url(uuid: alert_content.unsubscription_uuid), class: 'text-muted' %>
    </div>
  <% end %>
  <hr/>
 <% end %>
