<h1><%= t('alert_mailer.alert_email.title') %></h1>

<div class="s-3"></div>
<p>
  <%= t('alert_mailer.alert_email.paragraph_1_html', school_url: school_url(@school)) %>.
</p>

<div class="s-3"></div>

<h3><%= t('alert_mailer.alert_email.stay_up_to_date') %></h3>

<div class="s-3"></div>

<% if @target_prompt %>
  <% if @school.has_current_target? %>
    <p>
      <%= t('alert_mailer.alert_email.your_school_has_current_target_html',
            target_date: nice_dates(@school.current_target.target_date),
            school_targets_url: school_school_targets_url(@school, params: targets_utm_parameters)) %>.
    </p>
    <%= link_to t('alert_mailer.alert_email.view_your_progress_report'),
                school_school_targets_url(@school, params: targets_utm_parameters),
                class: 'btn btn-primary mt-3 mb-3 ax-right' %>
  <% elsif @school.has_target? %>
    <p>
      <%= t('alert_mailer.alert_email.your_school_has_target_html',
            target_date: nice_dates(@school.most_recent_target.target_date),
            school_targets_url: school_school_target_url(@school, @school.most_recent_target,
                                                         params: targets_utm_parameters)) %>.
    </p>
    <%= link_to t('alert_mailer.alert_email.set_a_new_target'),
                school_school_targets_url(@school, params: targets_utm_parameters),
                class: 'btn btn-primary mt-3 mb-3 ax-right' %>
  <% else %>
    <%= render 'shared/mailer/first_target_prompt', tracking_params: targets_utm_parameters %>
  <% end %>
<% end %>

<p>
  <%= t('alert_mailer.alert_email.dashboard_and_analysis_message_2024_html',
        school_url: school_url(@school, params: weekly_alert_utm_parameters),
        school_analysis_index_url: school_advice_url(@school, params: weekly_alert_utm_parameters),
        alerts_school_advice_url: alerts_school_advice_url(@school, params: weekly_alert_utm_parameters),
        priorities_school_advice_url: priorities_school_advice_url(@school, params: weekly_alert_utm_parameters)) %>.
</p>

<%= link_to t('alert_mailer.alert_email.view_your_school_dashboard'),
            school_url(@school, params: weekly_alert_utm_parameters),
            class: 'btn btn-primary mt-3 mb-3 ax-right' %>

<div class="s-3"></div>

<h3><%= t('alert_mailer.alert_email.take_action_around_the_school') %></h3>
<div class="s-3"></div>
<%= t('alert_mailer.alert_email.take_action_message') %>.
<%= link_to t('alert_mailer.alert_email.take_action_choose'),
            school_recommendations_url(@school, params: weekly_alert_utm_parameters),
            class: 'btn btn-primary mt-3 mb-3 ax-right' %>

<div class="s-3"></div>

<h3><%= t('alert_mailer.alert_email.latest_updates') %></h3>
<div class="s-3"></div>

<%= render 'alerts', school: @school, alert_contents: @alert_content %>

<hr>

<h5><%= t('alert_mailer.alert_email.why_am_i_receiving_these_emails') %></h5>
<div class="s-3"></div>

<% if Flipper.enabled?(:profile_pages) %>
  <p>
    <%= t('alert_mailer.alert_email.you_have_been_signed_up') %>.
    <%= t('alert_mailer.alert_email.unsubscribe_message_html', profiles_url: users_url) %>.
  </p>
<% else %>
  <p><%= t('alert_mailer.alert_email.you_have_been_signed_up') %>.</p>
  <div class="s-3"></div>
<% end %>
<% if @unsubscribe_emails %>
  <p><%= t('alert_mailer.alert_email.if_you_wish_to_completely_unsubscribe') %>: <%= @unsubscribe_emails %></p>
<% end %>
<div class="s-3"></div>

<p>
  <%= t('alert_mailer.alert_email.if_you_have_any_feedback') %>
  <a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a>.
</p>
