<h2><%= t('advice_pages.baseload.analysis_title') %></h2>

<p><%= t('advice_pages.baseload.analysis_summary') %></p>

<%= t('advice_pages.baseload.analysis_sections_html') %>

<h2><%= t('advice_pages.baseload.analysis_recent_trend') %></h2>

<p><%= t('advice_pages.baseload.analysis_usage', baseload_usage: format_target(@baseload_usage.kwh, :kw), benchmark_usage: format_target(@benchmark_usage.kwh, :kw)) %></p>

<% if advice_baseload_high?(@estimated_savings.£) %>
  <p><%= t('advice_pages.baseload.analysis_baseload_high') %></p>
  <p><%= t('advice_pages.baseload.analysis_baseload_high_details_html', estimated_savings: format_target(@estimated_savings.£, :£)) %></p>
<% else %>
  <p><%= t('advice_pages.baseload.analysis_baseload_low') %></p>
  <p><%= t('advice_pages.baseload.analysis_baseload_low_details_html', estimated_savings: format_target(@estimated_savings.£.abs, :£)) %></p>
<% end %>

<h3><%= t('advice_pages.baseload.analysis_electricity_baseload_chart_title') %></h3>

<h4><%= t('advice_pages.baseload.analysis_electricity_baseload_chart_subtitle') %></h4>

<%= chart_tag(@school, @chart_name) %>

<p><%= t('advice_pages.baseload.analysis_electricity_baseload_chart_explanation') %></p>

<h2><%= t('advice_pages.baseload.analysis_long_term_trends') %></h2>

<h2><%= t('advice_pages.baseload.analysis_meter_breakdown') %></h2>

<h2><%= t('advice_pages.baseload.analysis_seasonal_variation') %></h2>

<h2><%= t('advice_pages.baseload.analysis_weekday_variation') %></h2>
