<%= render 'schools/advice/section_title', section_id: 'current', section_title: t('advice_pages.baseload.current_baseload.title') %>

<table class="mt-2 table table-sm advice-table" id="current-baseload">
    <thead>
      <th><%= t('advice_pages.tables.columns.period') %></th>
      <th class="text-right"><%= t('advice_pages.baseload.current_baseload.tables.columns.use') %></th>
      <th class="text-right"><%= t('advice_pages.baseload.current_baseload.tables.columns.percentage_change') %></th>
    </thead>
    <tbody>
      <tr>
        <td><%= t('advice_pages.baseload.current_baseload.last_week') %></td>
        <% if analysis_dates.recent_data %>
          <td class="text-right"><%= format_unit(current_baseload.average_baseload_kw_last_week, :kw) %></td>
          <td class="text-right">
            <%= up_downify( format_unit(current_baseload.percentage_change_week, :relative_percent)) %>
          </td>
        <% else %>
          <td class="text-right old-data">
            <%= t('advice_pages.no_recent_data') %>
          </td>
          <td class="text-right">-</td>
        <% end %>
      </tr>
      <tr>
        <td><%= t('advice_pages.baseload.current_baseload.last_year') %></td>
        <td class="text-right"><%= format_unit(current_baseload.average_baseload_kw_last_year, :kw) %></td>
        <td class="text-right">
          <% if analysis_dates.one_years_data %>
            <%= up_downify( format_unit(current_baseload.percentage_change_year, :relative_percent)) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    </tbody>
</table>
<div class="text-right advice-table-caption">
  <a href="" data-toggle="modal" data-target="#table-footnotes">How did we calculate these figures? <span style="color: #007bff;"><%= fa_icon('question-circle') %></span></a>
</div>

<a href="<%= analysis_school_advice_baseload_path(school) %>"><%= t('advice_pages.baseload.current_baseload.review_our_analysis') %></a>

<div>
  <div class="modal fade" id="table-footnotes" tabindex="-1" role="dialog" aria-labelledby="#table-footnotes-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #232b49 !important; color: white;">
          <h2 class="modal-title" id="table-footnotes-title">How have we analysed your data?</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span style="color: white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h4><strong>Energy data</strong></h4>

        <table class="table table-sm advice-table">
          <thead>
            <tr>
              <th>Fuel type</th>
              <th>Date range</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Electricity</td>
              <td>13 Jan 2019 - 3 Feb 2023</td>
            </tr>
            <tr>
              <td>Gas</td>
              <td>1 Sep 2018 - 3 Feb 2023</td>
            </tr>
          </tbody>
        </table>

        <h4><strong>School characteristics</strong></h4>

        <p>
          The following characteristics are used when analysing your school energy data.
          Temperature compensation uses weather data specific to your school's location.
        </p>

        <table class="table table-sm advice-table">
          <thead>
            <tr>
              <th>Characteristic</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Floor area</td>
              <td><%= @school.floor_area %> m<sup>2</sup></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><%= @school.postcode %> (<%= @school.latitude %>, <%= @school.longitude %>)</td>
            </tr>
            <tr>
              <td>Pupils</td>
              <td><%= @school.number_of_pupils %></td>
            </tr>
            <tr>
              <td>Type</td>
              <td><%= @school.school_type %></td>
            </tr>
          </tbody>
        </table>

        <h4><strong>Cost calculations</strong></h4>

        <ul>
          <li>Consumption costs are estimated based on historic tariff information.</li>
          <li>Future savings are estimates based on your school's latest tariff information.</li>
          <li>Potential cost savings quoted in school comparisons, e.g. for comparable "well managed" and "exemplar" schools are also based on your school's current tariffs.</li>
        </ul>

        <p>
          Your electricity tariffs have changed in the last year, the last change was on Thursday 01 Sep 2022, before this date the average tariff was 15p/kWh, and since it is £3.10/kWh. This will increase your electricity costs by 1,900% going forwards
        </p>

        <h4><strong>School comparisons</strong></h4>

        <p>
          School comparisons are based on benchmarking your school against comparable schools
          based on the characteristics outlined below.
        </p>

        <ul>
          <li>"Exemplar" schools represent the top 17.5% of Energy Sparks schools</li>
          <li>"Well managed" schools represent the top 35% of Energy Sparks schools</li>
        </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('common.labels.close') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
