<div class="charts">
  <h5 id='chart-description' class='chart-subtitle'></h5>
  <%= form_tag "", method: :get, id: "chart-filter" do %>
    <%= hidden_field_tag :configuration, nil, data: {configuration: create_chart_config(school, :baseload)} %>
    <%= hidden_field_tag :descriptions, nil, data: {descriptions: create_chart_descriptions(date_ranges_by_meter)} %>
    <div class="row">
      <div class="col-md-6">
        <p>Select a meter to view its baseload</p>
      </div>
      <div class="col-md-6 form-group">
        <%= select_tag :meter, options_from_collection_for_select(meters, :mpan_mprn, :name_or_mpan_mprn, meters.first.mpan_mprn), include_blank: false, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <%= render(ChartComponent.new(
    chart_type: :baseload,
    school: school,
    html_class: 'usage-chart',
    chart_config: create_chart_config(school, :baseload, meters.first.mpan_mprn)))
  %>
</div>
