<div class="charts">
  <%= form_tag "", method: :get, id: "chart-filter" do %>
    <%= hidden_field_tag :configuration, nil, data: {configuration: create_chart_config(school, :baseload)} %>
    <div class="row">
      <div class="col-md-6">
        <p>Select a meter to view its baseload</p>
      </div>
      <div class="col-md-6 form-group">
        <%= select_tag :meter, options_from_collection_for_select(meters, :mpan_mprn, :name_or_mpan_mprn, meters.first.mpan_mprn), include_blank: false, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 chart-wrapper" id="chart_wrapper_baseload">
      <%= render 'shared/analysis_controls', chart_type: :baseload, axis_controls: true, analysis_controls: true %>
      <%= chart_tag(school, :baseload, no_zoom: true, wrap: false, html_class: 'usage-chart', chart_config: create_chart_config(school, :baseload, @meters.first.mpan_mprn)) %>
    </div>
  </div>
</div>
