<table class="table table-sm table-with-totals">
  <thead class="thead-dark">
    <tr>
      <th class="text-right">Meter</th>
      <th class="text-right">Assessment</th>
      <th class="text-right">Highest day baseload (kW)</th>
      <th class="text-right">Lowest day baseload (kW)</th>
      <th class="text-right">Percentage difference (%)</th>
      <th class="text-right">Potential saving (£)</th>
      <th class="text-right">CO2 reduction (kg)</th>
    </tr>
  </thead>
  <tbody>
    <% intraweek_variation_by_meter.each do |mpan_mprn, variation| %>
    <tr>
      <td class="text-right"><%= mpan_mprn %></td>
      <td class="text-right"><%= format_rating(variation.variation_rating) %></td>
      <td class="text-right"><%= format_target(variation.max_day_kw, :kwh) %></td>
      <td class="text-right"><%= format_target(variation.min_day_kw, :kwh) %></td>
      <td class="text-right"><%= format_target(variation.percent_intraday_variation, :percent) %></td>
      <td class="text-right"><%= format_target(variation.estimated_saving_£, :£) %></td>
      <td class="text-right"><%= format_target(variation.estimated_saving_co2, :kg) %></td>
    </tr>
    <% end %>
    <tr>
      <td class="text-right">Whole school, aggregated meters</td>
      <td class="text-right"><%= format_target(intraweek_variation.variation_rating, :r2) %></td>
      <td class="text-right"><%= format_target(intraweek_variation.max_day_kw, :kwh) %></td>
      <td class="text-right"><%= format_target(intraweek_variation.min_day_kw, :kwh) %></td>
      <td class="text-right"><%= format_target(intraweek_variation.percent_intraday_variation, :percent) %></td>
      <td class="text-right"><%= format_target(intraweek_variation.estimated_saving_£, :£) %></td>
      <td class="text-right"><%= format_target(intraweek_variation.estimated_saving_co2, :kg) %></td>
    </tr>
  </tbody>
</table>
