<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page, tab: @tab do %>

  <h2><%= t('advice_pages.baseload.analysis_title') %></h2>

  <p><%= t('advice_pages.baseload.analysis_summary') %></p>

  <p><%= t('advice_pages.baseload.analysis_sections') %></p>

  <ul>
    <li><%= link_to(t('advice_pages.baseload.analysis_recent_trend_title'), '#recent-trend') %></li>
    <li><%= link_to(t('advice_pages.baseload.analysis_long_term_trends_title'), '#long-term-trends') %></li>
    <% if @multiple_meters %>
      <li><%= link_to(t('advice_pages.baseload.analysis_meter_breakdown_title'), '#meter-breakdown') %></li>
    <% end %>
    <% if @one_years_data %>
      <li><%= link_to(t('advice_pages.baseload.analysis_seasonal_variation_title'), '#seasonal-variation') %></li>
      <li><%= link_to(t('advice_pages.baseload.analysis_weekday_variation_title'), '#weekday-variation') %></li>
    <% end %>
    <% if @multiple_meters %>
      <li><%= link_to(t('advice_pages.baseload.analysis_meter_charts_title'), '#meter-charts') %></li>
    <% end %>
  </ul>


  <!--  RECENT TREND -->

  <%= render 'schools/advice/section_title', section_id: 'recent-trend', section_title: t('advice_pages.baseload.analysis_recent_trend_title') %>

  <p><%= t('advice_pages.baseload.analysis_usage', baseload_usage: format_unit(@average_baseload_kw, :kw), benchmark_usage: format_unit(@average_baseload_kw_benchmark, :kw), months_analysed: @months_analysed) %></p>

  <% if advice_baseload_high?(@estimated_savings.£) %>
    <p><%= t('advice_pages.baseload.analysis_baseload_high') %></p>
    <p><%= t('advice_pages.baseload.analysis_baseload_high_details_html', estimated_savings: format_unit(@estimated_savings.£, :£)) %></p>
  <% else %>
    <p><%= t('advice_pages.baseload.analysis_baseload_low') %></p>
    <p><%= t('advice_pages.baseload.analysis_baseload_low_details_html', estimated_savings: format_unit(@estimated_savings.£.abs, :£)) %></p>
  <% end %>

  <h4 class="chart-title"><%= t('advice_pages.baseload.analysis_electricity_baseload_chart_title', months_analysed: @months_analysed) %></h4>
  <h5 class="chart-subtitle"><%= t('advice_pages.baseload.analysis_electricity_baseload_chart_subtitle', start_month_year: month_year(@one_years_data ? @end_date - 1.year : @start_date), end_month_year: month_year(@end_date)) %></h5>

  <div id="chart_wrapper_baseload_lastyear" class="chart-wrapper">
    <%= render 'shared/analysis_controls', chart_type: :baseload_lastyear, axis_controls: true, analysis_controls: true %>
    <%= chart_tag(@school, :baseload_lastyear, no_zoom: true, wrap: false, chart_config: create_chart_config(@school, :baseload_lastyear, nil)) %>
  </div>

  <p><%= t('advice_pages.baseload.analysis_electricity_baseload_chart_explanation') %></p>

  <% if @multiple_meters %>
    <p><%= t('advice_pages.baseload.analysis_multiple_meters_suggestion_html', link: link_to(t('advice_pages.baseload.analysis_meter_breakdown'), '#meter-breakdown')) %></p>
  <% end %>

  <%= t('advice_pages.baseload.analysis_baseload_chart_considerations_html') %>


  <!--  LONG TERM TRENDS -->

  <%= render 'schools/advice/section_title', section_id: 'long-term-trends', section_title: t('advice_pages.baseload.analysis_long_term_trends_title') %>

  <p><%= t('advice_pages.baseload.analysis_long_term_trends_intro') %></p>
  <p><%= t('advice_pages.baseload.analysis_long_term_trends_table_description') %></p>

  <%= render 'long_term_trends_table', annual_average_baseloads: @annual_average_baseloads %>

  <h4 class="chart-title"><%= t('advice_pages.baseload.analysis_electricity_long_term_baseload_chart_title') %></h4>
  <h5 class="chart-subtitle"><%= t('advice_pages.baseload.analysis_electricity_long_term_baseload_chart_subtitle', start_month_year: month_year(@start_date), end_month_year: month_year(@end_date.last_month)) %></h5>

  <div id="chart_wrapper_baseload_versus_benchmarks" class="chart-wrapper">
    <%= render 'shared/analysis_controls', chart_type: :baseload_versus_benchmarks, axis_controls: true, analysis_controls: true %>
    <%= chart_tag(@school, :baseload_versus_benchmarks, no_zoom: true, wrap: false, chart_config: create_chart_config(@school, :baseload_versus_benchmarks, nil)) %>
  </div>

  <p><%= t('advice_pages.baseload.analysis_electricity_long_term_baseload_chart_explanation') %></p>


  <!--  METER BREAKDOWN TABLE -->

  <% if @multiple_meters %>

    <%= render 'schools/advice/section_title', section_id: 'meter-breakdown', section_title: t('advice_pages.baseload.analysis_meter_breakdown_title') %>

    <p><%= t('advice_pages.baseload.analysis_meter_breakdown_intro') %></p>
    <p><%= t('advice_pages.baseload.analysis_meter_breakdown_table_description', months_analysed: @months_analysed) %></p>

    <%= render 'meter_breakdown_table', school: @school, baseload_meter_breakdown: @baseload_meter_breakdown, baseload_meter_breakdown_total: @baseload_meter_breakdown_total %>

  <% end %>

  <% if @one_years_data %>
    <!--  SEASONAL VARIATION -->
    <%= render 'schools/advice/section_title', section_id: 'seasonal-variation', section_title: t('advice_pages.baseload.analysis_seasonal_variation_title') %>
    <p><%= t('advice_pages.baseload.analysis_seasonal_variation_intro_1') %></p>
    <p><%= t('advice_pages.baseload.analysis_seasonal_variation_intro_2') %></p>

    <% if @multiple_meters %>
      <p><%= t('advice_pages.baseload.analysis_seasonal_variation_table_description') %></p>
      <%= render 'seasonal_variation_breakdown_table', school: @school, seasonal_variation: @seasonal_variation, seasonal_variation_by_meter: @seasonal_variation_by_meter %>
    <% else %>
      <%= render 'seasonal_variation_table', seasonal_variation: @seasonal_variation %>
    <% end %>

    <!--  WEEKDAY VARIATION -->

    <%= render 'schools/advice/section_title', section_id: 'weekday-variation', section_title: t('advice_pages.baseload.analysis_weekday_variation_title') %>
    <p><%= t('advice_pages.baseload.analysis_weekday_variation_intro_1') %></p>
    <p><%= t('advice_pages.baseload.analysis_weekday_variation_intro_2') %></p>

    <% if @multiple_meters %>
      <p><%= t('advice_pages.baseload.analysis_weekday_variation_table_description') %></p>
      <%= render 'weekday_variation_breakdown_table', school: @school, intraweek_variation: @intraweek_variation, intraweek_variation_by_meter: @intraweek_variation_by_meter %>
    <% else %>
      <%= render 'weekday_variation_table', intraweek_variation: @intraweek_variation %>
    <% end %>

  <% end %>

  <!--  METER BREAKDOWN CHARTS -->

  <% if @multiple_meters %>

    <%= render 'schools/advice/section_title', section_id: 'meter-charts', section_title: t('advice_pages.baseload.analysis_meter_charts_title') %>

    <h4><%= t('advice_pages.baseload.analysis_electricity_long_term_baseload_meter_chart_title') %></h4>

    <%= render 'meter_breakdown_charts', school: @school, meters: @meters, date_ranges_by_meter: @date_ranges_by_meter %>

  <% end %>

<% end %>
