<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page, tab: @tab do %>
  <h2><%= t('advice_pages.baseload.insights_title') %></h2>

  <%= render 'what_is_baseload', school: @school %>

  <%= render 'current_baseload', school: @school, analysis_dates: @analysis_dates,
  current_baseload: @current_baseload %>

  <%= render 'comparison', school: @school, benchmarked_baseload: @benchmarked_baseload %>


  <h2>What should you do next?</h2>
  <p>To fully determine the causes of your baseload usage you need to do a survey of what appliances are being left on overnight and their power consumption.</p>
  <%= render(RecommendationsComponent.new(name: "Work with the pupils", recommendations: @activity_types)) %>
  <%= render(RecommendationsComponent.new(name: "Take action around the school", recommendations: @intervention_types)) %>
<% end %>
