<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('calendars.current_events.type') %></th>
      <th><%= t('calendars.current_events.start_date') %></th>
      <th><%= t('calendars.current_events.end_date') %></th>
      <th><%= t('calendars.current_events.last_updated') %></th>
      <% if can? :manage, calendar %>
        <th><%= t('calendars.current_events.status') %></th>
      <% end %>
      <th><%= t('common.labels.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% previous_year = nil %>
    <% current_events.each do |calendar_event| %>
      <%= next if (calendar.school? || calendar.regional?) && calendar_event.calendar_event_type.bank_holiday? %>
      <% if calendar_event.academic_year != previous_year %>
        <% previous_year = calendar_event.academic_year %>
        <tr scope="row">
          <th colspan="6"><%= calendar_event.academic_year.title %></th>
        </tr>
      <% end %>
      <tr scope="row" id='calendar_event_<%= calendar_event.id %>'>
        <td><%= I18n.t(calendar_event.calendar_event_type.i18n_key('title')) %></td>
        <td><%= nice_dates(calendar_event.start_date) %></td>
        <td><%= nice_dates(calendar_event.end_date) %></td>
        <td><%= nice_date_times(calendar_event.updated_at) %></td>
        <% if can? :manage, calendar %>
          <td><%= calendar_event_status(calendar_event) %></td>
        <% end %>
        <td>
          <div class="btn-group">
            <%= link_to t('common.labels.edit'),
                        edit_calendar_calendar_event_path(calendar_event.calendar, calendar_event),
                        class: 'btn btn-primary' %>
            <%= link_to t('common.labels.delete'),
                        calendar_calendar_event_path(calendar, calendar_event),
                        method: :delete, data: { confirm: t('common.confirm') },
                        class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
