<p class="pt-4">
  <% if calendar.school? || calendar.regional? %>
    <%= link_to 'View all older events and bank holidays', calendar_calendar_events_path(calendar) %>
  <% else %>
    <%= link_to 'View all older events', calendar_calendar_events_path(calendar) %>
  <% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Last Updated</th>
      <% if can? :manage, calendar %>
        <th>Status</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% previous_year = nil %>
    <% current_events.each do |calendar_event| %>
      <%= next if (calendar.school? || calendar.regional?) && calendar_event.calendar_event_type.bank_holiday? %>
      <% if calendar_event.academic_year != previous_year %>
        <% previous_year = calendar_event.academic_year %>
        <tr scope="row">
          <th colspan="6"><%= calendar_event.academic_year.title %></th>
        </tr>
      <% end %>
      <tr scope="row" id='calendar_event_<%= calendar_event.id %>'>
        <td><%= calendar_event.calendar_event_type.title %></td>
        <td><%= nice_dates(calendar_event.start_date) %></td>
        <td><%= nice_dates(calendar_event.end_date) %></td>
        <td><%= nice_date_times(calendar_event.updated_at) %></td>
        <% if can? :manage, calendar %>
          <td><%= calendar_event_status(calendar_event) %></td>
        <% end %>
        <td><div class="btn-group"><%= link_to 'Edit', edit_calendar_calendar_event_path(calendar_event.calendar, calendar_event), class: 'btn btn-warning' %><%= link_to 'Delete', calendar_calendar_event_path(calendar, calendar_event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
