<div class="modal" tabindex="-1" id="event-modal" role="dialog" data-calendar=<%= @calendar.id %>>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Calendar Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for([@calendar, CalendarEvent.last], html: { id: 'event_form', calendar_id: @calendar.id, class:"form-horizontal calendar_event_form"} ) do |f| %>
      <%= f.hidden_field :calendar_id, value: @calendar.id %>

      <div class="modal-body">
        <input name="event-index" type="hidden">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>

        </div>
        <div class="form-group">
          <label for="inputAddress">Event Type</label>
          <%= f.select :calendar_event_type_id, options_from_collection_for_select(CalendarEventType.all, 'id', 'display_title',nil) ,{}, { class: 'form-control' } %>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :start_date %>
              <div class="input-group">
                <div class="input-group date" id="start_date_picker_field" data-target-input="nearest">
                 <%= f.text_field(:start_date,
                    { class: 'form-control datetimepicker-input',
                      data: { target: "#start_date_picker_field" },
                      value: f.object.start_date.try(:strftime, "%d/%m/%Y")
                    }
                  ) %>
                  <div class="input-group-append" data-target="#start_date_picker_field" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.label :end_date %>
                <div class="input-group">
                  <div class="input-group date" id="end_date_picker_field" data-target-input="nearest">
                   <%= f.text_field(:end_date,
                      { class: 'form-control datetimepicker-input',
                        data: { target: "#end_date_picker_field" },
                        value: f.object.end_date.try(:strftime, "%d/%m/%Y")
                      }
                    ) %>
                    <div class="input-group-append" data-target="#end_date_picker_field" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
