<div class="modal" tabindex="-1" id="event-modal" role="dialog" data-calendar=<%= @calendar.id %>>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="event-action"></span> Calendar Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for([@calendar, CalendarEvent.new], method: :patch, html: { id: 'event_form', calendar_id: @calendar.id, class:"form-horizontal calendar_event_form"} ) do |f| %>

      <div class="modal-body">
        <input name="event-index" type="hidden">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>

        </div>
        <div class="form-group">
          <label for="inputAddress">Event Type</label>
          <%= f.select :calendar_event_type_id, options_from_collection_for_select(CalendarEventType.all, 'id', 'display_title',nil) ,{}, { class: 'form-control' } %>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.input :start_date, as: :tempus_dominus_date %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.input :end_date, as: :tempus_dominus_date %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
        <button type="button" class="btn" data-dismiss="modal" id="delete_button">Delete</button>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
