<%= form_for(calendar) do |f| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <h2>Terms</h2>
  <table>
    <thead>
      <tr>
        <th>Academic Year</th>
        <th>Term Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :terms do |term_form| %>
        <tr>
          <td>
            <div class="form-group">
              <%= term_form.text_field :academic_year, class: 'form-control' %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= term_form.text_field :name, class: 'form-control' %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= text_field_tag("term_start_date_picker_#{term_form.index}",
                term_form.object.start_date.try(:strftime, "%d/%m/%Y"),
                placeholder: 'select date',
                class: 'form-control term_datepicker',
                data: { altfield: "#calendar_terms_attributes_#{term_form.index}_start_date" }
              ) %>
              <%= term_form.hidden_field :start_date %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= text_field_tag("term_end_date_picker_#{term_form.index}".to_sym,
                term_form.object.end_date.try(:strftime, "%d/%m/%Y"),
                placeholder: 'select date',
                class: 'form-control term_datepicker',
                data: { altfield: "#calendar_terms_attributes_#{term_form.index}_end_date" }
              ) %>
              <%= term_form.hidden_field :end_date %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= term_form.check_box :_destroy, class: 'form-control' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
