<h1>Calendars</h1>

<% if @template_calendars.any? %>
  <h2>Template Calendars for Area</h2>
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dependent Calendars</th>
        <th>Dependent School calendars</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @template_calendars.each do |calendar| %>
        <tr>
          <td><%= calendar.title %></td>
          <td><%= calendar.calendars.count %></td>
          <td><%= School.enrolled.joins(:calendar).where('calendars.based_on_id = ?', calendar.id).count %></td>
          <td class="pull-md-right">
            <%= link_to 'Show', calendar, class: 'btn btn-info' %>
            <%= link_to 'Delete', calendar, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no Calendar Templates </h2>
<% end %>

<% if @customised_calendars.any? %>
  <h2>Calendars for Enrolled Schools</h2>
  <%= render 'calendars', calendars: @customised_calendars %>
<% else %>
  <h2>There are no Customised Calendars </h2>
<% end %>
