<h1>Calendar: <%= @calendar.title %></h1>
<p><%= link_to 'All Calendars', calendars_path %></p>

<div id="calendar" class="calendar"></div>

<%= render 'event_modal' %>


<% if @calendar.template? %>
  <h4>Calendar Template with <%= @calendar.calendars.count %> dependent calendars </h4>
  <h4> and <%= @calendar.schools.count %> schools </h4>

  <% if @calendar.calendars.any? %>
  <p>This calendar is a template to the following calendars:</p>
  <ul>
    <%= @calendar.calendars.each do |calendar| %>
      <li><%= link_to calendar.title, calendar_path(calendar) %></li>
    <% end %>
  </ul>
  <% end %>

  <% if @calendar.schools.any? %>
  <p>This calendar is allocated to the following schools:</p>
  <ul>
    <% @calendar.schools.each do |school| %>
      <li><%= link_to school.name, school_path(school) %></li>
    <% end %>
  </ul>
  <% end %>


<% else %>
  <h2>Based on: <%= @calendar.based_on.title %></h2>

<% end %>
