<h1>Calendar: <%= @calendar.title %></h1>

<% if @calendar.template? %>
  <h2>Calendar Template with <%= @calendar.calendars.count %> dependent calendars </h2>
  <p>This calendar is a template to the following calendars:</p>
  <ul>
    <%= @calendar.calendars.each do |calendar| %>
      <li><%= link_to calendar.title, calendar_path(calendar) %></li>
    <% end %>
  </ul>

<%= link_to 'All Calendars', calendars_path %>

<% else %>
  <h2>Based on: <%= @calendar.based_on.title %></h2>

<% end %>

<div id="calendar" class="calendar"></div>


