<% content_for :page_title, "#{@calendar.title} Calendar" %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= @calendar.title %> Calendar </h1>
  <div>
    <% if can?(:index, Calendar) %>
      <%= link_to "All calendars", admin_calendars_path, class: "btn btn-outline-dark rounded-pill font-weight-bold" %>
    <% end %>
  </div>
</div>

<% if current_user.admin? %>
<div class="mb-2 alert alert-secondary">
  <% if @calendar.regional? %>
    <p>This calendar is a regional calendar, it currently has <%= School.joins(:calendar).where('calendars.based_on_id = ?', @calendar.id).count %> dependent schools and <%= @calendar.calendars.count %> calendars which are dependent.</p>
  <% end %>

  <% if @calendar.national? %>
    <p>This calendar is a national calendar, it currently has <%= @calendar.calendars.count %> calendars which are directly dependent.</p>
  <% end %>

  <% if @calendar.schools.any? %>
    <p>This calendar is allocated to the following schools:</p>
    <ul>
      <% @calendar.schools.each do |school| %>
        <li><%= link_to school.name, school_path(school) %></li>
      <% end %>
    </ul>
  <% end %>
  <% unless @calendar.based_on.nil? %>
    <% if can?(:manage, :parent_calendars) %>
      <p>This calendar is based on the <%= link_to "#{@calendar.based_on.title} #{@calendar.based_on.calendar_type} calendar", calendar_path(@calendar.based_on) %></p>
    <% else %>
      <p>This calendar is based on the <%= @calendar.based_on.title %> <%= @calendar.based_on.calendar_type %> calendar which is maintained by Energy Sparks.</p>
    <% end %>
  <% end %>
</div>
<% end %>

<p>You can amend the events, like the term times by clicking on them, updating the dates and saving the changes. You can also add a new event, like an inset day for example by clicking on the 'Add Event to calendar' button</p>

<p><%= link_to 'Add Event to calendar', new_calendar_calendar_event_path(@calendar), class: 'btn btn-primary' %></p>

<p>You can switch to a list view, which also allows you to delete events here</p>
<p><%= link_to 'List view', calendar_calendar_events_path(@calendar), class: 'btn btn-success' %></p>

<div id="calendar" class="calendar"></div>

<%= render 'legend' %>

<%= render 'event_modal' %>

<% if current_user.admin? %>
  <% if School.joins(:calendar).where('calendars.based_on_id = ?', @calendar.id).any? %>
    <h3>Dependent Schools</h3>
    <p>These schools all have their own calendar, based on this one.</p>
    <ul>
      <% School.joins(:calendar).where('calendars.based_on_id = ?', @calendar.id).each do | school| %>
        <li><%= link_to school.name, calendar_path(school.calendar) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
