<h1>Calendar: <%= @calendar.title %></h1>

<% if @calendar.template? %>
  <p>This calendar is a template calendar, it currently has <%= @calendar.schools.count %> dependent schools and <%= @calendar.calendars.count %> calendars which are dependent.</p>
<% end %>
<p><%= link_to 'All Calendars', calendars_path %></p>
<div id="calendar" class="calendar"></div>

<%= render 'event_modal' %>


<% if @calendar.template? %>
  <% if @calendar.calendars.any? %>
  <p>This calendar is a template to the following calendars:</p>
  <ul>
    <%= @calendar.calendars.each do |calendar| %>
      <li><%= link_to calendar.title, calendar_path(calendar) %></li>
    <% end %>
  </ul>
  <% end %>

  <% if @calendar.schools.any? %>
  <h3>This calendar is allocated to the following enrolled schools:</h3>
  <ul>
    <% @calendar.schools.where(enrolled: true).each do |school| %>
      <li><%= link_to school.name, school_path(school) %></li>
    <% end %>
  </ul>
  <% end %>


<% else %>
  <h2>Based on: <%= @calendar.based_on.title %></h2>

<% end %>
