<% content_for :page_title, 'Report: Alert subscribers' %>

<h1>Alert subscribers</h1>
<p>These are all the users who have subscribed to recieve alert notifications.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Group</th>
      <th>Email</th>
      <th>SMS</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, school_contacts_path(contact.school) %></td>
        <td><%= link_to contact.school.name, school_path(contact.school) %></td>
        <td><%= contact.school.area_name %>
        <td><%= contact.email_address %></td>
        <td><%= contact.mobile_phone_number %></td>
        <td><%= link_to "Edit", edit_school_contact_path(contact.school, contact) , class: 'btn btn-success btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
