<% content_for :page_title, 'Report: Alert subscribers' %>

<h1>Alert subscribers</h1>
<p>These are all the users who have subscribed to recieve alert notifications.</p>

<% @school_groups.each do |school_group| %>
  <h3><%= school_group.name %></h3>
  <table class="table table-sorted">
    <thead>
      <tr>
        <th>Name</th>
        <th>School</th>
        <th>Email</th>
        <th>Phone number for SMS</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% school_group.schools.order(:name).each do |school| %>
        <% if school.contacts.any? %>
          <% school.contacts.each do |contact| %>
            <tr>
              <td><%= link_to contact.name, school_contacts_path(contact.school) %></td>
              <td><%= link_to school.name, school_path(school) %></td>
              <td><%= contact.email_address %></td>
              <td><%= contact.mobile_phone_number %></td>
              <td><%= link_to "Edit", edit_school_contact_path(contact.school, contact) , class: 'btn btn-success btn-sm' %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
