<li class="nav-item dropdown" id="manage-school-menu">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown"
     id="manage_school" href="#" role="button"
     aria-haspopup="true" aria-expanded="false">
     <%= t('manage_school_menu.manage_school') %>
  </a>
  <div class="dropdown-menu" aria-labelledby="manage_school" id="manage_school_menu">
    <%= link_to t('manage_school_menu.edit_school_details'), edit_school_path(school), class: 'dropdown-item' %>
    <%= if can? :manage_school_times, school
          link_to t('manage_school_menu.edit_school_times'), edit_school_times_path(school), class: 'dropdown-item'
        end %>
    <%= link_to t('manage_school_menu.your_school_estate'), edit_school_your_school_estate_path(school),
                class: 'dropdown-item' %>
    <%= if school.calendar && can?(:show, school.calendar)
          link_to t('manage_school_menu.school_calendar'), calendar_path(school.calendar), class: 'dropdown-item'
        end %>
    <%= if can? :manage_users, school
          link_to t('manage_school_menu.manage_users'), school_users_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :manage, Contact
          link_to t('manage_school_menu.manage_alert_contacts'), school_contacts_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :index, Meter
          link_to t('manage_school_menu.manage_meters'), school_meters_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :manage, EnergyTariff
          link_to t('manage_school_menu.manage_tariffs'), school_energy_tariffs_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :show, school
          link_to t('manage_school_menu.digital_signage'), school_digital_signage_path(school), class: 'dropdown-item'
        end %>
    <%= if Flipper.enabled?(:manual_readings, current_user) && Schools::ManualReadingsService.new(school).show_on_menu?
          link_to t('manage_school_menu.manage_manual_readings'), school_manual_readings_path(school),
                  class: 'dropdown-item'
        end %>
    <% if current_user.admin? %>
      <div class="dropdown-divider"></div>
    <% end %>
    <%= link_to 'Review school setup', school_review_path(school), class: 'dropdown-item' if can? :review_setup, school %>
    <%= if can? :configure, school
          link_to t('manage_school_menu.school_configuration'), edit_school_configuration_path(school),
                  class: 'dropdown-item'
        end %>
    <%= if can? :manage, SchoolMeterAttribute
          link_to t('manage_school_menu.meter_attributes'), admin_school_meter_attributes_path(school),
                  class: 'dropdown-item'
        end %>
    <%= if can? :manage, Audit
          link_to t('manage_school_menu.manage_audits'), school_audits_path(school), class: 'dropdown-item'
        end %>
    <%= if school.school_group && can?(:manage, school.school_group)
          link_to t('manage_school_menu.manage_school_group'), admin_school_group_path(school.school_group),
                  class: 'dropdown-item'
        end %>
    <%= if can? :manage, Issue
          link_to t('manage_school_menu.manage_issues'), admin_school_issues_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :view_content_reports, school
          link_to t('manage_school_menu.batch_reports'), school_reports_path(school), class: 'dropdown-item'
        end %>
    <%= if current_user.admin? && Targets::SchoolTargetService.targets_enabled?(school) &&
           can?(:manage, SchoolTarget) && Targets::SchoolTargetService.new(school).enough_data?
          link_to t('manage_school_menu.review_targets'), school_school_targets_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :expert_analyse, school
          link_to t('manage_school_menu.expert_analysis'), admin_school_analysis_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :remove_school, school
          link_to t('manage_school_menu.remove_school'), removal_admin_school_path(school), class: 'dropdown-item'
        end %>
    <%= if can? :manage_settings, school
          link_to t('components.manage_school_navigation.settings'),
                  settings_school_path(school),
                  class: 'dropdown-item'
        end %>
  </div>
</li>
