<%= tag.div id: id, class: class_names(classes, 'scrollable-title') do %>
  <% if Flipper.enabled?(:new_dashboards_2024, user) %>
    <div class="row">
      <div class="col-12 <%= two_column_class %>">
        <%= render Layout::CarouselComponent.new(
              id: 'pupil-left-carousel',
              classes: "row bg-light pt-3 rounded #{two_column_margin(true)}"
            ) do |carousel| %>
          <% left_carousel_equivalences.each_with_index do |equivalence_content, index| %>
            <% carousel.with_equivalence image_name: equivalence_content.equivalence_type.image_name,
                                         fuel_type: equivalence_content.equivalence_type.meter_type,
                                         show_fuel_type: true,
                                         classes: equivalence_component_classes,
                                         layout: equivalence_layout do |e| %>
              <% e.with_header do %>
                <%= equivalence_content.equivalence %>
              <% end %>
              <p>
                <% if data_enabled? %>
                  <%= link_to t('pupils.analysis.explore_energy_data_html',
                                fuel_type: fuel_type_label(equivalence_content)),
                              pupils_school_analysis_path(school,
                                                          category: analysis_category(equivalence_content)),
                              class: 'btn btn-default' %>
                <% else %>
                  <%= t('pupils.schools.show.how_will_school_compare') %>
                <% end %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% unless single_fuel? %>
        <div class="col-12 <%= two_column_class %>">
          <%= render Layout::CarouselComponent.new(
                id: 'pupil-right-carousel',
                classes: "row bg-light pt-3 rounded #{two_column_margin(false)}"
              ) do |carousel| %>
            <% gas_and_storage_heaters.each_with_index do |equivalence_content, index| %>
              <% carousel.with_equivalence image_name: equivalence_content.equivalence_type.image_name,
                                           fuel_type: equivalence_content.equivalence_type.meter_type,
                                           show_fuel_type: true,
                                           classes: equivalence_component_classes,
                                           layout: equivalence_layout do |e| %>
                <% e.with_header do %>
                  <%= equivalence_content.equivalence %>
                <% end %>
                <p>
                  <% if data_enabled? %>
                    <%= link_to t('pupils.analysis.explore_energy_data_html',
                                  fuel_type: fuel_type_label(equivalence_content)),
                                pupils_school_analysis_path(school,
                                                            category: equivalence_content.equivalence_type.meter_type),
                                class: 'btn btn-default' %>
                  <% else %>
                    <%= t('pupils.schools.show.how_will_school_compare') %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render Layout::CarouselComponent.new(id: 'pupil_carousel', show_markers: false) do |carousel| %>
      <% equivalences.each_with_index do |equivalence_content, index| %>
        <% carousel.with_equivalence image_name: equivalence_content.equivalence_type.image_name,
                                     classes: "carousel-item #{'active' if index.zero?}" do |e| %>
          <% e.with_header do %>
            <%= equivalence_content.equivalence %>
          <% end %>
          <p>
            <% if data_enabled? %>
              <%= link_to t('pupils.schools.show.find_how_much_energy_used'),
                          pupils_school_analysis_path(school,
                                                      category: equivalence_content.equivalence_type.meter_type),
                          class: 'btn btn-default' %>
            <% else %>
              <%= t('pupils.schools.show.how_will_school_compare') %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
