<div id="<%= id %>" class="dashboard-equivalences-component <%= classes %>">
  <% if Flipper.enabled?(:new_dashboards_2024, user) %>
    <div class="row">
      <div class="col-6">
        <%= component 'equivalence_carousel',
                      id: 'pupil_left_carousel',
                      classes: 'row bg-light pt-3 rounded' do |carousel| %>
          <% electricity_and_solar.each_with_index do |equivalence_content, index| %>
            <% carousel.with_equivalence image_name: equivalence_content.equivalence_type.image_name,
                                         classes: "carousel-item #{'active' if index.zero?}",
                                         layout: :vertical do |e| %>
              <% e.with_header do %>
                <%= equivalence_content.equivalence %>
              <% end %>
              <p>
                <% if data_enabled? %>
                  <%= link_to t('pupils.schools.show.find_how_much_energy_used'),
                              pupils_school_analysis_path(school),
                              class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
                <% else %>
                  <%= t('pupils.schools.show.how_will_school_compare') %>
                <% end %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-6">
      </div>
    </div>
  <% else %>
    <%= component 'equivalence_carousel', id: 'pupil_carousel' do |carousel| %>
      <% equivalences.each_with_index do |equivalence_content, index| %>
        <% carousel.with_equivalence image_name: equivalence_content.equivalence_type.image_name,
                                     classes: "carousel-item #{'active' if index.zero?}" do |e| %>
          <% e.with_header do %>
            <%= equivalence_content.equivalence %>
          <% end %>
          <p>
            <% if data_enabled? %>
              <%= link_to t('pupils.schools.show.find_how_much_energy_used'),
                          pupils_school_analysis_path(school),
                          class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
            <% else %>
              <%= t('pupils.schools.show.how_will_school_compare') %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
