<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Equivalence" do %>
<div class="row padded-row">
  <div class="col-md-12">
    <p><%= link_to 'View all', school_equivalence_reports_path(@school) %></p>
    <div class="card mb-3">
      <div class="card-header">
        <h4>Equivalence:
          <%= @equivalence.equivalence_type.meter_type.humanize %> -
          <%= @equivalence.equivalence_type.time_period.humanize %>
        </h4>
      </div>
      <div class="card-body">
        <h5>Equivalence variables (English)</h5>
        <%= sanitize ap(@equivalence.data, index: false, plain: true) %>
        <h5>Equivalence variables (Welsh)</h5>
        <%= sanitize ap(@equivalence.data_cy, index: false, plain: true) %>
      </div>
      <div class="card-footer text-muted">
        <p class="card-text"><b>Relevant</b>: <%= @equivalence.relevant %></p>
        <p class="card-text"><b>Run on date</b>: <%= nice_dates @equivalence.created_at %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
