<table class="table">
  <% school_group.schools.active.by_name.each do |school| %>
    <tr class="bg-light">
      <td><%= link_to school.name, school_path(school) %> <%= link_to(dashboard_message_icon(school),
                                                                      edit_admin_school_dashboard_message_path(school)) %></td>
      <td><%= school.funder&.name || school&.school_group&.funder&.name %></td>
      <td><%= render 'shared/school_status_buttons', school: school %></td>
      <td class="nowrap text-right">
        <%= link_to issue_type_icons(school.issues, label: 'Issues'), admin_school_issues_path(school),
                    class: 'btn btn-sm' %>
        <%= link_to 'Edit', edit_school_path(school), class: 'btn btn-sm' %>
        <%= link_to 'Users', school_users_path(school), class: 'btn btn-sm' %>
        <%= link_to 'Meters', school_meters_path(school), class: 'btn btn-sm' %>
      </td>
    </tr>
  <% end %>
</table>
