<%= form_for([:admin, school_group]) do |f| %>

  <%= render 'shared/errors', subject: school_group, subject_name: 'school group' %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <% if school_group.organisation? %>
    <div class="form-group">
      <%= f.label :group_type %>
      <%= f.select :group_type,
                   options_from_collection_for_select(
                     SchoolGroup.organisation_group_types.map do |k, _v|
                       OpenStruct.new(id: k, group_type: k.humanize.capitalize)
                     end,
                     'id', 'group_type', school_group.group_type
                   ),
                   { include_blank: false }, { class: 'form-control' } %>
    </div>
  <% else %>
    <%= f.hidden_field :group_type, value: school_group.group_type %>
  <% end %>

  <div class="form-group">
    <div class="form-check form-check-inline">
      <%= f.check_box :public, class: 'form-check-input' %>
      <%= f.label :public, class: 'form-check-label' %>
    </div>
  </div>

  <% if school_group.organisation? %>
    <%= render 'group_default_fields', f: f, school_group: school_group %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', admin_school_groups_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
