<%= form_for([:admin, school_group]) do |f| %>

  <%= render 'shared/errors', subject: school_group, subject_name: 'school group' %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>


  <div class="card bg-light mb-3">
    <div class="card-header">Group defaults</div>
    <div class="card-body">
      <p class="card-text alert alert-info">
        The following defaults are used to pre-populate values when creating a school. Changing them here will not affect areas for schools currently in this group.
      </p>
      <div class="form-group">
        <%= f.label :default_template_calendar_id, 'Default Template Calendar' %>
        <%= f.select :default_template_calendar_id, options_from_collection_for_select(Calendar.regional.order(:title), 'id', 'title', @school_group.default_template_calendar_id), {include_blank: true}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :default_solar_pv_tuos_area_id, 'Default Solar PV from The University of Sheffield Data Feed Area' %>
        <%= f.select :default_solar_pv_tuos_area_id, options_from_collection_for_select(SolarPvTuosArea.order(:title), 'id', 'title', @school_group.default_solar_pv_tuos_area_id), {include_blank: true}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :default_dark_sky_area_id, 'Default Dark Sky Weather Data Feed Area' %>
        <%= f.select :default_dark_sky_area_id, options_from_collection_for_select(DarkSkyArea.order(:title), 'id', 'title', @school_group.default_dark_sky_area_id), {include_blank: true}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :default_scoreboard_id, 'Default scoreboard' %>
        <%= f.select :default_scoreboard_id, options_from_collection_for_select(Scoreboard.order(:name), 'id', 'name', (@school_group.default_scoreboard_id)), {include_blank: true}, { class: 'form-control' } %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
