<table class="table table-sorted table-striped" style="width: 100%">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>Issue</th>
      <th>Fuel</th>
      <th>Updated by</th>
      <th>Updated</th>
      <th class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% school_group.notes.issue.open.by_updated_at.each do |issue| %>
      <tr>
        <td><%= fa_icon('exclamation-circle text-secondary') %></td>
        <td><%= link_to issue.title, admin_school_note_path(issue.school, issue) %></td>
        <td><% if issue.fuel_type %>
            <span class="badge badge-secondary"><%= issue.fuel_type.capitalize %></span>
          <% end %>
        </td>
        <td><%= issue.updated_by.email %></td>
        <td class="nowrap"><%= nice_date_times(issue.updated_at) %></td>
        <td class="nowrap text-right">
          <%= link_to 'View', admin_school_note_path(issue.school, issue), class: "btn btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>