<% id = name.tr(' ', '_')
   modal_id = "#{id}-#{school_group.id}"
   label_id = "#{id}-label" %>
<button type="button"
        class="<%= local_assigns[:class] %>"
        data-toggle="modal"
        data-target="#<%= modal_id %>">
  <%= local_assigns[:button] || name.capitalize %>
</button>
<div class="modal fade"
     id="<%= modal_id %>"
     tabindex="-1"
     aria-labelledby="<%= label_id %>"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="<%= label_id %>"><%= title %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag deliver_admin_school_group_meter_report_path(school_group), method: :post do %>
        <div class="modal-body">
          <div>
            <strong>To: </strong>
            <span class="badge border text-dark rounded-pill border-secondary font-weight-normal">
              <%= current_user.email %>
            </span>
          </div>
          <div class="pb-2"><strong>Group: </strong><%= school_group.name %>
          </div>
          <%= yield %>
        </div>
        <div class="modal-footer">
          <%= button_tag(
                type: 'submit',
                class: 'btn btn-sm',
                data: { confirm: "Are you sure you want to send the #{name} to #{current_user.email}?" }
              ) do %>
            <%= fa_icon('envelope') %> Email <%= name %>
          <% end %>
          <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
