<h1>School groups</h1>

<p></p>

<% if @school_groups.any? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @school_groups.each do |school_group| %>
        <tr>
          <td><%= school_group.name %></td>
          <td><%= school_group.description %></td>
          <td>
            <div class='btn-group'>
              <%= link_to 'Edit', edit_admin_school_group_path(school_group), class: 'btn btn-info' %>
              <%= link_to 'Delete', admin_school_group_path(school_group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              <%= link_to 'Meter attributes', admin_school_group_meter_attributes_path(school_group), class: 'btn' %>
              <%= link_to 'Manage Partners', admin_school_group_partners_path(school_group), class: 'btn' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no School groups</h2>
<% end %>

<%= link_to 'New School group', new_admin_school_group_path, class: 'btn btn-primary' %>
