<h1>Manage School Groups</h1>
<%= link_to 'New School group', new_admin_school_group_path, class: 'btn btn-primary' %>
<p></p>
<% if @school_groups.any? %>
  <table class="table table-condensed table-sorted">
    <thead>
      <tr>
        <th>Name</th>
        <th title="Schools onboarding">Onboarding</th>
        <th title="Schools active (without data visible)">Active</th>
        <th title="Schools active (with data visible)" class='nowrap'>Data visible</small></th>
        <th title="Schools invisible">Invisible</th>
        <th title="Schools removed">Removed</th>
        <th class="no-sort"></th>
      </tr>
    </thead>

    <tbody>
      <% @school_groups.each do |school_group| %>
        <tr>
          <td><%= school_group.name %></td>
          <td><%= school_group.school_onboardings.select(&:incomplete?).count %></td>
          <td><%= school_group.schools.visible.count %></td>
          <td><%= school_group.schools.visible.data_enabled.count %></td>
          <td><%= school_group.schools.not_visible.count %></td>
          <td><%= school_group.schools.inactive.count %></td>
          <td><%= link_to 'Manage', admin_school_group_path(school_group), class: 'btn btn-sm' %></td>
        </tr>
      <% end %>
      <tr class="font-weight-bold">
        <td>All Energy Sparks Schools</td>
        <td><%= SchoolOnboarding.all.select(&:incomplete?).count %></td>
        <td><%= School.visible.count %></td>
        <td><%= School.visible.data_enabled.count %></td>
        <td><%= School.not_visible.count %></td>
        <td><%= School.inactive.count %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <h2>There are no School groups</h2>
<% end %>
