<h1>Manage School Groups</h1>
<%= link_to 'New school group', new_admin_school_group_path, class: 'btn btn-primary' %>
<%= link_to 'Export detail', admin_school_groups_path(format: :csv), class: 'btn' %>
<p></p>
<% if @school_groups.any? %>
  <table class="table table-condensed table-sorted">
    <thead>
      <tr>
        <th>Name</th>
        <th title="Group type" class="nowrap">Group type</th>
        <th title="Issues admin" class="d-none d-md-table-cell nowrap">Issues admin</th>
        <th title="Schools onboarding">Onboarding</th>
        <th title="Schools active (without data visible)">Active</th>
        <th title="Schools active (with data visible)" class='nowrap'>Data visible</th>
        <th title="Schools invisible">Invisible</th>
        <th title="Schools removed">Removed</th>
        <th class="no-sort"></th>
      </tr>
    </thead>

    <tbody>
      <% @school_groups.each do |school_group| %>
        <tr>
          <td><%= school_group.name %>
            <%= link_to(dashboard_message_icon(school_group),
                        edit_admin_school_group_dashboard_message_path(school_group)) %>
          </td>
          <td>
            <span class="badge badge-pill badge-primary"><%= school_group.group_type.humanize %></span>
          </td>
          <td class="d-none d-sm-table-cell">
            <% if school_group.default_issues_admin_user %>
              <span class="badge border badge-pill border-secondary font-weight-normal">
                <%= link_to (school_group.default_issues_admin_user == current_user ? 'You' : school_group.default_issues_admin_user.display_name),
                            polymorphic_path([:admin, Issue], user: school_group.default_issues_admin_user),
                            class: 'text-decoration-none' %>
              </span>
            <% end %>
          </td>
          <td><%= school_group.school_onboardings.incomplete.count %></td>
          <td><%= school_group.schools.visible.count %></td>
          <td><%= school_group.schools.visible.data_enabled.count %></td>
          <td><%= school_group.schools.not_visible.count %></td>
          <td><%= school_group.schools.inactive.count %></td>
          <td><%= link_to 'Manage', admin_school_group_path(school_group), class: 'btn btn-sm', id: school_group.slug %></td>
        </tr>
      <% end %>
      <tr class="font-weight-bold">
        <td>All Energy Sparks Schools</td>
        <td></td>
        <td></td>
        <td><%= SchoolOnboarding.incomplete.count %></td>
        <td><%= School.visible.count %></td>
        <td><%= School.visible.data_enabled.count %></td>
        <td><%= School.not_visible.count %></td>
        <td><%= School.inactive.count %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <h2>There are no School groups</h2>
<% end %>
