<h1>Manage <%= @organisation_group ? 'School' : @group_type.to_s.humanize %> Groups</h1>

<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div>
      <% if @organisation_group %>
        <%= link_to 'New school group', new_admin_school_group_path, class: 'btn btn-sm btn-primary' %>
      <% elsif @group_type == 'project' %>
        <%= link_to "New #{t(@group_type, scope: 'school_groups.clusters.group_type')} group",
                    new_admin_school_group_path(group_type: @group_type),
                    class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Download as CSV',
                  admin_school_groups_path(format: :csv, group_type: @organisation_group ? nil : @group_type.to_sym),
                  class: 'btn btn-sm' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% if @school_groups.any? %>
      <table class="table table-sm table-sorted">
        <thead>
          <tr>
            <th>Name</th>
            <% if @organisation_group %>
              <th title="Group type" class="nowrap">Type</th>
              <th title="Issues admin" class="d-none d-md-table-cell nowrap">Admin</th>
            <% end %>
            <th class="text-right" title="Schools onboarding">Onboarding</th>
            <th class="text-right" title="Schools active (without data visible)">Active</th>
            <th class="text-right" title="Schools active (with data visible)" class='nowrap'>Data visible</th>
            <th class="text-right" title="Schools invisible">Invisible</th>
            <th class="text-right" title="Schools removed">Removed</th>
            <th class="text-right no-sort"></th>
          </tr>
        </thead>

        <tbody>
          <% @school_groups.each do |school_group| %>
            <tr>
              <td><%= school_group.name %>
                <%= link_to(dashboard_message_icon(school_group),
                            edit_admin_school_group_dashboard_message_path(school_group)) %>
              </td>
              <% if @organisation_group %>
                <td>
                  <span class="badge badge-pill badge-secondary"><%= school_group.group_type.humanize %></span>
                </td>
                <td class="d-none d-sm-table-cell">
                  <% if school_group.default_issues_admin_user %>
                    <span class="badge border badge-pill border-secondary font-weight-normal">
                      <%= link_to (if school_group.default_issues_admin_user == current_user
                                     'You'
                                   else
                                     school_group.default_issues_admin_user.display_name
                                   end),
                                  polymorphic_path([:admin, Issue], user: school_group.default_issues_admin_user),
                                  class: 'text-decoration-none' %>
                    </span>
                  <% end %>
                </td>
              <% end %>
              <td class="text-right"><%= school_group.onboardings_for_group.incomplete.count %></td>
              <td class="text-right"><%= school_group.assigned_schools.visible.count %></td>
              <td class="text-right"><%= school_group.assigned_schools.visible.data_enabled.count %></td>
              <td class="text-right"><%= school_group.assigned_schools.not_visible.count %></td>
              <td class="text-right"><%= school_group.assigned_schools.inactive.count %></td>
              <td class="text-right"><%= link_to 'Manage', admin_school_group_path(school_group), class: 'btn btn-sm',
                                                                                                  id: school_group.slug %></td>
            </tr>
          <% end %>
        </tbody>
        <% if @organisation_group %>
          <tfooter>
            <tr class="font-weight-bold">
              <td>All Energy Sparks Schools</td>
              <td></td>
              <td></td>
              <td class="text-right"><%= SchoolOnboarding.incomplete.count %></td>
              <td class="text-right"><%= School.visible.count %></td>
              <td class="text-right"><%= School.visible.data_enabled.count %></td>
              <td class="text-right"><%= School.not_visible.count %></td>
              <td class="text-right"><%= School.inactive.count %></td>
              <td class="text-right"></td>
            </tr>
          </tfooter>
        <% end %>
      </table>
    <% else %>
      <h2>There are no School groups</h2>
    <% end %>
  </div>
</div>
