<div class="d-flex justify-content-between align-items-center">
  <div class='align-middle pb-3'>
    <h1 class='pb-0'>
      <%= @school_group.name %>
    </h1>
    <span class="badge rounded-pill text-bg-primary"><%= @school_group.group_type.humanize %></span>
  </div>
  <div>
    <%= header_nav_link 'All school groups',
                        admin_school_groups_path(group_type: @school_group.group_type) %>
  </div>
</div>
<div class="row pb-2">
  <div class="col-lg-6">
    Pupils in active schools:
    <span class="badge text-bg-success">
      <%= number_with_delimiter @school_group.assigned_schools.visible.map(&:number_of_pupils).compact.sum %>
    </span>
  </div>
  <div class="col-lg-6 text-end">
    <%= render 'default_issues_admin_user', school_group: @school_group %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="border rounded-2 h-100 p-3">
          <div class="d-flex justify-content-between align-items-center">
            <span>Active</span>
            <span class="badge text-bg-success"><%= @school_group.assigned_schools.visible.count %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span>Active (with data visible)</span>
            <span class="badge text-bg-success"><%= @school_group.assigned_schools.visible.data_enabled.count %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span>Invisible</span>
            <span class="badge text-bg-info"><%= @school_group.assigned_schools.not_visible.count %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span>Onboarding</span>
            <span class="badge text-bg-warning">
              <%= @school_group.onboardings_for_group.incomplete.count %>
            </span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span>Removed</span>
            <span class="badge text-bg-secondary"><%= @school_group.assigned_schools.inactive.count %></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="border rounded-2 h-100 p-3">
          <% School.school_types.keys.each do |school_type| %>
            <div class="d-flex justify-content-between align-items-center">
              <span><%= school_type.humanize %></span>
              <span class="badge text-bg-success">
                <%= @school_group.assigned_schools.visible.where(school_type: school_type).count %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'admin/shared/dashboard_message', messageable: @school_group %>

<%= render 'button_panel' %>

<%= render TabsComponent.new do |component| %>
  <% component.with_tab(name: :active, label: 'Active') do %>
    <% if @school_group.assigned_schools.active.any? %>
      <%= render 'active_schools', school_group: @school_group %>
    <% else %>
      <div class="bg-light p-2">No active schools for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
  <% component.with_tab(name: :onboarding, label: 'Onboarding') do %>
    <% if @school_group.onboardings_for_group.incomplete.any? %>
      <%= render 'onboarding_schools', school_group: @school_group, anchor: 'onboarding' %>
    <% else %>
      <div class="bg-light p-2">No schools currently onboarding for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
  <% component.with_tab(name: :removed, label: 'Removed') do %>
    <% if @school_group.assigned_schools.inactive.any? %>
      <%= render 'removed_schools', school_group: @school_group %>
    <% else %>
      <div class="bg-light p-2">No removed schools for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
  <% component.with_tab(name: :'school-group-issues',
                        label: label_count('Group issues', @school_group.issues.issue.status_open.count)) do %>
    <% if @school_group.issues.issue.any? %>
      <%= render 'admin/issues/issues_list',
                 issues: @school_group.issues.issue.by_priority_order,
                 issueable_type: 'Group' %>
    <% else %>
      <div class="bg-light p-2">No school group issues for <%= @school_group.name %>.</div>
    <% end %>
    <div class='pt-3'><%= render 'admin/issues/new_issues_links', issueable: @school_group %></div>
  <% end %>
  <% component.with_tab(name: :'school-group-notes',
                        label: label_count('Group notes', @school_group.issues.note.status_open.count)) do %>
    <% if @school_group.issues.note.any? %>
      <%= render 'admin/issues/issues_list', issues: @school_group.issues.note.by_priority_order,
                                             issueable_type: 'Group' %>
    <% else %>
      <div class="bg-light p-2">No school group notes for <%= @school_group.name %>.</div>
    <% end %>
    <div class='pt-3'><%= render 'admin/issues/new_issues_links', issueable: @school_group %></div>
  <% end %>
  <% component.with_tab(name: :'school-issues',
                        label: label_count('School issues and notes',
                                           @school_group.school_issues.status_open.count)) do %>
    <% if @school_group.school_issues.any? %>
      <%= render 'admin/issues/issues_list',
                 issues: @school_group.school_issues.by_priority_order,
                 issueable_type: 'School' %>
    <% else %>
      <div class="bg-light p-2">No school issues for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
<% end %>

<script>
document.querySelectorAll('#school-group-schools-content a.btn.edit').forEach((element) => {
  element.addEventListener('click', (event) => {
    event.preventDefault();
    window.location.href = `${element.href}?redirect_back=${encodeURIComponent(window.location.pathname + window.location.hash)}`;
  });
});
</script>
