<div class="d-flex justify-content-between align-items-center">
  <h1><%= @school_group.name %> School Group</h1>
  <div>
    <%= header_nav_link 'All school groups', admin_school_groups_url %>
  </div>
</div>
<p>Pupils in active schools: <%= number_with_delimiter @school_group.schools.visible.map(&:number_of_pupils).compact.sum %></p>
<div class="row">
  <div class="col-lg-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <div>Active <span class="float-right"><%= @school_group.schools.visible.count %></span></div>
          <div>Active (with data visible) <span class="float-right"><%= @school_group.schools.visible.data_enabled.count %></span></div>
          <div>Invisible <span class="float-right"><%= @school_group.schools.not_visible.count %></span></div>
          <div>Onboarding <span class="float-right"><%= @school_group.school_onboardings.select(&:incomplete?).count %></span></div>
          <div>Removed <span class="float-right"><%= @school_group.schools.inactive.count %></span></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>