<div class="d-flex justify-content-between align-items-center">
  <div class='align-middle pb-3'>
    <h1 class='pb-0'>
      <%= @school_group.name %>
      <%= t(@school_group.group_type, scope: 'school_groups.clusters.group_type') %>
    </h1>
    <span class="badge badge-pill badge-primary"><%= @school_group.group_type.humanize %></span>
  </div>
  <div>
    <%= header_nav_link 'All school groups',
                        admin_school_groups_path(group_type: @school_group.group_type) %>
  </div>
</div>
<div class="row pb-2">
  <div class="col-lg-6">
    Pupils in active schools:
    <span class="badge badge-success">
      <%= number_with_delimiter @school_group.assigned_schools.visible.map(&:number_of_pupils).compact.sum %>
    </span>
  </div>
  <div class="col-lg-6 text-right">
    <%= render 'default_issues_admin_user', school_group: @school_group %>
  </div>
</div>
<div class="row pb-2">
  <div class="col-lg-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <div>
            Active <span class="float-right badge badge-success"><%= @school_group.assigned_schools.visible.count %></span>
          </div>
          <div>
            Active (with data visible)
            <span class="float-right badge badge-success"><%= @school_group.assigned_schools.visible.data_enabled.count %></span>
          </div>
          <div>
            Invisible
            <span class="float-right badge badge-info"><%= @school_group.assigned_schools.not_visible.count %></span>
          </div>
          <div>
            Onboarding
            <span class="float-right badge badge-warning">
              <%= @school_group.school_onboardings.incomplete.count %>
            </span>
          </div>
          <div>
            Removed <span class="float-right badge badge-secondary"><%= @school_group.assigned_schools.inactive.count %></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <% School.school_types.keys.each do |school_type| %>
            <div>
              <%= school_type.humanize %>
              <span class="float-right badge badge-success">
                <%= @school_group.assigned_schools.visible.where(school_type: school_type).count %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'admin/shared/dashboard_message', messageable: @school_group %>

<%= render 'button_panel' %>

<%= render TabsComponent.new do |component| %>
  <% component.with_tab(name: :active, label: 'Active') do %>
    <% if @school_group.assigned_schools.active.any? %>
      <%= render 'active_schools', school_group: @school_group %>
    <% else %>
      <div class="bg-light p-2">No active schools for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
  <% component.with_tab(name: :onboarding, label: 'Onboarding') do %>
    <% if @school_group.school_onboardings.incomplete.any? %>
      <%= render 'onboarding_schools', school_group: @school_group, anchor: 'onboarding' %>
    <% else %>
      <div class="bg-light p-2">No schools currently onboarding for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
  <% component.with_tab(name: :removed, label: 'Removed') do %>
    <% if @school_group.assigned_schools.inactive.any? %>
      <%= render 'removed_schools', school_group: @school_group %>
    <% else %>
      <div class="bg-light p-2">No removed schools for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
  <% issues_label = lambda do |type, count|
       "#{type} Issues and Notes #{content_tag(:span, count, class: %w[badge badge-secondary])}".html_safe
     end %>
  <% component.with_tab(name: :'school-group-issues',
                        label: issues_label.call(:Group, @school_group.issues.status_open.count)) do %>
    <% if @school_group.issues.any? %>
      <%= render 'admin/issues/issues_list', issues: @school_group.issues, issueable_type: 'Group' %>
    <% else %>
      <div class="bg-light p-2">No school group issues for <%= @school_group.name %>.</div>
    <% end %>
    <%= render 'admin/issues/new_issues_links', issueable: @school_group %>
  <% end %>
  <% component.with_tab(name: :'school-issues',
                        label: issues_label.call(:School, @school_group.school_issues.status_open.count)) do %>
    <% if @school_group.school_issues.any? %>
      <%= render 'admin/issues/issues_list', issues: @school_group.school_issues, issueable_type: 'School' %>
    <% else %>
      <div class="bg-light p-2">No school issues for <%= @school_group.name %>.</div>
    <% end %>
  <% end %>
<% end %>

<script>
document.querySelectorAll('#school-group-schools-content a.btn.edit').forEach((element) => {
  element.addEventListener('click', (event) => {
    event.preventDefault();
    window.location.href = `${element.href}?redirect_back=${encodeURIComponent(window.location.pathname + window.location.hash)}`;
  });
});
</script>
