<div class="d-flex justify-content-between align-items-center">
  <h1><%= @school_group.name %> Users</h1>
  <div>
    <%= header_nav_link 'Manage school group', admin_school_group_path(@school_group) %>
    <%= header_nav_link 'All users', admin_users_path %>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <%= link_to 'Download as CSV', admin_school_group_users_path(@school_group, format: :csv), class: 'btn btn-sm' %>
  </div>
</div>

<% if @group_admins.any? %>
  <div class="flex row justify-content-between">
    <div>
      <h2>Group Admins</h2>
    </div>
    <div>
      <%= link_to 'Lock all group users', lock_all_admin_school_group_users_path, class: 'btn btn-warning btn-sm',
                                                                                  data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

  <%= render Admin::UserListComponent.new(id: 'unattached-users',
                                          users: @group_admins,
                                          show_organisation: false) %>

<% end %>

<h2>School Users</h2>

<%= render Admin::UserListComponent.new(id: 'all-school-users',
                                        schools: @school_group.assigned_schools.by_name) %>
