<%= render PromptListComponent.new(id: id, classes: classes) do |list| %>
  <% if title? %>
    <% list.with_title(level: 2) do %>
      <%= title %>
    <% end %>
  <% end %>

  <% messageable.each do |messageable| %>
    <% add_prompt(id: "#{messageable.class.name.downcase}_dashboard_message",
                  check: messageable.dashboard_message,
                  list: list,
                  status: :negative,
                  icon: 'info-circle') do %>
      <%= messageable.dashboard_message.message %>
    <% end %>
  <% end %>

  <%# i18n-tasks-use t("schools.show.create_pupil_account") %>
  <% add_prompt(id: :add_pupils,
                check: prompt_for_pupils?,
                list: list,
                status: :negative,
                icon: 'exclamation-circle',
                link: 'schools.show.create_pupil_account',
                path: new_school_pupil_path(school)) do %>
     <p>
       <%= t('schools.show.setup_pupil_account') %>
     </p>
   <% end %>

   <%# i18n-tasks-use t("schools.show.add_alert_contacts") %>
   <% add_prompt(id: :add_contacts,
                 check: prompt_for_contacts?,
                 list: list,
                 status: :negative,
                 icon: 'exclamation-circle',
                 link: 'schools.show.add_alert_contacts',
                 path: school_contacts_path(school)) do %>
     <p>
       <%= t('schools.show.setup_alert_contacts') %>
     </p>
   <% end %>

  <%# i18n-tasks-use t("schools.show.upload_energy_bill") %>
  <% add_prompt(id: :bill,
                check: prompt_for_bill?,
                list: list,
                status: :negative,
                icon: 'exclamation-circle',
                link: 'schools.show.upload_energy_bill',
                path: school_consent_documents_path(school)) do %>
    <p>
      <%= t('schools.show.energy_bill_required') %>
    </p>
  <% end %>

  <%# i18n-tasks-use t("schools.show.find_training") %>
  <% add_prompt(id: :training,
                check: prompt_for_training?,
                list: list,
                status: :neutral,
                icon: 'info-circle',
                link: 'schools.show.find_training',
                path: training_path) do %>
    <p>
      <%= t('schools.show.online_training_signup') %>
    </p>
  <% end %>

  <%# i18n-tasks-use t("common.labels.view_now") %>
  <% if Flipper.enabled?(:todos, user) %>
    <% add_prompt(id: :audit,
                  check: last_audit&.todos_incomplete?,
                  list: list,
                  status: :neutral,
                  icon: 'laptop',
                  link: 'common.labels.view_now',
                  path: last_audit ? school_audit_path(school, last_audit) : nil) do %>
      <p>
        <%= Completables::Progress.new(last_audit).notification %>
      </p>
    <% end %>
  <% else %>
    <% add_prompt(id: :audit,
                  check: last_audit&.tasks_remaining?,
                  list: list,
                  status: :neutral,
                  icon: 'laptop',
                  link: 'common.labels.view_now',
                  path: last_audit ? school_audit_path(school, last_audit) : nil) do %>
      <p>
        <%= Audits::Progress.new(last_audit).notification %>
      </p>
    <% end %>
  <% end %>

  <%# i18n-tasks-use t("schools.show.set_target") %>
  <% add_prompt(id: :set_target,
                check: show_data_enabled_features? && prompt_for_target?,
                list: list,
                status: :neutral,
                icon: 'tachometer-alt',
                link: 'schools.show.set_target',
                path: school_school_targets_path(school)) do %>
    <p>
      <%= t('schools.show.set_targets') %>
    </p>
  <% end %>

  <%# i18n-tasks-use t("schools.show.review_target") %>
  <% add_prompt(id: :review_target,
                check: show_data_enabled_features? && prompt_to_review_target?,
                list: list,
                status: :neutral,
                icon: 'tachometer-alt',
                link: 'schools.show.review_target',
                path: school_school_targets_path(school)) do %>
    <p>
      <%= t('schools.show.revisit_targets') %>
    </p>
  <% end %>

  <%# i18n-tasks-use t("schools.show.review_progress") %>
  <% add_prompt(id: :new_target,
                check: show_data_enabled_features? && prompt_to_set_new_target?,
                list: list,
                status: :neutral,
                icon: 'tachometer-alt',
                link: 'schools.show.review_progress',
                path: school_school_targets_path(school)) do %>
    <p>
      <%= t('schools.show.set_new_target', target_date: I18n.l(school.expired_target.target_date, format: '%B %Y')) %>
    </p>
  <% end %>

  <% if programmes_to_prompt.any? %>
    <% programmes_to_prompt.each do |programme| %>
      <% add_prompt(id: :programme_reminder,
                    list: list,
                    status: :neutral,
                    icon: 'tasks',
                    link: 'common.labels.view_now',
                    path: programme_type_path(programme.programme_type)) do %>
        <p>
          <% if Flipper.enabled?(:todos, user) %>
            <%= Completables::Progress.new(programme).notification %>
          <% else %>
            <%= Programmes::Progress.new(programme).notification %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <%# i18n-tasks-use t("schools.prompts.programme.start_a_new_programme") %>
    <% add_prompt(id: :new_programme,
                  list: list,
                  status: :neutral,
                  icon: 'tasks',
                  link: 'schools.prompts.programme.start_a_new_programme',
                  path: programme_types_path) do %>
      <p>
        <%= t('schools.prompts.programme.choose_a_new_programme_message') %>
      </p>
    <% end %>
  <% end %>
<% end %>
