<%# i18n-tasks-use t('advice_pages.gas_long_term.analysis.sections')
    i18n-tasks-use t('advice_pages.electricity_long_term.analysis.sections') %>
<p><%= t("#{locale_key_prefix}.sections") %></p>

<ul>
  <li><%= link_to(t("#{locale_key_prefix}.recent_trend.title"), '#recent-trend') %></li>
  <% if analysis_dates.one_years_data? %>
    <li><%= link_to(t("#{locale_key_prefix}.comparison.title"), '#comparison') %></li>
    <li><%= link_to(t("#{locale_key_prefix}.long_term_trends.title"), '#long-term-trends') %></li>
  <% end %>
</ul>

<%= render 'schools/advice/long_term/recent_trend',
           meter_selection: @meter_selection,
           school: school,
           analysis_dates: analysis_dates,
           annual_usage: annual_usage,
           vs_exemplar: vs_exemplar,
           estimated_savings_vs_exemplar: estimated_savings_vs_exemplar,
           fuel_type: fuel_type %>
<% if analysis_dates.one_years_data? %>
  <%= render "schools/advice/#{fuel_type}_long_term/analysis_comparison",
             school: school,
             analysis_dates: analysis_dates,
             annual_usage: annual_usage,
             vs_benchmark: vs_benchmark,
             vs_exemplar: vs_exemplar,
             estimated_savings_vs_exemplar: estimated_savings_vs_exemplar,
             estimated_savings_vs_benchmark: estimated_savings_vs_benchmark %>
  <%= render 'schools/advice/long_term/long_term_trend',
             meter_selection: @meter_selection,
             analysis_dates: analysis_dates,
             fuel_type: fuel_type %>
<% end %>
