
<h4><%= t('advice_pages.electricity_long_term.analysis.consumption_by_month.title',
          fuel_type: t("common.#{fuel_type}")) %></h4>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th colspan="3"><%= t('advice_pages.electricity_long_term.tables.columns.usage_kwh') %></th>
      <th colspan="3"><%= t('advice_pages.electricity_long_term.tables.columns.usage_gbp') %></th>
      <th colspan="3"><%= t('advice_pages.electricity_long_term.tables.columns.usage_co2') %></th>
    </tr>
      <th class="text-right"><%= t('schools.school_targets.progress.current.month') %></th>
      <% 3.times do %>
        <th class="text-right">
          <%= t('advice_pages.electricity_long_term.analysis.consumption_by_month.previous_year') %></th>
        <th class="text-right">
          <%= t('advice_pages.electricity_long_term.analysis.consumption_by_month.this_year') %></th>
        <th class="text-right">
          <%= t('advice_pages.electricity_long_term.analysis.consumption_by_month.change') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @consumption_by_month&.each do |month, consumption| %>
      <tr>
        <td><%= t_month(month) %></td>
        <% %i[kwh £ co2].each do |type| %>
          <% %i[previous current].each do |period| %>
            <td><%= format_unit(consumption[period][type], type) %><%= '*' if consumption[period][:missing] %></td>
          <% end %>
            <td><%= up_downify(format_unit(consumption[:change][type], :relative_percent, true, :target),
                               sanitize: false) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'schools/advice/how_have_we_analysed_your_data_table_caption',
           additional_notice_text:
              "#{t('advice_pages.electricity_long_term.analysis.consumption_by_month.missing')}<br>" %>
