<p><%= t('campaign_mailer.video_demo.dear', name: @contact[:first_name]) %></p>

<p><%= t('campaign_mailer.video_demo.intro') %></p>

<div class="mb-4">
  <h5><strong><%= t('campaign_mailer.video_demo.short_demo.heading') %></strong></h5>
  <p><%= t('campaign_mailer.video_demo.short_demo.body') %></p>
</div>

<div class="mb-4">
  <h5><strong><%= t('campaign_mailer.video_demo.full_demo.heading') %></strong></h5>
  <p><%= t('campaign_mailer.video_demo.full_demo.body') %></p>
</div>

<hr>

<h5><strong><%= t('campaign_mailer.video_demo.next_steps.heading') %></strong></h5>

<div class="mb-3">
  <p><strong><%= t('campaign_mailer.video_demo.next_steps.enrol.heading') %></strong></p>
  <p><%= t('campaign_mailer.video_demo.next_steps.enrol.body').html_safe %></p>
</div>

<div class="mb-3">
  <p><strong><%= t('campaign_mailer.video_demo.next_steps.convince.heading') %></strong></p>
  <p><%= t('campaign_mailer.video_demo.next_steps.convince.body') %></p>
</div>

<div class="mb-3">
  <p><strong><%= t('campaign_mailer.video_demo.next_steps.learn_more.heading') %></strong></p>
  <p><%= t('campaign_mailer.video_demo.next_steps.learn_more.body').html_safe %></p>
</div>

<p><%= t('campaign_mailer.video_demo.signoff') %>,</p>
<p><strong><%= t('campaign_mailer.video_demo.ceo_name') %></strong><br>
<%= t('campaign_mailer.video_demo.ceo_title') %></p>
