<p>
  <%= @contact[:first_name] %>,
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.intro') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.about_us') %>
</p>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.demo') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <% if @group %>
    <%= t('campaign_mailer.send_information.for_mats.video_html',
          video_link: demo_video_campaigns_url,
          book_demo_link: 'https://calendly.com/energy-sparks/mat-demo') %>
  <% else %>
    <%= t('campaign_mailer.send_information.for_schools.video_html',
          video_link: demo_video_campaigns_url,
          book_demo_link: 'https://calendly.com/energy-sparks/demo-for-individual-schools') %>
  <% end %>
</p>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.examples') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.dashboards') %>
</p>

<div class="s-3"></div>
<ul>
  <li>
    <a href="<%= example_adult_dashboard_campaigns_url %>">
      <%= t('campaign_mailer.send_information.for_schools.example_adult_dashboard') %>
    </a>
  </li>
  <li>
    <a href="<%= example_pupil_dashboard_campaigns_url %>">
      <%= t('campaign_mailer.send_information.for_schools.example_pupil_dashboard') %>
    </a>
  </li>
</ul>

<% if @group %>
  <div class="s-3"></div>
  <p>
    <%= t('campaign_mailer.send_information.for_mats.mat_dashboard_html',
          trust_dashboard_link: example_group_dashboard_campaigns_url) %>
  </p>
<% end %>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.case_studies') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.case_studies_html',
        case_study_link: case_studies_url) %>
</p>

<div class="s-3"></div>
<p>
  <% if @group %>
    <%= t('campaign_mailer.send_information.for_schools.download_pack_html',
          download_pack_link: mat_pack_campaigns_url,
          prices_link: pricing_url) %>
  <% else %>
    <%= t('campaign_mailer.send_information.for_schools.download_pack_html',
          download_pack_link: school_pack_campaigns_url,
          prices_link: pricing_url) %>
  <% end %>
</p>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.ready') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <% if @group %>
    <%= t('campaign_mailer.send_information.for_mats.enrol_html',
          enrol_link: 'https://forms.gle/K1XHu3GAUWJkNwFi6') %>
  <% else %>
    <%= t('campaign_mailer.send_information.for_schools.enrol_html',
          enrol_link: enrol_our_school_url) %>
  <% end %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.final') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.sign_off') %>,
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.name') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.title') %>
</p>
