<p>
  <%= @contact[:first_name] %>,
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.intro') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.about_us') %>
</p>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.demo') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.examples') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.dashboards') %>
</p>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.case_studies') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.case_studies_html',
        case_study_link: case_studies_url) %>
</p>

<div class="s-3"></div>
<h4>
  <%= t('campaign_mailer.send_information.for_schools.ready') %>
</h4>
<div class="s-3"></div>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.final') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.sign_off') %>,
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.name') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('campaign_mailer.send_information.for_schools.title') %>
</p>
