<label>Custom reporting period</label>
<div class="mb-3 border p-2">
  <div class="row">
    <div class="col"><%= f.input :current_label %></div>
    <div class="col"><%= f.input :current_start_date, as: :tempus_dominus_date %></div>
    <div class="col"><%= f.input :current_end_date, as: :tempus_dominus_date %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.input :previous_label %></div>
    <div class="col"><%= f.input :previous_start_date, as: :tempus_dominus_date %></div>
    <div class="col"><%= f.input :previous_end_date, as: :tempus_dominus_date %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.input :max_days_out_of_date %></div>
    <div class="col"><%= f.input :enough_days_data %></div>
    <div class="col d-flex align-items-center"><%= f.input :disable_normalisation %></div>
  </div>
</div>
