<div class="table-responsive-sm" id='management-overview-table'>
  <table class="table management-overview">
    <thead class="thead-dark">
      <tr>
        <th class="icon"></th>
        <th class="text-left"></th>
        <th class="text-left"></th>
        <th class="text-right"><%= t('common.table.columns.use_kwh') %></th>
        <th class="text-right"><%= t('common.table.columns.co2_kg') %></th>
        <th class="text-right"><%= t('common.table.columns.cost_gbp') %></th>
        <% if local_assigns[:show_savings].nil? || local_assigns[:shows_savings] == true %>
          <th class="text-right"><%= t('schools.show.potential_savings') %></th>
        <% end %>
        <th class="text-right"><%= t('schools.show.percentage_change') %></th>
      </tr>
    </thead>
    <tbody>
    <% overview_data.by_fuel_type.each do |data| %>
      <tr>
        <% if data.period == I18n.t('classes.tables.summary_table_data.last_week') %>
          <td class="icon"><%= fa_icon fuel_type_icon(data.fuel_type) %></td>
          <td class="text-left"><%= t('common.' + data.fuel_type.to_s) %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td class="text-left"><%= data.period %></td>
        <% if data.has_data %>
          <td class="text-right <%= data.message_class %>"><%= data.usage %></td>
          <td class="text-right <%= data.message_class %>"><%= data.co2 %></td>
          <td class="text-right <%= data.message_class %>"><%= data.cost %></td>
          <% if local_assigns[:show_savings].nil? || local_assigns[:shows_savings] == true %>
            <td class="text-right <%= data.message_class %>"><%= data.savings %></td>
          <% end %>
          <td class="text-right"><%= up_downify(data.change) %></td>
        <% else %>
          <td class="text-center <%= data.message_class %>" colspan='5'><%= data.message %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
