<div class="table-responsive-sm">
  <table class="table management-overview">
    <thead>
      <tr>
        <th class="icon"></th>
        <th class="text-left"></th>
        <th class="text-left"></th>
        <th class="text-right">Use (kWh)</th>
        <th class="text-right">CO2 (kg)</th>
        <th class="text-right">Cost</th>
        <th class="text-right">Potential savings</th>
        <th class="text-right">% Change</th>
      </tr>
    </thead>
    <tbody>

    <% overview_data.by_fuel_type.each do |data| %>
      <tr>
        <td class="icon"><%= fa_icon fuel_type_icon(data.fuel_type) %></td>
        <td class="text-left"><%= data.fuel_type.to_s.humanize %></td>
        <td class="text-left">Last week</td>
        <% if data.workweek_valid %>
          <td class="text-right"><%= data.workweek_usage %></td>
          <td class="text-right"><%= data.workweek_co2 %></td>
          <td class="text-right"><%= data.workweek_cost %></td>
          <td class="text-right"><%= data.workweek_savings %></td>
          <td class="text-right"><%= up_downify(data.workweek_change) %></td>
        <% else %>
          <td class="text-center partial-month info-message" colspan='5'><%= data.workweek_message %></td>
        <% end %>
      </tr>
      <tr>
        <td class="icon"></td>
        <td class="text-left"></td>
        <td class="text-left">Annual</td>
        <% if data.annual_valid %>
          <td class="text-right"><%= data.annual_usage %></td>
          <td class="text-right"><%= data.annual_co2 %></td>
          <td class="text-right"><%= data.annual_cost %></td>
          <td class="text-right"><%= data.annual_savings %></td>
          <td class="text-right"><%= up_downify(data.annual_change) %></td>
        <% else %>
          <td class="text-center partial-month info-message" colspan='5'><%= data.annual_message %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
