<%= content_for :page_title, t('schools.show.dashboard_title', school_name: @school.name) %>

<h2><%= t('schools.show.dashboard_title', school_name: @school.name) %></h2>

<% if @overview_data %>
  <h2><%= t('schools.show.summary_of_recent_energy_usage') %></h2>
  <%= render 'management/schools/overview_data', overview_data: @overview_data %>
  <div class="text-right management-overview-caption">
    <%= @overview_data.date_ranges %>
  </div>
<% end %>

<%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title %>

<% @overview_charts.each_with_index do |(energy, chart_config), index| %>
  <h2><%= t("management.schools.overview_charts.overview.#{energy.to_s}") %></h2>
  <%= component 'chart', chart_type: chart_config[:chart], school: @school, chart_config: chart_config: {y_axis_units: select_y_axis(@school, chart_config[:chart], chart_config[:units])} %>
<% end %>

<% unless @management_priorities.empty? %>
  <h3><%= t('schools.show.energy_saving_opportunities') %></h3>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: false %>
<% end %>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>
