<%= content_for :page_title, "Management dashboard for #{@school.name}" %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Management Dashboard</h1>
  <div class="h5">
    <% if @co2_pages.any? %>
      <% @co2_pages.each do |page| %>
        <%= link_to page.analysis_title , school_analysis_path(@school, page.analysis_page), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      <% end %>
    <% end %>
    <% if @school.configuration %>
      <%= link_to "Review your school's energy analysis", school_analysis_index_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
    <% end %>
  </div>
</div>

<h2>Annual use</h2>

<% if @overview_table %>
  <%= render 'overview_table', overview_table: @overview_table %>
<% end %>

<% unless @overview_charts.empty? %>
  <%= render 'overview_charts', overview_charts: @overview_charts %>
<% end %>

<% if @add_contacts %>
  <%= render 'shared/add_contacts', school: @school %>
<% end %>

<% if @add_pupils %>
  <%= render 'shared/add_pupils', school: @school %>
<% end %>

<% unless @management_priorities.empty? %>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<h2>Recent use</h2>

<div class="row dashboards">
  <%= render 'shared/dashboard_energy_charts', charts: @charts, school: @school %>
</div>

<%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title, title: 'Recent energy use alerts'%>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<div class="row padded-row management-energy-saving-actions d-flex justify-content-center mb-3">
  <%= link_to 'Record an energy saving action', new_school_action_path(@school), class: 'btn btn-rounded' %>
</div>

<h2>Data export</h2>

<div class="d-flex justify-content-between align-items-center">
  <p>The data for your school can be displayed in a simple format for printing, or downloaded in CSV format</p>
  <div class="h5">
    <%= link_to url_for(report: true), class: 'btn btn-outline-dark rounded-pill font-weight-bold' do %>
      <%= fa_icon('file-alt') %>
      Report view
    <% end %>
    <%= link_to "Download your data", school_downloads_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' if can?(:read, :school_downloads) %>
  </div>
</div>
