<%= content_for :page_title, "Adult dashboard for #{@school.name}" %>

<%= render 'shared/dashboard_title', school: @school, co2_pages: @co2_pages, public: false %>

<h2>Your annual usage</h2>

<% if @overview_table %>
  <%= render 'overview_table', overview_table: @overview_table %>
<% end %>

<h3>Act on your energy usage</h3>

<%= render 'shared/targets/progress_notice', school: @school, progress_summary: @progress_summary %>

<%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title %>

<% if @add_contacts %>
  <%= render 'shared/add_contacts', school: @school %>
<% end %>

<% if @add_pupils %>
  <%= render 'shared/add_pupils', school: @school %>
<% end %>

<% if @add_targets %>
  <%= render 'shared/targets/add_targets', school: @school %>
<% end %>

<% if @review_targets %>
  <%= render 'shared/targets/review_targets', school: @school %>
<% end %>

<%= render 'shared/add_intervention', school: @school %>

<h3>Your annual energy usage</h3>

<% unless @overview_charts.empty? %>
  <%= render 'overview_charts', overview_charts: @overview_charts %>
<% end %>

<% unless @management_priorities.empty? %>
  <h3>Your energy saving opportunities</h3>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<div class="padded-row">
  <div class="float-right">
      <%= link_to url_for(report: true), class: 'btn btn-outline-dark rounded-pill font-weight-bold' do %>
        <%= fa_icon('file-alt') %>
        Print view
      <% end %>
      <%= link_to "Download your data", school_downloads_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' if can?(:read, :school_downloads) %>
  </div>
</div>
