<%= content_for :page_title, "Management dashboard for #{@school.name}" %>

<div class="d-flex justify-content-between align-items-center">
  <h2>Energy Usage&hellip;</h2>
  <% if @school.configuration %>
    <div class="h5"><%= link_to "Review your school's energy analysis", school_analysis_index_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %></div>
  <% end %>
</div>

<% unless @overview_charts.empty? %>
  <%= render 'overview_charts', overview_charts: @overview_charts %>
<% end %>

<% if site_settings.message_for_no_contacts && @school.contacts.empty? && can?(:manage, Contact) %>
  <%= render 'schools/dashboard/info_bar',
        colour: 'bg-neutral',
        content: "Sign-up for Energy Sparks email or text alerts. Energy Sparks alerts give you early warning of changes in your school's energy use and highlight long term problems with your energy consumption with focused recommendations to save energy.",
        icon: 'exclamation-circle fa-3x',
        buttons: { 'Add alert contacts' => school_contacts_path(@school)}
  %>
<% end %>

<% unless @management_priorities.empty? %>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<div class="row dashboards">
  <%= render 'shared/dashboard_energy_charts', charts: @charts, school: @school %>
</div>

<%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title %>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<div class="row padded-row management-energy-saving-actions d-flex justify-content-center mb-3">
  <%= link_to 'Record an energy saving action', new_school_action_path(@school), class: 'btn btn-rounded' %>
</div>
