<%= content_for :page_title, "Adult dashboard for #{@school.name}" %>

<%= render 'shared/dashboard_title', school: @school, co2_pages: @co2_pages, public: false, show_data_enabled_features: @show_data_enabled_features %>

<% if @overview_table %>
  <h2>Your annual usage</h2>
  <%= render 'overview_table', overview_table: @overview_table %>
<% end %>

<% if @overview_data %>
  <h2>Your annual usage</h2>
  <%= render 'overview_data', overview_data: @overview_data %>
  <div class="float-right">
    <div class="info-message">
      <p>
        <%= format_overview_dates(@overview_data) %>
        <%= link_to 'More information', '#' %>
        <%= fa_icon("info-circle") %>
      </p>
    </div>
  </div>
<% end %>

<h3>Act on your energy usage</h3>

<%= render 'management/schools/targets/progress_notice', school: @school, progress_summary: @progress_summary %>

<% if @dashboard_alerts %>
  <%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title %>
<% end %>

<% if @prompt_for_bill %>
  <%= render 'management/schools/prompt_for_bill', school: @school %>
<% end %>

<% if @prompt_training %>
  <%= render 'management/schools/prompt_training' %>
<% end %>

<% if @add_targets %>
  <%= render 'management/schools/targets/add_targets', school: @school %>
<% end %>

<% if @review_targets %>
  <%= render 'management/schools/targets/review_targets', school: @school %>
<% end %>

<%= render 'management/schools/complete_programmes', school: @school %>

<%= render 'management/schools/record_activity', school: @school %>

<%= render 'management/schools/record_intervention', school: @school %>

<% if @add_pupils %>
  <%= render 'management/schools/add_pupils', school: @school %>
<% end %>

<% if @add_contacts %>
  <%= render 'management/schools/add_contacts', school: @school %>
<% end %>

<% if @overview_charts && @overview_charts.any? %>
  <h3>Your recent energy usage</h3>
  <%= render 'overview_charts', overview_charts: @overview_charts %>
<% elsif @show_data_enabled_features == false %>
  <h3>Your recent energy usage</h3>
  <div class="chart-placeholder-image">
    <div class="chart-placeholder-text">
      <h1>Coming Soon</h1>
      <p>We're configuring access to your energy data and will notify you when it's ready to explore</p>
    </div>
  </div>
<% end %>


<% if @management_priorities && @management_priorities.any? %>
  <h3>Your energy saving opportunities</h3>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<% if @show_data_enabled_features %>
  <div class="padded-row">
    <div class="float-right">
        <%= link_to url_for(report: true), class: 'btn btn-outline-dark rounded-pill font-weight-bold' do %>
          <%= fa_icon('file-alt') %>
          Print view
        <% end %>
        <%= link_to "Download your data", school_downloads_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' if can?(:read, :school_downloads) %>
    </div>
  </div>
<% end %>
