<%= content_for :page_title, t('schools.private.page_title', school: @school.name) %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('schools.private.page_title', school: @school.name) %></h1>
</div>

<p><%= t('schools.private.access_disabled') %></p>

<p>
  <%= t('schools.private.login_links_html', schools_path: schools_path) %>
</p>

<%= render DashboardLoginComponent.new(school: @school) %>
