<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">

    <%= render 'shared/errors', subject: @school, subject_name: 'school' %>

    <h1><%= t('schools.your_school_estates.edit.title') %></h1>

    <p><%= t('schools.your_school_estates.edit.description') %></p>

    <%= simple_form_for(@school, url: school_your_school_estate_url(@school)) do |f| %>
      <h3><%= t('schools.your_school_estates.edit.solar_panels') %></h3>
      <%= f.input :indicated_has_solar_panels, label: t('schools.your_school_estates.edit.solar_panels_label') %>

      <h3><%= t('schools.your_school_estates.edit.storage_heaters') %></h3>
      <%= f.input :indicated_has_storage_heaters, label: t('schools.your_school_estates.edit.storage_heaters_label') %>

      <h3><%= t('schools.your_school_estates.edit.swimming_pool') %></h3>
      <%= f.input :has_swimming_pool, label: t('schools.your_school_estates.edit.swimming_pool_label') %>

      <h3><%= t('schools.your_school_estates.edit.alternative_heating_sources.header') %></h3>
      <p><%= t('schools.your_school_estates.edit.alternative_heating_sources.description_1') %>.</p>
      <p><%= t('schools.your_school_estates.edit.alternative_heating_sources.description_2') %>.</p>

      <%= f.input :alternative_heating_oil,
                  label: t('.alternative_heating_sources.oil.label'),
                  input_html: { data: { reveals: '.school_alternative_heating_oil_fields' } } %>
      <div class='school_alternative_heating_oil_fields' data-revealed-by=".school_alternative_heating_oil">
        <%= f.input :alternative_heating_oil_percent,
                    label: t('.alternative_heating_sources.oil.percentage') %>
        <%= f.input :alternative_heating_oil_notes,
                    label: t('.alternative_heating_sources.notes') %>
      </div>

      <%= f.input :alternative_heating_lpg,
                  label: t('.alternative_heating_sources.lpg.label'),
                  input_html: { data: { reveals: '.school_alternative_lpg_fields' } } %>
      <div class='school_alternative_lpg_fields' data-revealed-by=".school_alternative_heating_lpg">
        <%= f.input :alternative_heating_lpg_percent,
                    label: t('.alternative_heating_sources.lpg.percentage') %>
        <%= f.input :alternative_heating_lpg_notes,
                    label: t('.alternative_heating_sources.notes') %>
      </div>

      <%= f.input :alternative_heating_biomass,
                  label: t('.alternative_heating_sources.biomass.label'),
                  input_html: { data: { reveals: '.school_alternative_biomass_fields' } } %>
      <div class='school_alternative_biomass_fields' data-revealed-by=".school_alternative_heating_biomass">
        <%= f.input :alternative_heating_biomass_percent,
                    label: t('.alternative_heating_sources.biomass.percentage') %>
        <%= f.input :alternative_heating_biomass_notes,
                    label: t('.alternative_heating_sources.notes') %>
      </div>

      <%= f.input :alternative_heating_district_heating,
                  label: t('.alternative_heating_sources.district_heating.label'),
                  input_html: { data: { reveals: '.school_alternative_district_heating_fields' } } %>
      <div class='school_alternative_district_heating_fields' data-revealed-by=".school_alternative_heating_district_heating">
        <%= f.input :alternative_heating_district_heating_percent,
                    label: t('.alternative_heating_sources.district_heating.percentage') %>
        <%= f.input :alternative_heating_district_heating_notes,
                    label: t('.alternative_heating_sources.notes') %>
      </div>

      <%= f.input :alternative_heating_ground_source_heat_pump,
                  label: t('.alternative_heating_sources.ground_source_heat_pump.label'),
                  input_html: { data: { reveals: '.school_alternative_ground_source_heat_pump_fields' } } %>
      <div class='school_alternative_ground_source_heat_pump_fields' data-revealed-by=".school_alternative_heating_ground_source_heat_pump">
        <%= f.input :alternative_heating_ground_source_heat_pump_percent,
                    label: t('.alternative_heating_sources.ground_source_heat_pump.percentage') %>
        <%= f.input :alternative_heating_ground_source_heat_pump_notes,
                    label: t('.alternative_heating_sources.notes') %>
      </div>

      <%= f.input :alternative_heating_air_source_heat_pump,
                  label: t('.alternative_heating_sources.air_source_heat_pump.label'),
                  input_html: { data: { reveals: '.school_alternative_air_source_heat_pump_fields' } } %>
      <div class='school_alternative_air_source_heat_pump_fields' data-revealed-by=".school_alternative_heating_air_source_heat_pump">
        <%= f.input :alternative_heating_air_source_heat_pump_percent,
                    label: t('.alternative_heating_sources.air_source_heat_pump.percentage') %>
        <%= f.input :alternative_heating_air_source_heat_pump_notes,
                    label: t('.alternative_heating_sources.notes') %>
      </div>

      <%= f.submit t('common.labels.save'), class: 'btn btn-primary pt-6' %>
    <% end %>
  </div>
</div>
