<h1>Your School Estate</h1>

<p>EnergySparks uses a variety of data about your school to tailor our analysis and advice. By telling us a bit more about your school estate we can improve the support we offer you</p>

<%= simple_form_for(@school, url: school_your_school_estate_url(@school)) do |f| %>

  <h3>Solar panels</h3>
  <%= f.input :indicated_has_solar_panels, label: 'Our school has solar PV panels' %>

  <h3>Storage heaters</h3>
  <%= f.input :indicated_has_storage_heaters, label: 'Our school has night storage heaters' %>

  <h3>Swimming pool</h3>
  <%= f.input :has_swimming_pool, label: 'Our school has its own swimming pool' %>

  <h3>Alternative heating sources</h3>

  <p>Tell us about any alternative sources of heating that you use in your school.</p>
  <p>At the moment we only analyse your gas data. But by letting us know about other sources, we can qualify any potential cost savings or recommendations.</p>

  <%= f.input :alternative_heating_oil, label: 'Our school uses Oil for heating' %>
  <%= f.input :alternative_heating_lpg, label: 'Our school is using LPG for heating' %>
  <%= f.input :alternative_heating_biomass, label: 'Our school has a Biomass boiler' %>
  <%= f.input :alternative_heating_district_heating, label: 'Our school has District Heating' %>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
