<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">

    <%= render 'shared/errors', subject: @school, subject_name: 'school' %>

    <h1><%= t('schools.your_school_estates.edit.title') %></h1>

    <p><%= t('schools.your_school_estates.edit.description') %></p>

    <%= simple_form_for(@school, url: school_your_school_estate_url(@school)) do |f| %>
      <h3><%= t('schools.your_school_estates.edit.solar_panels') %></h3>
      <%= f.input :indicated_has_solar_panels, label: t('schools.your_school_estates.edit.solar_panels_label') %>

      <h3><%= t('schools.your_school_estates.edit.storage_heaters') %></h3>
      <%= f.input :indicated_has_storage_heaters, label: t('schools.your_school_estates.edit.storage_heaters_label') %>

      <h3><%= t('schools.your_school_estates.edit.swimming_pool') %></h3>
      <%= f.input :has_swimming_pool, label: t('schools.your_school_estates.edit.swimming_pool_label') %>

      <h3><%= t('schools.your_school_estates.edit.heating_sources.header') %></h3>
      <p><%= t('schools.your_school_estates.edit.heating_sources.description_1') %>.</p>
      <p><%= t('schools.your_school_estates.edit.heating_sources.description_2') %>.</p>

      <% School::HEATING_TYPES.each do |type| %>
        <% fields_class = "school_heating_#{type}_fields" %>
        <%= f.input :"heating_#{type}",
                    label: t("activerecord.attributes.school.heating_#{type}"),
                    input_html: { data: { reveals: ".#{fields_class}" } } %>
        <div class="<%= fields_class %>" data-revealed-by=".school_heating_<%= type %>">
          <%= f.input :"heating_#{type}_percent",
                      label: t(".heating_sources.#{type}.percentage") %>
          <%= f.input :"heating_#{type}_notes",
                      label: t('.heating_sources.notes') %>
        </div>
      <% end %>

      <%= f.submit t('common.labels.save'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
