<% content_for :page_title, t('pupils.analysis.explore_energy_data') %>

<h1><%= t('pupils.analysis.explore_energy_data') %></h1>

<div class="row">
  <% if @school.has_solar_pv? %>
    <%= component 'pupil_explore', school: @school, icon: 'sun', fuel_type: :electricity do |c| %>
      <% c.with_category category: :solar_pv, link_text: t('common.electricity_and_solar_pv') %>
      <% c.with_note do %>
        <div>
          <% if @school.has_storage_heaters? %>
            <p class="small">(<%= t('pupils.analysis.without_storage_heaters') %>)</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% elsif @school.has_electricity? %>
    <%= component 'pupil_explore', school: @school, icon: 'bolt', fuel_type: :electricity do |c| %>
      <% c.with_category category: :electricity, link_text: t('common.electricity') %>
      <% c.with_note do %>
        <div>
          <% if @school.has_storage_heaters? %>
            <p class="small">(<%= t('pupils.analysis.without_storage_heaters') %>)</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @school.has_gas? %>
    <%= component 'pupil_explore', school: @school, icon: 'fire', fuel_type: :gas do |c| %>
      <% c.with_category category: :gas, link_text: t('common.gas') %>
    <% end %>
  <% end %>
  <% if @school.has_storage_heaters? %>
    <%= component 'pupil_explore', school: @school, icon: 'intercom', icon_set: 'fab', fuel_type: :storage_heaters do |c| %>
      <% c.with_category category: :storage_heaters, link_text: t('common.storage_heaters') %>
    <% end %>
  <% end %>
</div>

<% if @school.has_live_data? %>
  <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="mb-2 rounded h-100 bg-electric-light">
          <div class="row p-4">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h3>
                    <%= component 'icon', name: 'tachometer-alt', style: :circle, size: 'f3' %>
                  </h3>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h3>
                    <%= link_to t('pupils.analysis.live_energy_data'), school_live_data_path(@school),
                                class: 'text-decoration-none' %>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<% end %>
