<%= component 'comparison_table', headers: @headers, report: report, table_name: table_name, index_params: index_params do |c| %>
  <% @results.each do |result| %>
    <% c.with_row do |r| %>
      <% r.with_school school: result.school, advice_page: advice_page %>

      <% if result.electricity_economic_tariff_changed_this_year %>
        <% r.with_reference do %>
            <a href="#electricity_economic_tariff_changed_this_year">[t]</a>
        <% end %>
      <% end %>

      <%= r.with_var val: result.one_year_baseload_per_pupil_kw * 1000.0, unit: :kw %>
      <%= r.with_var val: result.average_baseload_last_year_gbp, unit: :£ %>
      <%= r.with_var val: result.average_baseload_last_year_kw, unit: :kw %>
      <%= r.with_var val: result.annual_baseload_percent, unit: :percent %>
      <%= r.with_var val: [0.0, result.one_year_saving_versus_exemplar_gbp].max, unit: :£ %>
    <% end %>
  <% end %>
  <% c.with_footer do %>
    <tr>
      <td colspan="6">
        <p>
          <strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong>
        </p>
        <a name="electricity_economic_tariff_changed_this_year">[t]</a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
        <%= t('analytics.benchmarking.configuration.column_heading_explanation.last_year_definition_html') %>
      </td>
    </tr>
  <% end %>
<% end %>
