<div class="footer-top py-4">
  <div class="container">
    <div class="row">
      <div id='quick-links' class="col-6 col-lg-2">
        <h1><%= t('footer.quick_links') %></h1>
        <ul class="list-unstyled">
          <li><%= link_to t('common_nav_bar_menus.activities'), activity_categories_path %></li>
          <li><%= link_to t('common_nav_bar_menus.actions'), intervention_type_groups_path %></li>
          <li><%= link_to t('our_schools_menu.view_schools'), schools_path %></li>
          <li><%= link_to t('our_schools_menu.scoreboards'), scoreboards_path %></li>
          <li><%= link_to t('about_menu.contact'), contact_path %></li>
        </ul>
      </div>
      <div id='services' class="col-6 col-lg-2">
        <h1><%= t('footer.services') %></h1>
        <ul class="list-unstyled">
          <li><%= link_to t('our_services_menu.energy_management_tool'), product_path %></li>
          <li><%= link_to t('our_services_menu.energy_audits'), energy_audits_path %></li>
          <li><%= link_to t('our_services_menu.educational_workshops'), education_workshops_path %></li>
          <li><%= link_to t('our_services_menu.training'), training_path %></li>
          <li><%= link_to t('home.buttons.watch_a_demo'), demo_campaigns_path %></li>
          <li><%= link_to t('our_services_menu.case_studies'), case_studies_path %></li>
        </ul>
      </div>
      <div id='other-links' class="col-6 col-lg-2">
        <h1><%= t('footer.other_links') %></h1>
        <ul class="list-unstyled">
          <li><%= link_to t('about_menu.jobs'), jobs_path %></li>
          <li><%= link_to t('about_menu.blog'), 'http://blog.energysparks.uk',
                          target: '_blank', rel: 'noopener' %></li>
          <li><%= link_to t('about_menu.school_statistics'), school_statistics_path %></li>
          <li><%= link_to t('about_menu.datasets'), attribution_path %></li>
          <li><%= link_to t('about_menu.open_data'), datasets_path %></li>
        </ul>
      </div>
      <div id='legal-terms' class="col-6 col-lg-2">
        <h1><%= t('footer.legal_terms') %></h1>
        <ul class="list-unstyled">
          <li><%= link_to t('footer.terms_and_conditions'), terms_and_conditions_path %></li>
          <li><%= link_to t('about_menu.privacy_policy'), privacy_and_cookie_policy_path %></li>
          <li><%= link_to t('cookies.title'), cookies_path %></li>
          <li><%= link_to t('footer.child_safeguarding_policy'), child_safeguarding_policy_path %></li>
        </ul>
      </div>
      <div id='newsletter-signup' class="col-12 col-lg-4">
        <h1><%= t('footer.newsletter_signup') %></h1>
        <%= form_with url: new_mailchimp_signup_path, method: :get, local: true do %>
          <div class="form-group">
            <span class="form-text"><%= t('mailchimp.latest_news_title') %></span>

            <% unless user_signed_in? %>
              <%= text_field_tag(:email_address, nil,
                                 class: 'form-control',
                                 placeholder: t('mailchimp.example'),
                                 'aria-describedby': 'emailHelp',
                                 autocomplete: 'off') %>
            <% end %>
            <% if user_signed_in? && Flipper.enabled?(:profile_pages, current_user) %>
              <%= link_to t('mailchimp.signup_now'),
                          user_emails_path(current_user),
                          class: 'btn btn-outline-white mt-2' %>
            <% else %>
              <%= submit_tag t('mailchimp.signup_now'),
                             class: 'btn btn-outline-white mt-2' %>
            <% end %>
            <span id='emailHelp' class="form-text"><%= t('mailchimp.never_share_your_email_promise') %>.</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
