<h1>Transport types</h1>

<table class="table table-sorted">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Speed (km/h)</th>
      <th>Carbon (kg co2e/km)</th>
      <th>Can share</th>
      <th>Park and stride</th>
      <th>Note</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transport_types.each do |transport_type| %>
      <tr>
        <td><%= transport_type.image %></td>
        <td><%= link_to transport_type.name, admin_transport_type_path(transport_type) %></td>
        <td><%= transport_type.category.try(:humanize) %>
        <td><%= transport_type.speed_km_per_hour %></td>
        <td><%= transport_type.kg_co2e_per_km %></td>
        <td><span class="badge text-bg-primary"><%= y_n(transport_type.can_share) %></span></td>
        <td><span class="badge text-bg-primary"><%= y_n(transport_type.park_and_stride) %></span></td>
        <td><%= transport_type.note %></td>
        <td><%= transport_type.position %></td>
        <td>
          <div class="btn-group">
            <%= render partial: 'buttons', locals: { transport_type: transport_type } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= if can? :create, TransportSurvey::TransportType
      link_to 'New Transport type', new_admin_transport_type_path, class: 'btn btn-primary'
    end %>
