<h1>Transport types</h1>

<h2><%= @transport_type.image %> <%= @transport_type.name %></h2>

<dl class="row">
  <% I18n.available_locales.each do |locale| %>
    <dt class="col-md-2">Name (<%= t("languages.#{locale}") %>)</dt>
    <dd class="col-md-10">
      <%= @transport_type.name(locale: locale).present? ? @transport_type.name(locale: locale) : "No name present" %>
    </dd>
  <% end %>

  <dt class="col-md-2">Category</dt>
  <dd class="col-md-10"><%= @transport_type.category.humanize %></dd>

  <dt class="col-md-2">Image</dt>
  <dd class="col-md-10"><%= @transport_type.image %></dd>

  <dt class="col-md-2">Note</dt>
  <dd class="col-md-10"><%= @transport_type.note %></dd>

  <dt class="col-md-2">Speed (km/h)</dt>
  <dd class="col-md-10"><%= @transport_type.speed_km_per_hour %></dd>

  <dt class="col-md-2">Carbon (kg co2e/km)</dt>
  <dd class="col-md-10"><%= @transport_type.kg_co2e_per_km %></dd>

  <dt class="col-md-2">Position</dt>
  <dd class="col-md-10"><%= @transport_type.position %></dd>

  <dt class="col-md-2">Can share</dt>
  <dd class="col-md-10"><span class="badge bg-primary text-light"><%= y_n(@transport_type.can_share) %></span></dd>

  <dt class="col-md-2">Park and stride</dt>
  <dd class="col-md-10"><span class="badge bg-primary text-light"><%= y_n(@transport_type.park_and_stride) %></span></dd>

  <dt class="col-md-2">Created at</dt>
  <dd class="col-md-10"><%= nice_date_times @transport_type.created_at %></dd>

  <dt class="col-md-2">Updated at</dt>
  <dd class="col-md-10"><%= nice_date_times @transport_type.updated_at %></dd>
</dl>

<p>
  <div class="btn-group">
    <%= render partial: "buttons", locals: { transport_type: @transport_type } %>
    <%= link_to 'Back', admin_transport_types_path, class: 'btn btn-secondary' if can? :index, TransportType %>
  </div>
</p>
