<%= simple_form_for [school, installation] do |form| %>
  <%= render 'shared/errors', subject: installation, subject_name: 'rtone variant api feed' %>

  <%= form.input :amr_data_feed_config_id, as: :hidden,
                                           input_html: { value: AmrDataFeedConfig.rtone_variant_api.first.id } %>

  <%= form.input :meter_id, collection: @non_gas_meters, label_method: :mpan_mprn, value_method: :id,
                            include_blank: false, label: 'Energy Sparks Meter' %>

  <%= form.input :rtone_meter_id, as: :string, label: 'Rtone Meter Id', disabled: installation.persisted? %>
  <%= form.input :rtone_component_type, collection: RtoneVariantInstallation.rtone_component_types.keys,
                                        include_blank: false, label: 'Rtone Meter Type' %>

  <%= form.input :username, as: :string %>
  <%= form.input :password, as: :string %>

  <div class='actions'>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
