<% i18n_scope = 'school_groups.impact.energy_efficiency' %>

<%= render Layout::Cards::SectionHeaderComponent.new(
      id: 'energy-efficiency-header'
    ) do |section_header| %>
  <%= section_header.with_header title: t('title', scope: i18n_scope) %>
  <%= section_header.with_description { t('description', scope: i18n_scope) } %>
<% end %>

<%= render Layout::GridComponent.new(
      id: 'energy-efficiency-cards',
      cols: 2,
      classes: 'mb-4',
      cell_classes: 'mb-4',
      component_classes: 'theme theme-dark'
    ) do |grid| %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: t('cards.total_gas_savings.title', scope: i18n_scope) %>
    <%= card.with_figure format_unit(impact_report.energy_efficiency.total_gas_savings, :£) %>
    <%= card.with_subtext do
          t('cards.total_gas_savings.subtext', scope: i18n_scope,
                                               count: impact_report.energy_efficiency.total_gas_savings_schools)
        end %>
    <%= card.with_placeholder %>
  <% end %>

  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: t('cards.total_electricity_savings.title', scope: i18n_scope) %>
    <%= card.with_figure format_unit(impact_report.energy_efficiency.total_electricity_savings, :£) %>
    <%= card.with_subtext do
          t('cards.total_electricity_savings.subtext',
            scope: i18n_scope,
            count: impact_report.energy_efficiency.total_electricity_savings_schools)
        end %>
    <%= card.with_placeholder %>
  <% end %>

  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: t('cards.reduced_gas_emissions.title', scope: i18n_scope) %>
    <%= card.with_figure(
          format_unit(impact_report.energy_efficiency.reduced_gas_emissions, :co2, false)
        ) %>
    <%= card.with_subtext do
          t('cards.reduced_gas_emissions.subtext',
            scope: i18n_scope,
            count: impact_report.energy_efficiency.reduced_electricity_emissions_schools)
        end %>
    <%= card.with_placeholder %>
  <% end %>

  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: t('cards.reduced_electricity_emissions.title', scope: i18n_scope) %>
    <%= card.with_figure(
          format_unit(
            impact_report.energy_efficiency.reduced_electricity_emissions,
            :co2, false
          )
        ) %>
    <%= card.with_subtext do
          t(
            'cards.reduced_electricity_emissions.subtext',
            scope: i18n_scope,
            count: impact_report.energy_efficiency.reduced_electricity_emissions_schools
          )
        end %>
    <%= card.with_placeholder %>
  <% end %>
<% end %>

<%= render Layout::GridComponent.new(
      id: 'energy-efficiency-feature',
      cols: 2,
      theme: :light,
      classes: 'rounded-xl p-4 my-4',
      cell_classes: 'my-auto'
    ) do |grid| %>
  <%= grid.with_placeholder %>
  <%= grid.with_feature_card(size: :md) do |feature| %>
    <%= feature.with_header title: t('featured.title', scope: i18n_scope) %>
    <%= feature.with_description do
          t(
            'featured.description',
            scope: i18n_scope,
            school: impact_report.energy_efficiency.featured_school.name,
            percentage_reduction: impact_report.energy_efficiency.featured_school_percentage_reduction
          )
        end %>
    <%= feature.with_button(
          t('common.view_dashboard'),
          school_path(impact_report.energy_efficiency.featured_school),
          style: :secondary
        ) %>
  <% end %>
  <%= grid.with_image(src: 'pupils-jumping.jpg') %>
<% end %>

<div class='pb-2 text-center' id='energy-efficiency-analysis'>
  <%= render Elements::HeaderComponent.new(
        level: 4,
        title: t('analysis', scope: i18n_scope)
      ) %>

  <%= render Elements::ButtonComponent.new(
        t('common.view_dashboard'),
        school_group_path(impact_report.school_group),
        style: :primary,
        classes: 'mb-2 me-2'
      ) %>

  <%= render Elements::ButtonComponent.new(
        t('common.view_analysis'),
        school_group_advice_path(impact_report.school_group),
        style: :secondary,
        classes: 'mb-2'
      ) %>
</div>
