<%= render Layout::Cards::SectionHeaderComponent.new(
      id: 'energy-efficiency-header'
    ) do |section_header| %>
  <%= section_header.with_header title: impact_t('energy_efficiency.title') %>
  <%= section_header.with_description { impact_t('energy_efficiency.description') } %>
<% end %>

<%= render Layout::GridComponent.new(
      id: 'energy-efficiency-cards',
      cols: 2,
      classes: 'mb-4',
      cell_classes: 'mb-4',
      component_classes: 'theme theme-dark'
    ) do |grid| %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('energy_efficiency.cards.total_gas_savings.title') %>
    <%= card.with_figure format_unit(impact_report.energy_efficiency.total_gas_savings, :£) %>
    <%= card.with_subtext do
          impact_t('energy_efficiency.cards.total_gas_savings.subtext',
                   count: impact_report.energy_efficiency.total_gas_savings_schools)
        end %>
    <%= card.with_placeholder %>
  <% end %>

  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('energy_efficiency.cards.total_electricity_savings.title') %>
    <%= card.with_figure format_unit(impact_report.energy_efficiency.total_electricity_savings, :£) %>
    <%= card.with_subtext do
          impact_t('energy_efficiency.cards.total_electricity_savings.subtext',
                   count: impact_report.energy_efficiency.total_electricity_savings_schools)
        end %>
    <%= card.with_placeholder %>
  <% end %>

  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('energy_efficiency.cards.reduced_gas_emissions.title') %>
    <%= card.with_figure(
          format_unit(impact_report.energy_efficiency.reduced_gas_emissions, :co2, false)
        ) %>
    <%= card.with_subtext do
          impact_t('energy_efficiency.cards.reduced_gas_emissions.subtext',
                   count: impact_report.energy_efficiency.reduced_electricity_emissions_schools)
        end %>
    <%= card.with_placeholder %>
  <% end %>

  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('energy_efficiency.cards.reduced_electricity_emissions.title') %>
    <%= card.with_figure(
          format_unit(
            impact_report.energy_efficiency.reduced_electricity_emissions,
            :co2, false
          )
        ) %>
    <%= card.with_subtext do
          impact_t(
            'energy_efficiency.cards.reduced_electricity_emissions.subtext',
            count: impact_report.energy_efficiency.reduced_electricity_emissions_schools
          )
        end %>
    <%= card.with_placeholder %>
  <% end %>
<% end %>

<%= render Layout::GridComponent.new(
      id: 'energy-efficiency-featured',
      cols: 2,
      theme: :light,
      classes: 'rounded-3 p-4 my-4',
      cell_classes: 'my-auto'
    ) do |grid| %>
  <%= grid.with_placeholder %>
  <%= grid.with_feature_card(size: :md) do |feature| %>
    <%= feature.with_header title: impact_t('energy_efficiency.featured.title') %>
    <%= feature.with_description do
          impact_t(
            'energy_efficiency.featured.description',
            school: impact_report.energy_efficiency.featured_school.name,
            percentage_reduction: impact_report.energy_efficiency.featured_school_percentage_reduction
          )
        end %>
    <%= feature.with_button(
          t('common.view_dashboard'),
          school_path(impact_report.energy_efficiency.featured_school),
          style: :secondary
        ) %>
  <% end %>
  <%= grid.with_image(src: 'pupils-jumping.jpg') %>
<% end %>

<div class='pb-2 text-center' id='energy-efficiency-buttons'>
  <%= render Elements::HeaderComponent.new(
        level: 4,
        title: impact_t('energy_efficiency.analysis')
      ) %>

  <%= render Elements::ButtonComponent.new(
        t('common.view_dashboard'),
        school_group_path(impact_report.school_group),
        style: :primary,
        classes: 'mb-2 me-2'
      ) %>

  <%= render Elements::ButtonComponent.new(
        t('common.view_analysis'),
        school_group_advice_path(impact_report.school_group),
        style: :secondary,
        classes: 'mb-2'
      ) %>
</div>
