<%= render Layout::Cards::SectionHeaderComponent.new(
      id: 'engagement-header'
    ) do |section_header| %>
  <%= section_header.with_header title: impact_t('engagement.title') %>
  <%= section_header.with_description { impact_t('engagement.description') } %>
<% end %>

<%= render Layout::GridComponent.new(id: 'engagement-cards',
                                     cols: 4, classes: 'mb-4',
                                     cell_classes: 'mb-4',
                                     component_classes: 'theme theme-dark') do |grid| %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('engagement.cards.activities.title') %>
    <%= card.with_figure number_with_delimiter(impact_report.engagement.activities) %>
    <%= card.with_subtext do
          impact_t('engagement.cards.activities.subtext',
                   count: impact_report.data_visible_schools_count)
        end %>
  <% end %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('engagement.cards.actions.title') %>
    <%= card.with_figure number_with_delimiter(impact_report.engagement.actions) %>
    <%= card.with_subtext do
          impact_t('engagement.cards.actions.subtext', count: impact_report.overview.active_users)
        end %>
  <% end %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('engagement.cards.points.title') %>
    <%= card.with_figure number_with_delimiter(impact_report.engagement.points) %>
    <%= card.with_subtext { impact_t('engagement.cards.points.subtext') } %>
  <% end %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_header title: impact_t('engagement.cards.targets.title') %>
    <%= card.with_figure number_with_delimiter(impact_report.engagement.targets) %>
    <%= card.with_subtext { impact_t('engagement.cards.targets.subtext') } %>
  <% end %>
  <% grid.with_stats_card(if: false) do |card| %>
    <%= card.with_header title: impact_t('engagement.cards.programmes.title') %>
    <%= card.with_figure number_with_delimiter(impact_report.engagement.programmes) %>
    <%= card.with_subtext do
          impact_t('engagement.cards.programmes.subtext', count: impact_report.engagement.programmes)
        end %>
  <% end %>
<% end %>

<% if impact_report.engagement.featured_school %>
  <%= render Layout::GridComponent.new(
        id: 'engagement-featured',
        cols: 2,
        theme: :accent,
        classes: 'rounded-3 p-4 my-4',
        cell_classes: 'my-auto'
      ) do |grid| %>
    <%= grid.with_feature_card(classes: '', size: :md) do |feature| %>
      <%= feature.with_header(title: impact_t('engagement.featured.title',
                                              school: impact_report.engagement.featured_school.name)) %>
      <%= feature.with_description do
            impact_t('engagement.featured.description',
                     school: impact_report.engagement.featured_school.name,
                     activities: impact_report.engagement.featured_school_activities,
                     actions: impact_report.engagement.featured_school_actions)
          end %>
      <%= feature.with_button(t('common.view_dashboard'),
                              school_path(impact_report.engagement.featured_school), style: :secondary) %>
    <% end %>
    <%= grid.with_block(classes: 'bg-white p-4 rounded-3') do %>
      <% podium = Podium.create(school: impact_report.engagement.featured_school, scoreboard: @school_group) %>
      <%= render(Scoreboards::PodiumComponent.new(
                   podium: podium,
                   path_to_scoreboard: scores_school_group_advice_path(@school_group),
                   i18n_scope: 'components.scoreboards.group_summary.podium'
                 )) %>
    <% end %>
  <% end %>
<% end %>

<div class='pb-2 text-center' id='engagement-buttons'>
  <%= render Elements::HeaderComponent.new(level: 4,
                                           title: impact_t('engagement.looking_for_more_detail')) %>
  <%= render Elements::ButtonComponent.new(
        t('common.view_timeline'),
        school_group_timeline_path(impact_report.school_group), style: :primary, classes: 'mb-2 me-2'
      ) %>
  <%= render Elements::ButtonComponent.new(
        t('common.view_scoreboard'),
        scores_school_group_advice_path(impact_report.school_group), style: :secondary, classes: 'mb-2'
      ) %>
</div>
