<%= render Layout::Cards::SectionHeaderComponent.new(
      id: 'potential-savings-header'
    ) do |section_header| %>
  <%= section_header.with_header title: impact_t('potential_savings.title') %>
  <%= section_header.with_description { impact_t('potential_savings.description') } %>
<% end %>

<%= render Layout::GridComponent.new(id: 'potential-savings-cards',
                                     cols: 3, classes: 'mb-4',
                                     cell_classes: 'mb-4',
                                     component_classes: 'theme theme-dark') do |grid| %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_placeholder %>
    <%= card.with_header title: impact_t('potential_savings.cards.electricity_savings.title') %>
    <%= card.with_figure format_unit(impact_report.potential_savings.electricity_out_of_hours_gbp, :£) %>
    <%= card.with_subtext do
          impact_t('potential_savings.cards.electricity_savings.subtext')
        end %>
  <% end %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_placeholder %>
    <%= card.with_header title: impact_t('potential_savings.cards.solar_panels.title') %>
    <%= card.with_figure format_unit(impact_report.potential_savings.solar_panels_gbp, :£) %>
    <%= card.with_subtext do
          impact_t('potential_savings.cards.solar_panels.subtext',
                   count: impact_report.potential_savings.number_of_schools(:solar_panels))
        end %>
  <% end %>
  <% grid.with_stats_card do |card| %>
    <%= card.with_placeholder %>
    <%= card.with_header title: impact_t('potential_savings.cards.gas_savings.title') %>
    <%= card.with_figure format_unit(impact_report.potential_savings.gas_out_of_hours_gbp, :£) %>
    <%= card.with_subtext do
          impact_t('potential_savings.cards.gas_savings.subtext',
                   count: impact_report.potential_savings.number_of_schools(:gas_out_of_hours))
        end %>
  <% end %>
<% end %>

<div class='pb-2 text-center' id='potential-savings-button'>
  <%= render Elements::ButtonComponent.new(
        t('common.view_all_potential_savings'),
        priorities_school_group_advice_path(impact_report.school_group), style: :primary, classes: 'mb-2'
      ) %>
</div>
