<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: 'Contract Holders' %>
  <% header_nav.with_button 'Contracts & Licensing', admin_commercial_path %>
<% end %>

<div class="row">
  <div class="col">
    <p>
        The following table lists all contract holders (Schools, School Groups, Funders) that have current contracts.
        The counts show how many schools are onboarding, are data enabled or are in the process of being setup.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <table id='contract-holders-table' class="table table-paged table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Onboarding</th>
          <th>Visible not data enabled</th>
          <th>Visible and data enabled</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @contract_holder_summaries.each do |summary| %>
          <tr>
            <td>
              <%= link_to summary[:name],
                          polymorphic_path([:admin, summary[:type].underscore.to_sym, :contracts],
                                           "#{summary[:type].underscore}_id": summary[:id]) %>
            </td>
            <td><%= summary[:type] %></td>
            <td><%= summary[:onboardings] %></td>
            <td><%= summary[:visible_not_data_enabled] %></td>
            <td><%= summary[:visible_data_enabled] %></td>
            <td><%= summary[:total] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
