<div class="d-flex justify-content-between align-items-center">
  <h1>Dashboard Message for <%= "#{@messageable.name} #{@messageable.model_name.to_s.titleize}" %></h1>
  <div>
    <%= header_nav_link "View #{@messageable.model_name.human.downcase}", url_for( [:admin, @messageable] ) %>
  </div>
</div>

<%= simple_form_for(@dashboard_message, url: [:admin, @messageable, :dashboard_message], method: :put) do |f| %>
  <%= redirect_back_tag params %>
  <%= f.input :message %>
  <%= f.submit 'Save', class: "btn" %>
  <% unless @dashboard_message.new_record? %>
   <%= link_to 'Delete', polymorphic_url([:admin, @messageable, :dashboard_message], redirect_back_params(params)), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn' %>
  <% end %>
<% end %>
