<div class="d-flex justify-content-between align-items-center">
  <h1>Dashboard message for <%= "#{@object.name} #{@object.model_name.human.downcase}" %></h1>
  <div>
    <%= header_nav_link "View #{@object.model_name.human.downcase}", url: [:admin, @object] %>
  </div>
</div>

<%= simple_form_for(@dashboard_message, url: [:admin, @object, :dashboard_message], method: :put) do |f| %>
  <%= f.input :message %>
  <%= f.submit 'Save', class: "btn" %>
  <% unless @dashboard_message.new_record? %>
    <%= link_to 'Delete', url_for([:admin, @object, :dashboard_message]), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn' %>
  <% end %>
<% end %>
