<div class="card-deck">
  <% activity_types.each do |activity_type| %>
    <div class="card">
      <%= link_to activity_type_path_url(@school, activity_type) do %>
        <%= render 'activity_types/activity_type_image', activity_type: activity_type %>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <%= activity_type.name %>
        </p>
      </div>
      <div class="card-footer" style="border-top: none; background-color: white;">
        <%= render 'activity_types/activity_type_subjects', activity_type: activity_type %>
      </div>
      <div class="card-footer" style="border-top: none; background-color: white;">
        <%= render 'activity_types/activity_type_key_stages', activity_type: activity_type %>
        <%= render 'activity_types/activity_type_score', activity_type: activity_type %>
      </div>
    </div>
  <% end %>
</div>
