<%= form_for(activity_category) do |f| %>
  <% if activity_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity_category.errors.count, "error") %> prohibited this activity_category from being saved:</h2>

      <ul>
      <% activity_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
