<%= form_for(activity_category) do |f| %>
  <%= render 'shared/errors', subject: activity_category, subject_name: 'activity category' %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :badge_name %>
      <%= f.text_field :badge_name, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
