<div class="row padded-row">
  <div class="col-lg-12">
    <h2><%= title %></h2>
    <p>Each school's energy-saving journey will evolve in a different way. But a well-designed energy-saving plan will involve a balance of activities from each of the following categories.</p>

    <p>Choose a category below to explore the list of recommended activities. More detail is provided about each activity to help you complete it.</p>

    <p>Completing activities will allow you to <%= link_to 'score points', scoring_path %>.</p>
    <p>The figure in the green square is the number of points each activity is worth, 10 points for example: <span class="badge badge-success">10</span>

    <p>Choose a category below to explore the list of recommended activities. More detail and resources are provided for each activity to help you complete it. Activities are currently filtered by the curriculum stage of your school. You can change this if you wish to explore the activities available for older and younger pupils.</p>
  </div>
</div>

<div class="row padded-row">
  <div class="col-md-3">
    <%= form_tag activity_categories_path, method: :get do %>
      <h3>Filters</h3>
      <%= submit_tag "Filter Activity Types", class: 'btn btn-info' %>
      <%= render 'filters', filter: filter %>
      <%= submit_tag "Filter Activity Types", class: 'btn btn-info' %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="nav flex-column nav-pills card-header-pills mb-5" id="v-pills-tab" role="tablist">
      <% activity_categories.each_with_index do |activity_category, idx| %>
        <a class="border nav-link <%= idx == 0 ? 'active' : '' %>"
           id="v-pills-cat<%= activity_category.id %>-tab"
           data-toggle="pill"
           href="#v-pills-cat<%= activity_category.id %>"
           role="tab"
           aria-controls="v-pills-home"
           aria-expanded="<%= idx == 0 ? 'true' : 'false' %>"><p><%= activity_category.name %></p></a>
      <% end %>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <%= yield %>
    </div>
  </div>
</div>
