<% content_for :page_title do %>
    <%= t('application') %> Activities
<% end %>

<div class="container">
  <div class="row padded-row">
    <div class="col-lg-12">
      <h2><%= t('application') %> Activities</h2>
      <p>
        Each school's energy-saving journey will evolve in a different way. But a well-designed energy-saving plan
        will involve a balance of activities from each of the following categories.
      </p>

      <p>
        Choose a category below to explore the list of recommended activities. More detail is provided about each
        activity to help you complete it.
      </p>
      <p>
        Completing activities will allow you to <%= link_to 'score points and earn awards', scoring_path %>.
      </p>
    </div>
  </div>

  <div class="">
    <%= form_tag activity_categories_path, method: :get do %>
        <fieldset id="checkbox-container">
          <%= collection_check_boxes :key_stage_tag, :key_stage_names, @key_stage_tags, :name, :name, { multiple: true } do |b| %>
            <div class="form-check form-check-inline">
              <%= b.check_box( checked: (@key_stage_filter_names.include?(b.object.name)), class: "form-check-input") %>
              <%= b.label(class: "form-check-label") do %>
                <%= b.object.name %>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= submit_tag "Filter Activity Types", class: 'btn btn-primary' %>
      </fieldset>
    <% end %>
    <button id="check_all_filters" class="btn btn-success">Check All</button>
  </div>

  <div class="row padded-row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills card-header-pills" id="v-pills-tab" role="tablist">
        <% @activity_categories.each_with_index do |activity_category, idx| %>
          <a class="border nav-link <%= idx == 0 ? 'active' : '' %>"
             id="v-pills-cat<%= activity_category.id %>-tab"
             data-toggle="pill"
             href="#v-pills-cat<%= activity_category.id %>"
             role="tab"
             aria-controls="v-pills-home"
             aria-expanded="<%= idx == 0 ? 'true' : 'false' %>"><p><%= activity_category.name %></p></a>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
        <% @activity_categories.each_with_index do |activity_category, idx| %>
          <div class="tab-pane fade show <%= idx == 0 ? 'active' : '' %>" id="v-pills-cat<%= activity_category.id %>" role="tabpanel" aria-labelledby="v-pills-cat<%= activity_category.id %>-tab">
            <% if activity_category.description.present? %>
              <p><%= activity_category.description %></p>
            <% end %>
            <% if activity_category.sorted_activity_types_with_key_stages(by: :score, array_of_key_stages_names: @key_stage_filter_names).any? %>
              <% activity_category.sorted_activity_types_with_key_stages(by: :score, array_of_key_stages_names: @key_stage_filter_names).each do |activity_type| %>
                <p>
                  <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Score awarded for this activity"><%= activity_type.score %></span>
                  <%= link_to "#{activity_type.name} (#{activity_type.key_stages})", activity_type_path(activity_type) %>
                </p>
              <% end %>
            <% else %>
              <p>There are no activities for this category, using the filters you have set.</p>
            <% end %>
            <p>
              <% if can? :manage, ActivityCategory %>
                <%= link_to 'Edit', edit_activity_category_path(activity_category), class: 'btn btn-primary' %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% if can? :manage, ActivityCategory %>
      <%= link_to 'New Activity Category', new_activity_category_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
