<% content_for :page_title do %>
   Activities
<% end %>

<div class="container">
  <div class="row padded-row">
    <div class="col-lg-12">
      <h2>Energy Sparks Activities</h2>

      <p>
        Each school's energy-saving journey will evolve in a different way. However a well-designed Energy Saving Plan
        will involve a good balance of activities from each of the following categories.
      </p>

      <p>
        Recording different types of activity may score you different amounts of points, or earn you badges
      </p>
    </div>
  </div>

  <% @activity_categories.each do |activity_category| %>
    <% if activity_category.sorted_activity_types.present? %>
      <div class="row padded-row">
        <div class="col-md-3 callout-text">
          <h5><%= activity_category.name %></h5>
          <p>
          <% if can? :manage, ActivityCategory %>
              <%= link_to 'Show', activity_category, class: 'btn btn-info' %>
              <%= link_to 'Edit', edit_activity_category_path(activity_category), class: 'btn btn-primary' %>
          <% end %>
          </p>
        </div>
        <div class="col-md-9">
          <p>In this category we suggest performing the following activities</p>
          <table class="table">
            <thead>
              <th>Activity</th>
              <th>Score</th>
              <th></th>
            </thead>
            <tbody>
              <% activity_category.sorted_activity_types.each do |activity_type| %>
                <tr>
                  <td><%= link_to activity_type.name, activity_type_path(activity_type) %></td>
                  <td><%= activity_type.score %></td>
                  <td>
                    <% if can? :manage, ActivityType %>
                        <%= link_to 'Edit', edit_activity_type_path(activity_type), class: 'btn btn-primary' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <% if can? :manage, ActivityCategory %>
      <%= link_to 'New Activity Category', new_activity_category_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>
