<% content_for :page_title, "Activities" %>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Energy saving activities</h1>
    </div>
  </div>
</div>

<div class="row padded-row">
  <div class="col">
    <p>Each school's energy-saving journey will evolve in a different way. But a well-designed energy-saving plan will involve a balance of activities from each of the following categories.</p>
    <p>Choose a category below to explore the list of recommended activities. More detail is provided about each activity to help you complete it.</p>
  </div>
</div>

<% if !@suggested_activities.blank? %>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Recommended for your school</h3>
        <div>
          <%= link_to 'View all', recommended_activity_categories_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "cards", activity_types: @suggested_activities.first(5) %>
  <div class="row padded-row"></div>
<% end %>

<% @activity_categories.each do |activity_category| %>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3><%= activity_category.name %></h3>
        <div>
          <%= link_to 'View all', activity_category_path(activity_category), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "cards", activity_types: activity_category.activity_types.active.sample(5) %>
  <div class="row padded-row"></div>
<% end %>

<% if !@pupil_categories.blank? %>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Pupil activities</h3>
      </div>
    </div>
  </div>
  <%= render "pupil_categories", activity_categories: @pupil_categories.first(4) %>
  <div class="row padded-row"></div>
<% end %>

<% if !@programme_types.blank? %>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Programmes</h3>
      </div>
    </div>
  </div>
  <%= render "programme_types", programme_types: @programme_types.first(5) %>
  <div class="row padded-row"></div>
<% end %>

