<% content_for :page_title, "Activities" %>

<%= render 'list_and_filters', filter: @filter, activity_categories: @activity_categories, title: "Energy Sparks Activities" do %>
  <% @activity_categories.each_with_index do |activity_category, idx| %>
    <div class="tab-pane fade show <%= idx == 0 ? 'active' : '' %>" id="v-pills-cat<%= activity_category.id %>" role="tabpanel" aria-labelledby="v-pills-cat<%= activity_category.id %>-tab">
      <% if activity_category.description.present? %>
        <p><%= activity_category.description %></p>
      <% end %>
      <% if @filter.for_category(activity_category).any? %>
        <% @filter.for_category(activity_category).order(:score).each do |activity_type| %>
          <p>
            <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Score awarded for this activity"><%= activity_type.score %></span>
            <%= link_to "#{activity_type.name} (#{activity_type.key_stage_list})", activity_type_path(activity_type) %>
          </p>
        <% end %>
      <% else %>
        <p>There are no activities for this category, using the filters you have set.</p>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if can? :manage, ActivityCategory %>
  <%= link_to 'Manage activity categories', admin_activity_categories_path, class: 'btn' %>
<% end %>
