<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @activity_category.name %></h1>
      <div>
        <%= link_to 'All activities', activity_categories_path, class: 'btn btn-secondary'  %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      <% if @activity_category.description.present? %>
        <%= @activity_category.description %>
      <% end %>
    </p>
    <p>
      A collection of <strong><%= @activity_category.activity_types.active.count %></strong> activities relevant to a
      range of subjects and key stages.
    </p>
  </div>
</div>

<% @activity_category.activity_types.active.custom_last.by_name.each do |activity_type| %>
  <div class="row mt-2">
    <div class="col-sm-2">
      <%= link_to activity_type_path(activity_type) do %>
        <%= render 'activity_types/image', activity_type: activity_type, css_class: "activity-card-img-thumbnail" %>
      <% end %>
    </div>
    <div class="col-sm-10">
      <p>
        <%= link_to activity_type.name, activity_type_path(activity_type) %>
      </p>
      <p>
        <%= activity_type.summary %>
      </p>
      <% if activity_type.activities_for_school(current_user_school).empty? %>
        <%= render 'activity_types/activity_type_score', activity_type: activity_type %>
        <%= render 'activity_types/activity_type_key_stages', activity_type: activity_type %>
        <%= render 'activity_types/activity_type_subjects', activity_type: activity_type %>
      <% else %>
        <%= render 'activity_types/previous_records', activities: activity_type.activities_for_school(current_user_school).by_date, school: current_user_school %>
    <% end %>
    </div>
  </div>
<% end %>
