<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @activity_category.name %></h1>
      <div>
        <%= link_to t('activity_categories.show.all_activities'), activity_categories_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      <% if @activity_category.description.present? %>
        <%= @activity_category.description %>
      <% end %>
    </p>
    <p>
      <%= t('activity_categories.show.introduction_html', count: @activity_category.activity_types.active.count) %>.
    </p>
  </div>
</div>

<% @activity_category.activity_types.active.custom_last.by_name.each do |activity_type| %>
  <%= render 'activity_types/activity_type', activity_type: activity_type, school: current_user_school %>
<% end %>
