<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @activity_category.name %></h1>
      <div>
        <%= link_to 'All activities', activity_categories_path_url(@school), class: 'btn btn-secondary'  %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p>
      <% if @activity_category.description.present? %>
        <%= @activity_category.description %>
      <% else %>
        Completing activities will allow you to score points.
      <% end %>
    </p>
  </div>
</div>

<% @activity_category.activity_types.active.by_name.each do |activity_type| %>
  <div class="row mt-2">
    <div class="col-sm-2">
      <%= link_to activity_type_path_url(@school, activity_type) do %>
        <%= render 'activity_types/activity_type_image', activity_type: activity_type %>
      <% end %>
    </div>
    <div class="col-sm-10">
      <h3>
        <%= link_to activity_type.name, activity_type_path_url(@school, activity_type) %>
      </h3>
      <p>
        <%= activity_type.summary %>
      </p>
      <%= render 'activity_types/activity_type_subjects', activity_type: activity_type %>
      <%= render 'activity_types/activity_type_key_stages', activity_type: activity_type %>
      <%= render 'activity_types/activity_type_score', activity_type: activity_type %>
    </div>
  </div>
<% end %>
