<% content_for :page_title, 'Recently recorded activities' %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Recently recorded activities</h1>

  <div>
    <%= link_to "Activity type overview", admin_reports_activity_types_path, class: "btn btn-default" %>
    <%= link_to "All reports", admin_reports_path, class: "btn btn-default" %>
  </div>
</div>

<p>
  The following is a list of all activities by schools in the last 12 months (since <%= nice_dates(1.year.ago) %>).
</p>

<p>Activities with a <span class="text-success">Green link</span> are those where the school has
  provided a custom title. Others are shown as a <span class="text-muted">grey link</span> </p>
<p>

<p>
The <%= fa_icon('check-circle text-success') %> icon in the images column indicates that the activity includes
images provided by the user
</p>

<%= render 'shared/activities', activities: @activities %>
