<% if podium&.school_has_points? && can?(:read, podium.scoreboard) %>
  <span class="nav-lozenge">
    <li class="nav-item">
      <%= link_to scoreboard_path(podium.scoreboard), class: 'nav-link' do %>
        <% if school.visible? && podium.includes_school? %>
          <%= podium.school_position.points %> points
             <%= fa_icon('arrow-up', 'data-toggle': 'tooltip', title: 'School has scored points in the last month') %>

          <% if podium.school_position.recent_points > 0 %>
             <%= fa_icon('arrow-up', 'data-toggle': 'tooltip', title: 'School has scored points in the last month') %>

            <i class="fa fa-arrow-up" data-toggle="tooltip" title="School has scored points in the last month"></i>
          <% end %>
          <span>
           <%= fa_icon('crown') %>
          </span>
          <span>
            <%= podium.school_position.ordinal %>
          </span>
        <% end %>
      <% end %>
    </li>
  </span>
<% end %>
