<nav class="navbar <%= navbar_expand_class %> navbar-second <%= navbar_secondary_class %>">
  <div class="container">

    <% school = @school || @tariff_holder&.school %>

    <% if school %>
      <ul class="navbar-nav nowrap">
        <li class="navbar-text"><%= school.name %><span class=''>:</span>
        </li>
      </ul>
    <% end %>

    <div class='ml-auto'>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-second" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="nav-second">
      <ul class="navbar-nav nowrap">
        <% if school %>
          <% if can?(:show_pupils_dash?, school) %>
            <li class="nav-item">
              <%= link_to t('dashboards.pupil_dashboard'), pupils_school_path(school), class: 'nav-link' %>
            </li>
          <% end %>

          <% if can?(:show, school) %>
            <li class="nav-item">
              <%= link_to t('dashboards.adult_dashboard'),
                          school_path(school, ({ switch: true } if current_user&.pupil?)),
                          class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
