<nav class="navbar <%= navbar_expand_class %> navbar-second <%= navbar_secondary_class %>">
  <div class="container">
    <ul class="navbar-nav nowrap">
      <% if current_school %>
        <li class='font-weight-bold'>
          <%= link_to current_school.name, school_path(current_school), class: 'nav-link' %>
        </li>
      <% elsif current_user_school %>
        <li class="nav-item">
          <% if current_user.pupil? && can?(:show_pupils_dash, current_user_school) %>
            <%= link_to 'Back to dashboard', pupils_school_path(current_user_school), class: 'nav-link' %>
          <% elsif can?(:show, current_user_school) %>
            <%= link_to 'Back to dashboard', school_path(current_user_school), class: 'nav-link' %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class='ml-auto'>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-second" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="nav-second">
      <ul class="navbar-nav nowrap">
        <li class='nav-item my-auto'>
          <% if current_school %>
            <%= render 'shared/navigation/podium',
                       podium: current_school_podium, school: current_school %>
          <% end %>
        </li>

        <% if current_school&.active %>
          <li id="school-status-buttons" class="nav-item nowrap my-auto pl-2 d-none d-xl-inline-block">
            <%= render 'shared/school_status_buttons', school: current_school %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav my-auto ml-auto">
        <%= render 'shared/navigation/dashboards' %>

        <% unless user_signed_in? %>
          <li class="nav-item nowrap">
            <%= link_to t('nav.enrol'), enrol_path, class: 'nav-link' %>
         </li>
        <% end %>

        <div class="vr <%= navbar_hide_class %>"></div>

        <% if request.path.starts_with?('/school_groups') && can?(:update_settings, current_school_group) %>
          <%= render 'shared/navigation/manage_school_group_menu' %>
        <% end %>

        <% if current_school && can?(:update, current_school) %>
          <%= render 'shared/manage_school', school: current_school %>
        <% end %>

        <% if current_user_school_group && can?(:update_settings, current_user_school_group) %> <!-- not sure above permission is right -->
          <%= render 'shared/navigation/school_groups_menu' %>
        <% end %>

        <% if current_user_school&.visible? && can?(:read, :my_school_menu) %>
          <%= render 'shared/my_school_menu' %>
        <% end %>

        <% if can? :switch, School %>
          <% if current_user && !current_user.cluster_schools_for_switching.blank? %>
            <%= render 'shared/switch_schools' %>
          <% end %>
        <% end %>

        <li class="nav-item nowrap">
          <% if user_signed_in? %>
            <%= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to t('nav.sign_in'), new_user_session_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
