<nav class="navbar <%= navbar_expand_class %> navbar-second <%= navbar_secondary_class %>">
  <div class="container">

    <% if current_school %>
      <ul class="navbar-nav nowrap">
        <li><%= current_school.name %>:</li>
      </ul>
    <% end %>

    <div class='<%= order_expand_class %>'>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-second" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="nav-second">
      <ul class="navbar-nav nowrap">
        <% if current_school %>
          <% if can?(:show_pupils_dash?, current_school) %>
            <li class="nav-item">
              <%= link_to t('dashboards.pupil_dashboard'), pupils_school_path(current_school), class: 'nav-link' %>
            </li>
          <% end %>

          <% if can?(:show, current_school) %>
            <li class="nav-item">
              <%= link_to t('dashboards.adult_dashboard'),
                          school_path(current_school, ({ switch: true } if current_user&.pupil?)),
                          class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="my-auto ml-auto">
      <ul class="navbar-nav">
        <li class='nav-item my-auto'>
          <%= render 'shared/navigation/podium',
                     podium: current_school_podium, school: current_school %>
        </li>
        <div class="vr"></div>
        <% if current_school %>
          <%= render 'shared/manage_school', school: current_school if can? :update, current_school %>
        <% end %>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to t('nav.sign_in'), new_user_session_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
