<% content_for :page_title do %>
  <%= @intervention_type.title %>
<% end %>

<div class="row padded-row">
  <div class="col-md-3">
    <%= render 'image', intervention_type: @intervention_type, css_class: "" %>
  </div>
  <div class="col-md-6">
    <h2><%= @intervention_type.title %></h2>
    <p><%= @intervention_type.summary %></p>
    <div>
      <%= render 'intervention_types/intervention_type_points', intervention_type: @intervention_type %>
    </div>
  </div>
  <div class="col-md-3">
    <%= link_to "View #{@intervention_type.intervention_type_group.intervention_types.count} related actions", intervention_type_group_path(@intervention_type.intervention_type_group), class: 'btn btn-outline-dark rounded-pill font-weight-bold float-right' %>
  </div>
</div>

<% if current_user.nil? %>
  <%= render 'shared/activities/prompt_login_to_record', label: 'action', score: @intervention_type.points, return_path: intervention_type_path(@intervention_type) %>
<% end %>

<% if current_user_school && can?(:create, Observation) %>
  <%= render 'intervention_types/prompt_score', intervention_type: @intervention_type, school: current_user_school %>
<% end %>

<% if current_user_school && @intervention_type.actions_for_school(current_user_school).any? %>
  <%= render 'intervention_types/previous_records', interventions: @interventions, school: current_user_school %>
<% end %>

<div class="row padded-row">
  <div class="col-md-9">
    <h3>Overview</h3>
    <%= @intervention_type.description %>
  </div>
  <div class="col-md-3 text-center intervention-type-download-links" data-event-value="<%= @intervention_type.id %>">
    <% if @intervention_type.download_links.present? %>
      <h4 style="padding-top: 0px;">Download resources</h4>
      <div class="activity_type">
        <%= @intervention_type.download_links %>
      </div>
    <% end %>
  </div>
</div>
