<%= tag.div id: id, class: classes do %>
  <%= render Scoreboards::SummaryComponent.new(podium: podium, user: user, show_recent_activity: false) do |summary| %>
    <% summary.with_title { t('components.scoreboards.group_summary.title') } %>
    <% summary.with_description do %>
      <div class="row">
        <div class="col">
          <%= t('components.scoreboards.group_summary.description_html') %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= render TimelineComponent.new(observations: observations,
                                   show_header: true,
                                   table_opts: { show_date: true, show_school: true },
                                   user: user, classes: 'mt-4') do |timeline| %>
    <% timeline.with_title { t('components.scoreboards.group_summary.timeline.title') } %>
    <% timeline.with_description do %>
      <p>
        <%= t('components.scoreboards.group_summary.timeline.description') %>
      </p>
    <% end %>
  <% end %>
<% end %>
