<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>New inset day</h1>

    <%= simple_form_for(@calendar_event, url: onboarding_inset_days_path(@school_onboarding)) do |f| %>

      <%= f.input :title, label: 'Description', as: :string %>

      <%= f.input :calendar_event_type_id, collection: @calendar_event_types, label_method: :display_title, label: 'Event type', include_blank: false %>

      <div class="form-group">
        <%= f.label :start_date, 'Date' %>
        <%= text_field_tag("start_date_picker_#{f.index}",
                  f.object.start_date.try(:strftime, "%d/%m/%Y"),
                  placeholder: 'select date',
                  class: 'form-control term_datepicker',
                  data: { altfield: "#calendar_event_start_date" }
                ) %>
        <%= f.hidden_field :start_date %>
      </div>

      <%= f.button :submit, 'Add inset day' %>

    <% end %>
  </div>
</div>
