<div class="row">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= nav_link('Main Dashboard', school_test1_path) %>
  </li>
  <li class="nav-item">
    <%= nav_link('Gas Usage', school_test2_path) %>
  </li>
  <li class="nav-item">
    <%= nav_link('Electricity Usage', school_test3_path) %>
  </li>
  <li class="nav-item">
    <%= nav_link('Gas details', school_test4_path) %>
  </li>
  <li class="nav-item">
    <%= nav_link('Gas Usage By Week', school_test5_path) %>
  </li>
</ul>

</div>
<div class="row">
  <p><%#= link_to 'Excel download', school_excel_path,  class: "btn btn-warning" %></p>
</div>
