<% content_for :page_title do %>Energy Dashboard for <%= @school.name %><% end %>

<h1>Energy Dashboard for <%= @school.name %></h1>
 <p><%= @school.name %> is a <%= @school.school_type %> school near <%= @school.postcode %>
 <% if @school.number_of_pupils && @school.floor_area %>
  with <%= @school.number_of_pupils %> pupils and a floor area of <%= @school.floor_area %>m<sup>2</sup>.
 <% else %>
  . Please <%= link_to 'edit the school details', edit_school_path(@school) %> and add the number of pupils and the school floor area in m<sup>2</sup> for more accurate analysis.
 <% end %>

<%= render 'nav' %>

<% @number_of_charts.times do |number| %>
  <div id="chart_wrapper_<%= number %>">
    <h3 class="analysis">Loading: <%= @charts[number].to_s.humanize %></h3>
    <div id="chart_<%= number %>" class="analysis-chart" data-chart-index="<%= number %>" data-chart-type="<%= @charts[number].to_s %>"></div>
  </div>
<% end %>
