<h1 class="mt-2"><%= t('email_unsubscription.new.unsubscribe') %></h1>

<p><%= t('email_unsubscription.new.were_sorry_message') %>:</p>

<div class="card bg-light m-2">
  <div class="card-body">
    <h5 class="card-title"><%= @content.email_title %></h5>
    <%= @content.email_content %>
  </div>
</div>

<p><%= t('email_unsubscription.new.please_let_us_know_why_message') %>.</p>

<%= simple_form_for @alert_type_rating_unsubscription, url: email_unsubscription_path(uuid: @alert_subscription_event.unsubscription_uuid) do |form| %>
  <%= form.input :reason %>
  <%= form.input :unsubscription_period, as: :radio_buttons, collection: [[t('email_unsubscription.new.unsubscription_period.one_month'), :one_month], [t('email_unsubscription.new.unsubscription_period.six_months'), :six_months], [t('email_unsubscription.new.unsubscription_period.forever'), :forever]], label: t('email_unsubscription.new.unsubscription_period.label') %>
  <%= form.submit t('common.labels.submit'), class: 'btn btn-primary' %>
<% end %>
