<%= render 'users/user_page', user: @user do %>
  <div id="my-school-list">
    <div class="row">
      <div class="col">
        <h2><%= t('users.show.update_email_preferences') %></h2>

        <p>
          <%= t('users.emails.index.intro_html') %>
        </p>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col">
        <%= form_tag user_emails_path(@user), id: 'mailchimp-form', class: 'mailchimp-form' do %>
          <% @email_types.each do |email_type| %>
            <div class="form-group row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox">
                  <%= hidden_field "interests[#{email_type.id}]", 'false' %>
                  <%= check_box_tag "interests[#{email_type.id}]",
                                    'true',
                                    @interests[email_type.id],
                                    class: 'custom-control-input' %>
                  <%= label_tag "interests[#{email_type.id}]", email_type.i18n_name, class: 'custom-control-label' %>
                </div>
              </div>
              <div class="col-sm-8">
                <p>
                  <%= email_type.i18n_description.html_safe %>
                </p>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <%= submit_tag t('common.labels.update'), class: 'btn btn-primary' %>
              <%= link_to t('common.labels.cancel'), user_path(@user), class: 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
