<%= simple_form_for([:admin, intervention_type_group]) do |f| %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :name do |locale| %>
    <%= f.input t_field(:name, locale), label: InterventionTypeGroup.human_attribute_name(:name), as: :string %>
  <% end %>

  <%= render 'admin/shared/locale_tabs', f: f, field: :description do |locale| %>
    <%= f.input t_field(:description, locale), label: InterventionTypeGroup.human_attribute_name(:description), as: :string %>
  <% end %>

  <%= f.input :icon, as: :string %>
  <p class="small">This icon is used to mark the interventions on some pages. See <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2" target="_new">fontawesome</a> for icon names

  <%= f.input :active, as: :boolean %>

  <%= f.submit class: 'btn' %>
<% end %>
