<%= simple_form_for([:admin, intervention_type_group]) do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :description, as: :string %>

  <%= f.label 'Image' %>
  <p class="small">This image will appear in the list of categories.</p>

  <%= f.input :icon, as: :string %>
  <p class="small">This icon is used to mark the interventions on some pages. See <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2" target="_new">fontawesome</a> for icon names

  <div class="upload-preview">
    <div class="col-md-3">
      <% if !f.object.image.blank? %>
        <%= image_tag f.object.image, width: '300px' %>
      <% else %>
        <%= image_tag '1x1.png' %>
      <% end %>
    </div>
  </div>

  <p>
    <%= f.input :image, label: false %>
  </p>

  <%= f.input :active, as: :boolean %>

  <%= f.submit class: 'btn' %>
<% end %>
