<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description"
      content="We help schools become more energy efficient and fight climate change, through an online,
      school-specific energy analysis tool and energy education programme.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="XV9Bt0UF-LWMNqtPSOz_Sjm9tZYDmI7jTe1NUpAIeZ4">

<title>
  <% if content_for?(:page_title) %>
    <%= content_for(:page_title) %> |
  <% end %>
  <%= t('common.application') %>
</title>

<%= csrf_meta_tags %>

<%= render 'shared/page/favicon' %>

<%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css' %>
<%= stylesheet_link_tag \
      'https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Inter:400,600,700|Quicksand:600,700&display=swap' %>
<%= stylesheet_link_tag 'https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap4.min.css' %>

<% if @bootstrap_version == 5 %>
  <%= stylesheet_link_tag 'application-bootstrap5', media: 'all' %>
<% else %>
  <%= stylesheet_link_tag 'application-bootstrap4', media: 'all' %>
<% end %>

<%= javascript_importmap_tags %>

<%= javascript_include_tag 'application_assets' %>
<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/2.0.2/js/dataTables.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap4.min.js' %>
<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js' %>

<!--js and css for leaflet -->
<%= render 'shared/leaflet' %>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<%= yield :head %>
