<%= tag.div id: id, class: class_names(classes, 'carousel slide'), 'data-wrap': true, 'data-interval': false do %>
  <div class="carousel-inner">
    <% panels.each do |panel| %>
      <%= panel %>
    <% end %>
  </div>
  <% if panels.length > 1 %>
    <div class="carousel-controls row pb-3 rounded" style="width: 100%;">
      <div class="col">
        <% if show_arrows? %>
          <a class="carousel-control-prev" href="#<%= id %>" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"><%= t('common.labels.previous') %></span>
          </a>
        <% end %>
          <ol class="carousel-indicators">
            <% if show_markers? %>
              <% panels.size.times do |n| %>
                <li data-target="#<%= id %>" data-slide-to="<%= n %>" class="<%= 'active' if n.zero? %>"></li>
              <% end %>
            <% end %>
          </ol>
        <% if show_arrows? %>
          <a class="carousel-control-next" href="#<%= id %>" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"><%= t('common.labels.next') %></span>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
