<div class="d-flex justify-content-between align-items-center">
  <h1>Meter attributes for <%= @meter.mpan_mprn %></h1>
  <div class="h5">
    <%= link_to t('schools.meters.show.school_meter_management'), school_meters_path(@school),
                class: 'btn btn-default' %>
    <%= link_to 'Meter details', school_meter_path(@school, @meter),
                class: 'btn btn-default' %>
  </div>
</div>

<ul class="nav nav-tabs" id="top-level-meter-attribute-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="meter-attributes-tab" href="<%= admin_school_meter_attributes_path(@school) %>" role="tab" aria-selected="false">All Meter-specific attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="group-meter-attributes-tab" href="<%= admin_school_school_attributes_path(@school) %>" role="tab" aria-selected="true">School-wide attributes</a>
  </li>
</ul>

<ul class="nav nav-tabs mt-3" id="meter-attribute-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="database-meter-attributes-tab" data-toggle="tab" href="#database-meter-attributes" role="tab" aria-controls="database-meter-attributes" aria-selected="true">Attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="deleted-meter-attributes-tab" data-toggle="tab" href="#deleted-meter-attributes-content" role="tab" aria-controls="deleted-meter-attributes-content" aria-selected="false">Deleted</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-meter-attributes-tab" data-toggle="tab" href="#all-meter-attributes-content" role="tab" aria-controls="all-meter-attributes-content" aria-selected="false">Final</a>
  </li>
</ul>

<div class="tab-content" id="meter-attributes-tabs-content">
  <div class="tab-pane fade show active" id="database-meter-attributes" role="tabpanel" aria-labelledby="database-meter-attributes-tab">

    <table class="table">
      <%= render 'admin/schools/meter_attributes/meter_attributes_table',
                 school: @school,
                 available_meter_attributes: @available_meter_attributes, meter: @meter %>
    </table>
  </div>

  <div class="tab-pane fade" id="deleted-meter-attributes-content" role="tabpanel" aria-labelledby="deleted-meter-attributes-tab">
    <h2>Deleted attributes</h2>
    <table class="table">
      <%= render 'admin/schools/meter_attributes/deleted_attributes_table', school: @school, meter: @meter %>
    </table>
  </div>

  <div class="tab-pane fade" id="all-meter-attributes-content" role="tabpanel" aria-labelledby="all-meter-attributes-tab">
    <h2>Full attributes</h2>
    <%= safely { sanitize ap(@meter.meter_attributes_to_analytics, index: false, plain: true) } %>
  </div>
</div>
