<% content_for :page_title, 'Impact Report Configurations' %>
<h1>Impact Report Configurations</h1>
<table class="table table-paged">
  <thead>
    <tr>
      <th>Report enabled</th>
      <th>School Group</th>
      <th>Energy Efficiency</th>
      <th>Engagement</th>
      <th class="no-sort">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @school_groups.each do |school_group| %>
      <% config = school_group.impact_report_configuration %>
      <tr class="<%= 'bg-light' unless config %>">
        <td>
          <%= link_to school_group.name, school_group_impact_index_path(school_group) %>
          <% unless config %>
            <span class="badge text-bg-warning" title="Default configuration">Default configuration</span>
          <% end %>
        </td>
        <td><%= config ? y_n_badge(config.show_energy_efficiency) : 'default' %></td>
        <td><%= config ? y_n_badge(config.show_engagement) : 'default' %></td>
        <td><%= link_to 'Edit', edit_admin_impact_report_path(school_group), class: 'btn btn-secondary' %>
      </tr>
    <% end %>
  </tbody>
</table>
