<div class="mb-4"><%= t('onboarding_mailer2025.welcome_existing.we_are_pleased_html',
                        school: @school.name, url: school_url(@school)) %></div>

<% if @school.dashboard_message&.message %>
  <div class="mb-4"><%= t('onboarding_mailer2025.welcome_existing.dashboard_message',
                          message: @school.dashboard_message&.message) %></div>
<% end %>
<% if @top_priority %>
  <div class="mb-4">
    <%= t('onboarding_mailer2025.welcome_existing.we_estimated_that_html',
          opportunity: @top_priority.management_priorities_title.to_plain_text.delete("\u00A0").downcase,
          gbp_saving: format_unit(@top_priority.alert.variables['average_one_year_saving_gbp'], :£),
          co2_saving: format_unit(@top_priority.alert.variables['one_year_saving_co2'], :co2)) %>
  </div>
<% end %>
<div><%= t('onboarding_mailer2025.here_is_our_quick_guide') %></div>
<ol style="margin-top: 0">
  <li><%= t('onboarding_mailer2025.find_your_biggest_html', url: priorities_school_advice_url(@school)) %></li>
  <li><%= t('onboarding_mailer2025.build_an_energy_saving_team_html', root_url:) %></li>
  <li><%= t('onboarding_mailer2025.set_up_a_holiday_switch_off_routine_html', root_url:) %></li>
  <li><%= t('onboarding_mailer2025.sign_up_to_energy_saving_alerts_html', root_url:) %></li>
  <li><%= t('onboarding_mailer2025.welcome_existing.need_some_help_html', root_url:) %></li>
</ol>
<div class="mb-4"><%= t('onboarding_mailer2025.we_hope') %></div>
<div class="mb-4"><%= link_to t('onboarding_mailer2025.welcome_email.view_your_school'), school_url(@school) %></div>
<div>
  <%= t('onboarding_mailer2025.many_thanks') %><br>
  <%= @school&.school_group&.default_issues_admin_user&.display_name %>
</div>
