<h1>Equivalence type management</h1>

<%= link_to 'New equivalence type', new_admin_equivalence_type_path(@alert_type), class: 'btn btn-primary mb-3' %>

<%= form_tag admin_equivalences_path, class: 'float-right' do %>
  <%= select_tag :school_id, options_from_collection_for_select(School.process_data.order(:name), :id, :name) %>
  <%= submit_tag 'Update equivalences', class: 'btn btn-warning' %>
<% end %>

<table class="table table-striped table-sorted">
  <thead>
    <tr>
      <th>Equivalence content (without formatting)</th>
      <th>Meter type</th>
      <th>Time period</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @equivalence_types.each do |equivalence_type| %>
      <tr>
        <td><%= strip_tags equivalence_type.current_content.equivalence.body.to_s %></td>
        <td><%= equivalence_type.meter_type.humanize %></td>
        <td><%= equivalence_type.time_period.humanize %></td>
        <td><%= equivalence_type.image_name.humanize %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Edit', edit_admin_equivalence_type_path(equivalence_type), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', admin_equivalence_type_path(equivalence_type), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
