<%= content_for :page_title, t('school_groups.school_engagement.title') %>
<h1><%= t('school_groups.school_engagement.title') %></h1>
<%= t('school_groups.school_engagement.intro_html') %>
<p><%= link_to 'Download as CSV', school_group_school_engagement_index_path(@school_group, format: :csv), class: 'btn' %></p>
<%= render 'admin/reports/column_table', columns: @columns, rows: @rows %>
