<div id="<%= id %>" class="<%= classes %>">
  <table class="table table-sm table-sorted">
    <thead>
      <tr>
        <% if show_organisation? %>
          <th>Organisation</th>
        <% end %>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Confirmed?</th>
        <th>Last sign in</th>
        <th>Alerts</th>
        <th>Language</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users_to_display do |user| %>
        <tr class="<%= row_class(user) %>">
          <% if show_organisation? %>
            <td>
                <% if user.group_admin? %>
                  <%= link_to user.school_group.name, admin_school_group_path(user.school_group) %>
                <% elsif user.school.present? %>
                  <%= link_to user.school.name, school_users_path(user.school) %>
                <% end %>
            </td>
          <% end %>
          <td>
            <% if user.has_profile? %>
              <%= link_to email_with_wbr(user.name || 'View profile'), user_path(user) %>
            <% elsif user.name %>
              <%= email_with_wbr(user.name) %>
            <% end %>
          </td>
          <td><%= user.pupil? ? 'N/A' : email_with_wbr(user.email) %></td>
          <td><%= user.role.titleize %></td>
          <td><%= y_n(user.confirmed?) %></td>
          <td data-order="<%= user.last_sign_in_at&.iso8601 %>">
            <%= display_last_signed_in_as(user) %>
          </td>
          <td><%= y_n(user.contact_for_school) %></td>
          <td><%= I18n.t("languages.#{user.preferred_locale}") %></td>
          <td>
            <% if !user.active? %>
              Disabled
            <% elsif user.access_locked? %>
              Locked
            <% else %>
              Active
            <% end %>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
              <%= unless user.confirmed?
                    button_to 'Resend confirmation', admin_user_confirmation_path(user),
                              class: 'btn btn-warning btn-sm'
                  end %>
              <% if user.active %>
                <%= link_to 'Disable', admin_user_disable_path(user_id: user.id),
                            class: 'btn btn-warning btn-sm' %>
              <% else %>
                <%= link_to 'Enable', admin_user_enable_path(user_id: user.id),
                            class: 'btn btn-warning btn-sm' %>
              <% end %>
              <% if user.access_locked? %>
                <%= link_to 'Unlock', admin_user_unlock_path(user_id: user.id),
                            class: 'btn btn-warning btn-sm' %>
              <% end %>
              <%= link_to 'Delete', admin_user_path(user), method: :delete,
                                                           data: { confirm: 'Are you sure?' },
                                                           class: 'btn btn-danger btn-sm' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
