<div class="row">
  <div class="col-md-3 mb-3">
    <label for="day"><strong>Day</strong></label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="opening-time"><strong>Opening Time</strong></label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="closing-time"><strong>Closing Time</strong></label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="term-only"><strong>Term time only?</strong></label>
  </div>
</div>
<%= f.fields_for :school_times, f.object.school_times.sort_by{|time| time.day ?  SchoolTime.days[time.day] : 99 } do |ff| %>
  <% if ff.object.community_use? %>
    <%= ff.hidden_field :id, value: ff.object.id %>
    <%= ff.hidden_field :usage_type, value: ff.object.usage_type %>
    <div class="row">
      <div class="col-md-3 mb-3">
        <%= ff.select :day, options_for_select([["Choose day", ""]] + SchoolTime.days.map {|key, value| [key.titleize, SchoolTime.days.key(value)]}, ff.object.day), {required: :true}, { class: 'form-control' } %>
      </div>

      <div class="col-md-3 mb-3">
        <%= ff.text_field :opening_time, value: format_school_time(ff.object.opening_time || 0), id: "#{ff.object.day}-opening_time" %>
        <% if ff.object.errors.has_key?(:opening_time) %>
          <div class="alert alert-danger mt-2">
            <%= ff.object.errors.full_messages_for(:opening_time).join(', ') %>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 mb-3">
        <%= ff.text_field :closing_time, value: format_school_time(ff.object.closing_time || 0), id: "#{ff.object.day}-closing_time" %>
        <% if ff.object.errors.has_key?(:closing_time) %>
          <div class="alert alert-danger mt-2">
            <%= ff.object.errors.full_messages_for(:closing_time).join(', ') %>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 mb-3">
        <div class="form-check">
        <%= ff.check_box :term_time_only, checked: ff.object.term_time_only, class: 'form-check-input position-static' %>
        </div>
      </div>
    </div>
 <% end %>
<% end %>
