<table class="table table-striped">
  <thead>
    <tr><th colspan="5">Activities</th></tr>
    <tr>
      <th>On</th>
      <th>Type</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @activities.empty? %>
      <tr><td colspan="5">No activities have been logged yet</td></tr>
    <% else %>
      <% @activities[0..2].each do |activity| %>
        <tr>
          <td><%= l activity.happened_on %></td>
          <td><%= activity.activity_type.name %></td>
          <td><%= activity.title %></td>
          <td><%= simple_format activity.description %></td>
          <td>
            <%= link_to 'Show', school_activity_path(@school, activity), class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">
        <% if current_user && current_user.manages_school?(@school.id) %>
          <%= link_to 'New Activity', new_school_activity_path(@school), class: 'btn btn-success btn-sm' %>
        <% end %>
          <%= link_to 'Activity History', school_activities_path(@school), class: 'btn btn-success btn-sm pull-md-right' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
