<section id="activity-cards">

  <div class="dashboard">
    <div class="card-deck">

      <% if @activities.empty? %>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                Record your first activity
              </h4>
            </div>
            <div class="card-body">
              <p>
                <% if current_user && current_user.manages_school?(@school.id) %>
                    Recording energy-saving activities will score you points for your energy saving efforts
                <% else %>
                    Schools score points and receive awards when they record their energy
                    saving activities
                <% end %>
              </p>
            </div>
            <div class="card-footer text-right">
              <% if current_user && current_user.manages_school?(@school.id) %>
                  <%= link_to 'Choose an activity', suggest_activity_school_path(@school), class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                Did you know?
              </h4>
            </div>
            <div class="card-body">
              <p>
                <% if current_user && current_user.manages_school?(@school.id) %>
                    You will receive awards for recording your energy-saving activities
                <% else %>
                    Schools receive awards when they record their energy
                    saving efforts
                <% end %>
              </p>
            </div>
            <div class="card-footer text-right">
              <% if current_user && current_user.manages_school?(@school.id) %>
                  <%= link_to 'View awards', awards_school_path(@school), class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
      <% else %>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                You've scored
              </h4>
            </div>
            <div class="card-body">
              <h2>
                <%= @school.points %> points
              </h2>
              <p>
                congratulations!
              </p>
            </div>
            <div class="card-footer text-right">
              <%= link_to 'View scoreboard', leaderboard_schools_path, class: 'btn btn-primary'  %>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                Your recent energy saving activities
              </h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <% @activities[0..1].each do |activity| %>
                    <li>
                      <%= link_to activity.title, school_activity_path(@school, activity) %>
                    </li>
                <% end %>
              </ul>
            </div>
            <div class="card-footer text-right">
              <% if current_user && current_user.manages_school?(@school) %>
                <%= link_to 'Next activity', suggest_activity_school_path(@school), class: 'btn btn-success' %>
              <% end %>
              <%= link_to school_activities_path(@school), class: 'btn btn-primary' do %>
                  View activities <span class="badge badge-success"><%= @school.activities.count %></span>
              <% end %>
            </div>
          </div>

      <% end %>
    </div>
  </div>


</section>

