<section id="activity-cards">

  <div class="dashboard">
    <div class="card-deck">

      <% if @activities.empty? %>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <% if current_user && current_user.manages_school?(@school.id) %>
                  Did you know?
                <% else %>
                  Current score and latest awards
                <% end %>
              </h4>
            </div>
            <div class="card-body">
              <p>
                <% if current_user && current_user.manages_school?(@school.id) %>
                  Recording energy-saving activities will score you points and earn you awards
                <% else %>
                  Schools score points and receive awards when they record their energy
                  saving activities
                <% end %>
              </p>
            </div>
            <div class="card-footer text-right">
              <% if @school.scoreboard %>
                <%= link_to 'View scoreboard', scoreboard_path(@school.scoreboard), class: 'btn btn-primary'  %>
              <% end %>
              <%= link_to awards_school_path, class: 'btn btn-primary' do %>
                  View awards <span class="badge badge-success"><%= @badges.count %></span>
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <% if current_user && current_user.manages_school?(@school.id) %>
                    Choose your first activity
              <% else %>
                    Recent energy saving activities
                <% end %>
              </h4>
            </div>
            <div class="card-body">
              <p>
                <% if current_user && current_user.manages_school?(@school.id) %>
                    You can score your first points by completing an energy-saving activities. Choose your
                    first activity now!
                <% else %>
                    <%= @school.name %> hasn't recorded any activities yet
                <% end %>
              </p>
            </div>
            <div class="card-footer text-right">
              <% if current_user && current_user.manages_school?(@school.id) %>
                  <%= link_to 'Choose an activity', suggest_activity_school_path(@school), class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
      <% else %>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                Current score <%= @badges.empty? ? '' : 'and latest award' %>
              </h4>
            </div>
            <div class="card-body">
              <% if !@badges.empty? %>
                  <div class="row">
                    <div class="col-md-6 text-center">
                      <h2 class="display-2">
                        <span class="badge badge-success align-bottom"><%= @school.points %></span>
                      </h2>
                    </div>

                    <div class="col-md-6 text-center">
                      <%= image_tag("#{@badges.first.try(:image)}", height: 100, width: 100,
                                    title: @badges.first.custom_fields[:title], class: "img-fluid") %>

                    </div>
                  </div>
              <% else %>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h2 class="display-2">
                        <span class="badge badge-success align-bottom"><%= @school.points %></span>
                      </h2>
                    </div>
                  </div>
              <% end %>
            </div>
            <div class="card-footer text-right">
              <% if @school.scoreboard %>
                <%= link_to 'View scoreboard', scoreboard_path(@school.scoreboard), class: 'btn btn-primary'  %>
              <% end %>
              <%= link_to awards_school_path, class: 'btn btn-primary' do %>
                  View awards <span class="badge badge-success"><%= @badges.count %></span>
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <% if current_user && current_user.manages_school?(@school.id) %>
                    Your recent energy saving activities
                <% else %>
                    Recent energy saving activities
                <% end %>
              </h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <% @activities[0..2].each do |activity| %>
                    <li>
                      <%= link_to activity.title, school_activity_path(@school, activity) %>
                    </li>
                <% end %>
              </ul>
            </div>
            <div class="card-footer text-right">
              <% if current_user && current_user.manages_school?(@school.id) %>
                <%= link_to 'Next activity', suggest_activity_school_path(@school), class: 'btn btn-success' %>
              <% end %>
              <%= link_to school_activities_path(@school), class: 'btn btn-primary' do %>
                  View activities <span class="badge badge-success"><%= @activities.count %></span>
              <% end %>
            </div>
          </div>

      <% end %>
    </div>
  </div>


</section>

