
  <address property="address" typeof="PostalAddress">
    <p>
      <span property="streetAddress"><%= @school.address %></span>
      <br>
      <span property="postalCode"><%= @school.postcode %></span>
    </p>
  </address>
  <p>
    <%= @school.school_type.try(:titleize) %> school
  </p>
  <p>
    <%= link_to('Official school website',
                @school.website,
                  target: :new,
                property: "url") unless @school.website.blank? %>
  </p>
  <p>
    <%= link_to('Department for Education',
                "http://www.education.gov.uk/edubase/establishment/summary.xhtml?urn=#{@school.urn}",
                target: :new, property: "sameAs") %>
  </p>
  <p>
    <% if @school.eco_school_status.present? %>
        <% case @school.eco_school_status
             when "bronze" %>
            <a href="http://www.eco-schools.org.uk/howitworks/the-awards/bronze-award/" target="new">Bronze</a> Eco-Schools award
        <% when "silver" %>
            <a href="http://www.eco-schools.org.uk/howitworks/the-awards/silver-award/" target="new">Silver</a> Eco-Schools award
        <% when "green" %>
            <a href="http://www.eco-schools.org.uk/howitworks/the-awards/green-flag-award/" target="new">Greenflag</a> Eco-Schools award
        <% end %>
    <% else %>
        Not yet enrolled in the <a href="http://www.eco-schools.org.uk/" target="_blank">Eco-Schools</a> award
        programme
    <% end %>
  </p>
  <%- if can? :manage, @school -%>
      <%= link_to 'Edit', edit_school_path(@school), class: 'btn btn-primary btn-sm' %>
  <%- end -%>
  <%- if can? :manage, @school.calendar -%>
      <%= link_to('Calendar', edit_calendar_path(@school.calendar_id), class: 'btn btn-primary btn-sm') unless @school.calendar.nil? %>
  <%- end -%>
