<% if @school.meters?(:electricity) %>
  <section id="electricity-cards">
    <% avg_elect = average_usage(:electricity) %>
    <% latest_reading_date = @school.last_reading_date(:electricity) %>

    <h4>Electricity
      <span class="text-muted pull-right">
        <small>Latest data <%= l latest_reading_date unless latest_reading_date.nil? %></small>
      </span>
    </h4>

    <div class="dashboard">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Did you know?
            </h4>
          </div>
          <div class="card-body">
            <p>
              Recently your school used an average of
            </p>
            <h2>
              <%= avg_elect[1].to_i unless avg_elect.nil? %></strong> kWh per day
            </h2>

          </div>
          <div class="card-footer text-right">
            <%= link_to(t('charts.hourly-usage-link'),
                        usage_school_path(@school, period: :hourly, supply: :electricity),
                        class: 'btn btn-primary', title: "See how the school's energy use varies over a chosen day", "data-turbolinks": false) unless avg_elect.nil?
            %>

          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Did you know?</h4>
          </div>
          <div class="card-body">
            <p>
              Recently your school used most energy on
            </p>
            <h2>
              <%= day_most_usage(:electricity) %>
            </h2>
          </div>
          <div class="card-footer text-right">
            <%= link_to(t('charts.weekly-usage-link'),
                        usage_school_path(@school, period: :daily, supply: :electricity),
                        class: 'btn btn-primary', title: "See how the school's energy use varies over a chosen week", "data-turbolinks": false) unless avg_elect.nil?
            %>
          </div>
        </div>

        </div>

    </div>
  </section>
<% end %>
