<% if @school.meters?(:electricity) %>
  <section id="electricity-cards">
    <% avg_elect = average_weekday_usage(:electricity) %>

    <h4>Electricity
      <p class="text-muted pull-right">
        <small>Week ending <%= l avg_elect[0] unless avg_elect.nil? %></small>
      </p>
    </h4>

    <div class="card-deck-wrapper dashboard">
      <div class="card-deck">

        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Did you know?
            </h4>
          </div>
          <div class="card-block">
            <h2>
              <%= avg_elect[1].to_i unless avg_elect.nil? %></strong> kWh
            </h2>
            <p>
              are used on an average school day
            </p>
          </div>
          <div class="card-footer text-xs-right">
            <%= link_to('Daily usage',
                        usage_school_path(@school, period: :daily, to_date: avg_elect[0], anchor: :electricity),
                        class: 'btn btn-primary') unless avg_elect.nil?
            %>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Did you know?</h4>
          </div>
          <div class="card-block">
            <h2>
              <%= day_most_usage(:electricity) %>
            </h2>
            <p>
              is the day most electricity is used
            </p>
          </div>
          <div class="card-footer text-xs-right">
            <%= link_to('Hourly usage',
                          usage_school_path(@school, period: :hourly, to_date: avg_elect[0], anchor: :electricity),
                          class: 'btn btn-primary') unless avg_elect.nil?
              %>
          </div>
        </div>

        </div>

    </div>
  </section>
<% end %>
