<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <%= f.select :school_type, School.school_types.keys.map {|type| [type.titleize,type]}, {}, { class: 'form-control' } %><br>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :postcode %>
    <%= f.text_field :postcode, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :eco_school_status %>
    <%= f.number_field :eco_school_status, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: 'form-control' %>
  </div>

  <h2>Meters</h2>
  <table>
    <thead>
      <tr>
        <th>Meter No</th>
        <th>Type</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :meters do |meter_form| %>
        <tr>
          <td>
            <div class="form-group">
              <%= meter_form.number_field :meter_no, class: 'form-control' %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= meter_form.select :meter_type, Meter.meter_types.keys.map {|type| [type.titleize,type]}, { include_blank: true }, { class: 'form-control' } %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= meter_form.check_box :active, class: 'form-control' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
