<% if @school.meters?(:gas) %>
    <section id="gas-cards">
      <% avg_gas = average_usage(:gas) %>
      <% latest_reading_date = @school.last_reading_date(:gas) %>

      <h4>Gas
        <span class="text-muted pull-right">
          <small>Latest data <%= l latest_reading_date unless latest_reading_date.nil? %></small>
        </span>
      </h4>

      <div class="dashboard">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Did you know?
              </h4>
            </div>

            <div class="card-body">
              <p>
                Recently your school used an average of
              </p>
              <h3>
                <strong><%= avg_gas[1].to_i unless avg_gas.nil? %></strong> kWh per day
              </h3>
            </div>
            <div class="card-footer text-right">
              <%= link_to('Hourly usage',
                          usage_school_path(@school, period: :hourly, supply: :gas),
                          class: 'btn btn-primary', "data-turbolinks": false) unless avg_gas.nil?
              %>

            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Did you know?</h4>
            </div>

            <div class="card-body">
              <p>
                Recently your school used most energy on
              </p>
              <h3>
                <%= day_most_usage(:gas) %>
              </h3>
            </div>
            <div class="card-footer text-right">
              <%= link_to('Daily usage',
                          usage_school_path(@school, period: :daily, to_date: latest_reading_date, anchor: :gas),
                          class: 'btn btn-primary', "data-turbolinks": false) unless avg_gas.nil?
              %>

            </div>
          </div>

        </div>
      </div>

    </section>

<% end %>
