<% if @school.meters?(supply) %>
  <div class="row">
  <%= form_tag "", method: :get, id: "#{supply}-chart-filter", class: "pull-right" do %>
      <%= hidden_field_tag :period, "hourly" %>
      <%= hidden_field_tag :to_date, @to_date %>
      <%= hidden_field_tag :supply, supply %>
      <%= select_tag :meter, content_tag(:option,'All',:value=>"")+options_from_collection_for_select(@school.meters_for_supply(supply), :meter_no, :display_name, selected: params[:meter]), class: "meter-filter" %>
  <% end %>
  </div>
  <div class="row">
  <%= hourly_usage_chart(supply, @to_date, params[:meter]) %>
  </div>
<% else %>
  <h4><%= supply.capitalize %> usage data is not available</h4>
  <p>
    Unfortunately we don't have any data for the supply from this school
  </p>
  <p>
    Some schools don't have smart meters installed for both gas and electricity
  </p>
<% end %>