<% if @school.meters?(supply) %>
  <div class="row">
    <div class="col-md-12">
      <%= form_tag "", method: :get, id: "#{supply}-chart-filter" do %>
          <%= hidden_field_tag :period, "hourly" %>
          <%= hidden_field_tag :supply, supply %>

          <%= hidden_field_tag :first_date, @first_date, id: "#{supply}-first-date" %>
          <%= hidden_field_tag :to_date, @to_date, id: "#{supply}-to-date" %>

          <h5>
            Compare hourly <%= supply %> power consumption
          </h5>

          <div class="row">
            <div class="col-md-3">
              <%= text_field_tag("#{supply}-first-date-picker",
                                 @first_date.strftime('%A, %e %B %Y'),
                                 class: 'form-control form-control-sm date-picker'
                  ) %>
            </div>
            <div class="col-md-1"><span><strong>AND</strong></span></div>
            <div class="col-md-3">
              <%= text_field_tag("#{supply}-to-date-picker",
                                 @to_date.strftime('%A, %e %B %Y'),
                                 class: 'form-control form-control-sm date-picker'
                  ) %>
            </div>
            <div class="col-md-2 pull-right">
              <%= select_tag :meter, content_tag(:option,'All Meters',:value=>"")+options_from_collection_for_select(@school.meters_for_supply(supply), :meter_no, :display_name, selected: params[:meter]), class: "meter-filter" %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= compare_hourly_usage_chart(supply, @first_date, @to_date, params[:meter]) %>
    </div>
  </div>
    <div class="row padded-row">
      <div class="col-md-12">
        EnergySparks currently holds <%= supply %> usage data for this school from <%= @school.earliest_reading_date(supply).strftime('%A, %e %B %Y') %> to <%= @school.last_reading_date(supply).strftime('%A, %e %B %Y') %>
      </div>
    </div>

<% else %>
  <h4><%= supply.capitalize %> usage data is not available</h4>
  <p>
    Unfortunately we don't have any data for the gas supply from this school.
  </p>
  <p>
    Some schools don't have smart meters installed for both their gas and electricity supply.
  </p>
<% end %>