<% if card.has_readings? %>
  <% if card.has_values? %>
    <section id="<%= card.supply.to_s %>-cards">
      <h4><%= card.supply.to_s.capitalize %>
        <span class="pull-right">
          <small>Latest data <%= l card.values.latest_reading_date %></small>
        </span>
      </h4>

      <div class="dashboard">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Did you know?</h4>
            </div>
            <div class="card-body">
              <p>Based on our latest data, your school used an average of</p>
              <h2><strong><%= card.values.average_usage %></strong> kWh per day </h2>
              <p class="text-muted"> Since <%= kid_date_no_year(card.values.window_first_date) %></p>
            </div>
            <div class="card-footer text-right">
              <%= link_to(t('charts.hourly-usage-link'),
                   usage_school_path(@school, period: :hourly, supply: card.supply),
                   class: 'btn btn-primary', title: "See how the school's energy use varies over a chosen day")
              %>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Did you know?</h4>
            </div>
            <div class="card-body">
              <p>Based on our latest data, your school used most energy on</p>
              <h2><%= kid_date_no_year(card.values.most_usage) %></h2>
              <p class="text-muted">Since <%= kid_date_no_year(card.values.window_first_date) %>
              </p>
            </div>
            <div class="card-footer text-right">
              <%= link_to(t('charts.weekly-usage-link'),
                    usage_school_path(@school, period: :daily, supply: card.supply),
                    class: 'btn btn-primary', title: "See how the school's energy use varies over a chosen week")
              %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <section id="<%=card.supply%>-cards">
      <h4>We're having trouble with your <%=card.supply%> data. We're working on it!</h4>
    </section>
  <% end %>
<% else %>
  <%= render 'awaiting_data_cards', meter_type: card.supply %>
<% end %>
