<div class="card">
  <div class="card-block">
    <% if school.enrolled? %>
      <h3 class="card-title">
            <%= link_to school_path(school), class: 'school-card' do %>
            <%= school.name %>
        <% end -%>
      </h3>
      <%= school.address %> <%= school.postcode %>
    <% else %>
        <h5 class="card-title">
          <%= link_to school_path(school), class: 'school-card' do %>
              <%= school.name %>
          <% end -%>
        </h5>
    <% end %>
  </div>
</div>
