<div id="accordionSchoolGroup<%= school_group.id %>" class="accordion-block">
  <div class="card">
    <div class="card-header" id="headingSchoolGroup<%= school_group.id %>">
      <h5 class="mb-0 float-left">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseSchoolGroup<%= school_group.id %>" href="#collapseSchoolGroup<%= school_group.id %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><%= school_group.name %></a>
      </h5>
    </div>
    <div id="collapseSchoolGroup<%= school_group.id %>" class="collapse" aria-labelledby="headingSchoolGroup<%= school_group.id %>" data-parent="#accordionSchoolGroup<%= school_group.id %>">
      <div class="card-body">
        <div class='btn-group'>
          <%= link_to t('schools.school_group.view_schools'), school_group_path(school_group), class: 'btn nav-link' %>
          <% if can?(:compare, school_group) %>
            <%= link_to t('schools.school_group.compare_schools'), compare_index_path(school_group_ids: [school_group.id]) + '#groups', class: 'btn nav-link' %>
          <% end %>
        </div>
        <div class="padded-row">
          <% school_group.schools.visible.by_name.select(:name, :slug).each do |school| %>
            <%= link_to "#{school.name}", school_path(school), class: 'nav-link' %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
