<div class="card">
  <div class="card-block">
    <h3 class="card-title">
      <%= link_to school_path(school), class: 'school-card' do %>
          <%= school.name %>
      <% end -%>
    </h3>
    <%= school.school_type.try(:titleize) %>
  </div>
  <%- if can? :manage, school -%>
      <p class="pull-right">
        <%= link_to 'Edit', edit_school_path(school), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Delete', school_path(school), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </p>
  <%- end -%>
</div>
