<div id="accordion<%= label %>" class="accordion-block">
  <div class="card">
    <div class="card-header" id="heading<%= label %>">
      <h5 class="mb-0">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse<%= label %>" href="#collapse<%= label %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><%= title %></a>
      </h5>
    </div>
    <div id="collapse<%= label %>" class="collapse" aria-labelledby="heading<%= label %>" data-parent="#accordion<%= label %>">
      <div class="card-body">
        <div class='btn-group'>
          <%= link_to 'Compare schools', benchmarks_path, class: 'btn nav-link' %>
        </div>
        <div class="padded-row">
          <% schools.each_slice(3) do |threeschools| %>
            <div class="row">
              <% threeschools.each do |school| %>
                <div class="col-lg-4">
                  <%= link_to "#{school.name}", school_path(school), class: 'nav-link' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
