<div class="card <%= supply %>-card" id="whole-school">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">
      Which dates do you want to compare?
    </h4>

    <p class="card-text">
      <%= first_option %>
    </p>
    <div class="form-group">
      <div class="indicator-light <%= supply %>-light">
        <div class="input-group">
          <%= text_field_tag("first-date-picker",
                             first_date.strftime('%A, %e %B %Y'),
                             class: 'form-control date-picker first-date-picker'
              ) %>
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <p class="card-text">
      <%= second_option %>
    </p>
    <div class="form-group">
      <div class="indicator-dark <%= supply %>-dark">
        <div class="input-group">
          <%= text_field_tag("to-date-picker",
                             to_date.present? ? to_date.strftime('%A, %e %B %Y') : nil,
                             class: 'form-control date-picker to-date-picker'
              ) %>
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <p class="card-text">
      Which meter shall we show?
    </p>
    <div class="form-group">
      <%= select_tag :meter,
                     content_tag(:option,'All Meters',:value=>"all")+options_from_collection_for_select_with_data(school.meters,
                                                                                                                  :meter_no, :display_name, meter, { "supply-type" => :meter_type }), class: "form-control custom-select meter-filter" %>
    </div>

  </div>
  <div class="card-footer">
    <span id="data-availability"></span>
  </div>
</div>
