<div class="card <%= supply %>-card" id="within-school" style="display: none;">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">
      Choose which meters to compare
    </h4>
    <p class="card-text">
      Compare this meter
    </p>
    <div class="form-group">
      <div class="indicator-light <%= supply %>-light">
        <%= select_tag :meter,
                       content_tag(:option, 'All Meters', :value => "all")+
                           options_from_collection_for_select_with_data(school.active_meters,
                                                                        :meter_no, :display_name, meter, {"supply-type" => :meter_type}),
                       class: "form-control custom-select meter-filter" %></div>
    </div>

    <p class="card-text">
      With this meter
    </p>
    <div class="form-group">
      <div class="indicator-dark <%= supply %>-dark">
        <%= select_tag :second_meter,
                       content_tag(:option, 'None', :value => "")+
                           options_from_collection_for_select_with_data(school.active_meters,
                                                                        :meter_no, :display_name, second_meter, {"supply-type" => :meter_type}),
                       class: "form-control custom-select second-meter-filter" %></div>
    </div>
    <p class="card-text"><%= date_option %></p>
    <div class="form-group">
      <div class="indicator-light <%= supply %>-light">
        <div class="input-group">
          <%= text_field_tag("first-date-picker",
                             first_date.strftime('%A, %e %B %Y'),
                             class: 'form-control date-picker first-date-picker'
              ) %>
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer">

  </div>
</div>