<% content_for :page_title do %>
  <%= @school.name %>: Awards
<% end %>
<div class="application container">

  <div class="row padded-row">
    <div class="col-md-12">
      <h1><%= @school.name %> Awards</h1>
      <p><%= link_to @school.name, school_path(@school) %> are earning awards when they record their activities using <%= t('application') %>.</p>
      <p>As they earn an award it will be revealed on this page. Awards that are still to be earned are shown to help them plan
      their next activities.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @all_badges.in_groups_of(4, false).each do |group| %>
          <div class="row">
            <% group.each do |badge| %>
                <div class="col-md-3">
                  <div class="card award">
                    <% image = @badges.include?(badge) ? "#{badge.image}" : "badges/00-Holding-Symbol.png" %>
                    <%= image_tag(image,
                                  height: 100, width: 100,
                                  class: 'card-image-top d-block mx-auto',
                                  title: badge.description) %>

                    <div class="card-body">
                      <h5 class="card-title text-center"><%= badge.custom_fields[:title] %></h5>
                      <p class="card-text small text-center"><%= badge.description %></p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>

      <%= link_to 'School homepage', school_path(@school), class: 'btn btn-secondary' %>

    </div>

  </div>

</div>
