<% content_for :page_title do %>
Schools
<% end %>
<section id="enrolled">
  <div class="row padded-row">
    <div class="col-lg-12">
      <h2>Participating Schools</h2>

      <p>
        These schools are using <%= t('application') %> to reduce their energy usage. See their usage data, compare
        scores and learn about their energy saving activities
      </p>

    </div>
  </div>

  <% @scoreboards.each do |scoreboard| %>
    <%= render 'schools/list', name: scoreboard.name, scoreboard: scoreboard, schools: scoreboard.schools.visible.order(:name) %>
  <% end %>

  <% if @ungrouped_visible_schools.any? %>
    <div class="row padded-row">
      <div class="col-lg-12">
        <h3>Other schools</h3>
      </div>
    </div>
    <% @ungrouped_visible_schools.each_slice(3) do |row| %>
      <div class="row school-card-row">
        <div class="col-lg-12">
          <div class="card-deck">
            <% row.each do |school| %>
              <%= render partial: 'schools/school_card', locals: {school: school} %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</section>

<section id="eligible">
  <div class="container">
    <div class="row padded-row">
      <div class="col-lg-12">
        <% if current_user.try(:admin?) %>
          <h3>Not visible schools</h3>
          <p>The following schools are not visible.</p>
          <div class="card-columns">
            <% @schools_not_visible.each do |school| %>
              <%= render partial: 'schools/school_card', locals: {school: school} %>
            <% end %>
        <% else %>
          <p>If your school has not been enrolled, but you would like to find out more, you can find out <%= link_to "how to get involved", enrol_path %>.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% if can? :manage, School -%>
  <%= link_to 'Manual School Setup', new_school_path, class: 'btn btn-primary' %>
  <%= link_to "Automatic School Setup", admin_school_onboardings_path, class: 'btn btn-primary' %>
<% end %>

