<%= content_for :page_title, @school.name %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Adult Dashboard</h1>
  <div class="h5">
    <% if @school.school_group && can?(:compare, @school.school_group) %>
      <%= link_to 'Compare schools', benchmarks_path(benchmark: {school_group_ids: [@school.school_group.id]}), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
    <% end %>
    <% if @school.configuration %>
      <%= link_to "Review this school's energy analysis", school_analysis_index_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
    <% end %>
  </div>
</div>

<h2>Annual use</h2>

<% if @overview_table %>
  <%= render 'management/schools/overview_table', overview_table: @overview_table %>
<% end %>

<% unless @overview_charts.empty? %>
  <%= render 'management/schools/overview_charts', overview_charts: @overview_charts %>
<% end %>

<% unless @management_priorities.empty? %>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<h2>Recent use</h2>

<div class="row dashboards">
  <%= render 'shared/dashboard_energy_charts', charts: @charts, school: @school %>
</div>

<%= render 'shared/dashboard_alerts', school: @school, dashboard_alerts: @dashboard_alerts, content_field: :public_dashboard_title, title: 'Act on energy usage'%>
<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<% unless user_signed_in? %>
  <%= render 'shared/school_login_prompt', school: @school %>
<% end %>
