<% content_for :page_title do %><%= @school.name %><% end %>

<% if @school.active? %>
  <% if can? :deactivate, @school %>
    <div class="alert alert-warning">
      <%= @school.name %> is currently <strong>ACTIVE</strong>.
      <% if can? :deactivate, @school %>
        <%= link_to "Deactivate school", school_deactivation_path(@school), method: :post, class: 'btn btn-danger ml-3' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= @school.name %> is currently <strong>INACTIVE</strong> and won't be accessible to non-admin users.
    <% if can? :activate, @school %>
      <%= link_to "Activate school", school_activation_path(@school), method: :post, class: 'btn btn-success ml-3' %>
    <% end %>
  </div>
<% end %>

<div typeof="School">
  <div class="row">
    <div class="col-md-12">
      <h6 class="large">
        <% unless @school.address.blank? %>
          <address property="address" typeof="PostalAddress">
            <span property="streetAddress"><%= @school.address %></span><%=',' unless @school.postcode.blank?%>
            <% unless @school.postcode.blank? %>
              <span property="postalCode"><%= @school.postcode %></span>
            <% end %>
          </address>
        <% end %>
        <%- unless @school.website.blank? %>
          | <%= link_to('Visit school website', @school.website, target: :new, property: "url") %>
        <% end %>
      </h6>
      <p>
        <%- if can? :manage, @school -%>
          Record your energy saving activities, check your scores and latest awards, and explore your energy usage data.
        <% else %>
          This school is using <%= t('application') %> to become more energy efficient. Explore their energy saving activities,
          see their scores and awards, and explore their energy usage data.
        <%- end -%>
      </p>
      <div class="float-right mb-3">
        <%= link_to 'Simulations', school_simulations_path(@school), class: 'btn btn-success' if can? :manage, Simulation %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'schools/activity_cards' %>
      <% if @school.meters?(:electricity) %>
        <%= render 'schools/meter_cards', card: @electricity_card, school: @school %>
      <% else %>
        <section id="electricity-cards">
          <h4>This school has no electricity meters configured in Energy Sparks</h4>
        </section>
      <% end %>

      <% if @school.meters?(:gas) %>
        <%= render 'schools/meter_cards', card: @gas_card, school: @school %>
      <% else %>
        <section id="gas-cards">
          <h4>This school has no gas meters configured in Energy Sparks</h4>
        </section>
      <% end %>
    </div>
  </div>
</div>
