<div class="row">
  <div class="col-md-2">
    <%= image_tag 'http://placehold.it/200x200', class: 'img-fluid' %>
  </div>
  <div class="card col-md-9 offset-md-1">
    <div class="card-block">
      <div class="card-title">
        <h3><%= @school.name %>
        <span class="pull-md-right">ECO-SCHOOL STATUS HERE</span>
        </h3>
      </div>
      <h4><%= @school.school_type.try(:titleize) %></h4>
      <address>
        <%= simple_format "#{@school.address}\n#{@school.postcode}" %>
      </address>
      <%= link_to('School Website', @school.website, target: :new) unless @school.website.blank? %>
      <%- if can? :manage, @school -%>
        <p class="pull-md-right">
          <%= link_to 'Edit', edit_school_path(@school), class: 'btn btn-primary btn-sm' %>
        </p>
      <%- end -%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card card-outline-success">
      <div class="card-block">
        <h3 class="card-title">Activities</h3>
        <%= render 'activities' %>
      </div>
    </div>
  </div>
  <div class="col-md-3 offset-md-1">
    <div class="card card-outline-info">
      <div class="card-block">
        <h4 class="card-title">
          ELECTRICITY
          <span class="pull-md-right">
            <%= link_to "?", root_url %>
          </span>
        </h4>
        <div id="avg_weekday_usage">
          <% avg_elect = average_weekday_usage(:electricity) %>
          <h1><strong><%= avg_elect[1].to_i unless avg_elect.nil? %></strong> kWh</h1>
        </div>
        <p>
          Average weekday electricity usage
        </p>
        <div class="small text-muted text-md-center">
          WEEK ENDING <%= l avg_elect[0] unless avg_elect.nil? %>
        </div>
      </div>
      <div class="card-footer text-md-center">
        <%= link_to_unless(avg_elect.nil?, 'Daily usage',
          usage_school_path(@school, period: :daily, to_date: avg_elect[0], anchor: :electricity),
          class: 'btn btn-primary btn-sm')
        %>
        <%= link_to_unless(avg_elect.nil?, 'Hourly usage',
          usage_school_path(@school, period: :hourly, to_date: avg_elect[0], anchor: :electricity),
          class: 'btn btn-primary btn-sm')
        %>
      </div>
    </div>
    <div class="card card-outline-info">
      <div class="card-block text-md-center">
        Why do you use the most electricity on a
        <h1>
          <strong><%= day_most_usage(:electricity) %></strong>
          <br>?
        </h1>
      </div>
    </div>
  </div>
  <div class="col-md-3 offset-md-1">
    <div class="card card-outline-info">
      <div class="card-block">
        <h4 class="card-title">
          GAS
          <span class="pull-md-right">
            <%= link_to "?", root_url %>
          </span>
        </h4>
        <div id="avg_weekday_usage">
          <% avg_gas = average_weekday_usage(:gas) %>
          <h1><strong><%= avg_gas[1].to_i unless avg_gas.nil? %></strong> kWh</h1>
        </div>
        <p>
          Average weekday gas usage
        </p>
        <div class="small text-muted text-md-center">
          WEEK ENDING <%= l avg_gas[0] unless avg_gas.nil? %>
        </div>
      </div>
      <div class="card-footer text-md-center">
        <%= link_to_unless(avg_gas.nil?, 'Daily usage',
          usage_school_path(@school, period: :daily, to_date: avg_gas[0], anchor: :gas),
          class: 'btn btn-primary btn-sm')
        %>
        <%= link_to_unless(avg_gas.nil?, 'Hourly usage',
          usage_school_path(@school, period: :hourly, to_date: avg_gas[0], anchor: :gas),
          class: 'btn btn-primary btn-sm')
        %>
      </div>
    </div>
    <div class="card card-outline-info">
      <div class="card-block text-md-center">
        Why do you use the most gas on a
        <h1>
          <strong><%= day_most_usage(:gas) %></strong>
          <br>?
        </h1>
      </div>
    </div>
  </div>
</div>

<% if can? :manage, @school %>
  <div class="row">
    <div class="card col-md-12">
      <div class="card-block">
        <div class="card-title">
          <h3>Meters</h3>
          <%= render 'meters' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="other-actions">
  <%= link_to 'Back', schools_path, class: 'btn btn-secondary' %>
</div>
