<%= content_for :page_title, @school.name %>

<%= render 'shared/dashboard_title', school: @school, co2_pages: @co2_pages, public: true %>

<h2>Annual usage</h2>

<% if @overview_table %>
  <%= render 'management/schools/overview_table', overview_table: @overview_table %>
<% end %>

<% unless @overview_charts.empty? %>
  <%= render 'management/schools/overview_charts', overview_charts: @overview_charts %>
<% end %>

<%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :public_dashboard_title, title: 'Act on energy usage'%>

<% unless @management_priorities.empty? %>
  <h3>Energy saving opportunities</h3>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<% unless user_signed_in? %>
  <%= render 'shared/school_login_prompt', school: @school %>
<% end %>
