<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @school.school_type.titleize %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @school.postcode %>
</p>

<p>
  <strong>Eco school status:</strong>
  <%= @school.eco_school_status %>
</p>

<p>
  <strong>Website:</strong>
  <%= @school.website %>
</p>

<% if can? :manage, @school %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Meter No</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% @school.meters.each do |meter| %>
        <tr class="<%= active(meter.active) %>" >
          <td><%= meter.meter_no %></td>
          <td><%= meter.meter_type.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="other-actions">
  <% if can? :manage, @school %>
    <%= link_to 'Edit', edit_school_path(@school), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', schools_path, class: 'btn btn-secondary' %>
</div>
