<%= content_for :page_title, @school.name %>

<%= render 'shared/dashboard_title', school: @school, co2_pages: @co2_pages, public: true, show_data_enabled_features: @show_data_enabled_features %>

<% if @overview_data %>
  <h2><%= t('schools.show.summary_of_recent_energy_usage') %></h2>
  <%= render 'management/schools/overview_data', overview_data: @overview_data %>
  <div class="text-right management-overview-caption">
    <%= @overview_data.date_ranges %>
    <%= link_to_help_for_feature :management_summary_overview, title: "More information #{fa_icon('info-circle')}".html_safe %>
  </div>
<% end %>

<h3><%= t('schools.show.act_on_energy_usage') %></h3>

<%= render 'management/schools/targets/progress_notice', school: @school, progress_summary: @progress_summary %>

<% if @dashboard_alerts %>
  <%= render 'shared/dashboard_alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title %>
<% end %>

<% if @overview_charts && @overview_charts.any? %>
  <h3><%= t('schools.show.recent_energy_usage') %></h3>
  <%= render 'management/schools/overview_charts', overview_charts: @overview_charts %>
<% end %>

<% if @management_priorities && @management_priorities.any? %>
  <h3><%= t('schools.show.energy_saving_opportunities') %></h3>
  <%= render 'management/management_priorities/list', management_priorities: @management_priorities, school: @school, show_more: @show_more_management_priorities %>
<% end %>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<% unless user_signed_in? %>
  <%= render 'shared/school_login_prompt', school: @school %>
<% end %>
