<% content_for :page_title do %>
    <%= @school.name %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'schools/description' %>
    <%= render partial: 'schools/badges' %>
  </div>
  <div class="col-md-9">
    <%= render partial: 'schools/activity_cards' %>
    <%= render partial: 'schools/electricity_cards' %>
    <%= render partial: 'schools/gas_cards' %>
  </div>
</div>
