<% content_for :page_title do %>
    Choose the next activity for <%= @school.name %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Choose your next activity</h1>
  </div>
</div>

<div class="card-deck">
  <div class="card activity-card">
    <div class="card-header"></div>
    <div class="card-body">
      <h2 class="card-title">Already completed an activity?</h2>
      <p class="card-text">
        If you've completed an activity then you can go ahead and record it now
      </p>
      <div class="card-footer text-right">
        <%= link_to 'Record your activity', new_school_activity_path(@school), class: 'btn' %>
      </div>
    </div>
  </div>

  <div class="card secondary-card">
    <div class="card-header"></div>

    <div class="card-body">
      <h2 class="card-title">Want some help choosing your next activity?</h2>
      <p class="card-text">
        Below you can see some suggested activities for your school. Or you can look at the full list of activities
      </p>

      <div class="card-footer text-right">
        <%= link_to "View the full list of activities", activity_categories_path_url(@school), class: 'btn' %>
      </div>

    </div>
  </div>
</div>

<div class="row padded-row">
  <div class="col-md-12">
    <h2>Some suggested activities for your school</h2>
    <p>
      <% if @first %>
        Here are some starting activities that will help you start to save energy.
      <% else %>
        Here are some suggested next activities for your school.
      <% end %>
    </p>
    <p>By default the activities are appropriate for the Key Stages set for your school.</p>
    <p>The figure in the green square is the number of points each activity is worth, 10 points for example: <span class="badge badge-success">10</span>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= form_tag suggest_activity_school_path, method: :get do %>
      <h3>Filters</h3>
      <%= submit_tag "Filter Activity Types", class: 'btn btn-info' %>
      <%= render 'activity_types/filters', filter: @filter %>
      <%= submit_tag "Filter Activity Types", class: 'btn btn-info' %>
    <% end %>
  </div>
  <div class="col-md-9">

    <h3>Suggestions based on your previous activities</h3>
    <%= render 'suggestion_card_deck', suggestions: @suggestions_from_activity_history %>

    <h3>Suggestions based on your current <%= link_to 'programmes', school_programme_types_path(@school) %></h3>
    <%= render 'suggestion_card_deck', suggestions: @suggestions_from_programmes %>

    <h3>Suggestions based on your alerts</h3>
    <%= render 'suggestion_card_deck', suggestions: @suggestions_from_alerts %>

  </div>
</div>

