<% content_for :page_title do %>
    Choose the next activity for <%= @school.name %>
<% end %>

<div class="row padded-row">
  <div class="col-md-12">
    <h1>Choose your next activity</h1>
  </div>
</div>

<div class="card-deck">
  <div class="card activity-card">
    <div class="card-header"></div>
    <div class="card-body">
      <h2 class="card-title">Already completed an activity?</h2>
      <p class="card-text">
        If you've completed an activity then you can go ahead and record it now
      </p>
      <div class="card-footer text-right">
        <%= link_to 'Record your activity', new_school_activity_path(@school), class: 'btn btn-success' %>
      </div>
    </div>
  </div>

  <div class="card secondary-card">
    <div class="card-header"></div>

    <div class="card-body">
      <h2 class="card-title">Want some help choosing your next activity?</h2>
      <p class="card-text">
        Below you can see some suggested activities for your school. Or you can look at the full list of activities
      </p>

      <div class="card-footer text-right">
        <%= link_to "View the full list of activities", activity_categories_path, class: 'btn btn-secondary' %>
      </div>

    </div>
  </div>
</div>

<div class="row padded-row">
  <div class="col-md-12">
    <h2>Some suggested activities for your school</h2>
    <p>
      <% if @first %>
        Here are some starting activities that will help you start to save energy.
      <% else %>
        Here are some suggested next activities for your school.
      <% end %>
    </p>
    <p>By default the activities are appropriate for the Key Stages set for your school.</p>
    <p>The figure in the green square is the number of points each activity is worth, 10 points for example: <span class="badge badge-success">10</span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_tag suggest_activity_school_path, method: :get do %>
      <%= render 'activity_types/filters', filter: @filter %>
      <%= submit_tag "Filter Activity Types", class: 'btn btn-info' %>
    <% end %>
  </div>
</div>

<% @suggestions.in_groups_of(3, nil) do |group| %>
  <div class="row padded-row">
    <div class="card-deck">
      <% group.each do |activity_type| %>
        <% if activity_type.present? %>
          <div class="card activity-card">
            <div class="card-header">
              <p><span class="badge badge-success"><%= activity_type.score %></span>
              <span class="badge badge-secondary"><%= activity_type.activity_category.name %></span></p>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= "#{activity_type.name} (#{activity_type.key_stage_list})" %></h4>
              <p class="card-text">
              </p>
            </div>
            <div class="card-footer text-right">
              <%= link_to 'Read about this activity', activity_type_path(activity_type), class: 'btn btn-primary' %>
            </div>
          </div>
        <% else %>
          <div class="card secondary-card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h4 class="card-title">Want some other suggestions?</h4>
              <p class="card-text">
                You can also design your own activities, you can still score points for these when you
                record them using the <%= link_to 'activity form', new_school_activity_path(@school) %>. For more
                ideas have a look at our full list of activities.
              </p>

            </div>
            <div class="card-footer text-right">
              <%= link_to 'View the full list of activities', activity_categories_path, class: 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
