<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>Daily power usage for <%= @school.name %></h3>
        <ul class="nav nav-tabs card-header-tabs pull-md-left">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#gas-usage">Gas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#electricity-usage">Electricity</a>
          </li>
        </ul>
      </div>
      <div class="card-block">
        <div class="tab-content">
          <div class="tab-pane active" id="gas-usage" role="tabpanel">
            <% if @gas_lw.empty? || @gas_wbl.empty? %>
              <p>There was a problem finding the gas usage, please
                check the school's gas meter has been set up.</p>
            <% else %>
              <%= image_tag Gchart.line data: [@gas_lw, @gas_wbl] %>
              <p>
                Details of gas usage from
                <%= l @last_week.first %>-<%= l @last_week.last %><br>
                (comparing with previous week
                <%= l @week_before_last.first %>-<%= l @week_before_last.last %>)
              </p>
              <h4>Readings</h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>Usage</th>
                    <th>Previous week</th>
                  </tr>
                </thead>
                <tbody>
                  <% @last_week.each_with_index do |date, index| %>
                    <tr>
                      <td><%= date.strftime('%A') %> (<%= l date %>)</td>
                      <td><%= @gas_lw[index] %></td>
                      <td><%= @gas_wbl[index] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="tab-pane" id="electricity-usage" role="tabpanel">
            <% if @electricity_lw.empty? || @electricity_wbl.empty? %>
              <p>There was a problem finding the electricity usage, please
                check the school's electricity meter has been set up.</p>
            <% else %>
              <%= image_tag Gchart.line data: [@electricity_lw, @electricity_wbl] %>
              <p>
                Details of electricity usage from
                <%= l @last_week.first %>-<%= l @last_week.last %><br>
                (comparing with previous week
                <%= l @week_before_last.first %>-<%= l @week_before_last.last %>)
              </p>
              <h4>Readings</h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>Usage</th>
                    <th>Previous week</th>
                  </tr>
                </thead>
                <tbody>
                  <% @last_week.each_with_index do |date, index| %>
                    <tr>
                      <td><%= date.strftime('%A') %> (<%= l date %>)</td>
                      <td><%= @electricity_lw[index] %></td>
                      <td><%= @electricity_wbl[index] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
