<table class="table table-sm table-bordered table-sorted">
  <thead>
    <tr>
      <% content[:header].each_with_index do |head, index| %>
        <th class="<%= index.zero? ? '' : 'text-center' %>"><%= head %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% content[:rows].each do |row| %>
    <tr>
      <% row.each_with_index do |cell, cell_index| %>
        <td class="<%= cell_index.zero? ? '' : 'text-right' %> <%= cell[:sense] %>" data-sort=<%= cell[:raw] %>>
          <% if cell[:urn] %>
            <%= link_to cell[:formatted], analysis_page_finder_path(cell[:urn], cell[:drilldown_content_class]) %>
          <% else %>
            <%= up_downify(cell[:formatted]) %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
