<table class="table table-sm table-bordered table-sorted">
  <thead>
    <tr>
      <% content[:header].each_with_index do |head, index| %>
        <th class="<%= index.zero? ? '' : 'text-center' %>"><%= head %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% content[:rows].each do |row| %>
    <tr>
      <% row.each_with_index do |cell, cell_index| %>
        <td class="<%= cell_index.zero? ? '' : 'text-right' %>" data-sort=<%= cell[:raw] %>><%= up_downify(cell[:formatted]) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
