<% content_for :page_title, @title %>

<h1>School Comparison Tool</h1>
<p>This tool allows you to compare the energy performance of a number of schools within a Local Authority group or across the whole of Energy Sparks. The aim is to allow you to identify the best and worst performing schools to provide examples of best practice and to identify the schools needing the most support to improve their energy management.</p>

<p><%= link_to 'Benchmark list', benchmarks_path(benchmark: { school_group_ids: @school_group_ids }) %>, <%= link_to 'All benchmarks on a single page', all_benchmarks_path(benchmark: { school_group_ids: @school_group_ids }) %></p>

<p><%= link_to 'Download benchmark results YAML file (admin only)', benchmark_path({format: :yaml}) if can? :download, BenchmarkResult %></p>

<% if can?(:read, :benchmark_errors_messages) %>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#benchmarkErrors" role="button" aria-expanded="false" aria-controls="benchmarkErrors">
      See errors from the benchmark content framework when generating content
    </a>
  </p>
  <div class="collapse" id="benchmarkErrors">
    <% @errors.each do |error| %>
     <div class="card card-body">
      <h4><%= error[:message] %></h4>
      <p class="very-small"><%= sanitize error[:full_html_output] %></p>
        </div>
    <% end %>
  </div>
 <% end %>

<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :benchmark_type, @page if @page %>
  <fieldset class="form-group">
    <%= collection_check_boxes :benchmark, :school_group_ids, @school_groups, :id, :name, { multiple: true } do |b| %>
      <div class="custom-control custom-checkbox">

        <%= b.check_box( checked: @school_group_ids.include?(b.object.id.to_s), class: "custom-control-input") %>
        <%= b.label(class: "custom-control-label") do %>
          <%= b.object.name %>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <%= submit_tag "Filter by school groups", class: 'btn' %>
<% end %>

<% @page_groups.each do |page_group| %>
  <h2><%= page_group[:name] %></h2>
  <% page_group[:benchmarks].each do |benchmark, _title| %>
    <% @content_hash[benchmark].each do |content| %>
      <%= render content[:type].to_s, content: content[:content], school: @school %>
    <% end %>
  <% end %>
<% end %>
