<%= render 'header', title: 'PROB data report' do %>
  <%= header_nav_link 'Admin', admin_url %>
<% end %>

<p>
  Lists all of the meters in the system that have one or more "PROB" data readings.
  These are readings where we have missing data but the analytics has been unable to
  find a good substitute.
</p>

<p>
  The report can be used to identify meters with very poor data quality, as well as
  examples of where we might improve our substitutions rules.
</p>

<table id="report" class="table table-sorted">
  <thead>
    <tr>
      <th>School group</th>
      <th>School</th>
      <th>Meter name</th>
      <th>MPXN</th>
      <th>Meter type</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @prob_data.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td>
          <%= link_to row[1], school_meters_path(school_id: row[2]) %>
        </td>
        <td>
          <%= row[4] %>
        </td>
        <td>
          <%= link_to row[5], admin_reports_amr_validated_reading_url(meter_id: row[6]) %>
        </td>
        <td><%= row[3] %></td>
        <td>
          <%= row[7] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
