<%= render 'header', title: "PROB data report" do %>
  <%= header_nav_link 'Admin', admin_url %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>School group</th>
      <th>School</th>
      <th>Meter name/mpan/mprn</th>
      <th>Meter type</th>
      <th>Count of PROB records</th>
    </tr>
  </thead>
  <tbody>
    <% @prob_data.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td>
          <%= link_to row[1], school_meters_path(school_id: row[2]) %>
        </td>
        <td>
          <%= link_to [row[4], row[5]].reject(&:blank?).join(': '), admin_reports_amr_validated_reading_url(meter_id: row[6]) %>
        </td>
        <td><%= Meter.meter_types.key(row[3]).humanize %></td>
        <td>
          <%= row[7] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
