<h2><%= title %></h2>
<p class="small">
  <%= description %>.
</p>

<p class="small">
  <%= custom %>.
</p>

<div class="row p-2">
  <div class="col-md-5">
    <label for="<%= type %>"><%= label %></label>
  </div>
  <div class="col-md-5">
    <label for="notes"><%= t('schools.audits.form.notes') %></label>
  </div>
  <div class="col-md-2">
  </div>
</div>

<div id="tasklist-<%= type.dasherize %>s" class='admin-tasklist sort-list'>
  <%= f.simple_fields_for "#{type}_tasks" do |tasklist_task| %>
    <%= render 'shared/tasklists/task_fields',
               f: tasklist_task,
               task_sources: task_sources,
               task_source_type: type.camelcase %>
  <% end %>
  <div class="links">
    <%= link_to_add_association add_label,
                                f,
                                "#{type}_tasks",
                                class: 'btn',
                                partial: 'shared/tasklists/task_fields',
                                render_options: {
                                  locals: {
                                    task_sources: task_sources,
                                    task_source_type: type.camelcase
                                  }
                                } %>
  </div>
</div>
<br>
<br>
