  <% @programme_type.tasklist_activity_types.each_with_index do |activity_type, idx| %>
    <div class="row mt-4">
      <div class="col-sm-2 text-center align-self-center">
        <% if @user_progress.enrolled?(@programme_type) %>
          <% if @user_progress.completed_activity?(@programme_type, activity_type) %>
            <span class="h4 check"><%= far_icon('check-circle text-success fa-2x') %></span>
          <% else %>
            <span class="h4 check"><%= far_icon('circle text-muted fa-2x') %></span>
          <% end %>
        <% else %>
          <span class="h4"><%= idx + 1 %>.</span>
        <% end %>
      </div>
      <div class="col-sm-10">
        <h4>
          <% if @user_progress.enrolled?(@programme_type) && @user_progress.completed_activity?(@programme_type, activity_type) %>
            <%= activity_type.name %>
          <% else %>
            <%= link_to activity_type.name, activity_type_path(activity_type) %>
          <% end %>
        </h4>
        <div class="row">
          <div class="col-sm-2"><%= t('programme_types.show.points') %></div>
          <div class="col-sm-1">
            <%= render 'activity_types/activity_type_score', activity_type: activity_type %>
          </div>
          <% if @user_progress.completed_activity?(@programme_type, activity_type) %>
            <div class="col-sm-3">
              <%= t('programme_types.show.completed_on') %>
            </div>
            <div class="col-sm-6">
              <%= link_to nice_dates(@user_progress.completed_activity(@programme_type, activity_type).happened_on),
                          school_activity_path(current_user_school,
                                               @user_progress.completed_activity(@programme_type, activity_type)) %>
            </div>
          <% end %>

        </div>

        <div class="col-sm-2">
        </div>

      </div>
    </div>
  <% end %>
