<div>

  <p class="indicates-required"><span class="asterisk">*</span> indicates required field</p>

  <%= form_tag mailchimp_signups_path, id: 'mailchimp-form', class: 'mailchimp-form' do %>

    <% if current_user %>
      <%= hidden_field_tag :contact_source, 'User' %>
    <% end %>

    <div class="mc-field-group form-group row">
      <div class="col-sm-4">
        <%= label_tag :name, t('mailchimp_signups.mailchimp_form.user_name') %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :name, contact.name, class: 'form-control', required: true, autocomplete: 'on',
                                                disabled: current_user.present? && contact.name.present? %>
      </div>
    </div>

    <div class="mc-field-group form-group row">
      <div class="col-sm-4">
        <%= label_tag :email_address, t('mailchimp_signups.mailchimp_form.email_address') %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :email_address, contact.email_address, class: 'form-control', required: true,
                                                                  disabled: current_user.present?, autocomplete: 'on' %>
      </div>
    </div>

    <% unless current_user.present? %>
      <div class="mc-field-group form-group row">
        <div class="col-sm-4">
          <%= label_tag :school, t('mailchimp_signups.mailchimp_form.school_name') %>
        </div>
        <div class="col-sm-8">
          <%= text_field_tag :school, contact.school, class: 'form-control', autocomplete: 'on' %>
        </div>
      </div>
    <% end %>

    <div class="row mt-2">
      <div class="col-md-12">
        <%= label_tag :school, t('mailchimp_signups.mailchimp_form.email_preferences') %> *
      </div>
    </div>

    <%= render 'users/emails/mailchimp_interest_fields', email_types: @email_types, interests: @interests %>

    <%= submit_tag t('mailchimp_signups.mailchimp_form.subscribe'), class: 'btn btn-success' %>

  <% end %>

</div>
