<div>

  <div class="indicates-required"><span class="asterisk">*</span> indicates required field</div>

  <br>

  <%= form_tag mailchimp_signups_path, class: 'mailchimp-form' do %>

    <%= hidden_field_tag :list_id, list.id %>

    <div class="mc-field-group form-group row">
      <div class="col-sm-4">
        <%= label_tag :name, t('mailchimp_signups.mailchimp_form.user_name') %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :name, contact.name, class: 'form-control', required: true, autocomplete: 'on' %>
      </div>
    </div>

    <div class="mc-field-group form-group row">
      <div class="col-sm-4">
        <%= label_tag :email_address, t('mailchimp_signups.mailchimp_form.email_address') %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :email_address, contact.email_address, class: 'form-control', required: true,
                                                                  autocomplete: 'on' %>
      </div>
    </div>

    <div class="mc-field-group form-group row">
      <div class="col-sm-4">
        <%= label_tag :school, t('mailchimp_signups.mailchimp_form.school_name') %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :school, contact.school, class: 'form-control', autocomplete: 'on' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <%= label_tag :interests, t('mailchimp_signups.mailchimp_form.email_preferences') %>
      </div>
      <div class="col-sm-8">
        <% @email_types.each do |email_type| %>
          <div class="custom-control custom-checkbox">
            <%= check_box_tag "interests[#{email_type.id}]", 'true', true, class: 'custom-control-input' %>
            <%= label_tag "interests[#{email_type.id}]", email_type.name, class: 'custom-control-label' %>
          </div>
        <% end %>
      </div>
    </div>

    <%= submit_tag t('mailchimp_signups.mailchimp_form.subscribe'), class: 'btn btn-success' %>

  <% end %>

</div>
