<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.meters.edit.title') %></h1>
    <p><%= t('onboarding.meters.description_paragraph_1') %>.</p>
    <p><%= t('onboarding.meters.description_paragraph_2') %>.</p>
    <p><%= t('onboarding.meters.description_paragraph_3') %>.</p>

    <%= render 'form', meter: @meter, school_onboarding: @school_onboarding , url: onboarding_meter_path(@school_onboarding, @meter)%>
  </div>
</div>
