<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>New meter</h1>
    <p>The Meter Point Number is also known as the MPAN (for electricity meters) and the MPRN (for gas meters)</p>
    <%= simple_form_for @meter, url: onboarding_meters_path(@school_onboarding) do |form| %>

      <%= form.input :meter_type, as: :radio_buttons, collection: Meter.meter_types.keys, label_method: :humanize %>

      <%= form.input :mpan_mprn, label: 'Meter Point Number' %>
      <%= form.input :name, label: 'Meter Name' %>
      <%= form.input :meter_serial_number, labeL: 'Serial number', as: :string %>
      <%= form.button :submit %>
      <%= link_to 'Back', new_onboarding_completion_path(@school_onboarding), class: 'btn' %>
    <% end %>
  </div>
</div>
