<h1 class="mb-3"><%= t('onboarding_mailer.activation_email.header', school_name: @school.name) %></h1>

<p>
  <%= t('onboarding_mailer.activation_email.paragraph_1_html', activity_categories_url: activity_categories_url) %>
</p>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.activation_email.paragraph_2_html', intervention_type_groups_url: intervention_type_groups_url) %>
</p>

<%= link_to t('onboarding_mailer.activation_email.explore_activities'), activity_categories_url, class: 'btn btn-primary mt-3 mb-3 ax-right' %>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.activation_email.paragraph_3_html', school_url: school_url(@school)) %>. <%= t('onboarding_mailer.activation_email.paragraph_4') %>
</p>

<div class="s-3"></div>

<h5 class="mb-3"><%= t('onboarding_mailer.activation_email.need_some_help') %></h5>

<p>
  <%= t('onboarding_mailer.activation_email.paragraph_5_html', user_guide_videos_url: user_guide_videos_url, training_url: training_url) %>
</p>

<%= link_to t('onboarding_mailer.activation_email.join_a_webinar'), training_url, class: 'btn btn-primary mt-3 mb-3 ax-right' %>

<div class="s-3"></div>

<h5 class="mb-3"><%= t('onboarding_mailer.activation_email.thanks_for_joining') %></h5>

<p>
  <%= t('onboarding_mailer.activation_email.paragraph_6') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('onboarding_mailer.activation_email.get_in_touch_html', contact_url: contact_url) %>
</p>

<div class="s-3"></div>
<span class="float-right">-- <%= t('onboarding_mailer.activation_email.the_energy_sparks_team') %></span>
