<h1 class="mb-3">
  <%= t('onboarding_mailer.data_enabled_email.title', school_name: @school.name) %>
</h1>

<p>
  <%= t('onboarding_mailer.data_enabled_email.paragraph_1_html', school_url: school_url(@school)) %>
</p>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.data_enabled_email.paragraph_2') %>
</p>

<%= link_to t('onboarding_mailer.data_enabled_email.explore_data'), school_url(@school), class: 'btn btn-primary mt-3 mb-3 ax-right' %>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.data_enabled_email.paragraph_3_html', activity_categories_url: activity_categories_url) %>
</p>

<div class="s-3"></div>

<% if @target_prompt %>
  <div class="s-3"></div>

  <h5 class="mb-3"><%= t('onboarding_mailer.data_enabled_email.set_your_first_targets') %></h5>

  <%= render 'shared/mailer/first_target_prompt', tracking_params: targets_utm_parameters(source: "activation") %>

  <div class="s-3"></div>

<% end %>

<h5 class="mb-3"><%= t('onboarding_mailer.data_enabled_email.need_some_help') %></h5>

<p>
  <%= t('onboarding_mailer.data_enabled_email.paragraph_4_html', user_guide_videos_url: user_guide_youtube_url, training_url: training_url) %>
</p>

<%= link_to t('onboarding_mailer.data_enabled_email.join_a_webinar'), training_url, class: 'btn btn-primary mt-3 mb-3 ax-right' %>

<div class="s-3"></div>

<h5 class="mb-3"><%= t('onboarding_mailer.data_enabled_email.thanks_for_joining') %></h5>

<p>
  <%= t('onboarding_mailer.data_enabled_email.paragraph_5') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('onboarding_mailer.data_enabled_email.get_in_touch_html', contact_url: contact_url) %>
</p>

<div class="s-3"></div>
<span class="float-right">-- <%= t('onboarding_mailer.data_enabled_email.the_energy_sparks_team') %></span>
