<div class="mb-4"><%= t('onboarding_mailer.onboarded_email.we_are_working_message') %></div>
<div><%= t('onboarding_mailer.onboarded_email.in_the_mean_time') %></div>
<ol>
  <li><%= t('onboarding_mailer.familiarise_yourself_html', root_url:) %></li>
  <li><%= t('onboarding_mailer.build_an_energy_saving_team_html', root_url:) %></li>
  <li><%= t('onboarding_mailer.set_up_a_holiday_switch_off_routine_html', root_url:) %></li>
  <li><%= t('onboarding_mailer.sign_up_to_energy_saving_alerts_html', root_url:) %></li>
  <li><%= t('onboarding_mailer.onboarded_email.review_our_range_html', root_url:) %></li>
</ol>
<div class="mb-4"><%= t('onboarding_mailer.onboarded_email.we_will_be_in_touch_shortly_message') %></div>
<div class="mb-4"><%= t('onboarding_mailer.we_hope') %></div>
<div class="mb-4"><%= t('onboarding_mailer.onboarded_email.get_in_touch_message_html', contact_url:) %></div>
<%= render 'closing' %>
