<h1 class="mb-3">
  <%= t('onboarding_mailer.onboarded_email.title', school_name: @school.name) %>
</h1>

<p>
  <%= t('onboarding_mailer.onboarded_email.we_are_working_message') %>
</p>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.onboarded_email.paragraph_1_html', activity_categories_url: activity_categories_url) %>
</p>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.onboarded_email.paragraph_2_html', intervention_type_groups_url: intervention_type_groups_url) %>
</p>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.onboarded_email.paragraph_3_html', school_url: school_url(@school)) %>
</p>

<div class="s-3"></div>

<p>
  <%= t('onboarding_mailer.onboarded_email.we_will_be_in_touch_shortly_message') %>
</p>


<h5 class="mb-3"><%= t('onboarding_mailer.onboarded_email.need_some_help') %></h5>

<p>
  <%= t('onboarding_mailer.onboarded_email.paragraph_4_html', user_guide_videos_url: user_guide_youtube_url, training_url: training_url) %>
</p>

<%= link_to t('onboarding_mailer.onboarded_email.join_a_webinar'), training_url, class: 'btn btn-primary mt-3 mb-3 float-right' %>

<div class="s-3"></div>

<h5 class="mb-3"><%= t('onboarding_mailer.onboarded_email.thanks_for_joining') %></h5>

<p>
  <%= t('onboarding_mailer.onboarded_email.paragraph_5') %>
</p>

<div class="s-3"></div>
<p>
  <%= t('onboarding_mailer.onboarded_email.get_in_touch_message_html', contact_url: contact_url) %>
</p>

<div class="s-3"></div>
<span class="float-right">-- <%= t('onboarding_mailer.onboarded_email.the_energy_sparks_team') %></span>
