<h1 class="mb-3"><%= t('onboarding_mailer.reminder_email.title', count: @school_onboardings.count) %></h1>

<p><%= t('onboarding_mailer.reminder_email.paragraph_1_html', count: @school_onboardings.count, school_name: @school_onboardings.first.school_name) %></p>

<div class="s-3"></div>

<p><%= t('onboarding_mailer.reminder_email.paragraph_2', count: @school_onboardings.count) %><p>

<% if @school_onboardings.count > 1 %>
  <%= t('onboarding_mailer.reminder_email.paragraph_3', count: @school_onboardings.count) %>
  <ul>
  <% @school_onboardings.each do |onboarding| %>
    <li><%= link_to onboarding.school_name, onboarding_url(onboarding) %></li>
  <% end %>
  </ul>
<% else %>
  <%= link_to t('onboarding_mailer.reminder_email.paragraph_3', count: @school_onboardings.count), onboarding_url(@school_onboardings.first), class: 'btn btn-primary mb-3 mt-3'%>
<% end %>

<p class="small"><%= t('onboarding_mailer.reminder_email.the_energy_sparks_team') %><p>
