<h1 class="mb-3"><%= t('onboarding_mailer.reminder_email.title', count: @onboardings.count) %></h1>

<p><%= t('onboarding_mailer.reminder_email.paragraph_1_html', count: @onboardings.count, school_name: @onboardings.first.school_name) %></p>

<div class="s-3"></div>

<p><%= t('onboarding_mailer.reminder_email.paragraph_2', count: @onboardings.count) %><p>

<% if @onboardings.count == 1 %>
  <%= link_to t('onboarding_mailer.reminder_email.paragraph_3.one'), onboarding_url(@onboardings.first), class: 'btn btn-primary mb-3 mt-3'%>
<% else %>
  <%= t('onboarding_mailer.reminder_email.paragraph_3.other') %>
  <ul>
  <% @onboardings.each do |onboarding| %>
    <li><%= link_to onboarding.school_name, onboarding_url(onboarding), class: 'btn btn-primary mb-3 mt-3'%></li>
  <% end %>
  </ul>
<% end %>

<p class="small"><%= t('onboarding_mailer.reminder_email.the_energy_sparks_team') %><p>
