<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @programme_type.title %></h1>
      <div>
        <%= link_to 'Back', :back, class: 'btn btn-secondary'  %>
      </div>
    </div>
  </div>
</div>

<h2>Total activities: <%= @activity_types_count %></h2>

<% if @programmes.any? %>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>School</th>
        <th>Activities completed</th>
        <th>Progress</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @programmes.each do |programme| %>
        <tr>
          <td><%= programme.school.name %></td>
          <td><%= programme.activities.count %></td>
          <td><%= progress_as_percent(programme.activities.count, @activity_types_count) %></td>
          <td><%= programme.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No schools have enrolled in this programme yet</p>
<% end %>

<br/>
<br/>

<%= form_for(:programme) do |f| %>

  <%#= render 'shared/errors', subject: @programme_type, subject_name: 'form' %>

  <div class="row">
<!--    <div class="col-md-2">-->
        <%#= f.label :school_id, 'School to enrol' %>
<!--    </div>-->
    <div class="col-md-6">
        <%= f.select :school_id, options_from_collection_for_select(@schools_to_enrol, 'id', 'name'), {prompt: 'Choose a school to enrol..'}, {class: 'form-control'} %>
    </div>
    <div class="col-md-2">
      <%= f.submit 'Enrol', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
