<%= tag.div id: id, class: classes do %>
    <table id="<%= "#{id}-table" %>" class="table">
        <thead>
            <tr>
            <th></th>
            <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Base Price</td>
            <td><%= helpers.format_unit(@price.base_price, :£) %></td>
            </tr>
            <tr>
            <td>Metering Fee</td>
            <td><%= helpers.format_unit(@price.metering_fee, :£) %></td>
            </tr>
            <tr>
            <td>Private Account Fee</td>
            <td><%= helpers.format_unit(@price.private_account_fee, :£) %></td>
            </tr>
            <tr>
            <td>Total Price</td>
            <td><%= helpers.format_unit(@price.total, :£) %></td>
            </tr>
        </tbody>
    </table>
<% end %>
