<div class="col-sm-6 col-lg-4 mb-4">
  <div class="card <%= energy %>-dark <%= energy %>-card h-100">
    <div class="card-body p-4 text-center">
      <%= link_to pupils_school_analysis_path(school, category: category), class: 'h2 stretched-link text-decoration-none' do %>
        <div class="p-4">
          <%= fa_icon "#{icon} fa-3x" %>
        </div>
        <%= category_name %>
      <% end %>
    </div>
  </div>
</div>
