<% unless school.configuration.get_charts(:pupil_analysis_charts, :pupil_analysis_page, *chart_config.values).empty? %>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card <%= energy %>-dark <%= energy %>-card h-100">
      <div class="card-body p-4 <%= 'text-center' if local_assigns[:centre] %>">
        <%= link_to pupils_school_analysis_tab_path(@school, chart_config), class: 'h2 stretched-link text-decoration-none' do %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
