<%= render TitledSectionComponent.new(classes: 'mt-2') do |section| %>
  <%= section.with_title do %>
    <h2><%= t('pupils.analysis.i_would_like_to_compare') %></h2>
  <% end %>
  <%= section.with_body do %>
    <div class="row">
      <%= render PupilExploreComponent.new(school: school, icon: 'calendar-week', fuel_type: fuel_type,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_usage_link period: :weekly, link_text: t('pupils.analysis.compare_different_weeks') %>
      <% end %>

      <%= render PupilExploreComponent.new(school: school, icon: 'calendar-day', fuel_type: fuel_type,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_usage_link period: :daily, link_text: t('pupils.analysis.compare_different_days') %>
      <% end %>

      <% if school.filterable_meters(fuel_type).count > 1 %>
        <%= render PupilExploreComponent.new(school: school, icon: 'gauge', fuel_type: fuel_type,
                                             classes: 'col-12 col-md-4') do |c| %>
          <% c.with_usage_link period: :weekly, split_meters: true, link_text: t('pupils.analysis.compare_meters') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
