<div class="card-deck mb-3">
  <% if school.has_solar_pv? %>
    <div class="card solar-dark solar-card m-3 text-center pb-3">
      <div class="card-body">
        <div class="p-4">
          <%= fa_icon "#{fuel_type_icon(:electricity)} fa-3x" %>
          <%= fa_icon "sun fa-3x" %>
        </div>
        <%= link_to 'Electricity & Solar PV', pupils_school_analysis_path(school, category: :solar), class: 'h2 stretched-link text-decoration-none' %>
      </div>
    </div>
  <% elsif school.has_electricity? %>
    <div class="card electricity-dark electricity-card m-3 text-center pb-3">
      <div class="card-body">
        <div class="p-4">
          <%= fa_icon "#{fuel_type_icon(:electricity)} fa-3x" %>
        </div>
        <%= link_to 'Electricity', pupils_school_analysis_path(school, category: :electricity), class: 'h2 stretched-link text-decoration-none' %>
        <div>
          <% if school.has_storage_heaters? %>
            <span class="small" title="">(without storage heaters)</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if school.has_gas? %>
    <div class="card gas-dark gas-card m-3 text-center pb-3">
      <div class="card-body">
        <div class="p-4">
          <%= fa_icon "#{fuel_type_icon(:gas)} fa-3x" %>
        </div>
        <%= link_to 'Gas', pupils_school_analysis_path(school, category: :gas), class: 'h2 stretched-link text-decoration-none' %>
      </div>
    </div>
  <% end %>
  <% if school.has_storage_heaters? %>
    <div class="card storage-dark gas-card m-3 text-center pb-3">
      <div class="card-body">
        <div class="p-4">
          <%= fab_icon('intercom fa-3x') %>
        </div>
        <%= link_to 'Storage heaters', pupils_school_analysis_path(school, category: :storage_heaters), class: 'h2 stretched-link text-decoration-none' %>
      </div>
    </div>
  <% end %>
  <% if school.has_live_data? %>
    <div class="card live-data-dark live-data-card m-3 text-center pb-3">
      <div class="card-body">
        <div class="p-4">
          <%= fa_icon('tachometer-alt fa-3x') %>
        </div>
        <%= link_to 'Live energy data', school_live_data_path(school), class: 'h2 stretched-link text-decoration-none' %>
      </div>
    </div>
  <% end %>
</div>
