<%= render 'header', school: @school, fuel_type: :gas, link: true %>

<%= render TitledSectionComponent.new do |section| %>
  <%= section.with_title do %>
    <h2><%= t('pupils.analysis.i_would_like_to_know') %></h2>
  <% end %>
  <%= section.with_body do %>
    <div class="row">
      <%= render PupilExploreComponent.new(school: @school, icon: 'calendar-days', fuel_type: :gas,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_chart_link energy: 'Gas', presentation: 'Line', link_text: t('pupils.analysis.how_much_last_week') %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render TitledSectionComponent.new(classes: 'mt-2') do |section| %>
  <%= section.with_title do %>
    <h2><%= t('pupils.analysis.i_would_like_to_compare') %></h2>
  <% end %>
  <%= section.with_body do %>
    <div class="row">
      <%= render PupilExploreComponent.new(school: @school, icon: 'calendar-day', fuel_type: :gas,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_usage_link period: :daily, link_text: t('pupils.analysis.compare_different_days') %>
      <% end %>

      <% if @school.filterable_meters(:gas).count > 1 %>
        <%= render PupilExploreComponent.new(school: @school, icon: 'gauge', fuel_type: :gas) do |c| %>
          <% c.with_usage_link period: :daily, split_meters: true, link_text: t('pupils.analysis.compare_meters') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
