<% content_for :page_title do %>Energy Analysis for <%= @school.name %><% end %>

<h1><%= @title %></h1>

<%= link_to '<<', url_for(transformations: (@transformations + [[:move, -1]])) %>
<%= link_to '>>', url_for(transformations: (@transformations + [[:move, 1]])) %>
<%= @transformations %>

<div id="chart_wrapper_1">
  <%= chart_tag(@school, @chart_type.to_s, index: 1, show_advice: false, chart_config: {y_axis_units:  @measurement, transformations: @transformations}) %>
</div>
