<% content_for :page_title do %>Energy Analysis for <%= @school.name %><% end %>

<h1><%= @title %></h1>


<div id="chart_wrapper_1">
  <div class='analysis_controls'>
    <div class="btn-group" role="group">
      <%= button_to '<<', "#", class: 'btn btn-rounded move_back', disabled: true %>
      <%= button_to '>>', "#", class: 'btn btn-rounded move_forward', disabled: true %>
    </div>
  </div>

  <%= chart_tag(@school, @chart_type.to_s, index: 1, show_advice: false, chart_config: {y_axis_units:  @measurement, transformations: []}) %>

</div>
