<%= render 'header', school: @school, fuel_type: :storage_heater, category: :storage_heaters, link: true %>

<%= render TitledSectionComponent.new(classes: 'mt-2') do |section| %>
  <%= section.with_title do %>
    <h2><%= t('pupils.analysis.i_would_like_to_know') %></h2>
  <% end %>
  <%= section.with_body do %>
    <div class="row">
      <%= render PupilExploreComponent.new(school: @school, icon: 'calendar-days', fuel_type: :storage_heaters,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_chart_link energy: 'Storage Heaters', presentation: 'Bar', secondary_presentation: 'Week',
                             link_text: t('pupils.analysis.how_much_last_year') %>
      <% end %>

      <%= render PupilExploreComponent.new(school: @school, icon: 'calendar', fuel_type: :storage_heaters,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_chart_link energy: 'Storage Heaters', presentation: 'Bar', secondary_presentation: 'Year',
                             link_text: t('pupils.analysis.how_changed_long_term') %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render TitledSectionComponent.new(classes: 'mt-2') do |section| %>
  <%= section.with_title do %>
    <h2><%= t('pupils.analysis.i_would_like_to_compare') %></h2>
  <% end %>
  <%= section.with_body do %>
    <div class="row">
      <%= render PupilExploreComponent.new(school: @school, icon: 'scale-balanced', fuel_type: :storage_heaters,
                                           classes: 'col-12 col-md-4') do |c| %>
        <% c.with_chart_link energy: 'Storage Heaters', presentation: 'Bar', secondary_presentation: 'Bench',
                             link_text: t('pupils.analysis.compare_electricity_across_schools') %>
      <% end %>
    </div>
  <% end %>
<% end %>
