<h1 class="mb-3"><%= t('bill_request_mailer.request_bill.title', school_name: @school.name) %></h1>

<p>
  <%= t('bill_request_mailer.request_bill.description') %>
</p>

<div class="s-3"></div>

<%= t('bill_request_mailer.request_bill.document_details_html') %>

<% if @electricity_meters.any? || @gas_meters.any? %>
  <p>
    <%= t('bill_request_mailer.request_bill.sample_bills_needed') %>:
  </p>

  <table class="table mt-2">
    <tbody>
    <% @electricity_meters.each do |m| %>
     <tr>
       <td><%= t('common.electricity') %></td>
       <td><%= m.mpan_mprn %></td>
     </tr>
    <% end %>
    <% @gas_meters.each do |m| %>
     <tr>
       <td><%= t('common.gas') %></td>
       <td><%= m.mpan_mprn %></td>
     </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to t('bill_request_mailer.request_bill.upload_bill'), school_consent_documents_url(@school), class: 'btn btn-primary mt-3 mb-3' %>
