<h1>Rtone installations for <%= link_to @school.name, school_path(@school) %></h1>

<p><%= link_to 'All school meters',  school_meters_path(@school) %></p>

<p class="alert alert-warning">Please note, you cannot create a new installation, or download data between <%= @start_time %> and <%= @end_time %></p>
<p><%= link_to 'New installation', new_school_low_carbon_hub_installation_path, class: 'btn' %></p>

<% if @school.low_carbon_hub_installations.any? %>
  <% @school.low_carbon_hub_installations.each do |installation| %>
    <h2>Rbee id: <%= installation.rbee_meter_id %></h2>
    <p>
      <%= link_to 'Details', school_low_carbon_hub_installation_path(@school, installation), class: 'btn' %>
      <%= link_to 'Delete', school_low_carbon_hub_installation_path(@school, installation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
    </p>
  <% end %>
<% else %>
  <p>There are no Rtone installations at the moment for this school</p>
<% end %>
