<div class="jumbotron aggregated-meter-collection-loader" data-aggregation-path="<%= @aggregation_path %>">
  <h1 class="display-4"><%= @school.name %></h1>
  <div class="stats">
    <p class="lead"><%= t('schools.aggregated_meter_collections.show.paragraph_1') %></p>
    <p><%= t('schools.aggregated_meter_collections.show.paragraph_2') %></p>
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t('schools.aggregated_meter_collections.show.loading') %></span>
    </div>
  </div>
  <div class="alert alert-warning error">
    <%= t('schools.aggregated_meter_collections.show.error_html', contact_path: contact_path) %>
  </div>
</div>
