<p><%= advice_t('analysis.summary') %></p>

<ul>
  <li><%= link_to(advice_t('analysis.comparison.title'), '#comparison') %></li>
  <% if @analysis_dates.months_of_data > 23 %>
    <li><%= link_to(advice_t('analysis.long_term_trend.title'), '#long-term-trend') %></li>
  <% end %>
</ul>

<%= render 'schools/advice/section_title', section_id: 'comparison', section_title: advice_t('analysis.comparison.title') %>

<%= component 'chart', chart_type: :benchmark_one_year, analysis_controls: false, school: @school do |c| %>
  <% c.with_title { advice_t('charts.benchmark_one_year.title') } %>
  <% c.with_subtitle do %>
    <%= advice_t('charts.benchmark_one_year.subtitle', start_date: @analysis_dates.one_year_before_end.to_s(:es_short), end_date: @analysis_dates.end_date.to_s(:es_short)) %>
  <% end %>
  <% c.with_footer do %>
    <%= advice_t('charts.benchmark_one_year.footer') %>
  <% end %>
<% end %>

<% if @analysis_dates.months_of_data > 23 %>
  <%= render 'schools/advice/section_title', section_id: 'long-term-trend', section_title: advice_t('analysis.long_term_trend.title') %>

  <%= component 'chart', chart_type: :stacked_all_years, school: @school do |c| %>
    <% c.with_title { advice_t('charts.stacked_all_years.title') } %>
    <% c.with_subtitle do %>
      <%= advice_t('charts.stacked_all_years.subtitle') %>
    <% end %>
  <% end %>
<% end %>
