<%= component 'notice', status: :neutral do |c| %>
  <% c.with_link { link_to advice_t('total_energy_use.insights.intro.link'), learn_more_school_advice_total_energy_use_path(@school) } %>
  <%= advice_t('total_energy_use.insights.intro.text') %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'energy-use', section_title: advice_t('total_energy_use.insights.energy_use.title') %>

<% if @overview_data %>
  <%= render 'management/schools/overview_data', overview_data: @overview_data, show_savings: false %>
  <div class="text-right management-overview-caption">
    <%= @overview_data.date_ranges %>
    <%= link_to_help_for_feature :management_summary_overview, title: "#{t('schools.show.more_information')} #{fa_icon('info-circle')}".html_safe %>
  </div>
  <%= render 'schools/advice/how_have_we_analysed_your_data_table_caption', data_target: "how-have-we-analysed-your-data-footnotes" %>
  <%= render(FootnoteModalComponent.new(title: t('advice_pages.how_have_we_analysed_your_data.page_title'), modal_id: 'how-have-we-analysed-your-data-footnotes')) do |component| %>
    <% component.with_body_content do %>
      <%= render 'schools/advice/how_have_we_analysed_your_data' %>
    <% end %>
  <% end %>
<% end %>

<%= render 'schools/advice/section_title', section_id: 'comparison', section_title: advice_t('total_energy_use.insights.comparison.title') %>

<% if @electricity_benchmarked_usage.present? || @gas_benchmarked_usage.present? %>
  <p>
    <%= advice_t('total_energy_use.insights.comparison.how_do_you_compare', school_type: t('analytics.school_types.' + @school.school_type).downcase) %>
  </p>

  <% if @electricity_benchmarked_usage.present? %>
    <h3><%= t('common.electricity') %></h3>
    <div class="col">
      <%= component 'school_comparison', id: 'electricity-comparison', comparison: @electricity_benchmarked_usage do |c| %>
        <% c.with_callout_footer { advice_t('electricity_long_term.insights.comparison.callout_footer') } %>
      <% end %>
    </div>
  <% end %>

  <% if @gas_benchmarked_usage.present? %>
    <h3><%= t('common.gas') %></h3>
    <div class="col">
      <%= component 'school_comparison', id: 'gas-comparison', comparison: @gas_benchmarked_usage do |c| %>
        <% c.with_callout_footer { advice_t('gas_long_term.insights.comparison.callout_footer') } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @school.school_group.present? %>
  <p>
    <%= advice_t('total_energy_use.insights.comparison.more_detail_html', link: benchmark_for_school_group_path(:annual_energy_costs_per_pupil, @school)) %>
  </p>
<% end %>
