<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th style="width: 50%">Standing charge type</th>
    <th>Amount</th>
    <% if allow_edits %>
      <th style="width: 10%"></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% user_tariff.user_tariff_charges.each do |user_tariff_charge| %>
    <tr class="rate-row">
      <td><%= charge_type_humanized(user_tariff_charge.charge_type) %></td>
      <td><%= user_tariff_charge.value %> per <%= charge_type_units_humanized(user_tariff_charge.units) %></td>
      <% if allow_edits %>
        <td>
          <%= link_to "Edit", edit_school_user_tariff_user_tariff_charge_path(school, user_tariff, user_tariff_charge), {class: 'btn', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
          <%= link_to "Delete", school_user_tariff_user_tariff_charge_path(school, user_tariff, user_tariff_charge), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
