<table class="table table-charges">
  <tbody>
  <% if user_tariff.user_tariff_charges.any? %>
    <% user_tariff.user_tariff_charges.each do |user_tariff_charge| %>
      <tr>
        <td class="description"><%= user_tariff_charge_type_humanized(user_tariff_charge.charge_type) %></td>
        <td class="value"><%= number_to_currency(user_tariff_charge.value, unit: '£') %> per <%= user_tariff_charge_type_units_humanized(user_tariff_charge.units) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td class="description">VAT rate</td>
    <td class="value"><%= user_tariff.vat_rate  %></td>
  </tr>
  <tr>
    <td class="description">Climate charge levy</td>
    <td class="value"><%= y_n(user_tariff.ccl?)  %></td>
  </tr>
  </tbody>
</table>
