<%= f.input :fuel_type, as: :hidden %>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :name, as: :string %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :start_date %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :end_date %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.label :vat_rate, 'VAT rate' %>
    <%= f.select :vat_rate, options_for_select(['5%', '20%'], f.object ? f.object.vat_rate : ''), {include_blank: true}, { class: 'form-control' } %>
  </div>
</div>
<%= f.submit 'Next', class: 'btn'%>
