<h1>Choose what type of tariff this is</h1>

<div class="user_tariff">

  <%= render 'schools/user_tariffs/header', user_tariff: @user_tariff %>

  <p>Is this a simple flat rate?</p>

  <%= simple_form_for [@school, @user_tariff] do |f| %>
    <%= f.hidden_field :flat_rate, value: true %>
    <%= submit_tag "Simple", class: 'btn btn-info' %>
  <% end %>

  <br/>
  <br/>

  <p>Or a rate which varies by time of day (e.g. Day/Night tariff, Economy7)</p>

  <%= simple_form_for [@school, @user_tariff] do |f| %>
    <%= f.hidden_field :flat_rate, value: false %>
    <%= submit_tag "Day/Night tariff", class: 'btn btn-info' %>
  <% end %>

</div>
