<h1>Select meters for this tariff</h1>

<div class="user_tariff">

  <%= simple_form_for :user_tariff, url: new_school_user_tariff_path(@school), method: :get do |f| %>
    <%= f.hidden_field :fuel_type, value: params[:fuel_type] %>
    <div class="row">
      <div class="col-md-4">
        <p>Which meters will this tariff apply to?</p>
      </div>
      <div class="col-md-3 right">
        <div class="form-check">
          <%= f.collection_check_boxes(:meter_ids, @meters, :id, :mpan_mprn) do |b|  %>
            <div class="custom-control custom-checkbox">
              <%= b.check_box(checked: @meters.first == b.object, class: "custom-control-input") %>
              <%= b.label(class: "custom-control-label spaced") do %>
                <%= b.object.mpan_mprn %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
    <%= submit_tag "Next", class: 'btn btn-info' %>
  <% end %>

</div>

