<h1>All tariffs</h1>

<h2>Electricity</h2>

<div>
  <%= link_to 'Add electricity tariff', new_school_user_tariff_path(@school, fuel_type: :electricity), class: 'btn btn-success' %>
</div>

<br/>
<br/>

<% @user_tariffs.select{|tariff| tariff.electricity?}.each_with_index do |user_tariff, idx| %>
  <div id="accordion<%= idx %>" class="accordion-block">
    <div class="card">
      <div class="card-header" id="heading<%= idx %>">
        <h5 class="mb-0">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse<%= idx %>" href="#collapse<%= idx %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
            <%= render 'title', user_tariff: user_tariff %>
          </a>
        </h5>
      </div>
      <div id="collapse<%= idx %>" class="collapse" aria-labelledby="heading<%= idx %>" data-parent="#accordion<%= idx %>">
        <div class="card-body">
          <div class="padded-row">
            <%= render 'schools/user_tariffs/rates_table', school: @school, user_tariff: user_tariff %>
            <br/>
            <%= render 'schools/user_tariffs/charges_table', school: @school, user_tariff: user_tariff %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

