<h1><%= t('schools.user_tariffs.index.title') %></h1>

<div class="user_tariff">

  <p>
    <%= t('schools.user_tariffs.index.introduction_html', electricity_analysis_path: analysis_page_finder_path(urn: @school.urn, analysis_class: 'AdviceElectricityCosts'), gas_analysis_path: analysis_page_finder_path(urn: @school.urn, analysis_class: 'AdviceGasCosts')
    ) %>.
  </p>

  <p><%= t('schools.user_tariffs.index.changes_to_cost_calculations_message') %>.</p>
  <br/>

  <% if @electricity_meters.any? %>
    <h2><%= t('schools.user_tariffs.index.electricity.header') %></h2>
    <div>
      <%= link_to t('schools.user_tariffs.index.electricity.add_label'), choose_meters_school_user_tariffs_path(@school, fuel_type: :electricity), class: 'btn btn-success' %>
    </div>
    <br/>
    <% if @electricity_tariffs.any? %>
      <% @electricity_tariffs.each do |user_tariff| %>
        <%= render 'tariff', user_tariff: user_tariff, school: @school %>
      <% end %>
    <% else %>
      <h4><%= t('schools.user_tariffs.index.electricity.there_are_no_electricity_tariffs_set_up_yet') %></h4>
    <% end %>
    <br/>
    <br/>
  <% end %>

  <% if @gas_meters.any? %>
    <h2><%= t('schools.user_tariffs.index.gas.header') %></h2>
    <div>
      <%= link_to t('schools.user_tariffs.index.gas.add_label'), choose_meters_school_user_tariffs_path(@school, fuel_type: :gas), class: 'btn btn-success' %>
    </div>
    <br/>
    <% if @gas_tariffs.any? %>
      <% @gas_tariffs.each do |user_tariff| %>
        <%= render 'tariff', user_tariff: user_tariff, school: @school %>
      <% end %>
    <% else %>
      <h4><%= t('schools.user_tariffs.index.gas.there_are_no_gas_tariffs_set_up_yet') %></h4>
    <% end %>
  <% end %>
</div>
