<h1>Manage tariffs</h1>

<div class="user_tariff">

  <p>
    Add meter tariffs from your electricity and gas bills here, to improve the accuracy of the cost calculations displayed on your
    <%= link_to 'cost analysis', admin_school_analysis_path(@school) %>
    pages.
  </p>

  <p>
    Changes to the cost calculations based on these tariffs will update overnight.
  </p>

  <br/>

  <% if @electricity_meters.any? %>
    <h2>Electricity</h2>
    <div>
      <%= link_to 'Add electricity tariff', choose_meters_school_user_tariffs_path(@school, fuel_type: :electricity), class: 'btn btn-success' %>
    </div>
    <br/>
    <% if @electricity_tariffs.any? %>
      <% @electricity_tariffs.each do |user_tariff| %>
        <%= render 'tariff', user_tariff: user_tariff, school: @school %>
      <% end %>
    <% else %>
      <h4>There are no electricity tariffs set up yet</h4>
    <% end %>
    <br/>
    <br/>
  <% end %>

  <% if @gas_meters.any? %>
    <h2>Gas</h2>
    <div>
      <%= link_to 'Add gas tariff', choose_meters_school_user_tariffs_path(@school, fuel_type: :gas), class: 'btn btn-success' %>
    </div>
    <br/>
    <% if @gas_tariffs.any? %>
      <% @gas_tariffs.each do |user_tariff| %>
        <%= render 'tariff', user_tariff: user_tariff, school: @school %>
      <% end %>
    <% else %>
      <h4>There are no gas tariffs set up yet</h4>
    <% end %>
  <% end %>
</div>
