<h1>Choose a name and date range for this <%= @user_tariff.fuel_type %> tariff</h1>

<div class="user_tariff">

  <p>There should only be one tariff for each date period, for each meter.</p>
  <br/>

  <%= render 'schools/user_tariffs/header', user_tariff: @user_tariff %>

  <%= simple_form_for [@school, @user_tariff] do |f| %>

    <%= f.hidden_field :fuel_type, value: @user_tariff.fuel_type %>
    <%= f.hidden_field :flat_rate, value: @user_tariff.flat_rate %>

    <% @user_tariff.meters.each do |meter| %>
      <%= f.hidden_field :meter_ids, value: meter.id, multiple: true %>
    <% end %>

    <%= render 'form', school: @school, user_tariff: @user_tariff, f: f %>

  <% end %>

</div>
