<h1>Review tariff</h1>

<h2><%= render 'title', user_tariff: @user_tariff %> </h2>

<h4>
  Rates
  <%= link_to "Edit", school_user_tariff_user_tariff_prices_path(@school, @user_tariff), class: 'btn' %>
</h4>

<%= render 'schools/user_tariffs/rates_table', school: @school, user_tariff: @user_tariff %>

<h4>
  Standing charges
  <%= link_to "Edit", school_user_tariff_user_tariff_charges_path(@school, @user_tariff), class: 'btn' %>
</h4>

<%= render 'schools/user_tariffs/charges_table', school: @school, user_tariff: @user_tariff %>

<%= link_to "Finished", school_user_tariffs_path(@school), class: 'btn' %>
