<h1>Review tariff</h1>

<h2><%= render 'title', user_tariff: @user_tariff %> </h2>

<h4>
  VAT rate: <%= @user_tariff.vat_rate %>
</h4>

<hr/>

<h4>
  Energy charges
  <%= link_to "Edit", school_user_tariff_user_tariff_prices_path(@school, @user_tariff), class: 'btn' %>
</h4>

<% if @user_tariff.flat_rate? %>
  <%= render 'schools/user_tariffs/flat_rate', school: @school, user_tariff: @user_tariff, allow_edits: false %>
<% else %>
  <%= render 'schools/user_tariffs/rates_table', school: @school, user_tariff: @user_tariff, allow_edits: false %>
<% end %>

<h4>
  Standing charges
  <%= link_to "Edit", school_user_tariff_user_tariff_charges_path(@school, @user_tariff), class: 'btn' %>
</h4>

<%= render 'schools/user_tariffs/charges_table', school: @school, user_tariff: @user_tariff, allow_edits: false %>

<br/>
<br/>

<%= link_to "Previous", school_user_tariff_user_tariff_charges_path(@school, @user_tariff), class: 'btn' %>
<%= link_to "Finished", school_user_tariffs_path(@school), class: 'btn' %>

<% if can? :download, UserTariff %>
  <br/>
  <br/>
  <br/>
  <hr/>
  <br/>
  <h4>Meter attribute view (admin only)</h4>
  <br/>
  <br/>
  <%= print_meter_attribute(@user_tariff.meter_attribute) %>
<% end %>
