<%= tag.div id: id,
            class: class_names(classes,
                               'p-4 rounded-lg') do %>

  <div class="mb-md-0">
    <h2 id="prompt-title"><%= title %></h2>
    <p>
      <%= t("#{metric}_prompt_html",
            scope: 'components.dashboards.group_savings_prompt',
            schools: school_count,
            fuel_type: fuel_type,
            saving: saving) %>
    </p>

    <div class="d-flex flex-column flex-xl-row justify-content-between align-items-xl-center align-items-md-left">
      <p class="mb-xl-0">
        <%= t('components.dashboards.group_savings_prompt.note') %>
      </p>
      <div class='flex-shrink-0 align-self-xl-end'>
        <%= link_to t('components.dashboards.group_savings_prompt.view_all_potential_savings'),
                    priorities_school_group_advice_path(school_group),
                    class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
