<% if style == :compact %>
  <div class="row pb-1">
    <div class="col-1"><%= icon %></div>
    <div class="col-11">
      <%= I18n.t(:compact_message_html, scope: i18n_scope,
                                        school: school.name,
                                        school_path: school_path(school),
                                        target: target,
                                        message: message,
                                        count: observation.points || 0,
                                        compact_path: compact_path).html_safe %>
    </div>
  </div>
<% elsif style == :description %>
  <%= render Elements::IconComponent.new name: icon_name, fixed_width: true, size: 'f5' %>
  <%= I18n.t(:description_html, scope: i18n_scope,
                                target: target,
                                message: message,
                                count: observation.points || 0,
                                compact_path: compact_path).html_safe %>
<% else %>
  <td>
    <%= render Elements::IconComponent.new name: icon_name, fixed_width: true, size: 'f5' %>
    <%= I18n.t(:description_html, scope: i18n_scope,
                                  target: target,
                                  message: message,
                                  count: observation.points || 0,
                                  compact_path: compact_path).html_safe %>
  </td>
  <% if show_buttons? %>
    <td class="text-right">
      <div class="btn-group">
        <%= if editable?
              link_to t('common.labels.edit'),
                      edit_path, class: 'btn btn-sm btn-warning'
            end %>
        <%= link_to t('common.labels.delete'),
                    delete_path, method: :delete,
                                 data: { confirm: t('common.confirm') },
                                 class: 'btn btn-sm btn-danger' %>
      </div>
    </td>
  <% end %>
<% end %>
