<% charts.each_with_index do |chart, index| %>
  <div id="chart_wrapper_<%= index %>" class="col-md-auto">
    <h3 class="analysis">Loading: <%= chart.to_s.humanize %></h3>
    <div id="chart_<%=index%>" class="analysis-chart" data-chart-index="<%=index%>" data-chart-type="<%= chart %>" data-chart-y-axis-units="£" data-chart-json="<%= school_chart_path(school, format: :json, chart_type: chart, chart_y_axis_units: :kwh) %>">
    </div>
  </div>
<% end %>