<% content_for :page_title, @content.page_title %>

<h1><%= @content.page_title %></h1>

<div class="row">
  <% @charts.each_with_index do |chart, index| %>
    <div class="col-md-12">
      <div id="chart_<%=index%>" class="analysis-chart" data-no-advice="true" data-chart-index="<%=index%>" data-chart-y-axis-units="kwh" data-chart-json="<%= school_chart_path(@school, format: :json, chart_type: chart, chart_y_axis_units: :kwh) %>"></div>
    </div>
  <% end %>
  <div class="col-md-7">
    <div class="trix-content">
      <%= sanitize @content.page_content %>
    </div>
    <% @tables.each do |table| %>
      <table class="table">
        <% table.each do |row| %>
          <tr>
            <% row.each do |column| %>
              <% if row == table.first %>
                <th><%= column %></th>
              <% else %>
                <td><%= column %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="col-md-5">
    <% if @activity_types %>
      <h2>Activities which will help</h2>
      <% @activity_types.each do |activity_type| %>
        <%= render 'activity_types/card', activity_type: activity_type %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
