<% content_for :page_title, @content.find_out_more_title %>

<h1 class="pt-4"><%= sanitize @content.find_out_more_title %></h1>

<div class="row">
  <% if @chart %>
    <div class="col">
      <%= render 'schools/find_out_more/chart', school: @school, chart: @chart, content: @content %>
    </div>
  <% end %>
  <% if @table %>
    <div class="col">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <% table_headers_from_array(@table).each do |column, html_class| %>
              <th class="<%= html_class %>"><%= column %></th>
            <% end  %>
          </tr>
        </thead>
        <tbody>
          <% table_body_from_array(@table).each do |row| %>
            <tr>
              <% table_row_from_array(row).each do |column, html_class| %>
                <td class="<%= html_class %>"><%= column %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-8">
    <%= @content.find_out_more_content %>
  </div>
  <div class="col-md-4 activities">
    <% unless @activity_types.empty? %>
      <h2>Activities which will help</h2>
      <% @activity_types.each do |activity_type| %>
        <%= render 'activity_types/card', activity_type: activity_type, school: @school %>
      <% end %>
    <% end %>
  </div>
</div>
