<% content_for :page_title, @content.page_title %>

<h1><%= @content.page_title %></h1>

<div class="row justify-content-md-center align-items-center">
  <% @charts.each_with_index do |chart, index| %>
    <div class="col-md-auto">
      <div id="chart_<%=index%>" class="analysis-chart" data-no-advice="true" data-chart-index="<%=index%>" data-chart-y-axis-units="£" data-chart-json="<%= school_chart_path(@school, format: :json, chart_type: chart, chart_y_axis_units: :kwh) %>"></div>
    </div>
  <% end %>
  <% unless @tables.empty? %>
    <div class="col-md-5 pt-3 pl-3">
      <% @tables.each do |table| %>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <% table_headers_from_array(table).each do |column, html_class| %>
                <th class="<%= html_class %>"><%= column %></th>
              <% end  %>
            </tr>
          </thead>
          <tbody>
            <% table_body_from_array(table).each do |row| %>
              <tr>
                <% table_row_from_array(row).each do |column, html_class| %>
                  <td class="<%= html_class %>"><%= column %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="trix-content">
      <%= sanitize @content.page_content %>
    </div>
  </div>
  <div class="col-md-5">
    <% if @activity_types %>
      <h2>Activities which will help</h2>
      <% @activity_types.each do |activity_type| %>
        <%= render 'activity_types/card', activity_type: activity_type %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
