<% content_for :page_title, @content.page_title %>

<h1><%= @content.page_title %></h1>

<div class="row">
  <% @alert.detail.select{|detail| detail['type'].to_sym == :chart}.each do |detail| %>
    <div class="col-md-12">
      <div id="alert-chart-data-<%= @alert.id %>" data-chart-title='<%= detail['content']['title'] %>' data-chart-type='<%= @alert.id %>' class="hide">
      <%= sort_out_data_for_alerts_chart(detail['content']).html_safe %>
      </div>
      <div id="alert-chart-wrapper-<%= @alert.id %>" class="alert-reports-chart" data-no-remote-data data-chart-type='<%= @alert.id %>'></div>
    </div>
  <% end %>
  <div class="col-md-7">
    <%= @content.page_content %>
    <% @alert.detail.reject{|detail| detail['type'].to_sym == :chart}.each do |detail| %>
      <% if detail['type'].to_sym == :html %>
        <%= detail['content'].html_safe %>
      <% else %>
        <p><%= detail['content'].html_safe %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-5">
    <% if @activity_types %>
      <h2>Activities which will help</h2>
      <% @activity_types.each do |activity_type| %>
        <%= render 'activity_types/card', activity_type: activity_type %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
