<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: 'Create Invoice' %>
  <% header_nav.with_button 'Contract', admin_commercial_contract_path(@contract) %>
<% end %>

<p>
  Creating a new invoice for <strong><%= @contract.name %></strong> using
  <strong><%= @contract.xero_account_code&.display_label %></strong>.
</p>

<p>
  Completing the next step will allocate a unique invoice number and store the current pricing information for
  all of the below schools. Once created an invoice cannot be deleted or updated.
</p>

<p>
  If anything is incorrect then please
  <%= link_to 'click here to start again', raise_invoice_admin_commercial_contract_invoices_path(@contract) %>
</p>

<%= simple_form_for @invoice, url: admin_commercial_contract_invoices_path(@contract) do |f| %>
  <div class="col-12 mb-4 bg-light rounded-2 pb-3">
    <h3>Invoice</h3>
    <%= f.input :contract_id, as: :hidden %>
    <%= f.input :purchase_order_number %>
  </div>

  <div class="col-12 mb-4 bg-light rounded-2 pb-3">
    <h3>Line Items</h3>

    <table id="line-items" class="table table-sm table-sorted">
      <thead>
        <tr>
          <th>School</th>
          <th>Number of Meters</th>
          <th>Private Account?</th>
          <th>Base Price</th>
          <th>Metering Fee</th>
          <th>Private Account Fee</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
          <%= f.simple_fields_for :line_items do |item_form| %>
            <tr>
              <td>
                <%= item_form.input :licence_id, as: :hidden %>
                <%= item_form.object.licence.school.name %>
              </td>
              <td class="col-1">
                <%= item_form.input_field :number_of_meters,
                                          as: :string,
                                          readonly: true,
                                          class: 'form-control-plaintext' %>
              </td>
              <td class="col-1">
                <%= item_form.input_field :private_account,
                                          as: :string,
                                          readonly: true,
                                          class: 'form-control-plaintext' %>
              </td>
              <td class="col-1">
                <%= item_form.input_field :base_price,
                                          as: :string,
                                          readonly: true,
                                          class: 'form-control-plaintext' %>
              </td>
              <td class="col-1">
                <%= item_form.input_field :metering_fee,
                                          as: :string,
                                          readonly: true,
                                          class: 'form-control-plaintext' %>
              </td>
              <td class="col-1">
                <%= item_form.input_field :private_account_fee,
                                          as: :string,
                                          readonly: true,
                                          class: 'form-control-plaintext' %>
              </td>
              <td class="col-1">
                <%= item_form.object.value.total %>
              </td>
            </tr>
          <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><%= f.object.line_items.map(&:value).map(&:base_price).sum %></td>
          <td><%= f.object.line_items.map(&:value).map(&:metering_fee).sum %></td>
          <td><%= f.object.line_items.map(&:value).map(&:private_account_fee).sum %></td>
          <td><%= f.object.line_items.map(&:value).map(&:total).sum %></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= f.submit 'Create invoice', class: 'btn btn-primary' %>
<% end %>
