<% if school.solis_cloud_installations.any? %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>API ID</th>
        <th>API Secret</th>
        <th>Last updated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% school.solis_cloud_installations.each do |installation| %>
        <tr>
          <td><%= link_to(installation.api_id, school_solis_cloud_installation_path(school, installation)) %></td>
          <td><%= installation.api_secret %></td>
          <td><%= nice_date_times(installation.updated_at) %></td>
          <td><%= render 'actions', installation:, school:,
                                    id_prefix: Schools::SolisCloudInstallationsController::ID_PREFIX %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This school has no <%= Schools::SolisCloudInstallationsController::NAME %> sites</p>
<% end %>

<p><%= link_to "New #{Schools::SolisCloudInstallationsController::NAME} API feed",
               new_school_solis_cloud_installation_path, class: 'btn' %></p>
