<% if school.solis_cloud_installations.any? %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>API ID</th>
        <th>API Secret</th>
        <th>Last updated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% school.solis_cloud_installations.each do |installation| %>
        <tr>
          <td><%= link_to(installation.api_id, school_solis_cloud_installation_path(school, installation)) %></td>
          <td><%= installation.api_secret %></td>
          <td><%= nice_date_times(installation.updated_at) %></td>
          <td>
            <%= link_to 'Edit', edit_school_solis_cloud_installation_path(school, installation), class: 'btn btn-sm' %>
            <%= link_to 'Delete', school_solis_cloud_installation_path(school, installation),
                        method: :delete,
                        data: { confirm: 'Are you sure? This will delete the meters' },
                        class: 'btn btn-sm btn-danger' %>
            <% id_prefix = Schools::SolisCloudInstallationsController::ID_PREFIX %>
            <%= link_to "#{fa_icon('circle-question')} Check API".html_safe,
                        check_school_solis_cloud_installation_path(school, installation),
                        id: "#{id_prefix}-#{installation.id}-test", method: :post, remote: true,
                        class: 'btn btn-sm check-button' %>
            <%= form_tag submit_job_school_solis_cloud_installation_path(school, installation), method: :post do %>
              <%= button_tag(type: 'submit', id: "#{id_prefix}-#{installation.id}-run-load", class: 'btn btn-sm') do %>
                <%= fa_icon('upload') %> Run Loader
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This school has no <%= Schools::SolisCloudInstallationsController::NAME %> sites</p>
<% end %>

<p><%= link_to "New #{Schools::SolisCloudInstallationsController::NAME} API feed",
               new_school_solis_cloud_installation_path, class: 'btn' %></p>
