<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Solar Feeds" do %>

  <div class="h5">
    <%= link_to 'School meter management', school_meters_path(@school), class: 'btn btn-sm btn-default' %>
  </div>

  <h3>SolarEdge</h3>
  <%= render 'solar_edge_feeds', school: @school, solar_edge_installations: @solar_edge_installations %>

  <h3>Rtone</h3> <%# Low Carbon Hub %>
  <%= render 'rtone_feeds', school: @school, rtone_installations: @rtone_installations,
                            start_time: @start_time, end_time: @end_time %>

  <h3>Rtone (Newport Variant)</h3>
  <p>This configuration is used to setup rtone api feeds that use the alternate setup first seen in some Newport
     school</p>
  <%= render 'rtone_variant_feeds', school: @school, rtone_variant_installations: @rtone_variant_installations %>

  <h3>SolisCloud</h3>
  <%= render 'solis_cloud_feeds', school: @school %>

<% end %>
