<% content_for :page_title do %>Electricity Simulator for <%= @school.name %><% end %>

<h1>The <%= @school.name %> Electricity Simulator</h1>
<p>Use the simulator tool to predict likely changes to your electricity consumption, if you make changes to the electrical appliances or lights at your school. In this first step, set up the simulator to match your school's energy usage by adjusting the appliance values and clicking 'Update simulator'. Try and get the simulated energy usage in the charts to match the actual usage.</p>

<p><%= link_to 'Saved simulations', school_simulators_path(@school), class: 'btn btn-primary' if @school.simulators.any? %></p>

<div class="alert alert-primary" role="alert">
  More content will be required here to explain how this works...
</div>

<!-- active for active, disabled for disabled -->
<!-- aria-selected="true" -->

<%= form_for [@school, @simulator], method: :post do |f| %>
  <div class="row">
      <h4 class="">Appliance configuration</h4>
      <p>If you know the correct configuration for the various appliances in your school, then enter them here. Click on 'Update simulator' to see if the charts show the simulated energy usage being close to the actual energy usage.</p>
      <p>Once it is showing a similar shape of energy usage, click on 'See results' to see the results of the Expert analysis.</p>
      <ul class="nav nav-tabs" id="simulator-nav" role="tablist">
        <% @simulator_configuration.each_with_index do |(key, value), index| %>
          <%# if value[:editable] %>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if index == 0 %>" id="<%= key.to_s %>-tab" data-toggle="tab" href="#<%= key.to_s %>" role="tab" aria-controls="<%= key.to_s %>">
                <%= @simulator_configuration[key][:title] %>
              </a>
            </li>
          <%# end %>
        <% end %>
      </ul>
  </div>
  <div class="row"><hr/></div>
  <div class="row">



<!-- class ElectricitySimulatorConfiguration

   APPLIANCE_DEFINITIONS = {
    lighting:
    {
      title: 'Internal Lighting',
      editable: [:lumens_per_watt, :lumens_per_m2],
      lumens_per_watt: 50.0,
      lumens_per_m2: 450.0,
      percent_on_as_function_of_solar_irradiance: {
        solar_irradiance: [0, 100, 200, 300, 400, 500, 600,  700, 800, 900, 1000, 1100, 1200],
        percent_of_peak: [0.9, 0.8, 0.7, 0.6, 0.5, 0.2, 0.2, 0.15, 0.1, 0.1,  0.1,  0.1,  0.1],
      },
      occupancy_by_half_hour:
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.05, 0.1, 0.3, 0.5, 0.8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.8, 0.6, 0.4, 0.2, 0.15, 0.15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    },
    ict: {
      title: 'ICT',
      servers1: {
        editable:                 [:number, :power_watts_each],
        type:                     :server,
        number:                   2.0,
        power_watts_each:         300.0,
        air_con_overhead_pecent:  0.2
      },
      servers2: { #### Example use only, not required immediately
        editable:                 [:number, :power_watts_each],
        type:                     :server,
        number:                   1.0,
        power_watts_each:         500.0,
        air_con_overhead_pecent:  0.3
      },
       desktops: {
        editable:                     [:number, :power_watts_each, :standby_watts_each],
        type:                         :desktop,
        number:                       20,
        power_watts_each:             100,
        standby_watts_each:           10,
        usage_percent_by_time_of_day: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.05, 0.1, 0.3, 0.5, 0.8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.8, 0.6, 0.4, 0.2, 0.15, 0.15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        weekends:                     true, # left on standy at weekends
        holidays:                     false # left on standby during holidays
      },
      laptops: {
        editable:                     [:number, :power_watts_each, :standby_watts_each],
        type:                         :laptop,
        number:                       20,
        power_watts_each:             30,
        standby_watts_each:           2
      }
    },
    boiler_pumps: {
      title: 'Boiler pumps',
      editable:                     [:pump_power],
      heating_season_start_dates:   [Date.new(2016, 10, 1),  Date.new(2017, 11, 5)],
      heating_season_end_dates:     [Date.new(2017,  5, 14),  Date.new(2018, 5, 1)],
      start_time:                   Time.new(2010,  1,  1,  5, 30, 0),    # Ruby doesn't have a time class, just DateTime, so the 2010/1/1 should be ignored
      end_time:                     Time.new(2010,  1,  1,  17, 0, 0),    # ditto
      pump_power:                   0.5, # 1 kw
      weekends:                     false,
      holidays:                     true,
      frost_protection_temp:        4
    },
    security_lighting: {
      title: 'Security lighting',
      editable:                     [:power, :control_type],
      control_type:       [:sunrise_sunset, :ambient, :fixed_times],  # Choose one of these with radio button
      sunrise_times:      ['08:05', '07:19', '06:19', '06:10', '05:14', '04:50', '05:09', '05:54', '06:43', '07:00', '07:26', '08:06'], # by month - in string format as more compact than new Time - which it needs converting to
      sunset_times:       ['16:33', '17:27', '18:16', '20:08', '20:56', '21:30', '21:21', '20:32', '19:24', '18:17', '16:21', '16:03'], # ideally front end calculates based on GEO location
      fixed_start_time:   '19:15',
      fixed_end_time:     '07:20',
      ambient_threshold:  50.0,
      power:              3.0
    },
    electrical_heating: {
      title: 'Electrical heating',
    },
    kitchen: {  # 1 all three of these - time of day rathern than 2010
      title: 'Kitchen',
      editable:                     [:power],
      start_time:  Time.new(2010,  1,  1,  5, 30, 0), # Ruby doesn't have a time class, just DateTime, so the 2010/1/1 should be ignored
      end_time:    Time.new(2010,  1,  1,  17, 0, 0), # ditto
      power:       4.0 #
    },
    summer_air_conn: { # 1 set power to zero for no aie conn
      title: 'Summer air conditioning',
      start_time:               Time.new(2010,  1,  1,  5, 30, 0), # Ruby doesn't have a time class, just DateTime, so the 2010/1/1 should be ignored
      end_time:                 Time.new(2010,  1,  1,  17, 0, 0), # ditto
      weekends:                 true,
      holidays:                 false,
      balancepoint_temperature: 19, # centigrade
      power_per_degreeday:      0.5 # colling degree days > balancePointTemperature
    },
    electric_hot_water: {
      title: 'Electric hot water',
      start_time:               Time.new(2010, 1, 1, 9, 0, 0), # Ruby doesn't have a time class, just DateTime, so the 2010/1/1 should be ignored
      end_time:                 Time.new(2010, 1, 1, 16, 30, 0), # ditto
      weekends:                 true,
      holidays:                 false,
      percent_of_pupils:        0.5, # often a its only a proportion of the pupils at a school has electric hot water, the rest are provided by ga
      litres_per_day_per_pupil: 5.0, # assumes at 38C versus ambient of 15C, to give a deltaT of 23C
      standby_power:            0.1 # outside start and end times, but dependent on whether switched off during weekends and holidays, see other parameters
    },
    flood_lighting:  {
      title: 'Flood lighting',
    },
    unaccounted_for_baseload: {
      title: 'Unaccounted for baseload',
      editable: [:baseload],
      baseload: 1 # 1 single number - useful
    },
    solar_pv: {
      title: 'Solar PV'
    }
  }

lighting:
    {
      title: 'Internal Lighting',
      editable: [:lumens_per_watt, :lumens_per_m2],
      lumens_per_watt: 50.0,
      lumens_per_m2: 450.0,
      percent_on_as_function_of_solar_irradiance: {
        solar_irradiance: [0, 100, 200, 300, 400, 500, 600,  700, 800, 900, 1000, 1100, 1200],
        percent_of_peak: [0.9, 0.8, 0.7, 0.6, 0.5, 0.2, 0.2, 0.15, 0.1, 0.1,  0.1,  0.1,  0.1],
      },
      occupancy_by_half_hour:
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.05, 0.1, 0.3, 0.5, 0.8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.8, 0.6, 0.4, 0.2, 0.15, 0.15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    },
 -->
      <div class="tab-pane collapse active show" id="lighting" role="tabpanel" aria-labelledby="lighting-tab">
         <div class="form-row align-items-center">
          <div class="col-auto">
            <%= f.label :lumens_per_watt %>
            <div class="input-group">
              <%= f.text_field :lumens_per_watt, class: 'form-control', value: @simulator_configuration[:lighting][:lumens_per_watt] %>
              <div class="input-group-append">
                <span class="input-group-text" id="inputGroupPrepend3">per Watt</span>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <%= f.label :lumens_per_m2 %>
            <div class="input-group">
              <%= f.text_field :lumens_per_m2, class: 'form-control', value: @simulator_configuration[:lighting][:lumens_per_m2] %>
              <div class="input-group-append">
                <span class="input-group-text" id="inputGroupPrepend3">per m<sup>2</sup></span>
              </div>
            </div>
          </div>
<!-- <div class="col-auto">
      <button class="btn btn-primary" type="button" id="update-simulator">Update simulator</button>
      <button class="btn btn-success at-the-bottom" type="submit" id="submit-simulator">See results</button>
    </div> -->
        </div>
      </div>


      <% @simulator_configuration.each_with_index do |(key, value), index| %>

        <% if value[:title] == 'ICT' || value[:title] == 'Internal Lighting' %>
        <% else %>
          <% if value[:editable] %>
            <div class="tab-pane collapse <%= index == 1 ? 'active show' : 'fade' %>" id="<%= key.to_s %>" role="tabpanel" aria-labelledby="<%= key.to_s %>-tab">
              <% value[:editable].each do |key| %>
                <% if value[key].instance_of? Array %>
                  <div class="d-block my-3">
                    <label>Light operating times</label>
                  <% value[key].each do |thing| %>
                    <div class="custom-control custom-radio">
                      <%= radio_button_tag key, thing, {}, class: "custom-control-input" %>
                      <label class="custom-control-label" for='<%= "#{key}_#{thing}" %>'><%= thing.to_s.humanize %></label>
                    </div>
                  <% end %>
                  </div>
                <% else %>
                  <div class="mb-3">
                    <%= f.label key %>
                    <%= f.text_field key, class: 'form-control', value: value[key] %>
                    <div class="invalid-feedback">
                          Please enter a valid email address for shipping updates.
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

  </div>

    <div class="d-flex align-items-end flex-column">
      <div class="btn-group btn-group-lg ">
      <button class="btn btn-primary at-the-bottom update-simulator" type="button">Update simulator</button>
      <button class="btn btn-success at-the-bottom submit-simulator" type="submit">See results</button>
      </div>
    </div>


<% end %>

<div class="row">

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Charts</span>
      </h4>
    </div>
    <div class="row">
      <div class="col">
      <p>This chart shows actual and simulated energy usage over a recent school day.</p>
      <div id="chart_wrapper_0">
        <div id="chart_0" class="analysis-chart simulator-chart" data-chart-index="0" data-chart-type="<%= @charts[0].to_s %>" data-chart-json="<%= request.path %>.json" data-no-advice></div>
      </div>
    </div>
      <div class="col">
      <p>This chart shows actual and simulated energy usage over a school day six months ago.</p>
      <div id="chart_wrapper_1">
        <div id="chart_1" class="analysis-chart simulator-chart" data-chart-index="1" data-chart-type="<%= @charts[1].to_s %>" data-chart-json="<%= request.path %>.json" data-no-advice></div>
      </div>
    </div>
</div>