<% content_for :page_title do %>Electricity Simulator for <%= @school.name %><% end %>

<h1>The <%= @school.name %> Electricity Simulator</h1>

<div class="alert alert-primary" role="alert">
  More content will be required here to explain how this works...
</div>
<p><%= link_to 'Create new simulation', new_school_simulator_path(@school), class: 'btn btn-success' %> <%= link_to 'Saved simulations', school_simulators_path(@school), class: 'btn btn-primary' if @school.simulators.any? %></p>


<% @number_of_charts.times do |number| %>
  <div id="chart_wrapper_<%= number %>">
    <h3 class="analysis">Loading: <%= @charts[number].to_s.humanize %></h3>
    <div id="chart_<%= number %>" class="analysis-chart" data-chart-index="<%= number %>" data-chart-type="<%= @charts[number].to_s %>" data-chart-json="<%= request.path %>.json?chart_type=<%= @charts[number].to_s %>"></div>
  </div>
<% end %>
