<fieldset>
  <div class="form-row">
    <div class="col-md-6 form-group">
      <%= temperature_form.label :centigrade, :temperature do %>Temperature<% end %>
      <div class="input-group">
        <div class="input-group-prepend">
           <div class="input-group-text"><%= fa_icon('temperature-high') %></div>
        </div>
        <%= temperature_form.text_field :centigrade, placeholder: '18', class: "form-control form-control-lg " %>
      </div>
    </div>
    <%= temperature_form.simple_fields_for :location do |location_form| %>
      <div class="col-md-6 form-group">
        <%= location_form.hidden_field :school_id, value: @school.id %>
        <%= location_form.label :name, :place do %>Place<% end %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <%= fa_icon('school') %>
            </div>
          </div>
          <%= location_form.text_field :name, placeholder: 'Example: Class 1', class: "form-control form-control-lg " %>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
