<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.show.title') %></h1>

    <p>
      <%= t('onboarding.show.thanks_for_enrolling_html', school_name: @school_onboarding.school_name) %>
    </p>
    <p>
      <%= t('onboarding.show.introducing') %>
    </p>

    <% if @school_onboarding.started? %>
      <h5><%= t('onboarding.show.more_steps') %>.</h5>

      <ol class="list-unstyled">
        <li><%= fa_icon(@school_onboarding.onboarding_user_created? ? 'check-circle text-success' : 'times-circle text-secondary') %>
          <%= t('onboarding.show.step_1') %>
        </li>
        <li><%= fa_icon(@school_onboarding.school_details_created? ? 'check-circle text-success' : 'times-circle text-secondary') %>
          <%= t('onboarding.show.step_2') %>
        </li>
        <li><%= fa_icon(@school_onboarding.permission_given? ? 'check-circle text-success' : 'times-circle text-secondary') %>
          <%= t('onboarding.show.step_3') %>
        </li>
        <li><%= fa_icon(@school_onboarding.additional_users_created? ? 'check-circle text-success' : 'times-circle text-secondary') %>
          <%= t('onboarding.show.step_4') %>
        </li>
        <li><%= fa_icon(@school_onboarding.pupil_account_created? ? 'check-circle text-success' : 'times-circle text-secondary') %>
          <%= t('onboarding.show.step_5') %>
        </li>
        <li><%= fa_icon('times-circle text-secondary') %>
          <%= t('onboarding.show.step_6') %>
        </li>
      </ol>

      <%= link_to t('onboarding.show.continue'), new_onboarding_account_path(@school_onboarding), class: 'btn btn-primary' %>
    <% else %>
      <h5><%= t('onboarding.show.get_started') %>:</h5>

        <ol>
        <li><%= t('onboarding.show.step_1') %></li>
        <li><%= t('onboarding.show.step_2') %></li>
        <li><%= t('onboarding.show.step_3') %></li>
        <li><%= t('onboarding.show.step_4') %></li>
        <li><%= t('onboarding.show.step_5') %></li>
      </ol>

      <p>
        <%= t('onboarding.show.time_to_complete') %>.
      </p>

      <%= link_to t('onboarding.show.start'), new_onboarding_account_path(@school_onboarding), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
