<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <% if @school_onboarding.ready_for_review? %>
      <h1><%= t('onboarding.users.title') %></h1>
    <% else %>
      <h1><%= t('onboarding.users.step_4') %></h1>
    <% end %>

    <p>
      <%= t('onboarding.users.adult_users_additional_accounts_message') %>
    </p>

    <p>
      <%= t('onboarding.users.when_you_have_finished_onboarding_message') %>
    </p>

    <p>
      <%= t('onboarding.users.staff_accounts_have_access_message') %>
    </p>

    <% if @users.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><%= t('onboarding.users.table.name') %></th>
            <th><%= t('onboarding.users.table.email') %></th>
            <th><%= t('onboarding.users.table.admin') %></th>
            <th><%= t('onboarding.users.table.role') %></th>
            <th><%= t('onboarding.users.table.preferred_locale') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= y_n(user.school_admin?) %></td>
                <td><%= user.staff_role.try(:title) %></td>
                <td><%= I18n.t("languages.#{user.preferred_locale}") %></td>
                <td>
                  <div class="btn-group">
                    <% if can?(:edit, user) %>
                      <%= link_to(t('common.labels.edit'),
                                  edit_onboarding_user_path(@school_onboarding, user),
                                  { class: 'btn btn-default btn-sm', remote: true,
                                    'data-toggle' => 'modal', 'data-target' => '#modal-window' }) %>
                    <% end %>
                    <% if can?(:delete, user) %>
                      <%= link_to(t('common.labels.delete'),
                                  onboarding_user_path(@school_onboarding, user),
                                  method: :delete, data: { confirm: t('common.labels.are_you_sure') },
                                  class: 'btn btn-danger btn-sm') %>
                    <% end %>
                  </div>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div id="modal-window" class="modal hide" role="dialog" aria-hidden="true"></div>

    <%= link_to t('onboarding.users.add_new_account'),
                new_onboarding_user_path(@school_onboarding),
                { class: 'btn btn-default', remote: true, 'data-toggle' => 'modal', 'data-target' => '#modal-window' } %>

    <% if @school_onboarding.ready_for_review? %>
      <%= link_to t('onboarding.users.continue'), new_onboarding_completion_path(@school_onboarding),
                  class: 'btn btn-default' %>
    <% else %>
      <%= link_to @users.any? ? t('onboarding.users.continue') : t('onboarding.users.skip_for_now'),
                  new_onboarding_completion_path(@school_onboarding),
                  class: 'btn btn-default' %>
    <% end %>

  </div>
</div>
