<%= tag.div id: id, class: classes do %>
  <h2><%= @range.to_s.humanize %> Contracts</h2>

  <table id="<%= @range.to_s %>-contracts-table" class="table table-paged table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contract Holder</th>
        <th>Product</th>
        <th class="text-end">Start Date</th>
        <th class="text-end">End Date</th>
        <th class="text-end">Number of Schools</th>
        <th class="text-end">Licensed Schools</th>
        <th class="text-end">Status</th>
        <% if @show_actions %>
          <th class="text-end no-sort">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% associations.by_start_date.each do |contract| %>
        <tr>
          <td class="col-2"><%= link_to contract.name, admin_commercial_contract_path(contract) %></td>
          <td class="col-2"><%= contract.contract_holder.name %></td>
          <td><%= link_to contract.product.name, admin_commercial_product_path(contract.product) %></td>
          <td class="text-end col-1"><%= contract.start_date %></td>
          <td class="text-end col-1"><%= contract.end_date %></td>
          <td class="text-end"><%= contract.number_of_schools %></td>
          <td class="text-end"><%= contract.licences.current.count %></td>
          <td class="text-end">
            <%= render(Elements::BadgeComponent.new(
                         contract.status.humanize,
                         colour: contract.status_colour
                       )) %>
          </td>
          <% if @show_actions %>
          <td class="text-end">
            <div class="btn-group">
              <%= link_to 'Edit', edit_admin_commercial_contract_path(contract),
                          class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Delete', admin_commercial_contract_path(contract),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm' %>

            </div>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
