{{#each responses}}
<div class="alert alert-warning alert-dismissible fade show clearfix px-3" role="alert">
  <span>There {{pluralise this.length "is" "are"}} <strong>{{this.length}}</strong> unsaved survey {{pluralise this.length "response" "responses"}} from <strong>{{nice_date @key}}</strong>. Do you want to save or remove {{pluralise this.length "it" "them"}}?</span>
  <button data-date="{{@key}}" type="button" class="responses-remove btn-no-border btn-sm btn-light rounded-pill float-right ml-2">Remove</button>
  <button data-date="{{@key}}" type="button" class="responses-save btn-no-border btn-sm btn-dark rounded-pill float-right">Save</button>
</div>
{{/each}}
