<h1>Consent Granted for <%= @school.name %></h1>

<p><%= link_to 'All consents granted', school_consent_grants_path(@consent_grant.school) %></p>

<h2>Consent Details</h2>

<ul>
  <li>Name: <%= @consent_grant.name %></li>
  <li>Job title: <%= @consent_grant.job_title %></li>
</ul>

<h2>Consent Document</h2>

<h3>
  <%= @consent_grant.consent_statement.title %>
</h3>

<p>
  <%= @consent_grant.consent_statement.content %>
</p>
