<div class="row justify-content-md-center">
  <div class="col col-lg-8">

    <%= link_to 'Back', school_programme_types_path(@school), class: 'btn btn-sm btn-secondary mb-4' %>

    <div class="jumbotron">
      <h2><%= @programme.title %></h2>
      <% if @programme.document_link %>
        <p>
          <%= link_to @programme.document_link do %>
            <%= fa_icon('print') %> Printable programme
          <% end %>
        </p>
      <% end %>
      <div class="lead mt-3"><%= @programme.description %></div>
      <hr class="my-4">
      <dl class="row">
        <dt class="col-sm-2">Started:</dt>
        <dd class="col-sm-3"><%= nice_dates(@programme.started_on) %></dd>
        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-2"><%= @programme.status.humanize.capitalize %></dd>
      </dl>
    </div>

    <h2>Activities</h2>
    <div class="list-group list-group-flush mt-5 timeline activities">
      <% @programme.programme_activities.order(:position).each do |programme_activity| %>
        <% if programme_activity.activity_id? %>
          <%= link_to school_activity_path(@school, programme_activity.activity), class: 'completed pt-3 pb-3 list-group-item list-group-item-action d-flex align-items-center' do %>
            <span class="mr-5 h4 check"><%= fa_icon("check-circle fa-2x") %></span>
            <div class="flex-grow-1">
              <h4><%= programme_activity.name %></h4>
              <dl class="row">
                <dt class="col-sm-2">Points:</dt>
                <dd class="col-sm-1"><%= programme_activity.activity.points %></dd>
                <dt class="col-sm-3">Happened on:</dt>
                <dd class="col-sm-6"><%= nice_dates(programme_activity.activity.happened_on) %></dd>
              </dl>
            </div>
          <% end %>
        <% else %>
          <%= link_to activity_type_path(programme_activity.activity_type), class: 'pt-3 pb-3 list-group-item list-group-item-action d-flex  align-items-center' do %>
            <span class="mr-5 h4 check"><%= far_icon("circle fa-2x") %></span>
            <div class="flex-grow-1">
              <h4><%= programme_activity.name %></h4>
              <dl class="row">
                <dt class="col-sm-2">Points:</dt>
                <dd class="col-sm-1"><%= programme_activity.activity_type.score %></dd>
              </dl>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
