<h1><%= @programme.title %></h1>

<p><%= @programme.description %></p>
<h2>Activities</h2>
<ol class="activities">
  <% @programme.programme_activities.order(:position).each do |programme_activity| %>
    <li>
      <% if programme_activity.activity_id? %>
        <%= link_to "#{programme_activity.name}", school_activity_path(@school, programme_activity.activity) %> (Completed)
      <% else %>
        <%= link_to "#{programme_activity.name}", activity_type_path(programme_activity.activity_type) %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= link_to 'All programmes', school_programmes_path(@school), class: 'btn btn-sm btn-success' %>
