<% content_for :page_title do %>Alert subscriptions for <%= @school.name %><% end %>

<div typeof="School">
  <div class="row padded-row">
    <div class="col-md-12">
      <h1 property="name"><%= link_to @school.name, @school %> Alert Subscriptions</h1>
      <p>Set alert subscriptions for your school to let you know if there are problems with your energy consumption or efficiency. Energy Sparks will automatically look at your gas and electricity data, and identify any issues which will be fed back to you by email or text. This functionality gives you the opportunity to take prompt action to prevent your school wasting energy and money. You will only receive an alert if you set up at least one contact for it. We recommend you set up contacts for all the alerts to get maximum benefit from Energy Sparks.</p>
      <p>Edit your contact list using the Alert Contacts button. Assign contacts to an individual Alert Subscription using the Edit buttons.</p>
      <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fuel Type</th>
          <th>Title</th>
          <th>Description</th>
          <th>Frequency</th>
          <th>Contacts</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @alert_subscriptions.each do |alert_subscription| %>
          <tr scope="row">
            <td><%= alert_subscription.display_fuel_type %></td>
            <td><%= alert_subscription.alert_type.title %></td>
            <td><%= alert_subscription.alert_type.description %></td>
            <td><%= alert_subscription.alert_type.frequency.humanize %></td>
            <td><%= alert_subscription.contacts.any? ? alert_subscription.contacts.pluck(:name).join(', ') : 'No one allocated' %></td>
            <td><%= link_to 'Edit', edit_school_alert_subscription_path(@school, alert_subscription), class: 'btn btn-warning' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
