<% programme_types.each do |programme_type| %>
  <div class="row mt-4">
    <div class="col-sm-2">
      <%= link_to programme_type_path(programme_type) do %>
        <%= render 'programme_types/image', programme_type: programme_type, css_class: "activity-card-img"  %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h4><strong>
        <%= link_to programme_type.title, programme_type_path(programme_type), style: "text-decoration: none;" %>
      </strong></h4>
      <% if current_user %>
        <% if user_progress.completed?(programme_type) %>
          <p>
            <span class="h4 check"><%= fa_icon("check-circle text-success") %></span> <%= t('programme_types.cards.you_have_already_completed_this_programme') %>
          </p>
        <% elsif user_progress.enrolled?(programme_type) %>
          <p><span class="h4 check"><%= far_icon("check-circle text-success") %></span> <%= t('programme_types.cards.you_have_already_started_this_programme') %></p>
        <% end %>
      <% end %>
      <p>
        <%= programme_type.short_description %>
      </p>
      <% if EnergySparks::FeatureFlags.active?(:activities_2023) %>
        <p><%= t('programme_types.cards.bonus_points', bonus_score: programme_type.bonus_score) %></p>
      <% end %>
    </div>
    <div class="col-sm-2 align-self-center">
      <% if user_progress.in_progress?(programme_type) %>
        <%= link_to t('programme_types.cards.continue'), programme_type_path(programme_type), class: "btn btn-primary btn-lg" %>
      <% else %>
        <%= link_to t('programme_types.cards.view'), programme_type_path(programme_type), class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
<% end %>
