<% programme_types.each do |programme_type| %>
  <div class="row mt-4">
    <div class="col-sm-2">
      <%= link_to programme_type_path(programme_type) do %>
        <%= render 'programme_types/image', programme_type: programme_type, css_class: "activity-card-img"  %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h4><strong>
        <%= link_to programme_type.title, programme_type_path(programme_type), style: "text-decoration: none;" %>
      </strong></h4>
      <p>
        <%= programme_type.short_description %>
      </p>
      <% if current_user && user_progress.enrolled?(programme_type) %>
        <p><span class="h4 check"><%= fa_icon("check-circle text-success") %></span> You have already started this programme</p>
      <% end %>
    </div>
    <div class="col-sm-2 align-self-center">
      <%= link_to user_progress.enrolled?(programme_type) ? "Continue" : "View", programme_type_path(programme_type), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
