<% content_for :page_title, t('common.programmes') %>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="display-4"><strong><%= t('programme_types.index.title') %></strong></h1>
    </div>
  </div>
</div>

<%= render 'schools/prompt_no_active_programmes', school: current_user_school, style: :compact %>

<div class="row">
  <div class="col">
    <p><%= t('programme_types.index.introduction_1') %></p>
    <p><%= t('programme_types.index.introduction_2') %>.</p>
  </div>
</div>

<% if Flipper.enabled?(:todos, current_user) %>
  <% @programme_types.each do |programme_type| %>
    <%= render('programme_type', programme_type:) if programme_type.has_todos? %>
  <% end %>
<% else %>
  <%= render 'cards', programme_types: @programme_types, user_progress: @user_progress %>
<% end %>
