<% content_for :page_title do %>
  <%= @programme_type.title %>
<% end %>

<div class="row padded-row">
  <div class="col-md-3">
    <%= render 'programme_types/image', programme_type: @programme_type %>
  </div>
  <div class="col-md-6">
    <h2><%= @programme_type.title %></h2>
    <p><%= @programme_type.description %></p>
    <% if @programme_type.document_link.present? %>
      <%= link_to 'Download printable programme as a PDF', @programme_type.document_link, target: '_blank' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to "View all programmes", programme_types_path, class: 'btn btn-secondary float-right' %>
  </div>
</div>

<% if current_user_school && !@started_programmes.include?(@programme_type) && can?(:start_programme, current_user_school) %>
  <%= render 'prompt', programme_type: @programme_type, school: current_user_school %>
<% end %>

<% if current_user_school && @started_programmes.include?(@programme_type) %>
  <%= render 'started', programme_type: @programme_type, school: current_user_school %>
<% end %>

<h2>Activities</h2>


<% @programme_type.activity_types.active.by_name.each do |activity_type| %>
  <div class="row mt-2">
    <div class="col-sm-2">
      <%= link_to activity_type_path(activity_type) do %>
        <%= render 'activity_types/image', activity_type: activity_type %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h3>
        <%= link_to activity_type.name, activity_type_path(activity_type) %>
      </h3>
      <p>
        <%= activity_type.summary %>
      </p>
      <%= render 'activity_types/activity_type_subjects', activity_type: activity_type %>
      <%= render 'activity_types/activity_type_key_stages', activity_type: activity_type %>
      <%= render 'activity_types/activity_type_score', activity_type: activity_type %>
    </div>
    <div class="col-sm-2">
      <% if current_user_school && @programme_type.programme_for_school(current_user_school) && @programme_type.programme_for_school(current_user_school).activity_of_type(activity_type) %>
        <span class="mr-5 h4 check"><%= fa_icon("check-circle text-success") %></span>
        <br/>
        <span><%= link_to nice_dates(@programme_type.programme_for_school(current_user_school).activity_of_type(activity_type).happened_on), school_activity_path(current_user_school, @programme_type.programme_for_school(current_user_school).activity_of_type(activity_type)) %></span>
      <% end %>
    </div>
  </div>
<% end %>
