<h1>Recent manual data loads</h1>

<div id="paging-top" class="d-flex justify-content-end pt-4">
  <%= render partial: 'shared/pagy/bootstrap_nav', locals: { pagy: @pagy } %>
</div>

<table class="table table-striped table-sorted">
  <thead>
    <tr>
      <th>Config</th>
      <th>File name</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @data_loads.each do |manual_data_load_run| %>
      <tr>
        <td><%= link_to manual_data_load_run.amr_uploaded_reading.amr_data_feed_config.description, admin_amr_data_feed_config_path(manual_data_load_run.amr_uploaded_reading.amr_data_feed_config) %></td>
        <td><%= link_to manual_data_load_run.amr_uploaded_reading.file_name, admin_amr_data_feed_config_amr_uploaded_reading_path(manual_data_load_run.amr_uploaded_reading.amr_data_feed_config, manual_data_load_run.amr_uploaded_reading) %></td>
        <td><%= nice_date_times(manual_data_load_run.created_at) %></td>
        <td><%= manual_data_load_run.status %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'View', admin_amr_data_feed_config_amr_uploaded_reading_manual_data_load_run_path(manual_data_load_run.amr_uploaded_reading.amr_data_feed_config, manual_data_load_run.amr_uploaded_reading, manual_data_load_run), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Delete', admin_amr_data_feed_config_amr_uploaded_reading_manual_data_load_run_path(manual_data_load_run.amr_uploaded_reading.amr_data_feed_config, manual_data_load_run.amr_uploaded_reading, manual_data_load_run), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="paging-bottom" class="d-flex justify-content-end pt-4">
  <%= render partial: 'shared/pagy/bootstrap_nav', locals: { pagy: @pagy } %>
</div>
