<div id="<%= id %>" class="scoreboard-summary-component <%= classes %>">
  <% if Flipper.enabled?(:new_dashboards_2024, user) %>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col">
            <% if title.present? %>
              <h2><%= title %></h2>
            <% end %>
          </div>
        </div>
        <% if podium.points_to_overtake && podium.school_position.position != 1 %>
          <div class="row">
            <div class="col">
              <h4>
                <%= t('components.podium.points_needed_to_overtake', points: podium.points_to_overtake) %>
              </h4>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <p>
              <%= t('components.scoreboard_summary.intro') %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to t('components.podium.complete_an_activity'), school_recommendations_path(school),
                        class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <%= component 'podium', podium: podium, user: user, classes: 'bg-white rounded p-4' %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <h4><%= timeline_title %></h4>
      </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
      <div class="col-8">
        <p>
          <%= t('components.scoreboard_summary.recent_activity_intro') %>
        </p>
      </div>
      <div class="col-2"></div>
      <% if other_schools? %>
        <div class="col-2">
          <p>
            <%= link_to t('components.scoreboard_summary.view_scoreboard'),
                        scoreboard_path(scoreboard),
                        class: 'btn btn-outline-dark' %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col">
        <%= component 'scoreboard_activity', podium: podium, observations: observations, classes: 'bg-white rounded p-4' %>
      </div>
    </div>
  <% else %>
    <% if title.present? %>
      <h3><%= title %></h3>
    <% end %>
      <div class="row">
        <div class="col-lg card-deck actions">
          <div class="card">
            <div class="card-body">
                <%= component 'podium', podium: podium %>
            </div>
          </div>
        </div>

        <div class="col-lg card-deck actions">
          <div class="card">
            <div class="card-body">
              <h4 class="text-center"><%= timeline_title %></h4>
              <%= component 'compact_timeline', observations: observations %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
