<%= tag.div id: id, class: class_names(classes, { unpublished: !@page.published }) do %>
  <div class="row">
    <div class="col-md-12">
      <h3>
        <%= link_to @page.title, category_page_path(@page.category, @page) %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= @page.description %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <% sections.each do |section| %>
          <li>
            <%= link_to section.title,
                        category_page_path(@page.category, @page, anchor: section.slug),
                        class: class_names('section-link', { published: section.published }) %>
            <% if admin? && !section.published %>
              <span class="badge badge-warning">Unpublished</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render 'cms/admin_buttons', content: @page, current_user: @current_user %>
<% end %>
