<div class="border rounded bg-light p-4">
  <%= simple_form_for([:admin, @newsletter]) do |f| %>
    <div class="row">
      <div class="col-6">
          <%= f.input :title, as: :string %>
          <%= f.input :url, as: :string %>
          <%= f.input :published_on, as: :tempus_dominus_date,
                                     default_date: Time.zone.today,
                                     input_html: { class: 'form-control form-control-lg' } %>
          <div class='pb-3'>
            <% if @newsletter.image.attached? && @newsletter.image.persisted? %>
              <div class="mt-2">
                <p>Current Image:</p>
                <%= image_tag @newsletter.image, class: 'img-thumbnail' %>
              </div>
            <% else %>
              No image attached
            <% end %>
            <%= f.input :image, as: :file, label: 'Image', hint: 'Must be PNG or JPG' %>
          </div>
          <%= f.input :published, as: :boolean %>
          <%= f.submit 'Save', class: 'btn btn-primary btn-small' %>
          <%= link_to 'Back', admin_newsletters_path, class: 'btn btn-secondary btn-small' %>
      </div>
      <div class="col-6">
        <h4>Change history</h4>
        <%= render 'admin/cms/change_history', model: @newsletter %>
      </div>
    </div>
  <% end %>
</div>
