<p><%= t('devise.mailer.email_changed.hello') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.email_is_being_changed') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('devise.mailer.email_changed.email_has_being_changed') %> <%= @resource.email %>.</p>
<% end %>
