<h1 class="mb-3">
  <%= t('devise.mailer.reset_password_instructions.energy_sparks_password_reset') %>
</h1>
<p>
  <%= t('devise.mailer.reset_password_instructions.hello') %> <%= @resource.email %>!
</p>

<div class="s-3"></div>

<p><%= t('devise.mailer.reset_password_instructions.you_recently_requested_to_reset_the_password_for') %> <%= t('common.application') %>. <%= t('devise.mailer.reset_password_instructions.follow_the_link_below_to_reset_it') %>.</p>

<%= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary mb-3 mt-3'%>

<div class="s-3"></div>

<p>
  <%= t('devise.mailer.reset_password_instructions.if_you_did_not_request_a_password_reset_message' %>
</p>

<div class="s-3"></div>

<p>
  <%= t('devise.mailer.reset_password_instructions.questions_or_concerns_please_contact') %> <%= t('common.application') %> <%= t('devise.mailer.reset_password_instructions.team_by_replying_to_this_email') %>.
</p>
