<div class="row">
  <h4 class="">Appliance configuration</h4>
</div>
<div class="row">
  <ul class="nav nav-pills" id="simulator-nav" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="introduction-tab" data-toggle="tab" href="#introduction" role="tab" aria-controls="introduction">Introduction</a>
    </li>
    <% appliance_config.each do |key, value| %>
      <li class="nav-item">
        <a class="nav-link" id="<%= key.to_s %>-tab" data-toggle="tab" href="#<%= key.to_s %>" role="tab" aria-controls="<%= key.to_s %>">
          <%= appliance_config[key][:title] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<div class="tab-pane collapse active show" id="introduction" role="tabpanel" aria-labelledby="introdution-tab">
  <div class="form-row">
    <div class="col-md-4">
      <%= f.label :title %>
      <div class="input-group">
        <%= f.text_field :title, class: 'form-control', value: simulation.title %>
      </div>
    </div>
    <div class="col">
      <%= f.label :notes %>
      <div class="input-group">
        <%= f.text_area :notes, class: 'form-control', value: simulation.notes %>
      </div>
    </div>
  </div>
  <%= render 'form_buttons' %>
</div>

<%= f.fields_for :ict do |ff| %>
  <div class="tab-pane collapse fade" id="ict" role="tabpanel" aria-labelledby="ict-tab">
    <div class="form-row">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Number</th>
            <th scope="col">Power (Watts) of each</th>
            <th scope="col">Standby (Watts) of each</th>
            <th scope="col">Air-Con overhead (percent)</th>
            <th scope="col">On at weekends?</th>
            <th scope="col">On at holidays?</th>
          </tr>
        </thead>
        <tbody>
          <% appliance_config[:ict].keys.reject! {|x| x == :title || x == :servers2 || x == :editable }.each do |k| %>
            <%= ff.fields_for k do |fff| %>
              <tr>
                <%= hidden_field_tag "simulation[ict][#{k.to_s}][type]", appliance_config[:ict][k][:type] %>
                <th scope="row"><%= k.to_s.humanize %></th>
                <td><%= fff.text_field :number, class: 'form-control', value: appliance_config[:ict][k][:number] %></td>
                <td><%= fff.text_field :power_watts_each, class: 'form-control', value: appliance_config[:ict][k][:power_watts_each] %></td>
                <td><%= fff.text_field :standby_watts_each, class: 'form-control', value: appliance_config[:ict][k][:standby_watts_each] unless appliance_config[:ict][k][:standby_watts_each].nil? %></td>
                <td><%= fff.text_field :air_con_overhead_pecent, class: 'form-control', value: appliance_config[:ict][k][:air_con_overhead_pecent] unless appliance_config[:ict][k][:air_con_overhead_pecent].nil? %></td>
                <td>
                  <% unless appliance_config[:ict][k][:weekends].nil? %>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <%= hidden_field_tag "simulation[ict][#{k.to_s}][weekends]", false %>
                      <%= check_box_tag "simulation[ict][#{k.to_s}][weekends]", 'true', appliance_config[:ict][k][:weekends] , { class: 'custom-control-input', id: "simulation_ict_#{k.to_s}_weekends_actual" } %>
                      <label for='simulation_ict_<%= k.to_s %>_weekends_actual' class="custom-control-label"></label>
                    </div>
                  <% end %>
                </td>
                <td>
                  <% unless appliance_config[:ict][k][:holidays].nil? %>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <%= hidden_field_tag "simulation[ict][#{k.to_s}][holidays]", false %>
                      <%= check_box_tag "simulation[ict][#{k.to_s}][holidays]", 'true', appliance_config[:ict][k][:holidays] , { class: 'custom-control-input', id: "simulation_ict_#{k.to_s}_holidays_actual" } %>
                       <label for='simulation_ict_<%= k.to_s %>_holidays_actual' class="custom-control-label"></label>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :lighting do |ff| %>
  <div class="tab-pane collapse fade" id="lighting" role="tabpanel" aria-labelledby="lighting-tab">
    <div class="form-row">
      <div class="col-md-4">
        <%= ff.label 'Efficiency: Lumens per watt' %>
        <div class="input-group">
          <%= ff.text_field :lumens_per_watt, class: 'form-control', value: appliance_config[:lighting][:lumens_per_watt] %>
          <div class="input-group-append">
            <span class="input-group-text">per Watt</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= ff.label 'Brightness: Lumens per m2' %>
        <div class="input-group">
          <%= ff.text_field :lumens_per_m2, class: 'form-control', value: appliance_config[:lighting][:lumens_per_m2] %>
          <div class="input-group-append">
            <span class="input-group-text">lumens per m<sup>2</sup> (lux)</span>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
       <div class="col-md-3 alert alert-primary">
        <p>Find out more about lighting works in the simulator <a href="//blog.energysparks.uk/electricity-simulator/#lighting" target="_blank">here</a></p>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :flood_lighting do |ff| %>
  <div class="tab-pane collapse fade" id="flood_lighting" role="tabpanel" aria-labelledby="flood_lighting-tab">
    <div class="form-row">
      <div class="col-md-4">
        <%= ff.label :power %>
        <div class="input-group">
          <%= ff.text_field :power, class: 'form-control', value: appliance_config[:flood_lighting][:power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= ff.label :ambient_light_threshold %>
        <div class="input-group">
          <%= ff.text_field :ambient_light_threshold, class: 'form-control', value: appliance_config[:flood_lighting][:ambient_light_threshold] %>
          <div class="input-group-append">
            <span class="input-group-text">lumens per m<sup>2</sup> (lux)</span>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :security_lighting do |ff| %>
  <div class="tab-pane collapse fade" id="security_lighting" role="tabpanel" aria-labelledby="security_lighting-tab">
    <div class="form-row">
      <div class="col-md-6 keep">
        <p><b>Light operating times</b></p>
        <% appliance_config[:security_lighting][:control_type_choices].each do |thing| %>
          <div class="custom-control custom-radio custom-control-inline">
            <%= radio_button_tag 'simulator[security_lighting][control_type]', thing, {}, class: "custom-control-input" %>
            <label class="custom-control-label" for='<%= "simulator_security_lighting_control_type_#{thing}" %>'><%= thing.to_s.humanize %></label>
          </div>
        <% end %>
        <div class="custom-control custom-radio custom-control-inline">
          <%= radio_button_tag 'simulator[security_lighting][control_type]', 'sensor', {}, class: "custom-control-input" %>
          <label class="custom-control-label" for='<%= "simulator_security_lighting_control_type_sensor" %>'>Movement Sensor</label>
        </div>
      </div>
      <div class="col-md-6 alert alert-primary">
        <p id="sensor" class="control-type-description">The security lights have a movement sensor. The electricity used by these lights is very small, so negligible.</p>
        <p id="ambient" class="control-type-description">The security lights sense the ambient light to work out when to switch on.</p>
        <p id="sunrise_sunset" class="control-type-description">The security lights know automatically when sunrise and sunset is.</p>
        <p id="fixed_times" class="control-type-description">The security lights switch on and off with a timer, please set the correct times.</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto ambient hidden">
        <%= ff.label :ambient_threshold %>
        <div class="input-group">
          <%= ff.text_field :ambient_threshold, class: 'form-control', value: appliance_config[:security_lighting][:ambient_threshold] %>
          <div class="input-group-append">
            <span class="input-group-text">lumens per m<sup>2</sup> (lux)</span>
          </div>
        </div>
      </div>
      <div class="col-auto ambient sunrise_sunset fixed_times hidden">
        <%= ff.label :power %>
        <div class="input-group">
          <%= ff.text_field :power, class: 'form-control', value: appliance_config[:security_lighting][:power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto fixed_times hidden">
        <%= ff.label :fixed_start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="security_lighting_fixed_start_time" data-target-input="nearest">
             <%= ff.text_field :fixed_start_time, class: 'form-control datetimepicker-input', value: appliance_config[:security_lighting][:fixed_start_time].strftime('%I:%M %p'), data: { target: "#security_lighting_fixed_start_time" } %>
            <div class="input-group-append" data-target="#security_lighting_fixed_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto fixed_times hidden">
        <%= ff.label :fixed_end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="security_lighting_fixed_end_time" data-target-input="nearest">
            <%= ff.text_field :fixed_end_time, class: 'form-control datetimepicker-input', value: appliance_config[:security_lighting][:fixed_end_time].strftime('%I:%M %p'), data: { target: "#security_lighting_fixed_end_time" } %>
            <div class="input-group-append" data-target="#security_lighting_fixed_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :kitchen do |ff| %>
  <div class="tab-pane collapse fade" id="kitchen" role="tabpanel" aria-labelledby="kitchen-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :power %>
        <div class="input-group">
          <%= ff.text_field :power, class: 'form-control', value: appliance_config[:kitchen][:power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="kitchen_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: appliance_config[:kitchen][:start_time].strftime('%I:%M %p'), data: { target: "#kitchen_start_time" } %>
            <div class="input-group-append" data-target="#kitchen_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="kitchen_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: appliance_config[:kitchen][:end_time].strftime('%I:%M %p'), data: { target: "#kitchen_end_time" } %>
            <div class="input-group-append" data-target="#kitchen_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :summer_air_conn do |ff| %>
  <div class="tab-pane collapse fade" id="summer_air_conn" role="tabpanel" aria-labelledby="summer_air_conn-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label 'Balance point temperature' %>
        <div class="input-group">
          <%= ff.text_field :balancepoint_temperature, class: 'form-control', value: appliance_config[:summer_air_conn][:balancepoint_temperature] %>
          <div class="input-group-append">
            <span class="input-group-text">&deg; C</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label 'Power per Degree Day' %>
        <div class="input-group">
          <%= ff.text_field :power_per_degreeday, class: 'form-control', value: appliance_config[:summer_air_conn][:power_per_degreeday] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="summer_air_conn_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: appliance_config[:summer_air_conn][:start_time].strftime('%I:%M %p'), data: { target: "#summer_air_conn_start_time" } %>
            <div class="input-group-append" data-target="#summer_air_conn_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="summer_air_conn_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: appliance_config[:summer_air_conn][:end_time].strftime('%I:%M %p'), data: { target: "#summer_air_conn_end_time" } %>
            <div class="input-group-append" data-target="#summer_air_conn_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-auto">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[summer_air_conn][weekends]', false %>
          <%= check_box_tag 'simulation[summer_air_conn][weekends]', 'true', appliance_config[:summer_air_conn][:weekends] , { class: 'custom-control-input', id: 'simulation_summer_air_conn_weekends_actual' } %>
          <label for="simulation_summer_air_conn_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[summer_air_conn][holidays]', false %>
          <%= check_box_tag 'simulation[summer_air_conn][holidays]', 'true', appliance_config[:summer_air_conn][:holidays] , { class: 'custom-control-input', id: 'simulation_summer_air_conn_holidays_actual' } %>
          <label for="simulation_summer_air_conn_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :electric_hot_water do |ff| %>
  <div class="tab-pane collapse fade" id="electric_hot_water" role="tabpanel" aria-labelledby="electric_hot_water-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :percent_of_pupils %>
        <div class="input-group">
          <%= ff.text_field :percent_of_pupils, class: 'form-control', value: appliance_config[:electric_hot_water][:percent_of_pupils] %>
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :litres_per_day_per_pupil %>
        <div class="input-group">
          <%= ff.text_field :litres_per_day_per_pupil, class: 'form-control', value: appliance_config[:electric_hot_water][:litres_per_day_per_pupil] %>
          <div class="input-group-append">
            <span class="input-group-text">l per day</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :standby_power %>
        <div class="input-group">
          <%= ff.text_field :standby_power, class: 'form-control', value: appliance_config[:electric_hot_water][:standby_power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="electric_hot_water_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: appliance_config[:electric_hot_water][:start_time].strftime('%I:%M %p'), data: { target: "#electric_hot_water_start_time" } %>
            <div class="input-group-append" data-target="#electric_hot_water_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="electric_hot_water_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: appliance_config[:electric_hot_water][:end_time].strftime('%I:%M %p'), data: { target: "#electric_hot_water_end_time" } %>
            <div class="input-group-append" data-target="#electric_hot_water_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= hidden_field_tag 'simulation[electric_hot_water][weekends]', false %>
          <%= check_box_tag 'simulation[electric_hot_water][weekends]', 'true', appliance_config[:electric_hot_water][:weekends] , { class: 'custom-control-input', id: 'simulation_electirc_hot_water_weekends_actual' } %>
          <label for="simulation_electirc_hot_water_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <%= hidden_field_tag 'simulation[electric_hot_water][holidays]', false %>
          <%= check_box_tag 'simulation[electric_hot_water][holidays]', 'true', appliance_config[:electric_hot_water][:holidays] , { class: 'custom-control-input', id: 'simulation_electric_hot_water_holidays_actual' } %>
          <label for="simulation_electric_hot_water_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :electrical_heating do |ff| %>
  <div class="tab-pane collapse fade" id="electrical_heating" role="tabpanel" aria-labelledby="electrical_heating-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="electrical_heating_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: appliance_config[:electrical_heating][:start_time].strftime('%I:%M %p'), data: { target: "#electrical_heating_start_time" } %>
            <div class="input-group-append" data-target="#electrical_heating_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="electrical_heating_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: appliance_config[:electrical_heating][:end_time].strftime('%I:%M %p'), data: { target: "#electrical_heating_end_time" } %>
            <div class="input-group-append" data-target="#electrical_heating_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-auto">
        <%= ff.label :fixed_power %>
        <div class="input-group">
          <%= ff.text_field :fixed_power, class: 'form-control', value: appliance_config[:electrical_heating][:fixed_power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label 'Balance point temperature' %>
        <div class="input-group">
          <%= ff.text_field :balancepoint_temperature, class: 'form-control', value: appliance_config[:electrical_heating][:balancepoint_temperature] %>
          <div class="input-group-append">
            <span class="input-group-text">&deg; C</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :power_per_degreeday %>
        <div class="input-group">
          <%= ff.text_field :power_per_degreeday, class: 'form-control', value: appliance_config[:electrical_heating][:power_per_degreeday] %>
          <div class="input-group-append">
            <span class="input-group-text">kW/&deg; C</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[electrical_heating][weekends]', false %>
          <%= check_box_tag 'simulation[electrical_heating][weekends]', 'true', appliance_config[:electrical_heating][:weekends] , { class: 'custom-control-input', id: 'simulation_electrical_heating_weekends_actual' } %>
          <label for="simulation_electrical_heating_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[electrical_heating][holidays]', false %>
          <%= check_box_tag 'simulation[electrical_heating][holidays]', 'true', appliance_config[:electrical_heating][:holidays] , { class: 'custom-control-input', id: 'simulation_electrical_heating_holidays_actual' } %>
          <label for="simulation_electrical_heating_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>

    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :boiler_pumps do |ff| %>
  <div class="tab-pane collapse fade" id="boiler_pumps" role="tabpanel" aria-labelledby="boiler_pumps-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :pump_power %>
        <div class="input-group">
          <%= ff.text_field :pump_power, class: 'form-control', value: appliance_config[:boiler_pumps][:pump_power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="boiler_pump_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: appliance_config[:boiler_pumps][:start_time].strftime('%I:%M %p'), data: { target: "#boiler_pump_start_time" } %>
            <div class="input-group-append" data-target="#boiler_pump_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="boiler_pump_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: appliance_config[:boiler_pumps][:end_time].strftime('%I:%M %p'), data: { target: "#boiler_pump_end_time" } %>
            <div class="input-group-append" data-target="#boiler_pump_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-auto">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[boiler_pumps][weekends]', false %>
          <%= check_box_tag 'simulation[boiler_pumps][weekends]', 'true', appliance_config[:boiler_pumps][:weekends] , { class: 'custom-control-input', id: 'simulation_boiler_pumps_weekends_actual' } %>
          <label for="simulation_boiler_pumps_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[boiler_pumps][holidays]', false %>
          <%= check_box_tag 'simulation[boiler_pumps][holidays]', 'true', appliance_config[:boiler_pumps][:holidays] , { class: 'custom-control-input', id: 'simulation_boiler_pumps_holidays_actual' } %>
          <label for="simulation_boiler_pumps_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :unaccounted_for_baseload do |ff| %>
  <div class="tab-pane collapse fade" id="unaccounted_for_baseload" role="tabpanel" aria-labelledby="unaccounted_for_baseload-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :baseload %>
        <div class="input-group">
          <%= ff.text_field :baseload, class: 'form-control', value: appliance_config[:unaccounted_for_baseload][:baseload] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :solar_pv do |ff| %>
  <div class="tab-pane collapse fade" id="solar_pv" role="tabpanel" aria-labelledby="solar_pv-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label 'Capacity of solar panels' %>
        <div class="input-group">
          <%= ff.text_field :kwp, class: 'form-control', value: appliance_config[:solar_pv][:kwp] %>
          <div class="input-group-append">
            <span class="input-group-text">kWp (kilowatt peak)</span>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>
