<div class="row">
  <h4 class="">Appliance configuration</h4>
  <p>If you know the correct configuration for the various appliances in your school, then enter them here. Click on 'Update simulator' to see if the charts show the simulated energy usage being close to the actual energy usage.</p>
  <p>Once it is showing a similar shape of energy usage, click on 'See results' to see the breakdown of electricity consumption per appliance type at your school.</p>
  <ul class="nav nav-tabs" id="simulator-nav" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="introduction-tab" data-toggle="tab" href="#introduction" role="tab" aria-controls="introduction">Introduction</a>
    </li>
    <% @simulation_configuration.each do |key, value| %>
      <%# if value[:editable] %>
      <% unless [:ict, :electrical_heating, :flood_lighting, :solar_pv].include?(key) %>
        <li class="nav-item">
          <a class="nav-link" id="<%= key.to_s %>-tab" data-toggle="tab" href="#<%= key.to_s %>" role="tab" aria-controls="<%= key.to_s %>">
            <%= @simulation_configuration[key][:title] %>
          </a>
        </li>
      <% end %>
      <%# end %>
    <% end %>
  </ul>
</div>
<!-- hacky -->
<div class="row"><hr/></div>

<div class="tab-pane collapse active show" id="introduction" role="tabpanel" aria-labelledby="introdution-tab">
  <div class="form-row">
    <div class="col-md-4">
      <%= f.label :title %>
      <div class="input-group">
        <%= f.text_field :title, class: 'form-control', value: @simulation.title %>
      </div>
    </div>
    <div class="col">
      <%= f.label :notes %>
      <div class="input-group">
        <%= f.text_area :notes, class: 'form-control', value: @simulation.notes %>
      </div>
    </div>
  </div>
  <%= render 'form_buttons' %>
</div>

<%= f.fields_for :lighting do |ff| %>
  <div class="tab-pane collapse fade" id="lighting" role="tabpanel" aria-labelledby="lighting-tab">
    <div class="form-row">
      <div class="col-md-4">
        <%= ff.label :lumens_per_watt %>
        <div class="input-group">
          <%= ff.text_field :lumens_per_watt, class: 'form-control', value: @simulation_configuration[:lighting][:lumens_per_watt] %>
          <div class="input-group-append">
            <span class="input-group-text">per Watt</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= ff.label :lumens_per_m2 %>
        <div class="input-group">
          <%= ff.text_field :lumens_per_m2, class: 'form-control', value: @simulation_configuration[:lighting][:lumens_per_m2] %>
          <div class="input-group-append">
            <span class="input-group-text">lumens per m<sup>2</sup> (lux)</span>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>


<%= f.fields_for :security_lighting do |ff| %>
  <div class="tab-pane collapse fade" id="security_lighting" role="tabpanel" aria-labelledby="security_lighting-tab">
    <div class="form-row">
      <div class="col-auto">
        <label>Light operating times</label>
        <div class="input-group">
            <% @simulation_configuration[:security_lighting][:control_type].each do |thing| %>
              <div class="custom-control custom-radio">
                <%= radio_button_tag 'simulator[security_lighting][control_type]', thing, {}, class: "custom-control-input" %>
                <label class="custom-control-label" for='<%= "control_type_#{thing}" %>'><%= thing.to_s.humanize %></label>
              </div>
            <% end %>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :ambient_threshold %>
        <div class="input-group">
          <%= ff.text_field :ambient_threshold, class: 'form-control', value: @simulation_configuration[:security_lighting][:ambient_threshold] %>
          <div class="input-group-append">
            <span class="input-group-text">lumens per m<sup>2</sup> (lux)</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :power %>
        <div class="input-group">
          <%= ff.text_field :power, class: 'form-control', value: @simulation_configuration[:security_lighting][:power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :fixed_start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="security_lighting_fixed_start_time" data-target-input="nearest">
             <%= ff.text_field :fixed_start_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:security_lighting][:fixed_start_time].strftime('%I:%M %p'), data: { target: "#security_lighting_start_time" } %>
            <div class="input-group-append" data-target="#security_lighting_fixed_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="security_lighting_fixed_end_time" data-target-input="nearest">
            <%= ff.text_field :fixed_end_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:security_lighting][:fixed_end_time].strftime('%I:%M %p'), data: { target: "#security_lighting_fixed_end_time" } %>
            <div class="input-group-append" data-target="#security_lighting_fixed_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :kitchen do |ff| %>
  <div class="tab-pane collapse fade" id="kitchen" role="tabpanel" aria-labelledby="kitchen-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :power %>
        <div class="input-group">
          <%= ff.text_field :power, class: 'form-control', value: @simulation_configuration[:kitchen][:power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="kitchen_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:kitchen][:start_time].strftime('%I:%M %p'), data: { target: "#kitchen_start_time" } %>
            <div class="input-group-append" data-target="#kitchen_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="kitchen_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:kitchen][:end_time].strftime('%I:%M %p'), data: { target: "#kitchen_end_time" } %>
            <div class="input-group-append" data-target="#kitchen_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :summer_air_conn do |ff| %>
  <div class="tab-pane collapse fade" id="summer_air_conn" role="tabpanel" aria-labelledby="summer_air_conn-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label 'Balance point temperature' %>
        <div class="input-group">
          <%= ff.text_field :balancepoint_temperature, class: 'form-control', value: @simulation_configuration[:summer_air_conn][:balancepoint_temperature] %>
          <div class="input-group-append">
            <span class="input-group-text">&deg; C</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label 'Power per Degree Day' %>
        <div class="input-group">
          <%= ff.text_field :power_per_degreeday, class: 'form-control', value: @simulation_configuration[:summer_air_conn][:power_per_degreeday] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="summer_air_conn_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:summer_air_conn][:start_time].strftime('%I:%M %p'), data: { target: "#summer_air_conn_start_time" } %>
            <div class="input-group-append" data-target="#summer_air_conn_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="summer_air_conn_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:summer_air_conn][:end_time].strftime('%I:%M %p'), data: { target: "#summer_air_conn_end_time" } %>
            <div class="input-group-append" data-target="#summer_air_conn_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-auto">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[summer_air_conn][weekends]', '' %>
          <%= check_box_tag 'simulation[summer_air_conn][weekends]', 'true', @simulation_configuration[:summer_air_conn][:weekends] , { class: 'custom-control-input', id: 'simulation_summer_air_conn_weekends_actual' } %>
          <label for="simulation_summer_air_conn_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[summer_air_conn][holidays]', '' %>
          <%= check_box_tag 'simulation[summer_air_conn][holidays]', 'true', @simulation_configuration[:summer_air_conn][:holidays] , { class: 'custom-control-input', id: 'simulation_summer_air_conn_holidays_actual' } %>
          <label for="simulation_summer_air_conn_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :electric_hot_water do |ff| %>
  <div class="tab-pane collapse fade" id="electric_hot_water" role="tabpanel" aria-labelledby="electric_hot_water-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :percent_of_pupils %>
        <div class="input-group">
          <%= ff.text_field :percent_of_pupils, class: 'form-control', value: @simulation_configuration[:electric_hot_water][:percent_of_pupils] %>
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :litres_per_day_per_pupil %>
        <div class="input-group">
          <%= ff.text_field :litres_per_day_per_pupil, class: 'form-control', value: @simulation_configuration[:electric_hot_water][:litres_per_day_per_pupil] %>
          <div class="input-group-append">
            <span class="input-group-text">l per day</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :standby_power %>
        <div class="input-group">
          <%= ff.text_field :standby_power, class: 'form-control', value: @simulation_configuration[:electric_hot_water][:standby_power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="electric_hot_water_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:electric_hot_water][:start_time].strftime('%I:%M %p'), data: { target: "#electric_hot_water_start_time" } %>
            <div class="input-group-append" data-target="#electric_hot_water_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="electric_hot_water_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:electric_hot_water][:end_time].strftime('%I:%M %p'), data: { target: "#electric_hot_water_end_time" } %>
            <div class="input-group-append" data-target="#electric_hot_water_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-auto">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[electric_hot_water][weekends]', '' %>
          <%= check_box_tag 'simulation[electric_hot_water][weekends]', 'true', @simulation_configuration[:electric_hot_water][:weekends] , { class: 'custom-control-input', id: 'simulation_electirc_hot_water_weekends_actual' } %>
          <label for="simulation_electirc_hot_water_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[electric_hot_water][holidays]', '' %>
          <%= check_box_tag 'simulation[electric_hot_water][holidays]', 'true', @simulation_configuration[:electric_hot_water][:holidays] , { class: 'custom-control-input', id: 'simulation_electric_hot_water_holidays_actual' } %>
          <label for="simulation_electric_hot_water_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>


<%= f.fields_for :boiler_pumps do |ff| %>
  <div class="tab-pane collapse fade" id="boiler_pumps" role="tabpanel" aria-labelledby="boiler_pumps-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :pump_power %>
        <div class="input-group">
          <%= ff.text_field :pump_power, class: 'form-control', value: @simulation_configuration[:boiler_pumps][:pump_power] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :start_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="boiler_pump_start_time" data-target-input="nearest">
             <%= ff.text_field :start_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:boiler_pumps][:start_time].strftime('%I:%M %p'), data: { target: "#boiler_pump_start_time" } %>
            <div class="input-group-append" data-target="#boiler_pump_start_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= ff.label :end_time %>
        <div class="form-group">
          <div class="input-group date timepicker" id="boiler_pump_end_time" data-target-input="nearest">
            <%= ff.text_field :end_time, class: 'form-control datetimepicker-input', value: @simulation_configuration[:boiler_pumps][:end_time].strftime('%I:%M %p'), data: { target: "#boiler_pump_end_time" } %>
            <div class="input-group-append" data-target="#boiler_pump_end_time" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-auto">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[boiler_pumps][weekends]', '' %>
          <%= check_box_tag 'simulation[boiler_pumps][weekends]', 'true', @simulation_configuration[:boiler_pumps][:weekends] , { class: 'custom-control-input', id: 'simulation_boiler_pumps_weekends_actual' } %>
          <label for="simulation_boiler_pumps_weekends_actual" class="custom-control-label">On at weekends?</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= hidden_field_tag 'simulation[boiler_pumps][holidays]', '' %>
          <%= check_box_tag 'simulation[boiler_pumps][holidays]', 'true', @simulation_configuration[:boiler_pumps][:holidays] , { class: 'custom-control-input', id: 'simulation_boiler_pumps_holidays_actual' } %>
          <label for="simulation_boiler_pumps_holidays_actual" class="custom-control-label">On in holidays?</label>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<%= f.fields_for :unaccounted_for_baseload do |ff| %>
  <div class="tab-pane collapse fade" id="unaccounted_for_baseload" role="tabpanel" aria-labelledby="unaccounted_for_baseload-tab">
    <div class="form-row">
      <div class="col-auto">
        <%= ff.label :baseload %>
        <div class="input-group">
          <%= ff.text_field :baseload, class: 'form-control', value: @simulation_configuration[:unaccounted_for_baseload][:baseload] %>
          <div class="input-group-append">
            <span class="input-group-text">kW</span>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form_buttons' %>
  </div>
<% end %>

<!-- class ElectricitySimulatorConfiguration
    ict: {
      title: 'ICT',
      servers1: {
        editable:                 [:number, :power_watts_each],
        type:                     :server,
        number:                   2.0,
        power_watts_each:         300.0,
        air_con_overhead_pecent:  0.2
      },
      servers2: { #### Example use only, not required immediately
        editable:                 [:number, :power_watts_each],
        type:                     :server,
        number:                   1.0,
        power_watts_each:         500.0,
        air_con_overhead_pecent:  0.3
      },
       desktops: {
        editable:                     [:number, :power_watts_each, :standby_watts_each],
        type:                         :desktop,
        number:                       20,
        power_watts_each:             100,
        standby_watts_each:           10,
        usage_percent_by_time_of_day: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.05, 0.1, 0.3, 0.5, 0.8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.8, 0.6, 0.4, 0.2, 0.15, 0.15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        weekends:                     true, # left on standy at weekends
        holidays:                     false # left on standby during holidays
      },
      laptops: {
        editable:                     [:number, :power_watts_each, :standby_watts_each],
        type:                         :laptop,
        number:                       20,
        power_watts_each:             30,
        standby_watts_each:           2
      }
    },
    electrical_heating: {
      title: 'Electrical heating',
    },
    flood_lighting:  {
      title: 'Flood lighting',
    },
    solar_pv: {
      title: 'Solar PV'
    }
  }
-->
