<% content_for :page_title do %>Electricity Simulations for <%= @school.name %><% end %>

<h1>Electricity Simulations</h1>
<h2><%= link_to @school.name, @school %></h2>

<% if @simulations.any? %>
  <p>These simulations have been saved for this school.</p>

   <table class="table table-sm">
    <thead>
      <tr class="d-flex">
        <th class="col-3">Title</th>
        <th class="col-5">Notes</th>
        <th class="col-2">Creation date</th>
        <th class="col-2">Results</th>
      </tr>
    </thead>
    <tbody>
      <% @simulations.each do |simulation| %>
        <tr class="d-flex">
          <td class="col-3"><%= simulation.title %></td>
          <td class="col-5"><%= simulation.notes %></td>
          <td class="col-2"><%= nice_date_times(simulation.created_at) %></td>
          <td class="col-2 ">
            <%= link_to 'Results', school_simulation_path(@school, simulation), class: 'btn btn-sm btn-info' %>
            <%- if can? :manage, @school -%>
              <%= link_to 'Edit', edit_school_simulation_path(@school, simulation), class: 'btn btn-sm btn-warning' %>
              <%= link_to 'Delete', school_simulation_path(@school, simulation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No simulations have been run for this school yet.</p>
<% end %>

<%- if can? :manage, @school -%>
  <h2>New simulations</h2>
  <p>You can create a new simulation using three initial appliance configurations</p>
  <ul>
    <li>Using the default configuration </li>
    <li>a configuration based on your school's historical energy usage</li>
    <li>a configuration for an 'exemplar' school </li>
  </ul>

  <%= link_to 'Default configuration', new_school_simulation_path(@school), class: 'btn btn-success btn-sm' %>  <%= link_to 'Fitted configuration', school_new_fitted_simulation_path(@school), class: 'btn btn-success btn-sm' %>
  <%= link_to 'Exemplar configuration', school_new_exemplar_simulation_path(@school), class: 'btn btn-success btn-sm' %>
<% end %>