<% content_for :page_title do %>Electricity Simulator for <%= @school.name %><% end %>

<h1>The <%= @school.name %> Electricity Simulator</h1>
<h2>Running with exemplar school configuration</h2>

<p>The electricity simulator models the usage of appliances within schools to provide an estimate of how much each appliance is using of the course of a year. To do this it needs further information on the appliances in your school.</p>
<p>If you know the correct configuration for the various appliances in your school, then enter them here. You can also choose to enter the configuration of potential appliance or lighting upgrades to compare the impact of making energy saving investments.</p>
<p>Start by giving your simulation a title, so you can return to it later. Then set up the simulator to match your school's energy usage by adjusting the appliance values and clicking 'Update simulation'. Try and get the actual and simulated energy usage in the charts below to match.</p>
<p>Then create a new simulation with a new title, adjust the appliance values to take account of proposed improvements and then click on 'Save and See Results' to see the impact of your changes.</p>

<hr/>
<%= form_for [@school, @simulation], method: :post, html: { class: 'simulation' } do |f| %>
  <%= render 'form_fields', f: f, appliance_config: @simulation_configuration, simulation: @simulation %>
<% end %>

<div class="row"><hr/></div>
<hr/>
<%= render 'charts', chart_data: @charts %>
<hr/>
<p><%= link_to 'Saved simulations', school_simulations_path(@school), class: 'btn btn-primary' if @school.simulations.any? %></p>
