<% content_for :page_title do %>Electricity Simulator for <%= @school.name %><% end %>

<h1>The <%= @school.name %> Electricity Simulator</h1>

<% if @simulation.default %>
  <p>This chart shows an estimation of how your electricity energy usage might be broken up in to it's component parts. It simulates your school's energy usage based on a number of different factors, lighting, boiler controls, ICT equipment for example. You can edit this configuration to provide a more accurate simulation of your energy usage by clicking on the 'Edit' button.</p>
<% else %>
  <h2><%= @simulation.title %></h2>
  <p><%= @simulation.notes %></p>
<% end %>

<div class="alert alert-primary" role="alert">
  More content will be required here to explain how this works...
</div>
<p><%= link_to 'Create new simulation', new_school_simulation_path(@school), class: 'btn btn-success' %> <%= link_to 'Edit this simulation', edit_school_simulation_path(@school, @simulation), class: 'btn btn-warning' %> <%= link_to 'Saved simulations', school_simulations_path(@school), class: 'btn btn-primary' if @school.simulations.any? %></p>


<% @number_of_charts.times do |number| %>
  <div id="chart_wrapper_<%= number %>">
    <h3 class="analysis">Loading: <%= @charts[number].to_s.humanize %></h3>
    <div id="chart_<%= number %>" class="analysis-chart" data-chart-index="<%= number %>" data-chart-type="<%= @charts[number].to_s %>" data-chart-json="<%= request.path %>.json?chart_type=<%= @charts[number].to_s %>"></div>
  </div>
<% end %>
