<% content_for :page_title do %>Electricity Simulator for <%= @school.name %><% end %>

<h1>Electricity Simulator</h1>
<h2><%= link_to @school.name, @school %><%= " - #{@simulation.title}" if @simulation.title.present? %></h2>

<% unless @simulation.default %>
  <p><%= @simulation.notes %></p>
<% end %>

<p><%= link_to 'Edit this simulation', edit_school_simulation_path(@school, @simulation), class: 'btn btn-warning' if can? :manage, @school %> <%= link_to 'Simulation details', school_simulation_detail_path(@school, @simulation), class: 'btn btn-primary' %> <%= link_to 'Saved simulations', school_simulations_path(@school), class: 'btn btn-primary' %></p>

<% chart_index = 0 %>
<% @charts.each do |chart| %>
  <% if chart.is_a?(Hash) && chart.key?(:chart_group) %>
    <div class="row">
      <div id="advice-header-0" class="col-md-6 advice-header">
      </div>
      <div id="advice-header-1" class="col-md-6 advice-header">
      </div>
    </div>
    <div class="row synchronise-y-axis">
      <div id="chart_wrapper_<%= chart_index %>" class="col-md-6">
        <h3 class="analysis">Loading: <%= chart[:chart_group][:charts][0].to_s.humanize %></h3>
        <div id="chart_<%= chart_index %>" class="simulator-chart" data-chart-index="<%= chart_index %>"></div>
      </div>
      <% chart_index = chart_index + 1 %>
      <div id="chart_wrapper_<%= chart_index %>" class="col-md-6">
        <h3 class="analysis">Loading: <%= chart[:chart_group][:charts][1].to_s.humanize %></h3>
        <div id="chart_<%= chart_index %>" class="simulator-chart" data-chart-index="<%= chart_index %>" data-chart-type="<%= chart[:chart_group][:charts][0].to_s %>"></div>
      </div>
    </div>
  <% else %>
    <div id="chart_wrapper_<%= chart_index %>">
      <h3 class="analysis">Loading: <%= chart.to_s.humanize %></h3>
      <div id="chart_<%= chart_index %>" class="simulator-chart" data-chart-index="<%= chart_index %>" data-chart-type="<%= chart.to_s %>"></div>
    </div>
  <% end %>
  <% chart_index = chart_index + 1 %>
<% end %>