<% content_for :page_title do %>Electricity Simulator for <%= @school.name %><% end %>

<h1>The <%= @school.name %> Electricity Simulator</h1>

<% if @simulation.default %>
  <p>This chart shows an estimation of how your electricity energy usage might be broken up in to it's component parts. It simulates your school's energy usage based on a number of different factors, lighting, boiler controls, ICT equipment for example. You can edit this configuration to provide a more accurate simulation of your energy usage by clicking on the 'Edit' button.</p>
<% else %>
  <h2><%= @simulation.title %></h2>
  <p><%= @simulation.notes %></p>
<% end %>

<div class="alert alert-primary" role="alert">
  More content will be required here to explain how this works...
</div>
<p><%= link_to 'Create new simulation', new_school_simulation_path(@school), class: 'btn btn-success' %> <%= link_to 'Edit this simulation', edit_school_simulation_path(@school, @simulation), class: 'btn btn-warning' %> <%= link_to 'Saved simulations', school_simulations_path(@school), class: 'btn btn-primary' if @school.simulations.any? %></p>

<% @charts_for_page.each_with_index do |chart, index| %>
  <% if chart[:layout] == :side_by_side %>
    <% if chart[:index] == 0 %>
      <div class="row">
        <div id="advice-header-0" class="col-md-6 advice-header">
        </div>
        <div id="advice-header-1" class="col-md-6 advice-header">
        </div>
      </div>
      <div class="row">
    <% end %>

    <div id="chart_wrapper_<%= index %>" class="col-md-6">
      <h3 class="analysis">Loading: <%= chart[:type].to_s.humanize %></h3>
      <div id="chart_<%= index %>" class="analysis-chart" data-chart-index="<%= index %>" data-chart-type="<%= chart[:type].to_s %>" data-chart-json="<%= request.path %>.json?chart_type=<%= chart[:type].to_s %>"></div>
    </div>
    <% if chart[:index] != 0 %>
      </div>
    <% end %>

  <% else %>
    <div id="chart_wrapper_<%= index %>">
      <h3 class="analysis">Loading: <%= chart[:type].to_s.humanize %></h3>
      <div id="chart_<%= index %>" class="analysis-chart" data-chart-index="<%= index %>" data-chart-type="<%= chart[:type].to_s %>" data-chart-json="<%= request.path %>.json?chart_type=<%= chart[:type].to_s %>"></div>
    </div>
  <% end %>

<% end %>
