<h2>Search users</h2>

<%= simple_form_for :search, url: admin_users_path, method: 'GET', html: { class: 'form' } do |f| %>
  <%= f.input :email, as: :string, input_html: { value: params[:search].present? ? params[:search]['email'] : '' } %>
  <%= f.submit 'Search', class: 'btn btn-primary' %>
  <%= link_to 'Clear', admin_users_path, class: 'btn btn-secondary' %>
<% end %>

<% if @search_users.any? %>
  <div id='search_results' class="row mt-4">
    <div class="col">
      <p>First 50 users with email matching search...</p>
    </div>
  </div>
  <%= render Admin::UserListComponent.new(id: 'found-users',
                                          users: @search_users,
                                          show_organisation: true) %>
<% elsif params[:search].present? %>
  <div id='search_results' class="row mt-4">
    <div class="col">
      <p>No users found</p>
    </div>
  </div>
<% end %>
