<h1>Users</h1>

<div id="top" class="d-flex justify-content-between align-items-center">
  <form action="" class="form">
    <label for="admin-user-picker">See</label>
    <select id="admin-user-picker" class="admin-user-picker">
      <% @school_users.keys.each do |school_group| %>
        <option value="#<%= school_group.name.parameterize %>"><%= school_group.name %></option>
      <% end %>
      <option value="#school_group_users">School group users</option>
      <option value="#no_school_users">Users without a school</option>
    </select>
  </form>

  <div>
    <%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>
  </div>
</div>

<% @school_users.each do |school_group, schools| %>
  <div class="row nav-anchor">
    <a name="<%= school_group.name.parameterize %>"> </a>
    <h2><%= school_group.name %></h2>
  </div>

  <table class="table table-condensed table-sorted">
    <thead>
      <tr>
        <th>School</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Last signed in</th>
        <th>Confirmed?</th>
        <th>Locked?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% schools.each do |school, users| %>
        <% users.each do |user| %>
          <tr>
            <td><%= link_to school.name, school_path(school) %></td>
            <td><%= user.name %></td>
            <td><%= user.pupil? ? "N/A" : user.email %></td>
            <td><%= user.role.titleize %></td>
            <td><%= display_last_signed_in_as(user) %></td>
            <td><%= user.confirmed? ? 'Y' : 'N' %></td>
            <td><%= user.access_locked? ? 'Y' : '' %></td>
            <td>
              <div class="btn-group">
                <% unless user.confirmed? %>
                  <%= button_to 'Resend confirmation', admin_user_confirmation_path(user), class: 'btn btn-warning btn-sm' %>
                <% end %>
                <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Back to Top", "#top", class: "btn btn-primary" %>
<% end %>

<div class="nav-anchor">
  <a name="school_group_users"> </a>
  <h2>School group users</h2>
</div>

<table class="table table-condensed table-sorted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Group</th>
      <th>Last signed in</th>
      <th>Confirmed?</th>
      <th>Locked?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @school_group_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.pupil? ? "N/A" : user.email %></td>
        <td><%= user.school_group.name %></td>
        <td><%= nice_date_times user.last_sign_in_at %></td>
        <td><%= user.confirmed? ? 'Y' : 'N' %></td>
        <td><%= user.access_locked? ? 'Y' : '' %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Top", "#top", class: "btn btn-primary" %>

<div class="nav-anchor">
  <a name="no_school_users"> </a>
  <h2>Users without a school</h2>
</div>

<table class="table table-condensed table-sorted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Last signed in</th>
      <th>Confirmed?</th>
      <th>Locked?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @unattached_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.pupil? ? "N/A" : user.email %></td>
        <td><%= user.role.titleize %></td>
        <td><%= nice_date_times user.last_sign_in_at %></td>
        <td><%= user.confirmed? ? 'Y' : 'N' %></td>
        <td><%= user.access_locked? ? 'Y' : '' %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Top", "#top", class: "btn btn-primary" %>
