<div class="d-flex justify-content-between align-items-center">
  <h1>User management</h1>
  <div>
    <%= header_nav_link 'New User', new_admin_user_path %>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <%= link_to 'Download list of school users as CSV', admin_users_path(format: :csv), class: 'btn btn-sm' %>
  </div>
</div>

<hr>

<div class="row mt-2">
  <div class="col">
    <%= render 'user_search' %>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <%= render 'school_group_picker' %>
  </div>
</div>

<hr>

<div class="row mt-2">
  <div class="col">
    <h2>Users without a school</h2>

    <%= render Admin::UserListComponent.new(id: 'unattached-users',
                                            users: @unattached_users,
                                            show_organisation: false) %>
  </div>
</div>

<%= link_to 'Back to Top', '#top', class: 'btn btn-primary' %>
