<h1>Users</h1>

<%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>

<% @school_users.each do |school_group, _users| %>
  <p>See users for <%= link_to school_group.name, "##{school_group.name.parameterize}" %></p>
<% end %>
<p>See <%= link_to 'school group users', "#school_group_users" %></p>
<p>See users  <%= link_to 'without a school', "#no_school_users" %></p>

<% @school_users.each do |school_group, users| %>
  <div class="nav-anchor">
    <a name="<%= school_group.name.parameterize %>"> </a>
    <h2><%= school_group.name %></h2>
  </div>

  <table class="table table-condensed  table-sorted">
    <thead>
      <tr>
        <th>School</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Last signed in at</th>
        <th>Access locked</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user.school.name, school_path(user.school) %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.titleize %></td>
          <td><%= display_last_signed_in_as(user) %></td>
          <td><%= user.access_locked? ? 'Y' : '' %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="nav-anchor">
  <a name="school_group_users"> </a>
  <h2>School group users</h2>
</div>

<table class="table table-condensed  table-sorted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Group</th>
      <th>Last signed in at</th>
      <th>Access locked</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @school_group_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.school_group.name %></td>
        <td><%= nice_date_times user.last_sign_in_at %></td>
        <td><%= user.access_locked? ? 'Y' : '' %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="nav-anchor">
  <a name="no_school_users"> </a>
  <h2>Users without a school</h2>
</div>

<table class="table table-condensed  table-sorted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Last signed in at</th>
      <th>Access locked</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @unattached_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.titleize %></td>
        <td><%= nice_date_times user.last_sign_in_at %></td>
        <td><%= user.access_locked? ? 'Y' : '' %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


