<%= form_for([@school, activity]) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :happened_on %>
    <%= f.date_select(
          :happened_on,
          { order: [:day, :month, :year],
            prompt: true,
            start_year: Date.today.year - 1,
            end_year: Date.today.year
          },
          { class: 'form-control' }
        )
     %>
  </div>

  <div class="form-group">
    <%= f.label :activity_type_id %>
    <%= f.select(
          :activity_type_id,
          options_from_collection_for_select(
            ActivityType.active, 'id', 'name', @activity.activity_type_id ),
          { include_blank: true },
          { class: 'form-control' }
        )
    %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.hidden_field :description %>
    <trix-editor input="activity_description"></trix-editor>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
