<%= form_for(activity) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_id %>
    <%= f.text_field :school_id %>
  </div>

  <div class="field">
    <%= f.label :activity_type_id %>
    <%= f.text_field :activity_type_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :happened_on %>
    <%= f.date_select :happened_on %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
