<%= simple_form_for(
      [@school, activity],
      direct_upload: true,
      html: { class: 'bg-white px-5 pt-5 pb-4 rounded-3' }
    ) do |f| %>

  <%#= render 'shared/errors', subject: activity, subject_name: 'activity' %>
  <h2 class='pt-0 pb-4'>
    <% if activity.persisted? %>
      <%= t('activities.edit.update_your_activity') %>
    <% else %>
      <%= t('activities.new.record_a_new_activity') %>
    <% end %>
  </h2>

  <% if activity.activity_type.custom %>
    <div class='row'>
      <div class='col-12'>
        <%= f.input :title,
                    required: true,
                    value: t('activities.form.other'),
                    label: "#{t('activities.form.how_would_you_describe_this_activity')}?",
                    label_html: { class: 'fw-semibold mb-1' },
                    placeholder: 'Describe your activity',
                    hint: t('activities.form.not_a_standard_activity_message') %>
      </div>
    </div>
  <% end %>

  <div class='row g-5'>
    <div class='col-lg-6'>
      <%= f.input :happened_on, as: :tempus_dominus_date,
                                label: t('activities.form.when_did_you_complete_this_activity'),
                                label_html: { class: 'fw-semibold mb-1' },
                                input_html: {
                                  placeholder: t('common.select_date')
                                },
                                hint: t('activities.form.build_a_record_message') %>
    </div>
    <div class='col-lg-6'>
      <%= f.input :pupil_count, as: :numeric,
                                label: t('activities.form.how_many_pupils_were_involved_in_this_activity'),
                                label_html: { class: 'fw-semibold  mb-1' },
                                placeholder: t('common.enter_number'),
                                hint: t('interventions.form.pupil_count_hint') %>

    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <hr>
      <h4 class='d-flex align-items-center'>
        <%= f.label :description, t('activities.form.tell_us_more_label') %>
        <%= render 'shared/tasks/bonus_points', type: 'activities' %>
      </h4>
      <div>
        <small><%= t('activities.form.tell_us_more_message') %></small>
        <% if SiteSettings.current&.photo_bonus_points&.nonzero? %>
          <small>
            <%= t('activities.form.bonus_points_message') %>
            <strong>
              <%= SiteSettings.current.photo_bonus_points %>
              <%= t('activities.form.bonus_points', count: SiteSettings.current.photo_bonus_points) %>.
              </strong>
            </small>
        <% end %>
      </div>

      <p><small class="text-muted"><%= t('activities.form.tell_us_more_formatting_message') %>.</small></p>

      <div class="mt-4">
        <%= render(Forms::TrixComponent.new(form: f, field: :description, button_size: :default, controls: :simple,
                                            required: true)) %>
      </div>

      <hr class='my-4'>
      <div class="d-flex justify-content-end gap-2">
        <%= f.hidden_field :activity_type_id, value: activity.activity_type.id, required: true %>
        <%= link_to t('activities.form.cancel'), activity_type_path(activity.activity_type), class: 'btn btn-secondary' %>
        <%= f.submit activity.persisted? ? t('activities.form.update_activity') : t('activities.form.save_activity'),
                     class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
