<%= simple_form_for([@school, activity], direct_upload: true, html: {class: "activity-form"}) do |f| %>

  <%= render 'shared/errors', subject: activity, subject_name: 'activity' %>

  <fieldset class="form-group">
    <label>The activity you completed</label>
    <p><%= activity.activity_type.name %></p>
    <% if !activity.persisted? %>
      <small class="form-text text-muted">Completing this activity will earn you <%= activity.activity_type.score %> points</small>
    <% end %>
  </fieldset>

  <% if activity.activity_type.custom %>
    <div class="form-group mt-4" id="title-field">
      <%= f.label 'How would you describe this activity?' %>
      <p class="small">As you're not recording one of our standard activities, you need to supply a title. Choose a clear title which will make others want to read about your activity.</p>
      <%= f.text_field :title, class: 'form-control', value: "Other"  %>
    </div>
  <% end %>

  <div class="form-group mt-4">
    <%= f.label "When did you complete this activity?", for: :happened_on %>
    <p class="small">You can record a recent activity and older activities to build up a record of all of the energy saving activities you've carried out as a school.</p>
    <%= f.input :happened_on, label: false, as: :tempus_dominus_date, default_date: Time.zone.today %>
  </div>

  <%= f.hidden_field :activity_type_id, value: activity.activity_type.id, required: true %>

  <div class="form-group mt-4">
    <%= f.label :description, "Tell us more about what you did" %>
    <small class="form-text text-muted">Tell us a bit more about your activity. What did you do? What did you learn? What could you do next to build on this task?</small>
    <small class="form-text text-muted">You can add formatting, links to your school website and attach images using the toolbar below. Hover over each icon to learn what it does.</small>
    <%= f.rich_text_area :description, required: true %>
  </div>

  <div class="actions">
    <%= f.submit activity.persisted? ? "Update activity" : "Save activity", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', activity_type_path(activity.activity_type), class: 'btn btn-secondary' %>
  </div>
<% end %>
