<h4 class="text-center">
  <strong>
    <%= t('activities.points.you_just_scored', count: points) %>
  </strong>
</h4>
<% if podium && podium.includes_school? && can?(:read, podium.scoreboard) %>
  <% if podium.school_position.position == 1 %>
    <h4 class="text-center">
      <%= t('activities.points.recorded_this_year', count: completed_activities.count) %>
      <%= t('activities.points.school_position', ordinal_place: current_school_podium.school_position.ordinal) %>
    </h4>
  <% else %>
    <h4 class="text-center">
      <%= t('activities.points.recorded_this_year', count: completed_activities.count) %>
      <% points_to_score = podium.next_school_position.points - podium.school_position.points %>
      <% place_to_reach = current_school_podium.next_school_position.ordinal %>
      <%= t('activities.points.and_need_to_score', count: points_to_score, place_to_reach: place_to_reach) %>.
    </h4>
  <% end %>
<% end %>

<% if EnergySparks::FeatureFlags.active?(:scoreboard_prizes) %>
  <div class="row info-bar bg-neutral text-center">
    <p>
      <%= t('activities.points.prizes') %> -
       <%= link_to t('activities.points.prizes_link'), 'https://blog.energysparks.uk/fantastic-prizes-to-motivate-pupils-to-take-energy-saving-action/' %>
    </p>
  </div>
<% end %>

<h4 class="text-center"><%= t('activities.points.choose_your_next_activity') %></h4>
