<% if EnergySparks::FeatureFlags.active?(:activities_2024) %>

  <%= render 'shared/task_completed', task_type: :activity, school: @school, points: @activity.activity_type.score, task_path: school_activity_path(@school, @activity)  %>

<% else %>

<% content_for :page_title, "#{@school.name} " + t('activities.completed.page_title') %>

<h1 class="text-center"><%= t('activities.completed.congratulations') %>.</h1>

<div class="row">
  <div class="col-md-6">
    <div class="col card-deck actions">
      <div class="card">
        <div class="card-body">
          <%= render 'points', podium: current_school_podium, completed_activities: @completed_activities, points: @activity.activity_type.score %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col card-deck actions">
      <% if current_school_podium && can?(:read, current_school_podium.scoreboard) %>
        <div class="card">
          <div class="card-body">
            <%= component 'podium', podium: current_school_podium %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="col card-deck actions">
      <div class="card">
        <div class="card-footer text-center">
          <%= link_to t('activities.completed.view_your_activity'), school_activity_path(@school, @activity), class: "btn btn-lg btn-light rounded-pill font-weight-bold" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col card-deck actions">
      <% if current_school_podium && can?(:read, current_school_podium.scoreboard) %>
        <div class="card">
          <div class="card-footer text-center">
            <%= link_to t('activities.completed.see_the_scoreboard'), scoreboard_path(current_school_podium.scoreboard), class: "btn btn-lg btn-light rounded-pill font-weight-bold" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="padded-row"></div>

<% if !@suggested_activities.blank? %>
  <div class="row padded-row bg-light">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h4><strong><%= t('activities.completed.recommended_for_your_school') %></strong></h4>
        <div>
          <%= link_to t('activities.completed.view_all_suggestions'), recommended_activity_categories_path, class: "btn btn-outline-dark rounded-pill font-weight-bold" %>
        </div>
      </div>
      <p><%= t('activities.completed.our_suggestions') %></p>
    </div>
  </div>
  <%= render "activity_categories/cards", activity_types: @suggested_activities.first(4), card_deck_css: "bg-light" %>
<% end %>
<% end %>

