<% content_for :page_title, "#{@school.name} Activity" %>

<div class="row">
  <div class="col-md-12">
    <h1><%= @activity.display_name %></h1>
    <div class="row alert info-bar text-dark bg-neutral" role="alert">
      <div class="col-lg-1 d-none d-lg-block align-self-center">
        <i class="fas fa-tasks fa-3x"></i>
      </div>
      <div class="col-lg-7 col-sm-12 align-self-center">
        Congratulations! We've recorded your activity and your school has just scored <strong><%= @activity.activity_type.score %></strong> points!
      </div>
    </div>
  </div>
</div>

<% if current_school_podium && current_school_podium.includes_school? && can?(:read, current_school_podium.scoreboard) %>
  <div class="row padded-row">
      <div class="col-md-12">
        <div class="row alert alert-secondary info-bar text-dark bg-light" role="alert">
          <div class="col-lg-1 d-none d-lg-block align-self-center">
            <%= fa_icon('crown') %>
          </div>
          <div class="col-lg-7 col-sm-12 align-self-center">
            <p>
              You're currently <strong><%= current_school_podium.school_position.ordinal %></strong>
              on the <%= link_to 'scoreboard', scoreboard_path(current_school_podium.scoreboard) %>,
              with a total of <strong><%= current_school_podium.school_position.points %></strong> points.
            </p>
            <% if current_school_podium.next_school_position %>
              <p>
                You need <strong><%= current_school_podium.next_school_position.points - current_school_podium.school_position.points %></strong> points to reach <strong><%= current_school_podium.next_school_position.ordinal %></strong> place.
              </p>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<% end %>

<div class="row padded-row">
  <div class="col-md-12 activity">
    <h2>Here's what you did on <%= @activity.happened_on.strftime("%A, %d %B %Y") %></h2>
    <% if @activity.description %>
      <%= @activity.description %>
    <% else %>
      <p>You haven't entered what you did for this activity, please edit the activitiy and tell us what you did.</p>
      <p><%= link_to "Edit", edit_school_activity_path(@school, @activity), class: 'btn btn-warning' %></p>
    <% end %>
  </div>
</div>

<%= link_to "Full activity record", school_activity_path(@school, @activity), class: 'btn' %>

<% if @suggested_activities %>
  <div class="row padded-row">
    <h2>How about completing some of these other activities?</h2>
    <p>These are activities that are suggested for your school, based on your previous activity and your targets.</p>
  </div>

  <% @suggested_activities.each do |activity_type| %>
    <div class="row mt-2">
      <div class="col-sm-2">
        <%= link_to activity_type_path(activity_type) do %>
          <%= render 'activity_types/image', activity_type: activity_type, css_class: "activity-card-img-thumbnail" %>
        <% end %>
      </div>
      <div class="col-sm-10">
        <p>
          <%= link_to activity_type.name, activity_type_path(activity_type) %>
        </p>
        <p>
          <%= activity_type.summary %>
        </p>
        <%= render 'activity_types/activity_type_subjects', activity_type: activity_type %>
        <%= render 'activity_types/activity_type_key_stages', activity_type: activity_type %>
        <%= render 'activity_types/activity_type_score', activity_type: activity_type %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row padded-row">
  <%= link_to "See more #{@activity.activity_type.activity_category.name} activities", activity_category_path(@activity.activity_type.activity_category), class: 'btn btn-secondary' %>
</div>
