<% content_for :page_title do %>
    <%= @school.name %> All Activities
<% end %>

<div class="row padded-row">
  <div class="col-md-12">
    <h1>Energy saving activities at <%= @school.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 activity">
    <p>A list of the recent energy saving activities recorded by <%= link_to @school.name, school_path(@school) %>.</p>

    <% @activities.each do |activity| %>
        <div class="row">
          <div class="col-md-3">
            <p>
              <span class="text-muted small"><%= activity.happened_on.strftime("%A, %d %B %Y") %></span>
            </p>
          </div>
          <div class="col-md-9">
            <%= link_to activity.title, school_activity_path(@school, activity) %>
          </div>
        </div>
    <% end %>

  <hr>

  <% if current_user && current_user.manages_school?(@school.id) %>
      <%= link_to 'New Activity', new_school_activity_path(@school), class: 'btn btn-success' %>
      <%= link_to 'School homepage', school_path(@school), class: 'btn btn-secondary' %>
  <% end %>

    <% if !user_signed_in?  %>
        <p><%= link_to "Sign in", new_user_session_path%> to record a new energy saving activity that has taken place in your school
    <% end %>

  </div>
</div>

<div class="other-actions"></div>
