<% content_for :page_title do %>
    <%= @school.name %> All Activities
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'schools/description' %>
  </div>
  <div class="col-md-9 activity">

  <h1>Recent Activities</h1>

  <ul class="list-unstyled">
    <% @activities.each do |activity| %>
        <li>
          <p><%= link_to activity.title, school_activity_path(@school, activity) %>
          <span class="text-muted small pull-right"><%= activity.happened_on.strftime("%A, %d %B %Y") %></span>
          </p>
        </li>
    <% end %>

  </ul>

  <hr>

  <% if current_user && current_user.manages_school?(@school.id) %>
      <%= link_to 'New Activity', new_school_activity_path(@school), class: 'btn btn-success' %>
  <% end %>
  <%= link_to 'School homepage', school_path(@school), class: 'btn btn-info' %>


  </div>
</div>


