<% content_for :page_title, "#{@school.name} #{t('activities.page_title')}" %>

<div class="row">
  <div class="col-md-12">
    <h1><%= t('activities.title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 activity">
    <p><%= t('activities.introduction') %> <%= link_to @school.name, school_path(@school) %>.</p>
    <table class="table activities">
      <thead>
        <tr>
          <th><%= t('activities.activity_title') %></th>
          <th><%= t('activities.type') %></th>
          <th><%= t('activities.completed_on') %></th>
          <% if can? :manage, @activity %>
            <th><%= t('activities.actions.title') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @activities.any? %>
          <% @activities.each do |activity| %>
            <tr scope="row">
              <td><%= link_to activity.display_name, school_activity_path(@school, activity) %></td>
              <td><span class="badge badge-secondary"><%= activity.activity_category.name %></span></td>
              <td><%= activity.happened_on.strftime('%A, %d %B %Y') %></td>
              <% if can? :manage, @activity %>
                <td>
                  <div class="btn-group">
                    <%= link_to t('activities.actions.edit'),
                                edit_school_activity_path(@school, activity),
                                class: 'btn btn-primary' %>
                    <%= link_to t('activities.actions.delete'),
                                school_activity_path(@school, activity),
                                method: :delete,
                                data: { confirm: t('activities.actions.are_you_sure') },
                                class: 'btn btn-danger' %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8"><%= t('activities.no_activities_completed') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%= link_to t('activities.choose_next_activity'),
              school_recommendations_path(@school, scope: :adult),
              class: 'btn btn-primary' %>
  <%= link_to t('activities.home'), school_path(@school),
              class: 'btn btn-secondary' %>

  <% if !user_signed_in? %>
    <p>
      <%= t('activities.sign_in_html', new_user_session_path: new_user_session_path) %>
    </p>
  <% end %>

  </div>
</div>

<div class="other-actions"></div>
