<% content_for :page_title do %>
    <%= @school.name %> Activity
<% end %>

<div class="row padded-row">
  <div class="col-md-12">
    <h1><%= @activity.title %></h1>
 </div>
</div>

<div class="row">
  <div class="col-md-12 activity">
      <%= raw @activity.description %>

    <p>
      Shared by <%= link_to @school.name, school_path(@school) %> on <%= @activity.happened_on.strftime("%A, %d %B %Y") %>
    </p>

    <p>
      Activity category: <%= @activity.activity_category.name %>, <%= link_to @activity.activity_type.name, activity_type_path(@activity.activity_type) %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-12 activity">
    <hr>

    <%= link_to 'All activities', school_activities_path(@school), class: 'btn btn-success' %>

    <% if can? :manage, @activity %>
        <%= link_to 'Edit', edit_school_activity_path(@school, @activity), class: 'btn btn-primary' %>
        <%= link_to 'Delete', school_activity_path(@school, @activity), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
