<% content_for :page_title do %>
    <%= @school.name %> Activities
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'schools/description' %>
  </div>
  <div class="col-md-9 activity">
    <h1>
      <%= @activity.title %>
    </h1>
    <p class="small text-muted">Posted on <%= @activity.happened_on.strftime("%A, %d %B %Y") %></p>
    <p class="small text-muted">Activity type: <%= @activity.activity_type.name %></p>


    <%= raw @activity.description %>

    <hr>
    <%= link_to 'All activities', school_activities_path(@school), class: 'btn btn-success' %>
    <%= link_to 'School homepage', school_path(@school), class: 'btn btn-info' %>

    <% if can? :manage, @activity %>
        <div class="pull-md-right">
          <%= link_to 'Edit', edit_school_activity_path(@school, @activity), class: 'btn btn-primary' %>
          <%= link_to 'Delete', school_activity_path(@school, @activity), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </div>
    <% end %>
  </div>
</div>
