<% content_for :page_title, "#{@school.name} " + t('activities.show.page_title') %>

<div class="row">
  <div class="col-md-12">
    <h1><%= @activity.display_name %></h1>
    <p class="text-muted">
      <span>
        <%= link_to @school.name, school_path(@school) %>, <%= @activity.happened_on.strftime('%A, %d %B %Y') %>
      </span>
      <br>
      <span class="badge badge-success"
            data-toggle="tooltip"
            data-placement="bottom" title="<%= t('activities.show.score_awarded_for_this_activity') %>">
            <%= t('common.points_html', count: @activity.points) %>
      </span>
      <% if @activity.pupil_count %>
        <span class="badge badge-info"
              data-toggle="tooltip"
              data-placement="bottom" title="<%= t('interventions.show.pupils_involved_in_this_activity') %>">
              <%= t('common.pupil_count', count: @activity.pupil_count) %>
        </span>
      <% end %>
      <span class="badge badge-secondary"
            data-toggle="tooltip"
            data-placement="bottom"
            title="<%= t('activities.show.category_of_activity') %>">
            <%= @activity.activity_type.activity_category.name %>
      </span>
      <span class="badge badge-primary"
            data-toggle="tooltip"
            data-placement="bottom" title="<%= t('activities.show.key_stages') %>">
            <%= @activity.activity_type.key_stage_list %>
      </span>
    </p>
  </div>
</div>

<h3>What you did</h3>
<% if @activity.description %>
  <div class="row">
    <div class="col-md-12 activity">
      <%= @activity.description %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12 activity">
      <p>
        <%= t('activities.show.no_entry') %>.
      </p>
      <p><%= link_to t('activities.actions.edit'),
                     edit_school_activity_path(@school, @activity),
                     class: 'btn btn-primary' %></p>
    </div>
  </div>
<% end %>

<% if @activity_type_content %>
  <div class="row">
    <div class="col-md-12 activity_type">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><%= t('activities.show.activity_description') %></h3>
          <p class="card-text"><%= @activity_type_content %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12 activity">
    <p></p>
    <%= link_to t('activities.show.all_activities'), school_activities_path(@school), class: 'btn btn-sm btn-secondary' %>
    <% if can? :manage, @activity %>
      <%= link_to t('activities.actions.edit'),
                  edit_school_activity_path(@school, @activity),
                  class: 'btn btn-sm btn-warning' %>
      <%= link_to t('activities.actions.delete'),
                  school_activity_path(@school, @activity), method: :delete,
                                                            data: { confirm: t('activities.actions.are_you_sure') },
                                                            class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
</div>

<%= render Admin::RecordComponent.new(@activity.observations.first, current_user:) %>
