<div class="row justify-content-md-center">
  <div class="col col-lg-8">
    <h1>Programmes</h2>
    <% unless @started_programmes.empty? %>
      <h2 class="mt-5 mb-5">Programmes you've already started</h2>

      <% @started_programmes.each do |programme| %>
        <div class="jumbotron">
          <h2><%= link_to programme.title, school_programme_path(@school, programme) %></h2>
          <div class="lead mt-3"><%= programme.description %></div>
          <p>
            <%= link_to 'Continue', school_programme_path(@school, programme), class: 'btn btn-primary btn-lg'%>
          </p>
        </div>
      <% end %>
    <% end %>

    <% unless @available_programmes.empty? %>
      <h2 class="mt-5 mb-5">Programmes you can start</h2>
      <% @available_programmes.each do |programme_type| %>
        <div class="jumbotron">
          <h2><%= link_to programme_type.title, school_programme_type_path(@school, programme_type) %></h2>
          <div class="lead mt-3"><%= programme_type.description %></div>
          <p>
            <%= button_to 'Start programme', school_programmes_path(@school, programme_type_id: programme_type), class: 'btn btn-lg btn-success' if can?(:start_programme, @school) %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
