<h1><%= @programme_type.title %> for <%= @school.name %></h1>

<p><%= @programme_type.description %></p>


<p><%= button_to 'Start this programme', school_programmes_path(@school, programme_type_id: @programme_type), method: :post, class: 'btn btn-sm btn-primary' if can?(:start_programme, @school) %></p>

<h2>Activities</h2>
<p>Although you haven't started this programme, you might have completed some of the activities, they will show in this list as Completed.</p>
<ol class="activities">
  <% @programme_type.activity_types_and_school_activity(@school).each do |activity_type, activity| %>
    <li>
      <% if activity %>
        <%= link_to "#{activity_type.name}", school_activity_path(@school, activity) %> (Completed)
      <% else %>
        <%= link_to "#{activity_type.name}", activity_type_path(activity_type) %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= link_to 'School page', school_path(@school), class: 'btn btn-sm btn-success' %>
