<h1><%= t('schools.user_tariffs.new.title', fuel_type: @energy_tariff.fuel_type) %></h1>

<div class="energy_tariff">

  <p><%= t('schools.user_tariffs.there_should_only_be_one_tariff_message') %>.</p>
  <br/>

  <%= render 'schools/energy_tariffs/meters', energy_tariff: @energy_tariff %>
  <br/>

  <%= simple_form_for [@school, @energy_tariff] do |f| %>

    <%= f.hidden_field :fuel_type, value: @energy_tariff.fuel_type %>
    <%= f.hidden_field :flat_rate, value: @energy_tariff.flat_rate %>

    <% @energy_tariff.meters.each do |meter| %>
      <%= f.hidden_field :meter_ids, value: meter.id, multiple: true %>
    <% end %>

    <%= render 'form', school: @school, energy_tariff: @energy_tariff, f: f %>

  <% end %>

</div>
