<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to admin_reports_amr_data_feed_import_logs_path, class: 'nav-link ' + (action_name == 'index' ? 'active' : '') do %>
      Summary
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_reports_amr_data_feed_import_logs_successes_path, class: 'nav-link ' + (action_name == 'successes' ? 'active' : '') do %>
      Successes <span class="badge badge-pill badge-success"><%= @successes_count %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_reports_amr_data_feed_import_logs_warnings_path, class: 'nav-link ' + (action_name == 'warnings' ? 'active' : '') do %>
      Warnings <span class="badge badge-pill badge-warning"><%= @warnings_count %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_reports_amr_data_feed_import_logs_errors_path, class: 'nav-link ' + (action_name == 'errors' ? 'active' : '') do %>
      Errors <span class="badge badge-pill badge-danger"><%= @errors_count %></span>
    <% end %>
  </li>
</ul>
<br />