<h4>Consumption and supply charges</h4>

<%= f.fields_for :fixed_charge do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :fixed_charge), f: ff %>
<% end %>

<%= f.fields_for :site_fee do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :site_fee), f: ff %>
<% end %>

<br/>

<h4>Distribution charges</h4>

<%= render 'charge_duos', user_tariff_charges: user_tariff_charges, f: f %>

<br/>

<%= render 'charge_availability', user_tariff_charges: user_tariff_charges, f: f %>

<br/>

<%= f.fields_for :reactive_power_charge do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :reactive_power_charge), f: ff %>
<% end %>

<%= f.fields_for :feed_in_tariff_levy do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :feed_in_tariff_levy), f: ff %>
<% end %>

<br/>

<h4>Transmission charges</h4>

<%= f.fields_for :settlement_agency_fee do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :settlement_agency_fee), f: ff %>
<% end %>

<%= f.fields_for :meter_asset_provider_charge do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :meter_asset_provider_charge), f: ff %>
<% end %>

<%= f.fields_for :nhh_metering_agent_charge do |ff| %>
  <%= render 'charge_basic', user_tariff_charge: user_tariff_charge_for_type(user_tariff_charges, :nhh_metering_agent_charge), f: ff %>
<% end %>

<br/>

<h4>Other charges</h4>

<%= f.fields_for :user_tariff do |ff| %>
  <%= render 'charge_vat', user_tariff: user_tariff, f: ff %>
<% end %>

<%= f.fields_for :user_tariff do |ff| %>
  <%= render 'charge_ccl', user_tariff: user_tariff, f: ff %>
<% end %>

