<div class="form-group">
  <%= f.label :charge_type %>
  <%= f.select :charge_type, options_for_select(UserTariffCharge.charge_types, f.object ? f.object.charge_type : ''), {include_blank: true}, { class: 'form-control' } %>
</div>
<div class="form-group">
  <%= f.input :value, label: 'Value in £' %>
</div>
<div class="form-group">
  <%= f.input :units, as: :radio_buttons, collection: UserTariffCharge.charge_type_units, label_method: :first %>
</div>
<p></p>
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
<%= f.submit 'Save', class: 'btn btn-primary' %>

