<h1>New school admin account</h1>
<p>
  New users will be sent an email to confirm their account and will then be asked to set a password for their account before it can be accessed.
</p>
<%= simple_form_for @school_admin, url: school_school_admins_path(@school) do |f| %>
  <%= render 'form', f: f %>
  <%= render 'schools/users/auto_create_alert_contact', f: f, school: @school, user: @school_admin %>
  <%= render 'schools/users/auto_subscribe_newsletter' %>
  <%= f.submit 'Create account', class: 'btn btn-rounded'%>
<% end %>
