<div class="row">
  <div class="col">
    <h2>Plain</h2>

    <p>
      The icons will automatically scale to the font size for the selection they are in but
      can be resized using the <code>size</code> attribute which should be in
      range <code>f1..f10</code> as defined in our fonts
    </p>

    <table class="table">
      <tr>
        <td>Default</td><td><%= render Elements::IconComponent.new(name: 'info-circle') %></td>
      </tr>
      <% %w[f1 f2 f3 f4 f5 f6].reverse.each do |size| %>
        <tr>
          <td>
            <code>size: '<%= size %>'</code>
          </td>
          <td>
            <%= render Elements::IconComponent.new(name: 'info-circle', size: size) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Fixed Width</h2>

    <p>
      Adds the `fa-fw` class.
    </p>

    <table class="table">
      <% %w[info-circle bolt clipboard].reverse.each do |name| %>
        <tr>
          <td>
            <code>name: '<%= name %>', fixed_width: true</code>
          </td>
          <td><%= render Elements::IconComponent.new(name: name, fixed_width: true) %> text</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row" style="background-color: aliceblue;">
  <div class="col">
    <h2>Circle</h2>

    <p>
      Circle style has icon centered in a white circle.
    </p>

    <table class="table">
      <% %w[f1 f2 f3 f4 f5 f6].reverse.each do |size| %>
        <tr>
          <td>
            <code>style: :circle, size: '<%= size %>'</code>
          </td>
          <td>
            <%= render Elements::IconComponent.new(name: 'bolt', size: size, style: :circle) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Coloured by Fuel Type</h2>

    <table class="table">
      <% %i[electricity gas storage_heater solar_pv exported_solar_pv].each do |fuel_type| %>
        <tr>
          <td><code>name: 'info-circle', fuel_type: :<%= fuel_type %></code></td>
          <td><%= render Elements::IconComponent.new(name: 'info-circle', fuel_type: fuel_type) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>With Icon Inferred From Fuel Type</h2>

    <table class="table">
      <% %i[electricity gas storage_heater solar_pv exported_solar_pv].each do |fuel_type| %>
        <tr>
          <td><code>fuel_type: :<%= fuel_type %></code></td>
          <td><%= render Elements::IconComponent.new(fuel_type: fuel_type) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Email Footer Icons</h2>
    <table class="table footer download-icons">
      <% %i[linkedin x-twitter instagram facebook-square github].each do |name| %>
        <tr>
          <% args = { icon_set: 'fab', name: name, style: :circle } %>
          <td><code><%= args.inspect %></code></td>
          <td><%= render Elements::IconComponent.new(**args) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Email Alert Icons</h2>
    <table class="table download-icons">
      <% [%i[electricity bolt], %i[gas fire], [nil, :'calendar-alt'], %i[solar_pv sun],
          %i[storage_heater fire-alt], %i[exported_solar_pv arrow-right]].each do |fuel_type, name| %>
        <tr>
          <% args = { fuel_type: fuel_type, name: name, style: :circle, size: 'f5' } %>
          <td><code><%= args.inspect %></code></td>
          <td><%= render Elements::IconComponent.new(**args) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<style>
  .footer .fa-stack { color: <%= Colours.dark %>; }
</style>
<script src="https://unpkg.com/modern-screenshot"></script>
<script>
  document.querySelectorAll('table.download-icons .fa-stack').forEach(element => {
    element.onclick = event => {
      event.preventDefault()
      modernScreenshot.domToPng(element).then(dataUrl => {
        const link = document.createElement('a')
        link.download = `${event.target.classList[event.target.classList.length-1]}.png`
        link.href = dataUrl
        link.click()
      })
    }
  })
</script>
