<%= tag.div id: id, class: class_names(classes, 'container mt-4 mb-4') do %>
  <div class="row ">
    <div class="col-md-6 bg-white p-3 border text-center">
      <div class="row">
        <div class="col">
          <h2><%= t('role.staff') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to t('devise.sessions.new.log_in_with_your_email_address_and_password'),
                      new_user_session_path(role: :staff, school: school),
                      class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-white p-3 border text-center">
      <div class="row">
        <div class="col">
          <h2><%= t('role.pupil') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to t('devise.sessions.new.log_in_with_your_pupil_password'),
                      new_user_session_path(role: :pupil, school: school),
                      class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
