<tr>
  <td class="description">
    <%= energy_tariff_charge_type_description(energy_tariff_charge.charge_type) %>
    <% if tip = energy_tariff_charge_type_tip(energy_tariff_charge.charge_type) %>
      <br /><small class="text-muted"><%= tip %></small>
    <% end %>
  </td>
  <td class="value">
    <%= energy_tariff_charge_type_value_label(energy_tariff_charge.charge_type) %>
  </td>
  <td class="value">
    <%= f.input :value, as: :decimal, pattern: '[0-9.]+', label: false,
      input_html: { value: value_allowing_for_errors(energy_tariff_charge) }.merge(local_assigns.slice(:data, :title)),
      error: energy_tariff_charge.errors.any? ? energy_tariff_charge.errors.full_messages.first : nil,
      required: false %>
  </td>
  <td class="units">
    <% if energy_tariff_charge_type_units_for(energy_tariff_charge.charge_type).any? %>
      per
    <% end %>
  </td>
  <td class="units">
    <% if energy_tariff_charge_type_units_for(energy_tariff_charge.charge_type).any? %>
      <%= f.select :units, options_for_select(energy_tariff_charge_type_units_for(energy_tariff_charge.charge_type), energy_tariff_charge.units), {required: :true}, { class: 'form-control' } %>
    <% end %>
  </td>
</tr>
