<table class="table table-charges">
  <tbody>
    <%= f.fields_for :agreed_availability_charge do |ff| %>
      <%= render 'charge_basic_row', energy_tariff_charge: energy_tariff_charge_for_type(energy_tariff_charges, :agreed_availability_charge), f: ff, data: { dependee: 'energy_tariff_charges_asc_limit_kw_value' } %>
    <% end %>

    <%= f.fields_for :excess_availability_charge do |ff| %>
      <%= render 'charge_basic_row', energy_tariff_charge: energy_tariff_charge_for_type(energy_tariff_charges, :excess_availability_charge), f: ff, data: { dependee: 'energy_tariff_charges_asc_limit_kw_value' } %>
    <% end %>

    <%= f.fields_for :asc_limit_kw do |ff| %>
      <%= render 'charge_basic_row', energy_tariff_charge: energy_tariff_charge_for_type(energy_tariff_charges, :asc_limit_kw), f: ff, title: I18n.t('user_tariff_charge.available_capacity_tooltip'), data: { toggle: "tooltip", placement: "right", trigger: "manual", dependant: true } %>
    <% end %>
  </tbody>
</table>
