<h1><%= t('schools.user_tariff_charges.index.title') %></h1>

<div class="energy_tariff">

  <p>
    <%= t("schools.user_tariff_charges.index.introduction_#{@energy_tariff.tariff_holder.tariff_holder_i18n_key}") %>.
  </p>
  <br/>

  <%= render 'energy_tariffs/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <% form_url = energy_tariffs_path(@energy_tariff, [:energy_tariff_charges]) %>

  <%= simple_form_for :energy_tariff_charges, url: form_url do |f| %>

    <% if @energy_tariff.gas? %>
      <%= render 'charges_edit_gas', school: @tariff_holder, energy_tariff: @energy_tariff, energy_tariff_charges: @energy_tariff_charges, f: f %>
    <% else %>
      <%= render 'charges_edit_electricity', school: @tariff_holder, energy_tariff: @energy_tariff, energy_tariff_charges: @energy_tariff_charges, f: f %>
    <% end %>

    <br/>

    <% path = energy_tariffs_path(@energy_tariff, [:energy_tariff_prices]) %>

    <%= link_to t('common.labels.previous'), path, class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>

  <% end %>

</div>
