<% content_for :header_title,
               t('schools.user_tariff_charges.index.title',
                 fuel_type: t("common.#{@energy_tariff.meter_type}").downcase) %>

<%= render EnergyTariffFormTitleComponent.new(
      energy_tariff: @energy_tariff
    ) do |c| %>
  <% c.with_notice do %>
    <%= render NoticeComponent.new(status: :neutral) do |c| %>
      <div class="d-flex justify-content-between">
        <% if @energy_tariff.dcc? %>
          <%= t('schools.user_tariff_charges.index.smart_meter_notice') %>
        <% elsif @tariff_holder.site_settings? %>
          <%= t('schools.user_tariff_charges.index.notice_site_settings') %>
        <% else %>
          <%= t('schools.user_tariff_charges.index.notice') %>
        <% end %>
        <%= link_to t('common.labels.cancel'), energy_tariffs_path(@energy_tariff), class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="energy_tariff">
      <p>
        <%= t("schools.user_tariff_charges.index.introduction_#{@energy_tariff.tariff_holder.tariff_holder_i18n_key}") %>.
      </p>

      <br>

      <% form_url = energy_tariffs_path(@energy_tariff, [:energy_tariff_charges]) %>

      <%= simple_form_for :energy_tariff_charges, url: form_url do |f| %>

        <% if @energy_tariff.gas? %>
          <%= render 'charges_edit_gas', energy_tariff: @energy_tariff, energy_tariff_charges: @energy_tariff_charges,
                                         f: f %>
        <% else %>
          <%= render 'charges_edit_electricity', energy_tariff: @energy_tariff,
                                                 energy_tariff_charges: @energy_tariff_charges, f: f %>
        <% end %>

        <br>

        <%= f.submit t('common.labels.continue'), class: 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
</div>
