<h1><%= t('schools.user_tariff_charges.index.title') %></h1>

<div class="energy_tariff">

  <p><%= t('schools.user_tariff_charges.index.using_your_bill_introduction') %>.</p>
  <br/>

  <%= render 'schools/energy_tariffs/header', energy_tariff: @energy_tariff %>

  <%= simple_form_for :energy_tariff_charges, url: school_energy_tariff_energy_tariff_charges_path(@school, @energy_tariff) do |f| %>

    <% if @energy_tariff.gas? %>
      <%= render 'charges_edit_gas', school: @school, energy_tariff: @energy_tariff, energy_tariff_charges: @energy_tariff_charges, f: f %>
    <% else %>
      <%= render 'charges_edit_electricity', school: @school, energy_tariff: @energy_tariff, energy_tariff_charges: @energy_tariff_charges, f: f %>
    <% end %>

    <br/>

    <%= link_to t('common.labels.previous'), school_energy_tariff_energy_tariff_prices_path(@school, @energy_tariff), class: 'btn' %>
    <%= f.submit t('common.labels.next'), class: 'btn btn-primary' %>

  <% end %>

</div>
