<% content_for :head do %>
  <%= javascript_pack_tag 'transport_surveys/charts' %>
<% end %>

<%= render 'header_nav' %>
<%= render 'tab_nav' %>

<% if @transport_survey.responses.any? %>
  <div class="mb-3">
    <div><strong><%= @transport_survey.total_responses %> pupils</strong> were surveyed on <strong><%= nice_dates @transport_survey.run_on %></strong>.</div>
    <div>Their travel to school generated <strong><%= @transport_survey.total_carbon.round(2) %>kg CO2</strong>.</div>
    <div> <strong><%= @transport_survey.percentage_per_category["active_travel"].round %>%</strong> used active travel, generating zero CO2,
          <strong><%= @transport_survey.percentage_per_category["public_transport"].round %>%</strong> travelled by public transport,
          <strong><%= @transport_survey.percentage_per_category["park_and_stride"].round %>%</strong> used park and stride and
          <strong><%= @transport_survey.percentage_per_category["car"].round %>%</strong> travelled by car.</div>
  </div>

  <div id="transport_surveys_pie" class="mb-3"></div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Transport category</th>
        <th>Total pupils</th>
        <th>Percentage pupils</th>
      </tr>
    </thead>
    <tbody>
      <% TransportType.categories_with_other.each do |cat, value| %>
        <tr>
          <td><%= TransportType.human_enum_name(:category, cat) %></td>
<td><%= @transport_survey.responses_per_category[cat] %></td>
          <td><%= @transport_survey.percentage_per_category[cat].round %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4>No responses have been collected</h4>
<% end %>
