<% content_for :head do %>
  <%= javascript_pack_tag 'transport_surveys/charts' %>
<% end %>

<%= render 'header_nav' %>
<%= render 'nav' %>
<h3>Results summary</h3>

<div><%= @transport_survey.total_passengers %> pupils were surveyed on <strong><%= nice_dates @transport_survey.run_on %></strong>.</div>
<div>Their travel to school generated <strong><%= @transport_survey.total_carbon %>kg CO2</strong>.</div>

<div id="transport_surveys_pie"></div>