<% content_for :head do %>
  <%= javascript_pack_tag 'transport_surveys/charts' %>
<% end %>

<%= render 'header_nav' %>
<%= render 'tab_nav' %>

<% if @transport_survey.responses.any? %>
  <div class="mb-3">
    <div><%= t('schools.transport_surveys.show.summary_html', count: @transport_survey.total_responses, date: nice_dates(@transport_survey.run_on)) %>.</div>
    <div><%= t('schools.transport_surveys.show.carbon_html', carbon: tag.strong("#{@transport_survey.total_carbon.round(2)}kg CO2")) %>.</div>
    <div>
      <% percentages = @transport_survey.percentage_per_category %>
      <%= t('schools.transport_surveys.show.percentages_html',
      walking_and_cycling: tag.strong("#{percentages["walking_and_cycling"].round}%"),
      public_transport: tag.strong("#{percentages["public_transport"].round}%"),
      park_and_stride: tag.strong("#{percentages["park_and_stride"].round}%"),
      car: tag.strong("#{percentages["car"].round}%")) %>.
    </div>
  </div>

  <div id="transport_surveys_pie" class="mb-3"></div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= t('schools.transport_surveys.common.transport_category') %></th>
        <th><%= t('schools.transport_surveys.common.total_pupils') %></th>
        <th><%= t('schools.transport_surveys.common.percentage_pupils') %></th>
      </tr>
    </thead>
    <tbody>
      <% TransportType.categories_with_other.each do |cat, value| %>
        <tr>
          <td><%= TransportType.human_enum_name(:category, cat) %></td>
          <td><%= @transport_survey.responses_per_category[cat] %></td>
          <td><%= @transport_survey.percentage_per_category[cat].round %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4><%= t('schools.transport_surveys.common.no_responses') %></h4>
<% end %>
