<% content_for :head do %>
  <%= javascript_pack_tag 'transport_surveys/charts' %>
<% end %>

<%= render 'header_nav' %>
<%= render 'tab_nav' %>

<% if @transport_survey.responses.any? %>

  <%= render 'equivalences' %>

  <h2 class="mt-3">Let's look at this in more detail here:</h2>

  <div id="transport_surveys_pie" class="mb-3"></div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= t('schools.transport_surveys.common.transport_category') %></th>
        <th><%= t('schools.transport_surveys.common.total_pupils_and_staff') %></th>
        <th><%= t('schools.transport_surveys.common.percentage_pupils_and_staff') %></th>
      </tr>
    </thead>
    <tbody>
      <% TransportType.categories_with_other.each do |cat, value| %>
        <tr>
          <td><%= TransportType.human_enum_name(:category, cat) %></td>
          <td><%= @transport_survey.responses_per_category[cat] %></td>
          <td><%= @transport_survey.percentage_per_category[cat].round %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4><%= t('schools.transport_surveys.common.no_responses') %></h4>
<% end %>
