<div class="d-flex flex-wrap align-items-end bg-light p-2 my-2 border rounded">
  <%= form_tag url_for(controller: controller_path, action: :index, only_path: true),
               method: :get, class: 'w-100' do |f| %>
    <div class="d-flex flex-wrap align-items-end gap-2">
      <%= render 'admin/reports/base_meter_reports/filter',
                 field: :school_group,
                 options: options_from_collection_for_select(SchoolGroup.organisation_groups.by_name, :id, :name,
                                                             params[:school_group]),
                 blank: 'Any School Group' %>
      <% unless @dashboard_user %>
        <%= render 'admin/reports/base_meter_reports/filter',
                   field: :admin,
                   options: options_from_collection_for_select(User.admins_by_name, :id, :display_name, params[:admin]),
                   blank: 'Any Admin User' %>
      <% end %>
      <%= yield %>
      <div class="d-flex ms-auto gap-2">
        <%= submit_tag 'Filter', class: 'btn btn-sm btn-secondary' %>
        <% unless defined? no_csv %>
          <%= link_to 'CSV for below table',
                      url_for(controller: controller_path,
                              action: :index,
                              only_path: true,
                              **params.permit(:school_group, :admin, :meter_type, :active).merge(format: :csv)),
                      class: 'ml-2 btn btn-sm btn-secondary' %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
