<div class="clearfix bg-light py-2 px-2 my-2 border rounded">
  <%= form_tag url_for(controller: controller_path, action: :index, only_path: true), method: :get do |f| %>
    <span class="nowrap">
      <%= label_tag :school_group, nil, class: 'small' %>
      <%= select_tag :school_group,
                     options_from_collection_for_select(SchoolGroup.by_name, :id, :name, params[:school_group]),
                     include_blank: 'Any School Group',
                     class: 'form-control-sm' %>
    </span>
    <span class="nowrap ml-4">
      <%= label_tag :user, nil, class: 'small' %>
      <%= select_tag :user,
                     options_from_collection_for_select(User.admins_by_name, :id, :display_name, params[:user]),
                     include_blank: 'Any Admin User',
                     class: 'form-control-sm' %>
    </span>
    <%= yield %>
    <span class="float-right">
      <%= submit_tag 'Filter', class: 'btn btn-sm' %>
      <%= link_to 'CSV',
                  url_for(
                    controller: controller_path,
                    action: :index,
                    only_path: true,
                    **params.permit(:school_group, :user, :meter_type).merge(format: :csv)
                  ),
                  class: 'btn btn-sm' %>
    </span>
  <% end %>
</div>
