<h1>Meter attributes: <%= @school_group.name %></h1>
<%= render TabsComponent.new do |component| %>
  <% component.with_tab(name: :'database-meter-attributes', label: 'Group-wide attributes') do %>
    <%= render 'shared/meter_attributes/new_select',
               available_meter_attributes: @available_meter_attributes,
               create_path: new_admin_school_group_meter_attribute_path(@school_group) %>
    <table class="table mt-3">
      <% @meter_attributes.each do |meter_attribute| %>
        <%= render 'admin/schools/school_attributes/meter_attribute', meter_attribute: meter_attribute do %>
          <div class="btn-group">
            <%= link_to 'Edit', edit_admin_school_group_meter_attribute_path(@school_group, meter_attribute),
                        class: 'btn btn-sm' %>
            <%= button_to 'Delete', admin_school_group_meter_attribute_path(@school_group, meter_attribute),
                          method: :delete, class: 'btn btn-sm' %>
            <%= link_to 'History', admin_school_group_meter_attribute_path(@school_group, meter_attribute),
                        class: 'btn btn-sm' %>
          </div>
        <% end %>
      <% end %>
    </table>
  <% end %>
  <% component.with_tab(name: :'deleted-meter-attributes', label: 'Deleted attributes') do %>
    <table class="table mt-3">
      <% @deleted_meter_attributes.each do |meter_attribute| %>
        <%= render 'admin/schools/school_attributes/meter_attribute', meter_attribute: meter_attribute do %>
          <div class="btn-group">
            <%= link_to 'History', admin_school_group_meter_attribute_path(@school_group, meter_attribute),
                        class: 'btn btn-sm' %>
          </div>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
