<div class='text-right mt-2'>
  <%= download_link(@report, @table_name, @index_params) %>
</div>

<table id="<%= comparison_table_id(@report, @table_name) %>" class="table advice-table table-sorted table-hover">
  <thead class="sticky-heading">
    <% if @colgroups.any? %>
      <tr>
        <% @colgroups.each do |colgroup| %>
          <th class="text-center" colspan="<%= colgroup[:colspan] || 1 %>"><%= colgroup[:label] %></th>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <% @headers.each_with_index do |header, idx| %>
        <th class="<%= idx.zero? ? 'text-left' : 'text-center' %>"><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
  <tfoot>
    <%= footer %>
    <% if @footer_tariff_has_changed || @footer_last_year_definition %>
      <tr>
        <td colspan="<%= @headers.count %>">
          <p><strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong></p>
          <% if @footer_tariff_has_changed %>
            <a name="tariff_has_changed" />
            <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
          <% end %>
          <% if @footer_last_year_definition %>
            <%= t('analytics.benchmarking.configuration.column_heading_explanation.last_year_definition_html') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tfoot>
</table>
