<div class="row illustration-background">
  <div class="col-6">
    <h3><%= sanitize equivalence_content.equivalence.split('. ').first %></h3>
    <h2><%= sanitize equivalence_content.equivalence.split('. ').last %></h2>

    <%= link_to '#', class: 'btn btn-sm btn-outline-dark rounded-pill pull-right' do %>
        <%= far_icon('eye') %>  Find out how much energy was used
    <% end %>
  </div>
  <div class="col-6 illustration-wrapper">
    <%= image_tag("equivalences/#{equivalence_content.equivalence_type.image_name}.svg") if equivalence_content.equivalence_type.show_image? %>
  </div>
</div>
