<div class="row">
  <% if school.has_electricity? %>
    <div class="col text-center pb-3">
      <div class="card electricity-dark electricity-card">
        <div class="card-body">
          <div class="card-title">
            <h2><%= fa_icon fuel_type_icon(:electricity) %> Electricity</h2>
          </div>
          <div class="card-text">
              Explore
          <%= link_to 'weekly', school_usage_path(school, period: :weekly, supply: :electricity), title: "See how the school's energy use varies over a week" %>
          /
          <%= link_to 'daily', school_usage_path(school, period: :daily, supply: :electricity), title: "See how the school's energy use varies over a day" %>
          usage
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if school.has_gas? %>
    <div class="col text-center pb-3">
      <div class="card gas-dark gas-card">
        <div class="card-body">
          <div class="card-title">
            <h2><%= fa_icon fuel_type_icon(:gas) %> Gas</h2>
          </div>
          <div class="card-text">
          Explore
          <%= link_to 'weekly', school_usage_path(school, period: :weekly, supply: :gas), title: "See how the school's energy use varies over a week" %>
          /
          <%= link_to 'daily', school_usage_path(school, period: :daily, supply: :gas), title: "See how the school's energy use varies over a day" %>
          usage
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
