<%= content_for :page_title, t('pupils.schools.show.title', school_name: @school.name) %>

<% content_for :dashboard_header do %>
  <%= component 'dashboard_header', school: @school, audience: @audience %>
<% end %>

<div class="container">
  <div class="row mt-4">
    <div class="col">
      <%= component 'dashboard_equivalences',
                    school: @school,
                    user: current_user %>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col">
      <%= component 'dashboard_learn_more', school: @school, audience: :pupil, user: current_user %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-4">
    <div class="col">
      <%= component 'dashboard_insights',
                    audience: @audience,
                    school: @school,
                    user: current_user,
                    progress_summary: @progress_summary %>
    </div>
  </div>
</div>

<div class="container-fluid bg-light pb-3">
  <div class="container">
    <%= component 'scoreboard_summary',
                  podium: current_school_podium,
                  user: current_user,
                  audience: @audience,
                  classes: 'mt-4 pt-4' %>

    <%= component 'timeline',
                  school: @school,
                  observations: @observations,
                  user: current_user,
                  classes: 'mt-4' %>

    <%= component 'dashboard_login', school: @school, user: current_user %>

  </div>
</div>
