<% content_for :page_title do %><%= @school.name %><% end %>

<% if @equivalences_content.present? %>
  <div id="equivalencesCarousel" class="carousel slide" data-interval="false">
    <% if @equivalences_content.size > 1 %>
      <div class="row justify-content-end">
        <a href="#equivalencesCarousel" role="button" data-slide="prev" class="h3">
          &lt;
          <span class="sr-only">Previous</span>
        </a>
        <a  href="#equivalencesCarousel" role="button" data-slide="next" class="h3">
          &gt;
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
    <div class="carousel-inner">
      <% @equivalences_content.each_with_index do |equivalence_content, index|  %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= render 'equivalence', equivalence_content: equivalence_content %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row justify-content-center mb-3">
  <% if @school.meters_for_supply(:electricity).any? %>
    <div class="col-md-3 text-center btn btn-dark m-2">
      <h1><%= fa_icon fuel_type_icon(:electricity) %></h1>
      <h2>Electricity</h2>
      <div class="h5 explore">
        Explore
        <%= link_to 'weekly', usage_school_path(@school, period: :daily, supply: :electricity), title: "See how the school's energy use varies over a week" %>
        /
        <%= link_to 'daily', usage_school_path(@school, period: :hourly, supply: :electricity), title: "See how the school's energy use varies over a day" %>
        usage
      </div>
    </div>
  <% end %>
  <% if @school.meters_for_supply(:gas).any? %>
    <div class="col-md-3 text-center btn btn-dark m-2">
      <h1><%= fa_icon fuel_type_icon(:gas) %></h1>
      <h2>Gas</h2>
      <div class="h5 explore">
        Explore
        <%= link_to 'weekly', usage_school_path(@school, period: :daily, supply: :gas), title: "See how the school's energy use varies over a week" %>
        /
        <%= link_to 'daily', usage_school_path(@school, period: :hourly, supply: :gas), title: "See how the school's energy use varies over a day" %>
        usage
      </div>
    </div>
  <% end %>
</div>

<div class="row padded-row align-items-end">
  <div class="col-md-9">
    <h2 class="mb-3">Things to investigate:</h2>
  </div>
  <div class="col-md-3">
  <%= link_to school_analysis_path(@school), class: 'btn btn-lg btn-success' do %>
    <%= fa_icon 'lightbulb' %> Find out more about how your school uses energy
  <% end %>
  </div>
</div>

<% unless @dashboard_alerts.empty? %>
  <div class="row">
    <% @dashboard_alerts.each do |content| %>
      <div class="col-md-12">
        <%= render 'schools/dashboard_alerts/alert', alert: content.alert, find_out_more: content.find_out_more,  content: content, dashboard_title: content.pupil_dashboard_title, school: @school %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="alert text-white bg-success" role="alert">
  <div class="d-flex">
    <div class="p-2 align-self-center">
      <%= fa_icon('temperature-high fa-3x') %>
    </div>
    <div class="p-2 align-self-center">
      <% if @observations.empty? %>
        <h5>Measure classroom temperatures to find out whether you should turn down the heating to save energy</h5>
      <% else %>
        <h5>Update your classroom temperatures to see if you are saving energy</h5>
      <% end %>
    </div>
    <div class="ml-auto p-2">
      <%= link_to 'Enter temperatures', new_school_observation_path(@school), class: 'btn btn-light btn', role: 'button' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col card-deck">
    <div class="card">
      <div class="card-body">
        <% if @first %>
          <h4>No activities completed, make a start!</h4>
        <% else %>
          <h4>You've completed <%= @activities_count %> activities</h4>
        <% end %>
        <% if @suggestion %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Try this one <%= @first ? 'first' : 'next' %>:
              <p><%= fa_icon('edit') %> <%= link_to @suggestion.name, activity_type_path(@suggestion) %></p>
              <h1 class="badge badge-success"><%= @suggestion.score %> </h1> points
            </li>
          </ul>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <h4><%= fa_icon('pencil-alt') %> <%= link_to 'All activities', activity_categories_path %></h4>
      </div>
    </div>
  </div>

  <div class="col card-deck">
    <% if @podium %>
      <div class="card surrounding-schools">
        <div class="card-body">
          <% if @podium.includes_school? %>
            <%= render 'podium', podium: @podium %>
          <% else %>
            <%= render 'no_points_podium', podium: @podium %>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <h4>
          <%= link_to 'See the Scoreboard', scoreboard_path(@scoreboard) %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
