<%= content_for :page_title, "Pupil dashboard for #{@school.name}" %>

<% if show_admin_page_switch?(@school) %>
  <div class="row mt-2 mb-2">
    <div class="col">
      <div class="float-right">
        <% if params[:no_data] %>
          <%= link_to 'Admin view', pupils_school_path(@school), class: 'btn btn-outline-dark bg-warning rounded-pill font-weight-bold' %>
        <% else %>
          <%= link_to 'User view', pupils_school_path(@school, no_data: true), class: 'btn btn-outline-dark bg-warning rounded-pill font-weight-bold' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @show_data_enabled_features %>
  <%= render 'equivalences', equivalences_content: @equivalences_content, school: @school if @equivalences_content.present? %>

  <h2 class="mt-2">Let's look at the energy use data for your school:</h2>
  <%= render 'pupils/analysis/top_level', school: @school %>
<% end %>

<h2 class="mt-2">Things to do</h2>
<% if @dashboard_alerts && @dashboard_alerts.any? %>
  <% @dashboard_alerts.each do |content| %>
    <%= render 'schools/dashboard/info_bar',
          colour: class_for_alert_colour(content.colour),
          icon: alert_icon(content.alert, 'fa-3x'),
          content: content.pupil_dashboard_title,
          buttons: content.find_out_more ? { 'Find out more&hellip;' => school_find_out_more_path(@school, content.find_out_more) } : {}
    %>
   <% end %>
<% end %>

<% if @show_temperature_observations %>
  <% if @temperature_observations.empty? %>
    <%= render 'schools/dashboard/info_bar',
          colour: 'bg-positive',
          icon: 'temperature-high fa-3x',
          content: 'Measure classroom temperatures to find out whether you should turn down the heating to save energy',
          buttons: { 'Enter temperatures' => new_school_temperature_observation_path(@school, introduction: true) }
    %>
  <% else %>
    <%= render 'schools/dashboard/info_bar',
          colour: 'bg-positive',
          icon: 'temperature-high fa-3x',
          content: 'Update your classroom temperatures to see if you are saving energy',
          buttons: { 'Previous temperatures' => school_temperature_observations_path(@school), 'Update temperatures' => new_school_temperature_observation_path(@school, introduction: true) }
    %>
  <% end %>
<% end %>

<div class="row">
  <div class="col card-deck actions">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center">
          <strong>
            <% if @first %>
              No activities completed, make a start!
            <% else %>
              You've completed <%= @activities_count %> activities
            <% end %>
          </strong>
        </h4>
        <% if @suggestion %>
          <h5 class="text-center">Try this one <%= @first ? 'first' : 'next' %>:</h5>
          <div class="activity-suggestion">
            <p><%= link_to @suggestion.name, activity_type_path(@suggestion) %></p>
            <span class="btn bg-neutral rounded-pill">
              <strong class="text-uppercase">
                <%= @suggestion.score %><span class="small"> points</span>
              </strong>
              /
              <span class="key-stages"><%= @suggestion.key_stage_list %></span>
            </span>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <%= link_to 'Choose another activity', activity_categories_path, class: 'btn btn-lg btn-light rounded-pill font-weight-bold' %>
      </div>
    </div>
  </div>

  <div class="col card-deck actions">
    <% if current_school_podium && can?(:read, current_school_podium.scoreboard) %>
      <div class="card surrounding-schools">
        <div class="card-body">
          <% if current_school_podium.includes_school? %>
            <%= render 'podium', podium: current_school_podium  %>
          <% else %>
            <%= render 'no_points_podium', podium: current_school_podium  %>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'See the scoreboard', scoreboard_path(current_school_podium.scoreboard), class: "btn btn-lg btn-light rounded-pill font-weight-bold" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br/>
<br/>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>
