<% content_for :page_title do %><%= @school.name %><% end %>

<% if @equivalences_content.present? %>
  <%= render 'equivalence', equivalence_content: @equivalences_content.sample %>
<% end %>

<div class="row padded-row align-items-end">
  <div class="col-md-9">
    <h2 class="mb-3">Things to do:</h2>
  </div>
</div>

<% if @dashboard_alerts.any? %>
  <% @dashboard_alerts.each do |content| %>
    <%= render 'schools/dashboard/info_bar',
          colour: class_for_alert_colour(content.colour),
          icon: alert_icon(content.alert, 'fa-3x'),
          content: content.pupil_dashboard_title,
          buttons: content.find_out_more ? { 'Find out more&hellip;' => school_find_out_more_path(@school, content.find_out_more) } : {}
    %>
   <% end %>
<% end %>

<% if @temperature_observations.empty? %>
  <%= render 'schools/dashboard/info_bar',
        colour: 'bg-positive',
        icon: 'temperature-high fa-3x',
        content: 'Measure classroom temperatures to find out whether you should turn down the heating to save energy',
        buttons: { 'Enter temperatures' => new_school_temperature_observation_path(@school) }
  %>
<% else %>
  <%= render 'schools/dashboard/info_bar',
        colour: 'bg-positive',
        icon: 'temperature-high fa-3x',
        content: 'Update your classroom temperatures to see if you are saving energy',
        buttons: { 'Previous temperatures' => school_temperature_observations_path(@school), 'Update temperatures' => new_school_temperature_observation_path(@school) }
  %>
<% end %>

<div class="row">
  <div class="col card-deck">
    <div class="card">
      <div class="card-body">
        <% if @first %>
          <h4>No activities completed, make a start!</h4>
        <% else %>
          <h4>You've completed <%= @activities_count %> activities</h4>
        <% end %>
        <% if @suggestion %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Try this one <%= @first ? 'first' : 'next' %>:
              <p><%= fa_icon('edit') %> <%= link_to @suggestion.name, activity_type_path(@suggestion) %></p>
              <h1 class="badge badge-success"><%= @suggestion.score %> </h1> points
            </li>
          </ul>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <h4><%= fa_icon('pencil-alt') %> <%= link_to 'All activities', activity_categories_path %></h4>
      </div>
    </div>
  </div>

  <div class="col card-deck">
    <% if current_school_podium %>
      <div class="card surrounding-schools">
        <div class="card-body">
          <% if current_school_podium.includes_school? %>
            <%= render 'podium', podium: current_school_podium  %>
          <% else %>
            <%= render 'no_points_podium', podium: current_school_podium  %>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <h4>
          <%= link_to 'See the Scoreboard', scoreboard_path(current_school_podium.scoreboard) %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
