<%= content_for :page_title, t('pupils.schools.show.title', school_name: @school.name) %>

<%= render 'shared/dashboard_title', school: @school do %>
  <%= render 'pupil_dashboard_buttons', school: @school %>
<% end %>

<% if @show_data_enabled_features %>
  <% if @equivalences_content.present? %>
    <%= render 'equivalences', equivalences_content: @equivalences_content, school: @school %>
  <% end %>

  <h2 class="mt-2"><%= t('pupils.schools.show.look_at_the_energy_use') %>:</h2>
  <%= render 'pupils/analysis/top_level', school: @school %>
<% else %>
  <%= render 'default_equivalences', equivalences: @default_equivalences, school: @school %>
  <%= component 'info_bar',
                status: :neutral,
                title: t('pupils.schools.show.setting_up'),
                icon: fa_icon('info-circle fa-3x'),
                buttons: {} %>
<% end %>

<h2 class="mt-2"><%= t('pupils.schools.show.things_to_do') %></h2>
<% if @dashboard_alerts && @dashboard_alerts.any? %>
  <% @dashboard_alerts.each do |content| %>
    <%= component 'info_bar',
                  status: content.colour,
                  title: content&.pupil_dashboard_title,
                  icon: fa_icon(alert_icon(content&.alert, 'fa-3x')),
                  buttons: dashboard_alert_buttons(@school, content) %>
  <% end %>
<% end %>

<% if @show_temperature_observations %>
  <% if @temperature_observations.empty? %>
    <%= component 'info_bar',
                  status: :neutral,
                  title: t('pupils.schools.show.measure_temperatures'),
                  icon: fa_icon('temperature-high fa-3x'),
                  buttons: { t('pupils.schools.show.enter_temperatures') =>
                              new_school_temperature_observation_path(@school, introduction: true) } %>
  <% else %>
    <%= component 'info_bar',
                  status: :neutral,
                  title: t('pupils.schools.show.updating_temperatures'),
                  icon: fa_icon('temperature-high fa-3x'),
                  buttons: { t('pupils.schools.show.previous_temperatures') =>
                              school_temperature_observations_path(@school),
                             t('pupils.schools.show.update_temperatures') =>
                              new_school_temperature_observation_path(@school, introduction: true) } %>
  <% end %>
<% end %>

<%= render 'schools/prompt_to_complete_programme', programmes: @programmes_to_prompt %>
<%= render 'schools/prompt_recommendations_scoreboard', school: @school %>
<%= render 'schools/dashboard/transport_surveys', school: @school %>

<%= component 'scoreboard_summary', podium: current_school_podium %>

<br>

<%= render 'shared/dashboard_timeline', school: @school, observations: @observations %>

<% unless user_signed_in? %>
  <%= render 'shared/school_login_prompt', school: @school %>
<% end %>
