<% content_for :page_title do %><%= @school.name %><% end %>

<div class="row padded-row">
  <div class="col-md-1">
    <%= image_tag("lightbulb.png", class: "pupil-dashboard") %>
  </div>
  <div class="col-md-11">
    <div class="row">
      <hgroup class="speech">
        <h3><%= @message %></h3>
      </hgroup>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
  <%= link_to school_analysis_path(@school), class: 'btn btn-lg btn-success' do %>
    <%= fa_icon 'lightbulb' %> See how your school uses energy&hellip;
  <% end %>
  </div>
</div>
<hr/>
<div class="row">
  <% if @school.meters_for_supply(:electricity).any? %>
    <div class="col-lg">
      <div class="d-flex justify-content-between align-items-center">
        <div class="h3"><b><%= fa_icon fuel_type_icon(:electricity) %> Electricity</b></div>
        <div class="h5 explore">
          Explore
          <%= link_to 'weekly', usage_school_path(@school, period: :daily, supply: :electricity), title: "See how the school's energy use varies over a week" %>
          /
          <%= link_to 'daily', usage_school_path(@school, period: :hourly, supply: :electricity), title: "See how the school's energy use varies over a day" %>
          usage
        </div>
      </div>
    </div>
  <% end %>
  <% if @school.meters_for_supply(:gas).any? %>
    <div class="col-lg">
      <div class="d-flex justify-content-between align-items-center">
        <div class="h3"><b><%= fa_icon fuel_type_icon(:gas) %> Gas</b></div>
        <div class="h5 explore">
          Explore
          <%= link_to 'weekly', usage_school_path(@school, period: :daily, supply: :gas), title: "See how the school's energy use varies over a week" %>
          /
          <%= link_to 'daily', usage_school_path(@school, period: :hourly, supply: :gas), title: "See how the school's energy use varies over a day" %>
          usage
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr/>

<% unless @dashboard_alerts.empty? %>
  <div class="row">
    <h2 class="mb-3">Things to investigate:</h2>
    <% @dashboard_alerts.each do |content| %>
      <div class="col-md-12">
        <%= render 'schools/dashboard_alerts/alert', alert: content.alert, find_out_more: content.find_out_more,  content: content, dashboard_title: content.pupil_dashboard_title, school: @school %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="alert text-white bg-success" role="alert">
  <div class="d-flex">
    <div class="p-2 align-self-center">
      <%= fa_icon('temperature-high fa-3x') %>
    </div>
    <div class="p-2 align-self-center">
      <% if @observations.empty? %>
        <h5>You haven't recorded your school temperatures yet.</h5>
      <% else %>
        <h5>Update your school temperatures</h5>
      <% end %>
    </div>
    <div class="ml-auto p-2">
      <%= link_to 'Enter temperatures', new_school_observation_path(@school), class: 'btn btn-light btn', role: 'button' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col card-deck">
    <div class="card">
      <div class="card-body">
        <% if @first %>
          <h4>No activities completed, make a start!</h4>
        <% else %>
          <h4>You've completed <%= @activities_count %> activities</h4>
        <% end %>
        <% if @suggestion %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Try this one <%= @first ? 'first' : 'next' %>:
              <p><%= fa_icon('edit') %> <%= link_to @suggestion.name, activity_type_path(@suggestion) %></p>
              <h1 class="badge badge-success"><%= @suggestion.score %> </h1> points
            </li>
          </ul>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <h4><%= fa_icon('pencil-alt') %> <%= link_to 'All activities', activity_categories_path %></h4>
      </div>
    </div>
  </div>

  <div class="col card-deck">
    <% if @podium %>
      <div class="card surrounding-schools">
        <div class="card-body">
          <% if @podium.includes_school? %>
            <%= render 'podium', podium: @podium %>
          <% else %>
            <%= render 'no_points_podium', podium: @podium %>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <h4>
          <%= link_to 'See the Scoreboard', scoreboard_path(@scoreboard) %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
