<div class="row p-2">
  <div class="admin-note col-md-12 bg-light border-left rounded border-6 <%= note.issue? ? "border-danger" : "border-warning" %>">
    <h4>
      <%= fa_icon(note.issue? ? 'exclamation-circle text-secondary' : 'sticky-note text-secondary') %> <%= note.title %>
      <div class="float-right">
        <small>
          <% if note.issue? %>
            <span class="badge <%= note.open? ? 'badge-primary' : 'badge-secondary' %>"><%= note.status.capitalize %></span>
          <% end %>
          <%= nice_date_times_today(note.updated_at) %>
        </small>
      </div>
    </h4>
    <div class="clearfix">
      <span class="badge badge-pill <%= note.issue? ? "badge-danger" : "badge-warning" %>"><%= note.note_type.capitalize %></span>
      <% if note.fuel_type %>
        <span class="badge badge-secondary"><%= note.fuel_type.capitalize %></span>
      <% end %>
      <span class='float-right'>
        <%= link_to 'Resolve', resolve_admin_school_note_path(@school, note), method: :post, class: 'btn btn-info btn-sm' if note.resolvable? %>
        <% if index %>
          <%= link_to 'View', admin_school_note_path(@school, note), class: 'btn btn-info btn-sm' %>
        <% end %>
        <%= link_to 'Edit', edit_admin_school_note_path(@school, note), class: 'btn btn-info btn-sm' %>
        <%= link_to 'Delete', admin_school_note_path(@school, note), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </span>
    </div>
    <div class="bg-white p-2 my-2"><%= note.description %></div>
    <div class="pb-2">
      <div class="badge badge-pill bg-white text-dark font-weight-normal">Created • <%= note.created_by.email %> • <%= nice_date_times_today(note.created_at) %></div>
      <div class="badge badge-pill bg-white text-dark font-weight-normal">Updated • <%= note.updated_by.email %> • <%= nice_date_times_today(note.updated_at) %></div>
    </div>
  </div>
</div>
