<div class="card mb-3 <%=field %>">
  <div class="card-header" id="<%=field%>Heading">
    <h3 class="mb-0">
      <%= form.label field, field_name, {data: {toggle: 'collapse', target: "##{field}Content"}, aria: {expanded: form.object.send(field), controls: "#{field}Content"}} do %>
        <%= form.check_box field %>
        <%= field_name %>
      <% end %>
    </h3>
  </div>

  <div id="<%=field%>Content" class="collapse <%= 'show' if form.object.send(field) %>" aria-labelledby="<%= field %>Heading">
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>
