<h3>General</h3>
<%= form.input :description, hint: 'Only used in the admin interface' %>
<%= form.input :rating_from, input_html: {min: 0, max: 10, step: 0.1}, hint: '0.0 to 10.0, alert ratings will be rounded to nearest decimal place'%>
<%= form.input :rating_to, input_html: {min: 0, max: 10, step: 0.1}, hint: '0.0 to 10.0, alert ratings will be rounded to nearest decimal place'%>

<%= form.simple_fields_for :content, content do |content| %>

  <%= content.input :colour, as: :select, collection: AlertTypeRatingContentVersion.colours.keys, include_blank: false, hint: 'For the background on dashboards' %>

  <h3>Variables</h3>

  <%= render 'admin/alert_types/variables_accordion', template_variables: template_variables %>

  <h3>Content</h3>

  <%= render 'content_section', form: form, content: content, field: :sms_active, field_name: 'SMS content' do %>
    <%= content.input :sms_content, label: 'SMS content' %>
  <% end %>

  <%= render 'content_section', form: form, field: :email_active, field_name: 'Email content' do %>
    <%= content.input :email_title, as: :string %>
    <%= content.input :email_content, as: :trix_editor %>
  <% end %>

  <%= render 'content_section', form: form, field: :find_out_more_active, field_name: 'Find out more' do %>
    <%= content.input :teacher_dashboard_title, hint: 'Shows on teacher dashboards' %>
    <%= content.input :pupil_dashboard_title, hint: 'Shows on pupil dashboards' %>

    <ul class="nav nav-tabs mb-2" id="content-preview" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#content" id="content-tab" data-toggle="tab"  role="tab" aria-controls="content" aria-selected="true">Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#preview" id="preview-tab" data-toggle="tab"  role="tab" aria-controls="preview">Preview</a>
      </li>
    </ul>

    <div class="tab-content" id="content-preview-panes">

      <div class="tab-pane fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
        <%= content.input :page_title, hint: 'Main title at top of Find Out More Page' %>
        <%= content.input :page_content, as: :trix_editor, hint: 'Main body copy for Find Out More Page' %>
      </div>

      <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab" data-content-url="<%= admin_alert_type_rating_preview_path(alert_type, form.object, template: :find_out_more) %>">
        <div class="loading">
          <h3 class="mb-3 mt-3"><%= fa_icon('spinner') %> Loading...</h3>
        </div>
        <div class="content pt-3 pb-3">
        </div>
      </div>
    </div>
  <% end %>

<% end %>
