<h3>General</h3>
<%= form.input :description, hint: 'Only used in the admin interface' %>

<% if alert_type.has_ratings?  %>
  <%= form.input :rating_from, input_html: {min: 0, max: 10, step: 0.1}, hint: '0.0 to 10.0, alert ratings will be rounded to nearest decimal place'%>
  <%= form.input :rating_to, input_html: {min: 0, max: 10, step: 0.1}, hint: '0.0 to 10.0, alert ratings will be rounded to nearest decimal place'%>
<% else %>
  <%= form.hidden_field :rating_from %>
  <%= form.hidden_field :rating_to %>
<% end %>

<%= form.simple_fields_for :content, content do |content| %>

  <%= content.input :colour, as: :select, collection: AlertTypeRatingContentVersion.colours.keys, include_blank: false, hint: 'For the background on dashboards', input_html: { class: 'colours' }, label_method: :humanize %>

  <h3>Variables</h3>

  <%= render 'admin/shared/variables_accordion', template_variables: template_variables, units_field: :units, example_variables: example_variables %>

  <h3>Content</h3>

  <%= render 'content_section', form: form, content: content, field: :sms_active, field_name: 'SMS content' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'sms', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :sms) do %>
      <%= content.input :sms_content, label: 'SMS content' %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :email_active, field_name: 'Email content' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'email', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :email) do %>
      <%= content.input :email_title, as: :string %>
      <%= content.input :email_content, as: :trix_editor %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :teacher_dashboard_alert_active, field_name: 'Teacher dashboard alert' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'teacher_dashboard_alert', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :alert, field: :teacher_dashboard_title) do %>
      <%= content.input :teacher_dashboard_title, as: :trix_editor %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :pupil_dashboard_alert_active, field_name: 'Pupil dashboard alert' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'pupil_dashboard_alert', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :alert, field: :pupil_dashboard_title) do %>
      <%= content.input :pupil_dashboard_title, as: :trix_editor %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :public_dashboard_alert_active, field_name: 'Public dashboard alert' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'public_dashboard_alert', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :alert, field: :public_dashboard_title) do %>
      <%= content.input :public_dashboard_title, as: :trix_editor %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :management_dashboard_alert_active, field_name: 'Management dashboard alert' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'management_dashboard_alert', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :alert, field: :management_dashboard_title) do %>
      <%= content.input :management_dashboard_title, as: :trix_editor %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :management_priorities_active, field_name: 'Management priorities' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'management_priorities', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :management_priorities) do %>
      <%= content.input :management_priorities_title, as: :trix_editor %>
    <% end %>
  <% end %>

  <%= render 'content_section', form: form, field: :find_out_more_active, field_name: 'Find out more' do %>
    <%= render 'admin/shared/preview_section', content: content, scope: 'find_out_more', preview_url: admin_alert_type_ratings_preview_path(alert_type, template: :find_out_more) do %>
      <%= content.input :find_out_more_chart_variable, as: :radio_buttons, collection: @available_charts %>
      <%= content.input :find_out_more_chart_title %>
      <%= content.input :find_out_more_title, hint: 'Main title at top of Find Out More Page' %>
      <%= content.input :find_out_more_content, as: :trix_editor, hint: 'Main body copy for Find Out More Page' %>
    <% end %>

  <% end %>

<% end %>
