<% charts.each_with_index do |(fuel_type, chart_type), index| %>
  <div id="chart_wrapper_<%= index %>" class="col-sm">
    <div class="d-flex justify-content-between align-items-center">

      <div class="h4"><%= fuel_type.to_s.capitalize %></div>

      <% if chart_type == Schools::Configuration::TEACHERS_GAS %>
        <span class="very-small" title="This chart automatically adjusts the school's gas consumption for outside temperature, removing the effect of changes in outside temperature">(Adjusted for outside temperature)</span>
      <% end %>

      <div>
        Explore
        <%= link_to 'weekly', usage_school_path(@school, period: :daily, supply: fuel_type), title: "See how the school's energy use varies over a week" %>
        /
        <%= link_to 'daily', usage_school_path(@school, period: :hourly, supply: fuel_type), title: "See how the school's energy use varies over a day" %>
        usage
      </div>
    </div>

    <div id="chart_<%= index %>"
         class="analysis-chart"
         data-teachers-dashboard="true"
         data-no-advice="true"
         data-no-zoom="true"
         data-chart-index="<%= index %>"
         data-chart-y-axis-units="gb_pounds"
         data-chart-json='<%= school_chart_path(@school) + ".json?chart_type=#{chart_type}&chart_y_axis_units=gb_pounds" %>'></div>
  </div>
<% end %>