<% content_for :page_title do %><%= @school.name %><% end %>

<% if @school.active? %>
  <% if can? :deactivate, @school %>
    <div class="alert alert-warning">
      <%= @school.name %> is currently <strong>ACTIVE</strong>.
      <% if can? :deactivate, @school %>
        <%= link_to "Deactivate school", school_deactivation_path(@school), method: :post, class: 'btn btn-danger ml-3' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= @school.name %> is currently <strong>INACTIVE</strong> and won't be accessible to non-admin users.
    <% if can? :activate, @school %>
      <%= link_to "Activate school", school_activation_path(@school), method: :post, class: 'btn btn-success ml-3' %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm">
    <h2>Energy Usage </h2>
  </div>
  <div class=" align-self-end">
    <%= link_to school_analysis_path(@school), class: 'btn btn-success' do %>
      <%= fa_icon 'chart-pie' %> Learn more about how your school uses energy
    <% end %>
  </div>
</div>
<p></p>
<div class="row teachers">
  <% if @school.meters_for_supply(:electricity).any? %>
    <div id="chart_wrapper_0" class="col-sm">
      <div class="row no-gutters">
        <div class="col-lg-7">
          <h3><%= fa_icon fuel_type_icon(:electricity) %> Electricity</h3>
        </div>
        <div class="col-lg-5">
          <%= link_to usage_school_path(@school, period: :daily, supply: :electricity), class: 'btn btn-primary', title: "See how the school's energy use varies over a week" do %>
            <%= fa_icon 'chart-bar' %> Explore weekly
          <% end %>
          <%= link_to usage_school_path(@school, period: :hourly, supply: :electricity), class: 'btn btn-primary', title: "See how the school's energy use varies over a day" do %>
            <%= fa_icon 'chart-bar' %> Explore daily
          <% end %>
        </div>
      </div>
      <p class="pull-right small ">14 days leading up to <%= nice_dates @school.last_full_week(:electricity).last if @school.last_full_week(:electricity) %></p>
      <div id="chart_0" class="analysis-chart" data-no-advice="true" data-chart-index="0" data-chart-y-axis-units="kwh" data-chart-json="<%= school_chart_path(@school) + '.json?chart_type=teachers_landing_page_electricity&chart_y_axis_units=kwh' %>"></div>
    </div>
  <% end %>
  <% if @school.meters_for_supply(:gas).any? %>
    <div id="chart_wrapper_1" class="col-sm">
      <div class="row no-gutters">
        <div class="col-md-7">
          <h3><%= fa_icon fuel_type_icon(:gas) %> Gas <span class="h6" title="This chart automatically adjusts the school's gas consumption for outside temperature, removing the effect of changes in outside temperature">(Adjusted for outside temperature)</span></h3>
        </div>
        <div class="col-md-5">
         <%= link_to usage_school_path(@school, period: :daily, supply: :gas), class: 'btn btn-primary', title: "See how the school's energy use varies over a week" do %>
            <%= fa_icon 'chart-bar' %> Explore weekly
          <% end %>
          <%= link_to usage_school_path(@school, period: :hourly, supply: :gas), class: 'btn btn-primary', title: "See how the school's energy use varies over a day" do %>
            <%= fa_icon 'chart-bar' %> Explore daily
          <% end %>
        </div>
      </div>
      <p class="pull-right small">14 days leading up to <%= nice_dates @school.last_full_week(:gas).last if @school.last_full_week(:gas) %></p>
      <div id="chart_1" class="analysis-chart" data-no-advice="true" data-chart-index="1" data-chart-y-axis-units="kwh" data-chart-json="<%= school_chart_path(@school) + '.json?chart_type=teachers_landing_page_gas&chart_y_axis_units=kwh' %>"></div>
    </div>
  <% end %>
</div>

<% if @find_out_more_alert %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'schools/find_out_more/alert', content: @find_out_more_alert_content, school: @school, find_out_more: @find_out_more_alert %>
    </div>
  </div>

  <% unless @find_out_more_alert_activity_types.empty? %>
    <div class="row">
      <div class="col-md-12 jumbotron things-to-try pt-3 pb-3">
        <h2>Things to try</h2>
        <ul>
          <% @find_out_more_alert_activity_types.each do |activity_type| %>
            <li><%= link_to activity_type.name, activity_type_path(activity_type) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<% end %>


<div class="card">
  <div class="card-header">
    <div class="row justify-content-between">
      <div class="col-10">
        <h4 class="">
          <%= fa_icon('pen-square') %>
          <% if @first %>
            No activities completed, make a start!
          <% else %>
            You've completed <%= @activities_count %> activities
          <% end %>
        </h4>
      </div>
      <div class="col-2 text-right">
        <%= link_to 'View activity log', school_activities_path(@school), class: 'btn btn-sm btn-secondary pull-right' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-9">
        <h4 class="">Activities to try next:</h4>
      </div>
      <div class="col-3 text-right">
        <%= link_to 'More suggestions', suggest_activity_school_path(@school), class: 'btn btn-sm btn-primary pull-right' %>
        <%= link_to 'All activities', activity_categories_path, class: 'btn btn-sm btn-secondary pull-right' %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <% @suggestions.first(3).each do |activity_type| %>
        <li class="list-group-item"><%= fa_icon('edit') %> <%= link_to activity_type.name, activity_type_path(activity_type) %></li>
      <% end %>
    </ul>
  </div>
</div>
