<%= content_for :page_title, @school.name %>

<% if @school.active? %>
  <% if can? :deactivate, @school %>
    <div class="alert alert-warning">
      <%= @school.name %> is currently <strong>ACTIVE</strong>.
      <% if can? :deactivate, @school %>
        <%= link_to "Deactivate school", school_deactivation_path(@school), method: :post, class: 'btn btn-danger ml-3' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= @school.name %> is currently <strong>INACTIVE</strong> and won't be accessible to non-admin users.
    <% if can? :activate, @school %>
      <%= link_to "Activate school", school_activation_path(@school), method: :post, class: 'btn btn-success ml-3' %>
    <% end %>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center">
  <h1>Energy Usage&hellip;</h1>
  <% if @school.configuration %>
    <div class="h5"><%= link_to "Learn more about your school's energy use", school_analysis_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %></div>
  <% end %>
</div>
<p></p>
<div class="row teachers">
  <%= render 'teachers/schools/charts', charts: @charts %>
</div>

<% if site_settings.message_for_no_contacts && @school.contacts.empty? %>
  <%= render 'schools/dashboard/bar', colour: 'bg-neutral', content: "Sign-up for Energy Sparks email or text alerts. Energy Sparks alerts give you early warning of changes in your school's energy use and highlight long term problems with your energy consumption with focused recommendations to save energy.", icon: 'exclamation-circle fa-3x', buttons: { 'Add alert contacts' => school_contacts_path(@school)} %>
<% end %>

<% if @dashboard_alert %>
  <div class="act-on-energy-usage">
    <h3>Act on energy usage</h3>
    <%= render 'schools/dashboard/bar', colour: class_for_alert_colour(@dashboard_alert_content.colour), icon: alert_icon(@dashboard_alert.alert, 'fa-3x'), content: @dashboard_alert_content.teacher_dashboard_title, find_out_more_path: @dashboard_alert_content.find_out_more ? school_find_out_more_path(@school, @dashboard_alert_content.find_out_more) : nil,  buttons: @dashboard_alert_content.find_out_more ? {'Find out more&hellip;' => school_find_out_more_path(@school, @dashboard_alert_content.find_out_more)} : {} %>
  </div>
<% end %>

<% if @activities_count < 1 %>
  <h2 class="p-2">You’ve not completed any activities yet</h2>
<% else %>
  <h2 class="p-2">You’ve completed <%= pluralize(@activities_count, 'learning activity')%></h2>
<% end %>

<div class="card-deck">
  <div class="card border-0">
    <h3 class="p-2">Try these next&hellip;</h3>
  </div>
  <div class="card border-0">
  </div>
    <div class="card border-0">
      <% if @activities_from_programmes.empty? && @suggested_programme.present? %>
        <h3 class="p-2">Or, start a programme&hellip;</h3>
      <% end %>
  </div>
</div>

<div class="card-deck teachers-dashboard">
  <% @activities_from_activity_history.each do |activity_type| %>
    <%= render 'activity_types/card', activity_type: activity_type, based_on: 'previous activities'%>
  <% end %>

  <% @activities_from_alerts.each do |activity_type| %>
    <%= render 'activity_types/card', activity_type: activity_type, based_on: 'your alerts' %>
  <% end %>

  <% if @activities_from_programmes.empty? && @suggested_programme.present? %>

    <div class="card mb-2 programme">
      <div class="card-body">
        <%= link_to school_programme_types_path(@school, @suggested_programme) do %>
          <h4 class="card-title"><%= @suggested_programme.title %></h4>
          <p class="card-text">
            <%= @suggested_programme.short_description %>
          </p>
        <% end %>
      </div>
      <div class="card-footer">
        <span class="bg-positive btn rounded-pill"><strong><%= sanitize pluralize(@suggested_programme.activity_types.count, '<span class="small">ACTIVITY</span>', '<span class="small">ACTIVITIES</span>') %></strong></span>
      </div>
    </div>

  <% else %>

    <% @activities_from_programmes.each do |activity_type| %>
      <%= render 'activity_types/card', activity_type: activity_type, based_on: 'your programmes' %>
    <% end %>

  <% end %>

</div>

<% if can?(:manage, Activity) || can?(:create, Observation) || can?(:start_programme, @school) %>
  <div class="card-deck actions">
    <% if can?(:manage, Activity) %>
      <div class="card mb-2 text-center">
        <%= link_to 'Choose another activity', suggest_activity_school_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      </div>
    <% end %>
    <% if can?(:create, Observation) %>
      <div class="card mb-2">
        <%= link_to 'Record an energy saving action', new_school_action_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      </div>
    <% end %>
    <% if can?(:start_programme, @school) %>
      <div class="card mb-2">
        <%= link_to 'Choose another programme', school_programme_types_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @observations.empty? %>
  <div class="row justify-content-between">
    <div class="col-10">
      <h1>What's been going on?</h1>
    </div>
    <div class="col-2 text-right">
      <%= link_to 'View all actions', school_timeline_path(@school), class: 'btn btn-sm btn-secondary pull-right' %>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-md-10">
      <%= render 'schools/observations/timeline', observations: @observations, show_actions: false%>
    </div>
  </div>
<% end %>
