<% content_for :page_title do %><%= @school.name %><% end %>

<div typeof="School" class="teachers">
  <div class="row">
    <% @number_of_charts.times do |number| %>
      <div id="chart_wrapper_<%= number %>"  class="col-sm">
        <h3 class="analysis"><%= @charts[number].to_s.humanize %></h3>
        <div id="chart_<%= number %>" class="analysis-chart" data-chart-index="<%= number %>" data-no-advice="true" data-chart-y-axis-units="kwh" data-chart-json="<%= school_chart_path(@school) + '.json?chart_type=' + @charts[number].to_s  + '&chart_y_axis_units=kwh' %>"></div>
      </div>
    <% end %>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h2>Things to try</h2>
      <p>Will go here</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'schools/alerts/alert', alert: @latest_alerts_sample, school: @school if @school.alerts.any? %>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h2>Here is what has been going on</h2>
      <p>Activity card will go here</p>
    </div>
  </div>
</div>
