<%= content_for :page_title, @school.name %>

<% if @school.active? %>
  <% if can? :deactivate, @school %>
    <div class="alert alert-warning">
      <%= @school.name %> is currently <strong>ACTIVE</strong>.
      <% if can? :deactivate, @school %>
        <%= link_to "Deactivate school", school_deactivation_path(@school), method: :post, class: 'btn btn-danger ml-3' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= @school.name %> is currently <strong>INACTIVE</strong> and won't be accessible to non-admin users.
    <% if can? :activate, @school %>
      <%= link_to "Activate school", school_activation_path(@school), method: :post, class: 'btn btn-success ml-3' %>
    <% end %>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center">
  <h2>Energy Usage</h2>
  <% if @school.configuration %>
    <div class="h5"><%= link_to "Learn more about your school's energy use", school_analysis_path(@school) %></div>
  <% end %>
</div>
<p></p>
<div class="row teachers">
  <% @charts.each_with_index do |(fuel_type, chart_type), index| %>
    <div id="chart_wrapper_<%= index %>" class="col-sm">
      <div class="d-flex justify-content-between align-items-center">
        <div class="h3"><b><%= fa_icon fuel_type_icon(fuel_type) %> <%= fuel_type.to_s.capitalize %></b></div>
        <% if chart_type == Schools::Configuration::TEACHERS_GAS %>
          <span class="small" title="This chart automatically adjusts the school's gas consumption for outside temperature, removing the effect of changes in outside temperature">(Adjusted for outside temperature)</span>
        <% end %>
        <div class="h5 explore">
          Explore
          <%= link_to 'weekly', usage_school_path(@school, period: :daily, supply: fuel_type), title: "See how the school's energy use varies over a week" %>
          /
          <%= link_to 'daily', usage_school_path(@school, period: :hourly, supply: fuel_type), title: "See how the school's energy use varies over a day" %>
          usage
        </div>
      </div>

      <div id="chart_<%= index %>" class="analysis-chart" data-no-advice="true" data-no-zoom="true" data-chart-index="<%= index %>" data-chart-y-axis-units="gb_pounds" data-chart-json='<%= school_chart_path(@school) + ".json?chart_type=#{chart_type}&chart_y_axis_units=gb_pounds" %>'></div>
    </div>
  <% end %>
</div>

<% if can? :create, Observation %>
  <div class="row mt-3 mb-3">
    <div class="col">
      <h2>Act on energy usage</h2>
      <ul class="nav nav-pills nav-fill mr-3 ml-3 mt-2">
        <li class="nav-item mr-2 ml-2 mb-2">
          <%= link_to 'Start an activity', suggest_activity_school_path(@school), class: 'nav-link btn btn-info' %>
        </li>
        <li class="nav-item mr-2 ml-2 mb-2">
          <%= link_to 'Record an energy saving action', new_school_action_path(@school), class: 'nav-link btn btn-info' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% if @dashboard_alert %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'schools/dashboard_alerts/alert', alert: @dashboard_alert.alert, content: @dashboard_alert_content, school: @school, find_out_more: @dashboard_alert_content.find_out_more, dashboard_title: @dashboard_alert_content.teacher_dashboard_title %>
    </div>
  </div>

  <% unless @find_out_more_activity_types.nil? || @find_out_more_activity_types.empty? %>
    <div class="row">
      <div class="col-md-12 jumbotron things-to-try pt-3 pb-3">
        <h2>Things to try</h2>
        <ul>
          <% @find_out_more_activity_types.each do |activity_type| %>
            <li><%= link_to activity_type.name, activity_type_path(activity_type) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12 jumbotron things-to-try pt-3 pb-3">
    <h2>Try a new programme</h2>
    <ul>
      <li><%= link_to 'See active programmes', programme_types_path %></li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row justify-content-between">
      <div class="col-10">
        <h4 class="">
          <%= fa_icon('pen-square') %>
          <% if @first %>
            No activities completed, make a start!
          <% else %>
            You've completed <%= @activities_count %> activities
          <% end %>
        </h4>
      </div>
      <div class="col-2 text-right">
        <%= link_to 'View activity log', school_activities_path(@school), class: 'btn btn-sm btn-secondary pull-right' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-9">
        <h4 class="">Activities to try next:</h4>
      </div>
      <div class="col-3 text-right">
        <%= link_to 'More suggestions', suggest_activity_school_path(@school), class: 'btn btn-sm btn-primary pull-right' %>
        <%= link_to 'All activities', activity_categories_path, class: 'btn btn-sm btn-secondary pull-right' %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <% @suggestions.first(3).each do |activity_type| %>
        <li class="list-group-item"><%= fa_icon('edit') %> <%= link_to activity_type.name, activity_type_path(activity_type) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'schools/actions/investigate', school: @school %>
