<%= form_for([:admin, activity_type], html: { id: 'activity_type_form' }) do |f| %>

  <%= render 'shared/errors', subject: activity_type, subject_name: 'activity type' %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :activity_category_id %>
    <%= f.select(
            :activity_category_id,
            options_from_collection_for_select(
                ActivityCategory.all, 'id', 'name', @activity_type.activity_category_id),
            {include_blank: false},
            {class: 'form-control'}
        )
    %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.rich_text_area :description, required: true, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :score %>
    <%= f.text_field :score, class: 'form-control' %>
  </div>

  <%= render 'shared/custom_checkbox', f: f, field_name: :active %>
  <%= render 'shared/custom_checkbox', f: f, field_name: :repeatable, label_text: 'Repeatable?' %>
  <%= render 'shared/custom_checkbox', f: f, field_name: :data_driven, label_text: 'Uses data?' %>
  <%= render 'shared/custom_checkbox', f: f, field_name: :custom, label_text: "Custom ('Other')" %>

  <h2>Key Stages</h2>
  <%= render 'crud_filter_checkboxes', field: :key_stage_ids, collection: @key_stages, form: f %>

  <h2>Impacts</h2>
  <%= render 'crud_filter_checkboxes', field: :impact_ids, collection: @impacts, form: f %>

  <h2>Subjects</h2>
  <%= render 'crud_filter_checkboxes', field: :subject_ids, collection: @subjects, form: f %>

  <h2>Topics</h2>
  <%= render 'crud_filter_checkboxes', field: :topic_ids, collection: @topics, form: f %>

  <h2>Timings</h2>
  <%= render 'crud_filter_checkboxes', field: :activity_timing_ids, collection: @activity_timings, form: f %>

  <h2>Suggested Next Activities</h2>

  <div class="row">
    <div class="col-md-8 mb-3">
      <label for="firstName">Activity Type</label>
    </div>
    <div class="col-md-1 mb-3">
      <label for="lastName">Delete?</label>
    </div>
  </div>

  <%= f.fields_for :activity_type_suggestions do |suggestion| %>
    <div class="row">
      <div class="col-md-8 mb-3">
        <%= suggestion.select(
          :suggested_type_id,
          grouped_options_for_select(
            ActivityCategory.listed_with_activity_types.map{|category, types| [category.name, types.map {|type| [type.name_with_key_stages, type.id]}]},
            suggestion.object.suggested_type_id.to_s
          ),
          { include_blank: true },
          { class: 'form-control select2'}
        )
        %>
      </div>
      <div class="col-md-1 mb-3">
        <%= suggestion.check_box :_destroy, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
