<h1>Report for meter <%= @meter.school.name %> <small class="text-muted"><%= @meter.display_name %></small></h1>
<p><%= link_to 'All meters', reports_amr_data_index_path %></p>

<h2>Missing days summary</h2>
<p>Dates start at date of first recorded reading, <%= nice_dates @first_reading.read_at %>, up until the present day.</p><p>There is usually a delay of a few days before receiving meter readings, hence the last few days will usually have no readings.</p>


<div id="calendar" class="calendar"></div>

<div class='calendar-legend row'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span style='background:rgb(255,172,33);'></span>Partial data</li>
      <li><span style='background:rgb(92,184,92);'></span>Full data</li>
      <li><span style='background:rgb(255,69,0);'></span>Missing day</li>
    </ul>
  </div>
</div>

<div class="row">
  <ul>
    <% @missing_array.group_by{ |m| m[0].year }.each do |year| %>
      <h3><%= year[0] %></h3>
      <% year[1].each do |missing| %>
        <li><%= "#{nice_dates(missing[0])} #{missing[1]}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<!--
<h2>Full report</h2>
<ul>
  <%# (@first_reading.read_at.to_date..Date.today).each do |day| %>
    <%# if @reading_summary.key?(day) %>
      <li><%#= "#{day} - readings: #{@reading_summary[day]}" %></li>
    <%# else %>
      <li><%#= "#{day} - NO READINGS" %></li>
    <%# end %>
  <%# end %>
</ul> -->
