<% content_for :page_title do %>
    Admin Reports
<% end %>
<div class="application container">
  <div class="row padded-row">
    <div class="col-md-9">
      <h1>Admin Reports</h1>
    </div>
  </div>

  <div class="row">
    <ul>
      <li><%= link_to "AMR Report", reports_amr_data_index_path %></li>
      <li><%= link_to "Loading Report", reports_loading_path %></li>
      <li><%= link_to "Weather Data Feed Report", reports_data_feed_show_path(DataFeeds::WeatherUnderground.first, :temperature) %></li>
      <li><%= link_to "Solar Irradiation Data Feed Report", reports_data_feed_show_path(DataFeeds::WeatherUnderground.first, :solar_irradiation) %></li>
      <li><%= link_to "Solar PV Data Feed Report", reports_data_feed_show_path(DataFeeds::SolarPvTuos.first, :solar_pv) %></li>
    </ul>
  </div>
</div>