<% content_for :page_title do %>Admin Reports<% end %>
<div class="application container">
  <div class="row padded-row">
    <div class="col-md-9">
      <h1>Admin Reports</h1>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Report</th>
        <th>Latest reading date</th>
        <th>Download all data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "AMR Report", reports_amr_validated_readings_path %></td>
        <td></td>
        <td></td>
      </tr>
      <% DataFeeds::WeatherUnderground.all.each do |data_feed| %>
        <tr>
          <td><%= link_to "#{data_feed.title} - temperature", data_feed_path(data_feed, :temperature) %></td>
          <td><%= nice_date_times data_feed.last_reading_time %></td>
          <td><%= link_to "CSV", data_feed_path(data_feed, :temperature, format: "csv") %></td>

        </tr>
        <tr>
          <td><%= link_to "#{data_feed.title} - solar irradiation", data_feed_path(data_feed, :solar_irradiation) %></td>
          <td><%= nice_date_times data_feed.last_reading_time %></td>
          <td><%= link_to "CSV", data_feed_path(data_feed, :solar_irradiation, format: "csv") %></td>
        </tr>
      <% end %>
      <% DataFeeds::SolarPvTuos.all.each do |data_feed| %>
        <tr>
          <td><%= link_to  "#{data_feed.title}", data_feed_path(data_feed, :solar_pv) %></td>
          <td><%= nice_date_times data_feed.last_reading_time %></td>
          <td><%= link_to "CSV", data_feed_path(data_feed, :solar_pv, format: "csv") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
