<h1><%= @alert_type.title %></h1>

<p><%= link_to 'All alert types', admin_alert_types_path %></p>

<%= render 'nav', alert_type: @alert_type %>

<dl class="row">
  <dt class="col-md-2">Fuel</dt>
  <dd class="col-md-10"><%= @alert_type.display_fuel_type %></dd>

  <dt class="col-md-2">Sub category</dt>
  <dd class="col-md-10"><%= @alert_type.sub_category ? @alert_type.sub_category.to_s.capitalize : 'Not set' %></dd>

  <dt class="col-md-2">Group</dt>
  <dd class="col-md-10"><%= @alert_type.group&.humanize %></dd>

  <dt class="col-md-2">Frequency</dt>
  <dd class="col-md-10"><%= @alert_type.frequency.humanize %></dd>

  <dt class="col-md-2">Benchmark?</dt>
  <dd class="col-md-10"><%= y_n(@alert_type.benchmark) %></dd>

  <dt class="col-md-2">Advice Page</dt>
  <dd class="col-md-10">
    <% if @alert_type.advice_page.present? %>
      <%= link_to @alert_type.advice_page.label, edit_admin_advice_page_path(@alert_type.advice_page) %>
    <% else %>
      none
    <% end %>
  </dd>

  <dt class="col-md-2">Link to</dt>
  <dd class="col-md-10">
    <% if @alert_type.advice_page.present? %>
      <%= @alert_type.link_to.humanize %>
      <% if @alert_type.link_to_section.present? %>
        (#<%= @alert_type.link_to_section %>)
      <% end %>
    <% else %>
      N/A
    <% end %>
  </dd>


  <dt class="col-md-2">Class</dt>
  <dd class="col-md-10"><%= @alert_type.class_name %></dd>

  <dt class="col-md-2">Enabled</dt>
  <dd class="col-md-10"><%= @alert_type.enabled&.to_s&.capitalize %></dd>
</dl>

<% if @alert_type.description.present? %>
  <h2>Description</h2>
  <%= @alert_type.description %>
<% end %>

<p>
  <%= link_to 'Edit', edit_admin_alert_type_path(@alert_type), class: 'btn btn-small btn-primary' %>
</p>
