<h1>Meter Loading Report</h1>

<p>
  Find the most recent 30 days of readings for a meter to identify the source of each reading.
</p>

<%= simple_form_for admin_reports_meter_loading_reports_path, method: :get, html: { class: 'form' } do |f| %>
  <%= f.input :mpxn, label: 'MPAN/MPRN', autofocus: true, input_html: { name: :mpxn, value: params[:mpxn] } %>
  <%= f.submit :Search, class: 'btn btn-primary' %>
<% end %>

<ul>
  <li>Reading date - date of reading as interpreted by the system</li>
  <li>File name - the name of the latest file to provide readings on this date. For feeds that send partial readings, the
  data might have been compiled from several CSV files.</li>
  <li>Load type - whether this was a manual or automated upload. Downloads of CSV files are only available for automated uploads</li>
  <li>Config - the data feed config used to load the data</li>
  <li>Original date - the reading date as provided in the CSV file. Useful in case there are date format issues in the CSV files</li>
</ul>

<p>
  Note: some automated feeds send files with the same name. We only store the latest version of each file, so its possible that
  the linked to CSV file may contain different data if the supplier resent a file with the same name. Or, for a manual upload, an admin used the same
  CSV file name to upload the data. We also only store downloadable CSV files for automated uploads.
</p>

<% if @results.any? %>
  <table class="table advice-table mt-4">
    <thead>
      <th>Reading date</th>
      <th>File name</th>
      <th>Load Type</th>
      <th>Config</th>
      <th>Original date</th>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result['parsed_date'] %></td>
          <td><%= result['file_name'] %></td>
          <td>
            <% if result['manual_import'] %>
              Manual
            <% else %>
              <%= link_to 'Automated', s3_csv_download_url(result['identifier'], result['file_name']) %>
            <% end %>
          </td>
          <td><%= link_to result['identifier'], admin_amr_data_feed_config_path(id: result['config_id']) %></td>
          <td><%= result['reading_date'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
