<p class="small">
  <%= link_to @school.name, school_path(@school) %>
</p>
<p class="small">
  <%= I18n.t('maps.school_features.school_type') %>: <%= @school.school_type.humanize %>
</p>
<p class="small">
  <%= I18n.t('maps.school_features.fuel_types') %>:
  <% if @school.has_electricity? %>
    &nbsp;<i class='fas fa-bolt'></i>
  <% end %>
  <% if @school.has_gas? %>
    &nbsp;<i class='fas fa-fire'></i>
  <% end %>
  <% if @school.has_solar_pv? %>
    &nbsp;<i class='fas fa-sun'></i>
  <% end %>
</p>
<p class="small">
  <%= I18n.t('maps.school_features.pupils') %>: <%= @school.number_of_pupils %>
</p>
