<h1>School group: <%= school.name %> </h1>

<%= form_tag school_school_group_path(school), method: method do %>
  <h2>School group</h2>
  <p>School groups are used to collect associated schools together, usually by area.</p>
  <div class="form-group">
    <%= label_tag :school_group_id, 'Group' %>
    <%= select_tag :school_group_id, options_from_collection_for_select(@school_groups, 'id', 'name', @school.school_group_id), include_blank: true, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= submit_tag submit_text, class: 'btn btn-primary' %>
  </div>
<% end %>
