<%= content_for :page_title, @page.title %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: @page.title,
        subtitle: @page.description
      ) %>
<% end %>

<div class="container">
  <div class="row d-md-none">
    <div class="col d-md-none">
      <%= render PageNavComponent::CollapseButton.new %>
    </div>
  </div>
  <div class="row mt-2">
    <div id="page-navigation" class="col-md-4 col-lg-4 col-xl-3">
      <%= render 'cms/nav',
                 categories: @categories,
                 current_category: @page.category %>
    </div>

    <div id="cms-page-body" class="col-md-5 col-lg-5 col-xl-7">
      <%= render 'cms/admin_buttons', content: @page, current_user: current_user %>

      <%= render PromptComponent.new(status: :none) do |c| %>
        <% c.with_title { 'Audience' } %>
        <%= t("page.audience.#{@page.audience}") %>
      <% end %>

      <% @sections.each do |section| %>
        <section id="<%= section.slug %>"
                 class="cms-page-section scrollable-title">

          <h2>
            <%= section.title %>
          </h2>
          <%= render 'cms/admin_buttons', content: section, current_user: current_user %>
          <%= section.body %>
        </section>
      <% end %>
    </div>

    <div class="d-sm-none d-md-block col-md-3 col-lg-3 col-xl-2">
      <%= render 'section_nav', sections: @sections %>
    </div>

  </div>
</div>
