
<hr/>

<h3>Add a standing charge <a href="#" class='remove btn'>remove</a></h3>


<div class='ml-5'>

  <div class="form-row'">

    <fieldset class='form-group'>

      <span class="form-group">
        <%= label_tag 'Type' %>
        <%= select_tag :sc_type, options_for_select(['Duos red','Duos amber','Duos green','Fixed charge','Agreed availability charge','Reactive power charge','Settlement agency fee','Half hourly data charge','Site fee']) %>
      </span>


      <br/>

      <span class="form-group">
        <%= label_tag 'Charge (£)' %>
        <%= number_field_tag :rate %>
      </span>

      per

      <span class="form-group">
        <%= select_tag :sc_unit, options_for_select(['kWh','day','kva']) %>
      </span>


    </fieldset>


  </div>

</div>
