<h1><%= t('schools.user_tariffs.edit.title', fuel_type: @user_tariff.fuel_type) %></h1>

<div class="user_tariff">

  <p><%= t('schools.user_tariffs.there_should_only_be_one_tariff_message') %>.</p>
  <br/>

  <%= render 'schools/tariffs/header', user_tariff: @user_tariff %>

  <%= simple_form_for [@school, @user_tariff] do |f| %>
    <%= render 'form', school: @school, user_tariff: @user_tariff, f: f %>
  <% end %>

</div>
