<h1>Add tariff rates</h1>

<h2><%= render 'title', type: 'electricity' %> </h2>



  <div id="sections">
    <div class="section">
      <%= render 'elec_rate_element' %>
    </div>
  </div>


  <%= link_to "Add another", '#', class: 'btn btn-info addsection' %>

  <br/>
  <br/>
  <br/>
  <br/>

<%= form_tag school_tariffs_path, method: :get do %>

  <%= hidden_field_tag :step, 'elec3' %>
  <%= hidden_field_tag :name, 'name', value: params[:name] %>
  <%= hidden_field_tag :start_date, 'start_date', value: params[:start_date] %>
  <%= hidden_field_tag :end_date, 'end_date', value: params[:end_date] %>

  <%= submit_tag "Next", class: 'btn btn-info' %>

<% end %>


<script>

  //define template
  var template = $('#sections .section:first').clone();

  //define counter
  var sectionsCount = 1;

  $('body').on('click', '.addsection', function() {

    //increment
    sectionsCount++;

    //loop through each input
    var section = template.clone().find(':input').each(function(){

      //set id to store the updated section number
      var newId = this.id + sectionsCount;
      var newName = this.name + sectionsCount;

      //update for label
      $(this).prev().attr('for', newId);

      //update id
      this.id = newId;
      this.name = newName;

    }).end()

      //inject new section
      .appendTo('#sections');
    return false;
  });

  //remove section
  $('#sections').on('click', '.remove', function() {
    //fade out section
    $(this).parent().fadeOut(300, function(){
      //remove parent element (main section)
      // $(this).parent().parent().empty();
      $(this).parent().empty();
      return false;
    });
    return false;
  });

</script>
