<h1>Add standing charges</h1>

<h2><%= render 'title', type: 'electricity' %> </h2>



<h4>Standing charges</h4>

<table class="table table-striped table-sm">

  <thead>
  <tr>
    <th>Type</th>
    <th>Amount</th>
    <th style="width: 10%"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="rate-row">
    <td>Duos red</td>
    <td>9.573p/kwh</td>
    <td>
      <%= link_to "Edit", '#', class: 'btn btn-info addsection' %>
      <%= link_to "Delete", '#', class: 'btn btn-info removesection' %>
    </td>
  </tr>
  <tr class="rate-row">
    <td>Duos amber</td>
    <td>9.573p/kwh</td>
    <td>
      <%= link_to "Edit", '#', class: 'btn btn-info addsection' %>
      <%= link_to "Delete", '#', class: 'btn btn-info removesection' %>
    </td>
  </tr>
  <tr class="rate-row">
    <td>Duos green</td>
    <td>9.573p/kwh</td>
    <td>
      <%= link_to "Edit", '#', class: 'btn btn-info addsection' %>
      <%= link_to "Delete", '#', class: 'btn btn-info removesection' %>
    </td>
  </tr>
  <tr class="rate-row">
    <td>Fixed charge</td>
    <td>17.34p/day</td>
    <td>
      <%= link_to "Edit", '#', class: 'btn btn-info addsection' %>
      <%= link_to "Delete", '#', class: 'btn btn-info removesection' %>
    </td>
  </tr>
  <tr class="rate-row">
    <td>Agreed availability charge</td>
    <td>58.23p/kva</td>
    <td>
      <%= link_to "Edit", '#', class: 'btn btn-info addsection' %>
      <%= link_to "Delete", '#', class: 'btn btn-info removesection' %>
    </td>
  </tr>
  </tbody>

</table>



<%= render 'charge_modal' %>



<%= link_to "Add another", '#', class: 'btn btn-info addsection' %>

<br/>
<br/>
<br/>
<br/>

<%= form_tag school_tariffs_path, method: :get do %>

  <%= hidden_field_tag :step, 'elec_summary' %>
  <%= render 'hidden_fields' %>

  <%= submit_tag "Next", class: 'btn btn-info' %>

<% end %>


<script>

  $('body').on('click', '.addsection', function() {
    newRate();
  });

  $('body').on('click', '.removesection', function(event) {
    removeRate(event);
  });


  function newRate(event) {
    // var calendarId =  $('#event-modal').data('calendar');
    //
    // $(".event-action").html('New');
    // $('form#event_form').attr('action', '/calendars/' + calendarId + '/calendar_events')
    // $('#event-modal input[name="_method"]').val('post');
    //
    // $("#calendar_event_calendar_event_type_id").val('');
    // $('#event-modal input[name="calendar_event[title]"]').val('');
    //
    // $('#event-modal input[name="calendar_event[start_date]"]').val(event.date.toLocaleDateString("en-GB"));
    // $('#event-modal input[name="calendar_event[end_date]"]').val(event.date.toLocaleDateString("en-GB"));
    //
    // $('#delete_button').hide();

    $('#charge-modal').modal();
  }

  function removeRate(event) {
    // console.log($(this).closest('.rate-row'));
    // $(this).closest('.rate-row').remove();
    $(event.target).closest('.rate-row').remove();
    event.preventDefault();
  }


</script>
