<h1>Add Gas tariff</h1>

<%= form_tag school_tariffs_path, method: :get do %>

  <h3>PLease enter the supplier name, and start and end dates, for this tariff</h3>

  <div class='ml-5'>

    <div class="form-row'">

      <fieldset class='form-group'>

        <div class="form-group">
          <%= label_tag  "Supplier name" %>
          <%= text_field_tag  "name", 'EDF' %>
        </div>

        <div class="form-group">
          <%= label_tag :start_date %>
          <%= date_field_tag :start_date, Date.parse('2021-04-01') %>
        </div>

        <div class="form-group">
          <%= label_tag :end_date %>
          <%= date_field_tag :end_date, Date.parse('2022-03-31') %>
        </div>

      </fieldset>


    </div>

  </div>

  <%= hidden_field_tag :step, 'gas2' %>

  <%= submit_tag "Next", class: 'btn btn-info' %>

<% end %>

