<h1><%= t('schools.user_tariffs.show.title') %></h1>

<div class="user_tariff">

  <p>
    <%= t('schools.user_tariffs.show.introduction_html', electricity_analysis_path: analysis_page_finder_path(urn: @school.urn, analysis_class: 'AdviceElectricityCosts'), gas_analysis_path: analysis_page_finder_path(urn: @school.urn, analysis_class: 'AdviceGasCosts')) %>.</p>
  </p>

  <br/>

  <%= render 'schools/tariffs/header', user_tariff: @user_tariff %>

  <h4>
    <%= t('schools.user_tariffs.show.consumption_charges') %>
    <%= link_to t('common.labels.edit'), school_user_tariff_user_tariff_prices_path(@school, @user_tariff), class: 'btn' %>
  </h4>

  <% if @user_tariff.flat_rate? %>
    <%= render 'schools/tariffs/flat_rate', school: @school, user_tariff: @user_tariff, allow_edits: false %>
  <% else %>
    <%= render 'schools/tariffs/rates_table', school: @school, user_tariff: @user_tariff, allow_edits: false %>
  <% end %>

  <br/>

  <h4>
    <%= t('schools.user_tariffs.show.standing_charges') %>
    <%= link_to t('common.labels.edit'), school_tariff_tariff_charges_path(@school, @user_tariff), class: 'btn' %>
  </h4>

  <%= render 'schools/tariffs/charges_table', school: @school, user_tariff: @user_tariff, allow_edits: false %>

  <br/>
  <br/>

  <%= link_to t('common.labels.previous'), school_tariff_tariff_charges_path(@school, @user_tariff), class: 'btn' %>
  <%= link_to t('common.labels.finished'), school_tariffs_path(@school), class: 'btn' %>

  <div class="hidden">
    <% if can? :download, UserTariff %>
      <h4><%= t('schools.user_tariffs.show.meter_attribute_view') %></h4>
      <%= print_meter_attribute(@user_tariff.meter_attribute) %>
    <% end %>
  </div>
</div>
