<fieldset class='form-group'>
  <%= if label.present?
        form.label field_name, label: label.to_s.humanize,
                               required: field.required?,
                               class: 'col-form-label-lg',
                               hint: field.hint
      end %>
  <%= form.hint field.hint %>

  <% if field_name.to_s != 'root' && can_ignore_children?(field) %>
    <%= check_box_tag 'disable', false, false, { title: 'Disable section', class: 'disable-attributes' } %>
    <%= label_tag 'disabled-label', '(disabled)', class: 'hidden disabled-label' %>
  <% end %>

  <div class="<%= 'ml-5' unless field_name.to_s == 'root' %>">
    <%= form.simple_fields_for field_name do |form| %>
      <% field.structure.each do |key, structure| %>
        <%= render "shared/meter_attributes/#{structure.type}", value: value ? value[key.to_s] : nil,
                                                                field: structure,
                                                                field_name: key,
                                                                form: form,
                                                                label: key %>
      <% end %>
    <% end %>
  </div>

</fieldset>
