<div class="row">
  <div class="col-12">
    <%= form.label label.try(:to_s).try(:humanize), required: field.required? %>
    <%= form.hint field.hint %>
  </div>
  <div class="col-6">
    <%= form.simple_fields_for field_name do |f| %>
      <%= f.input 'hour', as: :integer, input_html: { value: value ? value['hour'] : '' }, required: field.required?,
                          min: 0, max: 23, label: 'hour' %>
    <% end %>
  </div>
  <div class="col-6">
    <%= form.simple_fields_for field_name do |f| %>
      <%= f.input 'minutes', as: :integer, input_html: { value: value ? value['minutes'] : '' },
                             required: field.required?, min: 0, max: 59, label: 'minutes' %>
    <% end %>
  </div>
</div>
