<% content_for :page_title, 'AMR report' %>

<h1>AMR Data report for active meters</h1>
<p><%= link_to 'Reports index', admin_reports_path, class: 'btn btn-success' %></p>
<h2>Downloads</h2>
<p><%= link_to "All Validated AMR data", admin_reports_amr_validated_readings_path(format: :csv) %></p>
<p>Note: this includes substituted data where readings are missing.</p>
<p><%= link_to "Download raw AMR data", admin_reports_amr_data_feed_readings_path(format: :csv) %></p>
<p>Note: this is data in it's raw formats.</p>

<p>You can now download the aggregated meter collection for a school in YAML format, this includes all of the AMR data, temperature data, holidays, Solar PV, irradiance and carbon grid data. This may take a long time to download, for schools with many meters, it is best to visit the school's page first so that the data is already in the cache.</p>

<h3>Loader Legend</h3>
<div class='calendar-legend row'>
  <div class='legend-scale vertical'>
    <ul class='legend-labels'>
      <li><span style='background:rgb(244,183,191);'></span>No reading for 30 days</li>
      <li><span style='background:rgb(255,237,169);'></span>No reading for 5 days</li>
      <li><span style='background:#5cb85c;'></span>Recent reading</li>
    </ul>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>School</th>
        <th>Amr Readings</th>
        <th>Supply</th>
        <th>Download</th>
        <th>First validated reading</th>
        <th>Last validated reading</th>
      </tr>
    </thead>
    <tbody>
      <% @school_groups.each do |school_group| %>
        <tr class='table-active'><td colspan="5"><strong><%= school_group.name %></strong></td></tr>
        <% school_group.schools.order(name: :asc).each do |school| %>
          <% school.meters.where(active: true).each_with_index do |meter, index| %>
            <tr>
              <td><%= link_to(school.name, school_path(school)) %></td>
              <td><%= link_to(meter.display_name, admin_reports_amr_validated_reading_path(meter)) if AmrValidatedReading.where(meter_id: meter.id).any? %></td>
              <td><%= meter.meter_type.capitalize %></td>
              <td><%= link_to 'Aggregated meter collection', school_aggregated_meter_collection_path(school, format: :yaml), class: 'btn' if index == 0 %></td>
              <td><%= nice_dates(meter.first_validated_reading) %></td>
              <td class=<%= class_for_last_date(meter.last_validated_reading) %>><%= nice_dates(meter.last_validated_reading) %></td>
            </tr>
          <% end %>


        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
