<div class="row">
  <div class="col">
    <h3><%= t('schools.school_targets.achieving_your_targets.title') %></h3>
  </div>
</div>

<div class="card-deck activities">
  <div class="card activity">
    <div class="card-body">
      <h4 class="card-title"><%= t('schools.school_targets.achieving_your_targets.work_with_the_pupils') %></h4>
      <p><%= t('schools.school_targets.achieving_your_targets.here_are_some_suggested_activities') %></p>
        <ul>
          <% activities.each do |activity_type| %>
           <li><%= link_to activity_type.name, activity_type_path(activity_type) %></li>
          <% end %>
        </ul>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <%= t('schools.school_targets.achieving_your_targets.engaging_with_pupils') %>.
      </small>
    </div>
  </div>

  <div class="card activity">
    <div class="card-body">
      <h4 class="card-title"><%= t('schools.school_targets.achieving_your_targets.take_action_around_the_school') %></h4>
      <p><%= t('schools.school_targets.achieving_your_targets.some_suggested_activities') %></p>
      <ul>
        <% actions.each do |intervention_type| %>
         <li><%= link_to intervention_type.name, intervention_type_path(intervention_type) %></li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <%= t('schools.school_targets.achieving_your_targets.logging_activities') %>.
      </small>
    </div>
  </div>

  <div class="card activity">
    <div class="card-body">
      <h4 class="card-title"><%= t('schools.school_targets.achieving_your_targets.explore_your_data') %></h4>
      <p><%= t('schools.school_targets.achieving_your_targets.we_analyse_your_data') %></p>
      <ul>
        <li>
          <%= link_to t('schools.school_targets.achieving_your_targets.review_your_energy_analysis'),
                      school_advice_path(school) %>
        </li>
        <li>
          <%= link_to t('schools.school_targets.achieving_your_targets.explore_your_data'),
                      pupils_school_analysis_path(school) %>
        </li>
        <li>
          <%= link_to t('schools.school_targets.achieving_your_targets.view_energy_saving_opportunities'),
                      priorities_school_advice_path(school) %>
        </li>
        <li>
          <%= link_to t('schools.school_targets.achieving_your_targets.view_recent_alerts'),
                      school_path(school, anchor: 'dashboard-alerts') %>
        </li>
        <% if school.school_group && can?(:compare, school.school_group) %>
          <li>
            <%= link_to t('schools.school_targets.achieving_your_targets.compare_usage_with_schools_in_your_group'),
                        "#{compare_index_path(school_group_ids: [school.school_group.id])}#groups" %>
          </li>
        <% end %>
        <% if daily_variation_url %>
          <li>
            <%= link_to t('schools.school_targets.achieving_your_targets.daily_variation_in_use'), daily_variation_url %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <%= t('schools.school_targets.achieving_your_targets.be_sure_to_regularly_check') %>
      </small>
    </div>
  </div>
</div>

<% if can?(:manage, Activity) || can?(:create, Observation) %>
  <div class="card-deck actions">
    <% if can?(:manage, Activity) %>
      <div class="card mb-2 text-center">
        <%= link_to t('schools.school_targets.achieving_your_targets.choose_another_activity'),
                    activity_categories_path, class: 'btn btn-default' %>
      </div>
    <% end %>
    <% if can?(:create, Observation) %>
      <div class="card mb-2">
        <%= link_to t('schools.school_targets.achieving_your_targets.record_an_energy_saving_action'),
                    intervention_type_groups_path, class: 'btn btn-default' %>
      </div>
    <% end %>
      <div class="card mb-2">
        <%= link_to t('schools.school_targets.achieving_your_targets.view_dashboard'), school_path(@school),
                    class: 'btn btn-default' %>
      </div>
  </div>
<% end %>
