<div class="row pt-4">
  <div class="col-md-2 align-self-center" style="padding-right: 0px">
    <h4 class="card-title"><%= fuel_progress.fuel_type.to_s.humanize %></h4>
  </div>
  <div class="col-md-8 d-none d-sm-block" style="padding-right: 25px">
    <div class="d-flex justify-content-center">
      <span style="margin-left: 10px; width: 100%;" class="text-center work_week"><%= up_downify(format_target(fuel_progress.progress, :relative_percent))%> against target of <%=target%>%</span>
    </div>
    <figure class="highcharts-figure">
        <div class="bullet-chart" id="bullet-chart-<%= fuel_progress.fuel_type.to_s %>" data-title="" data-series='<%= bullet_chart_series(fuel_progress) %>'
        data-label="Consumption" data-units="kWh" data-start-date="<%=school_target.start_date.strftime("%b %Y")%>" data-bands='<%= bullet_chart_bands(fuel_progress) %>' data-month='<%= Time.now.strftime("%b %Y")%> '></div>
    </figure>
  </div>
  <div class="col-md-2 align-self-center">
    <%= link_to "View report", progress_path, class: "btn btn-outline-dark font-weight-bold" %>
  </div>
</div>
