<div class="row">
  <div class="col-md-2 justify-content-center align-self-center">
    <h4 class="card-title"><%= fuel_progress.fuel_type.to_s.humanize %></h4>
  </div>
  <div class="col-md-6">
    <figure class="highcharts-figure">
        <div class="bullet-chart" id="bullet-chart-<%= fuel_progress.fuel_type.to_s %>" data-title="Progress against target consumption" data-series='<%= bullet_chart_series(fuel_progress) %>'
        data-label="Consumption" data-units="kWh" data-start-date="<%=nice_dates(school_target.start_date)%>" data-bands='<%= bullet_chart_bands(fuel_progress) %>'></div>
    </figure>
  </div>
  <div class="col-md-2 justify-content-center align-self-center align-items-center">
  </div>
  <div class="col-md-2 justify-content-center align-self-center">
    <span class="text-center">
      <%= link_to "View progress", progress_path, class: "btn btn-outline-dark rounded-pill font-weight-bold" %>
    </span>
  </div>
</div>
