<div class="card" style="border: 0px">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="card-title"><%= fuel_type.to_s.capitalize %></h3>
      <%= link_to "View progress", progress_path, class: "btn btn-outline-dark rounded-pill font-weight-bold" %>
    </div>
    <div class="d-flex justify-content-between" style="border: 1px solid rgba(0, 0, 0, 0.125);">
      <div class="col">
        <div class="row justify-content-center align-self-center">
          <h2 class="text-center" style="padding-bottom: 10px"><%= target %> %</h2>
        </div>
        <div class="row justify-content-center align-self-center pb-1">
          <small>Target</small>
        </div>
      </div>
      <div class="col <%= target_percent_cell_colour(progress)%>">
        <div class="row justify-content-center align-self-center">
          <h2 class="text-center" style="padding-bottom: 10px"><%= progress ? format_target(progress, :relative_percent) : "-" %></h2>
        </div>
        <div class="row justify-content-center align-self-center pb-1">
          <small>Progress</small>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer" style="border: 0px; background: white;">
    <small class="text-muted float-right">Target date: <%= nice_dates(school_target.target_date) %></small>
  </div>
</div>
