<tr id="<%= fuel_type %>-row">
  <td class="icon"><span class="<%= fuel_type_class(fuel_type) %>"><%= fa_icon fuel_type_icon(fuel_type) %></span></td>
  <td><%= fuel_type.to_s.humanize %></td>
  <td class="text-right"><%= -school_target[fuel_type] %>%</td>
  <% if fuel_progress.present? && fuel_progress.valid? %>
      <td class="text-right">
        <%= up_downify(format_target(fuel_progress.progress, :relative_percent), sanitize: false) %>
      </td>
      <td class="text-right">
        <%= link_to t('schools.school_targets.target_table_row.view_monthly_report'),
                    report_link,
                    class: 'btn btn-default' %>
      </td>
  <% else %>
      <td class="text-right">
        <% if overview_data.present? && overview_data.work_week(fuel_type).has_data %>
          <%= up_downify(overview_data.work_week(fuel_type).change) %>
          <%= t('schools.school_targets.target_table_row.last_week') %>
        <% else %>
          <%= t('schools.school_targets.target_table_row.not_applicable') %>
        <% end %>
      </td>
      <td class="text-right">&nbsp;</td>
  <% end %>
</tr>
