<% unless observations.empty? %>
  <div class="row justify-content-between">
    <div class="col-8">
      <h3>How did you try to achieve your target?</h3>
      <p>
        A reminder of the energy saving activities and actions you recorded between <%= nice_dates(@school_target.start_date) %> and <%= nice_dates(@school_target.target_date) %>.
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-10">
      <%= render 'schools/observations/timeline', observations: observations, show_actions: false%>
    </div>
  </div>
<% else %>
<div class="row justify-content-between">
  <div class="col-8">
    <h3>How did you achieve your target?</h3>
    <p>
      You didn't record any energy saving activities or actions between <%= nice_dates(@school_target.start_date) %> and <%= nice_dates(@school_target.target_date) %>.
    </p>
  </div>
</div>
<% end %>
