<% if observations.empty? %>
  <div class="row justify-content-between">
    <div class="col-8">
      <h3><%= t('schools.school_targets.target_timeline.how_did_you_achieve_your_target') %></h3>
      <p>
        <%= t('schools.school_targets.target_timeline.you_didnt_record_any_energy_saving',
              start_date: nice_dates(@school_target.start_date), target_date: nice_dates(@school_target.target_date)) %>.
      </p>
    </div>
  </div>
<% else %>
  <div class="row justify-content-between">
    <div class="col-8">
      <h3><%= t('schools.school_targets.target_timeline.how_did_you_try_to_achieve_your_target') %></h3>
      <p>
        <%= t('schools.school_targets.target_timeline.a_reminder_of_the_energy_saving',
              start_date: nice_dates(@school_target.start_date), target_date: nice_dates(@school_target.target_date)) %>.
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-10">
      <%= render TimelineComponent.new(observations: observations, show_actions: false, show_header: false,
                                       user: current_user) do |timeline| %>
             <% timeline.with_link do %>
               <p>
                 <%= link_to school_timeline_path(@school_target.school), class: 'btn btn-default' do %>
                   <%= t('activities.show.all_activities') %>
                 <% end %>
               </p>
             <% end %>
       <% end %>
    </div>
  </div>
<% end %>
