<div class="d-flex justify-content-between align-items-center">
  <% if school_target.report_last_generated.nil? %>
    <h1><%= t('schools.school_targets.title.we_are_calculating_your_progress') %></h1>
  <% else %>
    <% if school_target.current? %>
      <h1><%= t('schools.school_targets.title.reducing_your_energy_usage_by', target_date: I18n.l(school_target.target_date, format: '%B %Y')) %></h1>
    <% else %>
      <h1><%= t('schools.school_targets.title.results_of_reducing_your_energy_usage') %></h1>
    <% end %>
  <% end %>
  <div>
    <% if school_target.current? %>
      <% if can?(:manage, school_target) %>
        <%= link_to t('schools.school_targets.title.revise_your_target'), edit_school_school_target_path(school_target.school, school_target), class: "btn btn-default" %>
      <% end %>
    <% elsif school_target.school.has_current_target? %>
      <%= link_to t('schools.school_targets.title.view_current_target'), school_school_targets_path(school_target.school), class: "btn btn-default" %>
    <% else %>
      <% if can?(:manage, school_target) %>
        <%= link_to t('schools.school_targets.title.set_a_new_target'), new_school_school_target_path(school_target.school), class: "btn btn-default" %>
      <% end %>
    <% end %>
    <%= link_to_help_for_feature :school_targets, css: "btn btn-default" %>
  </div>
</div>
