<% content_for :page_title, t('schools.school_targets.current.page_title') %>

<% content_for :dashboard_header do %>
  <%= render 'title', school_target: @school_target %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <% if @school_target.report_last_generated.nil? %>
        <%= render 'generating_report' %>
      <% else %>
        <%= render 'warn_recent_data' if @progress_summary.any_out_of_date_fuel_types? %>
        <%= render 'progress_notice', progress_summary: @progress_summary %>
        <%= render 'target_table', school_target: @school_target, progress_summary: @progress_summary,
                                   overview_data: @overview_data %>
        <div class="pt-2"></div>
      <% end %>

      <%= render 'prompt_to_review_target' if @prompt_to_review_target %>

      <%= render 'previous_target', previous_target: @school.expired_target %>

      <%= render 'schools/school_targets/achieving_your_targets', activities: @activities, actions: @actions,
                                                                  school: @school, daily_variation_url: nil %>
    </div>
  </div>
</div>
