<% content_for :page_title, t('schools.school_targets.edit.page_title') %>

<% content_for :dashboard_header do %>
  <div class="d-flex justify-content-between align-items-center">
      <h1><%= t('schools.school_targets.edit.update_your_energy_saving_target') %></h1>
    <div>
      <%= link_to_help_for_feature :school_targets, css: 'btn btn-default' %>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <div class="row">
        <div class="col-md-8">
          <% if @prompt_to_review_target %>
            <div class="alert bg-neutral">
              <p>
                <%= far_icon('lightbulb fa-lg') %>
                <strong><%= t('schools.school_targets.edit.suggestion') %></strong>
                <%= t('schools.school_targets.edit.review_your_targets') %>.<br>
              </p>
              <%= t('schools.school_targets.edit.your_configuration_has_changed',
                    fuel_types_changed: @fuel_types_changed.map(&:humanize).to_sentence) %>.
            </div>
          <% else %>
            <div class="alert alert-warning">
              <p>
                <%= far_icon('lightbulb fa-lg') %>
                <strong><%= t('schools.school_targets.edit.tip') %></strong>:
                <%= t('schools.school_targets.edit.review_your_dashboard') %>.<br>
              </p>
              <%= t('schools.school_targets.edit.before_changing_your_targets') %>.
            </div>
          <% end %>

          <p>
            <%= t('schools.school_targets.edit.if_you_do_revise_your_targets') %>.
          </p>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h3><%= t('schools.school_targets.edit.your_current_target') %></h3>

          <%= render 'fuel_type_note' %>

          <%= render 'form', target_service: @target_service, school_target: @school_target %>
        </div>
      </div>

      <% if current_user.admin? %>
        <div class="row mt-4">
          <div class="alert alert-danger col-md-8">
            <strong>Admin only:</strong>
            <%= link_to 'Old target page', school_school_target_path(@school, @school_target), class: 'btn' %>
            <%= link_to 'Delete',
                        school_school_target_path(@school, @school_target),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
