<% content_for :page_title, t('schools.school_targets.expired.page_title') %>

<% content_for :dashboard_header do %>
  <%= render 'title', school_target: @school_target %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <div class="row">
        <div class="col">
          <%= render 'prompt_to_set_new_target', school_target: @school_target %>

          <p>
            <%= t('schools.school_targets.expired.your_school_set_a_target_to_reduce_html',
                  start_date: nice_dates(@school_target.start_date),
                  target_date: nice_dates(@school_target.target_date)) %>.
          </p>

          <% if @progress_summary&.any_passing_targets?(check_recent: false) %>
          Well done! You achieved your goal to reduce your
            <%= t_fuels_as_sentence(@progress_summary.passing_fuel_targets(check_recent: false)) %> usage.
          <% end %>
          <% if @progress_summary&.any_failing_targets?(check_recent: false) %>
          Unfortunately you didn't meet your target to reduce your
            <%= t_fuels_as_sentence(@progress_summary.failing_fuel_targets(check_recent: false)) %> usage.
          <% end %>

        </div>
      </div>

      <% if @school_target.report_last_generated.present? %>
        <%= render 'target_table', school_target: @school_target, progress_summary: @progress_summary,
                                   overview_data: @overview_data %>
      <% end %>
        <div class="pt-4"></div>

      <%= render 'previous_target', previous_target: @school.previous_expired_target(@school_target) %>

      <%= render 'target_timeline', school: @school, observations: @observations %>
    </div>
  </div>
</div>
