<% content_for :pre do %>
  <p><%= t('schools.school_targets.first.its_time') %>.</p>
  <p><%= t('schools.school_targets.first.careful_planning') %>:</p>
  <ul>
    <li><%= t('schools.school_targets.first.providing_reports') %>'</li>
    <li><%= t('schools.school_targets.first.suggesting_ways_to_reduce_consumption') %></li>
    <li><%= t('schools.school_targets.first.suggesting_activities_for_pupils') %></li>
    <li><%= t('schools.school_targets.first.providing_more_insight') %></li>
  </ul>
<% end %>
<% content_for :after_subheading do %>
  <%= render 'tip', text: t('schools.school_targets.first.advice') %>
<% end %>
<%= render 'common', page_title: t('schools.school_targets.first.page_title'),
                     heading: t('schools.school_targets.first.set_your_first_energy_saving_target'),
                     subheading: t('schools.school_targets.first.your_first'),
                     form_intro: t('schools.school_targets.first.recommend') %>
