<% content_for :page_title, t('schools.school_targets.new.page_title') %>

<% content_for :dashboard_header do %>
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= t('schools.school_targets.new.review_and_set_your_next_energy_saving_target') %></h1>
    <div>
      <%= link_to_help_for_feature :school_targets, css: 'btn btn-default' %>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'schools/advice/nav', school: @school, advice_pages: @advice_pages %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <div class="row">
        <div class="col-md-8">
          <p>
            <% if !Flipper.enabled?(:target_advice_pages2025, current_user) %>
              <%= t('schools.school_targets.new.target_date_reached_advice_page') %>
            <% else %>
              <%= t('schools.school_targets.new.target_date_reached_html',
                    school_target_path: school_school_target_path(@school, @previous_school_target)) %>
            <% end %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h3><%= t('schools.school_targets.new.your_new_target') %></h3>

          <div class="alert alert-info">
            <p>
              <%= far_icon('lightbulb fa-lg') %>
              <strong><%= t('schools.school_targets.new.tip') %></strong>:
              <%= t('schools.school_targets.new.review_your_dashboard') %>.<br>
              <%= t('schools.school_targets.new.before_setting_your_new_target') %>
            </p>
          </div>

          <%= render 'fuel_type_note' %>

          <p>
            <%= t('schools.school_targets.new.carried_forward') %>.
          </p>

          <%= render 'form', target_service: @target_service, school_target: @school_target %>

        </div>
      </div>
    </div>
  </div>
</div>
