<% content_for :page_title, 'Your current energy saving targets' %>

<div class="d-flex justify-content-between align-items-center">
  <% if @school_target.report_last_generated.nil? %>
    <h1>We are calculating your targets</h1>
  <% else %>
    <h1>Your energy saving target</h1>
  <% end %>
  <%= link_to "Revise your target", edit_school_school_target_path(@school, @school_target), class: "btn btn-outline-dark rounded-pill font-weight-bold" %>
</div>

<% if @school_target.report_last_generated.nil? %>
  <div class="row alert text-dark alert-secondary">
    <div class="col">
      <p class="align-middle">
        We need to process your data to create a progress report that will show your monthly targets. Check back tomorrow to see the results.
      </p>
      <p class="align-middle">Get started with the activities below to start working towards your goal</p>
    </div>
  </div>
<% else %>
  <% if @school.has_electricity? %>
    <%= render "bullet_chart", school_target: @school_target, fuel_type: :electricity, target: @school_target.electricity, progress: @electricity_progress,
    progress_path: electricity_school_progress_index_path(@school)  %>
  <% end %>
  <% if @school.has_gas? %>
    <%= render "bullet_chart", school_target: @school_target, fuel_type: :gas, target: @school_target.gas, progress: @gas_progress,
    progress_path: gas_school_progress_index_path(@school)  %>
  <% end %>
  <% if @school.has_storage_heaters? %>
    <%= render "bullet_chart", school_target: @school_target, fuel_type: :storage_heaters, target: @school_target.storage_heaters, progress: @storage_heater_progress, progress_path: storage_heaters_school_progress_index_path(@school)  %>
  <% end %>

  <% if @prompt_to_review_target %>
    <div class="row alert text-dark bg-neutral">
      <div class="col-md-2">
        <%= link_to "Review your target", edit_school_school_target_path(@school, @school_target), class: "btn btn-light rounded-pill" %>
      </div>
      <div class="col">
        <span class="align-middle">Your <%= @fuel_types_changed.map(&:humanize).to_sentence %> configuration has changed, which means you may need to revisit your targets for this year.</span>
      </div>
    </div>
  <% end %>
<% end %>


<div class="row">
  <div class="col">
    <h3>Achieving your targets</h3>
  </div>
</div>

<%= render "achieving_your_targets" %>

<% if can?(:manage, Activity) || can?(:create, Observation) %>
  <div class="card-deck actions">
    <% if can?(:manage, Activity) %>
      <div class="card mb-2 text-center">
        <%= link_to 'Choose another activity', suggest_activity_school_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      </div>
    <% end %>
    <% if can?(:create, Observation) %>
      <div class="card mb-2">
        <%= link_to 'Record an energy saving action', new_school_action_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      </div>
    <% end %>
      <div class="card mb-2">
        <%= link_to 'View dashboard', management_school_path(@school), class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      </div>
  </div>
<% end %>
