<% content_for :page_title, t('intervention_type_groups.index.page_title') %>

<div class="row mt-2">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <p class="display-3"><strong><%= t('intervention_type_groups.index.explore_energy_saving_actions') %></strong></p>
      <% if EnergySparks::FeatureFlags.active?(:intervention_type_search) %>
        <%= link_to t('intervention_type_groups.index.search'),
                    search_intervention_types_path,
                    class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <%= t('intervention_type_groups.index.introduction') %>.
    </p>
  </div>
</div>

<%= render 'schools/prompt_recommended', scope: :adult %>

<% @intervention_type_groups.each do |intervention_type_group| %>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h4><strong><%= intervention_type_group.name %></strong></h4>
        <div>
          <%= link_to t('intervention_type_groups.index.view_all_actions',
                        count: intervention_type_group.intervention_types.active.count),
                      intervention_type_group_path(intervention_type_group),
                      class: 'btn btn-outline-dark rounded-pill font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'cards', intervention_types: intervention_type_group.intervention_types.active_and_not_custom.sample(4),
                      card_deck_css: '' %>
<% end %>
