<% content_for :page_title, t('intervention_type_groups.index.page_title') %>

<div class="row mt-2">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= t('intervention_type_groups.index.explore_energy_saving_actions') %></h1>
      <%= link_to t('intervention_type_groups.index.search'),
                  search_intervention_types_path,
                  class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <%= t('intervention_type_groups.index.introduction') %>.
    </p>
  </div>
</div>

<%= render 'schools/prompt_recommended', scope: :adult %>

<% if Flipper.enabled?(:todos, current_user) %>
  <%= render 'shared/tasks/programme_types', programme_types: @programme_types %>
<% end %>

<% @intervention_type_groups.each do |intervention_type_group| %>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h4><%= intervention_type_group.name %></h4>
        <div>
          <%= link_to t('intervention_type_groups.index.view_all_actions',
                        count: intervention_type_group.intervention_types.active.count),
                      intervention_type_group_path(intervention_type_group),
                      class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'cards', intervention_types: intervention_type_group.intervention_types.active_and_not_custom.sample(4),
                      card_deck_css: '' %>
<% end %>
