<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @intervention_type_group.name %></h1>
      <div>
        <%= link_to t('intervention_type_groups.show.all_actions'), intervention_type_groups_path,
                    class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      <% if @intervention_type_group.description.present? %>
        <%= @intervention_type_group.description %>
      <% end %>
    </p>
    <p>
      <%= t('intervention_type_groups.show.introduction_html',
            count: @intervention_type_group.intervention_types.active.count) %>.
    </p>
  </div>
</div>

<% @intervention_type_group.intervention_types.active.display_order.each do |intervention_type| %>
  <%= render 'intervention_types/intervention_type', intervention_type: intervention_type, school: current_user_school %>
<% end %>
