<%= component 'comparison_table',
              report: report, advice_page: advice_page, table_name: table_name, index_params: index_params,
              headers: headers, colgroups: colgroups, advice_page_tab: advice_page_tab do |c| %>
  <% @results.each do |result| %>
    <% c.with_row do |r| %>
      <% r.with_school school: result.school %>
      <% if result.gas_economic_tariff_changed_this_year %>
        <% r.with_reference do %>
            <a href="#gas_economic_tariff_changed_this_year">[t]</a>
        <% end %>
      <% end %>
      <% r.with_var val: result.one_year_gas_per_floor_area_normalised_gbp, unit: :£ %>
      <% r.with_var val: result.last_year_gbp, unit: :£ %>
      <% r.with_var val: result.one_year_saving_versus_exemplar_gbpcurrent, unit: :£ %>
      <% r.with_var val: result.last_year_kwh, unit: :kwh %>
      <% r.with_var val: result.last_year_co2 / 1000, unit: :co2 %>
    <% end %>
  <% end %>
  <% c.with_footer do %>
    <tr>
      <td colspan="<%= headers.count %>">
        <p>
          <strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong>
        </p>
        <a name="electricity_economic_tariff_changed_this_year">[t]</a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
        <%= t('analytics.benchmarking.configuration.column_heading_explanation.last_year_definition_html') %>
      </td>
    </tr>
  <% end %>
<% end %>
