<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body vocab="http://schema.org/">
    <% if Flipper.enabled?(:navigation, current_user, current_user&.school_group) %>
      <%= render 'shared/navigation/main' %>
    <% else %>
      <%= render 'shared/navigation' %>
    <% end %>
    <div class="application container<%= nav_margin_classes %><%= conditional_application_container_classes %>">
      <%= render 'shared/breadcrumbs' %>
      <%= render 'shared/alerts' if flash.any? %>
      <%= yield %>
    </div>
    <% if show_partner_footer?(@school) %>
      <%= render 'shared/partners' %>
    <% end %>
    <%= render 'shared/cookie_banner' %>
    <%= render 'shared/footer' %>
  </body>
  <%= render 'layouts/set_mobility_locale' %>
</html>
