<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body vocab="http://schema.org/" class="<%= 'with-sub-nav' if show_sub_nav?(@school || @tariff_holder, @hide_subnav) || request.path.starts_with?('/school_groups') %>">
    <%= render 'shared/navigation' %>
    <div class="application container<%= conditional_application_container_classes %>">
      <%= render 'shared/breadcrumbs' %>
      <%= render 'shared/alerts' if flash.any? %>
      <%= yield %>
    </div>
    <% if show_partner_footer?(@school) %>
      <%= render 'shared/partners' %>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
  <%= render 'layouts/set_mobility_locale' %>
</html>
