<%= content_for(:page) do %>
  <% if content_for?(:header) %>
    <div class="container-fluid <%= @audience || :adult %> pb-2">
      <div class="container navigation-margin">
        <%= render 'shared/page/top' %>
        <%= yield :header %>
      </div>
    </div>
  <% end %>
  <div class="application container<%= ' navigation-margin' unless content_for?(:header) %>">
    <%= render 'shared/page/top' unless content_for?(:header) %>
    <%= content_for?(:application) ? yield(:application) : yield %>
  </div>
<% end %>
<%= render template: 'layouts/page' %>
