<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body vocab="http://schema.org/">
    <%= render 'shared/nav' %>
    <%= render 'shared/sub_nav' if @school && @school.id %>
    <%= render 'shared/alerts' %>
    <div class="application container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= content_for(:chartkick_js) %><!-- only used on usage pages, so only loaded on those pages -->
  </body>
</html>
