<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body vocab="http://schema.org/">
    <%= render 'shared/navigation' %>
    <div class="application container navigation-margin<%= conditional_application_container_classes %>">
      <%= render 'shared/breadcrumbs' %>
      <%= render 'shared/alerts' if flash.any? %>
      <%= yield %>
    </div>
    <% if show_partner_footer?(@school) %>
      <%= render 'shared/partners' %>
    <% end %>
    <%= render 'shared/cookie_banner' %>
    <%= render 'shared/footer' %>
  </body>
  <%= render 'layouts/set_mobility_locale' %>
</html>
