<%# Application (default) layout %>
<%# Sub-templates can be made from this (for an example see page_nav.html.erb) %>
<%# Please no further sub layers after this though to keep things simple %>

<%= content_for(:page) do %>
  <% if content_for?(:header) %>
    <div class="container-fluid <%= @audience || :adult %> pb-2">
      <div class="container">
        <%= render 'shared/page/breadcrumbs_and_flash' %>
        <%= yield :header %>
      </div>
    </div>
  <% end %>
  <div class="application container">
    <%= render 'shared/page/breadcrumbs_and_flash' unless content_for?(:header) %>
    <%= content_for?(:application) ? yield(:application) : yield %>
  </div>
<% end %>
<%= render template: 'layouts/page' %>
