<%# For dashboard layouts - does not render a container in the central portion of the page %>
<%# Views using this layout usually contain a mix of container-fluid and container blocks %>
<%# Please use the new application layout in favour of this where a container for the main content is required. %>
<%= content_for(:page) do %>
  <div class="container-fluid <%= @audience || :adult %> pb-2">
    <div class="container">
      <%= render 'shared/page/breadcrumbs_and_flash' %>
      <%= yield :dashboard_header if content_for?(:dashboard_header) %>
    </div>
  </div>
  <%= yield %>
<% end %>
<%= render template: 'layouts/page' %>
