<%= content_for(:page) do %>
  <div class="container-fluid <%= @audience || :adult %> pb-2">
    <div class="container navigation-margin">
      <%= render 'shared/page/top' %>
      <%= yield :dashboard_header if content_for?(:dashboard_header) %>
    </div>
  </div>
  <%= yield %>
<% end %>
<%= render template: 'layouts/page' %>
