<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class='fixed-top'>
      <%= render 'shared/nav' %>
    </div>
    <% if flash.any? %>
      <section class="home alerts">
        <%= render 'shared/alerts' %>
      </section>
    <% end %>
    <!-- don't render application container as you do for the other pages -->
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
