<%= content_for(:page) do %>
  <%# don't render container as you do for most other pages %>
  <div class="<%= home_class %>">
    <% if flash.any? %>
      <section class="alerts">
        <%= render 'shared/page/flash' %>
      </section>
    <% end %>
    <%= yield %>
  </div>
<% end %>
<%= render template: 'layouts/page' %>
