<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <%= render 'shared/nav' %>
    <section class="home alerts">

    <%= render 'shared/alerts' %>
  </section>
    <!-- don't render application container as you do for the other pages -->
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>