<%= content_for(:page) do %>
  <%# don't render application container as you do for the other pages %>
  <div class="<%= home_class %>">
    <%= render 'shared/page/flash' %>
    <%= yield %>
  </div>
<% end %>
<%= render template: 'layouts/page' %>
