<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag 'application_mailer', media: 'all' %>
    <style>
      .bg-esdark { background-color: <%= Colours.dark %>; }
      .bg-header-dark { background-color: <%= Colours.header_dark %>; }
      .body { color: <%= Colours.blue_dark %>; }
      a { color: <%= Colours.blue_dark %>; text-decoration: underline; }
    </style>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="row mt-2">
            <div class="col-12 bg-esdark">
              <%= link_to root_url do %>
                <%= image_tag "navigation-brand-transparent-#{I18n.locale}.png", class: 'py-4 ax-center h-10' %>
              <% end %>
            </div>
          </div>
          <div class="row">
             <div class="col-12 bg-header-dark">
               <h4 class="ax-center text-white my-2"><%= @title %></h4>
            </div>
          </div>
          <div class="row mt-4 mb-4">
            <div class="col-12">
              <%= yield %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 bg-esdark">
               <div class="ax-center mt-2 text-white fw-700"><%= t(:get_in_touch, scope: [:mailer]) %></div>
               <div class="ax-center mt-0"><a href="mailto:support@energysparks.uk" class="text-sm text-white">support@energysparks.uk</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 bg-esdark">
              <div class="stack-row ax-center my-2">
                <a href="https://www.linkedin.com/company/energy-sparks/"><%= image_tag 'email/fa-linkedin.png' %></a>
                <a href="https://x.com/EnergySparks"><%= image_tag 'email/fa-x-twitter.png' %></a>
                <a href="https://www.instagram.com/energysparksuk/"><%= image_tag 'email/fa-instagram.png' %></a>
                <a href="https://www.facebook.com/EnergySparksUK/"><%= image_tag 'email/fa-facebook-square.png' %></a>
                <a href="https://github.com/energy-sparks/energy-sparks"><%= image_tag 'email/fa-github.png' %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
   </div>
  </body>
</html>
