<%= content_for(:application) do %>
  <% if content_for?(:nav) %>
    <div class="row mt-2">
      <div id="page-navigation" class="col-md-3 col-lg-3 col-xl-2">
        <%= yield :nav %>
      </div>
      <div id="page-body" class="col-md-9 col-lg-9 col-xl-10">
        <%= yield %>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>
<%= render template: 'layouts/application' %>
