<h1><%= t('schools.timeline.title') %></h1>

<ul class="nav nav-pills mb-3">
  <% @active_academic_years.each do |academic_year| %>
    <li class="nav-item">
      <%= link_to academic_year.title,
                  school_timeline_path(@school, academic_year: academic_year),
                  class: "nav-link #{'active' if academic_year == @academic_year}" %>
    </li>
  <% end %>
</ul>

<% if @observations.empty? %>
  <h3><%= t('schools.timeline.no_events') %></h3>
<% else %>
  <div class="row justify-content-md-center">
    <div class="col col-md-10">
      <%= render TimelineComponent.new(
            observations: @observations,
            user: current_user,
            observation_style: :default,
            show_header: false,
            show_actions: true,
            show_date: true
          ) do |timeline| %>
            <% timeline.with_link do %>
              <p>
                <%= link_to school_timeline_path(@school), class: 'btn btn-default' do %>
                  <%= t('activities.show.all_activities') %>
                <% end %>
              </p>
            <% end %>
      <% end %>
    </div>
  </div>
<% end %>
