<div class='text-right mt-2'>
  <%= download_link(report, table_name, index_params) %>
</div>

<table id="<%= comparison_table_id(report, table_name) %>" class="table advice-table table-sorted">
  <thead>
    <tr>
      <th><%= t('analytics.benchmarking.configuration.column_headings.school') %></th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.size_kwp') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.payback_years') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.reduction_in_mains_consumption_pct') %>
      </th>
      <th class="text-right">
        <%= t('analytics.benchmarking.configuration.column_headings.saving_optimal_panels') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |row| %>
      <tr>
        <td>
          <%= link_to row.school.name,
                      advice_page_path(row.school, advice_page, :insights) %>
          <% if row.electricity_economic_tariff_changed_this_year %>
            <a href="#electricity_economic_tariff_changed_this_year">[t]</a>
          <% end %>
        </td>
        <td class="text-right">
          <%= format_unit(row.optimum_kwp, :kwp, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(row.optimum_payback_years, :years, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(row.optimum_mains_reduction_percent, :percent, true, :benchmark) %>
        </td>
        <td class="text-right">
          <%= format_unit(row.one_year_saving_gbpcurrent, :£current, true, :benchmark) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <p>
          <strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong>
        </p>
        <a name="electricity_economic_tariff_changed_this_year">[t]</a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
        <%= t('analytics.benchmarking.configuration.column_heading_explanation.last_year_definition_html') %>
      </td>
    </tr>
  </tfoot>
</table>
