<fieldset>
  <div class="form-row">
    <div class="col-lg-6 form-group">
      <%= temperature_form.label :centigrade, temperature_form.object.location.name, required: false, class: 'h2 mt-4'%>
      <%= temperature_form.hidden_field :location_id, value: temperature_form.object.location.id %>
    </div>

    <div class="col-lg-3 form-group">
      <%= temperature_form.input :centigrade, as: :number, required: false, label: "Temperature" do %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= fa_icon('temperature-high') %></span>
          </div>
          <%= temperature_form.input_field :centigrade, maxlength: 2, min: 0, max: 50, class: "form-control form-control-lg temperature" %>
          <div class="input-group-append">
            <span class="input-group-text">&deg; C</span>
          </div>
        </div>
      <% end %>
      <% if temperature_form.index.zero? %>
        <small class='form-text text-muted'>Enter the temperature in centigrade as a single number between 0 and 50.</small>
      <% end %>
    </div>
  </div>
</fieldset>
