<h1>Record your school's temperatures</h1>

<h3>Enter temperatures</h3>
<p>Leave any rooms or locations that you don't have readings for blank</p>
<%= simple_form_for([@school, @observation], url: school_temperature_observations_path(@school)) do |f| %>
  <%= f.input :at, as: :tempus_dominus_date_time, default_date_time: Time.now, input_html: { class: "form-control form-control-lg", data: { max_date_time: h(Time.now.httpdate) }} %>
  <%= f.fields_for :temperature_recordings do |temperature_form| %>
    <%= render 'temperature_recording_fields', temperature_form: temperature_form %>
  <% end %>

  <%= f.submit 'Create temperature recordings', class: 'btn btn-success' %>
<% end %>
