<h1><%= t('schools.temperature_observations.show.observations_for') %> <%= nice_date_times @observation.at %></h1>

<% @observation.temperature_recordings.each do |temperature_recording| %>
  <%= temperature_recording.centigrade %> <%= temperature_recording.location.name %>
<% end %>

<p><%= link_to t('schools.temperature_observations.show.observations'), school_temperature_observations_path(@school), class: 'btn btn-secondary' %></p>
